[2022-04-05 10:21] jmeg-sfy commented on #14406
TC-WNCV-2.3] Mode Attribute with server as DUT - Needs an SDK implementation

[2022-04-05 11:41] #17010 closed

[2022-04-05 12:30] PSONALl commented on #16561
@sowmyassp can you share the ESP-IDF commit id, you are using?

[2022-04-05 12:52] sowmyassp opened #17053 "Receiving unwanted error message in multi-admin of ECM test-cases"
**Issue**:

- Receiving unwanted error message in multi-admin of ECM test-cases
"Commissioning discovery over BLE failed: ../../third_party/connectedhomeip/src/platform/Linux/BLEManagerImpl.cpp:830: CHIP Error 0x00000032: Timeout"

- When we tried to commissioning TH2 to DUT after successful commissioning TH1 to DUT we are facing above issue which is unnecessary because all the commissioning flow

[2022-04-05 13:14] vivien-apple commented on #15776
Well if you read the log attentively you can see that those lines:
[code]

Basically it states that the device does not support `WiFi`, so it makes sense that passing over `wifi` credentials does not work.

[2022-04-05 13:19] vivien-apple commented on #15776
"Scenario -2 : With ethernet, it is commissioned with a particular endpoint (eg: 0) but when we execute the attributes for that endpoint, we get the response as 0xc3-Unsupported Cluster."

Is it expected that this device has a "Door Lock" cluster onto endpoint "0" ? If it works on "1" it just seems correct to me.

[2022-04-05 13:22] ReneJosefsen commented on #13303
This seems to have been fixed in macOS 12.3 (and 12.3.1) so should we close this issue?

@nicolabortignon

[2022-04-05 13:29] vivien-apple commented on #12144
I suspect that the PCC code is not implemented. Looking into https://github.com/project-chip/connectedhomeip/blob/master/src/app/clusters/pump-configuration-and-control-server/pump-configuration-and-control-server.cpp it just seems to do nothing.

Is the intended behaviour for it is to be implemented on a per-vendor basis ? (That would not be surprising).

[2022-04-05 13:33] Survensa commented on #15776
@vivien-apple Door lock works fine with `wifi` but only after a workaround in `main.cpp` file.

Expectation : Chiptool must have this fix default for doorlock

Pairing log after " main.cpp" workaround :

[code]

[2022-04-05 13:49] somu1710 commented on #16829
![Uploading ap.png…]()

[2022-04-05 13:54] bzbarsky-apple opened #17056 "m5stack panics when trying to commission it into a second fabric"
#### Problem
<details>
<summary>I am getting an assertion failure and panic with this stack:</summary>

[code]

</details>

when I do the following steps:
1. Flash Matter rev 7ab6653ec47bf0e45ec4307b43f5189cc326cca9 on an m5stack.
2. Install iOS CHIPTool from that same rev on two different iPhones.
3. Scan the QR code for the m5stack on iPhone 1, commission it.
4. Go into the "Enable Pairing" scre

[2022-04-05 13:59] bzbarsky-apple commented on #17056
@jadhavrohit924 it looks like you added this code in #16483.  Could you take a look, please?

[2022-04-05 14:07] bzbarsky-apple commented on #17056
OK, this has nothing to do with the iOS CHIPTool.  Steps to reproduce using the command-line chip-tool:

1. Flash the m5stack (I used Matter rev fae3888d4baadd8d3b598e13e6c01b06c0180e97 which is current ToT).
2. `scripts/examples/gn_build_example.sh examples/chip-tool out/debug/standalone/`
3. `./out/debug/standalone/chip-tool pairing ble-wifi  17 ssid password 20202021 3840`
4. `./out/debug/stand

[2022-04-05 14:18] bzbarsky-apple commented on #17056
Fixing this _may_ fix #17027

[2022-04-05 14:47] bzbarsky-apple opened #17058 "Add support for hwadr type in codegen"
#### Problem
When trying to use hwadr for the `ExtendedAddress` field of `ThreadInterfaceScanResult` I get:
[code]

This is presumably because `handleString` returns false for it.

 #### Proposed Solution
Figure out a sane way to handle types derived from OCTET_STRING.

@vivien-apple

[2022-04-05 14:52] bzbarsky-apple opened #17060 "Fix handling of 0-length SSID in ScanNetworks"
The driver interface is not documented very well, so the implementations of it differ in how they handle the SSID.  For example, `src/platform/Ameba/NetworkCommissioningWiFiDriver.cpp` checks `ssid.data()` to decide whether we're doing a single-ssid scan or general scan, while `src/platform/EFR32/NetworkCommissioningWiFiDriver.cpp` checks `ssid.size()`.  If we checked the size in the caller and en

[2022-04-05 15:07] bzbarsky-apple commented on #13303
This is resolved in macOS 12.3.

[2022-04-05 15:07] #13303 closed

[2022-04-05 15:28] bzbarsky-apple commented on #17060
If we want that behavior, we can implement that too (need to sort out what the actual spec behavior here is).  But that decision should be made in one place: in the cluster.

[2022-04-05 15:42] jadhavrohit924 commented on #17056
Sure, I'll look into it.

[2022-04-05 15:43] bauerschwan commented on #16008
closing this issue because it is implemented

[2022-04-05 15:43] #16008 closed

[2022-04-05 16:09] kean-apple commented on #17027
Tried the following scenario with SHA 1fb5900175f29acea972a4ce955c30edd8c6e88d
1. Paired with CHIPTool CLI running on Mac
2. Enable commissioning window on CHIPTool CLI
3. Use iOS chiptool, enter code provided from CHIPTool CLI -> do not see any pairing attempt on M5 board

[CHIPtool-CLI_attempt-to-add-2nd-fabric.txt](https://github.com/project-chip/connectedhomeip/files/8419947/CHIPtool-CLI_attem

[2022-04-05 17:15] #16765 closed

[2022-04-05 17:15] #16986 closed

[2022-04-05 17:18] bzbarsky-apple commented on #16818
Within the scope of a given root public key.

The screenshow above shows both fabrics have fabric id 1 but different root public keys, so this is all fine.

[2022-04-05 17:18] #16818 closed

[2022-04-05 17:35] andy31415 commented on #16837
@AntonGrey could you validate that #17074 fixes your issue as well? I believe the bug is that parsing succeeds at all (it reaches into IPAddress class internals).

[2022-04-05 18:06] mrjerryjohns commented on #16797
We should push this computation to a lower layer such that higher-level protocols like the IM don't have to be overly coupled.

[2022-04-05 18:07] bzbarsky-apple commented on #17053
But fundamentally, I expect the issue is that `SetUpCodePairer::StopConnectOverBle` gets called, which does:
[code]
That lands in `BleLayer::CancelBleIncompleteConnection` which does:
[code]
and based on my assumption baed on the log above that the commissioner is running on Linux, that lands in the Linux `BLEManagerImpl::CancelConnection` which does:
[code]

So first question.  Is there a "BleCon

[2022-04-05 18:30] AntonGrey commented on #16837
I confirm, #17074 fixes my issue. Thank you.

[2022-04-05 18:30] #16837 closed

[2022-04-05 18:35] phonnakasturi-apple commented on #17027
Attaching the iOS logs and M5 stack logs for chip tool app 2 failing to pair.

[iosLogs.txt](https://github.com/project-chip/connectedhomeip/files/8420945/iosLogs.txt)
[M5 stack logs.txt](https://github.com/project-chip/connectedhomeip/files/8420946/M5.stack.logs.txt)

[2022-04-05 19:07] bzbarsky-apple commented on #17060
Spec decision seems to be that the spec here should allow lengths 0-32, and 0 should be treated the same as null.

[2022-04-05 19:07] bzbarsky-apple commented on #16552
That's an UNSUPPORTED_CLUSTER response.  Is the cluster involved actually enabled in the server you are trying to read from @manjunathambiger23 ?

[2022-04-05 19:10] bzbarsky-apple commented on #16550
@manjunathambiger23 Sure, it's still not marked nullable.  Please talk to the pump configuration folks....

[2022-04-05 19:12] bzbarsky-apple commented on #16759
@mspang Any idea what should be happening here on the `gn` end?

[2022-04-05 19:13] bzbarsky-apple commented on #16892
@RudyGOGOGO Sorry, I have no idea about the build system bits here, just who might know....

[2022-04-05 20:02] mrjerryjohns opened #17080 "Move clusters out of `general.xml` into their own Matter-specific definitions"
#### Problem

We have a bunch of clusters defined in `general.xml` that are a hold-over from the legacy Zigbee definitions. We should split them up by cluster into their own XML files and add them to the existing set in `data-model/chip/`.

[2022-04-05 21:08] andy31415 commented on #16897
This needs fixing in the vscode image: we need chip-build-vscode to be able to compile all builds out of the box, right now it does not:

[code]

[2022-04-05 21:14] andy31415 commented on #16897
It looks like this is related to ARM specifically - our images compile for x64 but not for arm build cross-compiles.

I will for now add a noglob and will see about what needs to be done to add libreadline to the arm sysroot.

[2022-04-05 22:29] andy31415 commented on #16897
created #17084 for the glob bit. The build requirements and arm sysroot will have to be done separately (hoping to get time soon ... but it is somewhat tedious).

[2022-04-06 01:13] #16995 closed

[2022-04-06 01:35] erjiaqing opened #17085 "Reduce the memory usage of ReadHandler"
#### Problem
We need at least 16 (3 + 1 per fabric, and CHIP_CONFIG_MAX_FABRICS is configured to 4) ReadHandler-s on a device, current size of ReadHandler is around 280B * 16 = 4480, which is unaffordable on some devices.

 #### Proposed Solution
Find some way to reduce the size of ReadHandler.

[2022-04-06 01:37] #14126 closed

[2022-04-06 03:48] RudyGOGOGO commented on #16897
@andy31415 I see you mentioned the cross-compile in your comment.
I am working on cross compiling the [ChipTool](https://github.com/project-chip/connectedhomeip/tree/master/examples/chip-tool) for OpenWrt, I get the OpenWrt Cross Compiling Environment ready, however, I could not find an easy way to modify the [BUILD.GN](https://github.com/project-chip/connectedhomeip/blob/master/examples/chip-tool

[2022-04-06 03:54] #16410 closed

[2022-04-06 04:33] RudyGOGOGO commented on #16892
@bzbarsky-apple Thanks for your reply! To be honest, you really helped me A LOTTTT! I feel so lucky(also guilty) to ping you since the first issue I raised, without your quick response, I cannot even make progress for the device commissioning.

I will keep this issue open, and maybe @xylophone21 @tdrozdovsky @mspang @shana-apple would like to provide some insight.

[2022-04-06 04:47] yufengwangca opened #17088 "We should move DeviceInfoProviderImpl away from PlatformManagerImpl and make Server have a reference to it"
#### Problem
DeviceInfoProviderImpl is used in a way that is very hidden. I didn't even know it existed until today. This is not a platform item, it is a per-product item. We should move this away from PlatformManagerImpl and make Server have a reference to it, so that eventually we can init the UserLabel clutser to use the DeviceInfoProvider rather than these deep hidden singletons

 #### Propose

[2022-04-06 04:54] kvikrambhat opened #17089 "User prompts fail to build on darwin."
Darwin build on the CI seems to fail for test when user prompts are added for steps that need user input, attaching logs for github actions.

[darwin-userprompt-error.txt](https://github.com/project-chip/connectedhomeip/files/8423721/darwin-userprompt-error.txt)

[2022-04-06 05:37] sowmyassp commented on #17053
Commit used is - 41a431dcc7c123699818636afd01b57412a6f3a4
For the above question yes we get "BleConnectionDelegate::CancelConnection is not implemented." error log much earlier in the log.

[2022-04-06 06:15] bzbarsky-apple commented on #17053
Alright, that's the issue then: Linux does not implement canceling the BLE connection once we know we don't need it anymore, and eventually it times out and logs an error on timeout....

[2022-04-06 07:10] caipiblack commented on #16178
@RudyGOGOGO :

Two options:

1. Use a CMake project, and in this CMake use `ExternalProject_Add()` to run GN and then to run Ninja. (I'm not using this method because we also have to execute "scripts/activate.sh" before.
2. Build the Matter libraries and tools externaly using the Yocto/OpenWRT toolchain, here is an example:

[code]

_Forget about the G_SOURCE_FUNC macro, this is because I am not u

[2022-04-06 07:18] sowmyassp commented on #17053
Then can we say this test-case is pass or its an major issue??

[2022-04-06 07:18] eve-cxrp commented on #16213
related issue with more infos: https://github.com/CHIP-Specifications/chip-certification-tool/issues/324

[2022-04-06 07:18] caipiblack commented on #16213
Any news about this problem ?

_It is known issue since TE5 (and possibly more)_

@eve-cxrp : Which Bluetooth dongle was you using ?

I am using nRF52840 with USB<>HCI firmware.

I don't know if the problem is Bluez, Hardware or Matter.

- For people using chip-tool it's probably "ok" because after every request chip-tool restart and sometimes it works.
- For people using the stack, on TE8 tag if

[2022-04-06 08:10] xufangbo opened #17096 "build failed in ubuntu"
Problem
-------------------------------------
build error log
[code]

Proposed Solution
-------------------------------------
edit file  {chip_home}/docs/guides/BUILDING.md，and add libreadline-dev to line
[code]

[2022-04-06 10:05] xylophone21 commented on #16759
But do you know why it works well on M1 one week ago?

[2022-04-06 10:06] xylophone21 commented on #16759
But do you know why it works well on M1 one week ago?

[2022-04-06 10:44] ReneJosefsen commented on #16759
Not sure, I seem to remember that homebrew was updated at some point during this process, somy setup might have changed from having the the x86_64 variant of openssl to the the arm64 version.

To be honest, I do not know why this suddenly broke, but I was not able to go back to older commits, which I know has worked previously. So I strongly assume this is something that changed in my setup and no

[2022-04-06 11:06] xylophone21 commented on #16759
FYI,
a20ba1ca134c2a142ba4fab78e711a64cff39533 this commit works well on M1
and when I update to 7dede20cac3e70302bede4edbaa411e5418dc5ac,  seems bootstrap.sh system upgraded, so I got below erros

[code]

then I remove .environment folder and bootstrap.sh again, I got this issue

[2022-04-06 11:12] ReneJosefsen commented on #16759
Sounds very familiar. We had two MacBooks which also reported an issue on pigweed and the solution we ended up with was also to remove the .enviroment folder and re-bootstrap, so maybe there is some changes in the bootstraping process that is now causing issues with Apple Silicon?

Actually https://github.com/project-chip/connectedhomeip/commit/a20ba1ca134c2a142ba4fab78e711a64cff39533 was also one

[2022-04-06 11:19] xylophone21 commented on #16759
No, I have two workspaces, but the old commit id does not work also now with below errors. And I am re-bootstrap that now

[code]

[2022-04-06 11:43] sowmyassp opened #17100 "After timeout of TH1 when I tried to commission TH2 I am not getting any error log"
-  **Issue** : After commissioning of TH1 with DUT and then open a commissioning window in TH1 after timeout we should commissioning TH2 with DUT where I should receive "PASESession timed out while waiting for a response from the peer" instead I got " Run command failure: ../../commands/common/CHIPCommand.cpp:365: CHIP Error 0x00000032: Timeout"

- **Expected behaviour** :  PASESession timed out w

[2022-04-06 12:02] Sivaramgrl opened #17101 "In AttributeList of NetworkCommissioning the List holds the global attributes also which is not expected"
#### **Problem**
As per specification 11.8.7 section, the attribute list must hold only 8 entries. But in the Chip-tool we have 13 entries

 ### * expected behaviour:
The AttributeList must have only 8 entries.

 ### * actual behaviour:
The AttributeList has 13 entries.

###  *Logs:

[1649245672.406545][30485:30490] CHIP:TOO: Endpoint: 0 Cluster: 0x0000_0031 Attribute 0x0000_FFFB DataVersion: 2702

[2022-04-06 12:20] Sivaramgrl opened #17104 "AcceptedCommandList in Network commissioning need to have 6 entries but in Chip tool it's 7"
#### Problem
AcceptedCommandList must have only 6 entries but chip-tool has 7 entries.
5 ( NetworkConfigResponse) is not an AcceptedCommand. So it needs to be removed from the list

###  expected behavior
AcceptedCommandList with 6 entries

###  actual behaviour
AcceptedCommandList with 7 entries

### Logs:

[1649246854.191602][30544:30549] CHIP:TOO: Endpoint: 0 Cluster: 0x0000_0031 Attribute 0x00

[2022-04-06 12:29] Sivaramgrl opened #17105 "GeneratedCommandList in Network commissioning has only 2 entries but it needs to be 3 entries"
#### Problem
GeneratedCommandList in Network commissioning has only 2 entries but it needs to be 3 entries

###  expected behaviour
 GeneratedCommandList must have 3 entries

###  actual behaviour
 GeneratedCommandList has only 2 entries

### Logs:

[1649247818.486052][30592:30597] CHIP:TOO: Endpoint: 0 Cluster: 0x0000_0031 Attribute 0x0000_FFF8 DataVersion: 2702518944
[1649247818.486136][30592:30

[2022-04-06 12:44] Sivaramgrl commented on #15775
### Issue fixed:
( based on Date:   Thu Mar 31 22:52:05 2022 -0700 commitid - 7d415becb90ce60ea3c70d47e2f9cf7e1c7e0632)
The issue is fixed. Now the value in WiFi for Feature-map is 1.

### Log:
[1649248944.700168][30652:30657] CHIP:TOO: Endpoint: 0 Cluster: 0x0000_0031 Attribute 0x0000_FFFC DataVersion: 2702518944
[1649248944.700252][30652:30657] CHIP:TOO:   FeatureMap: 1
[1649248944.700345][30652

[2022-04-06 12:44] #15775 closed

[2022-04-06 12:55] wqx6 commented on #16561
@sowmyassp Please use [ESP-IDF v4.4](https://github.com/espressif/esp-idf/tree/v4.4) for ESP32/ESP32C3. we now only use IDF v5.0-dev(current master branch) for ESP32H2.

[2022-04-06 12:59] Sivaramgrl opened #17106 "Networks attribute in Network commissioning has a list without connected status as TRUE even after commissioning"
#### Problem
Networks attribute in Network commissioning has a list without connected status as TRUE even after commissioning

###  expected behaviour
After the commissioning the Networks attribute list need to have one entry with Connected status as TRUE

###  actual behaviour
After the commissioning the Networks attribute list has no entry with connected status as TRUE

### Logs:

[1649249212.07

[2022-04-06 13:05] Sivaramgrl commented on #17106
FYI, the InterfaceEnaled attribute has a value TRUE.

### LOGS:
ubuntu@ubuntu:~/sethu-apr1/connectedhomeip/examples/chip-tool/out/debug$ ./chip-tool networkcommissioning read interface-enabled 1 0

[1649250241.092686][30726:30731] CHIP:TOO: Endpoint: 0 Cluster: 0x0000_0031 Attribute 0x0000_0004 DataVersion: 2702518944
[1649250241.092744][30726:30731] CHIP:TOO:   InterfaceEnabled: TRUE
[1649250241.

[2022-04-06 13:06] somu1710 commented on #16007
still we are facing the same issue after reboot of dut again we have to repair and execute the command it shows a different value for the CurrentPositionLiftPercent100ths and CurrentPositionTiltPercent100ths .

expected behavior - currentLiftValB == currentLiftValA , 9000=9000
actual behavior - currentLiftValB is not equal to currentLiftValA. ValA = 9000 and ValB = 500

Before reboot - 9000
After

[2022-04-06 13:16] somu1710 opened #17108 "Windowcovering testcase [TC-WNCV-4.5] - Result is not matched with the expected outcome due to DUT action missing"
Problem

1.  SDK needs to implement dut action to soft reboot the DUT.If we reboot the dut it needs to repair again to verify the commands

2. In window covering test case [TC-WNCV-4.5] - While executing the commands result is not matched with the expected outcome after the reboot of DUT. Execution of CurrentPositionLiftPercent100ths and CurrentPositionTiltPercent100ths we have to reboot and resta

[2022-04-06 14:22] bzbarsky-apple opened #17112 "Pump Control and Configuration ControlMode and OperationMode should have min/max specified in XML"
#### Problem
We don't do range checks on sets to these attributes.

 #### Proposed Solution
We should be doing range checks, but that requires the valid range to be specified in the XML.

@tlykkeberg-grundfos @mgarb1

[2022-04-06 15:24] krypton36 opened #17117 "Rename app1 and app1 based on the profile."
#### Problem
example/placeholder/app1 and example/placeholder/app2 do not indicate the purpose of the apps. We need to rename them based on the profile they have. App1 is the all clusters version of a simulated device so this should be name simulated-app-all-clusters.

[2022-04-06 15:35] tcarmelveilleux opened #17118 "SDK has tons of OpenWeave-based dead configs"
#### Problem
- 2 years ago, when OpenWeave was imported as a baseline, its config.h system was included verbatim. Since then, 90%+ of the code has been rewritten at the message layer. Many of the config constants are orphaned and confusing. This is made worse by the fact that "weave" was globally replaced with "chip" at the time to smooth things over, which lost some of the pedigree.

 #### Propos

[2022-04-06 17:40] mlepage-google commented on #17080
There's also `ha.xml` at least. Not sure where else clusters live. I think we should have one place to find them, bring them all together and bind them. (Possibly with sub organization of course.)

[2022-04-06 17:43] bzbarsky-apple commented on #16146
The server is sending an invalid response: a valid response to an IdentifyQuery is either a failure status or an IdentifyQueryResponse command, but the server sends a success status.

Regular chip-tool logs the response and does no validation.

chip-tool-darwin tries to actually parse the response as the intended response type, which fails, and it logs that failure.

What exactly is the problem, a

[2022-04-06 17:55] bzbarsky-apple opened #17133 "Implementation of IdentifyQuery can respond with a success status for a command that expects a data response"
#### Problem
See https://github.com/CHIP-Specifications/connectedhomeip-spec/issues/5094 for the spec end of this.

The implementation of `emberAfIdentifyClusterIdentifyQueryCallback` will send a success status response if `identifyTime` is 0.  This then ends up failing to be parsed by clients, because per IM that's not a valid response to the IdentifyQuery command.

 #### Proposed Solution
Sort o

[2022-04-06 17:56] bzbarsky-apple commented on #16146
Filed https://github.com/project-chip/connectedhomeip/issues/17133 on the server behavior.

[2022-04-06 18:51] caubut-charter commented on #16124
No longer having this issue.

[2022-04-06 18:51] #16124 closed

[2022-04-06 18:52] bzbarsky-apple commented on #17053
Testcase is passing as long as the device ends up commissioned and the client exists with a success status, I would think.  The logging along the way doesn't really matter.

[2022-04-06 19:40] mlepage-google commented on #14419
I think after #17115 and #17134 PRs it's really only the **pump control and configuration cluster** that needs updating; that one's waiting for a small spec change regarding the privileges (which currently require manage for read as well as write, but probably will be updated to only require manage for read).

[2022-04-06 20:39] Garik098 opened #17148 "TE9 Chip-tool-Darwin Multifabric testing: Optional parameters of [--timedInteractionTimeoutMs] [--fabric-filtered] needs to be supported"
In all of the Multifabric tests (ECM and BCM), in chip-tool-darwin, support is needed for optional parameters,  [--timedInteractionTimeoutMs] [--fabric-filtered]
Chip-tool currently supports these optional parameters but chip-tool-darwin doesn't. Below is the image of chip-tool vs chip-tool-darwin
<img width="1159" alt="Screen Shot 2022-04-06 at 1 39 33 PM" src="https://user-images.githubuserconte

[2022-04-06 21:05] yunhanw-google commented on #16243
When further thinking about the implementation, for 4.  wildcard attribute path, it seems to include wildcard endpointId, wildcard clusterId, we need to expand it to cluster instances, however, in client side, we don't have ember so we don't know emberAfEndpointCount and cannot do such expanding.

[2022-04-06 21:14] emargolis commented on #16747
Addressed by #16900

[2022-04-06 21:14] #16747 closed

[2022-04-06 21:43] krypton36 commented on #16584
@Garik098 I don't see those responses in chip tool see log below:
[code]

[2022-04-06 22:50] Garik098 opened #17151 "TC-IDM-6.4 chip tool Darwin testing: Subscribe-Events support needed to perform the steps"
As per step 1 description in TC-IDM-6.4, chip-tool-darwin should have support to do subscribe event.
<img width="1058" alt="Screen Shot 2022-03-23 at 1 03 58 PM" src="https://user-images.githubusercontent.com/34750871/159786074-1e5c91af-af53-48fb-940d-039680a7ee48.png">

Below is the example for basic cluster for chip-tool vs chip-tool-darwin. The subscribe event commands are needed to execute thi

[2022-04-06 22:51] Garik098 commented on #16584
After discussion on getting more clarity on the test step and the way to perform it, closing this ticket and opening new ticket https://github.com/project-chip/connectedhomeip/issues/17151

[2022-04-06 22:51] #16584 closed

[2022-04-07 00:26] bzbarsky-apple opened #17153 "Address review comments from PR 16741"
#### Problem
https://github.com/project-chip/connectedhomeip/pull/16741 merged before I finished reviewing it.  Post-landing review comments are at https://github.com/project-chip/connectedhomeip/pull/16741#pullrequestreview-934224382

Main items:

* [ ] The storage situation is a bit odd: we are storing fabric-specific state in global across-fabrics buckets, and using the wrong naming for keys to

[2022-04-07 00:29] #16630 closed

[2022-04-07 00:29] #16681 closed

[2022-04-07 01:31] #12418 closed

[2022-04-07 01:31] #16686 closed

[2022-04-07 01:41] #16734 closed

[2022-04-07 03:29] Lee6804 commented on #8934
@woody-apple Hello, I installed ninja and gn, why does it still report this error when running?

[2022-04-07 05:11] Rajashreekalmane commented on #15251
Same issue facing in Application Launcher Cluster.

Command used in chip-controller:
 ./chip-tool applicationlauncher launch-app '{"catalogVendorId": 123, "applicationId": "exampleid"}' 1 1

PFA DUT screenshot below:-
![image](https://user-images.githubusercontent.com/95841834/162124695-073add96-b9fb-4aac-ab68-e22971f19c9e.png)

[2022-04-07 05:22] sowmyassp opened #17159 "Printing 2 different QR codes in logs when we launch all-clusters-app"
**Issue** :

- Printing 2 different QR codes in logs when we launch all-clusters-app, so not sure which QR code we need to use for execution of test-cases.
- Printing 2 Device Configuration in logs.

**Test platform** :
Chip-tool - RPI
DUT - RPI

**Screenshot** :
![image](https://user-images.githubusercontent.com/90545664/162125878-8cfb60c5-ebc5-4d13-9347-5c5a80498980.png)

[2022-04-07 05:57] Sivaramgrl opened #17160 "Networks attribute in Networking commissioning List entry is 0 even after the commission which is not expected"
#### Problem
After Commissioning the Networks attribute list must have at least 1 entry, but in the Chip-tool the output is 0 entries. When the TH and DUT are commissioned with ET.
###   expected behavior
The Networks attribute list must get updated when commissioned with an ET
###  actual behavior
The Networks attribute list is not getting updated when TH and DUT are commissioned with ET.

###  L

[2022-04-07 07:37] ghost opened #17161 "Attributes missing from Simulated tests"
Summary:
              There are 72 non global attributes in Thermostat cluster but only 16 are supported when executed getting build error showing that attributes are missing.
YAML file:
[Test_TC_TSTAT_3_1_Simulated.zip](https://github.com/project-chip/connectedhomeip/files/8440660/Test_TC_TSTAT_3_1_Simulated.zip)

Spec screenshot:
![image](https://user-images.githubusercontent.com/84442963/16214

[2022-04-07 07:47] sowmyassp opened #17162 "[TC-MF-1.17] [TC-MF-1.18] - Removable of fabric that is when we send remove-fabric command in chip-tool of TH2 makes DUT abort."
- Issue :

[TC-MF-1.17] [TC-MF-1.18], Step 8 of test-plan for the mentioned test-cases says to remove fabric in TH2 which  makes DUT abort.

Test-plan reference : https://github.com/CHIP-Specifications/chip-test-plans/blob/master/src/multiplefabrics.adoc#tc-mf-1-17-removing-fabrics-from-dut-and-fabric-index-enumeration-using-ecm-dut-commissionee

Test platform :
Chip-tool - RPI/MAC
DUT - RPI

- St

[2022-04-07 09:04] tlykkeberg-grundfos commented on #17112
Hi @bzbarsky-apple I have been looking into this on ToT and I find the following in the `pump-configuration-and-control.cluster.xml` file:

[code]
I'm not quite sure what you mean in this context? The `min` and `max` values are specified in the attribute definition in the XML.

[2022-04-07 10:29] sowmyassp opened #17164 "Pairing of ESP32 with chip-tool on linux platform is failing"
**Issue** :
        Pairing ESP32 with chip-tool failing on Linux platform but successfully pairing on MAC with commit (1fb5900175f29acea972a4ce955c30edd8c6e88d)

 **Expected behaviour** :
          Device commissioning completed with success

**Actual behaviour** :
          Device connection failed. Error ../../third_party/connectedhomeip/src/lib/address_resolve/AddressResolve_DefaultImpl.cpp:17

[2022-04-07 11:25] sowmyassp opened #17167 "[TC-MF-1.11] After 11th attempt of invalid passcode chip-tool is not showing any error logs"
**Issue** :
According to test-plan [TC-MF-1.11] step 3, until 20 unsuccessful invalid pass code attempts the chip-tool should throw PASE session failure, and then for  21st attempt should throw a message that can’t begin "PASE (failure at PBKDFRequest, not obtaining a PBKDFResponse)", but here after 11  unsuccessful attempts chip-tool is not showing any error logs.

**Expected behaviour** : Untill

[2022-04-07 11:44] Rajashreekalmane opened #17169 "[TC-LC-2.2]User label cluster- LabelList attribute fails to list the entries"
#### Problem
As per Test-Plan, LabelList attribute should  list the entries, currently chip-tool fails to list entries

 * expected behavior:- LabelList should list minimum 4 list entries
 * actual behavior:-0 entries

 * steps to reproduce:-  ./chip-tool userlabel read label-list 1 0

PFA log below:-
[[TC-LC-2.2].txt](https://github.com/project-chip/connectedhomeip/files/8442501/TC-LC-2.2.txt)

[2022-04-07 12:32] sowmyassp commented on #17167
For [TC_MF_1.12] After 4th attempt of invalid passcode we are not getting any error log

PFA logs :
[Uploading TC_MF_1.12.txt…]()

[2022-04-07 13:12] #17118 closed

[2022-04-07 13:23] xylophone21 commented on #16759
file .environment/cipd/packages/pigweed/gn
.environment/cipd/packages/pigweed/gn: Mach-O 64-bit executable x86_64

[2022-04-07 13:45] mlepage-google commented on #12418
Actually there's one more thing to do, and that is handle device type to endpoint resolving in Access Control. I did this a week or two ago when there was only 1 device type per endpoint, so I'll have to revisit that implementation. I can do so under the auspices of issue #14431.

[2022-04-07 13:47] mlepage-google commented on #14431
Ensure this (device type to endpoint resolving for access control targets) supports multiple device types per endpoint (issue #12418) now that such support is in.

[2022-04-07 14:36] jonsmirl opened #17177 "Please define a standard React-Native API for Matter"
90% of the work for this is already done. You just need to take the existing Android JNI library and the IOS library, package them together and define the Javascript API. The last part is what needs to come from the Matter organization -- you need to define and document the standard API for this package. You don't want every react developer making up their own API for this.

[2022-04-07 14:41] mlepage-google commented on #14431
OK looks like as part of PR #16880 @mrjerryjohns did update the **IsDeviceTypeOnEndpoint** function I created to walk the list that now exists. That should be sufficient.

[2022-04-07 14:41] #14431 closed

[2022-04-07 15:07] #14541 closed

[2022-04-07 15:46] mlepage-google commented on #14455
Also once this spec change lands, will need to expose some of this info in the cluster.

https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5070

[2022-04-07 16:05] #17089 closed

[2022-04-07 16:15] bzbarsky-apple commented on #17112
Yes, but they are specified for the full (nullable) uint8 range, not the actual valid range for the relevant enums.

[2022-04-07 16:16] #10187 closed

[2022-04-07 16:25] andy31415 opened #17182 "logic in color-control-server.cpp in ColorControlServer::computeNewHueValue needs validation"
#### Problem
During changing if/else logic, the flow seems to return 'false' much more frequently than expected, review if code logic is correct.

 #### Proposed Solution
Review and update to more 'return true' if applicable or confirm logic is correct.

[2022-04-07 17:10] mlepage-google commented on #14419
Probably should also wait for this other pump configuration-and-control-cluster.xml change to land.
PR #17181

[2022-04-07 17:13] kean-apple commented on #16961
This works when using gn gen out/debug --args='chip_mdns="platform" chip_crypto="mbedtls" chip_inet_config_enable_ipv4=false'

[2022-04-07 17:13] #16961 closed

[2022-04-07 17:29] #14088 closed

[2022-04-07 18:01] dwgaul commented on #16851
Hey @bzbarsky-apple, yes its to validate the additional steps suggested in the test plan PR mentioned above. We want to include these steps in TE9.

As for how it's implemented, I don't have an opinion either way. Whether it's a separate app or another endpoint, as long as we can facilitate testing a client attempting to read from an optional attribute that is not present on the server we should b

[2022-04-07 18:13] dwgaul commented on #16146
@bzbarsky-apple Good catch on the server aspect, I agree that should be fixed.

However, from a chip-tool-darwin perspective, are we actually crashing here? If so is there a more graceful way to handle this? Something along the lines of an "accessory out of compliance error" may help in future scenarios. Not sure how simple of an enhancement that would be for scenarios like this.

Ideally we'd nev

[2022-04-07 18:18] ukatira opened #17187 "[ota-provider-app] CLI option to send invalid BDX ImageURI"
#### Problem
Need a way to validate Requestor behavior acc to spec (Sec 11.20.3.2 Pg 697)
if the ImageURI field somehow contains information which cannot be used by the OTA Requestor, then the OTA Requestor SHALL go back to awaiting its next OTA Software Update query opportunity

 #### Proposed Solution
CLI option on ota-provider-app to send invalid BDX ImageURI

[2022-04-07 19:06] tlykkeberg-grundfos commented on #9769
Fixed in #17181

[2022-04-07 19:07] tlykkeberg-grundfos commented on #17112
Fixed in #17181

[2022-04-07 19:07] tlykkeberg-grundfos commented on #16550
Fixed in #17181

[2022-04-07 19:08] tlykkeberg-grundfos commented on #14419
Will be fixed for pump-configuration-and-control-cluster in #17181

[2022-04-07 19:13] cecille opened #17188 "Better error for unsupported PID/VID on examples"
#### Problem
If we're using DeviceAttestationCredsExample and selected PID / VID is not in the supported range, we should throw a compile-time error.

 #### Proposed Solution
re-vamp macros to throw a real #error

[2022-04-07 19:42] #16131 closed

[2022-04-07 19:43] #17056 closed

[2022-04-07 19:44] mlepage-google commented on #14419
I do see @tlykkeberg-grundfos is handling the last access definitions for pump in #17181 so I will close this issue now. Thanks!

[2022-04-07 19:44] #14419 closed

[2022-04-07 21:55] mrjerryjohns commented on #15831
So after thinking about this a bit more, I think we should pivot to a slightly different model that provides better utilization of these scant resources. The scheme I'm proposing is essentially a variation on the LRU scheme, i.e a "Contextual LRU":

1. Validate that an inbound request respects per-fabric minimas. If they do not AND we do not have any remaining space in the respective path pools, r

[2022-04-07 21:56] mrjerryjohns commented on #15831
Thanks @robszewczyk for helping with the algo above.

[2022-04-07 22:40] yufengwangca commented on #16614
This is because this attribute is not writable

 <attribute side="server" code="0x02" define="SUPPORTED_LOCALES" type="ARRAY" entryType="CHAR_STRING" length="254" writable="false" optional="false">SupportedLocales</attribute>

[2022-04-07 22:44] yufengwangca commented on #16473
This is done by #16975

[2022-04-07 22:44] #16473 closed

[2022-04-07 23:15] isiu-apple opened #17191 "Some chip errors defined in CHIPError.h have not been added to CHIPError.cpp and TestCHIPErrorStr.cpp"
#### Problem
Some chip errors defined in `CHIPError.h` have not been added to `CHIPError.cpp` and `TestCHIPErrorStr.cpp`

For example: `CHIP_ERROR_INVALID_FILE_IDENTIFIER`

 #### Proposed Solution

Need to find all chip errors defined in `CHIPError.h` that are missing this change and update the translation of error codes to strings in `CHIPError.cpp` and add them to `kTestElements[]` in `TestCHIPE

[2022-04-08 01:02] cjandhyala commented on #16614
@yufengwangca The error code we were supposed to get is "UNSUPPORTED_WRITE(0x88)" , instead we are getting "CONSTRAINT_ERROR(0x87)"

[2022-04-08 01:07] bzbarsky-apple commented on #16851
I guess one question is whether we'd also want to implement only the bare-minimum set of functionality on the clusters on endpoint 0.

That is, do we just need _an_ attribute that is optional and not present on the server, or do we want _all_ optional attributes to not be present, for all clusters including Basic Information and so on?

[2022-04-08 01:08] bzbarsky-apple commented on #16146
We are not.  We are logging the error and treating it as a failed command invocation.

I agree the logging could be more informative....  I'll take a look into that.

[2022-04-08 01:30] donny681 opened #17193 "pw: command not found"
#### Problem
When  source ./scripts/bootstrap.sh,it shows that pw: command not found

`  BOOTSTRAP! Bootstrap may take a few minutes; please be patient.

   Downloading and installing packages into local source directory:

    Setting up CIPD package manager...done (3.0s)
    Setting up Python environment.....done (5.7s)
    Setting up pw packages............skipped (0.1s)
    Setting up Host tool

[2022-04-08 02:40] bzbarsky-apple commented on #16146
Created https://github.com/project-chip/connectedhomeip/pull/17194 to improve the logging some.  Now it would say:
[code]

Not sure whether that's enough clearer...

[2022-04-08 03:55] xylophone21 commented on #16759
[code]

[2022-04-08 05:08] sowmyassp opened #17198 "[TC-MF-1.25], [TC-MF-1.26], [TC-MF-1.27], [TC-MF-1.28] : Step 5 needs to updated with valid timeout value."
**Test-cases** : [TC-MF-1.25], [TC-MF-1.26], [TC-MF-1.27], [TC-MF-1.28]

**Issue** : The above mentioned test-case needs to be updated with test-step 5 that is should change value of timeout  to valid timeout value.

**Steps to reproduce** :

- DUT side :

1. sudo rm -rf /tmp/chip_*
2. sudo ./chip-all-clusters-app --wifi

- TH side :

1. ./chip-tool pairing ble-wifi 1 zigbeehome matter123 20202021

[2022-04-08 07:19] tlykkeberg-grundfos commented on #17112
Hi @bzbarsky-apple since the pr #17181 I have introduced this into these two attributes in the XML:
[code]
Here there are min/max values and the exact enum type (instead of ENUM8). Would that be sufficient or do you see any further implementation needed for this issue to be closed?

[2022-04-08 07:28] Survensa opened #17203 "[SQA] TC-DM-4.5 & TC-DM-4.6 Current commissioning flow doesnt allow to verify error scenarios"
Issue : The command need to be executed before commissioning which is not possiable.

![Screenshot 2022-04-08 125737](https://user-images.githubusercontent.com/95559513/162385802-978ac9f8-872c-4b98-9192-62da8ead97bf.jpg)

[2022-04-08 07:29] Survensa commented on #17203
@Sivaramgrl Please look into it and add some comments.

[2022-04-08 08:12] xylophone21 commented on #16759
I think I found the reason, as the below code in pigweed shows, third_party/pigweed/repo/pw_env_setup/py/pw_env_setup/cipd_setup/wrapper.py, on M1 macos, pigweed will force download Rosetta cipd and gn. But I am not sure why
[code]

[2022-04-08 08:19] ReneJosefsen commented on #16759
Good catch!

[2022-04-08 08:34] yunhanw-google opened #17204 "AttributeCache cannot handle large list"
#### Problem
when reviewing bufferReaderCallback and AttributeCache, finding that when there is large buffered list, AttributeCache cannot use PacketBufferHandle with kMaxSecureSduLengthBytes to store that large list unless we improve PacketBufferHandle with chain or use Platform::ScopedMemoryBuffer when AttributeCache find it is list with size

[2022-04-08 08:57] #15263 closed

[2022-04-08 12:04] sowmyassp opened #17205 "[TC-DD-3.14] - DUT should terminate the commissioning process when we pass invalid QR Code, but DUT successfully completed the commissioning process."
**Issue** : According to test-plan of [TC-DD-3.12] In Step 2b its mentioned DUT should terminate the commissioning process when we pass invalid QR code generated in step 2a  but DUT successfully completed the commissioning process.

**Expected behaviour** : DUT should terminate the commissioning  mode when invalid QR code is passed

**Actual behaviour** : DUT successfully completed the commissioni

[2022-04-08 12:26] sowmyassp opened #17206 "Discriminator value doesn't match with DUT and TH"
Issue :
While launching the DUT I passed ./chip-all-clusters-app with discriminator 3841 but passing parse-setup-payload with manual code generated in DUT on TH I am getting discriminator as 3840.

Steps to reproduce :

1. sudo ./chip-all-clusters-app --wifi --discriminator 3841
![image](https://user-images.githubusercontent.com/90545664/162434955-3fe08e4d-7df1-48a2-928d-527962893ef3.png)
2../chip

[2022-04-08 12:51] xylophone21 commented on #16759
I revert all above rosetta code in pigweed and it works now. anyone can connect to google about that?

[code]

[2022-04-08 13:12] andy31415 commented on #16759
Forwarded this to pigweed team. Tagging @keir for visibility.

[2022-04-08 13:16] tcarmelveilleux opened #17208 "AddTrustedRootCertificate is missing validations from spec"
#### Problem
The following TODOs exists in AddTrustedRootCertificate handler:

[code]

Both the duplicate check and signature validation are required. Furthermore, the assumption that the root should be stored in the "gFabricBeingCommissioned" means we cannot reuse roots for multiple clients without re-adding the root (which is not required by spec)

 #### Proposed Solution

- Implement signature

[2022-04-08 13:19] tcarmelveilleux opened #17209 "Add/RemoveTrustedRootCertificate must be updated to match latest spec"
#### Problem
The `RemoveTrustedRootCertificate` handler in the SDK does not seem to work at all.

By inspecting the code, we find:

[code]

 #### Proposed Solution
Fix the logic of RemoveTrustedRootCertificate to follow spec. This is symmetrical to #17208

[2022-04-08 13:24] tcarmelveilleux commented on #7695
The trust store concepts for roots mentioned in this issue would help solve #17208 and #17209

[2022-04-08 13:45] chrisdecenzo commented on #16942
fixed

[2022-04-08 13:45] #16942 closed

[2022-04-08 14:14] tcarmelveilleux commented on #17206
@sowmyassp Can you please provide textual logs showing the entire logs leading to setup payload being given to you when you run `./chip-all-clusters-app` ?

[2022-04-08 14:19] chrisdecenzo opened #17211 "TV Casting does not work on Mac"
#### Problem
 * should be able to compile and run tv-app and tv-casting-app on Mac
 * instead, commissioning fails due to a variety of issues

 #### Proposed Solution
Fix issues on Mac

[2022-04-08 14:23] tcarmelveilleux opened #17213 "Re-alignment logic in LwIPReceiveUDPMessage() makes incorrect assumptions"
#### Problem

In `UDPEndPointImplLwIP::GetPacketInfo`, there is a check of `if (!aBuffer->EnsureReservedSize(sizeof(IPPacketInfo) + 3))` which implies desire to re-align. However, the code makes assumptions about the remaining use of the information consumed until now.

`GetPacketInfo()` returns a pointer to "loose data" before the actual payload, which is first gotten to set the info.

It is firs

[2022-04-08 16:16] sowmyassp opened #17217 "[TC-MF-1.25], [TC-MF-1.26] - Received incorrect error code in step5"
**Issue** :
./chip-tool pairing open-commissioning-window 1 1 901 1000 3840(on TH1)
When we run the above command chip-tool throws an error code as 0x85 (INVALID_COMMAND), but according to spec chip-tool need to provide cluster-specific-error code in log.

**Spec reference** : https://github.com/CHIP-Specifications/connectedhomeip-spec/blob/master/src/service_device_management/AdminCommissioningCl

[2022-04-08 16:18] bzbarsky-apple commented on #17112
#17181 fixes this, yes.  Thank you!

[2022-04-08 16:58] #17198 closed

[2022-04-08 17:04] mspang commented on #16759
We're working on it. The reason this was changed upstream in pigweed was that not all of their tools have native mac-arm64 builds yet.

In the meantime, besides reverting the bootstrap change, there are a couple of solutions (untested, I don't have an M1 device):

- Set host_cpu to arm64 manually in the args
- Install and use the amd64 openssl via brew (set PKG_CONFIG_PATH) to avoid the arch misma

[2022-04-08 17:06] mspang commented on #16759
@rgoliver Is there a roll that could be reverted here or would that cause other issues?

[2022-04-08 18:51] rgoliver commented on #16759
#16537 was the last change that updated pigweed, it was a couple weeks ago. I checked and reverting that would drop f1511cd change mentioned above, so should fix the issue. That CL provides decoding of tokenized logs for NXP, they can always roll back to build the tool in the short term so not a big issue to drop it.

The risk would be that a change went in within the past couple weeks that depend

[2022-04-08 19:00] turon opened #17220 "[sleepy] Update CRI/CRA naming per recent spec updates."
#### Problem
CRI/CRA params are in process of being updated in recent spec.

#### Proposed Solution
Use the final names: SII, SAI.

[2022-04-08 19:02] msandstedt commented on #15831
@mrjerryjohns ,

I think this can work very well, and can address concerns about efficiency and unused resources.

I'm also concerned about these cases:

* single subscriber in a fabric: should have ability to consume all path resources allocated for that fabric
* multiple subscribers in a fabric: should have ability to consume at least the per-subscription path allocation

The reason for the form

[2022-04-08 19:02] dwgaul commented on #16851
We would need all optional attributes to not be present since this test is present in all app cluster tests. Essentially it is to check that if your client claims support for a given cluster, make sure it can gracefully handle clusters that may not have optional attributes.

[2022-04-08 19:12] mrjerryjohns commented on #15831
Those suggestions make sense, will incorporate!

[2022-04-08 19:42] bzbarsky-apple opened #17221 "When the NOC for a fabric changes, we need to invalidate all CASE resumption state for the fabric."
#### Problem
There are two ways the NOC can change:

1. `UpdateNOC` command processing.
2. A controller being set up with a new NOC that does not match the one it used to have before (see `DeviceController::ProcessControllerNOCChain`.  This is the case when `mFabricInfo = params.systemState->Fabrics()->FindFabric(rootPublicKey, fabricId);` returns a non-null entry but the passed-in NOC does not ma

[2022-04-08 21:02] krypton36 commented on #16636
door-lock-server.cpp doesn't seem to implement the following functions to support this in the sample App. Even if I enable these, chip-tool test will fail with NOT_SUPPORTED
emberAfDoorLockClusterGetUserStatusCallback
emberAfDoorLockClusterSetUserStatusCallback

[2022-04-08 21:52] bzbarsky-apple commented on #16851
OK, but app clusters only, or utility clusters too?

Sounds like you want utility clusters too, which means we'd need a separate app.

[2022-04-08 23:07] kghost commented on #17221
I suggest that the safest path is saving the NoC fingerprint in the resumption state storage and comparing it to check if it is changed when loading it. In this way, we can avoid problem like power cut while removing the entry.

[2022-04-08 23:34] dwgaul commented on #16851
Was thinking originally just app clusters, but utility clusters make sense as well.

[2022-04-09 01:00] chadnorvell commented on #16759
Hey everyone, I'm on the Pigweed team and I'm the author of the change that broke things for you 🙂 I have a [fix in upstream Pigweed](https://pigweed-review.googlesource.com/c/pigweed/pigweed/+/90380) that should solve this problem once it rolls into this repo.

To give some additional context: Pigweed didn't have official support for M1 Macs prior to google/pigweed@f1511cd, because we didn't have

[2022-04-09 04:38] yunhanw-google opened #17227 "This `DataVersionFilter` should really inherit from `ConcreteClusterPath`"
This `DataVersionFilter` should really inherit from `ConcreteClusterPath`.  But ok for now, I guess.

This should be called something like `IncludesAttributesInCluster`.

_Originally posted by @bzbarsky-apple in https://github.com/project-chip/connectedhomeip/pull/16602#discussion_r846560955_

[2022-04-09 06:25] ReneJosefsen commented on #16759
Awesome, thanks for the detailed explanation. It sounds like we have a few ways to workaround the issue until the fix is included in the SDK, so maybe we should just close this issue for now? @bzbarsky-apple

[2022-04-09 06:27] xylophone21 commented on #16759
Why not a patch to fix that?

[2022-04-09 07:52] xylophone21 commented on #16759
Hi @chadnorvell   above issue, is caused by the below changes in [upstream Pigweed](https://pigweed-review.googlesource.com/c/pigweed/pigweed/+/90380), could you please revert related code? Thanks

--- a/pw_env_setup/py/pw_env_setup/cipd_setup/pigweed.json
+++ b/pw_env_setup/py/pw_env_setup/cipd_setup/pigweed.json
@@ -63,6 +63,16 @@
         "version:2@3.17.3"
       ]
     },
+    {
+      "_comm

[2022-04-11 02:34] kean-apple commented on #17027
@bzbarsky-apple Based on re-testing, Looks like c98d8710235570d264b4ee3509936f75fc9dd23a broke this behavior.

[2022-04-11 03:38] erjiaqing commented on #15831
@msandstedt I'm also thining about "Validate that an inbound request respects per-fabric minimas", What if we have 3 subscriptions with 3 paths each, then we received an incoming subscription request with 9 paths. Subscription with 9 paths does not exceeds the per fabric quota, however, it will kill all 3 existing subscriptions in the same fabric, which does not makes sense to me.

While the subsc

[2022-04-11 06:06] xylophone21 commented on #16759
Hi @keir with above patch, there are still many CI errors. Since I am not familiar with pigweed, could you please help to have a look at it? Thanks

https://github.com/project-chip/connectedhomeip/pull/17229

[2022-04-11 07:05] Lee6804 opened #17235 "iOS project is not compiling"
Package openssl was not found in the pkg-config search path.
Perhaps you should add the directory containing `openssl.pc'
to the PKG_CONFIG_PATH environment variable
No package 'openssl' found
Could not run pkg-config.

[2022-04-11 07:24] sowmyassp commented on #15134
Still facing same issue with commitID (fa5561c23d8c1f9464da8669931affbae0660f51)

[2022-04-11 10:19] lazarkov commented on #16009
@Rajashreekalmane can you please close the issue if it's no longer valid?

[2022-04-11 10:58] #16009 closed

[2022-04-11 10:59] stlevkov opened #17239 "Unable to cross-compile for 32 bit arm"
#### Problem
The project was successfully compiled for bridge and chip-tool using this commit:
commit [c2be9bcece2a7528960628f267cf9132ee7ac5fb]
   - No compilation errors

But after switching to a new:
commit [e92157a98e112326364a8475dd50324f4bbcf1d9]
   - Error compiling

 * expected behavior
No errors during compilation

 * actual behavior
error: format ‘%ld’ expects argument of type ‘long int’

[2022-04-11 11:24] dhrishi commented on #17027
@wqx6 PTAL ^

[2022-04-11 11:51] lazarkov commented on #15251
Hi @Rajashreekalmane , I'm using chip-tool and the first comamnds were not good, they written be like this:
`out/debug/standalone/chip-tool contentlauncher launch-url "exampleUrl"   '{"providerName":  "exampleName", "background": { "imageUrl": "exampleUrl", "color": "blue", "size" : {"width": 1.0, "height": 1.0,  "metric": 0} }}' 1 1`

`out/debug/standalone/chip-tool contentlauncher launch-content

[2022-04-11 12:22] #16424 closed

[2022-04-11 12:29] wqx6 commented on #17027
Looks like the platform mDNS of ESP32 has some issues. Can you test again enabling minimal mDNS `Component config->CHIP Core->General  Options->Use the minimal mDNS implementation shipped in the CHIP library`?

[2022-04-11 12:30] Survensa opened #17244 "[SQA] Door lock test cases failed due to "Invalid CASE parameter""
Door lock cases were failed due to "Invalid CASE parameter" in few seconds after it has been paired.

During any "read" actions after it has been paired, Chip-Tool log thrown an error "The device does not support GetClock_RealTimeMS() API. This will eventually result in CASE session setup failures."

Following the above error, it has failed with "Invalid CASE parameter" for the further commands fr

[2022-04-11 13:24] mgarb1 commented on #16663
PR merged

[2022-04-11 14:13] vinay-apple opened #17249 "Darwin attribute cache needs to have expiration time to detect a device that is down/ offline for very long time"
#### Problem
Presently we do not have expiration for attribute cache, hence we cannot reliably detect if a device is down or offline for a very long periods of time and show appropriate device status to end user.

 #### Proposed Solution
We could have something on the cache that indicates whether we have a live subscription or not (i.e. we started a subscription and have not seen OnDone) and hence

[2022-04-11 14:47] bzbarsky-apple commented on #17249
This is specifically for the Darwin wrapper around the core attribute cache.

@kpark-apple @sagar-apple

[2022-04-11 15:12] kean-apple commented on #17027
@wqx6 Thanks. yes after enabling that option I was able to pair 2nd fabric using CHIPtool with today's SDK. Should we always use that option moving forward?

[2022-04-11 15:45] stlevkov opened #17251 "Timeout when executing ReadAttribute to bridged device on arm 32 bit"
#### Problem
Using bridge wrapper to registers bridge devices, i am able to run OnOff and LevelControl clusters without issue running on x86_64. The problem is on the arm 32 bit build. I am using Chip-tool to send commands to the bridged devices.

The problem appears, when the device sends ReportAttribute. Then, the chip-tool ReadAttribute starts to fail with Timeout error.

I can send many ReadAt

[2022-04-11 15:57] stlevkov commented on #17235
Hi,
try to find openssl.pc on your host machine. If it's missing, probably the package needs to be installed. Then if the compiler still cannot resolve it, add the dir containing the .pc file to the PKG_CONFIG_PATH.

[2022-04-11 16:01] mrjerryjohns commented on #16641
Assigning this to you @erjiaqing since you touched this area last.

[2022-04-11 16:30] mrjerryjohns opened #17256 "Constructs to make it possible for applications to infer liveness to a peer"
#### Problem

It is not terribly easy to infer the liveness to a peer node today, even though there are a number of signals in the SDK to make such an inference possible.

#### Solution

Create a new `LivenessAssessor` class that given a 'liveness timeout' parameter and a peer NodeId, can be used to figure out if we are seeing positive message activity from that peer.

There are two variants here

[2022-04-11 16:48] mrjerryjohns commented on #17249
There is a broader need to provide this inference that shouldn't be specifically tried to the use of the cache.

I've filed that issue [here](https://github.com/project-chip/connectedhomeip/issues/16202).

[2022-04-11 16:52] emargolis commented on #14314
This was partially addressed in #17190

There still TODO comment from @bzbarsky-apple that should be addressed:
[code]

[2022-04-11 16:53] mrjerryjohns commented on #17204
Should definitely get this fixed for 1.0.

[2022-04-11 18:56] bzbarsky-apple commented on #17027
Ah, that's why I could not reproduce: the default changed and sdkconfig is cached outside the build dir.... I should remember to just remove it as part of my builds.

Anyway, the specific bug here is that the ESP32 implementation of `ChipDnssdPublishService` ignores `service.mSubTypes`.  So it's trying to advertise a thing with discriminator 3840, but does not advertise anything for `_L3840._matte

[2022-04-11 19:44] chadnorvell commented on #16759
@xylophone21 Re: the patch you showed in [this comment](https://github.com/project-chip/connectedhomeip/issues/16759#issuecomment-1093787841), I'm looking into getting a mac-arm64 build of protoc into CIPD so that this hack isn't necessary. If that can't be done today, I'll revert that change for now to unblock you.

[2022-04-11 20:08] #12144 closed

[2022-04-11 20:09] #15800 closed

[2022-04-11 23:07] adabreuti opened #17264 "Implement All clusters application for TI CC13X2_26X2 platform"
Problem
The Texas Instruments CC13X2_26X2 platform does not currently support the all clusters application.

[2022-04-12 02:52] xylophone21 commented on #16759
@chadnorvell you can ref this error log, seems next steps need protoc

[2022-04-12 03:12] #17235 closed

[2022-04-12 03:13] #16511 closed

[2022-04-12 03:45] bzbarsky-apple commented on #17027
Fixed by https://github.com/project-chip/connectedhomeip/pull/17269.

[2022-04-12 03:45] #17027 closed

[2022-04-12 04:46] somu1710 opened #17271 "Modeselect cluster [TC-MOD-3.3] - is failed in OTA-Requestor app due to endpoint issue"
**Issues**:
TC-MOD-3.3 - The commands which are executed using OTA-Requestor app  for OTA update it shows "unsupported cluster" for endpoint "0" and "unsupported endpoint" for endpoint "1",

**Expected behaviour** :
            For endpoint "1" This testcase {TC-MOD-3.3} should work fine using OTA-Requestor app  for OTA update.

**Actual behaviour**:
 ./chip-tool modeselect read start-up-mode 321

[2022-04-12 04:56] Rajashreekalmane commented on #15251
@lazarkov I am facing same issue.
In controller side I got response but in DUT it's showing "Endpoint 1 not found"
![image](https://user-images.githubusercontent.com/95841834/162883527-bd168909-94fd-4fb5-aef2-f86e221bc0bc.png)

Command used in chip-controller:
./chip-tool applicationlauncher launch-app '{"catalogVendorId": 123, "applicationId": "exampleid"}' 1 1
./chip-tool applicationlauncher rea

[2022-04-12 06:15] Sivaramgrl opened #17272 "Network Commissioning - Commands are not working when SSID is in Networks attribute list present"
#### Problem
Networks attribute has one entry with Connect state as FALSE but InterfaceEnabled attribute value is TRUE the issue is followed in [(#17106](https://github.com/project-chip/connectedhomeip/issues/17106)). So using the ConnectNetwork command or remove command or ReorderNetwork command the Chip-tool responded with NetworkingStatus as 3 ( NetworkIDNotFound ) for the SSID value which is l

[2022-04-12 06:35] PSONALl commented on #15782
This issue occurs because there is no List of Networks as mentioned in the spec is implemented in the code yet

Current code has a Network attribute with NetworkId and a boolean connected flag 

Code needs to maintain a list of such Networks

[2022-04-12 09:09] Survensa commented on #15509
Need event list implementation for descriptor cluster

[2022-04-12 11:04] somu1710 opened #17275 "[TC-DIAGLOG-1.1] Global attribute-Cluster-Revision and FeatureMap returns status code as 0x86 Error(unsupported attribute) Response."
#### Problem
Though the "Cluster-revision and feature map" attribute is implemented in below mentioned clusters it throws an error code as 0x86(unsupported attribute).

For Cluster-revision:-
  expected behavior:-ClusterRevision attribute has the value 1
  actual behavior:-0x86(unsupported attribute)
* steps to reproduce:- sudo ./chip-tool diagnosticlogs read cluster-revision 1 0

For feature-map

[2022-04-12 11:41] sowmyassp opened #17276 "Feature-map attribute should be implemented in SDK for some clusters"
Issue : Feature-map attribute should be implemented in SDK for the below mentioned clusters -

1. Relative humidity
2. Occupancy Sensing Cluster
3. Pressure Measurement Cluster
4. Diagnostics Logs Cluster
5. Power Source Configuration
6. Descriptor
7. Boolean State Cluster
8. Bridged Actions Cluster

[2022-04-12 12:05] Rajashreekalmane opened #17277 "Identify cluster supports lighting app but if we read or pass any command or attribute we are getting issues in RPI platform but passing in thread platform."
Issues:-
Scenario 1 : Identify cluster supports lighting app but if we read attribute using lighting app the values are different compared to spec where the same attribute is read using all-clusters-app we are getting expected values  according to spec.

Scenario 2 : Identify cluster supports lighting app but if we pass a command  using lighting app we are getting invalid command where the same co

[2022-04-12 12:10] sowmyassp commented on #17206
@tcarmelveilleux
[log_cntrl.txt](https://github.com/project-chip/connectedhomeip/files/8472733/log_cntrl.txt)
[log_dut.txt](https://github.com/project-chip/connectedhomeip/files/8472734/log_dut.txt)

[2022-04-12 14:47] yufengwangca commented on #16412
https://github.com/project-chip/connectedhomeip/pull/17136

[2022-04-12 14:47] #16412 closed

[2022-04-12 17:19] chrisdecenzo opened #17285 "MinMdnsResolver and DiscoveryImplPlatform resolve by instance name differently, could lead to behavior differences"
This is a followup to https://github.com/project-chip/connectedhomeip/pull/17214

 #### Problem
 * When using the resolver to search by instance name, DiscoveryImplPlatform short-circuits to perform a simple resolve while the MinMdnsResolver does a browse. The DiscoveryImplPlatform behavior was added in 17214 because the full browse by instance name was not working on Mac. MinMdnsResolver should p

[2022-04-12 17:39] msandstedt commented on #15831
Yes, the 9-path subscription should not evict in-fabric subscriptions.  It should only be possible consume 9 paths if you are the first and only subscriber in your fabric.

That is tenable because a fabric can be administered such that you are guaranteed to only have one subscriber.  This can be accomplished by only allowing one reader in any of your deployed node ACLs.

So to summarize, the admin

[2022-04-12 17:51] andy31415 commented on #15011
This seems to be a requirement for issues raised against the spec.

[2022-04-12 18:08] tcarmelveilleux opened #17287 "Capability Minima attributes are missing"
#### Problem
After https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5070, there are attributes in ACL cluster and Basic Info cluster that appear to be missing.

 #### Proposed Solution

- Fix Basic Info cluster to have CapabilityMinima attribute
- Fix ACL cluster to have missing attributes

[2022-04-12 18:12] bzbarsky-apple opened #17288 "Crash when resolving node's IPs if it's discovered on more than one interface"
#### Problem
Steps to reproduce:
1. Check out SHA 2e33dec44d21de6eccdc7d9f96f61552cb1c0f77 or anything else that has the fix for #17246 in it.
2. Compile `chip-tool` and `chip-all-clusters-app`:
[code]
3. `rm /tm/chip*`
4. Run `./out/debug/standalone/chip-all-clusters-app`
5. Run `./out/debug/standalone/chip-tool pairing onnetwork 17 20202021`

Expected results: Commissioning is fine.
Actual resul

[2022-04-12 18:22] yunhanw-google opened #17289 "the new fabric event is possible to collide with the previous removed fabric index"
#### Problem
Currently All Event have been logged in circular event buffer. When fabric is removed, the already logged event would not be removed until buffer is full(when it is full, the oldest one would be removed). When read/subscribe comes, server would try to use secure session(which has fabric info) to look up events in buffer via comparing with the fabric inside AccessControl::Check, if fab

[2022-04-12 18:49] bzbarsky-apple commented on #17285
@vivien-apple @andreilitvin What's the best way to converge here?

[2022-04-12 19:48] chadnorvell commented on #16759
That change is now [reverted](https://pigweed-review.googlesource.com/c/pigweed/pigweed/+/90840). This should resolve the `protoc` issue.

[2022-04-12 20:26] #16980 closed

[2022-04-12 21:47] mrjerryjohns opened #17298 "Updated CASE Session lifetime and management logic"
#### Problem

We don't have clear understanding of when how the lifetime of a CASE session should be managed, as well as what it means to have multiple CASE sessions between a set of peers and whether that is even permitted.

### Proposal

Here are a set of axioms/tenets from a Slack [conversation](https://csamembers.slack.com/archives/C031EJZJ1L2/p1649740811135809):

1. We should endeavor to re-u

[2022-04-12 21:48] mrjerryjohns commented on #17298
Materially speaking, this renders a lot of the spec material in [this](https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/4901) PR somewhat moot I believe (@msandstedt ?)

[2022-04-12 21:49] cjandhyala commented on #17277
@Rajashreekalmane since this is working on all-cluster-app can we close this issues. Not sure if this functionality will be implemented in lightingApp.

[2022-04-12 21:53] andy31415 commented on #17285
Could you give a description of the issue with an example? I.e. what browse/discovery is being done (what qname and type if relevant) and what the differences are?

The issue contains a lot of description and yet I still do not understand what we are looking for and what the differences are. From a MinMDNS perspective there is no "browse" - DNSSD will issue a mdns query packet and it will receive

[2022-04-12 21:55] andy31415 commented on #17285
I am also unclear what "Short circuit" means - minmdns always sens out a packet and parses received packet - no path is shorter or longer. Not sure if that is the problem or the requested change.

[2022-04-12 22:57] chrisdecenzo opened #17299 "tv-casting-app feedback"
#### Problem
 * Feedback from PR https://github.com/project-chip/connectedhomeip/pull/17214 on use of timer

`
        // Send User Directed commissioning request
        // Wait 1 second to allow our commissionee DNS records to publish (needed on Mac)
`

 #### Proposed Solution
* Use a different method to wait for DNS records to propagate

[2022-04-12 22:57] #17211 closed

[2022-04-12 23:58] chrisdecenzo opened #17301 "Android tv-app does not support content app platform"
#### Problem
 * when building the android tv-app, the content-app platform features are not available

 #### Proposed Solution
* include content-app platform features from linux tv-app in android version

[2022-04-13 00:27] cjandhyala commented on #15509
@andy31415 @vivien-apple @bzbarsky-apple Along with EventList, Global Elements talks about other fields like "Accepted CommandList" and "Generate dCommandList" , Are these two are also out of scope ? Ref Section 7.13 from Spec

![Screen Shot 2022-04-12 at 5 25 20 PM](https://user-images.githubusercontent.com/68604034/163075654-28cf3d98-945b-468d-8a2c-b70b91b0bf52.png)

[2022-04-13 00:39] cjandhyala commented on #16430
@somu1710 why cant you reboot the device and read the attribute ?

[2022-04-13 01:07] franck-apple commented on #14922
Diagnostic log cluster over BDX was deemed out of scope for V1.0, so updating labeling

[2022-04-13 01:50] msandstedt commented on #17298
I think so.  The problem we're facing is that we are trying to find a deterministic algorithm that peers can use such that they will drop a second session if one exists and will both drop the same session.

I think this is actually impossible currently because input to that algorithm will always include the existence of 2+ sessions.  That is exactly the piece of information that is not guaranteed

[2022-04-13 01:55] somu1710 commented on #16430
If i reboot the device it requires pairing of dut and controller then only I able to read the attribute.

[2022-04-13 03:44] erjiaqing commented on #16641
I guess we need to update ZAP to include "fabric scoped" bits to `EmberAfAttributeMetadata` since this infomation lives deeply in the cluster code.

The actual change could be quite simple, add a "IsFabricScoped" flag to `HasConflictWriteRequests` and an extra check in that function.

Some issues are:
1. Does this apply to fabric scoped lists?
2. How does the DoS affect the device? By the long tim

[2022-04-13 06:00] bzbarsky-apple commented on #15509
Everything there except EventList is implemented.

[2022-04-13 06:03] erjiaqing commented on #15782
What is the platform of the server?

Since this data comes from platform driver, proving the platform will help identifying the issue.

[2022-04-13 06:09] #16755 closed

[2022-04-13 06:16] bzbarsky-apple commented on #17244
Some questions, @Survensa:

1. What SHA is being used for chip-tool?  What SHA is being used for the server app?
2. Which server app is being used?
3. Which platform is the server app running on?

[2022-04-13 06:18] bzbarsky-apple commented on #17244
Oh, and:

"eventually" here means "after some code gets changed to require time-based certificate validation".  Which has not happened, so those messages are not relevant to whatever is going on here.

[2022-04-13 06:19] #17053 closed

[2022-04-13 06:24] bzbarsky-apple commented on #17299
Why do we need to wait for them to propagate?  What sort of query are we making?

[2022-04-13 06:33] #17100 closed

[2022-04-13 06:37] dhrishi commented on #16561
Closing the issue assuming it is working fine. Feel free to re-open

[2022-04-13 06:37] #16561 closed

[2022-04-13 06:38] sowmyassp commented on #17205
Similarly Step 4d and 4f says DUT should terminate the commissioning process when we pass invalid QR Code where instead commissioning process is done successfully

[2022-04-13 06:38] dhrishi commented on #16200
@kean-apple Do you still see this with the latest codebase?

[2022-04-13 06:49] bzbarsky-apple commented on #17285
In minmdns there's a `BrowseNodes` function.  This calls `SendPendingBrowseQueries`.

What sort of data do those get back?

As far as I can tell for platform mdns the process is that you start with something like "_L3840._sub._matterc._udp", you use this to get an instance name (or list of them), then for each instance name maybe you have an IP already as part of the data that came back, and maybe

[2022-04-13 07:12] sethunk commented on #15776
Checked with SQA @Survensa , the team is able to pair doorlock app without any workaround

[2022-04-13 07:12] #15776 closed

[2022-04-13 07:58] Rajashreekalmane opened #17308 "[TC-TM-2.1]MeasuredValue, MinMeasuredValue attribute and MaxMeasuredValue Attribute fails to return the value within the expected range."
#### Problem
As per the test-plan In [TC-TM-2.1] test case MeasuredValue, MinMeasuredValue attribute and MaxMeasuredValue
 Attribute fails to return the value within the expected range, but currently in chip-tool getting responses as "null".

 * expected behavior:- value should be in the range of -27315 and 32767
 * actual behavior:- getting response value as "Null"

 * steps to reproduce:-
 ./chi

[2022-04-13 08:10] vivien-apple commented on #16569
Per my understanding of the step a simple trick once https://github.com/project-chip/connectedhomeip/pull/17280 and https://github.com/project-chip/connectedhomeip/pull/17309 have landed is to use the `--commissioner-nodeid` option and the `--commissioner-fabricid` option.

Those would override either the nodeid or the fabricid used when a message is sent, which should prevent access to the target

[2022-04-13 08:15] vivien-apple commented on #14399
https://github.com/project-chip/connectedhomeip/pull/17107 has landed to provide a way for placeholder apps (or the all-clusters-app) to customize the responses in order to trigger errors.
What we need now is correct values to use and pass to the testing apps.

[2022-04-13 08:17] vivien-apple commented on #14397
https://github.com/project-chip/connectedhomeip/pull/17107 has landed to provide a way for placeholder apps (or the all-clusters-app) to customize the responses in order to trigger errors.
What we need now is correct values to use and pass to the testing apps.

Let me know if there is anything else to do here.

[2022-04-13 08:18] vivien-apple commented on #14399
Please re-open if the provided API is not enough.

[2022-04-13 08:18] #14399 closed

[2022-04-13 08:21] vivien-apple commented on #14397
My understanding of this issue is that we need 2 things:
  * #16846
  * Have a script to decode the payload of the messages that we are interested in

Is there anything else that I missed ?

[2022-04-13 08:45] vivien-apple commented on #14395
My understanding of this issue is that we need 2 things:
  * #16846
  * Have a script to decode the payload of the messages that we are interested in

Is there anything else that I missed ?

[2022-04-13 09:17] vivien-apple commented on #14709
@liamgonyea @sowmyassp  Sorry, the request here is unclear to me. My understanding of those test steps are:
  * DUT receives Onboarding Payload from the TH with Custom Flow bits set to value 2 -> Does not mean TH "send" an onboarding payload with the "Custom Flow" bits set to 2, but that there is an onboarding payload "somewhere" that is configured to have the custom flow bits set.
 Once the DUT r

[2022-04-13 09:19] #17045 closed

[2022-04-13 09:19] sankarselvam commented on #16923
@somu1710  This parameter needs to be changed directly in the DUT & needs to be verified.
As this is vendor specific test case/step, please update the comments in Verification steps nd mark as N/A in the test report.

[2022-04-13 09:26] sowmyassp commented on #17164
Same issue facing with commitID (fa5561c23d8c1f9464da8669931affbae0660f51)

[2022-04-13 09:30] Survensa opened #17310 "[SQA] TC-DL-1.1 Cluster revision, Generated command list, Accepted command and attribute list mismatches from test plan."
**Issue** : Cluster revision, Generated command list, Accepted command and attribute list mismatches from test plan. in doorlock.

**Expected outcome** :
-  GeneratedCommandList: 13 entries
- Accepted command list: 32 entries
- Attribute list : 46 entries

**Actual outcome** :
-  GeneratedCommandList: 0 entries
- AccepctedCommand list: 14 entries
- Attribute list : 29 entries (Including global att

[2022-04-13 09:35] vivien-apple commented on #16705
Assigning to you @mrjerryjohns - that sounds like something you know about.

[2022-04-13 09:48] Rajashreekalmane opened #17312 "[TC-IDM-3.2]--In test step 25 "DUT Fails to send Write Response message with the error DATA_VERSION_MISMATCH""
#### Problem
As per Test-Plan [TC-IDM-3.2] test-step 25 expected that DUT should sends a Write Response message with the error DATA_VERSION_MISMATCH for the second Write request, when TH sends a second Write
Request Message to the DUT to modify the value of an attribute with the dataversion field set to
 the value received earlier.

* expected behavior:-DATA_VERSION_MISMATCH(0x92)
 * actual behavi

[2022-04-13 09:51] erjiaqing commented on #17272
Seems you are not using the correct notation, please try

[code]

Note the hex prefix

[2022-04-13 10:10] Survensa opened #17314 "[SQA] Attributes has to be implemented Based on TC-DL-2.1"
Issue : Below mentioned attributres has to be implemented in CHIPTOOL

Reference : [https://github.com/CHIP-Specifications/chip-test-plans/blob/master/src/cluster/door_lock_Cluster.adoc#32-tc-dl-21-attributes-check-dut---server](url)

**Missing attributes** :

- DoorOpen Events
- DoorClosed Events
- OpenPeriod
- NumberOfLogRecordsSupported
- NumberOfHoliDaySchedulesSuppored
- EnableLogging
-  Wron

[2022-04-13 12:11] Rajashreekalmane opened #17319 "[TC-GC-2.4] While verifying SetRegulatoryConfig command TH responds as Success value(0) instead 'Error - ValueOutsideRange' value(1)"
#### Problem
As per Test-Plan, test-step 9 expect that " SetRegulatoryConfigResponse command response from DUT to TH1 with field ErrorCode as 'Error - ValueOutsideRange' and DebugText as a 'string' value" when TH1 sends SetRegulatoryConfig command to the DUT with NewRegulatoryConfig data value as '3', Breadcrumb as 0 and CountryCode is of type 'string'. But we are getting response as success with

[2022-04-13 13:25] #17277 closed

[2022-04-13 13:33] somu1710 opened #17323 "Pairing issue with the latest SDK commit using all-clusters-app"
Issue :- Not able to advertise the network (ble-wifi/onnetwork) from dut to get paired with controller using all-clusters-app.

Commit used - a75cd99d851cff80e14e753c85f34ff936c84254

commands used for advertising (bringing up dut) :

Ble-wifi :` connectedhomeip/examples/all-clusters-app/linux/out/all-clusters-app$ ./chip-all-clusters-app --wifi`

Onnetwork : `connectedhomeip/examples/all-clusters

[2022-04-13 13:48] tcarmelveilleux opened #17324 "Data dependency bug in Fail Safe arming detection"
#### Problem
- In the log [run_test_suite_log.txt](https://github.com/project-chip/connectedhomeip/files/8481924/run_test_suite_log.txt), I had just run `run_test_suites.py` against a ToT (a75cd99d851cff80e14e753c85f34ff936c84254) and I got a crash in chip-all-clusters-app on Linux.

The backtrace:
[all-clusters-fail-safe-backtrace.txt](https://github.com/project-chip/connectedhomeip/files/8481941

[2022-04-13 13:50] manjunathambiger23 opened #17326 "MF-1.* "OpenCommissioningWindow" showing "Invalid Command" response"
Summary:
               "OpenCommissioningWindow" showing "Invalid command" response when executed.

Testplan screenshot:
![image](https://user-images.githubusercontent.com/84442963/163195536-c430dd22-a6e9-47d1-9fb4-ec05950a70ae.png)

YAML screenshot:
![image](https://user-images.githubusercontent.com/84442963/163195383-a793948d-ff48-4147-97ed-e4e0aefe69de.png)

Execution screenshot:
![ECM_MF-10](

[2022-04-13 13:58] ghost opened #17327 "Added one variable in config section but getting error when executed"
Summary:
               [ TC-DM-2.2 ] tried adding supportedFabric value as 16 in config section getting zap error when executed: TypeError: value.replace is not a function, below i added YAML and execution screenshot.

YAML screenshot:
![image](https://user-images.githubusercontent.com/84442963/163196472-0d3a89c5-f6a4-4f16-9ddd-fa664275fa21.png)
![image](https://user-images.githubusercontent.com/

[2022-04-13 14:07] ghost opened #17328 "Tried adding one script as manual testcase but getting build error"
Summary:
              Tried adding one script as manual testcase, but when executed its showing build error.

Added YAML and execution logs:
![image](https://user-images.githubusercontent.com/84442963/163198435-9aac18dd-68d1-47a8-a457-b898ee909f02.png)
[exe_log.txt](https://github.com/project-chip/connectedhomeip/files/8482100/exe_log.txt)
![image](https://user-images.githubusercontent.com/844429

[2022-04-13 14:18] manjunathambiger23 opened #17331 "Need YAML support for TC-MF-1.9 and TC-MF-1.10"
Summary:
                Need YAML support for following steps in TC-MF-1.9 and TC-MF-1.10
Step :  Set up a TH_CR2 to start attempting to do PASE to DUT_CE and failing 20 times.

testplan screenshot:
![image](https://user-images.githubusercontent.com/84442963/163200863-b3bf1988-5b07-46c2-9af2-2801ed86a831.png)

[2022-04-13 14:52] #17287 closed

[2022-04-13 14:57] phonnakasturi-apple opened #17334 "Build failure on M1 Mac with the error message -> No such file or directory: 'protoc'"
Starting with commit id a4201ea6fdaff22b6562144a30c563d566152f8f
I am unable to source bootstrap.sh onto M1 Mac machine.
It throws the following error;

3/226] python3 ../../third_party/pigweed/repo/pw_build/py/pw_build/python_runner.py --gn-root ../../ --current-path ../../third_party/pigweed/repo/pw_protobuf --lockfile protocol_buffer/pip.lock --default-toolchain=//build/toolchain/host:mac_arm64

[2022-04-13 15:22] tcarmelveilleux opened #17336 "Missing example of persistent storage keeping of "Extended Discovery Timeout""
#### Problem
`DnssdServer` has an Extended Discovery Tiemeout parameter that may be overridden by end-users through UI, so that it persists across resets, to affect the spec intent of the feature.

This storage used to be done deep inside `DnssdServer` by directly interacting with platform assumptions.

A setter now exists to provide this value, but there are no examples of its use.

#### Suggeste

[2022-04-13 15:34] s-mcclain opened #17339 "VerifyOrDie abort on ShutdownSubscriptions when optional mDataVersion not used"
#### Problem
When calling ShutdownSubscriptions with subscriptions created where the mDataVersion is passed in the NullOptional (default) value, the `VerifyOrDie(aReadPrepareParams.mDataVersionFilterListSize == 1 && aReadPrepareParams.mpDataVersionFilterList != nullptr);` call inside TypedReadAttributeCallback::OnDeallocatePaths() fails, as the filterlistsize is 0.

 #### Proposed Solution
Remove

[2022-04-13 15:59] #17339 closed

[2022-04-13 16:27] turon commented on #16830
High level changes for Linux below.  Darwin changes need to be identified.

Replace string "request" with "command":
https://github.com/project-chip/connectedhomeip/blob/master/src/platform/Linux/bluez/Helper.cpp#L1625

For notification change, replace "indicate" with "notify" and remove confirm:
https://github.com/project-chip/connectedhomeip/blob/master/src/platform/Linux/bluez/Helper.cpp#L1238

[2022-04-13 17:04] chrisdecenzo opened #17343 "DiscoveryController does not support multiple instances on the same host"
#### Problem
When using the DiscoveryController, if there are multiple Matter servers on the same host, only one is discovered.
 * desired: list of each server (or mDNS response) is returned
 * actual: only the last server (or mDNS response) is returned

The result is that you can encounter problems when running multiple matter processes on the same machine (Mac, linux/docker, etc).

 #### Propose

[2022-04-13 17:21] jepenven-silabs opened #17346 "[Inet] Cleanup Inet Layer"
#### Problem
A lot of `#If CHIP_SYSTEM_CONFIG_USE_LWIP` and others are present inside the Inet layer.

 #### Proposed Solution
Split those `#if` into separated files.

e.g.
IPAddress.cpp -> IPAddress.cpp + (IPAddressLwIP.cpp/IPAddressSockets.cpp/IPAddressOpenThread.cpp)

[2022-04-13 17:56] #8924 closed

[2022-04-13 18:00] cecille opened #17351 "GetAttestationChallenge is a public API and doesn't make sense"
#### Problem
GetAttestationChallenge ended up as a public API. BUT, it really is just a convenience for the commissioner to get the attestation challenge of the device CURRENTLY being commissioned because the proxy isn't provided. Previously, this (accidentally IMO) fell back to the most recently PASE'd proxy, but as we moved towards less statefulness, this function got left behind.

 #### Propose

[2022-04-13 18:49] #6131 closed

[2022-04-13 18:53] turon opened #17353 "[ble] C2 on Linux uses indication instead of notify"
#### Problem
Spec has C2 subscribe for notifications by client.
On Linux however, client is subscribing to indications.
This issue doesn't exhibit obviously because many peripherals will support either.

 #### Proposed Solution
Update linux implementation to use notifications rather than indications for C2.

[2022-04-13 19:02] #17187 closed

[2022-04-13 19:11] #15209 closed

[2022-04-13 19:12] msandstedt commented on #13825
Per discussion, this is resolved with our current code in master.

[2022-04-13 19:12] #13825 closed

[2022-04-13 19:40] turon commented on #16830
A partial review of platforms shows that WriteResp is used in most clients / platforms:

<google-sheets-html-origin><style type="text/css"></style>

BLE Role | Platform | C1 | C1 optionality | C2 | C2 optionality
-- | -- | -- | -- | -- | --
Central | Linux | WriteResp |   | Indication | none
Central | Darwin | WriteResp |   | Notify |  
Central | android | WriteResp |   | Notify |  
  |   |   |  

[2022-04-13 19:46] andy31415 commented on #16220
@Survensa - please add information for developers on reproduction:

- what application to use (light, lock, all-clusters, pump etc) and what platform (nrf, efr, other)

[2022-04-13 19:56] #15545 closed

[2022-04-13 19:56] turon commented on #17353
https://github.com/project-chip/connectedhomeip/blob/master/src/platform/Linux/bluez/Helper.cpp#L1687

[2022-04-13 20:01] andy31415 commented on #15639
Pressure management spec marks all of ScaledValue,MinScaledValue,MaxScaledValue,ScaledTolerance and Scale as `EXT`  feature wise.

So if the DUT does not have this feature (feature itself is marked as optional) then it seems reasonable for the device to say 'unsupported attribute'

[2022-04-13 20:03] mlepage-google commented on #14455
Regarding landed spec change
https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5070

a cluster change has landed to expose those attributes, in PR #17294

However the assumption (fine for now) is that a particular implementation is used. When these capabilities APIs are available, that cluster attribute implementation needs to use those APIs.

[2022-04-13 20:05] andy31415 commented on #15639
Test case should likely start with 'is feature supported' and only proceed if feature is supported.

The part that is unclear to me is what if we do not build this in our example (which seems spec-correct) yet at a later time some device comes in to certification with this feature and asks for certification. What do we do then?

[2022-04-13 22:00] cjandhyala commented on #15782
@erjiaqing this is on raspi (linux) platform

[2022-04-13 22:33] bzbarsky-apple commented on #17244
No, I mean what hardware/OS?  In terms of trying to reproduce, it's best if people are using a setup as close to the one you have as possible.

[2022-04-13 22:34] bzbarsky-apple commented on #17244
Oh, and when you say "doorlock app", does that mean the thing in `examples/lock-app` or in `examples/door-lock-app`?

[2022-04-13 22:40] bzbarsky-apple commented on #17285
The bug so far is about the apparent difference in overall structure between  "platform" mdns, which has a two-step bit where it mas the provided PTR QNAME to an instance name and then maps the instance name to actual IP/port data, and hence has to figure out whether the thing it's being asked to look up is likely to be a PTR key or a SRV/TXT key and "minimal" mdns which ... well, I am still not q

[2022-04-13 22:53] kghost commented on #16748
Discussed with Boris, we will achieve `RemoveFabric` in following actions:

1. Call OnFabricDeletedFromStorage
1. Send RemoveFabric response
1. Remove session associated with the fabric
1. Remove exchanges associated with the fabric
1. Call exchange->OnExchangeReleased to all exchange delegates
1. Remove the fabric object on next schedule (or next cold boot)

[2022-04-13 23:06] cjandhyala commented on #17244
@bzbarsky-apple it is `examples/door-lock-app`

[2022-04-13 23:20] krypton36 opened #17365 "Remove StartEventLoopTask from CHIPCommandBridge.mm"
#### Problem
Remove StartEventLoopTask from [CHIPCommandBridge.mm](https://github.com/project-chip/connectedhomeip/pull/17338/files/40c0856d23f421d589f0200b3a6026d706b9361b#diff-e6e8801157a759e3eedeb9219c04f62b42dd483567952d2ad5237d6a788745cd) since the controller startup already call StartEventLoopTask. See Comment [here](https://github.com/project-chip/connectedhomeip/pull/17338#discussion_r8499

[2022-04-13 23:22] krypton36 opened #17366 "Remove paa-trust-store-path option from test_definition.py"
#### Problem
Remove --paa-trust-store-path  option from [test_definition.py](https://github.com/project-chip/connectedhomeip/pull/17338/files/40c0856d23f421d589f0200b3a6026d706b9361b#diff-b8655451989c6f601590bd9002e14ad546f578cfe722fc63842774a5255cf5a9) since the default without specify the path is the same path as the one provided.

[2022-04-14 00:24] chrisdecenzo commented on #17343
fix merged

[2022-04-14 00:24] #17343 closed

[2022-04-14 02:09] erjiaqing commented on #15780
What is the platform & application and what is the commit id of server?

After checking all generated .matter IDL files, no applications has network commissioning cluster on endpoint 1

There was a version that WiFi endpoint is configued to exist on endpoint 1, but on ToT, the main endpoint id of network commissioning cluster is endpoint 0, please ensure your checkout is newer than https://github.

[2022-04-14 02:29] erjiaqing commented on #15782
I cannot reproduce on be946b04e4

[code]

[2022-04-14 02:34] erjiaqing commented on #15782
Please note the failsafe timer and ensure it is not expired, for example, the config is reverted **as expected** if I did not issue the `Clusters.GeneralCommissioning.Commands.CommissioningComplete` command in a few minutes.

Please verify:
- You have armed failsafe before issue "add or update wifi network" command
- Failsafe timer is not expired or you have issued "commissioning complete" command

[2022-04-14 02:43] erjiaqing commented on #15782
Also, from the timestamp of your output, it is very likely that this is caused by failsafe timeout

[code]

You issued the read request 100s after the add or update network request.

[2022-04-14 02:44] #17060 closed

[2022-04-14 03:11] bzbarsky-apple commented on #17323
@somu1710 Is this a problem introduced recently?  Of so, would you be able to `git bisect`to find the changeset that introduced it?

[2022-04-14 03:19] bzbarsky-apple opened #17368 "Add test for country code in commissioning"
#### Problem
We don't really have test coverage for country code in commissioning.

 #### Proposed Solution
@cecille suggested in https://github.com/project-chip/connectedhomeip/pull/17284#pullrequestreview-939889541

[2022-04-14 04:29] bzbarsky-apple commented on #17244
Alright, I have tried to reproduce on that SHA for a while as follows:

1. `scripts/examples/gn_build_example.sh examples/door-lock-app/linux out/debug/standalone chip_config_network_layer_ble=false`
2. `scripts/examples/gn_build_example.sh examples/chip-tool out/debug/standalone/`
3. `rm /tmp/chip*`
4. Run `./out/debug/standalone/chip-door-lock-app`
5. `./out/debug/standalone/chip-tool pairing on

[2022-04-14 05:33] Rajashreekalmane commented on #15509
Closing this issue in SDK as @cjandhyala @vivien-apple and @andy31415 as suggested above.

[2022-04-14 05:33] #15509 closed

[2022-04-14 06:19] Survensa opened #17376 "[SQA] Thread- " ClusterRevision " Default value mismatch in (TC-OCC-1.1)"
**Summary:**
While reading the default value of " ClusterRevision " attribute showing mismatch when made a run for the TC-OCC-1.1

**Expected behavior:** ClusterRevision: 3

**Actual behavior:** ClusterRevision: 2

**Steps to reproduce**:`./chip-tool occupancysensing read cluster-revision 25 1`

**CommitID** used:  fa5561c23d8c1f9464da8669931affbae0660f51

**Platform**: Thread

**Spec Screenshot:*

[2022-04-14 06:25] Survensa commented on #17244
@bzbarsky-apple Door-lock-app work fine on `onnetwork/ethernet` but facing the issue only on `Ble-wifi`.

I have attached both DUT and CNTRL log for the "CASE Parameter" error .

LOG:
[door lock ctrl log.txt](https://github.com/project-chip/connectedhomeip/files/8486763/door.lock.ctrl.log.txt)
[door lock dut log.txt](https://github.com/project-chip/connectedhomeip/files/8486764/door.lock.dut.log.t

[2022-04-14 06:59] pankore opened #17380 "Level control min and max level issue"
#### Problem
In level-control.cpp, the min and max levels are defined as shown below
`#define LEVEL_CONTROL_LIGHTING_MIN_LEVEL 0x01`
`#define LEVEL_CONTROL_LIGHTING_MAX_LEVEL 0xFE`

However, chip-tool allows level to be 0 and 255
`./chip-tool levelcontrol move-to-level-with-on-off 255 0 1234 1`
`./chip-tool levelcontrol move-to-level-with-on-off 0 0 1234 1`

[2022-04-14 07:04] bzbarsky-apple commented on #17244
I am finding this _very_ hard to believe; once we finish commissioning the two cases should act identically.

What other differences are there between the ble-wifi and onnetwork cases?

I never did see an answer to the "what hardware/OS?" question....

Looking at the logs, the key part is this, on the server:
[code]
and then it fails out because there is no NOC for the fabric on the device:
[code]

[2022-04-14 07:21] erjiaqing opened #17381 "Add multifabric support to unit tests"
#### Problem
We only support sessions from one fabric in the unit test while we have two items in the farbic table.

 #### Proposed Solution

Add multifabric support to unit tests

[2022-04-14 07:23] Survensa commented on #17244
@bzbarsky-apple Using two different raspberrypi, one as DUT and other as CNTRL.

[2022-04-14 07:34] Survensa opened #17383 "[SQA]-Thread "IPv4 address" is missing in the outcome."
**Problem:**
while the chip-tool reads network-interfaces attribute, IPv4 address is missing in the outcome  in (TC-GENDIAG-1.1) & (TC-GENDIAG-1.2)

**Expected behavior:** IPv4Addresses: x entries

**Actual behavior:** IPv4Addresses: 0 entries

**Steps to reproduce:**`./chip-tool generaldiagnostics read network-interfaces 25 0`

**CommitID** used: https://github.com/project-chip/connectedhomeip/co

[2022-04-14 07:40] #14923 closed

[2022-04-14 07:49] sethunk opened #17384 "[TC-DL-2.2]Door Lock - CHIP Tool Command SUCCESS response for Wrong PIN"
lock-door command is getting SUCCESS response even when we are providing wrong PinCode.

 **expected behavior** - Command should get Failure response
 **actual behavior** - Command is executed and SUCCESS response is got
 **steps to reproduce** - ./chip-tool doorlock lock-door 1 1  --timedInteractionTimeoutMs 1000 --PinCode 7896

**Error Logs:**
Command Executed - ./chip-tool doorlock lock-door 1

[2022-04-14 07:57] Survensa opened #17386 "[SQA]-Thread "0x86 Error" Response for Global attribute-Cluster-Revision and FeatureMap."
**Problem:**
Global attribute-Cluster-Revision and FeatureMap returns status code as 0x86 Error(unsupported attribute) Response in (TC-DIAGLOG-1.1).

**Platform:** Thread

**CommitID** used: fa5561c23d8c1f9464da8669931affbae0660f51

**For Cluster-Revision,**

**Expected behavior:**  ClusterRevision attribute has the value 1

**Actual behavior:** 0x86(unsupported attribute)

**Steps to reproduce:**

[2022-04-14 08:09] manjunathambiger23 commented on #16552
@bzbarsky-apple i uploaded wrong logs i tried it in endpoint 0 its still showing failure response

[2022-04-14 08:37] somu1710 commented on #17108
As this test case passed by using the commands as kill the signal
1." ps -aef|grep all-clusters-app "
2."sudo kill -SIGUSR1 (2493)"

[2022-04-14 08:37] #17108 closed

[2022-04-14 08:59] erjiaqing commented on #17203
Why not possible?

I received failure response before issue the ArmFailSafe command. You should be able to send the command without a commissioning flow.

[2022-04-14 09:02] sethunk opened #17389 "[TC-DL-2.8] Door Lock - Issue on Set Week Day Schedule, Get Week Day Schedule Commands"
When we are sending Set Week Day Schedule command, we are getting response as status = 0x8b (NOT_FOUND)
but when we are sending Get Week Day Schedule command, we are able to get GetWeekDayScheduleResponse with corresponding values

 **expected behavior** - After Setting Week Day Schedule only we should be able to get those values in Get Week Day Schedule command.
 **actual behavior** - When we sen

[2022-04-14 09:21] PSONALl opened #17390 "Commissioning doesnot work with chip-tool built on my mac"
#### Problem
Commissioning and cluster control does not work on my mac
chip-tool gives timeout during commissioning

 ##### system configuration

 - Using macOS BigSur version 11.6
 - DUT: esp32 app: all-clusters-app
 - chip - HEAD: 21024aaa22ec8c1b0909131337bb3a6c2a57c6b2

 ##### logs
 - esp32 logs: [esp32 .txt](https://github.com/project-chip/connectedhomeip/files/8487970/esp32.txt)
- DUT logs:

[2022-04-14 09:25] sethunk opened #17391 "[TC-DL-2.11] Door Lock - Issue on Set Year Day Schedule, Get Year Day Schedule Commands"
When we are sending Set Year Schedule command, we are getting response as status = 0x8b (NOT_FOUND)
but when we are sending Get Week Day Schedule command, we are able to get Get Year Schedule Response with corresponding values

**expected behavior** - After Set Year Schedule only we should be able to get those values in Get Week Day Schedule command.
**actual behavior** - When we send Set Year Sch

[2022-04-14 10:21] lazarkov commented on #15386
Can you please update the test plans and remove the part "device should show the input status"?

[2022-04-14 10:42] Survensa opened #17392 "[SQA] Door Lock - Missing commands has to be implemented."
**Issue** : Door lock cluster has to be implemenated with below commands based on test plan.

**commit used** : fa5561c23d8c1f9464da8669931affbae0660f51

**Referance** :  https://github.com/CHIP-Specifications/chip-test-plans/blob/master/src/cluster/door_lock_Cluster.adoc#2-test-case-list

**List of missing command based on the test cases** :

- [TC-DL-2.4] - Unlock with Timeout command
- [TC-DL-2

[2022-04-14 10:49] #17389 closed

[2022-04-14 10:51] #17391 closed

[2022-04-14 12:04] xylophone21 commented on #16759
This issue is fixed by https://github.com/project-chip/connectedhomeip/pull/17247, I think it can be closed

[2022-04-14 12:04] #16759 closed

[2022-04-14 12:32] tcarmelveilleux commented on #17390
It appears that the ESP32 was not found over mDNS after 10 seconds
[code]

The ESP32 received a ConnectNetwork command, and took a couple seconds to connect to Wi-Fi and start advertising operationally:
[code]

Overall, it took approx 6 seconds before all IP addresses were obtained. It seems that the mac chip-tool did not see the mDNS advertisements.

This appears to be an issue that can only be d

[2022-04-14 14:13] #17323 closed

[2022-04-14 14:16] bzbarsky-apple commented on #17390
@PSONALl `log stream --line-buffered --system --level=info --filter 'process:"mDNSResponder"'` should help get the DNS-SD logs on the Mac.  might need the mDNSResponder debugging profile at https://developer.apple.com/bug-reporting/profiles-and-logs/?name=dns installed (takes effect immediately on install, no reboot needed) to show all the data we care about.

[2022-04-14 15:20] #16889 closed

[2022-04-14 15:52] cecille commented on #17390
We found this same issue earlier on linux where the M5 was taking too long to respond. We fixed this by adding retries in the avahi and minimal logic. It would appear that the M5 has now crossed the mac timeout threshold as well and may require retries there.

avahi retry PR: https://github.com/project-chip/connectedhomeip/pull/12923

[2022-04-14 16:54] yufengwangca opened #17400 "We should not setup various provider within PlatformMgr on each platform"
#### Problem
  SetConfigurationMgr(&ConfigurationManagerImpl::GetDefaultInstance());
    SetDiagnosticDataProvider(&DiagnosticDataProviderImpl::GetDefaultInstance());
    SetDeviceInfoProvider(&DeviceInfoProviderImpl::GetDefaultInstance());

This should belong to Server, not be initialized here at all

 #### Proposed Solution
That is the final goal, we don't need to set those provider separately o

[2022-04-14 17:07] franck-apple commented on #15386
if this is the only problem, please open an issue in the test-plan repo https://github.com/CHIP-Specifications/chip-test-plans/issues and close this current issue.

[2022-04-14 17:12] andy31415 commented on #12124
@Garik098 - please describe spec requirement (unclear to me if ChangeToMode is M(andatory) or O(ptional) in the spec from just reading the bug description) and the test case in a condensed format.

Logs in this bug are too long to parse easily. I need:
- what spec are we testing
- what is being done to test
- what environment was this tested on (what app like all-clusters/lock/light etc. and what

[2022-04-14 17:14] sumaky commented on #14395
@vivien-apple I am not sure if this question is addressed to me. If so please attach a example log for device attestation and script so that we are able to analyze the output and do the logical mapping with the test plan expected result

[2022-04-14 17:26] andy31415 commented on #12190
I believe we have to check cluster revision defaults in the SDK and then compare with spec. We should currently implement the full spec so values should match exactly. For reference, this can output cluster revision values for zap files using https://stedolan.github.io/jq/:

[code]

[2022-04-14 17:29] andy31415 commented on #12190
This is more compact:

[code]

[2022-04-14 17:56] #17153 closed

[2022-04-14 18:04] #16243 closed

[2022-04-14 18:13] jepenven-silabs opened #17404 "[QPG] restore check_system_includes to True"
#### Problem
In `./src/inet/IPAddress.h`

[code]
These includes files are checked prior to build and gn errors out since the OpenThread lib is not included in the Inet library.
However, since QPG doesn't seems to set `chip_system_config_use_open_thread_inet_endpoints` to `true`, The OpenThread lib isn't included by GN and these includes shouldn't be checked/be reachable given that the define `CHIP

[2022-04-14 18:16] andy31415 commented on #12190
Pretty output:

[code]

this was painful to figure out, but looks like:

[code]

Notice how On/Off cluster has 2 separate revisions and so does color control and maybe others. We have to go through all revisions on all clusters and match with spec.

[2022-04-14 18:16] jepenven-silabs commented on #17404
@tima-q @dvdm-qorvo ?

[2022-04-14 18:20] andy31415 commented on #12190
All current revisions in all zap files based on (ran in fish shell):

[code]

[code]

[2022-04-14 18:23] #16151 closed

[2022-04-14 18:55] mlepage-google commented on #16748
I can verify I hit this too while testing something. :-)

[2022-04-14 19:26] yinyihu-silabs opened #17405 "chip-tool command failed with "Invalid CASE parameter" error"
#### Problem
After commissioning end device over Thread, subsequent chip-tool commands returned "Invalid CASE parameter" error.
**chip-tool logs:**
[1649870251.217524][16138:16143] CHIP:EM: Received message of type 0x40 with protocolId (0, 0) and MessageCounter:2814437257 on exchange 56985i
[1649870251.217624][16138:16143] CHIP:EM: Found matching exchange: 56985i, Delegate: 0xffff940015b0
[1649870

[2022-04-14 19:29] yinyihu-silabs opened #17406 "chip-tool command failed with "Timeout" error"
#### Problem
After commissioning end device over Thread, subsequent chip-tool commands returned "Timeout" error.

<13:48:33.542> Thread.run:[172.16.0.4:23:O]pi@raspi-04:~$ ~/connectedhomeip/out/chip-tool/chip-tool colorcontrol read cluster-revision 5244 1
<13:48:33.544> MatterCli.sendCmd:DEBUG: expect found after 1 attempt(s)
<13:48:33.545> MatterCli.sendCmd:Node<172.16.0.4> issuing cmd<

<13:48:3

[2022-04-14 19:56] mspang opened #17407 "Can't clear GroupDataProvider with SetGroupDataProvider(nullptr)"
#### Problem

When the group data provider is destroyed (e.g. during shutdown) it should be possible to clear the gobal pointer. This will turn a potential use-after-free into a null pointer dereference, which is more likely to crash on most platforms (which is better than the more subtle symptoms of UAF).

 #### Proposed Solution

Remove the condition.

[2022-04-14 20:31] yufengwangca opened #17409 "Implement the missing parts of FanControl cluster"
#### Problem
(https://github.com/CHIP-Specifications/connectedhomeip-spec/blob/master/src/app_clusters/FanControl.adoc)

 #### Proposed Solution
<suggested fix, suggested enhancement>

[2022-04-14 22:57] #15847 closed

[2022-04-14 23:32] kghost opened #17412 "Allow injecting SessionResumptionStorage for controller"
#### Problem
Currently SessionResumptionStorage can be injected for server.  But not on controller

 #### Proposed Solution
Make it injectable for controller

[2022-04-14 23:42] #16951 closed

[2022-04-15 02:10] erjiaqing commented on #17106
From my comment in 15782

https://github.com/project-chip/connectedhomeip/issues/15782#issuecomment-1098648526

[code]

I found connected is True here. Do you have a full steps for reproducing this?

Based our code related to this, we set the "connected" flag by checking if the current connected network is the one we commissioned, so could you use some other tools (like network manager) to confirm

[2022-04-15 03:31] alantsai0821 commented on #17164
Is there anyone know how to fix this?
I just meet the same error when try to pairing EFR32MG12 lighting-app with chip-tool on ubuntu...

[EFR32-chip-tool-log.txt](https://github.com/project-chip/connectedhomeip/files/8493662/EFR32-chip-tool-log.txt)

[2022-04-15 04:26] #8342 closed

[2022-04-15 05:08] erjiaqing commented on #16273
I'm implemeting a almost same algorithm, however, I merge the existing paths before insert the new path.

Consider the following case:

The cap of ObjectPool is 8, and we have 8 paths of different attributes under the same cluster, then SetDirty is called with an attribute on another endpoint.

The proposed algorithm will yield a wildcard endpoint at last, which is too early for this case.

So I i

[2022-04-15 05:49] erjiaqing opened #17418 "Implement minimas for read requests."
_Originally posted by @mrjerryjohns in https://github.com/project-chip/connectedhomeip/pull/16811#discussion_r851072103_

[2022-04-15 08:31] #12190 closed

[2022-04-15 12:09] #17407 closed

[2022-04-15 13:53] PSONALl commented on #17390
ok thanks @bzbarsky-apple
here are the logs of mDNSResponder : [dns adv.txt](https://github.com/project-chip/connectedhomeip/files/8496268/dns.adv.txt)

[2022-04-15 17:24] #17409 closed

[2022-04-15 19:05] isiu-apple commented on #12520
This issue is being reverted via PR https://github.com/project-chip/connectedhomeip/pull/17427, so re-opening this issue.

[2022-04-15 21:45] #17191 closed

[2022-04-15 22:23] mrjerryjohns commented on #15986
Part 1 of this issue is complete. Will file a follow-up issue if Part 2 needs to be done.

[2022-04-15 22:23] #15986 closed

[2022-04-15 23:05] phonnakasturi-apple opened #17432 "Error log message "MediaPlayback NOT returning ContentApp delegate for endpoint:1" observed in M5 stack logs"
While testing the reporting feature on CHIPTool app with commit id 0680f217ac7313e5df56ae90946e45206515729e

MediaPlayback NOT returning ContentApp delegate for endpoint:1 error is getting logged.

Reporting works fine but the log displays the above mentioned error log messages.

Steps to reproduce:

1. git clone --recurse-submodules https://github.com/project-chip/connectedhomeip.git
2. cd connec

[2022-04-15 23:15] kean-apple commented on #17334
confirmed fixed with https://github.com/project-chip/connectedhomeip/pull/17345

[2022-04-15 23:15] #17334 closed

[2022-04-15 23:16] kean-apple commented on #16781
Have not seen this in a while

[2022-04-16 01:24] kean-apple commented on #16392
still see this randomly..Pairing reliability in general is very poor

[2022-04-16 04:36] jrhees-cae commented on #17392
Wait a minute... At the very least the Set/Clear pin, etc. and the set/get user status test cases should not be part of a Matter test case. All of these command sets are for !USR pics (e.g. are for ZigBee only)

[2022-04-16 15:23] bluebin14 opened #17438 "CASE: SimpleSessionResumptionStorage cannot save and cannot load"
#### Problem
SimpleSessionResumptionStorage::SaveIndex does not save anything and SimpleSessionResumptionStorage::LoadIndex fails with clean storage, which is called by SessionResumptionStorage::Save, which then fails too. In other words nothing ever can be saved when starting with clean storage.

 #### Proposed Solution
1 - in SimpleSessionResumptionStorage::SaveIndex change:
for (size_t i = inde

[2022-04-16 15:37] bluebin14 opened #17439 "CASESession::EstablishSession does not support session resumption"
#### Problem
CASESession::EstablishSession ignores the sessionResumptionStorage argument, thereby disabling session resumption.

 #### Proposed Solution
Do not ignore sessionResumptionStorage argument, e.g. by:
mSessionResumptionStorage = sessionResumptionStorage;

[2022-04-16 15:44] bluebin14 opened #17440 "CASESession::DeriveSecureSession conflicts with specification"
#### Problem
CASESession::DeriveSecureSession conflicts with specification see "Resumption Session Encryption Keys". The msg_salt needs to be constructed differently in case of session resumption.

 #### Proposed Solution
Pseudo code:
if (mState == kSentSigma1Resume || mState == kSentSigma2Resume)
{
    // construct msg_salt from mInitiatorRandom and mResumptionId
}
else
{
    // construct msg_sal

[2022-04-18 05:02] PSONALl commented on #17390
from logs I think MDNS querier can see _matter._tcp.local service,
so what can be the issue here? @bzbarsky-apple @tcarmelveilleux ?

[2022-04-18 07:37] #15386 closed

[2022-04-18 07:51] bluebin14 opened #17445 "CASE storage: FabricSession() key is slightly inconsistent"
#### Problem
DefaultStorageKeyAllocator.h uses the key FabricSession() formatted as "f/%x/s/%08" PRIX32 "%08" PRIX32 which is slightly inconsistent with the convention used for all the other numeric keys that do not use zero padding and do not use uppercase hex. For fabric 1/1 we end up with the key "f/1/s/0000000000000001".

 #### Proposed Solution
Use "f/%x/s/%" PRIx64 which for the example abov

[2022-04-18 08:09] bluebin14 opened #17450 "CASESession: data needed for resumption key derivation is uninitialized"
#### Problem
mInitiatorRandom and mResumptionId are needed to derive resumption keys as per the specification. Yet mInitiatorRandom is left uninitialized in the server and mResumptionId is left uninitialized in the client.

 #### Proposed Solution
1 - in HandleSigma1() after calling ParseSigma1() add:
memcpy(mInitiatorRandom, initiatorRandom.data(), sizeof(mInitiatorRandom));

2 - in HandleSigma2R

[2022-04-18 10:36] manjunathambiger23 opened #17453 "[TC-MC-1.2] GeneratedCommandList value mismatch got 0 entries instead of 1"
Summary:
              As per testplan of TC-MC-1.2 GeneratedCommandList  list containing the value 1 but when executed got 0 entries.

Testplan screenshot:
![image](https://user-images.githubusercontent.com/84442963/163796304-6b7c9faf-af57-4b00-9c00-01e397a37091.png)

Execution logs and screenshot:
![Generated_CMD_MC_1_2](https://user-images.githubusercontent.com/84442963/163796519-46d608b6-5e9e-

[2022-04-18 10:45] manjunathambiger23 opened #17454 "[TC-MC-1.3] Attribute value mismatch"
Summary:
               As per testplan of [TC-MC-1.3] attribute AcceptedCommandList and GeneratedCommandList got value mismatch when executed
1. AcceptedCommandList got list [0] instead of [0,1,2]
2. GeneratedCommandList got list [ ] 0 entries instead of [ 3]

Testplan screenshot:
![image](https://user-images.githubusercontent.com/84442963/163797238-f86a0879-8d86-4e0c-9675-d336ddea3c61.png)

Exec

[2022-04-18 10:52] manjunathambiger23 opened #17455 "[TC-MC-1.7] GeneratedCommandList value mismatch"
Summary:
                As per testplan of TC-MC-1.7 GeneratedCommandList attribute value mismatch when executed got list of 0 entries instead of [10].

Testplan screenshot:
![image](https://user-images.githubusercontent.com/84442963/163798096-239f3959-5e73-4850-bf0e-756e8b924ece.png)

Execution screenshot:
![MC7_GCL](https://user-images.githubusercontent.com/84442963/163798184-f3b63aab-11a9-420c

[2022-04-18 10:57] pankore opened #17456 "ColorTemperatureMireds range is wrong"
#### Problem
* According to spec, the ColorTemperatureMireds should be ranging from 0 to 0xfeff
* Also from spec, actual color temperature = 1000000 / ColorTemperatureMireds
* However, running `./chip-tool colorcontrol move-to-color-temperature 256 0 0 0 1234 1` will make the color temperature loop over to 0
* It is changing the color temperature attribute instead of ColorTemperatureMireds. Relate

[2022-04-18 11:02] manjunathambiger23 opened #17457 "[TC-MC-1.8] (Audio Output cluster ) attribute value mismatch"
Summary:
              As per testplan [TC-MC-1.8] AttributeList , AcceptedCommandList and GeneratedCommandList got value mismatch error when executed.
1. AttributeList expected value [0,1,65528,65529,65531,65532,65533] but got [0,1,65528,65529,65531,65533]
2. AcceptedCommandList expected value [0] but got [0,1]
3. GeneratedCommandList expected value [1] but got [ ] 0 entries

Testplan screenshot:

[2022-04-18 11:06] manjunathambiger23 opened #17458 "[TC-MC-1.9] (Target Navigator cluster) attribute value mismatch"
Summary:
As per testplan of TC-MC-1.9 GeneratedCommandList attribute got value mismatch error when executed , expected value [1]
 but got [ ] 0 entries
Testplan screenhot:
![image](https://user-images.githubusercontent.com/84442963/163799561-8585cf5e-050d-4104-a19c-904b67de30e7.png)

Execution log and screenshot:
![MC19_GCL](https://user-images.githubusercontent.com/84442963/163799817-07ee09ba-c3e

[2022-04-18 11:24] kghost commented on #17450
I found this problem when solving #17440

Also I need to know whether the session is resumed or not, I'm rewriting state of CASE session to make it more clear.

[2022-04-18 12:09] kowsisoundhar12 commented on #15842
this is not an issue and  created wrongly ,hence closing this ticket

[2022-04-18 12:09] #15842 closed

[2022-04-18 12:20] manjunathambiger23 opened #17459 "[TC-MC-1.10] (Application Basic cluster) attribute value mismatch"
Summary:
As per testplan of TC-MC-1.10 GeneratedCommandList attribute got wrong response value, got [ ] 0 expected value [2].

Testplan screenshot:
![image](https://user-images.githubusercontent.com/84442963/163807141-81ebc027-4674-44db-bab1-1b37a42e775e.png)

Execution screenshot:
[MC10_GCL.txt](https://github.com/project-chip/connectedhomeip/files/8505586/MC10_GCL.txt)
![MC10_GeneratedCL](https:

[2022-04-18 12:33] manjunathambiger23 opened #17460 "[TC-MC-1.11] (Content Launcher cluster) attribute value mismatch"
Summary:
As per testplan TC-MC-1.11 AcceptedCommandList and GeneratedCommandList attribute showing value mismatch error when executed
1. AcceptedCommandList expected value [0] but got [0,1].
2. GeneratedCommandList expected value [1] but got [ ] 0 entries.

Testplan screenshot:
![image](https://user-images.githubusercontent.com/84442963/163808050-6f43eebf-30dd-452f-b274-f81f16b8ba6d.png)

Executio

[2022-04-18 12:39] ghost opened #17461 "[TC-MC-1.12] (Account Login cluster) attribute value mismatch"
Summary:
As per testplan TC-MC-1.12 AcceptedCommandList and GeneratedCommandList attribute got value mismatch error when executed
1.AcceptedCommandList expected value [0,2,3] but got [0
2.GeneratedCommandList expected value [1] but got [0]

Testplan screenshot:
![image](https://user-images.githubusercontent.com/84442963/163809225-a917600c-300a-4044-a670-8a1a8c75c934.png)

Execution screenshot:
![M

[2022-04-18 12:48] manjunathambiger23 opened #17462 "[TC-RH-1.1] Relative Humidity cluster AttributeList attribute value mismatch"
Summary:
As per testplan TC-RH-1.1 AttributeList showing value mismatch error when executed .
expected value [0,1,2,3] but got more than that.

Testplan screenshot:
![image](https://user-images.githubusercontent.com/84442963/163810493-a2511f5b-8bc1-49ec-ab3d-1e9a7a15184f.png)

Execution logs:
![RH_AttributeList](https://user-images.githubusercontent.com/84442963/163810532-b7681b5d-7874-4f0c-8b6b-c

[2022-04-18 12:52] manjunathambiger23 opened #17463 "[TC-TM-1.1] Temperature Mesurement cluster AttributeList attribute value mismatch"
Summary:
As per testplan TC-TM-1.1 AttributeList showing value mismatch error when executed .
expected value [0,1,2,3] but got more than that.

Testplan screenshot:
![image](https://user-images.githubusercontent.com/84442963/163810878-dc1a094b-b426-4d1d-9a1f-947ac5d21937.png)

Execution screenshot:
![TM_AttributeList](https://user-images.githubusercontent.com/84442963/163810912-dd891fef-8d20-4e23-

[2022-04-18 13:17] manjunathambiger23 opened #17464 "[TC-TSUIC-1.1] "Thermostat User Interface Configuration" cluster attribute value mismatch"
Summary:
As per testplan TC-TSUIC-1.1 AttributeList showing value mismatch error when executed.
expected value [0,1,2] but got more than that.

Testplan screenshot:
![image](https://user-images.githubusercontent.com/84442963/163813678-6cd1fc15-87ff-49a8-a988-5585303070f4.png)

Execution logs:
![Tsuic_1AL](https://user-images.githubusercontent.com/84442963/163813716-23c7c1f4-9cbe-4b16-a80a-29bc0c47

[2022-04-18 15:40] bzbarsky-apple commented on #17390
Are the time stamps in that "dns adv" log correlated with the device logs?  Doesn't seem to me like they are.  It would be useful to have a coherent set of logs from a single comissioning failure attempt.

Looking at the chip-tool log this is the relevant bit, as far as I can tell:
[code]
So interesting questions:
1. Why "Operational node lookup already in progress."?  Where did that come from?  A

[2022-04-18 15:49] bzbarsky-apple commented on #17432
Yes, the media stuff is not really hooked up in all-clusters-app...

[2022-04-18 16:48] #16570 closed

[2022-04-18 16:49] #15794 closed

[2022-04-18 16:50] #16107 closed

[2022-04-18 17:12] bzbarsky-apple commented on #17445
We can't use PRIx64 on devices....  not all libcs support it.

[2022-04-18 17:24] bzbarsky-apple commented on #17456
I can't reproduce this problem....  Specifically, if I run the following commands after commissioning a node running chip-all-clusters-app with node id 1234:
[code]
I see a color temperature of 0 after the first read and 256 after the second read.  @pankore Is it possible you were testing with the on/off bits set to off?

[2022-04-18 17:29] bzbarsky-apple commented on #16552
@manjunathambiger23 Is the response still UNSUPPORTED_CLUSTER?

Which _exact_ commands are being run on which exact SHA on which exact example apps?

[2022-04-18 17:32] bzbarsky-apple commented on #16397
Fixed in #17307.

[2022-04-18 17:32] #16397 closed

[2022-04-18 19:26] bzbarsky-apple opened #17468 "Some remaining session resumption issues"
#### Problem
#17153 was closed without addressing all the issues it mentions.  Remaining:
* [ ] The storage situation is a bit odd: we are storing fabric-specific state in global across-fabrics buckets/ Ideally we would store all this under per-fabric keys.
* [ ] The state for a fabric is not cleaned out when the fabric is removed. This is probably OK because in practice it will just get ignored w

[2022-04-18 19:31] bzbarsky-apple commented on #17244
OK.  Can you step through in a debugger on the CASE responder and see what's actually going on?  What does the fabric table look like?

[2022-04-18 19:50] #16990 closed

[2022-04-18 19:50] #17104 closed

[2022-04-18 19:50] #17105 closed

[2022-04-18 21:18] bzbarsky-apple opened #17471 "MRP failures trying to commission all-clusters-app on m5stack"
#### Problem
Steps to reproduce:
1. Check out ToT (or revision 06c6e06db94e9ee4d7112564cca3eeffc7124afa if desired).
2. Compile chip-all-clusters-app for m5stack and flash it.
3. Compile chip-tool (`scripts/examples/gn_build_example.sh examples/chip-tool out/debug/standalone/` or equivalent)
4. Run `chip-tool pairing ble-wifi ${NODE_ID} ${SSID} ${PASSWORD} 20202021 3840

Expected results: no error

[2022-04-18 21:20] mrjerryjohns commented on #16641
1. Yes, only fabric-scoped lists.
2. One fabric can keep writing to a fabric-scoped list, preventing another fabric from writing to that list (with current code) till the first one is complete.

[2022-04-18 21:32] bzbarsky-apple commented on #17471
So on the client side we send the Sigma3 at monotonic time 3597350996 and then do the resends at:
[code]
which are ~300ms, ~300ms, and ~400ms apart previous message.  Then we decide the message has failed:
[code]
We then eventually get the acks and treat them as unsolicited messages.  We don't log timestamps on those, but it's after we send the message with message counter 2794651822, which happen

[2022-04-18 21:56] bzbarsky-apple commented on #15522
@sowmyassp Why are you expecting "cluster-specific-error (0x02)" and for which cluster, exactly?  This is failing in PASE session setup, before any cluster commands get a chance to be sent.

[2022-04-18 21:58] bzbarsky-apple commented on #17162
Duplicate of #16748

[2022-04-18 21:58] #17162 closed

[2022-04-18 22:24] nivi-apple opened #17475 "Enhance the bridge app to be able to add/remove accessories to the bridge"
#### Problem
Currently there is no UI support on the m5 stack for the bridge app. We need to enhance the open source bridge app to add support for UI on the m5 stack. WE also need to provide options to add or remove endpoints (that make up the bridge) from the UI on the m5 stack. In addition there should be support to control the accessory For. example toggle a light using the UI on the m5 stack

[2022-04-18 23:02] yufengwangca commented on #14590
It indicates we have memory leak

[2022-04-18 23:06] cjandhyala commented on #15522
@bzbarsky-apple There is an interesting bug here, with ToT (375fff343430f07df3ea01d211cbf45c6ac10fea) after 15 consecutive failed attempts to establish PASE i.e. 2nd admin tries to establish PASE with wrong passcode for 15 times, the accessory is not trying to establish PASE session from 16th attempt onwards. Once accessory (raspi running all-cluster-apps) in this state , even the 1st admin can no

[2022-04-18 23:32] kghost opened #17476 "SessionManager test-only API improvement."
#### Problem
Following up of issue #17411

* [ ] Use a macro define to guard test-only API: `SessionManager::InjectPaseSessionWithTestKey` and `SecureSessionTable::CreateNewSecureSessionForTest`
* [ ] Add test-only API to inject a CASE session into session manager.

[2022-04-18 23:47] bzbarsky-apple commented on #15522
@cjandhyala Please report a separate issue for that with steps to reproduce, @-mention me and I will take a look.

[2022-04-19 01:26] phonnakasturi-apple opened #17477 "Thread accessory (Nordic board) issue - Randomly OnOff Toggle throws Timeout error after successful pairing"
Using the SHA b4e425755d76efcaee1ebd0f82d5aac34c842474

Upon successful pairing of thread accessory (nordic board), toggle command throws Timeout error randomly.
This issue was encountered twice.

**Steps to reproduce;**

1. Compile and flash thread accessory (nordic board)

2. Compile CHIPTool cli as follows
cd connectedhomeip
source scripts/bootstrap.sh
source scripts/activate.sh
gn gen out/debu

[2022-04-19 01:41] phonnakasturi-apple opened #17478 "Timeout error is observed randomly while pairing thread accessory (Nordic board)"
Using the SHA https://github.com/project-chip/connectedhomeip/commit/b4e425755d76efcaee1ebd0f82d5aac34c842474

While executing stress tests-> pairing with thread accessory, randomly pairing fails with Timeout error.
This issue was encountered twice.

**Steps to reproduce;**

1. Compile and flash thread accessory (nordic board)

2. Compile CHIPTool cli as follows
cd connectedhomeip
source scripts/b

[2022-04-19 01:59] #17301 closed

[2022-04-19 02:01] phonnakasturi-apple opened #17479 "Segmentation failure occurs after Timeout issue (#17478) while pairing thread accessory (Nordic board)"
Using the SHA https://github.com/project-chip/connectedhomeip/commit/b4e425755d76efcaee1ebd0f82d5aac34c842474

While executing stress tests-> pairing with thread accessory, segmentation error is thrown soon after Time out issue #17478
This issue was observed twice and both the times it followed Timeout error mentioned in the issue #17478

**Steps to reproduce;**

1. Compile and flash thread access

[2022-04-19 03:02] kowsisoundhar12 opened #17480 "[TC-BOOL-1.1]-AttributeList Value Mismatch"
Summary:
Executed TC-BOOL-1.1 Testscript as per latest testplan but getting Attribute List value mismatch error

Note:
Expected value is [0] but instead of that got  [0,65528,65529,65531,65533] value response

Testplan screenshot:
![Bool-1-1](https://user-images.githubusercontent.com/57476670/163911672-7adf9ac6-db1d-4ced-81a9-c2bc4a8be7ea.png)
Error Screenshot:
![Screenshot from 2022-04-18 14-08-2

[2022-04-19 03:08] kowsisoundhar12 opened #17481 "[TC-I-1.1]-AttributeList Value Mismatch"
Summary:
Executed TC-I-1.1 Testscript as per latest testplan but getting Attribute List value mismatch error

Note:
Expected value is [0,1] but instead of that got [0,1,65528,65529,65531,65533] value response

Testplan Screenshot:
![TC-I-1-1](https://user-images.githubusercontent.com/57476670/163912355-3272249e-7e85-4ddb-a751-5445c3f43162.png)

Error screenshot:
![Screenshot from 2022-04-18 14-08-

[2022-04-19 03:15] kowsisoundhar12 opened #17482 "[TC-ILL-1.1] AttributeList Value Mismatch"
Summary:
Executed TC-ILL-1.1 Testscript as per latest testplan but getting Attribute List value mismatch error

Note:
Expected value is [0,1,2,3,4] but instead of that got [0,1,2,3,4,65528,65529,65531,65533] value response

TestPlan Screenshot:
![testplan](https://user-images.githubusercontent.com/57476670/163912954-b27d74fb-97fe-4d9b-89c4-75338622dbcd.png)

Error Screenshot:
[ILL-1-1-Attribute-li

[2022-04-19 03:55] kowsisoundhar12 opened #17483 "FeatureMap Attribute is not present in following clusters"
Feature Map global attribute is not present in following Clusters:

1.Identify Cluster
2.lluminance Measurement Cluster
3.Color Control Cluster
4.Flow Measurement Cluster
5.Occupancy Sensing Cluster
6.Pressure Measurement Cluster
7.Boolean State Cluster

[I-1-1-attribute-missing.zip](https://github.com/project-chip/connectedhomeip/files/8509699/I-1-1-attribute-missing.zip)
[ILL-1-1-Attribute-missi

[2022-04-19 04:18] kowsisoundhar12 opened #17484 "AcceptedCommandList, GeneratedCommandList Attributes are not present in following clusters"
AcceptedCommandList, GeneratedCommandList Attributes are missing in following cluster:
1.Pressure Measurement Cluster
2.Thermostat Cluster
![Screenshot from 2022-04-18 16-36-18](https://user-images.githubusercontent.com/57476670/163919175-7acb7d24-da77-482e-9a7e-8f6426953d50.png)
![Screenshot from 2022-04-18 16-53-45](https://user-images.githubusercontent.com/57476670/163919179-429b5519-c7d4-4fae-

[2022-04-19 04:25] mrjerryjohns opened #17485 "Add support for multiple fabrics to the `TestContext`"
#### Problem

`TestContext` today doesn't support multiple fabrics. Add that capability to unblock multi-fabric testing in functional unit-tests.

[2022-04-19 05:11] pankore commented on #17456
Thank you. I will close this issue.

[2022-04-19 05:11] #17456 closed

[2022-04-19 05:12] yunhanw-google opened #17486 "de-duplicate non-wildcard concrete attribute paths in the original request in server side"
#### Problem
Follow the IM spec change, https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5109/files#diff-e8d698db8e1253e2a2964c405ee706a84c26244588449809c9292c1b991007f2R491, deduplicate the concrete attribute path if that path is part of existing wildcard paths in server side.

[2022-04-19 05:33] #16555 closed

[2022-04-19 05:44] chshu opened #17487 "Enable softap commissioning"
#### Problem
The softap commissioning was implementated at the beginning, but not well maintained for a while, and it's not part of SDK 1.0 planning.

Recently we saw some requests from customers who want to try the softap commissioning:
1. Some resource constrained SoC can't run Wi-Fi and BLE stacks simultaneously;
2. Some customers want to integrate Matter and other protocols, and prefer to use

[2022-04-19 06:26] manjunathambiger23 commented on #16552
@bzbarsky-apple the response is: expected to be null but isn't
![image](https://user-images.githubusercontent.com/84442963/163939295-e3217b34-bf5a-40f8-8408-cdc86b7b4d7f.png)
[exe_log.txt](https://github.com/project-chip/connectedhomeip/files/8510393/exe_log.txt)

[2022-04-19 06:30] #14750 closed

[2022-04-19 06:35] sowmyassp commented on #15522
@bzbarsky-apple I have already raised the ticket for the issue mentioned by chaitanya, here is the ticket

https://github.com/project-chip/connectedhomeip/issues/17167

[2022-04-19 06:53] sowmyassp commented on #17167
@bzbarsky-apple Can you please take a look at this issue

[2022-04-19 07:06] #16761 closed

[2022-04-19 07:25] #16138 closed

[2022-04-19 07:26] Survensa commented on #16220
@andy31415
Application : Lightining App
Platform : Thread (nrf)

[2022-04-19 07:27] Survensa commented on #16866
The issue has been resolved in latest SHA

[2022-04-19 07:27] #16866 closed

[2022-04-19 07:31] #13870 closed

[2022-04-19 07:37] bluebin14 commented on #17445
Closing as per above.

[2022-04-19 07:37] #17445 closed

[2022-04-19 07:50] Survensa commented on #17376
Verified with the commit `20e1a4a705770d5222a8ebf04e12ab2ce0304df6`

[2022-04-19 07:50] #17376 closed

[2022-04-19 09:15] Sivaramgrl commented on #15782
Thanks for sharing the input @erjiaqing,
Based on your comments, I worked on the Networks commissioning cluster commands
Below is my observation:

### Used Commit id:
commit 87938704ed93dde93e960605ae6a714923efa2e0
Date:   Mon Apr 18 18:59:53 2022 -0700

### Steps followed:
before the failsafe timeout, I send the add or update network request message.

### Output:
As the sequence is executed befor

[2022-04-19 09:15] #15782 closed

[2022-04-19 09:36] Sivaramgrl commented on #15780
@erjiaqing,
### commit id:
commit 87938704ed93dde93e960605ae6a714923efa2e0
Date:   Mon Apr 18 18:59:53 2022 -0700

### Issue:
We could not execute the scan-networks command in EP0 & EP1.
As scan-networks command is not having any argument as per spec. ( SSID & Breadcrumb)
So we could not able to validate the issue.

### Inputs:
the Rpi's are connected via WiFi. Commissioning is on EP0.
Once the sc

[2022-04-19 09:42] Sivaramgrl commented on #17101
As per the discussion on the Weekly Test plan call.
The Test plan is updated with Global elements on the attribute-list.
by raising the PR - [1063](https://github.com/CHIP-Specifications/chip-test-plans/pull/1063)
Now the PR is approved and merged into masters.
So I am closing this issue.

[2022-04-19 09:42] #17101 closed

[2022-04-19 09:43] lazarkov commented on #15566
Addressed in:
https://github.com/project-chip/connectedhomeip/pull/17473

[2022-04-19 09:47] sethunk commented on #17392
@jrhees-cae , I see that the following command sets are not for !USR

- Unlock with Timeout command
- Get Log Record, Get Log Record Response Command
- Set Holiday Schedule, Get Holiday Schedule, Get Holiday Schedule Response , Clear Holiday Schedule
- Operation Event Notification Command
- Programming Event Notification Command

[2022-04-19 09:52] Sivaramgrl commented on #17106
Thanks for sharing the input @erjiaqing,
Based on your comments, I worked on the Networks commissioning cluster commands
Below is my observation:

Used Commit id:
commit https://github.com/project-chip/connectedhomeip/commit/87938704ed93dde93e960605ae6a714923efa2e0
Date: Mon Apr 18 18:59:53 2022 -0700

Steps followed:
before the failsafe timeout, I send the add or update network request message wi

[2022-04-19 09:52] erjiaqing commented on #15780
INVALID_COMMAND is throwed before any cluster logic, so I guess the DUT is invoked with wrong command line arguments.

Could you try to read the FeatureMap bits from the network commissioning cluster? I cannot found logs realted to wpa_supplicant from the DUT, when wifi is enabled, wpa_supplicant should be initialized during starting up,

Please ensure the all-cluster-apps is executed with `--wifi

[2022-04-19 09:55] Sivaramgrl commented on #17160
### Used Commit id:
commit https://github.com/project-chip/connectedhomeip/commit/87938704ed93dde93e960605ae6a714923efa2e0
Date: Mon Apr 18 18:59:53 2022 -0700

### Steps followed:
before the failsafe timeout, I send the add or update network request message.

### Output:
As the sequence is executed before failsafe timeout, I was able to get the response as expected.
Confirmed the output by readin

[2022-04-19 09:55] #17160 closed

[2022-04-19 09:59] Sivaramgrl commented on #17272
Thanks for sharing the input @erjiaqing,
Based on your comments, I worked on the Networks commissioning cluster commands
Below is my observation:

### Used Commit id:
commit https://github.com/project-chip/connectedhomeip/commit/87938704ed93dde93e960605ae6a714923efa2e0
Date: Mon Apr 18 18:59:53 2022 -0700

### Steps followed:
before the failsafe timeout, I send the add or update network request me

[2022-04-19 09:59] #17272 closed

[2022-04-19 10:13] Survensa opened #17493 "[SQA]- Thread-Getting 0x87 error code instead of 0x85"
**Problem:**
While executing the (TC-MOD-2.1) Verification Step 3 expects 0x85 as error response code but getting 0x87.

**Expected behavior:** 0x85 ( INVALID_COMMAND)

**Actual behavior:** 0x87 (CONSTRAINT_ERROR)

**Steps to reproduce:** `./chip-tool modeselect change-to-mode 2 51 1`

**Platform:** Thread All-clusters-app

**CommitID** used: 20e1a4a705770d5222a8ebf04e12ab2ce0304df6

**Reference:*

[2022-04-19 10:17] somu1710 commented on #16829
fixed in the latest master branch commit.

[2022-04-19 10:17] #16829 closed

[2022-04-19 10:24] manjunathambiger23 opened #17495 "Need YAML support to get the manufacturer specific event IDs"
Summary:
As per testplan AttributeList need to verify manufacturer specific event IDs how do we verify this in YAML.

Testplan screenhot:
![image](https://user-images.githubusercontent.com/84442963/163983877-b28b3d33-fd14-4b9f-a113-1b806060ee41.png)

[2022-04-19 10:44] somu1710 commented on #12190
Relative humidity still throws a old cluster revision value as 2

[2022-04-19 10:46] Sivaramgrl commented on #17203
@erjiaqing & @Survensa,

### With the commit id :
commit 87938704ed93dde93e960605ae6a714923efa2e0
Date:   Mon Apr 18 18:59:53 2022 -0700
Now we can verify these test cases [TC-NC-2.5 & TC-NC-2.6] which are changed as [TC-DM-4.5 & TC-DM-4.6]

### Observation:
I can see the DUT responds with UNSUPPORTED_ACCESS when the Network commissioning cluster commands are sent after the failsafe timeout.

###

[2022-04-19 11:12] somu1710 commented on #15639
Then in the case optional attributes no need to verify? we have to verify the optional attributes also because other than this some clusters verifying optional attribute also

[2022-04-19 11:24] Survensa opened #17498 "[SQA]-Thread Attributes fails to return the value within the expected range in (TC-TM-2.1)."
**Problem:**
While executing the (TC-TM-2.1), MeasuredValue, MinMeasuredValue and MaxMeasuredValue Attributes are fails to return the value within the expected range, and currently the chip-tool produces the "null" response.

**Expected behavior:**  Value should be in the range of -27315 and 32767

**Actual behavior:**  Value as "Null"

**Steps to reproduce:**  `./chip-tool temperaturemeasurement

[2022-04-19 12:08] Rajashreekalmane opened #17500 "[TC-IDM-2.2]While verifying Read Request Message to the DUT from TH to read any attribute to an unsupported node throws an invalid error instead UNSUPPORTED_NODE(0x9B)"
#### Problem
As per Test-Plan test step 13  While verifying Read Request Message to the DUT from TH to read any attribute to an unsupported node throws an Run command failure instead UNSUPPORTED_NODE(0x9B).

 * Expected behavior:-UNSUPPORTED_NODE(0x9B)
 * Actual behavior:- Run command failure: ../../third_party/connectedhomeip/src/lib/address_resolve/AddressResolve_DefaultImpl.cpp:174: CHIP Error

[2022-04-19 12:40] Rajashreekalmane opened #17501 "[TC-IDM-3.2]-SDK support required to set endpoint as null."
Test Case ID:-
[TC-IDM-3.2] Write Response Action from DUT to TH

Problem:-
As per Test-Plan, test step 21 says "TH sends the Write Request Message to the DUT to modify the value of one attribute on a given cluster and endpoint to null". Do we have the SDK developed to support these steps?

Test-Plan Reference:-
https://github.com/CHIP-Specifications/chip-test-plans/blob/master/src/interactiondata

[2022-04-19 13:07] andy31415 commented on #16096
@sowmyassp - could you describe the reason and use of this printout (likely subset of the actual test case description)?

Release builds of devices (such as devices being certified) would not get access to logs so having tests rely on logs and their content does not seem the best way, however I am not convinced we have an ideal way either. Is there a requirement for certified devices to have loggi

[2022-04-19 13:34] Survensa opened #17503 "[SQA] TC-DM-4.4 DUT fails to send "ScanNetworksResponse" command to the TH"
**Issue** :  ScanNetworks command for listing all available WiFinetworks within the range fails

**Referance** : https://github.com/CHIP-Specifications/chip-test-plans/blob/master/src/devicemanagement.adoc#test-procedure-14

**Commit used** : 20e1a4a705770d5222a8ebf04e12ab2ce0304df6

**Platform** : RPI ( ble-wifi )

**Expected outcome**:

[code]

**Actual outcome** :

[code]

**Error log** :

[TC_

[2022-04-19 13:40] #17203 closed

[2022-04-19 14:41] Survensa opened #17505 "[SQA]-Thread Missing command in Generated-command-list for (TC-DM-1.3)"
**Problem:**
In  (TC-DM-1.3) GeneratedCommandList - 5 (NetworkConfigResponse) is missing, But it is found in AcceptedCommandList .

Also in AcceptedCommandList -2 (AddOrUpdateWiFiNetwork) is found, Which is an command for WiFi network. So the command **2** (AddOrUpdateWiFiNetwork) and **5** (NetworkConfigResponse)  should be removed from AcceptedCommandList.

**Platform:**  Thread

**CommitID** us

[2022-04-19 14:52] andy31415 commented on #17106
@Sivaramgrl - what platform is the DUT here?

I would make a difference here between RPI (linux - full platform) and any other actual embedded devices. Trying to asses severity - if linux does not report connected it does not a v1 blocking issue.

[2022-04-19 14:58] manjunathambiger23 opened #17510 "Keypad Input cluster showing failure response for Endpoint 1"
Summary:
Keypad Input cluster:  showing :" 0xc3 (UNSUPPORTED_CLUSTER) " response for endpoint "1" when executed.

Testplan screenshot:
![image](https://user-images.githubusercontent.com/84442963/164033648-2b35e4c0-92a0-4650-9bcd-ae363ed532e6.png)

Execution screenshot:
![image](https://user-images.githubusercontent.com/84442963/164034260-208429c8-db97-4176-8309-d6ef2bc5deae.png)
[exe_log.txt](http

[2022-04-19 15:16] bzbarsky-apple commented on #14590
Per Slack discussion, @yufengwangca found that `ReleaseObject` on the heap object pull unconditionally defers the deletion of the node even if we're not in the middle of iteration (i.e. even if `mIterationDepth` is 0).  For pools that never get iterated, or that don't ever do `ReleaseObject` from inside iteration, this ends up leaking the nodes...

[2022-04-19 15:28] jrhees-cae commented on #17392
That's correct. However please also check other commands, such as get log
record. They are for LOG which I believe is only for ZigBee and not for
Matter.

Jon

On Tue, Apr 19, 2022, 5:47 AM sethunk ***@***.***> wrote:

[2022-04-19 15:34] emargolis opened #17511 "Generate Test Vectors for Device Attestation Flow Testing"
#### Problem
Need to generate test vectors for positive and negative testing of Device Attestation flow when Commissioner is DUT.

related to #14395, #14397, #14399

 #### Proposed Solution
Use `chip-cert` tool to generate these test vectors.
Proposed groups of test vectors:
  * PAI Certificate Structural errors
  * DAC Certificate Structural errors
  * CD Structural errors
  * Validation flow err

[2022-04-19 15:35] jrhees-cae commented on #17392
See the 'Element Requirements' section at
https://github.com/CHIP-Specifications/connectedhomeip-spec/blob/master/src/device_types/DoorLock.adoc

Jon

On Tue, Apr 19, 2022, 11:28 AM Jon Rhees ***@***.***> wrote:

[2022-04-19 15:52] bzbarsky-apple commented on #17479
@phonnakasturi-apple Is it possible to run under lldb and get a stack trace?

[2022-04-19 15:53] bzbarsky-apple commented on #17478
Looks like the server never responded to the Sigma1 message....  @phonnakasturi-apple Did we resolve the right IP for this server, do you know?

[2022-04-19 17:13] cecille opened #17515 "Move breadcrumb attribute to attribute store."
#### Problem
Breadcrumb attribute was stored in the config manager originally, but should be moved over to use the attribute store.

 #### Proposed Solution
Change code to use attribute store, remove from config manager.

[2022-04-19 17:18] turon commented on #17471
TL;DR: CASE ultimately succeeds, but sends excessive retries and logs those message failures as warnings.
Standalone acks may be getting blocked by crypto work for some reason.

[2022-04-19 17:36] bzbarsky-apple commented on #17471
The reason being that the crypto work happens on the thread that messages are sent/received on...

[2022-04-19 17:37] bzbarsky-apple commented on #17471
Maybe we should have manual FlushAcks calls before we go off into the long-running crypto bits when handling sigma2/sigma3?  Or can we put those crypto bits off on a separate thread?

[2022-04-19 17:40] #16089 closed

[2022-04-19 17:42] cecille commented on #14357
Added as a separate callback in https://github.com/project-chip/connectedhomeip/pull/16882. Also includes status callbacks.

[2022-04-19 17:42] #14357 closed

[2022-04-19 17:43] bzbarsky-apple commented on #16552
The spec for PHYRate says:
[code]
It's coming back as "5", which is "Rate10G".

Why are you expecting null?  Is the interface in question in fact "not configured or operational"?  What is the _exact_ server setup?

[2022-04-19 17:46] cecille commented on #14325
We did find a race condition in the darwin tests, which was fixed in this commit: https://github.com/project-chip/connectedhomeip/pull/16882/commits/9388830c98918d6410d9a633bf2083715b4eea46. This looks like what would happen. As we have a potential fix, and there has been no activity on this bug for some time, I am closing this. Please re-open or start a new issue if this re-occurs.

[2022-04-19 17:46] #14325 closed

[2022-04-19 18:04] cecille commented on #8000
@andy31415 - I had an issue opened for this. I think you've done this already? I know you were working on it. If so, would you mind closing this.

[2022-04-19 18:10] bzbarsky-apple commented on #17167
I am seeing this fail after 15 failed attempts, but definitely seeing it fail.  What happens is that in `CommissioningWindowManager::HandleFailedAttempt` the call to `AdvertiseAndListenForPASE` fails.

And that fails because we fail to allocate a session in `PairingSession::AllocateSecureSession`.  And looking at the session pool:

1. It's a `BitmapObjectPool`, so is actually fixed-size.
2. The po

[2022-04-19 19:07] #13085 closed

[2022-04-19 19:13] bzbarsky-apple commented on #17167
Ah, this is because we have started allocating sessions up front, before we know pairing has been successful, and never clean them up afterward. Fix coming up.

[2022-04-19 19:39] bzbarsky-apple commented on #17515
Needed for spec compliance: this attribute is not supposed to persist across reboots.

[2022-04-19 19:55] yufengwangca commented on #14590
https://github.com/project-chip/connectedhomeip/pull/17516 Fix part of memory leak, I can see the increment became less with this fix, but it shows there is still memory leak in our stack.

[2022-04-19 19:57] bzbarsky-apple commented on #15522
Perfect, thank you.  The question remains: why is this issue expecting "cluster-specific-error (0x02)"?  @sowmyassp

[2022-04-19 21:24] cecille opened #17526 "Errors from the device are not handled correctly during commissioning"
#### Problem
There were a bunch of TODOs left in the code when the switch over to the new IM style was done. They basically mean that we dont' get errors.

 #### Proposed Solution
Fix the TODOs. They're actually pretty important and shouldn't have been left in the first place.

[2022-04-19 22:26] phonnakasturi-apple commented on #17479
@bzbarsky-apple Can you please let me know how to run thread accessory under lldb?

[2022-04-19 23:09] mrjerryjohns opened #17528 "Investigate addition of `DrainAndServiceIO` to `TestReadInteraction`"
#### Problem

As part of #17426, I had to add an extra `DrainAndServiceIO` call to `TestReadInteraction`. While the changes to `ReadHandler` in that PR may look substantial, the smallest delta to that PR that triggered the addition above was to add the following in `ReadHandler.cpp`:

[code]

[2022-04-20 01:33] erjiaqing commented on #17503
From the log

[code]

Seems you are sending this command to Endpoint 1

Network Commissioning cluster does not live on endpoint 1, since the device type of endpoint 1 does not support network commissioning cluster.

Please use endpoint 0

[2022-04-20 05:29] Survensa commented on #17503
@erjiaqing  Verified using both the endpoints 1 and 0 but  DUT fails to send ScanNetworksResponse

Attched log for your referance :

[code]

[2022-04-20 05:56] sowmyassp commented on #15522
For 20 unsuccessful attempt we are sending wrong passcode which makes PAKEParameterError ie.,(0x02) right? After that only pase session will be failed right.

[2022-04-20 06:16] Survensa commented on #17503
Hi @erjiaqing,
below are my observations on this issue.

### Observation:
1. DUT and TH are commissioned with EP0.
2. while executing the scan-networks command expected arguments are 4 ( SSID, Breadcrumb, NodeID and Endpoint)
3. But in Chip-tool the scan-networks command is accepting only 2 arguments ( NodeID and Endpoint)
4. As the Network commissioning is live on Endpoint 0 and commissioning is

[2022-04-20 06:35] erjiaqing commented on #17503
After checking the spec, and the code, this is an expected behavior.

ScanNetworks accepts a Nullable ssid (required field for WiFi endpoint) and a Optional breadcrumb.

The the correct request is sending a null ssid instead of missing ssid.

The code works fine with repl as the controller.

[code]

[2022-04-20 06:52] Survensa opened #17530 "[SQA] Thread NetworkingStatus value shows NetworkIDNotFound for Thread setup."
**Problem:**
In (TC-DM-4.10),(TC-DM-4.14),(TC-DM-4.21) the NetworkingStatus shows the value 3(NetworkIDNotFound) for the same network ID of the thread network .

**Expected behavior:**  networkingStatus: 0

**Actual behavior:**  networkingStatus: 3

**Steps to reproduce:** `./chip-tool networkcommissioning  remove-network 0119100899082022 62 0`

**Platform:** Thread

**CommitID** used : 20e1a4a705

[2022-04-20 07:34] #15566 closed

[2022-04-20 07:41] Survensa commented on #17503
Used the command :` ./chip-tool networkcommissioning scan-networks 1 0 --Ssid null --Breadcrumb 0`

We can able to get expected outcome as below :
[code]

[2022-04-20 07:41] #17503 closed

[2022-04-20 08:13] Survensa opened #17532 "[SQA] Thread In TC-RH- 1.1 the Cluster revision value is not matched with the expected outcome"
**Problem:**
In Relativehumidity testcase 1.1 (TC-RH-1.1), the "Cluster revision attribute" value must be 3 as per the spec.
But the actual outcome is 2. This needs to be fixed as per spec.

**Expected behavior:** cluster revision - 3

**Actual behavior:** cluster revision - 2

**Steps to reproduce:** `./chip-tool relativehumiditymeasurement read cluster-revision 82 1`

**Platform**:  Thread

**Co

[2022-04-20 08:50] Survensa commented on #17106
@Sivaramgrl Please close this issue

Verified the with the commit : 20e1a4a705770d5222a8ebf04e12ab2ce0304df6

Used the cmd : `./chip-tool networkcommissioning read networks 1 0`

Got the expected outcome :
[code]
Full log :
[TC_NC-4.1.txt](https://github.com/project-chip/connectedhomeip/files/8519871/TC_NC-4.1.txt)

[2022-04-20 09:15] Survensa opened #17533 "[SQA] Thread [TC-RH-2.1] Max-measured value doesn't match with the expected outcome of test plan."
**Problem:**
As per the testplan in testcases [ TC-RH-2.1 ], The value of Relative humidity needs to be verified in between 1 and 10000.

**Expected behavior:** max measured value: x (1- 1000)

**Actual behavior:** max measured value: 0

**Steps to reproduce:**`./chip-tool relativehumiditymeasurement read max-measured-value 82 1`

**Platform:**  Thread

**CommitID** used: 20e1a4a705770d5222a8ebf04

[2022-04-20 09:39] Survensa opened #17535 "[SQA] TC-DM-4.3 TH fails to read the Networks & InterfaceEnabled attributes from the DUT"
Issue : As per the test case TC-DM-4.3 step 7 & 8, TH should read the Networks attribute list and  InterfaceEnabled attribute from the DUT

Referance : https://github.com/CHIP-Specifications/chip-test-plans/blob/master/src/devicemanagement.adoc#test-procedure-13

Commit used : 20e1a4a705770d5222a8ebf04e12ab2ce0304df6
Platform : Ethernet (RPI)

Command used :

1. To read Networks attribute list - `

[2022-04-20 10:23] #17106 closed

[2022-04-20 11:02] Survensa opened #17544 "[SQA] TC-DM-4.13 Reorder Network command - can't be validated as Networks attribute holds only 1 entry."
#### Problem
The Networks attribute has 1 entry and user tries to add more entries with AddOrUpdateWiFi command, the DUT responds with NetworkingStatus as '2' (BoundsExceeded) in NetworkResponse. Due to which the Networks attribute holds only 1 entry.

In this case, Reorder Network command is send by setting NetworkIndex value as Eg:3. As Networks attribute has only 1 entry it's not possiable to s

[2022-04-20 11:36] PSONALl commented on #17390
Attaching logs again, strange but this time I am getting some different error logs, I have changed nothing using same HEAD:
[dns-responder.txt](https://github.com/project-chip/connectedhomeip/files/8521141/dns-responder-new.txt)
[chip-tool.txt](https://github.com/project-chip/connectedhomeip/files/8521143/chip-tool-new.txt)
[esp32.txt](https://github.com/project-chip/connectedhomeip/files/8521144/

[2022-04-20 11:49] Survensa opened #17547 "[SQA] Thread-Missing command in Generated-command-list for (TC-GC-1.1)"
**Problem:**
In (TC-GC-1.1) GeneratedCommandList - 3 (SetRegulatoryConfigResponse) is missing, But it is found in AcceptedCommandList .

So the command **3** (SetRegulatoryConfigResponse) should be removed from the AcceptedCommandList and add that in the GeneratedCommandList.

**Platform:** Thread

**CommitID** used: https://github.com/project-chip/connectedhomeip/commit/20e1a4a705770d5222a8ebf04e

[2022-04-20 12:39] Sivaramgrl commented on #15780
Thanks, @erjiaqing.
As per your comments in slack.
Now we can execute the command in EP0.

The scan-network command with EP1 DUT responds with a General error: 0xc3 (UNSUPPORTED_CLUSTER)

The scan-network command with EP0 DUT responds with the ScanNetworkResponse command

As I can verify the issue. I am closing this ticket.

Log for reference
[scan-networks_EP.txt](https://github.com/project-chip/

[2022-04-20 12:39] #15780 closed

[2022-04-20 14:46] Rajashreekalmane opened #17555 "[TC-MC-1.3]Global attribute -FeatureMap returns status code as 0x86 Error(unsupported attribute) Response."
#### Problem
Though the feature map attribute is implemented in Application Launcher
 cluster it throws an error code as 0x86(unsupported attribute).

 * expected behavior:-FeatureMap bitmap value
 * actual behavior:-0x86(unsupported attribute

* steps to reproduce:-./chip-tool applicationlauncher read feature-map 1 1

Test-Plan reference:-
https://github.com/CHIP-Specifications/chip-test-plans/bl

[2022-04-20 15:01] #9769 closed

[2022-04-20 15:01] #17112 closed

[2022-04-20 15:50] vivien-apple commented on #17501
```0xFFFF``` should be the value you are looking for. It maps to `null` in this case.

[2022-04-20 15:50] #17501 closed

[2022-04-20 16:03] vivien-apple commented on #16378
This error will not happens for real world device. This is because the `all-clusters-app` contains `TestCluster` which has special attributes that are made to fails when they are read.
For example if you do:
`./out/debug/standalone/chip-tool testcluster read cluster-error-boolean 0x12344321 1` you will notice the `IM Error 0x00000611: Cluster-specific error: 0x11` code that you are mentioning here

[2022-04-20 16:09] bzbarsky-apple opened #17558 "Use-after-free when expiring secure sessions"
#### Problem
The current setup we have for sessions is as follows:

1. `Session` has virtual `Retain`/`Release` methods.
2. These are no-ops for group and secure sessions.
3. `UnauthenticatedSession` uses the refcounting to manage its lifetime.
4. `SessionHandle` refcounts the session it's pointing to in its constructor/destructor.
5. `SessionHolder` refcounts the session it's pointing to and will

[2022-04-20 16:24] vivien-apple commented on #17312
@yunhanw-google Do you have any idea of what is going on ?

[2022-04-20 16:26] bzbarsky-apple commented on #15522
The only place where PAKEParameterError happens in the spec is incorrect input to the OpenCommissioningWindow command.

Wrong passcode for a PASE session attempt is not an OpenCommissioningWindow command...

[2022-04-20 16:28] #16766 closed

[2022-04-20 16:53] #16433 closed

[2022-04-20 16:53] #16428 closed

[2022-04-20 16:53] #16427 closed

[2022-04-20 16:53] #16426 closed

[2022-04-20 16:57] #16606 closed

[2022-04-20 16:57] #16672 closed

[2022-04-20 16:57] #16702 closed

[2022-04-20 16:57] #16716 closed

[2022-04-20 16:57] #16810 closed

[2022-04-20 16:57] #16656 closed

[2022-04-20 17:04] #17167 closed

[2022-04-20 18:24] bzbarsky-apple commented on #17390
OK.  So now the log shows that commissioning works fine.  The node is commissioned, discovered on the operational network at `192.168.165.58%en0:5540` (because the esp32 brings up this IP almost a second before it brings up IPV6 connectivity), a CASE session is established and we send `CommissioningComplete`, the `pairing ble-wifi` command completes correctly.

Now chip-tool tries to send the "on"

[2022-04-20 18:43] #16930 closed

[2022-04-20 20:07] bzbarsky-apple commented on #17479
The segmentation fault is in chip-tool, not the thread accessory.  So:
[code]
and then when it crashes:
[code]
to get the stack and:
[code]
to get some info about the topmost frame.

[2022-04-20 20:44] cecille commented on #17526
The DeviceCommissioner sends reports back to the CommissioningDelegate with statuses from each of the steps. However, on several of these steps, we ignore the actual return codes from the device and just assume that if the command was sent, it was successful. There are TODOs in the code to report these errors properly, but it was never done.

There are few functions with this TODO and the fix is f

[2022-04-20 20:45] mrjerryjohns commented on #16705
A condition that results in this error won't happen in the SDK today since we're not implementing proxies for 1.0 (that's the only place this could happen).

[2022-04-20 20:54] bzbarsky-apple commented on #17464
@manjunathambiger23 The test plan is wrong.  AttributeList always includes the global attributes.

[2022-04-20 20:55] bzbarsky-apple commented on #17463
@manjunathambiger23 The test plan is wrong. AttributeList always includes the global attributes.

[2022-04-20 20:55] #17463 closed

[2022-04-20 20:55] #17464 closed

[2022-04-20 21:00] bzbarsky-apple commented on #17459
@manjunathambiger23 "Application Basic" does not have any commands.  Please fix the test plan.

[2022-04-20 21:00] #17459 closed

[2022-04-20 21:02] bzbarsky-apple commented on #17460
This depends on the feature map of the cluster.  The generated command list must be `[2]`, but the accepted command list might be different things.  Please get the test plan fixed @manjunathambiger23

[2022-04-20 21:05] bzbarsky-apple commented on #17510
@manjunathambiger23 Is this being tested against an app (like tv-app) that actually supports this cluster?

[2022-04-20 21:16] bzbarsky-apple commented on #17480
The test plan (depending on how you read it) and test (definitely) is wrong: global attributes are always included in the list.

[2022-04-20 21:16] #17480 closed

[2022-04-20 21:31] mrjerryjohns opened #17568 "Add session eviction logic to CASE session management"
As part of the tenets outlined in #17298, support needs to be added to the management of sessions in the `SecureSessionTable` to properly do the following

1. Instead of `CreateNewSecureSession` failing if there are no slots available, it should evict the oldest session in the table with the following sorting criteria:
     i. A primary sort of all sessions based on time at which the session was e

[2022-04-20 21:40] mrjerryjohns opened #17569 "Update existing SessionHolders to shift to a newly established session atomically"
#### Problem

When a new session has been established to a peer and there are existing sessions to the same peer, we should 'atomically' shift any existing `SessionHolder`s over to the new session. This follows Tenet #3 in #17298.

This requires updating the existing `SessionDelegate` to add a new `OnSessionUpdated` API to swap out an old SessionHandle with a new one.

[2022-04-20 21:55] phonnakasturi-apple commented on #17477
Attaching the additional logs:

[additionalLogs-Nordictest.txt](https://github.com/project-chip/connectedhomeip/files/8525651/additionalLogs-Nordictest.txt)

[2022-04-20 22:01] mrjerryjohns commented on #17558
This is not viable, since we need to be able to forcibly evict a session and replace it with a new one as part of the LRU-scheme being implemented in #17298, specifically, Tenet #2.

I think we need to pivot away from viewing sessions as 'ref-counted', since that gives the impression that its lifetime is in some ways controlled and effected by the total number of active users of that session, and

[2022-04-20 22:10] lazarkov commented on #15460
[1650492581496] [94864:5804842] CHIP: [TOO] Endpoint: 1 Cluster: 0x0000_0509 Attribute 0x0000_FFFB DataVersion: 2125935106
[1650492581496] [94864:5804842] CHIP: [TOO]   AttributeList: 5 entries
[1650492581497] [94864:5804842] CHIP: [TOO]     [1]: 65528
[1650492581497] [94864:5804842] CHIP: [TOO]     [2]: 65529
[1650492581497] [94864:5804842] CHIP: [TOO]     [3]: 65531
[1650492581497] [94864:580484

[2022-04-20 22:10] #15460 closed

[2022-04-20 22:35] kghost commented on #17569
For a `SessionHolders` able to smoothly shift to the new session, It requires that the `SessionDelegate` explicitly support such shifting, for example, `ExchangeContext` is not eligible for such shift, becasue exchanges are bound to a session.

For an delegate declare supporting the shift, it must use `SessionHolderWithDelegate` class, and override `OnSessionUpdated` callback, let it return `CHIP_

[2022-04-20 22:36] cjandhyala commented on #16096
@andy31415 The log lines requested are on the TH side but not DUT. TCs like https://github.com/CHIP-Specifications/chip-test-plans/blob/3bcd71e5bf2fe7ce7b143614f9b0ee89c9af2b16/src/devicediscovery.adoc#335-tc-dd-35-commissioning-flow---concurrent-dut---commissioner , require to verify every step of the commissioning flow. The only we can do that is by verifying the log lines in the TH to see if DU

[2022-04-20 22:43] mrjerryjohns commented on #17569
Those that do not permit a shift can choose to do what they want with the new session. For ExchangeContext, it should continue to hold on to the existing session since it cannot actually move to the new session by spec rules. An `OperationalDeviceProxy` however should be able to move over.

Do we even need to define an error return for this new `OnSessionUpdated` callback? I'd think it can just be

[2022-04-20 22:54] kghost commented on #17569
So delegate need to grab the new session inside `OnSessionUpdated` ? For example, it must implement this to support automatic shifting:

[code]

[2022-04-20 22:58] mrjerryjohns commented on #17569
Yup, that looks good.

[2022-04-20 23:45] bzbarsky-apple commented on #17558
That might still work, no?  It would only fail if the session we choose to evict has the property that after it's dropped from all the session holders (which we would notify about the session going away) it _still_ has outstanding references.  Which means there is a SessionHandle around somewhere pointing to it.  Since SessionHandle is only supposed to be used for stack temporaries, this would onl

[2022-04-21 00:09] bzbarsky-apple commented on #17477
@phonnakasturi-apple That looks like just the mdnsresponder log....

[2022-04-21 00:19] yufengwangca opened #17577 "Implement FanControl cluster server to implement the rules when the writable attributes are set"
#### Problem
<what's wrong or missing, please include any applicable:
 * expected behavior
 * actual behavior
 * steps to reproduce
 * system configuration
 * screenshots, images, logs, etc.

 #### Proposed Solution
<suggested fix, suggested enhancement>

[2022-04-21 02:10] phonnakasturi-apple opened #17579 "Removal of fabric causes crash on all cluster mac app"
**Steps to reproduce:**

cd connectedhomeip
source scripts/bootstrap.sh
source scripts/activate.sh
scripts/examples/gn_build_example.sh examples/all-clusters-app/linux out/debug chip_config_network_layer_ble=false
./out/debug/chip-all-clusters-app --discriminator 3841 --secured-device-port 5560 --KVS /tmp/chip_kvs_test

From iPhone ;
Launch CHIPTool app
Pair using the QR code
Unpair -> This will u

[2022-04-21 02:15] phonnakasturi-apple commented on #17477
Updated with the log files

[2022-04-21 02:16] phonnakasturi-apple commented on #17478
They were on the right network. If there is a specific command that needs to be executed then please ket me know, I can verify

[2022-04-21 03:33] bzbarsky-apple commented on #17478
@phonnakasturi-apple Well, the resolved IP was fdb0:a47c:fc46:0:9d1:9a28:c383:3c7 and it was on interface en7.

So checking whether `ping6 fdb0:a47c:fc46:0:9d1:9a28:c383:3c7` and `ping6 fdb0:a47c:fc46:0:9d1:9a28:c383:3c7%en7` work would be a good start.  Assuming the thread accessory still has the same IP...

If it does not have the same IP, and if this is somewhat reproducible, the next time this

[2022-04-21 03:56] bzbarsky-apple commented on #17477
Thank you, that's helpful.  So one of the failures starts inside the [ThreadAccessoryToggleErrorCLI-Log.txt](https://github.com/project-chip/connectedhomeip/files/8526755/ThreadAccessoryToggleErrorCLI-Log.txt) log at timestamp `1650490651932`:
[code]
and note that ~10 second lag between the "Checking node lookup status" line and the next line.  Pretty sure that this command uses a 10-second timeou

[2022-04-21 03:59] carol-apple opened #17585 "Support auto generation of optional arguments for yaml tests"
#### Problem
For tests ran in the test suites, cluster command arguments are passed in via the yaml file. There is a way to specify that an argument is optional by adding `isOptional : true`. Using the `Start` command of SystemCommands cluster as an example:

[code]

However, this translates to the generated Commands.h to call a particular cluster command function by not supplying the argument, ra

[2022-04-21 04:02] kghost commented on #17476
This is probably not possible because tests shares the same lib with normal builds

@bzbarsky-apple

[2022-04-21 04:11] bzbarsky-apple commented on #17477
Thank you.  So looking at [ThreadAccessoryToggleErrorCLI-Log.txt](https://github.com/project-chip/connectedhomeip/files/8526755/ThreadAccessoryToggleErrorCLI-Log.txt) I see:

1. `sudo ./out/debug/chip-tool pairing ble-thread 1` which fails to actually commission the device:
[code]
    but might _look_ like it successfully paired because it does not obviously throw any errors?
2. Two attempts to to

[2022-04-21 04:24] bzbarsky-apple commented on #17477
Looking at the first log in this issue, it has a similar thing going on.  It does not include the actual pairing command that was run, but then it has:
[code]
And indeed, if I look at the actual reads of the feature map in both those logs, I see:
[code]
for the failing cases and
[code]
for the success cases, which indeed corresponds to the WI and TH bits in the feature map.

[2022-04-21 04:31] bzbarsky-apple commented on #17477
@phonnakasturi-apple which exact example app (i.e. which path in the tree), built from which SHA is running on the Nordic board?  Is it `examples/all-clusters-app/nrfconnect` or something else?

And is it possible that there are other BLE things around (WiFi devices) using the same discriminator and passcode and we just picked up the wrong one as a result?

[2022-04-21 04:33] bzbarsky-apple commented on #17476
And yet `CONFIG_IM_BUILD_FOR_UNIT_TEST` works...  It's defined in the "standalone" build looks like, so maybe it depends on what one thinks a "normal build" is.

[2022-04-21 04:45] bzbarsky-apple commented on #17585
@vivien-apple

[2022-04-21 06:01] somu1710 commented on #12124
Problem:
  while executing testcase [TC-MOD-2.1] expected outcome is not matched with the result.

command used:
./chip-tool modeselect change-to-mode 2 1 1

Expected outcome:
INVALID_COMMAND (hex value 0x85/decimal 133)

Actual outcome:
 Error: IM Error 0x00000587: General error: 0x87

Reason:
Because we execute the support mode  attribute ,It should display the supporting modes values as 0,4 and

[2022-04-21 06:40] dhrishi commented on #17164
@sowmyassp Please confirm if it is working with the latest codebase on ESP32. I can successfully perform commissioning and cluster control using Linux chip-tool on latest head (4b4e035e15eab106e33a88eac6ffbe557d82e584)

[2022-04-21 06:53] #15251 closed

[2022-04-21 06:53] #15458 closed

[2022-04-21 06:53] #16523 closed

[2022-04-21 06:53] #17555 closed

[2022-04-21 07:12] tlykkeberg-grundfos commented on #11338
This should have been fixed with PR #17181

[2022-04-21 07:13] tlykkeberg-grundfos commented on #9903
I'm not quite sure here, what is meant by "implemented by the SDK"? Is it because the attributes are available in the all-clusters-app .zap file or some other .zap file?

[2022-04-21 07:16] Damian-Nordic opened #17587 "Extended discovery is enabled by default on"
#### Problem
Extended discovery is an optional feature but platforms enable it by default.

 #### Proposed Solution
Change the platform defaults to `disabled` and just enable it in examples to verify the build of the feature.

[2022-04-21 07:18] sowmyassp commented on #15522
@bzbarsky-apple  Yes then this ticket is valid for BCM test-cases and for ECM test-cases the output is correct (Pairing Failure: ../../third_party/connectedhomeip/src/controller/CHIPDeviceController.cpp:1336: CHIP Error 0x00000032: Timeout) right??

[2022-04-21 10:13] Survensa opened #17592 "[SQA] THREAD-In (TC-PS-2.1) SDK needs implementation on non-global Mandatory attributes."
**Problem:**
While Executing the  (TC-PS-2.1) non-global attributes of the power source cluster, few Mandatory attributes throws error code as 0x86(unsupported attribute).

**Attributes:**
[code]

**Expected behavior:** status 0x0

**Actual behavior:**  status = 0x86 (UNSUPPORTED_ATTRIBUTE)

**Platform:** Thread

**CommitID** used : 20e1a4a705770d5222a8ebf04e12ab2ce0304df6

**Reference:**   [Spec]

[2022-04-21 10:39] vivien-apple commented on #16430
This is the issue. You should not need to repair the device. Do I understand correctly and the device requires re-pairing wether or not there is an OTA update ?

[2022-04-21 10:44] Survensa opened #17594 "[SQA] THREAD In (TC-LO-1.1) the Attributelist command has the wrong Attribute-ID."
**Problem:**
 In TC-LO-1.1 the Attribute-list Command throws the values 1&2 as the output. But as per spec the Localization Configuration Cluster,  Attribute List has the **0** (ActiveLocale) & **1** (SupportedLocales).

**Expected behavior:**  AttributeList: 6 entries
[1650536674.536020][29894:29899] CHIP:TOO:     [1]: 0
[1650536674.536085][29894:29899] CHIP:TOO:     [2]: 1
[1650536674.536178][29

[2022-04-21 11:17] Survensa opened #17596 "[SQA]-THREAD In (TC-LO-2.1) Supported-locals has no entries."
**Problem :**
While executing the TC-LO-2.1 in Thread platform **Supported-locals** has no entries, But while executing in the RPI platform it throws the output as 8 entries.

**Expected behavior:**   SupportedLocales: 8 entries
[1650539057.043007][2885:2890] CHIP:TOO:     [1]: en-US
[1650539057.043038][2885:2890] CHIP:TOO:     [2]: de-DE
[1650539057.043067][2885:2890] CHIP:TOO:     [3]: fr-FR
[16

[2022-04-21 11:54] Survensa opened #17598 "[SQA]-THREAD SupportedLocales attribute throws an error 0x87(CONSTRAINT_ERROR) instead 0x88(UNSUPPORTED_WRITE)."
**Problem :**
While Executing the TC-LO-2.1 Write command of the SupportedLocales attribute throws an error 0x87(CONSTRAINT_ERROR) instead 0x88(UNSUPPORTED_WRITE) in thread.

**Expected behavior:**  status = 0x88  (UNSUPPORTED_WRITE)

**Actual behavior:**  status = 0x87  (CONSTRAINT_ERROR)

**Steps to reproduce:**  `./chip-tool any write-by-id 0x002B 1 newsupportedlocales 33 0`

**Platform:** Thre

[2022-04-21 12:17] sowmyassp commented on #17164
Yes @dhrishi Its working with latest head

[2022-04-21 12:17] #17164 closed

[2022-04-21 12:31] somu1710 commented on #16430
yeah I able to do OTA software update

[2022-04-21 12:31] #16430 closed

[2022-04-21 12:41] kghost commented on #17558
The idea executes pretty well in PR #17599

The session object is allocated when new pairing request arrives, it is very rare (if not impossible) that some stack variable is holding a `SessionHandle` to our chosen session to evict.

Although we can not guarantee that the evicted session is released immediate, but by LRU, it is VERY likely being released immediately. additionally if first try fails

[2022-04-21 12:44] #16378 closed

[2022-04-21 12:59] #16622 closed

[2022-04-21 12:59] #16291 closed

[2022-04-21 12:59] #16134 closed

[2022-04-21 13:00] #16003 closed

[2022-04-21 13:08] #16864 closed

[2022-04-21 13:21] #17043 closed

[2022-04-21 13:36] Survensa opened #17602 "[SQA]-THREAD In User label cluster, label list has no entries."
**Problem :**
While reading the Label list in TC-LC-2.2 it throws the output of 0 entries, But as per the spec User Label Cluster should have Minimum of 4 entries.

**Expected behavior:**  UserLabel.LabelList response: 4 entries

**Actual behavior:**  label list: 0 entries

**Steps to reproduce:** `./chip-tool userlabel read label-list 33 0`

**Platform:**  Thread

**CommitID** used :  20e1a4a7057

[2022-04-21 13:46] Survensa opened #17604 "[SQA]-THREAD User Label cluster fails to write the LabelList attribute values."
**Problem :**
As per the Spec, Label list attribute of User Label Cluster is Writable attribute, But While passing the Write command to the Label list attribute it fails.

**Expected behavior:**  status = 0x00 (SUCCESS)

**Actual behavior:**  status = 0x01 (FAILURE)

**Steps to reproduce:** `./chip-tool userlabel write label-list '[{"label":"bedroom", "value":"bedroom1"}, {"label":"orientation", "

[2022-04-21 13:49] msandstedt opened #17605 "Require injectable certificate expiration policy and other time problems"
#### Problem

`ChipCertificateSet` takes a `ValidationContext` from within `CASESession`, which encloses an `mEffectiveTime`.  This is problematic in two ways:

1. This prevents us from injecting an actual expiration policy.
2. Injection of `ValidationContext` from within CASESession prevents the expiration policy from being set by the app.

Without this, it is impossible for administrator to upda

[2022-04-21 13:49] msandstedt commented on #17605
CC @tcarmelveilleux , @emargolis , @wbschiller

[2022-04-21 14:14] manjunathambiger23 commented on #17510
@bzbarsky-apple yes its been tested against tv-app

[2022-04-21 14:14] manjunathambiger23 commented on #17510
we use the following command for Build
./scripts/run_in_build_env.sh \
                     "./scripts/build/build_examples.py \
                        --target linux-x64-chip-tool-no-ble-tsan \
                        --target linux-x64-all-clusters-test-group-no-ble-tsan \
                        --target linux-x64-lock-app-no-ble-tsan \
                        --target linux-x64-tv-app-no-ble-

[2022-04-21 14:15] #17404 closed

[2022-04-21 14:17] manjunathambiger23 commented on #17462
https://github.com/CHIP-Specifications/chip-test-plans/issues/1106

[2022-04-21 14:32] #16988 closed

[2022-04-21 14:34] manjunathambiger23 commented on #17460
https://github.com/CHIP-Specifications/chip-test-plans/issues/1107

[2022-04-21 14:35] #17458 closed

[2022-04-21 14:35] manjunathambiger23 commented on #17461
https://github.com/CHIP-Specifications/chip-test-plans/issues/1107

[2022-04-21 14:36] manjunathambiger23 commented on #17457
opened testplan issue: https://github.com/CHIP-Specifications/chip-test-plans/issues/1107

[2022-04-21 14:36] #17457 closed

[2022-04-21 14:36] manjunathambiger23 commented on #17455
https://github.com/CHIP-Specifications/chip-test-plans/issues/1107

[2022-04-21 14:36] #17455 closed

[2022-04-21 14:36] #17454 closed

[2022-04-21 14:37] manjunathambiger23 commented on #17453
https://github.com/CHIP-Specifications/chip-test-plans/issues/1107

[2022-04-21 14:37] #17331 closed

[2022-04-21 14:40] bzbarsky-apple commented on #15522
This ticket does not look to be valid at all, as far as I can tell.  Again, where would a _cluster specific_ code come from in a PASE setup failure, where there are not cluster interactions happening?

[2022-04-21 14:47] tehampson commented on #17217
When I try this out locally, on the TH side, I get `Run command failure: IM Error 0x00000601: Cluster-specific error: 0x01`. On the DUT side I see `Failed to open commissioning window. Cluster status 1`.

Based on spec `11.19.8. Commands` it says `Only one commissioning window can be active at a time. If a Node receives another open commissioning command when one OCW is already active, it SHALL re

[2022-04-21 14:55] #17039 closed

[2022-04-21 14:59] #16292 closed

[2022-04-21 14:59] #16605 closed

[2022-04-21 15:05] #14029 closed

[2022-04-21 15:42] Damian-Nordic commented on #16748
@kghost I agree with your solution, but I think you will need to make sure that the LEAVE event is generated prior to removing ACLs for the fabric. Otherwise, generating the report containing the LEAVE event will fail the permission check, right?

[2022-04-21 15:51] manjunathambiger23 opened #17608 "[TC-MF-1.9] and [TC-MF-1.10] passing wrong payload its stopping test execution"
Summary:
As per Testplan of TC-MF-1.9 and TC-MF-1.10 we are attempting pass wrong payload 20 times with the response as FAILURE but its stopping the execution showing that "***** Test Failure: ../../examples/chip-tool/third_party/connectedhomeip/src/setup_payload/Base38Decode.cpp:155: CHIP Error 0x0000002F: Invalid argument" when executed.

YAML screenshot:
![image](https://user-images.githubuserc

[2022-04-21 16:04] kean-apple commented on #15972
Closing this since its not seen in a while

[2022-04-21 16:04] #15972 closed

[2022-04-21 16:53] bzbarsky-apple commented on #12733
Update:  This is done for lists in #13846.

For structs, code generation will fail at the moment for non-external structs, though the error will be a little inscrutable.  A better fix is blocked on https://github.com/project-chip/zap/issues/391

Furthermore, we have a way of flagging attributes as "must have external storage" in the SDK, in `src/app/zap-templates/zcl/zcl.json`.

So not sure how mu

[2022-04-21 17:02] sowmyassp commented on #15522
@bzbarsky-apple Ok, thank you I understood the test-case and I will close this issue

[2022-04-21 17:02] #15522 closed

[2022-04-21 17:08] #15812 closed

[2022-04-21 17:15] #15672 closed

[2022-04-21 17:15] #15635 closed

[2022-04-21 17:35] #15346 closed

[2022-04-21 17:51] Rajashreekalmane commented on #16987
Issue is resolved as per Latest test-plan

[2022-04-21 17:51] #16987 closed

[2022-04-21 17:51] #16989 closed

[2022-04-21 17:54] Rajashreekalmane commented on #17169
Issue is resolved in latest commit ID.

[2022-04-21 18:35] bluebin14 opened #17614 "Darwin does not implement GetClock_RealTimeMS and GetClock_RealTime"
#### Problem
Darwin does not implement GetClock_RealTimeMS and GetClock_RealTime. This leads to various modules not functioning as they are meant to and the runtime warning "The device does not support GetClock_RealTimeMS() API. This will eventually result in CASE session setup failures."

 #### Proposed Solution
Do not use default stubs from src/System/SystemClock.cpp, instead add src/platform/Da

[2022-04-21 18:41] bluebin14 opened #17615 "Linux does not implement GetClock_RealTimeMS and GetClock_RealTime"
#### Problem
Linux does not implement GetClock_RealTimeMS and GetClock_RealTime. This leads to various modules not functioning as they are meant to and the runtime warning "The device does not support GetClock_RealTimeMS() API. This will eventually result in CASE session setup failures."

 #### Proposed Solution
Fill in the unimplemented functions in src/platform/Linux/SystemTimeSupport.cpp (can c

[2022-04-21 18:52] bzbarsky-apple commented on #17579
Duplicate of #16748

[2022-04-21 18:52] #17579 closed

[2022-04-21 19:32] #17438 closed

[2022-04-21 21:55] alexhqwang opened #17619 "Commit Nestlabs repos instead of using submodules"
#### Problem
The repos from https://github.com/nestlabs are no longer maintained. There are licensing issues that cannot be fixed since these repos are archived as read-only.

For example in nlassert:

[code]

I have discussed this with aiw-google@ and it is likely that the Nestlabs github will be turned down in the future.

 #### Proposed Solution
Commit the code directly to the Matter repo and r

[2022-04-21 21:55] alexhqwang commented on #17619
(please assign to me)

[2022-04-21 22:18] kghost opened #17620 "GetLocalMRPConfig is used to initialize remote MRP config in some places"
#### Problem
`GetLocalMRPConfig` is used to initialize remote MRP config in:
* `DeviceProxy`
* `AddressResolve::ResolveResult`
* `ResolvedNodeData::GetMRPConfig`
* `MessagingContext` tests
* all types of sessions

 #### Proposed Solution
Introduce another `GetDefaultMRPConfig` API for the purpose.

[2022-04-22 00:00] liamgonyea commented on #17244
I had run the same commands mentioned [above](https://github.com/project-chip/connectedhomeip/issues/17244#issuecomment-1098698913) and had the same findings as well with no failures when `chip-tool` reads an attribute from `chip-door-lock-app `after onNetwork pairing

#### Steps Ran

1. `scripts/examples/gn_build_example.sh examples/door-lock-app/linux out/debug/standalone chip_config_network_lay

[2022-04-22 03:24] #4393 closed

[2022-04-22 03:29] bzbarsky-apple commented on #16745
This was fixed in #17307: the things that need longer lifetime moved to the factory, and we now implement `dealloc` on the controller.

[2022-04-22 03:29] #16745 closed

[2022-04-22 03:43] bzbarsky-apple commented on #17484
@kowsisoundhar12 What are the steps to reproduce this?  Running `zap_regen_all.py` on tip of Matter obviously does not run into problem (this runs in CI all the time), so what does one need to do to run into it?

[2022-04-22 03:47] bzbarsky-apple commented on #17406
@yinyihu-silabs Please attach the full log of the command that was used to commission the device.

[2022-04-22 03:47] bzbarsky-apple commented on #17405
@yinyihu-silabs Please attach the full log from the command that commissioned the device.

[2022-04-22 03:52] bzbarsky-apple commented on #17351
Alternately, how about we just move the API to `DeviceProxy`, since it does not actually involve any commissioner state?

[2022-04-22 04:02] kghost commented on #14204
@17622 This PR migrated all test-cases to use async transport, so `DrainAndServiceIO` may be needed in variety places when re-enable these tests.

[2022-04-22 04:10] bzbarsky-apple commented on #17327
I just tried this on top of Matter revision 6109d14348023229614227775b57b8b4c80f131a with the following diff applied:
[code]

and things generated fine.  @manjunathambiger23 what are the exact steps to reproduce this?  Please attach a diff to apply as needed, or better yet please link to a branch in github with the relevant changes.

[2022-04-22 04:44] bzbarsky-apple commented on #17042
Yes, you need to install the readline headers and library.

[2022-04-22 04:44] #17042 closed

[2022-04-22 05:37] bzbarsky-apple opened #17623 "OnReadInitialRequest has a useless return value"
#### Problem
OnReadInitialRequest returns a CHIP_ERROR, but the caller ignores it.

 #### Proposed Solution
Fix things so that we either return the InteractionModel::Status the caller cares about or return a CHIP_ERROR that the caller then uses to set the status (and it's on OnReadInitialRequest to make it an error that carries a status).

[2022-04-22 05:46] jamesluo11 commented on #17100
@sowmyassp Can i know the reason why close this issue directly. I also encountered this issue.

[2022-04-22 05:52] kghost opened #17624 "Ensure tests drain all message in loopback transport"
#### Problem
Some tests leaves messages in async loopback transport after complete, we should ensure that all tests drain all messages after completion.

 #### Proposed Solution
Add `DrainAndServiceIO` after such test cases.

[2022-04-22 06:04] bzbarsky-apple commented on #17624
https://github.com/project-chip/connectedhomeip/pull/17622#discussion_r855792077 has one such test that needs fixing.

[2022-04-22 06:32] bzbarsky-apple commented on #7679
Yep, this looks fixed now.

[2022-04-22 06:32] #7679 closed

[2022-04-22 09:00] Survensa commented on #17392
@jrhees-cae

After all Zigbee and optional aributes below mentioned command needs to be implemented as it is a SCH feature

- Set Holiday Schedule, Get Holiday Schedule, Get Holiday Schedule Response , Clear Holiday Schedule

[2022-04-22 09:25] Rajashreekalmane commented on #16569
@vivien-apple This command is not working, I am getting

![image](https://user-images.githubusercontent.com/95841834/164677732-3f76c421-e67e-4b48-9a07-0f22c42844f5.png)

Steps to reproduce:- ./chip-tool basic read-event start-up 0x12344321 0 --commissioner-fabricid 332211

[2022-04-22 09:29] Survensa opened #17627 "[SQA]-THREAD SetRegulatoryConfig command responds as 0 (Success) value instead 1 ( 'Error - ValueOutsideRange' )value ."
**Problem :**

As per Test-Plan, " SetRegulatoryConfigResponse command response from DUT to TH1 with field ErrorCode as 'Error - ValueOutsideRange' and DebugText as a 'string' value". But  when TH1 sends SetRegulatoryConfig command to the DUT with NewRegulatoryConfig data value as '3', Breadcrumb as 0 and CountryCode is of type 'string'. But we are getting response as success with the value 0

**E

[2022-04-22 09:56] sowmyassp commented on #17217
@tehampson
[log_dut.txt](https://github.com/project-chip/connectedhomeip/files/8539716/log_dut.txt)

[2022-04-22 10:18] Survensa opened #17630 "[SQA]-THREAD In Thermostat cluster, setpoint-raise-lower throws error code as 0xc3 (Unsupported_cluster)"
**Problem:**
While testing [TC-TSTAT-2.2] with Thread, for setpoint raise lower command Th throws the default error response of 0xc3. But the Expected outcome is not an error response.

**Expected outcome:**- Success(0x00)

**Actual outcome:**-Unsupported_cluster( 0xc3)

**Steps to reproduce:**-`./chip-tool thermostat setpoint-raise-lower 0 30 70 1`

**Platform:** Thread

**Commitid** used: 20e1a4

[2022-04-22 10:34] Rajashreekalmane commented on #16573
@vivien-apple  This command is not working, I am getting

https://user-images.githubusercontent.com/95841834/164677732-3f76c421-e67e-4b48-9a07-0f22c42844f5.png

Steps to reproduce:- ./chip-tool basic read-event start-up 0x12344321 0 --commissioner-fabricid 332211

[2022-04-22 10:47] Rajashreekalmane opened #17633 "[TC-LO-1.1]Localization Configuration- Global attribute "Attributelist" has the wrong Attribute-ID."
Problem:
In TC-LO-1.1 the Attribute-list Command throws the values 1&2 as the output. But as per spec the Localization Configuration Cluster, Attribute List has the 0 (ActiveLocale) & 1 (SupportedLocales).

 *Expected behavior: AttributeList: 6 entries
[1650536674.536020][29894:29899] CHIP:TOO: [1]: 0
[1650536674.536085][29894:29899] CHIP:TOO: [2]: 1
[1650536674.536178][29894:29899] CHIP:TOO: [3]:

[2022-04-22 11:31] Rajashreekalmane opened #17635 "[TC-IDM-7.1] While verifying the report data messages for subscriptions requested from devices on different fabrics but currently DUT is responding with Same fabrics."
#### Problem
As per Test-Plan, [TC-IDM-7.1] Multi Fabric Subscription DUT as the server Test-Cases The purpose of this test case
 is to verifys the report data messages for subscriptions requested from devices on different fabrics are handled
correctly by the DUT"  but currently DUT is responding with Same fabrics".

system configuration
Chip-Tool: RPI
DUT: RPI
Platform : IP and Wifi
Commit-ID: ht

[2022-04-22 11:49] Rajashreekalmane opened #17636 "Target Navigator Cluster-DUT should respond Target Navigator command for endpoint as 1"
#### Problem
Problem
While verifying the media cluster test case [TC-MC-8.1] and [TC-MC-8.2] TV-app DUT is returning "endpoint 1 not found",
but in controller side getting NavigateTargetResponse as SUCCESS(0x00) .
and for Target Navigator Cluster the DUT is fail to respond Target Navigator Cluster command for end point as 1.
As in YAML scripts they have mentioned to use endpoint as 1.

    expecte

[2022-04-22 11:52] Rajashreekalmane commented on #17636
Same issue facing in KeyPad Input Cluster Test Cases

steps to reproduce:-./chip-tool keypadinput send-key 1 1 1

DUT side screenshot:-
![image](https://user-images.githubusercontent.com/95841834/164709166-616e280b-9695-49eb-97b1-3a35b73f26aa.png)

TH side:-
![image](https://user-images.githubusercontent.com/95841834/164709108-52724bb8-54ac-4446-b74f-e8b6a0ac0621.png)

[2022-04-22 11:54] Rajashreekalmane commented on #17636
Same issue facing in Channel Cluster Test Cases.
steps to reproduce:-./chip-tool channel change-channel-by-number 9 1 1 1
./chip-tool channel skip-channel 1 1 1

DUT side screenshot:-
![image](https://user-images.githubusercontent.com/95841834/164709474-920fcdd8-1241-4bda-9999-da6218d4d712.png)

TH side Screenshot:-
![image](https://user-images.githubusercontent.com/95841834/164709547-e48e7911-b73

[2022-04-22 12:04] Rajashreekalmane opened #17638 "TV-App DUT should support Content Launcher Cluster commands"
Problem
While Executing the media cluster test case [TC-MC-10.3], [TC-MC-10.5],[TC-MC-10.4] and [TC-MC-10.6]
TV-app DUT is returning command not supported.
TV-app should be enhanced to support the Content launcher commands as mentioned in the Spec.

    expected behavior:-The DUT should respond with a success response (value 0)
    actual behavior:- We are getting UNSUPPORTED_CLUSTER(0xC3) error r

[2022-04-22 12:04] Rajashreekalmane commented on #17638
[](https://user-images.githubusercontent.com/95841834/164709166-616e280b-9695-49eb-97b1-3a35b73f26aa.png)[](https://user-images.githubusercontent.com/95841834/164709108-52724bb8-54ac-4446-b74f-e8b6a0ac0621.png)Same issue facing in KeyPad Input Cluster Test Cases

steps to reproduce:-./chip-tool keypadinput send-key 1 1 1

DUT side screenshot:-
image

TH side:-
image

[2022-04-22 12:07] #16923 closed

[2022-04-22 12:07] Rajashreekalmane commented on #17638
[TC-MC-10.1] Read Content Launcher Attributes (DUT as Server)

Above mentioned same issue facing while verifing that the DUT can properly respond to attribute read requests Content Launcher Cluster Attributes.

Command used in chip-controller:
./chip-tool contentlauncher read accept-header 1 1

PFA DUT screenshot below:-
![image](https://user-images.githubusercontent.com/95841834/164711301-809d453

[2022-04-22 12:12] #16344 closed

[2022-04-22 12:14] #16348 closed

[2022-04-22 12:14] #17049 closed

[2022-04-22 12:15] #17050 closed

[2022-04-22 12:42] ajay-gantayet opened #17640 "iOS CHIPTool: scanNetworks API is failing"
#### Problem
I am using the following iOS CHIP API to scan networks available to the matter device after initiating device pairing.

[code]
For the params I am passing nil in order to get the list of wifis available. But I am getting the following error:
**The cluster command is malformed, has missing fields, or fields with invalid values. Command not carried out.**
connectedhomeip commit ID: **61

[2022-04-22 12:44] dhrishi commented on #17640
@bzbarsky-apple @vivien-apple Can you please help?

[2022-04-22 13:30] #15700 closed

[2022-04-22 14:46] chrisdecenzo commented on #17510
For some reason, it looks like the KeypadInput cluster commands are not enabled in zap:

        {
          "name": "Keypad Input",
          "code": 1289,
          "mfgCode": null,
          "define": "KEYPAD_INPUT_CLUSTER",
          "side": "server",
          "enabled": 1,
          "commands": [],
          "attributes": [
            {
              "name": "ClusterRevision",

[2022-04-22 14:50] chrisdecenzo commented on #17510
And it looks like this never worked on all-clusters-app

[2022-04-22 14:51] chrisdecenzo commented on #17510
hi @lazarkov - can you enable all the commands and all the attributes for each media cluster on the all-clusters-app please?

[2022-04-22 15:08] krypton36 opened #17643 "Update any Protocol Implementation Conformance Statements to remove PICS from the prefix."
#### Problem
Update any Protocol Implementation Conformance Statements in [connectedhomeip](https://github.com/project-chip/connectedhomeip) to not include PICS as the prefix.

[2022-04-22 16:03] bzbarsky-apple commented on #17640
@ajay-gantayet What is the actual payload received by the device?

For iOS, is the framework being used also built from https://github.com/project-chip/connectedhomeip/commit/6109d14348023229614227775b57b8b4c80f131a?  Or is it some framework version from some older SHA that comes as part of iOS?

[2022-04-22 16:45] #17587 closed

[2022-04-22 16:55] bzbarsky-apple commented on #17640
Nevermind, I can reproduce this using the framework from https://github.com/project-chip/connectedhomeip/commit/6109d14348023229614227775b57b8b4c80f131a if I just hack chip-tool-darwin to send `nil` for the params struct.

What's going on here is that the "ssid" field of this command is both nullable _and_ optional.  But it's only allowed to be omitted in the Thread case; in the wifi case it must

[2022-04-22 17:29] woody-apple commented on #14249
Works fine as is :)

[2022-04-22 17:29] woody-apple commented on #14249
@bzbarsky-apple

[2022-04-22 17:31] #14249 closed

[2022-04-22 17:40] phonnakasturi-apple commented on #17477
Yes its from examples/all-clusters-app/nrfconnect

and also other tests work fine with the same  discriminator and passcode

[2022-04-22 17:58] bzbarsky-apple commented on #17477
@phonnakasturi-apple My point is this: is it possible that we are talking to the wrong device during commissioning because there are multiple devices all powered on at once using the same discriminator?

Either that's going on or the Thread device randomly claims to be a WiFi device.

We really need to figure out which of those is going on, because if it's the latter we need to figure out why, and

[2022-04-22 18:03] phonnakasturi-apple commented on #17477
@bzbarsky-apple I can confirm that when testing with thread device, no other devices are connected (wifi devices)

[2022-04-22 18:37] lazarkov commented on #17510
@manjunathambiger23 can you please use tv-app for testing? all-clusters-app is not supported.

[2022-04-22 18:37] #17510 closed

[2022-04-22 19:42] bzbarsky-apple commented on #17477
@phonnakasturi-apple So specifically, during a run that shows the failure the device is logging things as we go through the commissioning flow where it tells us it is in fact a wifi device?

[2022-04-22 20:37] liamgonyea commented on #17244
When pairing over `ble-wifi`, I had experienced the same issue when `chip-tool `attempts to read an attribute from `chip-door-lock-app`

### Summary of Findings
(`chip-tool` logs for each attempt at reading an attribute from `chip-door-lock-app`)
#### 1st Attempt: Successful
`[1650657650.054116][3880:3885] CHIP:TOO:   ClusterRevision: 3`

#### 2nd Attempt: Fail (Invalid CASE parameter)
`[165065798

[2022-04-22 21:43] bzbarsky-apple commented on #17244
@liamgonyea Thank you!  Those logs make it pretty clear what's going on here:
1. The commissionee in this case is already on the network (via ethernet I am told) but also being commissioned as a wifi device.
2. Commissioning fails after AddNOC, because the commissionee claims to be a thread-only device, or so we think, but we only have wifi credentials.  From the chip-tool log:
[code]
5. The commi

[2022-04-22 21:57] bzbarsky-apple commented on #17244
OK, so `LinuxWiFiDriver` is _only_ instantiated in all-clusters-app, lighting-app, and thermostat.  `LinuxThreadDriver` only in all-clusters-app, for that matter.

Which means that the door lock app is not actually running a useful network commissioning server at all.  But it does claim to implement the cluster, and has a FeatureMap attribute with default value 2: see https://github.com/project-ch

[2022-04-23 06:26] ghost opened #17666 "Facing pairing issues for ECM test of Multi Fabrics testcases"
Summary:
Facing Pairing issue for ECM tests. if commissioning window is opened for 1st Commissioner ,if we try to open commissioning process with DUT_CE for 2 nd Commissioner showing FAILURE response
and its blocking following tests
TC-MF-1.5
TC-MF-1.13

Testplan screenshot:
![image](https://user-images.githubusercontent.com/84442963/164882843-744716f8-6b0f-442d-9906-bcdb0fdec658.png)
![image](htt

[2022-04-23 15:17] Diegorro98 opened #17673 "Pairing with chip-tool on WSL2 fails"
#### Problem
I'm trying to commissioning an ESP32-DevKitC flashed with the lighting-app example by using chip-tool but I get the following error:
`
[1650723022.684232][6623:6623] CHIP:TOO: Run command failure: ../connectedhomeip/examples/chip-tool/third_party/connectedhomeip/src/inet/UDPEndPointImplSockets.cpp:417: OS Error 0x02000063: Cannot assign requested address
`

#### Actual behavior
ESP32

[2022-04-23 22:20] jmmb13 commented on #16924
I'm also trying to use the lighting app with esp32 but when I try to connect to it fails:
![image](https://user-images.githubusercontent.com/35546901/164947823-acc7e151-ec09-4c79-ad51-278bf3fa72a8.png)

These error messages were when trying to "Commission with IP address" through the device address.

I was successful with google codelabs, but I'm not able to demo with the latest version.

@joskra

[2022-04-25 02:16] #15831 closed

[2022-04-25 05:14] TheWalkingDead1024 commented on #6851
hello，do you know how to resolve this issue?

[2022-04-25 05:15] JourneyYoung commented on #6851
您好。你的邮件我已经收到，谢谢！ 

[2022-04-25 05:16] TheWalkingDead1024 commented on #6851
hi, I have met the same issue. Do you know how to resolve this issue?

[2022-04-25 05:18] TheWalkingDead1024 commented on #6851
hello, have you resolve the issue? do you know how to fix it?

[2022-04-25 06:11] TheWalkingDead1024 commented on #17193
I have met the same issue. Have you fixed it?

[2022-04-25 07:41] Rajashreekalmane opened #17679 "While building temperature-measurement-app we are facing a issue in Raspberrypi."
#### Problem
With commitID(077e44eadf46f349916b3f4f358da6126be2ed48) we are facing this issue while trying to built
temperature-measurement-app  in Raspberrypi i,e...,"ERROR Root source path not found.
The path "examples/temperature-measurement-app/linux/" doesn't exist".

Steps to reproduce :-

1.     git clone https://github.com/project-chip/connectedhomeip.git
2.     cd connectedhomeip
3.     s

[2022-04-25 08:10] shubhamdp opened #17680 "all-clusters-app/linux crashing on receiving "remove-fabric" command"
#### Problem
* head commit: 077e44eadf46f349916b3f4f358da6126be2ed48
* Platfrom: Darwin

Build and commission the all-clusters-app/linux and then send remove-fabric command, app crashes here: https://github.com/project-chip/connectedhomeip/blob/077e44eadf46f349916b3f4f358da6126be2ed48/src/transport/SessionManager.cpp#L209

I am not sure if is it expected because we are removing the last fabric her

[2022-04-25 08:41] Damian-Nordic commented on #17505
@Survensa can you retest on the current ToT? I checked on `077e44eadf46f349916b3f4f358da6126be2ed48` that everything works correctly, so maybe the feature wasn't fully implemented yet at the time you tested it.

[2022-04-25 08:49] Damian-Nordic commented on #17530
Try passing the network ID with `hex:` prefix. It works for me that way.

[2022-04-25 09:36] Damian-Nordic commented on #17533
You're right. I created a PR with the fix.

[2022-04-25 09:38] coderWu1990 commented on #17193
Delete .environment dir,and retry,will be ok

[2022-04-25 09:48] vivien-apple commented on #17635
Looking at the commands it seems the the DUT is paired 3 times with different node ids but on the same fabric ?

Can you try using `--commissioner-name [alpha|beta|gamma]` feature ?

[2022-04-25 10:04] lbit20131014-berry opened #17684 "src/platform platform directory support Secondary development"
#### Problem
The platform-related files in the src/platform directory are often modified by the manufacturer, so whether the user-defined location of this directory can be supported without changing the connectedhomeip source code. For changing chip_device_platform=external, but the variable chip_device_platform is used in many directories. If it is changed in this way, it will lead to the need to

[2022-04-25 10:10] chshu commented on #17684
It's currently supported in ESP platform, via a simply menuconfig change:

https://github.com/project-chip/connectedhomeip/blob/master/config/esp32/components/chip/Kconfig#L789

[2022-04-25 10:33] Damian-Nordic commented on #17493
Posted a PR.

[2022-04-25 10:58] Damian-Nordic commented on #17680
Duplicate of https://github.com/project-chip/connectedhomeip/issues/16748

[2022-04-25 12:18] Rajashreekalmane opened #17688 "[TC-TSTAT-1.1] DUT fails to list the supported commands for GeneratedCommandList attribute"
#### Problem
As per the Test-Plan, GeneratedCommandList attribute should list the supported commands that is GetWeeklyScheduleResponse and
GetRelayStatusLogResponse but currently DUT responds with 0 entries.

 * expected behavior:- DUT should responds with supported commands.
 * actual behavior:- 0 entries

 * steps to reproduce:-./chip-tool thermostat read generated-command-list 1 1

 *system con

[2022-04-25 12:40] sowmyassp commented on #17217
Facing same issue in [TC-MF-1.27], [TC-MF-1.28]

Steps to reproduce
DUT side :
sudo rm -rf /tmp/chip_*
sudo ./chip-all-clusters-app --wifi

TH side :
./chip-tool pairing ble-wifi 1 zigbeehome matter123 20202021 3840 (on TH1)
./chip-tool pairing open-commissioning-window 1 1 180 1000 3840(on TH1)
After the timeout that is after 900 seconds run below command
./chip-tool pairing open-commissioning-wi

[2022-04-25 13:34] lbit20131014-berry commented on #17684
@chshu Thanks Reply
If this option is configured, the following results will occur:
chip_device_platform=external
chip_platform_target=CONFIG_CHIP_EXTERNAL_PLATFORM_TARGET
At this time, for example, the chip_device_platform in the src/credentials/BUILD.gn file is not esp32, and is it necessary to provide the esp32 configuration elsewhere? This is just one of the directories, and there are some cor

[2022-04-25 13:37] andy31415 commented on #17383
Closing issue: thread is not supposed to have IPv4 addresses.

[2022-04-25 13:39] andy31415 commented on #17602
@Survensa as far as I can read the spec, it says "there should be at least 4 entries supported" and not "there are always at least 4 entries in the list".

There is nothing wrong with returning an empty list to start if no labels were attached.

[2022-04-25 13:48] andy31415 commented on #15960
I believe a lot of these attributes depend on features - like WIRED feature for the wired attbitues and `BAT` for the battery information.

Test cases should be updated to apply the test based on what the feature map says is supported.

[2022-04-25 13:50] andy31415 commented on #17319
@Rajashreekalmane what device was this tested on?

[2022-04-25 13:52] andy31415 commented on #17530
@Survensa - please validate. It sounds as if the network ID you have is `hex` even though by chance it happens to only contain digits. Can you confirm if this is correct and it passes?