[2022-01-28 03:19] nanmu2018 opened #14476 "TE7.5 [TC-BOOL-1.1] VerifyOrDie failure at ../../examples/chip-tool/third_party/connectedhomeip/src/inet/InetLayer.h:121: sEndPointPool.Allocated() == 0 Aborted (core dumped)"
platform:
Testing image on RasPi：v1.7.img
Connectedhomeip commitID : b0af6ba
OTBR commitID：72bb3d45684f837e67e7f1ec20a9a8e3ac4a4419
lighting-app run on the EFR32MG24 board base on commitID : b0af6ba

commissioning:
[code]

/chip-tool booleanstate read cluster-revision 12344321 1 fails here:
[code]

[2022-01-28 03:40] bzbarsky-apple commented on #9380
I believe at this point the expectation is that the dispatch objects have infinite lifetime, so we can rely on them not dying.  And the ones in the Matter SDK itself do that.

[2022-01-28 03:43] bzbarsky-apple commented on #12987
Ideally we would do either a notification to the app (which can then attempt to re-establish a connection) or an automaticattempt to re-establish on in parallel with MRP retries once we detect non-delivery of an MRP message.

If that's on the 1.0 feature list, it needs to get staffed.  There's work that would have to be done to make it happen.

[2022-01-28 04:51] dhrishi commented on #11393
@shubhamdp PTAL

[2022-01-28 05:17] carol-apple commented on #13767
This has been fixed by https://github.com/project-chip/connectedhomeip/pull/13329

[2022-01-28 05:17] #13767 closed

[2022-01-28 06:28] bzbarsky-apple commented on #14329
I suspect https://github.com/project-chip/connectedhomeip/pull/14390 fixed this.

[2022-01-28 06:38] joesena-amz opened #14481 "Need support in chip-tool to resume a CASE session"
#### Problem
We need the ability to suspend and resume a CASE exchange in order to test [TC-SC-3-2 ](https://github.com/CHIP-Specifications/chip-test-plans/blob/master/src/securechannel.adoc#tc-sc-3-2-session-resumption)

[Associated spec section](https://github.com/CHIP-Specifications/connectedhomeip-spec/blob/master/src/secure_channel/Certificate_Authenticated_Session_Establishment.adoc#session-

[2022-01-28 06:53] bzbarsky-apple commented on #13393
Your PR said "fixes #issue-number", and github itself automatically closes issues when a PR that says that is merged.

[2022-01-28 07:01] nanmu2018 opened #14482 "TE7.5 [TC-IDM-5.2]CHIP:SPT: VerifyOrDie failure at ../../examples/chip-tool/third_party/connectedhomeip/src/inet/InetLayer.h:121: sEndPointPool.Allocated() == 0 Aborted (core dumped)"
Problem：
[TC-IDM-5.2] CHIP:SPT: VerifyOrDie failure at ../../examples/chip-tool/third_party/connectedhomeip/src/inet/InetLayer.h:121: sEndPointPool.Allocated() == 0
Aborted (core dumped)

platform:
Testing image on RasPi：v1.7.img
Connectedhomeip commitID : b0af6ba
OTBR commitID：72bb3d45684f837e67e7f1ec20a9a8e3ac4a4419
lighting-app run on the EFR32MG24 board base on commitID : b0af6ba

[code]

[2022-01-28 07:58] yonko-gospodinov opened #14484 "Generic processing of commands in case of Controller device."
At the moment you need to have separate implementation for every cluster command. I'm trying to build a wrapper based on chip-project for our framework. Without a generic processing of commands, I need to modify both: the wrapper and our framework for every change in specification/supported clusters.
Example: Lets say that in the next specification, the OTA->QueryImage command receive one addition

[2022-01-28 07:59] yonko-gospodinov opened #14485 "How to process incomming commands in case of Controller."
To send a command I can assign corresponding cluster to the target device and then send the desire command, but how I can receive and process incoming commands like IASZone#ZoneEnrollRequest?

[2022-01-28 08:01] yonko-gospodinov opened #14486 "How to process incomming commands in case of Bridge device"
I can use "External" attributes in combination with emberAfExternalAttributeReadCallback, emberAfExternalAttributeWriteCallback and MatterPostAttributeChangeCallback. But this will not work for commands like IASZone#ZoneEnrollRequest?

[2022-01-28 09:11] ryan-ma opened #14490 "TE7.5 [TC-MF-1.x] open-commissioning-window command timeout on slow device"
branch: TE7.5
device: ESP32 WiFi LED light blub (ESP32 single core 80MHz)

problem:
While testing TC-MF-1.x test case, open-commissioning-window command will timeout and fail.
[code]

I run the device at 80MHz single core. If ESP32 is run at 240MHz, the command will pass.

It looks similar to issue [#13929](https://github.com/project-chip/connectedhomeip/issues/13929)

[2022-01-28 09:23] ghost opened #14491 "[TC-WNCV-xx] YAML Update tests case to use hasMaskSet hasMaskClear to check bitmaps"
Summary:
              Need bitwise operator support in YAML for OperationalStatus attribute verification.

Testplan screenshot:
![image](https://user-images.githubusercontent.com/84442963/151520599-c44f329b-9cdd-4706-9b85-9205f951357e.png)

Spec screenshot:
![image](https://user-images.githubusercontent.com/84442963/151520945-3dc54cdc-aa50-417a-84f7-415966487dfa.png)

[2022-01-28 10:13] nanmu2018 opened #14493 "TE7.5 [TC-PSCFG-1.1]VerifyOrDie failure at ../../examples/chip-tool/third_party/connectedhomeip/src/inet/InetLayer.h:121: sEndPointPool.Allocated() == 0 Aborted (core dumped)"
platform:
Testing image on RasPi：v1.7.img
Connectedhomeip commitID : b0af6ba
OTBR commitID：72bb3d45684f837e67e7f1ec20a9a8e3ac4a4419
lighting-app run on the EFR32MG24 board base on commitID : b0af6ba
[light-log.txt](https://github.com/project-chip/connectedhomeip/files/7957750/light-log.txt)
[otbr-log.txt](https://github.com/project-chip/connectedhomeip/files/7957752/otbr-log.txt)
[code]

[2022-01-28 10:22] nanmu2018 opened #14494 "TE7.5 [TC-PSCFG-2.1]VerifyOrDie failure at ../../examples/chip-tool/third_party/connectedhomeip/src/inet/InetLayer.h:121: sEndPointPool.Allocated() == 0 Aborted (core dumped)"
platform:
Testing image on RasPi：v1.7.img
Connectedhomeip commitID : b0af6ba
OTBR commitID：72bb3d45684f837e67e7f1ec20a9a8e3ac4a4419
lighting-app run on the EFR32MG24 board base on commitID : b0af6ba
[light-log.txt](https://github.com/project-chip/connectedhomeip/files/7957820/light-log.txt)
[otbr-log.txt](https://github.com/project-chip/connectedhomeip/files/7957831/otbr-log.txt)
[code]

[2022-01-28 11:35] wqx6 opened #14497 "Dynamic Endpoint: The dynamic endpoint with LevelControl cluster can't be added because of the fixed stateTable size."
#### Problem
Now we use a [stateTable](https://github.com/project-chip/connectedhomeip/blob/9f1c7e5b8c98eb7f4627ea532eac9177c8fb6379/src/app/clusters/level-control/level-control.cpp#L106) sized `EMBER_AF_LEVEL_CONTROL_CLUSTER_SERVER_ENDPOINT_COUNT` to record the state of endpoints. But when we add a dynamic endpoint with LevelControl cluster, we don't have a level control state for it. Then there

[2022-01-28 11:47] retfie commented on #13617
Update:
TLD'R: chip-tools was able to successful resolve IP of device when correct fabricid is provided, but when trying to control it, uses wrong fabricid and commands fails with timeout.

After provisioning device with chip-device-ctrl, I was able to do successful resolve and control device over Matter (until it exits or chashed). Also fabricid is extracted to use it into chip-tool examples bell

[2022-01-28 12:36] selissia opened #14500 "[OTA] chip-tool on Linux may send out an invalid CountryCode in the SetRegulatoryConfig command"
#### Problem
When the chip-tool is running on Linux in the presence of another Matter application (e.g. OTA Provider app) the value of CountryCode sent in the SetRegulatoryConfig command. In all likelihood this is caused by some corruption of the key value store which on Linux is shared by all Matter apps.

 #### Proposed Solution

[2022-01-28 13:15] lazarkov commented on #9820
@woody-apple all mentioned cluster attributes have only read enabled per spec.

https://github.com/CHIP-Specifications/connectedhomeip-spec/blob/master/src/app_clusters/media/MediaInput.adoc
https://github.com/CHIP-Specifications/connectedhomeip-spec/blob/master/src/app_clusters/media/Channel.adoc
https://github.com/CHIP-Specifications/connectedhomeip-spec/blob/master/src/app_clusters/media/AudioO

[2022-01-28 13:15] #9820 closed

[2022-01-28 14:07] jmeg-sfy opened #14502 "YAML: Cannot use SaveAs to compare 2 nullable of the same type"
#### Problem
../../zzz_generated/chip-tool/zap-generated/test/Commands.h:46603:35: error: assigning to 'chip::Percent100ths' (aka 'unsigned short') from incompatible type 'const chip::app::DataModel::Nullablechip::Percent100ths' (aka 'const Nullable')

---- example of what i did in YAML
[code]

[2022-01-28 15:30] erjiaqing opened #14508 "Revisit client side cluster related code"
One more thing: this part does not look right to me.... Why are we generating things for client sides of clusters here?

Let's leave this as-is for now, but do a followup to not generate this... and probably not generate ClusterRevision for client clusters either, since it's not observable...

_Originally posted by @bzbarsky-apple in https://github.com/project-chip/connectedhomeip/pull/14299#discu

[2022-01-28 15:35] kpschoedel opened #14509 "Write after free in WriteClient + ExchangeContext"
#### Problem

`WriteClient` uses an `ExchangeContext` after it has been freed.

Original issue text:
---

#### Problem

If the context pools use a heap-allocated `ObjectPool`, some tests show memory corruption:

[code]
[code]

Memory corruption may be masked by the use of an inline `BitMapObjectPool`.

 #### Proposed Solution

Investigate and resolve.

[2022-01-28 15:47] retfie commented on #13617
Final update: **Success**

by using entirely chip-tool commands (commission and onoff), I was able to control device even after node device reboot
[code]

[2022-01-28 15:56] kpschoedel opened #14512 "Possible memory corruption in GroupSessionTable"
#### Problem

If `GroupSessionTable::mEntries` uses a heap object pool, `TestWriteInteraction` segfaults:
[code]

Memory corruption may be masked by the use of an inline BitMapObjectPool.

(Observed in multiple workflows in [fork CI](https://github.com/kpschoedel/connectedhomeip/runs/4974007011); I don't have a local reproduction yet.)

 #### Proposed Solution

Investigate and resolve.

[2022-01-28 16:00] jmeg-sfy commented on #14491
linked to this https://github.com/project-chip/connectedhomeip/issues/13024

[2022-01-28 16:02] tcarmelveilleux commented on #6241
This is done

[2022-01-28 16:30] #13822 closed

[2022-01-28 16:49] #13786 closed

[2022-01-28 16:50] mlepage-google commented on #10238
Given that read attribute and subscribe attribute both produce reports by going through the same code, this should work.

I've now used the REPL to verify this, that each report generated is performing an access control check with the expected arguments.

[2022-01-28 16:50] #10238 closed

[2022-01-28 16:57] mlepage-google commented on #10242
Spec change for reserving explicit PASE ACL entries for future use:
https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/4878

[2022-01-28 17:23] sowmyassp opened #14518 "Report-event support in chip-tool is missing"
chip-tool does not have report events in clusters which support events

![image](https://user-images.githubusercontent.com/90545664/151592983-ec2b1556-d310-46e5-8fc5-cb219a7e686b.png)

[2022-01-28 17:31] liamgonyea opened #14521 "[TC_MC_4.1] Mac Address returned is all 0’s for `wake-on-lan-mac-address` attribute for TE7.5"
#### Problem
When running [TC_MC_4.1], Step 1, the Mac Address returned is all 0’s for `wake-on-lan-mac-address` attribute for the `wakeonlan ` cluster.
Expect to see the mac address of the device, in this case, the RasPi device running chip-tv-app.

![image](https://user-images.githubusercontent.com/80923273/151593836-7eadaf19-7c9e-42e8-b30b-6240041f8c55.png)

#### Test Case
3.6.1. [TC-MC-4.1] Wa

[2022-01-28 18:09] kowsisoundhar12 opened #14525 "[Test_TC_DIAG_TH_NW_1_2]-getting type error for ChannelPage0Mask attribute"
Summary:
ChannelPage0Mask  attribute is giving Type Error, while running with default value 0

Error screenshot:
![2022-01-28_22-17](https://user-images.githubusercontent.com/57476670/151598661-cfae5303-cfcc-4c0c-951f-a173b44ec5e7.png)
Testpaln Screenshot:
![2022-01-28_23-37](https://user-images.githubusercontent.com/57476670/151599084-a63e99b2-be44-4e5a-9904-1190b629346f.png)
Spec Screenshot
![20

[2022-01-28 19:11] Garik098 opened #14528 "TE7.5 Mac Chip tool testing - Window Covering Cluster value stuck at 500 for few testcases and internal error for few"
While testing window covering cluster on Mac Chip tool, found the below issues,

Issue 1: In Window Covering Cluster testcases [TC_WNCV_3.4] and [TC_WNCV_3.5], the value of current-position-lift-percent100ths is getting stuck at 500 and is not moving up or down in spite of running the uporopen and downorclose commands and waiting for like 10 minutes (till timeout).

Issue 2: Getting an internal er

[2022-01-28 19:27] #13422 closed

[2022-01-28 19:32] yunhanw-google opened #14530 "Followup: we should decide what we do if we have a chunked result come in and aVersion does not match mDataVersion."
Followup: we should decide what we do if we have a chunked result come in and aVersion does not match mDataVersion.

_Originally posted by @bzbarsky-apple in https://github.com/project-chip/connectedhomeip/pull/13400#discussion_r794776676_

[2022-01-28 19:50] cecille opened #14533 "Consolidate network cluster queries during commissioning"
#### Problem
network cluster feature map queries during commissioning can be combined by using the lower level APIs and a wildcard path

 #### Proposed Solution
do that.

[2022-01-28 19:55] cecille opened #14534 "Remove auto commissioner from DeviceCommissioner"
#### Problem
Once this can be passed in via the init parameters, it should be.

[2022-01-28 20:09] Garik098 opened #14538 "TE7.5 Mac chip tool testing - [TC-BRAC-2.1] partslist attribute not present"
While testing Bridged Actions Cluster [TC-BRAC-2.1] Step 3a, partslist attribute for reading is not available in Mac Chip Tool.
<img width="976" alt="Screen Shot 2022-01-28 at 12 09 15 PM" src="https://user-images.githubusercontent.com/34750871/151614557-85e8c870-148e-4fb0-8d3e-c124537fc1be.png">

[2022-01-28 20:12] harimau-qirex commented on #10251
The remaining work is for each platform to call chip::Access::Examples::SetAccessControlDelegateStorage (defined in src/access/examples/ExampleAccessControlDelegate.h) with a PersistentStorageDelegate implementation. Linux and MacOS call this in examples/platform/linux/AppMain.cpp with an implementation of PersistentStorageDelegate backed by the KVS manager.

The keys passed into the PersistentSto

[2022-01-28 20:29] mlepage-google opened #14541 "Implement access control for IM invoke (group)"
CommandHandler::ProcessGroupCommandDataIB has added another place where IM is processing actions (in this case for group) and therefore checking access control.

This needs to be gone over to ensure handling is correct. (E.g. fatal errors are handled)

Also needs end to end testing.

[2022-01-28 20:30] mlepage-google commented on #14541
@mkardous-silabs FYI

[2022-01-28 20:46] g-coppock opened #14542 "Allow UDP listening port selection for Android"
#### Problem

In `AndroidDeviceControllerWrapper.cpp`, the UDP listen port is assigned to `CHIP_PORT + 1`. If multiple processes are using the SDK, this can cause message delivery failures as both processes are bound to the same port.

 #### Proposed Solution

Either of:

* Fix this port to `0` to allow random selection.
* Allow propagating a value for this port from the Android Java layer.

[2022-01-28 21:17] bzbarsky-apple commented on #14530
This is specifically for what happens for a chunked read on the client side.

[2022-01-28 22:47] mlepage-google commented on #10242
PR #14550 will affect the required change in AccessControl::Check, should not go in until the spec change goes in, and also we'll need to double check that PASE sessions are only ever allowed during commissioning for v1.0 (and that this is enforced). If we only ever allow them on PAKE Verifier Key ID 0, I can add a verify/check for that as well.

[2022-01-28 22:48] Garik098 opened #14552 "TE7.5 Mac Chip Tool testing - Windowcovering cluster config status returning 3 all the time even when mode attribute is being changed"
While testing Windowcovering Cluster TC-WNCV-2.3 using Mac chip tool, Config status is returning 3 all the time even when mode attribute bits were being changed.

I used the below command to set the different modes,

./out/debug/chip-tool windowcovering write mode 0001 1 1

changing 0001 to 0010, 0000, etc. The write is going through without any error, but the Config status is 3 all the time.

adk

[2022-01-28 23:25] mrjerryjohns opened #14555 "mDNS results still delivered to a previously destroyed `DeviceController`"
#### Problem

When doing multi-fabric tests in the Python REPL, shutting down a controller too quickly after commissioning results in:

[code]

[2022-01-28 23:25] mrjerryjohns commented on #14555
FYI @vivien-apple @cecille

[2022-01-28 23:51] sharadb-amazon opened #14556 "Android tv-casting-app: Implement JNI layer to call SDK APIs"
#### Problem
The Android tv-casting-app cannot call into the C++ SDK APIs yet.

 #### Proposed Solution
Create a JNI layer in the android tv-casting-app to call SDK APIs

[2022-01-28 23:51] sharadb-amazon opened #14557 "Android tv-casting-app: Implement API calls to do UDC"
#### Problem
The Android tv-casting-app currently does not send User directed commissioning requests to any commissioner

 #### Proposed Solution
TBD

[2022-01-28 23:51] sharadb-amazon opened #14558 "Android tv-casting-app: Implement Content Launch command"
#### Problem
The Android tv-casting-app does not send any Casting commands (like the Content Launch command)

 #### Proposed Solution
TBD

[2022-01-28 23:52] sharadb-amazon opened #14559 "iOS tv-casting-app: Implement Content Launch command"
#### Problem
The iOS tv-casting-app does not send any Casting commands (like the Content Launch command)

 #### Proposed Solution
TBD

[2022-01-28 23:52] sharadb-amazon opened #14560 "iOS tv-casting-app: Implement API calls to do UDC"
#### Problem
The iOS tv-casting-app currently does not send User directed commissioning requests to any commissioner

 #### Proposed Solution
TBD

[2022-01-28 23:53] sharadb-amazon opened #14561 "iOS tv-casting-app: Implement commissioner discovery"
#### Problem
<what's wrong or missing, please include any applicable:
 * expected behavior
 * actual behavior
 * steps to reproduce
 * system configuration
 * screenshots, images, logs, etc.

 #### Proposed Solution
<suggested fix, suggested enhancement>

[2022-01-28 23:54] sharadb-amazon opened #14562 "iOS tv-casting-app: Implement adapter layer to call SDK APIs"
#### Problem
The iOS tv-casting-app does not have a clean way to call into the various C++ SDK APIs yet

 #### Proposed Solution
Create an adapter layer in the iOS tv-casting-app to call SDK APIs

[2022-01-29 00:29] tewarid commented on #13303
chip-tool on macOS 12.3 Beta (21E5196i) now able to establish BLE connection. It still fails, but seems to be a different problem, and I also see it on Ubuntu 21.04. I will open a separate issue if I can't find one.

[2022-01-29 02:19] bzbarsky-apple commented on #10261
This was fixed by prefixing with `k` instead.

[2022-01-29 02:19] #10261 closed

[2022-01-29 02:20] bzbarsky-apple commented on #10686
Fixed in #13950.

[2022-01-29 02:20] #10686 closed

[2022-01-29 03:21] cecille opened #14565 "network cluster on EP1 on all clusters app has empty feature map"
#### Problem
no features = useless cluster

 #### Proposed Solution
That's not right. Fix.

[2022-01-29 03:48] yunhanw-google opened #14566 "If no attribute and event data encoded successfully, we should send status report instead of drop out"
Context is from

_Originally posted by @bzbarsky-apple in https://github.com/project-chip/connectedhomeip/pull/13400#discussion_r794897876_

Fix the logic here
        if (!hasEncodedAttributes && !hasEncodedEvents && hasMoreChunks)
        {
            ChipLogError(DataManagement,
                         "No data actually encoded but hasMoreChunks flag is set, abort report! (attribute too big?)

[2022-01-29 04:01] bzbarsky-apple commented on #14508
We need _some_ metadata for client clusters, because Descriptor Cluster needs to be able to show info about them existing, right?

What we should not be generating are:

1. ClusterRevision attributes for client clusters, with space in the attr store and all that.
2. CommandList metadata bits for client clusters.

And I guess we could try to handle the Descriptor bits via some mechanism other than

[2022-01-29 04:08] bzbarsky-apple commented on #8656
Those functions are both gone.

[2022-01-29 04:08] #8656 closed

[2022-01-29 04:17] bzbarsky-apple commented on #14566
In particular, we should probably do a path-specific status for whatever path it was that did not fit in the packet.

[2022-01-29 05:03] dhrishi commented on #14379
@woody-apple Ohh okay. I will check

[2022-01-29 05:59] bzbarsky-apple opened #14573 "PR 14227 broke door lock physical security"
#### Problem
https://github.com/project-chip/connectedhomeip/pull/14227/commits/db640e8c8707629c157fabeea9a41c2100184ef5 (added after reviews, with no review on it, and reverting security-critical fixes from another PR) breaks door lock physical security by hiding open/close events from other fabrics.

 #### Proposed Solution
1. Don't do that.  Restore the bit in cluster-objects.zapt, remove the h

[2022-01-29 07:37] Minan-Tuyasmart opened #14575 "TE7.5 [TC-MF-1.3] The coammand of ./chip-tool basic write node-label fails"
Problem：
[TC-MF-1.3] The coammand of ./chip-tool basic write node-label fails

platform:
Testing image on RasPi：v1.7.img
Connectedhomeip commitID : b0af6ba
OTBR commitID：72bb3d45684f837e67e7f1ec20a9a8e3ac4a4419
lighting-app run on the EFR32MG24 board base on commitID : b0af6ba
[TC-MF-1.3.txt](https://github.com/project-chip/connectedhomeip/files/7963190/TC-MF-1.3.txt)
[otbr-log.txt](https://github

[2022-01-29 07:44] Minan-Tuyasmart opened #14576 "TE7.5 [TC-MF-1.4] The coammand of ./chip-tool administratorcommissioning open-basic-commissioning-window always fails."
Problem：
[TC-MF-1.4] The coammand of ./chip-tool administratorcommissioning open-basic-commissioning-window always fails.

platform:
Testing image on RasPi：v1.7.img
Connectedhomeip commitID : b0af6ba
OTBR commitID：72bb3d45684f837e67e7f1ec20a9a8e3ac4a4419
lighting-app run on the EFR32MG24 board base on commitID : b0af6ba
[TC-MF-1.4.txt](https://github.com/project-chip/connectedhomeip/files/7963207/

[2022-01-29 07:49] Minan-Tuyasmart opened #14577 "The 1st step of [TC-MF-1.15] ,[TC-MF-1.17] ,[TC-MF-1.21] administratorcommissioning open-basic-commissioning-window fails ."
Problem：
The 1st step of [TC-MF-1.15] ,[TC-MF-1.17] ,[TC-MF-1.21]  administratorcommissioning open-basic-commissioning-window fails .

platform:
Testing image on RasPi：v1.7.img
Connectedhomeip commitID : b0af6ba
OTBR commitID：72bb3d45684f837e67e7f1ec20a9a8e3ac4a4419
lighting-app run on the EFR32MG24 board base on commitID : b0af6ba

[otbr-log.txt](https://github.com/project-chip/connectedhomeip/fi

[2022-01-29 07:54] Minan-Tuyasmart opened #14578 "TE7.5 The third step of [TC-MF-1.22] pairing open-commissioning-window fails ."
Problem：
The third step of [TC-MF-1.22] pairing open-commissioning-window fails .

platform:
Testing image on RasPi：v1.7.img
Connectedhomeip commitID : b0af6ba
OTBR commitID：72bb3d45684f837e67e7f1ec20a9a8e3ac4a4419
lighting-app run on the EFR32MG24 board base on commitID : b0af6ba
[TC-MF-1.22.txt](https://github.com/project-chip/connectedhomeip/files/7963225/TC-MF-1.22.txt)
[otbr-log.txt](htttps:/

[2022-01-29 10:39] bzbarsky-apple commented on #14565
It's probably using the old network commissioning cluster impl.... We need to finish moving things over to the new one, but the new one requires new per-platform code to be written, so it mostly hasn't been happening.

[2022-01-29 10:43] bzbarsky-apple commented on #14486
Clusters need to define APIs that they will use to talk to the application.

The IAS Zone clusters basically don't work at all in Matter right now.  Someone needs to actually hook them up properly.

[2022-01-29 10:48] bzbarsky-apple commented on #14502
[code]
The problem is the use of `{{chipType}}`, which does not know about nullable....  That should really be using `zapTypeToDecodableClusterObjectType`, probably.

[2022-01-29 11:08] bzbarsky-apple commented on #14518
@sowmyassp subscribe-event is right there, no?  That subscribes to event reports.

[2022-01-30 14:21] #14365 closed

[2022-01-30 14:21] #14573 closed

[2022-01-30 14:33] andy31415 commented on #12942
Closing this as part of pre v1 triage: this is not a SDK issue/bug that we can triage for implementation.

[2022-01-30 14:33] #12942 closed

[2022-01-30 14:37] andy31415 commented on #14482
What were the steps involved here?

[2022-01-30 14:40] andy31415 commented on #14475
Seems like a duplicate of #14476 but with a different test case run.

[2022-01-30 14:40] #14475 closed

[2022-01-30 14:40] andy31415 commented on #14476
Seems like a duplicate of #14472 but with a different test case run.

[2022-01-30 14:41] andy31415 commented on #14475
Actually will use #14472 as the duplicate as it was the first ever reported. Will close all the other duplicates and keep the 14472 open.

[2022-01-30 14:42] andy31415 commented on #14482
Seems like a duplicate of #14472 but with a different test case run.
We seem to have quite a few stack traces showing potential memory corruption.

[2022-01-30 14:42] #14482 closed

[2022-01-30 14:42] #14476 closed

[2022-01-30 14:46] andy31415 commented on #11262
No memory is likely related to pre-allocated number of concurrent subscriptions rather than actual RAM. The description says "subscribe 4-5 times" which leads me to believe that we never unsubscribe.

This seems to work as expected - we have a limit on number of concurrent subscriptions as each subscription take RAM on constrained devices (and those pre-allocate fixed sizes).

Asking for the linux

[2022-01-30 14:47] andy31415 commented on #11262
Tagging as "future" for now as this seems expected behaviour, however if we need to adjust subscribe prealloc count we can revisit.

[2022-01-30 14:49] andy31415 commented on #10615
marking as "future" for now however this may even work already. Need to check.

[2022-01-30 14:51] andy31415 commented on #10615
Compilation worked on a master checkout today. Closing.

[2022-01-30 14:51] #10615 closed

[2022-01-30 14:55] andy31415 commented on #14518
Matter uses `subscribe` instead of `report`. Assuming this issue can be closed.

[2022-01-30 14:55] #14518 closed

[2022-01-30 15:02] andy31415 commented on #11037
Closing as a matter oss sdk issue as this is not a feature/bug request for the SDK itself.

@denny089 for google EAP joining, you should contact google directly.

[2022-01-30 15:02] #11037 closed

[2022-01-31 03:56] erjiaqing opened #14586 "Ensure we reject operations on fabric scoped attributes when using PASE session before AddNOC"
We absolutely want this, per current spec proposals.  Please make sure an issue is filed tracking this.

_Originally posted by @bzbarsky-apple in https://github.com/project-chip/connectedhomeip/pull/13756#discussion_r794989381_

[2022-01-31 06:09] yunhanw-google opened #14587 "Expose the version to user in python and c++ tool"
We're not doing much with this version, and not actually exposing this to users to see and interact with. Please file an issue to do so.

_Originally posted by @mrjerryjohns in https://github.com/project-chip/connectedhomeip/pull/13400#discussion_r795355123_

[2022-01-31 06:47] yunhanw-google opened #14588 "Integrate DataVersionFilter in readClient/readHandler"
DataVersionFilters has not yet been implemented in this PR, would happen in next PR, thanks

_Originally posted by @yunhanw-google in https://github.com/project-chip/connectedhomeip/issues/13400#issuecomment-1025422874_

[2022-01-31 12:44] sowmyassp opened #14589 "[TC-SWD"
The result is different in Automation and Manual testing.

[2022-01-31 13:11] #14589 closed

[2022-01-31 13:30] andy31415 commented on #14167
@woody-apple - I am unsure if this should be v1: the log says "not implemented" and generally if chip is embedded, it is unclear to me if a restart of the app is possible or even desirable.

[2022-01-31 13:33] andy31415 commented on #14099
Encode values seems to already be supported in the latest encode_value.zapt (there is an isArray check and no more todo).

[2022-01-31 13:33] #14099 closed

[2022-01-31 13:45] andy31415 commented on #14079
I checked src/app_clusters/media/TargetNavigator.adoc in latest spec and the feature map of this cluster seems empty:

[code]

as such, I am unclear what needs to be done here, so I am moving this out of v1, but asking the original TODO author to review. @lazarkov

[2022-01-31 13:51] sowmyassp opened #14590 "[TC-SWDIAG-3.1] The value of CurrentHeapHighWatermark should match with the value of CurrentHeapUsed but failed to do so."
#### Problem
**Issue** : In [TC-SWDIAG-3.1] testcase fails because in step 2d the value of CurrentHeapHighWatermark should match with the value of CurrentHeapUsed in step 2c according to test-plan.
But in master branch while running those commands the values are diiferent.

**Expected behaviour** :  The value of CurrentHeapHighWatermark and CurrentHeapUsed should be same.

**Actual behaviour** : T

[2022-01-31 13:52] andy31415 commented on #13965
Due to RIO requirements for IPv6, minimum android for chipt is 8.0, which is api level 26.
Need followup with java team if this is really required for other reasons.

[2022-01-31 14:07] andy31415 commented on #13935
The check seems to be on the else branch after:

[code]

justTest is set to true by emberAfVerifyAttributeWrite which I do not see used anywhere in the code. Is this correct? can we just drop this 'just test' branch?

I.e. this TODO seems easy enough, but I am unsure if it is actually a V1 blocker. Keeping as blocker because easy to change.

[2022-01-31 14:13] andy31415 commented on #12326
Added looks critical: FORTIFY error points to invalid memory access.

[2022-01-31 14:20] andy31415 commented on #9479
looks critical: memory safety issue (also fix seems easy enough if we just make it error out)

[2022-01-31 14:22] andy31415 commented on #1235
Moved out of V1 with reasoning that refactoring names is not ideal while in bugfixing mode. Even for 1.x I am unsure, but the sooner we do this the easier maintenance.

[2022-01-31 14:25] andy31415 commented on #1817
Matter spec does not include reliabiligy for group  messaging. This issue was raised pre-spec, however now that the spec is finalized we can close it.

[2022-01-31 14:25] #1817 closed

[2022-01-31 14:28] andy31415 commented on #2569
This looks like platform specific code - re-assigned to platform owner.

[2022-01-31 14:29] andy31415 commented on #3090
Spec as of today says of PID:

[code]

[2022-01-31 14:30] andy31415 commented on #3090
Closing as assuming this is "done" in the sense that product id 0 is not valid, so the described conflict should not be possible in spec-compliant implementations.

[2022-01-31 14:30] #3090 closed

[2022-01-31 14:31] andy31415 commented on #3411
Existing setup works for now - not ideal, however due to support of versions, we are likely to sabilize build images. Will not build this as a bugfix for v1.

[2022-01-31 14:36] andy31415 commented on #3520
Removing from v1: I would expect RTT to require RAM as it uses ram buffers to transfer RTT data between debugger and program.

Inclusion of RTT is likely only useful for debug builds though. At most for V1 we could check inclusion of RTT, however that seems to be a end device/production readyness checkmark of what libraries are enabled or not.

Currently I only see segger_rtt_root used in third_pa

[2022-01-31 14:37] andy31415 commented on #3922
Marking looks critical: memory safety and by the description sounds quite a small change.

[2022-01-31 14:38] andy31415 commented on #4767
looks critical - this is an API design issue: we should not attempt to try to overwrite any written discriminators. Factory data is actually expected to be read-only: I should not be able to overwrite serial, PKBDF data, discriminators etc.

[2022-01-31 14:43] tcarmelveilleux commented on #14590
@sowmyassp Can you please provide the text of the steps you ran, so that we have the correct context?

[2022-01-31 14:44] mlepage-google commented on #14586
Well, sort of. This is my understanding.

When the PASE session is using accessing fabric index 0, it should not be able to use any fabric scoped attributes. When the PASE session gets elevated to the commissioned fabric as its accessing fabric (after AddNOC), it should be able to affect attributes scoped to that fabric (but not others).

[2022-01-31 14:47] andy31415 commented on #5691
Data model types defined in https://github.com/project-chip/connectedhomeip/blob/master/src/lib/core/DataModelTypes.h:

OK:
  - CommandID is uint32_t - spec 7.18.2 agrees
  - EventId is uint32_t - spec 7.18.2 agrees

  - DataVersion is uint32_t: 7.18.2. Derived Data Types in spec says derived data type `Data Version` is uint32.

src/lib/core/GroupId.h says GroupID is uint16_t, however 2.5.4. Group

[2022-01-31 14:47] #5691 closed

[2022-01-31 14:50] kpschoedel commented on #3519
Obsolete — `gSessions` doesn't even exist any more.

[2022-01-31 14:50] #3519 closed

[2022-01-31 14:57] andy31415 commented on #14066
Moved to post v1 as this does not seem to be a blocking bug but more maintenance of template logic (overly long templates and repeated code).

[2022-01-31 15:11] andy31415 commented on #13921
@erjiaqing - is this supposed to be v1 or is this TODO actually #9530 (which is v1.x)?

[2022-01-31 15:20] andy31415 commented on #1829
I believe this was a catch-all bug per features, however specifically for ACL we have separate tracking at the moment and this bug is not needed. Closing.

[2022-01-31 15:20] #1829 closed

[2022-01-31 15:27] andy31415 commented on #2831
@woody-apple - implementing scenes seems like significant feature work that is not in the "late" list of acl/ota/im/group.

This does not look like v1.

[2022-01-31 15:30] andy31415 commented on #3631
As this is a refactor, removing this from 'blocking v1'. Helps maintainability of code, can be done later.

[2022-01-31 15:38] andy31415 commented on #6263
This is likely minMdns implementation not sending a 'clear cache' or 'leave' messages. We likely need to implement more of the mdns spec in minmdns.

[2022-01-31 15:51] andy31415 commented on #14076
Spec KeypadInput defines the following features:

[code]

[2022-01-31 15:51] bzbarsky-apple commented on #14456
The current SDK implementation here is:
[code]

Like the comment says, it shouldn't be: per spec this is a struct, not a list.  Basically, this attribute was added without any sort of reasonable implementation, and we need to implement it.

[2022-01-31 15:56] bzbarsky-apple commented on #14586
Yes, exactly.  This is not about PASE per se, but about whether we have an accessing fabric.  Unfortunately this issue omitted the context for my comment, which was code that said:
[code]

[2022-01-31 16:03] cecille commented on #14555
Can you tell if shutdown is being called? OnMdnsPacketData does check that the delegate is not null before using it, and the shutdown on the resolver proxy sets that back to null.

[2022-01-31 16:21] kpschoedel commented on #2012
Seems obsolete.

[2022-01-31 16:21] #2012 closed

[2022-01-31 16:27] mlepage-google commented on #14438
Spec PR
https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/4889

[2022-01-31 16:30] andy31415 commented on #8606
Note that #7738 is V1 and is a subset of this. As far as I understand, the reason this did not get a V1 was because of title saying "refactor" but the requirements seem to be V1 requirements:

Need ability to store factory data and read it as such during commissioning.

[2022-01-31 16:42] sowmyassp opened #14595 "Commissioning over BLE is failing on Master Branch"
#### Problem
Commissioning over BLE is failing on Master Branch (CommitID -  8b503ad05993ccef1063c1b38d9a906a85955445 ).

![cntrl_failure](https://user-images.githubusercontent.com/90545664/151834556-4c12c929-9469-4997-952d-af4fcf71111c.png)

Attached log :
[pairing_failure_dut.txt](https://github.com/project-chip/connectedhomeip/files/7972508/pairing_failure_dut.txt)
[pairing_failure_cntrl.txt](h

[2022-01-31 16:43] lnikulin opened #14596 "Incorrect processing in Engine::ScheduleRun()"
#### Problem
Received timeout in operation get/set attribute value into any clusters (any attributes) from client application (chip-tool),

#### Platform
MIPS

 #### Root-cause and Proposed Solution
Fix (#13093) not fully correct

The root-cause is in incorrect workflow in ```Engine::ScheduleRun()``` (/src/app/reporting/Engine.cpp)
```Engine::ScheduleRun()``` schedules the callback function ```Eng

[2022-01-31 17:40] lzgrablic02 commented on #13823
@yinyihu-silabs what build/device is the server?

[2022-01-31 17:47] yinyihu-silabs commented on #13823
I'm running lighting/lock/window app on efr32.  All apps returns the same $ value as default.
After write, read would return expected country code.

[2022-01-31 18:18] kpschoedel commented on #5622
probably obsolete

[2022-01-31 18:22] turon commented on #14438
Removing triage tag.  This bug is v1 worthy.

[2022-01-31 18:22] kpschoedel commented on #4751
Looks like there's no code left inside this; only the `#define`s remain.

[2022-01-31 18:36] mrjerryjohns commented on #14215
Not relevant anymore/is stale. Closing.

[2022-01-31 18:36] #14215 closed

[2022-01-31 18:37] msandstedt commented on #13383
This still appears to be the best solution.

Another awkwardness we discovered:

[code]

`EstablishSession` does not take ownership of the exchange in all cases.  Specifically, if `exchangeCtxt != nullptr`, but `fabric == nullptr`, `EstablishSession` will not close the exchange.  However, the caller can't free or close the exchange on failure due to the risk this will likely be a double-free.

[2022-01-31 18:37] mrjerryjohns commented on #14127
This looks fairly important, but marking it as secondary triage. @vivien-apple @bzbarsky-apple to comment further.

[2022-01-31 18:38] mrjerryjohns commented on #14100
This looks fairly important, but assigning to @austinh0 for further triage.

[2022-01-31 18:40] mlepage-google commented on #10242
OK, regarding part of the previous question, since non-0 passcode ID for PASE sessions during commissioning is required for admin, we cannot have any checks to ensure passcode ID is 0 (because it isn't always 0). But, it is always commissioning. (Still needs to be enforced that it's only for commissioning, because we're going to be granting it administer privileges.)

[2022-01-31 18:44] andy31415 commented on #14525
Looks like a duplicate of #14472

[2022-01-31 18:45] andy31415 commented on #14494
Looks like a duplicate of #14472

[2022-01-31 18:45] #14494 closed

[2022-01-31 18:45] andy31415 commented on #14493
Looks like a duplicate of #14472

[2022-01-31 18:45] #14493 closed

[2022-01-31 18:46] mrjerryjohns commented on #14081
Rationale for keeping it v1: Ensuring we don't start commissioning when one is in progress seems like good house-keeping to do to prevent worse failures from cropping up later.

[2022-01-31 18:46] nanobert commented on #14278
I followed the setup, but note: I used a 32bit image.
There is no gn available for the target and it needed be be compiled from scratch.
After this, the next issue appeared; pigweed. I installed pigweed from pip.
Then protobuf woudn't install and I stopped

[2022-01-31 18:46] #14278 closed

[2022-01-31 18:46] andy31415 commented on #14472
@nanmu2018 - please follow up with test cases that fail inside this issue instead of creating separate issues for every case. I imagine whoever will end up debugging and fixing this will want to validate all paths as part of a single issue instead of multiple ones.

[2022-01-31 18:46] andy31415 commented on #14525
Mistakenly marked duplicate. Sorry.

[2022-01-31 18:47] cecille commented on #829
Closing this issue - chipZclRawAlloc is no longer used, general memory management is handled in other issues.

[2022-01-31 18:47] #829 closed

[2022-01-31 18:48] mrjerryjohns commented on #14067
This file has been deleted and the approach has pivoted, so issue is no longer relevant.

[2022-01-31 18:48] #14067 closed

[2022-01-31 18:53] holbrookt commented on #14406
looks critical due to cert label. Jonathon - can you confirm this is required for 1.0?

[2022-01-31 18:53] mrjerryjohns commented on #14045
Looks critical, since just a reinterpret_cast is not going to cut it for strings send in commands.

[2022-01-31 18:54] andy31415 commented on #14595
@sowmyassp - what platform are you running the commisioner on? Generally BLE differs greatly between mac/linux/android and in linux it may be useful to differentiate between RPi and ubuntu/other.

Also #14472 talks about core dumps.

[2022-01-31 18:54] mrjerryjohns commented on #13970
Looks critical, since it involves shutdown and object free coordination.

[2022-01-31 18:54] andy31415 commented on #14595
Guessing the coredump is a sideffect of 'failed happy path' so the first thing we want to fix is probably the happy path bit.

[2022-01-31 18:55] mrjerryjohns commented on #13937
Stale since we don't use Ember's network management logic anymore.

[2022-01-31 18:55] #13937 closed

[2022-01-31 18:57] mrjerryjohns commented on #13922
This is a spec compliance issue, since the spec does not actually define that as a list.

[2022-01-31 19:00] mrjerryjohns commented on #13862
Moving to v1.x since mode select isn't a listed device type for any lighting device types.

[2022-01-31 19:01] cjandhyala commented on #14595
@andy31415 I believe this happening on raspi platform.

[2022-01-31 19:02] holbrookt commented on #14339
Carol is this necessary for 1.0?

The reference Requestor API will still change its Provider target when it receives `AnnounceOTAProvider`, or when the `DefaultOTAProviders` changes, right?

[2022-01-31 19:04] mlepage-google commented on #14438
Yes this has to be done, it's no sense having fabric scoped/sensitive attributes but not fabric scoped/sensitive events which include the same content.

[2022-01-31 19:09] turon commented on #14424
Linking to referenced #13606

[2022-01-31 19:10] turon commented on #14379
All platforms must build for v1, so removing `v1_triage_split_4` tag.

[2022-01-31 19:12] holbrookt commented on #14321
@selissia should this issue be assigned to you as it's efr32? If not, can you help assign?

[2022-01-31 19:13] turon commented on #14217
Reference #2279

[2022-01-31 19:15] selissia commented on #14321
Yes, this is a DNS issue not specific to EFR32. As such I initially assigned it to @vivien-apple but @woody-apple unassigned it, I'm not sure why.

[2022-01-31 19:17] holbrookt commented on #14287
Austin, it looks like this came from a recent PR of yours. It doesn't seem like this is necessary for 1.0, but if it is, can you relabel it?

[2022-01-31 19:19] lzgrablic02 commented on #10098
This is no longer outstanding

[2022-01-31 19:19] #10098 closed

[2022-01-31 19:21] mrjerryjohns commented on #12075
TE7 was quite a long ways back, so marking this as stale. If issue still exists, please file a new issue with latest code.

[2022-01-31 19:21] #12075 closed

[2022-01-31 19:21] mrjerryjohns commented on #12018
TE7 was quite a ways back, and the code has evolved significantly since then. Marking this as stale.

[2022-01-31 19:21] #12018 closed

[2022-01-31 19:22] mrjerryjohns commented on #11944
This should all be fixed now in the SDK.

[2022-01-31 19:22] #11944 closed

[2022-01-31 19:22] mrjerryjohns commented on #11828
Is this still relevant?

[2022-01-31 19:23] mrjerryjohns commented on #11828
@fessehaeve can you confirm?

[2022-01-31 19:23] cecille commented on #14595
This is related to the network feature map changes.

[code]
^ This is the feature map query for the network cluster. The DUT is indicating that it is thread device. If the DUT is wifi, it needs to have the zap file updated to reflect that.

[2022-01-31 19:27] mrjerryjohns commented on #11399
@carol-apple @holbrookt is this a v1.0 feature?

[2022-01-31 19:32] austinh0 commented on #14287
This is not necessary for 1.0, thanks.

[2022-01-31 19:33] turon commented on #14318
This is blocking my local build currently after reset to `origin/master`.

Removing `v1_triage_split_10` tag.

[2022-01-31 19:38] mrjerryjohns commented on #10510
Stale, should not be a problem anymore on master.

[2022-01-31 19:38] #10510 closed

[2022-01-31 19:39] mrjerryjohns commented on #10323
Marking optional attributes as post 1.0.

[2022-01-31 19:40] turon commented on #1823
This was an old tracking issue for the ACL work.
We now have an ACL API, initial implementation, and ongoing work tracked by more specific issues.
Closing.

[2022-01-31 19:40] #1823 closed

[2022-01-31 19:40] mrjerryjohns commented on #9963
Should be resolved given commissioning complete is now sent.

[2022-01-31 19:40] #9963 closed

[2022-01-31 19:42] mrjerryjohns commented on #9771
Just did a read in the REPL, and it comes back as 1.

[2022-01-31 19:42] #9771 closed

[2022-01-31 19:43] mrjerryjohns commented on #9679
This is actually at version 5 in the cluster specs now, and I've confirmed reading in the REPL that it returns 5.

Also, writes to the cluster revision are not supported (it's read-only).

[2022-01-31 19:43] #9679 closed

[2022-01-31 19:43] mrjerryjohns commented on #9520
All have been completed.

[2022-01-31 19:43] #9520 closed

[2022-01-31 19:44] mrjerryjohns commented on #8986
Stale.

[2022-01-31 19:44] #8986 closed

[2022-01-31 19:47] mrjerryjohns commented on #8829
Running 'nm' still reveals a number of users of operator new.

[2022-01-31 19:47] mrjerryjohns commented on #8829
Requesting secondary triage since I'm not sure how critical this is for v1.0.

[2022-01-31 19:48] mrjerryjohns commented on #8565
The last bullet still looks to be un-addressed in the code on master.

[2022-01-31 19:49] mrjerryjohns commented on #8565
Requesting secondary triage since it's not clear how important fixing that is.

[2022-01-31 19:49] andy31415 commented on #9479
Marking fixed from #9954

[2022-01-31 19:49] #9479 closed

[2022-01-31 19:49] mrjerryjohns commented on #8043
Was resolved a while back.

[2022-01-31 19:50] cecille commented on #14160
started by mrfinesse99 (narayan.mohanram@silabls.com) - for some reason I can't assign this issue.

[2022-01-31 19:53] mrjerryjohns commented on #7738
It looks like `PASESession::WaitForPairing` permits you to embed in a verifier and consequently, set `mComputeVerifier` to false? (that boolean drives the call to drive Spake2 params).

@bzbarsky-apple @tcarmelveilleux @andy31415

[2022-01-31 19:57] cecille commented on #3377
Possibly finished? There seems to be a linked PR, but specifically for linux.

[2022-01-31 19:58] turon commented on #14104
File doesn't exist in tree anymore.
Removing `v1_triage_split_2`.
Closing.

[2022-01-31 19:58] #14104 closed

[2022-01-31 20:07] kpschoedel commented on #2762
As of 8b503ad05993ccef1063c1b38d9a906a85955445, usage of RAM (i.e. sections marked writable, typically .data and .bss) across builds tracked in CI is:

| platform   | config                      | target                 |    size |
|------------|-----------------------------|------------------------|---------|
| cyw30739   | CYW30739                    | lock-app               |  535402 |
|

[2022-01-31 20:10] tcarmelveilleux commented on #14142
DeviceTypeID is 32 bits in the spec, but only vendor-specific device types are >16 bits. Suggest moving to 32 bits at this line.

[2022-01-31 20:11] turon commented on #14318
Try `git submodule update --init -f --recursive`.

[2022-01-31 20:15] #6127 closed

[2022-01-31 20:16] tcarmelveilleux commented on #14103
Recommend converting to a pure comment. This is not a TODO, but rather a warning.

[2022-01-31 20:17] andy31415 commented on #14595
Where is this default value coming from?
I imagine it is moved from zap into each app, which makes it hard from shared zap files (all clusters works on both thread and wifi devices) to override.

I would like to surface this info in .matter IDL files to make it easy to review, but I am totally unclear how the default value makes its way into responses :(

[2022-01-31 20:20] tcarmelveilleux commented on #14089
Please remove this TODO

[2022-01-31 20:22] tcarmelveilleux commented on #14050
Duplicate of https://github.com/project-chip/connectedhomeip/issues/10334

[2022-01-31 20:22] #14050 closed

[2022-01-31 20:25] tcarmelveilleux commented on #14022
This is dependant on https://github.com/project-chip/connectedhomeip/pull/14299

[2022-01-31 20:26] cecille commented on #3769
Some of this code has changed, but HexDigitToInt could probably use the Encoding::HexToBytes function

[2022-01-31 20:27] andy31415 commented on #14595
I am not even clear it is zap: https://github.com/project-chip/connectedhomeip/blob/master/examples/all-clusters-app/all-clusters-common/all-clusters-app.zap#L2314 says `"defaultValue": 1` where as thread constant is 0x02

[2022-01-31 20:28] tcarmelveilleux commented on #13974
Renamed after looking at code. This is a template issue for the `chip-tool` template.

[2022-01-31 20:31] cecille commented on #6674
Obsolete - breadrumb is now part of the command.

[2022-01-31 20:31] #6674 closed

[2022-01-31 20:31] kpschoedel commented on #2762
RAM usage is labelled ‘(read/write)’ in PR size reports; e.g. the most recent green run at the moment is https://github.com/project-chip/connectedhomeip/pull/14310#issuecomment-1025174239

[2022-01-31 20:34] kpschoedel commented on #13931
File removed by 8b503ad05993ccef1063c1b38d9a906a85955445 #14571

[2022-01-31 20:34] #13931 closed

[2022-01-31 20:46] mlepage-google opened #14604 "Enforce that no PASE sessions that aren't commissioning are possible"
For v1, we do not support operational PASE, so PASE is only permissible during commissioning.

In access control, for v1 we grant any PASE session the administer privilege, since it's appropriate given commissioning can be taken for granted.

**Therefore, we need to enforce in the SDK that in v1 it is not possible to create a non-commissioning PASE session.** This may already be the case but we ne

[2022-01-31 20:47] mlepage-google commented on #10242
Final piece of the puzzle is tracked in issue #14604.

[2022-01-31 20:55] mlepage-google commented on #10242
All work for this in v1 is done in access control, anything dangling is tracked in other issues.

[2022-01-31 20:55] #10242 closed

[2022-01-31 20:57] tcarmelveilleux commented on #13867
Spec-compliance:

[2022-01-31 20:58] mrjerryjohns commented on #7286
@austinh0 is this a v1.0 feature?

[2022-01-31 20:59] tcarmelveilleux commented on #13513
This is a Test Plan issue, not SDK

[2022-01-31 21:00] mrjerryjohns commented on #6805
I can't seem to find `NetworkInterfaceType` in the cluster specs anymore. More-over, char string is now supported. Marking as stale.

[2022-01-31 21:00] #6805 closed

[2022-01-31 21:02] mrjerryjohns commented on #6144
I'm not sure if this is implemented, or is considered necessary for v1.0.

[2022-01-31 21:03] mrjerryjohns commented on #5822
NRF does have a matter specific factory reset implementation that does seem to work fine (when I last tested it last week). Marking this as stale.

[2022-01-31 21:03] #5822 closed

[2022-01-31 21:09] tcarmelveilleux commented on #12930
Obsolete error not reproduced and no additional details. This is a basic network issue during bootstrap. Please re-open if it still occurs.

[2022-01-31 21:09] #12930 closed

[2022-01-31 21:09] mrjerryjohns commented on #3578
`emberAfDoorLockClusterSetHolidayScheduleCallback` is not implemented (still) in the SDK. Closing this as a stale issue for now since there isn't actually an illegal implementation yet.

[2022-01-31 21:09] #3578 closed

[2022-01-31 21:10] mrjerryjohns commented on #3417
Closing issue for now, and opening if OT size is still a concern.

[2022-01-31 21:10] #3417 closed

[2022-01-31 21:10] #3095 closed

[2022-01-31 21:10] mrjerryjohns commented on #3095
Stale.

[2022-01-31 21:11] mrjerryjohns commented on #2705
Stale.

[2022-01-31 21:11] #2705 closed

[2022-01-31 21:12] turon commented on #2762
We have the measurements, but don't want to close until there is a follow-up issue to analyze the data and track shrinking the sizes.  Cursory analysis:
- RAM sizes are generally large for most examples on most platforms.
- We are very close to exceeding our target of <128kb RAM, even on simple examples.
- Some seemingly similar platforms have vastly different sizes.
   Example - Cortex-M platform

[2022-01-31 21:12] mrjerryjohns commented on #1266
`GroupKeyStoreImpl` doesn't exist anymore. Marking as stale.

[2022-01-31 21:12] #1266 closed

[2022-01-31 21:13] harimau-qirex commented on #11907
Resolved by #12212.

[2022-01-31 21:13] #11907 closed

[2022-01-31 21:13] mrjerryjohns commented on #11554
A class to implement this (`AttributeCache`) has been implemented and checked in a while back

[2022-01-31 21:13] #11554 closed

[2022-01-31 21:17] tcarmelveilleux commented on #12331
@krypton36 Is this still reproducible with latest code?

[2022-01-31 21:19] tcarmelveilleux commented on #12090
Failure of a test case on one platform. @doru91 please triage for K32W.

[2022-01-31 21:21] tcarmelveilleux commented on #12028
This is expected: unless your platform implements the `ConfigurationManager::GetVendorName` method properly, it will fail like here.

@nanmu2018 Can you please validate after setting your platform properly?

[2022-01-31 21:22] tcarmelveilleux commented on #12331
Reported by @krypton36 to no longer happen

[2022-01-31 21:22] #12331 closed

[2022-01-31 21:23] harimau-qirex commented on #13132
Resolved by #13139.

[2022-01-31 21:23] #13132 closed

[2022-01-31 21:25] tcarmelveilleux commented on #11492
Implemented by https://github.com/project-chip/connectedhomeip/pull/13563

[2022-01-31 21:25] #11492 closed

[2022-01-31 21:29] turon commented on #14424
Passing EP as uint16_t, and properly applying nullable fields within a cluster looks like something that needs to be fixed for v1.
Removing tag `v1_triage_split_4`.

[2022-01-31 21:30] turon commented on #14345
Improving CI is always good.
Removing `v1_triage_split_4`.

[2022-01-31 21:30] tcarmelveilleux commented on #11960
@erjiaqing Is this complete?

[2022-01-31 21:33] turon commented on #14318
May have been introduced in PR #13491.

Entered tree as commit 1af90eb

Temp work-around to revert to dd209ce

[2022-01-31 21:34] harimau-qirex commented on #14061
Appears to be a duplicate of #5675.

[2022-01-31 21:34] #14061 closed

[2022-01-31 21:36] harimau-qirex commented on #14285
Duplicate of #14326.

[2022-01-31 21:36] #14285 closed

[2022-01-31 21:37] turon commented on #14328
Reliable commissioning on Darwin is critical for v1.
Removing `v1_triage_split_4` tag.

[2022-01-31 21:41] turon commented on #14304
Needed for v1. Removing `v1_triage_split_4`.

[2022-01-31 21:42] jepenven-silabs commented on #11851
Done with PR #11808

[2022-01-31 21:45] tcarmelveilleux commented on #11309
Repro steps obsolete, descriptor work done since then should have resolved. Closing as obsolete.

[2022-01-31 21:47] tcarmelveilleux commented on #11113
Fixed by https://github.com/project-chip/connectedhomeip/pull/13172

[2022-01-31 21:47] #11113 closed

[2022-01-31 21:48] jmartinez-silabs commented on #14595
I was also under the impression that this is the defaul value. and the feature map is set to 1 (wifi) for in all zap configs I saw. fwiw, I get the same error with lighting app on thread platform.

[2022-01-31 21:52] tcarmelveilleux commented on #10225
Seems like it was done by #10181. @Damian-Nordic to confirm and close

[2022-01-31 21:53] tcarmelveilleux commented on #9975
@bzbarsky-apple Is this still happening? If not please close

[2022-01-31 21:54] cecille commented on #7271
Is this still happening?

[2022-01-31 21:55] turon commented on #13397
Removing `v1_triage_split_4`, as v1 must be reliable (not assert/crash easily due to corner cases).

[2022-01-31 22:05] tcarmelveilleux commented on #9773
Trivial fix, will change

[2022-01-31 22:06] tcarmelveilleux commented on #8997
Done by TLVReader::Get()

[2022-01-31 22:06] #8997 closed

[2022-01-31 22:07] tcarmelveilleux commented on #9681
@lucyShi0116 Is this still happening? If so, what platform is it on?

[2022-01-31 22:08] selissia commented on #13782
Some considerations on supporting that first query right after boot up
- If requestor is not commissioned, this will always fail - we should differentiate this failure from something unrelated to commissioning. You can use FabricTable::FabricCount to determine if you’ve been commissioned or not
- If requestor is not commissioned, we should consider adding some kind of delegate to the FabricTable t

[2022-01-31 22:08] tcarmelveilleux commented on #9551
@mrjerryjohns Says it's done

[2022-01-31 22:08] #9551 closed

[2022-01-31 22:09] mrjerryjohns commented on #9551
Implemented in #13472

[2022-01-31 22:12] turon commented on #13938
Testing multicast will be important once group messaging is complete.
Tagged task as `group` and removed `v1_triage_split_4 `.

[2022-01-31 22:13] holbrookt commented on #14321
Maybe an automated script? Feel free to reassign if you think that's right

[2022-01-31 22:15] turon commented on #1435
This issue is old and may be closable, but only once there is validation that v1 SDK works properly on Windows.
Removing `v1_triage_split_4`.

[2022-01-31 22:16] tcarmelveilleux commented on #8859
Please double-check which ones are missing

[2022-01-31 22:18] tcarmelveilleux commented on #4876
AFAIK this is done. @mrjerryjohns to confirm/close

[2022-01-31 22:18] turon commented on #1821
This is a very old tracking issue.  SDK now has an initial implementation of `Group Key Management` cluster, and ongoing work is tracked by other issues.
Closing.

[2022-01-31 22:18] #1821 closed

[2022-01-31 22:19] tcarmelveilleux commented on #7791
@bzbarsky-apple Is this done?

[2022-01-31 22:21] mrjerryjohns commented on #4876
Yes, done.

[2022-01-31 22:21] #4876 closed

[2022-01-31 22:23] holbrookt commented on #14202
Pankaj, it looks like you added this TODO recently. Is this something that needs to be done for 1.0?

[2022-01-31 22:27] mlepage-google commented on #14438
I tried this with Access Control.

In one REPL, I set up two controllers on fabric 1, one subscribed to this event on fabric 1.
In another REPL, I set up a controller on fabric 2, subscribed to this event on fabric 2.

In the first REPL, I wrote the ACL attribute with a new list value.
In the first REPL, I received event notifications for changed entries.
In the second REPL, I received no such not

[2022-01-31 22:27] #14438 closed

[2022-01-31 22:48] tcarmelveilleux commented on #6254
Fixed at least since PR #12931

[2022-01-31 22:49] #6254 closed

[2022-01-31 22:50] tcarmelveilleux commented on #4547
This is obsolete.

[2022-01-31 22:50] #4547 closed

[2022-01-31 22:52] tcarmelveilleux commented on #1822
This issue is superseded by Group work from Silabs.

[2022-01-31 22:52] #1822 closed

[2022-01-31 22:52] tcarmelveilleux commented on #2757
This impacts Flash and RAM size on all embedded platforms

[2022-01-31 22:52] mlepage-google commented on #14285
Yes, duplicate, thanks. And I just tested this in the REPL, it is working on master.

[2022-01-31 23:00] bzbarsky-apple commented on #9975
And that's because we removed the DNS resolver and its test in https://github.com/project-chip/connectedhomeip/pull/10725

For the record, that test was probably failing on Darwin because we compile Darwin with locking disabled but the DNS resolver used a helper thread and locking-based synchronization, so most likely ended up with data races and then hung.

[2022-01-31 23:06] holbrookt commented on #14159
Hi Narayan, it looks like this TODO came from https://github.com/project-chip/connectedhomeip/pull/13193 - is this something that needs to be fixed for 1.0?

[2022-01-31 23:08] holbrookt commented on #14120
Hi Evgeni - this TODO came from your PR https://github.com/project-chip/connectedhomeip/pull/12568. Is it needed for 1.0? If not please remove the label

[2022-01-31 23:13] holbrookt commented on #14095
Hi @JasonLiuZhuoCheng - you were the last to modified this TODO. Is this something that's needed for 1.0? If not, please remove the label.

[2022-01-31 23:19] holbrookt commented on #14063
Hi Boris, it looks like you added this TODO. Is this needed for 1.0? If not please remove the label. Thanks!

[2022-01-31 23:24] holbrookt commented on #14033
@gjc13 you were the last one to edit this file and TODO. Please remove the label if this isn't needed for 1.0

[2022-01-31 23:26] turon commented on #2721
TCP should be tested and pass on darwin for v1.
Removing `v1_triage_split_4`.

[2022-01-31 23:28] holbrookt commented on #13993
Hi @sharadb-amazon, it looks like you introduced this TODO. It doesn't seem necessary for 1.0, but please relabel this issue if I'm wrong. Thanks!

[2022-01-31 23:28] turon commented on #3121
This is fixed -- SDK support mDNS lookup of operational IP addresses now.
Remove `v1_triage_split_4` tag.

[2022-01-31 23:28] #3121 closed

[2022-01-31 23:32] holbrookt commented on #13955
This TODO was carried over from the initial openweave import so I'm assuming it's not relevant for 1.0. Not sure who should be assigned

[2022-01-31 23:34] holbrookt commented on #13928
@pan-apple it looks like you were the last to edit this comment. Is this a concern for 1.0?

[2022-01-31 23:36] holbrookt commented on #13910
Seems to be an lwip related TODO, and the file hasn't been touched for ~2 years. Assuming not critical for 1.0.

[2022-01-31 23:37] holbrookt commented on #13842
@praveenCY is this happening on a specific platform? Please add a label if so

[2022-01-31 23:38] turon commented on #3579
Validation of cluster field ranges is required for v1.
Removing `v1_triage_split_4`.

[2022-01-31 23:39] holbrookt commented on #13618
Hi Chris, is this needed for 1.0? Please remove the label if not

[2022-01-31 23:41] holbrookt commented on #13460
Hi Raju, is this needed for 1.0? Also please consider adding some details to the summary.

[2022-01-31 23:43] turon commented on #3957
Referencing this code:

[src/app/MessageDef.cpp]
[code]

But that file has since been significantly refactored into an entire directory: `src/app/MessageDef`.

Difficult to say whether the issue still exists, but need to follow-up and verify for v1.

Removing `v1_triage_split_4` tag.

[2022-01-31 23:47] turon commented on #4504
Relevant portions of code related to this issue were tagged with TODO(#4504), but no reference to #4504 exists in current codebase.  This may mean this has been fixed, but we need to verify for v1 -- QR format must make consistent use of `_` or ` ` that matches spec.
Removing `v1_triage_split_4 `.

[2022-01-31 23:49] holbrookt commented on #12762
@cecille seems like this could be needed for 1.0?

[2022-01-31 23:49] holbrookt commented on #12539
@vijs please see comment from @dhrishi . We need to know if this is an issue for 1.0 or not.

[2022-01-31 23:53] holbrookt commented on #12249
@denravonska I'm helping triage bugs that are critical for 1.0. Is this still an issue for you?

[2022-01-31 23:54] holbrookt commented on #12133
@Garik098 is this still an issue?

[2022-01-31 23:55] holbrookt commented on #12049
@bzbarsky-apple @mrjerryjohns is this needed for 1.0? If not, please remove the label. Thanks!

[2022-01-31 23:55] turon commented on #4837
Reserved Version != 0 and DSIZ = b11 values are handled in `MessageHeader.cpp`:

[code]

Security Flags are deprecated.

Closing.  Removed tag `v1_triage_split_4`.

[2022-01-31 23:55] #4837 closed

[2022-01-31 23:56] holbrookt commented on #12009
@bzbarsky-apple @yunhanw-google - does this need to be fixed for 1.0?

[2022-01-31 23:59] holbrookt commented on #11909
@tcarmelveilleux This seems important - should it remain in the 1.0 list?

[2022-02-01 00:00] holbrookt commented on #11762
@cm-s-dev is this still an issue? Please close if not.

[2022-02-01 00:02] turon commented on #6243
Spec no longer mandates implementations use any particular error code.
All references to `CRMP_MAX_MESSAGE_SIZE`, `CHIP_ERROR_MESSAGE_TOO_LONG`, or `CHIP_ERROR_MESSAGE_NOT_ACKNOWLEDGED` (or `MRP_` variations) have been removed from spec.

Closing.
Removing tag `v1_triage_split_4`.

[2022-02-01 00:06] turon commented on #7044
The reference code has since been significantly refactored, but certainly adding such general lint checks would be great, time permitting, to add in v1.
Removing tag `v1_triage_split_4 `

[2022-02-01 00:09] turon commented on #7287
This is an older issue.
Android tests are required for v1.
They likely exist now in a form sufficient to close this, but I haven't validated.
Removing tag `v1_triage_split_4`

[2022-02-01 00:10] praveenCY commented on #13842
this is seen on Infineon P6 platform

[2022-02-01 00:16] turon commented on #7742
This is an older issue.  Commissioning over IP on Darwin is required for v1.
I am certain support for commissioning over IP on darwin generally has been added to chip-tool since this issue was filed.
I have validated locally on *Mac* using `./out/debug/standalone/chip-tool pairing onnetwork 1 34567890`.
What I have not validated is that this feature works on iOS.
iOS onnetwork commissioning is req

[2022-02-01 00:20] #8147 closed

[2022-02-01 00:20] #8148 closed

[2022-02-01 00:22] #9773 closed

[2022-02-01 00:23] liamgonyea opened #14612 "[TC_IDM_4.1] & [TC_IDM_4.2] Need support for activating various subscription attribute types for IDM testing for TE7.5"
#### Problem
To run test cases `[TC_IDM_4.1]` and `[TC_IDM_4.2]`, there needs to be a functionality for a user to activate subscriptions and send subscription request messages for individual subscription data types (bool, string, unsigned integer, signed integer, floating point)  from a chip-tool controller to an accessory on an individual basis.

#### Test Case
3.5.1. [TC-IDM-4.1] SubscriptionReq

[2022-02-01 00:23] holbrookt commented on #11552
@ukatira Is this an issue for 1.0?

[2022-02-01 00:24] holbrookt commented on #11386
@yunhanw-google Is this a spec issue? Should it remain in the 1.0 list?

[2022-02-01 00:26] holbrookt commented on #11053
@kvikrambhat is this still an issue?

[2022-02-01 00:26] turon commented on #8831
We should support 32-bit raspi for v1, though not blocking.
Removed tag `v1_triage_split_4`.

[2022-02-01 00:27] holbrookt commented on #10807
@raju-apple is this still an issue? Please close if not.

[2022-02-01 00:28] holbrookt commented on #10643
@bzbarsky-apple is this still broken? Is this an issue for 1.0?

[2022-02-01 00:29] holbrookt commented on #10379
This seems important but hasn't seen any activity since November. Does this need to be in for 1.0?

[2022-02-01 00:30] turon commented on #8074
java must definitely provide some means for differentiating signed and unsigned cluster fields in v1.
Removing tag `v1_triage_split_4`.

[2022-02-01 00:31] holbrookt commented on #10161
@turon is this needed for 1.0?

[2022-02-01 00:32] turon commented on #10221
BLE advertisement must be spec compliant.
Removing tag `v1_triage_split_4`.

[2022-02-01 00:32] holbrookt commented on #9888
Removing 1.0 as this hasn't seen any activity since October. @sagar-apple please re-label if this is still an issue.

[2022-02-01 00:32] austinh0 commented on #7287
I still need to work on this. Closing #7286 as duplicate.

[2022-02-01 00:32] austinh0 commented on #7286
Yes, but let's use #7287 instead.

[2022-02-01 00:32] #7286 closed

[2022-02-01 00:33] #9888 closed

[2022-02-01 00:33] holbrookt commented on #9620
@bzbarsky-apple is this needed for 1.0?

[2022-02-01 00:35] holbrookt commented on #9441
@hnnajh it looks like #9455 fixed this issue but you didn't close it. Please reopen if I'm incorrect

[2022-02-01 00:35] #9441 closed

[2022-02-01 00:35] ukatira commented on #11552
I'm okay if we continue having these log prints in OTA Reference Apps to enable verification for 1.0

[2022-02-01 00:36] mrjerryjohns commented on #11572
For the purposes of chunking, this has been implemented and tested.

[2022-02-01 00:36] #11572 closed

[2022-02-01 00:37] holbrookt commented on #9214
@samadDotDev it looks like this is still an issue - can you confirm? Do you know who to assign it to?

[2022-02-01 00:38] turon commented on #11572
Removing `v1_triage_split_4`.

[2022-02-01 00:40] turon commented on #11406
Bugs with commissioning on android need to be resolved for v1.
Removing tag `v1_triage_split_4`.

[2022-02-01 00:42] holbrookt commented on #8924
@tcarmelveilleux I see that a few PRs were merged referencing this. Is the issue fixed?

[2022-02-01 00:43] turon commented on #9969
Agree spec semantics for message counters need to be implemented.
NOTE: The exact semantics referenced in this issue may be out-of-date or significant revisions has since been posted.
Removing tag `v1_triage_split_4`.

[2022-02-01 00:44] austinh0 commented on #7985
Nullable annotation is usable through `third_party/android_deps`, and is used where it matters in the clusters code.

[2022-02-01 00:44] #7985 closed

[2022-02-01 00:45] holbrookt commented on #8650
@mrjerryjohns any update for this? Does this need to be in for 1.0?

[2022-02-01 00:46] turon commented on #13669
For forward-compatibility, this is required for v1.
Removing `v1_triage_split_4`.

[2022-02-01 00:47] holbrookt commented on #8361
@yunhanw-google is this Issue even relevant still? Can you close it if not?

[2022-02-01 00:47] turon commented on #13509
Recent issue related to commissioning should be fixed in v1.
Removing tag `v1_triage_split_4`

[2022-02-01 00:48] holbrookt commented on #7973
@yunhanw-google is this Issue even relevant still? Can you close it if not?

[2022-02-01 00:49] holbrookt commented on #7540
@msandstedt @cjandhyala is this still an issue? Does it need to be fixed for 1.0?

[2022-02-01 00:49] turon commented on #12020
Commissioning should return helpful error codes in v1.
Removing tag `v1_triage_split_4`.

[2022-02-01 00:51] holbrookt commented on #6475
@cecille any idea if this is still an issue?

[2022-02-01 00:53] holbrookt commented on #5441
Seems to have been fixed by #9851 and #6631

[2022-02-01 00:53] #5441 closed

[2022-02-01 00:57] turon commented on #11746
Mode Cluster must be spec compliant for v1.
Removing tag `v1_triage_split_4`

[2022-02-01 00:58] holbrookt commented on #4393
@woody-apple any idea if this is still an issue or who would know?

[2022-02-01 00:58] turon commented on #9680
May be outdated, but need to verify before closing.
OnOff cluster must be spec compliant and work properly for v1.
Removing tag `v1_triage_split_4`

[2022-02-01 00:59] holbrookt commented on #3764
@yunhanw-google this issue is very old so I'm removing the 1.0 tag. Please re-label if this is wrong

[2022-02-01 01:02] holbrookt commented on #3341
This doesn't seem necessary for 1.0. @dhrishi please re-label if I'm wrong

[2022-02-01 01:03] turon commented on #9380
Definitely can't have any known leaks in v1, so removing tag `v1_triage_split_4`.
Close when verified.

[2022-02-01 01:04] holbrookt commented on #2922
@bzbarsky-apple does this need to be fixed for 1.0?

[2022-02-01 01:07] holbrookt commented on #1940
@bzbarsky-apple does this need to be fixed for 1.0?

[2022-02-01 01:08] holbrookt commented on #1725
@franck-apple this has been open for a long time, so I'm assuming it's not critical for 1.0. If I'm wrong, please relabel and assign

[2022-02-01 01:10] holbrookt commented on #809
@sagar-apple is this something that needs to be addressed for 1.0?

[2022-02-01 01:11] jepenven-silabs commented on #12200
Closed with #13833

[2022-02-01 01:11] #12200 closed

[2022-02-01 01:12] mrjerryjohns commented on #12649
Unlikely we'll support this for v1.0.

[2022-02-01 01:13] holbrookt commented on #13842
Thanks @praveenCY. There doesn't seem to be an infineon or p6 label

[2022-02-01 01:15] #12053 closed

[2022-02-01 01:23] sagar-apple commented on #809
I think this has already been revamped since this issue was filed.

[2022-02-01 01:23] #809 closed

[2022-02-01 01:25] bzbarsky-apple commented on #14063
This is a spec-compliance issue, so yes, needed.  That said, we should be able to fix this without too much trouble.  But we should merge https://github.com/project-chip/connectedhomeip/pull/14299 first and then fix all three attributes together.

[2022-02-01 02:14] jepenven-silabs commented on #12327
Closing as it is now more of a per platform issue. Linux can listen without any problem, Zephyr platform doesn't use LWIP, OpenThread can use UDPEndPointImpl_OpenThread to bypass this. As for Native LWIP platform, Enabling the right flag in the platform specific configuration should be enough (e.g. LWIP_IPV6_MLD)

[2022-02-01 02:14] #12327 closed

[2022-02-01 02:21] turon commented on #8994
Zap support for spec defined default values required for v1.
Removing tag `v1_triage_split_4`

[2022-02-01 02:22] turon commented on #12649
Removed tag `v1_triage_split_4`

[2022-02-01 02:25] turon commented on #9772
Color Control cluster must be spec compliant for v1.
Removing tag `v1_triage_split_4`

[2022-02-01 02:27] turon commented on #10865
Deterministic means to detect whether EnableNetwork is successful or fails is required for v1 on all platforms.
Removing tag `v1_triage_split_4`

[2022-02-01 02:30] turon commented on #14049
PowerSource cluster must comply with spec for v1.
Removing tag `v1_triage_split_4`

[2022-02-01 02:31] turon commented on #13973
All commands specified for commissioning are required for v1.
Removing tag `v1_triage_split_4`

[2022-02-01 02:36] turon commented on #11850
Reference to code in question: https://github.com/project-chip/connectedhomeip/blob/ddb7ce76a2459b7d3a2f9434dbf86c7e5b1a6a6d/examples/chip-tool/templates/partials/test_cluster.zapt#L270

It looks like both group and non-group cases are handled, so perhaps this can be closed:

[code]

Removing tag `v1_triage_split_4`

[2022-02-01 02:37] turon commented on #12085
All cert tests must pass for v1.
Removing tag `v1_triage_split_4`

[2022-02-01 02:39] turon commented on #11945
Closing based on @Garik098 's comment.
Can reopen if in fact the support has not been added fully.

[2022-02-01 02:39] #11945 closed

[2022-02-01 02:40] turon commented on #13075
Should add unit test to verify this strange corner case has been fixed in v1.
Removing tag `v1_triage_split_4`

[2022-02-01 02:42] turon commented on #11296
Level Control and Mode Selection clusters must comply with spec for v1.
Removing tag `v1_triage_split_4`

[2022-02-01 02:43] turon commented on #13214
Media clusters must comply with spec for v1.
Removing tag `v1_triage_split_4`

[2022-02-01 02:44] turon commented on #12884
Playback cluster must pass cert tests for v1.
Removing tag `v1_triage_split_4`

[2022-02-01 02:45] turon commented on #14068
Modern issue to implement general cluster handling features required for v1.
Removing tag `v1_triage_split_4`

[2022-02-01 02:47] turon commented on #13864
These basic flows should be rock solid for v1.
Removing tag `v1_triage_split_4`.

[2022-02-01 02:49] turon commented on #14217
Mandatory security features are required for v1.
Removing tag `v1_triage_split_4`

[2022-02-01 02:53] turon commented on #10511
Per follow-up comment, `EndOfStatusIB` was removed in #10511, and no longer exists in the codebase.

[2022-02-01 02:53] #10511 closed

[2022-02-01 03:00] turon commented on #14083
`PerformCommissioningStep` needs to act on expected endpoint and not only endpoint 0.
Assuming this needs to be fixed for v1 for spec compliance.
Not sure which use cases aren't supported by the current "default to endpoint 0" assumption.
Removing tag `v1_triage_split_4`.

[2022-02-01 03:07] turon commented on #12328
Looked at this for v1 triage, and the issue as currently described isn't actionable.
The code referenced in the PR comment doesn't exist anymore or has been severely refactored.
Marking stale.
Removing tag `v`

[src/app/clusters/power-source-configuration-server/power-source-configuration-server.cpp]
[code]

[2022-02-01 03:13] turon commented on #14559
1.0 spec describes commands: `LaunchContent Request`, `LaunchURL Request`, and `Launch Response`.
These would presumably need to be implemented for v1 for the ContentLauncher cluster to be part of 1.0.
Removing tag `v1_triage_split_4`

[2022-02-01 03:18] turon commented on #14172
Not super clear if this issue is for *all* Linux configurations, or only Linux platform builds that desire to maintain exclusive control over WPA supplicant management (and not use the Matter SDK provided integration).

I believe it is the later, in which case, this issue should not be blocking for the v1 release.

Removing tag `v1_triage_split_4`

[2022-02-01 03:20] turon commented on #13793
Minimal mdns must be spec compliant for v1.
Removing tag `v1_triage_split_4`

[2022-02-01 03:22] turon commented on #14021
References #8967 which is closed.

[2022-02-01 03:27] turon commented on #14101
Support for struct types is required for v1.
Removing tag `v1_triage_split_4`

[2022-02-01 03:36] turon commented on #14129
OTA support required for v1.
Removing tag `v1_triage_split_4`

[2022-02-01 03:38] turon commented on #11100
I believe we have end-to-end test support for CASE in chip-tool now, but leaving open to be validated.
Automated testing of session establishment is required for v1.
Removing tag `v1_triage_split_4`

[2022-02-01 03:40] turon commented on #14462
Passing cert tests of bridged devices is required for v1.
Removing tag `v1_triage_split_4`

[2022-02-01 03:41] turon commented on #10331
IM status codes must match spec for v1.
Removing tag `v1_triage_split_4`

[2022-02-01 03:45] turon commented on #5896
Referenced comment/code:

[src/app/clusters/descriptor/descriptor.cpp]
[code]

[code]

[2022-02-01 03:49] turon commented on #5896
The referenced code no longer calls `emAfReadOrWriteAttribute`.
Marking stale to be closed after validation by author or reviewer.
Removing tag `v1_triage_split_4`

[2022-02-01 04:38] mrjerryjohns commented on #14021
This is now fixed (`DeviceControllerInteractionModelDelegate.h` has now been removed).

[2022-02-01 04:38] #14021 closed

[2022-02-01 04:46] bzbarsky-apple commented on #14127
We need this for the Darwin Framework, yes.   Otherwise we can't read some attributes right now.

This is generally on my radar.

[2022-02-01 04:52] bzbarsky-apple commented on #12009
Going to redirect to @msandstedt

[2022-02-01 04:54] bzbarsky-apple commented on #12328
My general take is that it's not clear what the concrete proposal here is.  Right now we guarantee that we only call AttributeAccessInterface for attributes that exist (via the metadata).  Whether they are then _handled_ by the AttibuteAccessInterface is up to it.

[2022-02-01 04:55] bzbarsky-apple commented on #12049
I don't think the remaining work here is a 1.0 blocker, personally.

[2022-02-01 04:57] bzbarsky-apple commented on #10643
Right now it's even more broken, in that we never call into counter sync, and in fact never check message counters for group messages at all.

That depends on whether we are trying to ship the cache-and-sync counter sync method in 1.0.

[2022-02-01 04:57] bzbarsky-apple commented on #10379
Yes, unless the spec changes.  Right now we are not following the spec for this cluster on the server, and our clients can't parse spec-compliant server responses.

[2022-02-01 04:59] msandstedt commented on #9380
OK, we will review and see if we can justify closing this.

Thanks @turon and @bzbarsky-apple for the input.

[2022-02-01 05:01] bzbarsky-apple commented on #9620
I suspect we'll need this (and so many other things) to hit memory targets.... But it's not a ship blocker otherwise.

[2022-02-01 05:07] bzbarsky-apple commented on #8565
Do we want our UDC messages to look kind of like what the spec says?

That said, I don't know what the _practical_ impact of sending every single UDC message with an exchange id of 0 is.

[2022-02-01 05:08] bzbarsky-apple commented on #8043
No, this is not supported.  We parse it, but do absolutely nothing with it.

[2022-02-01 05:09] msandstedt commented on #7540
I believe we can now declare this as fixed with #13801, for which I had opened #13500.

Most recently, commissioners could specify fabric and node IDs to signing infrastructure, which allows for one type of solution where a local entity manages IDs and prevents collisions on fabrics.

But now signing infrastructure can also specify fabric and node IDs to commissioners, as the commissioner code wil

[2022-02-01 05:10] bzbarsky-apple commented on #8650
This was fixed in #13066.

[2022-02-01 05:10] #8650 closed

[2022-02-01 05:11] bzbarsky-apple commented on #8994
`GetColorLoopTime` no longer exists.

It's not clear to me what this issue is about, at this point....

[2022-02-01 05:14] bzbarsky-apple commented on #7791
Looks fixed to me, by getting rid of the WriteClient pool.  Now only apps that actually create a WriteClient pay the cost.

In particular, the `.map` for the esp32 version of `chip-all-clusters-app` does not mention `WriteClient`.

[2022-02-01 05:14] #7791 closed

[2022-02-01 05:17] bzbarsky-apple commented on #6805
In the spec it's called "NetworkInterface struct".  In our XML it's NetworkInterfaceType.

That said, its Name is CHAR_STRING in the XML, so we're good.

[2022-02-01 05:19] bzbarsky-apple commented on #5896
The `index` arg went away in #12664.

[2022-02-01 05:25] bzbarsky-apple commented on #4729
Different platform.  This is about K32W, not EFR32.

That said, the relevant code is now in `src/platform/nxp/k32w/k32w0/Logging.cpp` and no longer uses kMaxPrefixLen.

In fact, it looks like the rewrite from #8451 incidentally fixed this.

[2022-02-01 05:25] #4729 closed

[2022-02-01 05:25] #5896 closed

[2022-02-01 05:26] bzbarsky-apple commented on #3578
More precisely, the implementation that was there (and buggy as described above) was removed, and a new one was not added.

[2022-02-01 05:27] bzbarsky-apple commented on #3579
This might not be relevant anymore, because the old door lock implementation was removed wholesale and a new one written.

[2022-02-01 05:28] bzbarsky-apple commented on #3957
The important part is that we fixed `Get` on the reader to not do broken things in #9944.  So this is good now.

[2022-02-01 05:28] #3957 closed

[2022-02-01 05:30] bzbarsky-apple commented on #3764
Fixed in https://github.com/project-chip/connectedhomeip/pull/13219

[2022-02-01 05:30] #3764 closed

[2022-02-01 05:34] bzbarsky-apple commented on #2922
I don't know.  It means we don't have test coverage from those tests on Mac, but how valuable the tests are.... no idea.

[2022-02-01 05:40] bzbarsky-apple commented on #1940
I doubt it, except insofar as this was doing something important in the original silabs code (what?) and we should make sure we are doing that in Matter.

@selissia do you know what this function was supposed to do?

[2022-02-01 05:49] yufengwangca opened #14617 "Startup event is only logged on Linux platform now"
#### Problem
<what's wrong or missing, please include any applicable:
 * expected behavior
 * actual behavior
 * steps to reproduce
 * system configuration
 * screenshots, images, logs, etc.

 #### Proposed Solution
<suggested fix, suggested enhancement>

[2022-02-01 05:50] yufengwangca commented on #14617
@mrjerryjohns

[2022-02-01 05:50] yunhanw-google opened #14618 "Missing data model revision implementation for Basic Cluster"
#### Problem
Missing data model revision implementation for Basic Cluster

[2022-02-01 06:52] shubhamdp commented on #11393
Command line option for user consent is added in PR #13816 and for software version it is added in #14619

[2022-02-01 07:16] dhrishi commented on #2569
@bzbarsky-apple As per the BLE specification, the maximum MTU value can be 517 bytes. This can be accomodated in 10 bits. Good enough to close this?

[2022-02-01 07:16] dhrishi commented on #13746
@PSONALl PTAL

[2022-02-01 08:04] jmeg-sfy opened #14621 "YAML: Add a method to properly unsubscribe from reports"
#### Problem
<what's wrong or missing, please include any applicable:
 * Multiple subscriptions to report can lead to the "ressource exhausted" errors 0x89 on the IM from End-devices
 * It will be a nice to have to add the ability to unsubscribe from them to deallocate unused report.

[2022-02-01 08:35] fessehaeve commented on #11828
@mrjerryjohns the verification steps are correct now. The description is still wrong.
TC-GENDIAG-1.1
`This test case verifies the behavior of the non-global attributes of the WiFi network diagnostics cluster server.`
TC-GENDIAG-1.2
`This test case verifies the behavior of the non-global attributes of the ethernet network diagnostics cluster server.`

[2022-02-01 09:36] denravonska commented on #12249
@holbrookt Just tested this with `da22674736ebd5b5d88463b0a84896dbad70c20a` and it seems like I can't reproduce it anymore. I can reopen this if it pops up again further down the line.

[2022-02-01 11:15] chiragatal opened #14624 "Events being sent on all the endpoints"
#### Problem
 * expected behavior: Events triggered on the device should be sent only to a particular endpoint_id.
 * actual behavior: Events triggered are sent to all the endpoints that have the cluster included.
 * steps to reproduce: Create a device with 2 endpoints and both having the switch cluster. Trigger the SwitchLatched event on the device. The event gets reported on both the endpoints i

[2022-02-01 11:17] dhrishi commented on #14624
@yufengwangca Can you please check?

[2022-02-01 13:13] msandstedt commented on #12009
I feel like the code @yunhanw-google has in place is pretty reasonable for 1.0, and particularly so if TCP is out of scope.  This is how we compute the liveness timeout:

[code]

And this is GetAckTimeout:

[code]

So because we don't have a good way to know link conditions for TCP, we are just adding 30-seconds margin.  But I don't believe we are going to be supporting TCP in 1.0.

[2022-02-01 13:41] somu1710 opened #14628 "Relative Humidity - In TC-RH- 1.1 the cluster revision value is not matched with the expected outcome"
In Relativehumidity testcase 1.1 (TC-RH-1.1),  the "cluster revision attribute" value must be 3 as per the spec.
But the actual outcome is 2. This needs to be fixed as per spec.

Test Spec link:
https://github.com/CHIP-Specifications/connectedhomeip-spec/blob/master/src/app_clusters/WaterContentMeasurement.adoc

 * expected behavior - cluster revision attribute - 3
 * actual behavior - cluster rev

[2022-02-01 13:48] tcarmelveilleux commented on #5897
A bit more context since the original PR conversation link does not expand:

![image](https://user-images.githubusercontent.com/1313847/151980018-ad2d0139-d6a3-477f-b0df-7687216f37b8.png)

[2022-02-01 13:48] manjunathambiger23 commented on #13087
we are facing type error when we remove disable tag, previously it was failing while building
![image](https://user-images.githubusercontent.com/84442963/151979685-9a1297b0-4419-48b4-acc6-11b690f69218.png)
![image](https://user-images.githubusercontent.com/84442963/151979800-9bc99783-8c3c-46e7-928f-a75e74196e12.png)

[2022-02-01 14:02] selissia commented on #14159
@mrfinesse99 , could you please take a look?

[2022-02-01 14:28] Damian-Nordic commented on #8870
@cecille I think it's already fixed, right?

[2022-02-01 14:46] woody-apple opened #14630 "handle errors that aren't CHIP_ERROR_ACCESS_DENIED, etc."
https://github.com/project-chip/connectedhomeip/blob/bebbd74187a721154f82061f1023a347d7ce7f57/src/app/CommandHandler.cpp#L399-L404

---

###### This issue was generated by [todo-issue](https://github.com/DerJuulsn/todo-issue) based on a `TODO` comment in bebbd74187a721154f82061f1023a347d7ce7f57.

[2022-02-01 14:46] woody-apple opened #14631 "Figure out how this sending should actually work in Matter."
https://github.com/project-chip/connectedhomeip/blob/bebbd74187a721154f82061f1023a347d7ce7f57/src/app/clusters/ias-zone-server/ias-zone-server.cpp#L187-L192

---

###### This issue was generated by [todo-issue](https://github.com/DerJuulsn/todo-issue) based on a `TODO` comment in bebbd74187a721154f82061f1023a347d7ce7f57.

[2022-02-01 14:46] woody-apple opened #14632 "Packet buffer high water mark optimization: if ack pending, but fragmenter state == complete, free fragmenter's"
tx buf before sending ack.

---

https://github.com/project-chip/connectedhomeip/blob/bebbd74187a721154f82061f1023a347d7ce7f57/src/ble/BLEEndPoint.cpp#L883-L888

---

###### This issue was generated by [todo-issue](https://github.com/DerJuulsn/todo-issue) based on a `TODO` comment in bebbd74187a721154f82061f1023a347d7ce7f57.

[2022-02-01 14:47] woody-apple opened #14633 "We may want to reject kUndefinedFabricIndex for writing fabric scoped data. mAccessingFabricIndex will be"
kUndefinedFabricIndex on PASE sessions.

---

https://github.com/project-chip/connectedhomeip/blob/bebbd74187a721154f82061f1023a347d7ce7f57/src/app/AttributeAccessInterface.h#L330-L335

---

###### This issue was generated by [todo-issue](https://github.com/DerJuulsn/todo-issue) based on a `TODO` comment in bebbd74187a721154f82061f1023a347d7ce7f57.

[2022-02-01 14:47] woody-apple opened #14634 "The implementation lives in ember-compatibility-functions.cpp, this should be replaced by IM command catalog look up"
https://github.com/project-chip/connectedhomeip/blob/bebbd74187a721154f82061f1023a347d7ce7f57/src/app/InteractionModelEngine.h#L309-L314

---

###### This issue was generated by [todo-issue](https://github.com/DerJuulsn/todo-issue) based on a `TODO` comment in bebbd74187a721154f82061f1023a347d7ce7f57.

[2022-02-01 14:47] woody-apple opened #14635 "Remove defaulting once proper runtime defaulting of unimplemented factory data is done"
https://github.com/project-chip/connectedhomeip/blob/bebbd74187a721154f82061f1023a347d7ce7f57/src/app/clusters/basic/basic.cpp#L251-L256

---

###### This issue was generated by [todo-issue](https://github.com/DerJuulsn/todo-issue) based on a `TODO` comment in bebbd74187a721154f82061f1023a347d7ce7f57.

[2022-02-01 14:47] woody-apple opened #14636 "Attempt to diagnose Darwin CI, REMOVE ONCE FIXED"
https://github.com/project-chip/connectedhomeip/blob/bebbd74187a721154f82061f1023a347d7ce7f57/src/app/clusters/basic/basic.cpp#L313-L318

---

###### This issue was generated by [todo-issue](https://github.com/DerJuulsn/todo-issue) based on a `TODO` comment in bebbd74187a721154f82061f1023a347d7ce7f57.

[2022-02-01 14:47] woody-apple opened #14637 "Send lock operation change event"
https://github.com/project-chip/connectedhomeip/blob/bebbd74187a721154f82061f1023a347d7ce7f57/src/app/clusters/door-lock-server/door-lock-server.cpp#L849-L854

---

###### This issue was generated by [todo-issue](https://github.com/DerJuulsn/todo-issue) based on a `TODO` comment in bebbd74187a721154f82061f1023a347d7ce7f57.

[2022-02-01 14:47] woody-apple opened #14638 "Add cluster-specific failure of DlStatus::kOccupied"
https://github.com/project-chip/connectedhomeip/blob/bebbd74187a721154f82061f1023a347d7ce7f57/src/app/clusters/door-lock-server/door-lock-server.cpp#L1661-L1666

---

###### This issue was generated by [todo-issue](https://github.com/DerJuulsn/todo-issue) based on a `TODO` comment in bebbd74187a721154f82061f1023a347d7ce7f57.

[2022-02-01 14:47] woody-apple opened #14639 "Do we need to check the modifier fabric here? Discuss with Spec team and add it if necessary."
https://github.com/project-chip/connectedhomeip/blob/bebbd74187a721154f82061f1023a347d7ce7f57/src/app/clusters/door-lock-server/door-lock-server.cpp#L2008-L2013

---

###### This issue was generated by [todo-issue](https://github.com/DerJuulsn/todo-issue) based on a `TODO` comment in bebbd74187a721154f82061f1023a347d7ce7f57.

[2022-02-01 14:47] woody-apple opened #14640 "Clear holiday schedules when they're implemented"
https://github.com/project-chip/connectedhomeip/blob/bebbd74187a721154f82061f1023a347d7ce7f57/src/app/clusters/door-lock-server/door-lock-server.cpp#L2307-L2312

---

###### This issue was generated by [todo-issue](https://github.com/DerJuulsn/todo-issue) based on a `TODO` comment in bebbd74187a721154f82061f1023a347d7ce7f57.

[2022-02-01 14:47] woody-apple opened #14641 "Add missing functions to check if RID, FGP or FACE are supported"
https://github.com/project-chip/connectedhomeip/blob/bebbd74187a721154f82061f1023a347d7ce7f57/src/app/clusters/door-lock-server/door-lock-server.h#L145-L150

---

###### This issue was generated by [todo-issue](https://github.com/DerJuulsn/todo-issue) based on a `TODO` comment in bebbd74187a721154f82061f1023a347d7ce7f57.

[2022-02-01 14:47] woody-apple opened #14642 "Maybe use CHIP_APPLICATION_ERROR instead of boolean in class methods?"
https://github.com/project-chip/connectedhomeip/blob/bebbd74187a721154f82061f1023a347d7ce7f57/src/app/clusters/door-lock-server/door-lock-server.h#L224-L229

---

###### This issue was generated by [todo-issue](https://github.com/DerJuulsn/todo-issue) based on a `TODO` comment in bebbd74187a721154f82061f1023a347d7ce7f57.

[2022-02-01 14:47] woody-apple opened #14643 "Needs implementation."
https://github.com/project-chip/connectedhomeip/blob/bebbd74187a721154f82061f1023a347d7ce7f57/src/app/clusters/power-source-server/power-source-server.cpp#L55-L60

---

###### This issue was generated by [todo-issue](https://github.com/DerJuulsn/todo-issue) based on a `TODO` comment in bebbd74187a721154f82061f1023a347d7ce7f57.

[2022-02-01 14:47] woody-apple opened #14644 "Consider some setup where this field does not exist when T"
is not a fabric scoped struct.

---

https://github.com/project-chip/connectedhomeip/blob/bebbd74187a721154f82061f1023a347d7ce7f57/src/app/data-model/DecodableList.h#L167-L172

---

###### This issue was generated by [todo-issue](https://github.com/DerJuulsn/todo-issue) based on a `TODO` comment in bebbd74187a721154f82061f1023a347d7ce7f57.

[2022-02-01 14:47] woody-apple opened #14645 "Enable once attribute struct is supported"
https://github.com/project-chip/connectedhomeip/blob/bebbd74187a721154f82061f1023a347d7ce7f57/src/app/tests/suites/certification/Test_TC_MC_9_1.yaml#L68-L73

---

###### This issue was generated by [todo-issue](https://github.com/DerJuulsn/todo-issue) based on a `TODO` comment in bebbd74187a721154f82061f1023a347d7ce7f57.

[2022-02-01 14:47] woody-apple opened #14646 "Change Endpoints to INT16U array once it is supported"
https://github.com/project-chip/connectedhomeip/blob/bebbd74187a721154f82061f1023a347d7ce7f57/src/app/zap-templates/zcl/data-model/chip/bridged-actions-cluster.xml#L83-L88

---

###### This issue was generated by [todo-issue](https://github.com/DerJuulsn/todo-issue) based on a `TODO` comment in bebbd74187a721154f82061f1023a347d7ce7f57.

[2022-02-01 14:47] woody-apple opened #14647 "I dont think this is to spec - not sure where we'd have a commissioner that doesn't have dnssd."
https://github.com/project-chip/connectedhomeip/blob/bebbd74187a721154f82061f1023a347d7ce7f57/src/controller/AutoCommissioner.cpp#L202-L207

---

###### This issue was generated by [todo-issue](https://github.com/DerJuulsn/todo-issue) based on a `TODO` comment in bebbd74187a721154f82061f1023a347d7ce7f57.

[2022-02-01 14:47] woody-apple opened #14648 "if the device library adds a network commissioning device type, this will need to be 1 per endpoint."
https://github.com/project-chip/connectedhomeip/blob/bebbd74187a721154f82061f1023a347d7ce7f57/src/controller/AutoCommissioner.h#L64-L69

---

###### This issue was generated by [todo-issue](https://github.com/DerJuulsn/todo-issue) based on a `TODO` comment in bebbd74187a721154f82061f1023a347d7ce7f57.

[2022-02-01 14:47] woody-apple opened #14649 "What should the timed invoke timeout here be?"
https://github.com/project-chip/connectedhomeip/blob/bebbd74187a721154f82061f1023a347d7ce7f57/src/controller/CHIPDeviceController.cpp#L547-L552

---

###### This issue was generated by [todo-issue](https://github.com/DerJuulsn/todo-issue) based on a `TODO` comment in bebbd74187a721154f82061f1023a347d7ce7f57.

[2022-02-01 14:50] cecille opened #14650 "kSessionEstablishmentTimeout is redundant"
#### Problem
All the individual pieces of the commissioning process are protected by timeouts already, that timer seems a bit random. It was previously protecting the pase connection, but now I think it's not necessary anymore.

 #### Proposed Solution
Remove

[2022-02-01 14:53] jmeg-sfy commented on #14406
Yes it is

[2022-02-01 14:54] cecille opened #14651 "Failsafe and network commands should take into account the recommended network connection time"
#### Problem
The network commissioning cluster gives a recommendation on how long it takes to connect to the given network. The network cluster command and the overall failsafe command should take that into account.

 #### Proposed Solution
Read from cluster, adjust timeouts as required. We may also need to warn devs that this is happening as it appear that not many platforms have actually set up

[2022-02-01 15:05] cecille commented on #8870
Yup - done. Thanks. Closing now.

[2022-02-01 15:07] Rajashreekalmane opened #14653 "Thermostat User Configuration- In [TC-TSUIC-1.1] the cluster revision value is not matched with the expected outcome"
In Thermostat User Configuration testcase 1.1 , they mentioned the cluster revision attribute value as 2 in the expected outcome but while executing the step it shows cluster revision value as 1.

• expected behavior - cluster revision attribute - 2
•  actual behavior - cluster revision - 1

Actual command - ./chip-tool thermostatuserinterfaceconfiguration read cluster-revision 1 1

Actual logs ar

[2022-02-01 15:08] tcarmelveilleux commented on #4189
Will take this on

[2022-02-01 15:12] woody-apple commented on #3046
The lock app has been substantially updated, this should be covered now.

[2022-02-01 15:12] cecille commented on #6475
I'm not sure - sorry. I do think we need factory resets to be working properly for v1.0, but I'm not sure if it's something that's explicitly covered by the SDK vs. something that's covered by platform. @harimau-qirex may have a better idea as it touches on storage.

[2022-02-01 15:22] cecille commented on #14008
Seems fairly security critical, but would like a second opinion. Possibly related to #14604?

[2022-02-01 15:25] #3579 closed

[2022-02-01 15:27] woody-apple commented on #3738
Moving to post V1.0, not clearly required for V1.0

[2022-02-01 15:27] woody-apple commented on #3886
Moving to post V1.0, not clearly required for V1.0

[2022-02-01 15:28] woody-apple commented on #4324
Moving to post V1.0, not clearly required for V1.0

[2022-02-01 15:29] woody-apple commented on #4504
Closing, given this will be verified by the CSG, we can re-open if this fails.

[2022-02-01 15:29] #4504 closed

[2022-02-01 15:29] woody-apple commented on #4621
Moving to post V1.0, not clearly required for V1.0

[2022-02-01 15:29] woody-apple commented on #4751
Moving to post V1.0, not clearly required for V1.0

[2022-02-01 15:30] manjunathambiger23 commented on #11053
@holbrookt we are still facing attribute missing issue
Spec screenshot:
![image](https://user-images.githubusercontent.com/84442963/151983796-b453a2cd-c7de-43ba-89d0-1348fab6607b.png)
Execution screenshot:
![1](https://user-images.githubusercontent.com/84442963/151975062-3fc534ad-c8a1-4bf7-b4ac-c38289d852e7.png)
![BI_1 1](https://user-images.githubusercontent.com/84442963/151975070-a31e07d4-2c1b-4

[2022-02-01 15:34] mrfinesse99 commented on #14159
That TODO was there as a place holder for RS911x - However it is no longer needed as the abstraction that interfaces to lower level of WiFi code handles this correctly. So that comment of TODO can be safely ignored for 1.0

[2022-02-01 15:34] selissia commented on #9478
Fixed by https://github.com/project-chip/connectedhomeip/pull/10037

[2022-02-01 15:34] #9478 closed

[2022-02-01 15:36] woody-apple commented on #5926
Moving to post V1.0, not clearly required for V1.0.

[2022-02-01 15:38] #6243 closed

[2022-02-01 15:39] woody-apple commented on #6657
Does appear required for v1.0 tooling

[2022-02-01 15:46] #7540 closed

[2022-02-01 15:47] woody-apple commented on #7742
This feature is complete and working on iOS.

[2022-02-01 15:47] #7742 closed

[2022-02-01 16:04] #14309 closed

[2022-02-01 16:04] #14381 closed

[2022-02-01 16:04] kghost commented on #10515
This should be fixed by #12794

[2022-02-01 16:16] cecille commented on #14595
What are the platform and app being used here?

[2022-02-01 17:10] sankarselvam commented on #14595
Its happening on both Thread and Raspi Linux platform.
Apps used, Lighting-app in Thread  & All clusters app in Raspi platform

[2022-02-01 17:15] tcarmelveilleux commented on #3137
@woody-apple will this be done, or is this obsolete?

[2022-02-01 17:45] raju-apple commented on #11474
Lets do with PICS for now.

[2022-02-01 17:45] #11474 closed

[2022-02-01 17:48] mlepage-google commented on #14008
This TODO issue is obsolete, PR #14550 removed that TODO and clause, and added the "implicit admin for PASE" condition.

[2022-02-01 17:48] #14008 closed

[2022-02-01 17:51] raju-apple commented on #13460
We currently have less coverage in automation for the Core tests , so wanted to get some of the Multi-Admin test cases also into CI  so that it can make the certification process faster as well . Talking about these set of tests. Hopefully after adding the Discovery api we can get these in as well :
<img width="613" alt="Screen Shot 2022-02-01 at 9 50 32 AM" src="https://user-images.githubusercont

[2022-02-01 17:55] raju-apple commented on #10807
Dupe of #9772

[2022-02-01 17:55] #10807 closed

[2022-02-01 17:58] chrisdecenzo commented on #13618
Yes, and I am working on it

[2022-02-01 18:49] jepenven-silabs opened #14665 "[Group] Implement Group Encryption/Decryption"
#### Problem
Group Messages are not Encrypted as of now.

 #### Proposed Solution
Implement Group Messages encryption with the Group Key cluster and Trial decryption upon reception

[2022-02-01 18:59] jepenven-silabs commented on #11850
@turon Wrong code quoted.

Problem is still present in master. The code assumes that the `DeviceProxy` object will have a valid SecureSession which is always true in the context of a `yaml` test but won't be in other context (e.g. inside Chip-tool ? ).

So this issue is still valid and still need to be fixed

[code]

[2022-02-01 19:00] jepenven-silabs commented on #11850
This might need to be fixed before #1818

[2022-02-01 19:13] hrajendran-samsung commented on #14461
Assigned to @hrajendran-samsung

[2022-02-01 19:21] cecille commented on #13645
Is this on all devices or a specific device?

[2022-02-01 19:25] cecille commented on #12258
Is this still happening on master?

[2022-02-01 19:28] cecille commented on #14651
Also failsafe should use the recommended value from the general commissioning cluster.

[2022-02-01 19:29] cecille opened #14669 "Consolidate commissioning reads of general commissioning cluster using wildcards"
#### Problem
Each attribute is currently read separately. That's a lot of traffic that doesn't need to happen. Once https://github.com/project-chip/connectedhomeip/pull/14567 lands, we'll have wildcard support in the commissioner, so may as well use it.

 #### Proposed Solution
Use wildcard style attribute read.

[2022-02-01 20:01] cecille opened #14674 "sort out use of networking cluster for ethernet"
#### Problem
Commissioner doesn't have support for devices that have ethernet networking clusters, but which are being commissioned over BLE/

 #### Proposed Solution
Figure out what we're actually meant to do here and add support.

[2022-02-01 20:10] cecille commented on #11774
Is this still an issue on more recent code?

[2022-02-01 20:14] mlepage-google commented on #14437
Now that #13756 is merged, and with one-line fix #14670, I have tested locally that fabric filtered write works properly, by writing from two different fabrics using all-clusters-app on Linux. Automated tests for the cluster are covered in #10253.

[2022-02-01 20:14] #14437 closed

[2022-02-01 20:27] cecille commented on #12762
Could be - it's wasteful at the very least.

[2022-02-01 21:08] bzbarsky-apple commented on #2569
Good enough, but would be even better with a comment.  ;)

[2022-02-01 21:09] bzbarsky-apple commented on #3046
Actually, I think we just have two apps now: "lock", which does not use door lock and "door-lock", which does.

[2022-02-01 21:12] bzbarsky-apple commented on #5897
Note that the code in question (the caller of emAfReadOrWriteAttribute) is gone now.  The API itself still has issues, but this callsite is not one of them.

[2022-02-01 21:14] bzbarsky-apple commented on #10515
This is not fixed. The behavior is still exactly the same: null-delegate exchanges default to `ApplicationExchangeDispatch::Instance()`, which requires encryption.

[2022-02-01 21:15] cecille commented on #8741
Marking this for secondary because I'm concerned this could lead to crashes. Also because this may no longer have an owner if Pankaj is no longer on matter sdk.

[2022-02-01 21:35] cecille commented on #5541
@kpschoedel (I think you worked on bloat check) - any idea about this one?

[2022-02-01 21:43] kpschoedel commented on #5541
Bloat check no longer needs it. (It now records sizes of individual builds from CI and matches them up with parent builds later.)

[2022-02-01 23:06] yufengwangca commented on #14403
@Survensa

Are you talking about device specific factory reset command? We don't have such command specified in the cluster.

[2022-02-01 23:10] yufengwangca commented on #14338
You can set the storage type of the attribute to 'NVM', then the attribute should be persisted.

[2022-02-01 23:19] yufengwangca commented on #14158
it looks we ConfigurationMgr implementation for the related config flag is missing on ESP32. We should at least overwrite those config API on ESP32 platform and return CHIP_NO_ERROR there.

[2022-02-01 23:28] yufengwangca commented on #10366
@erjiaqing I think this task has already been completed, no?

[2022-02-01 23:30] yufengwangca commented on #8360
@emargolis  this seems related to the work you recently did, could you help to take a look?

[2022-02-01 23:34] yufengwangca commented on #9577
@gjc13 could you help to take a look?

[2022-02-01 23:35] yufengwangca commented on #3746
@kghost is this issue still relevant?

[2022-02-02 01:30] bzbarsky-apple commented on #13668
See also https://github.com/project-chip/connectedhomeip/issues/13397

[2022-02-02 01:33] bzbarsky-apple opened #14685 "Crash when receiving a "group read""
#### Problem
Fuzzers hitting a crash with this stack:
[code]

See also https://github.com/project-chip/connectedhomeip/issues/13397

On tip, `ReadHandler::Init` is gone but the buggy code has moved to `ReadHandler::ReadHandler`:
[code]

The actual crashing payload (in hex) is:
[code]

 #### Proposed Solution
Stop assuming things that are just not true and crashing.

[2022-02-02 01:36] yufengwangca commented on #1859
Do we still need this feature? it has been closed during the SW Dev Bug review

[2022-02-02 01:37] cjandhyala commented on #14403
@bzbarsky-apple @yufengwangca What @Survensa meant here,
1. Make sure SDK has the implementation that spec recommended for factory reset condition , Ref attached
2. Need a way to send that command to the example apps, Either by means of some signal or something,  so that we can test device is performing all the actions that spec is recommending when factory reset command sent

![Screen Shot 2022-0

[2022-02-02 01:44] yufengwangca commented on #2880
It looks we just need to enable those cluster in one of example app zap and implement the relevant callback if needed. Maybe thermostat is a good candidate.

@fessehaeve  please let me know if you need any help on this.

[2022-02-02 02:06] cecille commented on #14595
Please see slack discussion https://csamembers.slack.com/archives/G014G30SVV0/p1643655728185279 for more context.

Network commissioning issue is tracked here:
https://github.com/project-chip/connectedhomeip/issues/13170

[2022-02-02 02:25] yufengwangca commented on #4392
This is a missing feature we need to do for group messaging.
@rcasallas-silabs Do we have the ETA for this feature?

[2022-02-02 02:29] yufengwangca commented on #10129
need to check if this issue still exists

[2022-02-02 02:55] yufengwangca commented on #8634
@austinh0 it looks the task for thicket is clear, do you have the ETA?

[2022-02-02 02:57] yufengwangca commented on #7135
@holbrookt could you check if this issue still exist?

[2022-02-02 03:00] yufengwangca commented on #6456
This ticket is pretty old, and a lot of things happen since then. we need to check if this issue still exists sine exchange can be auto-released after usage now

[2022-02-02 03:31] sowmyassp commented on #14590
@tcarmelveilleux ./chip-tool softwarediagnostics read current-heap-high-watermark 1 0
                             ./chip-tool  softwarediagnostics  read current-heap-used 1 0

[2022-02-02 04:03] bzbarsky-apple commented on #6456
Now that the message dispatch is gotten only once and is guaranteed (by contract) to have long-enough lifetime, we can send things after Close().  So I _think_ this is fixed.

@msandstedt do you agree?

[2022-02-02 04:04] bzbarsky-apple commented on #7135
We put in place a workaround for tv-app, so it won't be reproducible there right now....

[2022-02-02 04:10] carol-apple commented on #11508
@liamgonyea I don't see this issue on ToT of master branch. I'll close this. Please file a new issue if you see it again.

[2022-02-02 04:10] #11508 closed

[2022-02-02 04:25] bzbarsky-apple commented on #14403
@cjandhyala Just to be clear: that section of the spec is not about a "command" in the Matter sense, right?

The SDK itself does not provide a factory reset mechanism, which involves wiping various storage that the application, not the SDK, knows about.  That mechanism needs to be provided by the SDK consumer.

Some of the in-tree example apps that run on actual devices do have such mechanisms.  T

[2022-02-02 04:43] yufengwangca commented on #12452
I think the default value for the FeatureMap is cluster dependent and get set by each cluster

[2022-02-02 04:45] yufengwangca commented on #12452
@manjunathambiger23
is this the spec issue or sdk issue?

[2022-02-02 04:51] yufengwangca commented on #12046
@cecille Could you help to take a look?

[2022-02-02 04:54] yufengwangca commented on #11760
@holbrookt could you help to take a look?

[2022-02-02 05:03] #10780 closed

[2022-02-02 05:15] #543 closed

[2022-02-02 05:15] #547 closed

[2022-02-02 05:15] #705 closed

[2022-02-02 05:15] #837 closed

[2022-02-02 05:15] #914 closed

[2022-02-02 05:15] #969 closed

[2022-02-02 05:15] #1041 closed

[2022-02-02 05:15] #1009 closed

[2022-02-02 05:20] kowsisoundhar12 commented on #14225
@vivien-apple i have tried the various value inbetween 11 and 26 for channel attribute  but getting value mismatch issue
![2022-02-02_10-39](https://user-images.githubusercontent.com/57476670/152097078-a49a9ea4-2cff-4377-a1d5-3057897225ab.png)
![2022-02-02_10-49](https://user-images.githubusercontent.com/57476670/152097356-ab2d6431-5559-434d-aa0d-302ef254b887.png)
[err-logs.zip](https://github.com

[2022-02-02 05:31] manjunathambiger23 commented on #12452
@yufengwangca its spec related issue

[2022-02-02 05:32] manjunathambiger23 commented on #13645
@cecille we ran this on linux have not tested on other platforms

[2022-02-02 06:03] yufengwangca commented on #11052
It looks we are missing the constraint for those attributes

[2022-02-02 06:07] #7135 closed

[2022-02-02 06:09] yunhanw-google opened #14691 "Make cirque log readable"
#### Problem
For cirque logs we would like it if we ran flask.log through:
[code]
That would make them readable

[2022-02-02 06:17] yufengwangca commented on #10806
@raju-apple
Where is this cluster defined in the spec?

[2022-02-02 06:27] yufengwangca commented on #13750
This issue has been assigned, need further investigation, remove v1_triage_split_10 label

[2022-02-02 09:10] Nesrine352 opened #14694 "Failed to estabilish BLE connection on ESP32 during provisioning using CHIP-TOOL"
Problem:

Running '$ ./out/debug/chip-tool pairing ble-wifi 135246 TESTSSID TESTPASSWD 20202021 3840' on Linux results in the error output below (a time out during the connection to the matter lock device over BLE). The BLE connection is made it just times out during handshake.
![image](https://user-images.githubusercontent.com/73699753/152121768-3013992e-c1b2-4cdd-b3d2-c75b5db77b1c.png)
![image](

[2022-02-02 09:56] kowsisoundhar12 commented on #13441
@woody-apple
 i have ran this testscripts  again with implemented list fields but i am getting following failure response
![2022-02-02_15-17](https://user-images.githubusercontent.com/57476670/152131580-0cd7182d-8b8b-4d5e-a65d-33c2506a28a7.png)
Teststep screenshot:
![2022-02-02_15-20](https://user-images.githubusercontent.com/57476670/152131725-8a225e0f-15b1-49aa-84fe-6a266b7e4541.png)

Attached e

[2022-02-02 10:29] #3415 closed

[2022-02-02 10:30] #478 closed

[2022-02-02 11:03] kowsisoundhar12 commented on #11185
@holbrookt ThreadMetrics attribute added in yaml
![2022-02-01_13-16](https://user-images.githubusercontent.com/57476670/152141908-c402e0aa-4fb1-4f14-8fdb-1019a0c60a11.png)

[2022-02-02 11:20] PSONALl opened #14696 "Command fails for ECM (using pairing open-commissioning-window) using CHIP TOOL for TE7.5"
#### Problem

Expected behavior:
pairing open-commissioning-window command should pass
Actual behavior:
pairing open-commissioning-window command fails with timeout issue on chip tool
Steps to reproduce:
Run steps as per test case: 3.1.3. [TC-MF-1.3] Node Behavior using ECM [DUT - Commissionee]
System configuration:
Chip tool of te7.5 rpi image on RPi 4B
DUT: esp32-devkit-c (connected to MacOS Cat

[2022-02-02 11:25] kowsisoundhar12 commented on #10947
1. MaxMeasuredValue's default value is still failing
![2022-02-02_16-38](https://user-images.githubusercontent.com/57476670/152144604-beeac55a-1acb-428e-9221-54e9e09b2c60.png)
[RH_2_1_Error-logs.zip](https://github.com/project-chip/connectedhomeip/files/7985961/RH_2_1_Error-logs.zip)
2.Tolerence attribute added in yaml framework
![2022-02-02_16-51](https://user-images.githubusercontent.com/5747667

[2022-02-02 12:47] samadDotDev commented on #9214
@holbrookt Yes, the latest master still has `mThread` in joinable state but is never joined.

[2022-02-02 14:59] #14502 closed

[2022-02-02 15:19] somu1710 opened #14703 "Relative humidity - [TC-RH-2.1] Max-measured value doesn't match with the expected outcome of test plan"
As per the testplan  in testcases [ TC-RH-2.1 ].

Its mentioned that, the value of Relative humidity needs to be verified between 1 and 10000.

**Expected outcome:**
                    Verify that the DUT response with an int16 value. Its value should be in the range of 1 and 10000.

Actual result - 0

 For the test step we getting 0 only as outcome for maxmeasured value .

**Exact step** -./chip

[2022-02-02 15:37] kpschoedel commented on #2757
The [ALLOW list](https://github.com/project-chip/connectedhomeip/pull/14704/files#diff-23cd8eee1a1c2914651abc53b8ed8061cf68b992f1232764462882decd02042eR93) in #14704 is a partial answer:

[code]

[2022-02-02 16:16] bzbarsky-apple opened #14705 "Improve error mapping to/from OperationalCertStatus"
#### Problem
We have `ConvertToNOCResponseStatus` in the operational credentials cluster and `DeviceCommissioner::ConvertFromOperationalCertStatus` which convert from CHIP_ERROR to OperationalCertStatus and back.

Right now the former collapses multiple different errors into single OperationalCertStatus values, and the latter collapses multiple OperationalCertStatus values into single errors.

 ##

[2022-02-02 16:24] yufengwangca commented on #14032
@gjc13 Could you help to take a look of this TODO item?

[2022-02-02 16:25] yufengwangca commented on #13986
@holbrookt Could you help to take a look at this TODO item?

[2022-02-02 16:30] bzbarsky-apple opened #14707 "Operational credentials server should return a useful DebugText with the specific CHIP_ERROR id in it"
#### Problem
Right now we collaps multiple CHIP_ERROR values to the same OperationalCertStatus value.

 #### Proposed Solution
Use DebugText to disambiguate which CHIP_ERROR we had.

[2022-02-02 16:45] #11851 closed

[2022-02-02 17:21] holbrookt commented on #13986
Not needed for 1.0

[2022-02-02 17:23] holbrookt commented on #11760
This seems necessary for cert and 1.0. Can you confirm @ukatira ?

[2022-02-02 17:24] emargolis commented on #8360
From my inspection of the latest SDK code this issue was already addressed.

@pan-apple @bzbarsky-apple  please confirm

[2022-02-02 17:25] holbrookt commented on #14197
Assigning to @tima-q who introduced this TODO. Doesn't seem critical for 1.0

[2022-02-02 17:34] fessehaeve commented on #2880
The clusters are enabled in all-clusters-app and lock-app. I was proposing having actual implementation with hardware integration. Not sure if that is really necessary. We could close the issue if everyone is satisfied.

[2022-02-02 17:52] vivien-apple commented on #13974
Done.

[2022-02-02 17:52] #13974 closed

[2022-02-02 18:07] andy31415 commented on #14595
I believe it may be fixed - at least for linux and esp32, thread will need some tests and maybe fixes and I need to setup a test environment for that.

[2022-02-02 18:08] carol-apple commented on #9439
Spoke with @Damian-Nordic offline. Closing this issue since there are no plans to add OTA Provider on nrfConnect platform as it only supports Thread for now.

[2022-02-02 18:08] #9439 closed

[2022-02-02 18:10] kpschoedel commented on #14509
In `WriteClient::SendWriteRequest()`,

[code]

Now `mpExchangeCtx->mRefCount` is 1.

[code]

Inside `ExchangeContext::SendMessage()`,

[code]

Now `mpExchangeCtx->mRefCount` is 2.

[code]

This calls `ExchangeContext::Close()`.
Now `mpExchangeCtx->mRefCount` is 1.

On return from `ExchangeContext::SendMessage()`, `ExchangeHandle ref` is destroyed.
__Now `mpExchangeCtx->mRefCount` is 1.__

Now back

[2022-02-02 18:13] kpschoedel commented on #14509
Possibly related to the TODO #14028?

[2022-02-02 18:17] kpschoedel commented on #14509
Unassigning myself — I don't know the intended flow here enough to fix this.

[2022-02-02 18:20] mrjerryjohns commented on #14596
This all assumes that `ScheduleRun` is safe to call from a threading context other than Chip's, which is not explicitly stipulated nor correct. Unless explicitly stated, all SDK APIs **must** be called from within the Chip thread context itself.

This specific call gives the impression that it's ok to call from a different threading context but in fact, it actually isn't. It accesses a number of S

[2022-02-02 18:31] yufengwangca commented on #14624
@chiragatal The event is triggered on the device, it does not have the endpoint_id as an argument, so it gets logged to all endpoints on which the relevant cluster is enabled

[2022-02-02 18:40] #14456 closed

[2022-02-02 18:43] bzbarsky-apple commented on #14596
Specifically, what would be most useful here is a stack to the `ScheduleRun` call involved.

[2022-02-02 18:51] liamgonyea opened #14709 "[TC_DD_3.10] Need support for Custom Flow commissioning on sample accessory"
#### Problem
When running [TC_DD_3.10], Steps 1-4, there needs to be support for a sample accessory, such as `chip-all-clusters-app`, to allow for Custom Flow commissioning of a device to a controller, such as `chip-tool` so that the end-to-end commissioning flow can properly be tested when using a controller DUT.

#### Test Case
3.3.10. [TC-DD-3.10] Commissioning Flow - Custom Flow [DUT Commissio

[2022-02-02 18:52] mrjerryjohns opened #14710 "Copious TSAN warnings on Linux"
#### Problem

We have lots and lots of TSAN data race warnings on Linux that should be addressed before it results in other potentially bigger blow-ups that are more difficult to debug later.

Example: https://github.com/project-chip/connectedhomeip/runs/5039936950?check_suite_focus=true

[2022-02-02 19:32] yufengwangca commented on #14596
@lnikulin Do we have the stack dump when the issue occurs? wondering which thread other than CHIP main thread is calling Engine::ScheduleRun()

[2022-02-02 20:13] yunhanw-google commented on #11388
@mrjerryjohns I think currently we don't need work this one for 1.0?

[2022-02-02 20:13] yunhanw-google commented on #11386
Fixed.

[2022-02-02 20:13] #11386 closed

[2022-02-02 20:14] yunhanw-google commented on #11386
https://github.com/project-chip/connectedhomeip/pull/12459

[2022-02-02 20:15] yunhanw-google commented on #10214
https://github.com/project-chip/connectedhomeip/pull/13108

[2022-02-02 20:15] #10214 closed

[2022-02-02 20:16] yunhanw-google commented on #10366
https://github.com/project-chip/connectedhomeip/pull/13248

[2022-02-02 20:16] #10366 closed

[2022-02-02 20:18] #8960 closed

[2022-02-02 20:18] yunhanw-google commented on #8960
fixed by  #9877

[2022-02-02 20:22] yunhanw-google commented on #8968
https://github.com/project-chip/connectedhomeip/pull/13041/files

[2022-02-02 20:22] #8968 closed

[2022-02-02 20:22] yunhanw-google commented on #8896
this has been fixed for C1-C5

[2022-02-02 20:22] #8896 closed

[2022-02-02 20:23] yunhanw-google commented on #9460
This has been removed now.

[2022-02-02 20:23] #9460 closed

[2022-02-02 20:24] yunhanw-google commented on #9460
https://github.com/project-chip/connectedhomeip/pull/14594

[2022-02-02 20:25] yunhanw-google commented on #10593
merged. https://github.com/project-chip/connectedhomeip/pull/13145

[2022-02-02 20:25] #10593 closed

[2022-02-02 20:39] lzgrablic02 commented on #13823
I guess this might be a platform-specific issue, then. Unassigning myself.

[2022-02-02 20:53] ukatira commented on #11760
I think Resume functionality got moved to post V1.0 so this will be needed when Requestors can support resuming a transfer previously aborted.

[2022-02-02 21:30] vivien-apple commented on #14612
Can you tell me exactly what you need ? `chip-tool` can subscribe to any attribute type already, but obviously you will need to call `subscribe` on the correct attributes based on the types from the spec.

[2022-02-02 21:43] vivien-apple commented on #14225
@kowsisoundhar12
So per my understanding what you want is to have a `configuredChannel` field in the config section that defaults to `0` for CI.
Then instead of `12` (or any other number you need to use 'configuredChannel`.

This setting should let you pass `--configured-channel` as a command line argument to the command depending on the configured channel of the thread interface.

[2022-02-02 21:52] vivien-apple commented on #12987
It is unclear to me that this stuff fails under the SDK requirements from test harness.
Basically it works with `chip-tool` since `chip-tool` reestablish the connection each time.
It work with `YAML` if you issue a `Reboot` step and then a `waitForCommissionee` step, since it  close/re-open the connection.
So while I agree this is an issue I'm going to remove the `sdk requirements from test harnes

[2022-02-02 21:56] vivien-apple commented on #11335
`CHIPClusters.zapt`  and `CHIPClusters-src.zapt` are gone but we will find some ways to get it to work.

[2022-02-02 22:00] austinh0 commented on #8634
I think this happens on multiple platforms, where there is some BLE heartbeat even after commissioning complete. Ideally this should be fixed overall and not with an Android-only patch, so I don't have a great ETA for this.

[2022-02-02 22:10] cecille opened #14725 "Sort out network commissioning for ethernet over BLE"
#### Problem
We don't currently support commissioning ethernet devices that are not already on the network

 #### Proposed Solution
I guess we should allow that?

[2022-02-02 22:10] cecille commented on #14725
see https://github.com/project-chip/connectedhomeip/pull/14567#discussion_r797781392

[2022-02-02 22:50] #11743 closed

[2022-02-02 22:50] #14685 closed

[2022-02-02 23:36] yufengwangca commented on #12106
Iteration over a linked list is almost as simple as 'for (auto & ifp : netifs)', It looks it is not worth to add the overhead to make those struct to support iteration.

[2022-02-02 23:36] #12106 closed

[2022-02-03 01:21] #11911 closed

[2022-02-03 01:21] #14665 closed

[2022-02-03 02:45] bzbarsky-apple commented on #14710
<details>
<summary>Example output:</summary>

[code]

</details>

[2022-02-03 03:02] bzbarsky-apple commented on #14624
The point is, the switch cluster API here is broken, no?  It should either know which endpoint is being addressed to start with (have per-endpoint delegates) or allow passing in the endpoint id from the caller.

Looks like the implementation in PR #13036 just does not make sense for a device with more than one switch on it....

[2022-02-03 03:30] krypton36 opened #14734 "chip-tool-darwin implementation should use [[NSRunLoop currentRunLoop] run];"
#### Problem
chip-tool-darwin's current implementation is using a C++ blocking loop and needs to be updated to use` [[NSRunLoop currentRunLoop] run]; ` and to stop loop with `CFRunLoopStop(CFRunLoopGetMain());`

[2022-02-03 03:32] dhrishi commented on #14624
The same is to be checked/implemented for all other utility/app clusters too that support events?

[2022-02-03 03:43] #1725 closed

[2022-02-03 03:43] #12028 closed

[2022-02-03 03:44] #13910 closed

[2022-02-03 03:44] #13955 closed

[2022-02-03 03:44] #13986 closed

[2022-02-03 03:44] #14079 closed

[2022-02-03 03:44] #14159 closed

[2022-02-03 03:44] yufengwangca commented on #13418
@liamgonyea

From all logs you posted, I saw the following error message:

[code]
1. Does the error only occurs on Commissioner side(chip-tool) with program crash?
2. On which platform you are running the device side example app? We only implement those diagnostic cluster on Linux platform

[2022-02-03 04:32] bzbarsky-apple commented on #14725
I guess we would need to do ConnectNetwork to turn on the Ethernet port?  It's not 100% clear to me what the actual commissioning steps involved here are...

@jmeg-sfy what would you like to see here?

[2022-02-03 04:45] manjunathambiger23 commented on #11625
@chrisbeach59 as per the test plan they are asking us to check default value
![image](https://user-images.githubusercontent.com/84442963/152282512-50a0f524-4b13-4498-ae59-fb477f92919e.png)

[2022-02-03 05:04] PSONALl opened #14735 "TE-7.5 - TC-DM-1.1 chip-tool doesnot responds with UNSUPPORTED_ACCESS"
#### Problem
When we write on any attribute of basic cluster DUT doesnot responds with UNSUPPORTED_ACCESS

 but actual output recieved is in the form:
`[1643045717.183916][3786:3786] CHIP:TOO: Unknown attribute: attr-name
[1643045717.184195][3786:3786] CHIP:TOO: Run command failure: ../../commands/common/Commands.cpp:107: Error 0x0000002F.`
 * system configuration: DUT: ESP32 TH: chip-tool on te7.

[2022-02-03 05:14] dhrishi commented on #14304
@jadhavrohit924 Is this addressed? Can we close?

[2022-02-03 06:34] bzbarsky-apple commented on #14624
Probably worth it, yes...

[2022-02-03 06:44] cjandhyala commented on #14403
@bzbarsky-apple Correct, that section of the spec is not about the command.

I agree that the actual implementation of factory reset function should come from the consumer of the SDK.Just like the OTA feature has reference implementation, we were expecting there may be some reference implementation/API  that each platform owner adopts. So we wanted to make sure SDK has the spec required things imp

[2022-02-03 07:07] bzbarsky-apple commented on #12437
This still needs to be fixed.

[2022-02-03 07:12] lnikulin commented on #14596
Call Stack look like following:
on Linux platform
[code]
on MIPS platform
[code]

[2022-02-03 07:16] Rajashreekalmane opened #14737 "[TC-LC-1.1] Write command is not implemented"
#### Problem

In Draft TE8 [TC-LC-1.1] there is a step "TH1 tries to write LabelList attribute of the DUT by setting Label = "Test_Label", Value= "Test_Value" but write command is not implemented so we cant run this step.
But in verification step they given a command " sudo ./chip-tool fixedlabel write label-list [room:bed
room]" which is not executable.

[2022-02-03 09:30] fessehaeve opened #14740 "Power source configuration cluster has to sort power source clusters according to the order attribute in each cluster"
#### Problem
Power source configuration cluster has the `Sources` attribute which is a list of all Power Source server clusters on the device. This list has to be sorted based on the `Order` attribute of each Power source server cluster.

Right now this list is not sorted.

 #### Proposed Solution
Sort based on `Order`.

[2022-02-03 12:01] cecille commented on #14725
I think the use case here is a device that either needs permission to enable the wired connection or permission to use it for matter operations. I'm not sure how common that use case would be, but I suppose it's technically possible.

I think the steps here would be to have the device read the network cluster "Networks" attribute to get the name of the ethernet network and then call enable on it.

[2022-02-03 12:19] PSONALl commented on #13746
@sowmyassp As per the specs RendezvousInformation flag is set for modes:
1  -> SoftAp
2  -> BLE
4  -> on/network

[2022-02-03 13:56] Rajashreekalmane opened #14744 "[TC-MC-5.2] and [TC-MC-5.3] CurrentChannel Attribute not available for Channel Cluster"
Test Case ID:
[TC-MC-5.2] Change Channel by Number Verification
[TC-MC-5.3] Skip Channel Verification

CurrentChannel Attribute not found in chip-tool, unable to complete Step 3 for TC-MC-5.2 and steps 2,4 for TC-MC-5.3. This missing attribute makes it so the test case cannot be accurately performed because all other steps rely on knowing the CurrentChannel attribute's value

Specification Referen

[2022-02-03 14:47] #2569 closed

[2022-02-03 14:52] kpschoedel commented on #13939
This might be a nice small-memory optimization, but the TODO is seven years old (from Weave) so doing it for 1.0 doesn't seem worth the risk. Will remove the TODO to placate automated scans, but leave the issue for 1.x consideration.

[2022-02-03 15:02] andy31415 commented on #11857
This may also be a result of moving some pools onto heap instead of static memory. I am not convinced this is something we should fix even for 1.x based on the given report.

[2022-02-03 15:02] manjunathambiger23 opened #14748 "Need YAML support for test cases that run longer than 90 seconds"
Summary:
               As per test plan of TC-OO-2.3 needs wait time more than 90 sec we are facing timeout error when we execute, need YAML framework support for test cases that run longer than 90 seconds

Execution screenshot:
![image](https://user-images.githubusercontent.com/84442963/152363442-07e0d8df-b80f-48ce-aa11-acc2c72aac9a.png)

[2022-02-03 15:05] mlepage-google opened #14749 "Investigate RAM size increases in example apps"
PRs #14680 and #14657 report `.bss` size increases of a few KB. (Could they be the same?)

Investigate this to see what's causing it and if it can be reduced.

[2022-02-03 15:07] andy31415 commented on #3589
chip-device-ctrl is being replaced by chip-repl which has different semantics alltoghether. Assuming this is an old bug (since >1year old) and closing.

[2022-02-03 15:07] #3589 closed

[2022-02-03 15:07] jmeg-sfy commented on #14725
I don't request changes , just wondering how this would work in case an ETH port is off to save power

[2022-02-03 15:10] #4554 closed

[2022-02-03 15:15] bzbarsky-apple commented on #14749
PR 14680 is on top of PR 14657.

PR 14657 having a size increase makes sense: it adds an AccessControl instance that is now hanging around.

PR 14657 having a size increase does NOT make sense: it's just moving the AccessControl instance from one place to another.  Why does it have a size increase?

[2022-02-03 15:17] andy31415 commented on #14100
encode_value.zapt does not contain any TODO anymore.  Assuming already fixed since todo gone. also I see if_is_struct usage.

[2022-02-03 15:17] #14100 closed

[2022-02-03 15:32] bzbarsky-apple commented on #14749
Or another example: (nrfconnect, lighting-app, nrf52840dk_nrf52840).

[2022-02-03 15:36] Survensa opened #14750 "GlobalElements needs to be developed in SDK software."
CHIP-tool SDK software has to implement the the following mandatory global elements, mentioned in the spec section 7.14.

1. Cluster Revision.
2. FeatureMap
3. AttributeList
4. EventList
5. ClientGeneratedCommandList
6. ServerGeneratedCommandList.
7. FabricIndex.

[2022-02-03 15:42] caipiblack commented on #10411
This problem was due to bogus GCC diagnostic as discussed here:

- https://stackoverflow.com/questions/36489369/constexpr-non-static-member-function-with-non-constexpr-constructor-gcc-clang-d
- https://stackoverflow.com/questions/35080001/simple-constexpr-function-failed-to-compile-with-gcc-clang-is-ok
- http://www.open-std.org/jtc1/sc22/wg21/docs/cwg_defects.html#1684

I resolved the problem some

[2022-02-03 15:42] #10411 closed

[2022-02-03 15:46] bzbarsky-apple commented on #14749
I just tried doung the nrfconnect lighting-app build locally, like so:
[code]
and it does in fact show a size increase for me from #14680 as measured with `bloaty` for `examples/lighting-app/nrfconnect/build/zephyr/zephyr.elf` (but not for `examples/lighting-app/nrfconnect/build/app/libapp.a` ?).

The build output also claims this size increase: before #14680 it shows:
[code]
and after it shows:
[

[2022-02-03 15:54] bzbarsky-apple commented on #14749
[Uploading zephyr.txt…](zephyr.map file before #14680) and
[Uploading zephyr2.txt…](zephyr.map file after #14680).

@Damian-Nordic @kkasperczyk-no any suggestions on pinning down the size increase for specific symbols?  Are there tools for comparing the two binaries (bloaty does not do a great job with pinning down which symbols contribute to .bss) or the .map files?

[2022-02-03 16:09] harimau-qirex commented on #14749
There's scripts/tools/memory/diffsyms.py in the repository. When I checked efr32's lighting app, I found that the size increases were from the ACL symbols. My guess is that they were being optimised out in previous builds because they weren't referenced.

[2022-02-03 16:48] bzbarsky-apple commented on #14749
But #14680 does not change which symbols are referenced....

[2022-02-03 17:17] krypton36 opened #14753 "Remove test exclusions from command line."
#### Problem
Remove test exclusions from command line arguments in the GitHub workflow in file .github/workflows/tests.yaml in line
--target-skip-glob '{TestGroupMessaging,TestGroupDemoCommand,TestGroupDemoConfig,TV_*}' \

There is now a separate group for tests that are manual or require user interaction in examples/chip-tool/templates/tests.js in the function getManualTests()

[2022-02-03 17:45] vivien-apple commented on #14748
You can normally add a `timeout` parameter in the config section.

For example:
[code]

[2022-02-03 17:45] #14748 closed

[2022-02-03 17:54] harimau-qirex commented on #14749
It adds a reference from Server to the ACL system and calls AccessControl::Init after setting an instance of AccessControlExampleDelegate. The symbols I see being added with that change are the ones in the anonymous namespace in src/access/examples/ExampleAccessControlDelegate.cpp, so presumably they were being removed since the default AccessControl implementation doesn't use that delegate implem

[2022-02-03 18:03] #14618 closed

[2022-02-03 18:30] jmeg-sfy commented on #14472
Bad endpoint is selected on this logs

I guess we can close this issue

[2022-02-03 18:49] liamgonyea commented on #9819
### Update
Testing with commit ID: `b3ad0ff7253214d4d73f1871617338965961d263`

Test case `TC-MC-3.1`, Step 9, is passing with the above testing setup for chip-tool as the controller and chip-tv-app as the accessory.

[2022-02-03 19:27] woody-apple commented on #1723
Agree this can be closed.

[2022-02-03 19:27] #1723 closed

[2022-02-03 19:27] woody-apple commented on #1719
This is complete.

[2022-02-03 19:27] #1719 closed

[2022-02-03 19:27] #1717 closed

[2022-02-03 19:35] bzbarsky-apple commented on #14749
Yes, but that all used to happen already under `MatterAccessControlPluginServerInitCallback`.  That init just got moved....

[2022-02-03 19:47] mrjerryjohns opened #14757 "2nd-fabric commissioning sometimes times out establishing CASE"
#### Problem

Cirque recently added a multi-fabric test that commissions (in-process) a target device into two independent fabrics.

Occasionally, it is failing to successfully commission the 2nd fabric. This does not happen all the time.

[2022-02-03 19:58] harimau-qirex commented on #14749
This is both .bss and .text. Here are the outputs I obtained with diffsyms.py, restricted to those two sections in the EFR32 lighting example:
[diffsyms-bss.txt](https://github.com/project-chip/connectedhomeip/files/7997734/diffsyms-bss.txt)
[diffsyms-text.txt](https://github.com/project-chip/connectedhomeip/files/7997735/diffsyms-text.txt)

[2022-02-03 20:15] cecille opened #14758 "Refactor VerifyAttestationInformation argument list into a struct"
#### Problem
There are lots of arguments. A struct is nicer visually and if we need to add more arguments down the line it's easier.

 #### Proposed Solution
individual args -> struct.

[2022-02-03 20:23] mrjerryjohns commented on #14757
So managed to repro this locally with enhanced logging (logs can be found [here](https://github.com/project-chip/connectedhomeip/files/7997678/logs.1.txt)) as well as increasing the time it takes to process Sigma1 on the device to excaercerbate the failure, and here is the failure sequence:

Pre-Error State:
1. Have setup a `DeviceController` instance that is tracking Fabric 1 (Compressed Fabric I

[2022-02-03 20:25] mrjerryjohns commented on #14757
Interestingly, I cannot repro this failure on Mac. I think it has something to do with with the way DNS-SD announcements are made, and how many of them are made (perhaps as a function of the # of interfaces the server is being bound to?)

[2022-02-03 20:30] cjandhyala commented on #4929
cover in #14709

[2022-02-03 20:30] #4929 closed

[2022-02-03 21:14] kpschoedel commented on #14446
`TestReadInteraction::TestReadChunking` leads to a use-after-free of a `RetransTableEntry`, which has been masked by the use of a static `BitMapObjectPool` for `ReliableMessageMgr::mRetransTable`.

Complicated details to follow.

[2022-02-03 21:17] bzbarsky-apple opened #14759 "Fix naming of CSRRequest/CSRResponse"
#### Problem
Our XML calls them OpCSRRequest/OpCSRResponse.

 #### Proposed Solution
Fix to use spec names.

[2022-02-03 21:25] selissia commented on #13393
@bzbarsky-apple: sorry I don't fully follow. The following is the implementation in EFR32 (Ameba's is similar). Is something still broken here? This is the fix I applied back in December.
[code]

[2022-02-03 22:26] hrajendran-samsung opened #14764 "ota-provider cannot be commissioned with chip-tool"
#### Problem
Commissioning the ota-provider-app fail, when using the CHIP-tool. Without the Basic Information Cluster enabled, the CHIP-tool fails commissioning after it tries to read the VendorID attribute.

 #### Proposed Solution
Enable the Basic Information Cluster using ZAP and commissioning works fine.

[2022-02-03 22:44] hrajendran-samsung commented on #14764
Can this ticket be included in 1.0 as well? Some OTA features implementation might be blocked due to this issue. It is also relatively simple in complexity.
CC: @carol-apple @selissia

[2022-02-03 23:02] kpschoedel commented on #14446
Enter `TestReadInteraction::TestReadChunking(…)`
At 817: `InteractionModelEngine::GetInstance()->GetReportingEngine().Run();`

Enter `Engine::Run()`
At 503: `CHIP_ERROR err = BuildAndSendSingleReportData(readHandler);`

Enter `Engine::BuildAndSendSingleReportData(…)`

_CHIP:DMG: <RE:Run> Cluster fff10002, Attribute fff10004 is dirty_
_CHIP:DMG: Reading Mock Cluster fff10002, Field fff10004 is dirt

[2022-02-03 23:42] carol-apple opened #14766 "Enable controller applications to receive and process CASE session establishment request"
#### Problem
Currently, controller applications cannot receive and process CASE session establishment request (i.e. Sigma1). Only server applications are using CASE Server. The controller API/application doesn't instantiate a CASE server. Due to this, a device cannot initiate a CASE session with the controller application.

 #### Proposed Solution
Add CASE Server either to CHIPDeviceControllerFact

[2022-02-04 03:43] hhuang1911 commented on #11857
A big memory jump like this cannot be ignored or pushed away without detailed analysis report. There are controllers running on devices other than phone or pad. 150MB memory is not something like a TV or a STB can easily give away.

[2022-02-04 04:22] PSONALl commented on #13746
@sowmyassp I think there is quite a confusion here, the values of Rendezvous Information flags are correct in the code as per the specs, and 0 in case of manual pairing represents that the Device does not support any method for rendezvous.
and you can send --capabilities argument while running the application set to the above-mentioned values of Rendezvous flags.  In the second case If the Rendezv

[2022-02-04 05:23] PSONALl commented on #13746
e.g. for setting SoftAp-mode you need to send the command:
 sudo ./chip-all-clusters-app --capabilities 1

[2022-02-04 06:28] bzbarsky-apple opened #14776 "4 chunked read reports that do not get a status response will completely break reads/subscriptions"
#### Problem
Steps to reproduce:
1. Compile chip-all-clusters-app and chip-tool.
2. Run chip-all-clusters-app.
3. Commisission via `chip-tool pairing onnetwork 17 20202021` (node id 17).
4. Prepare to run `chip-tool any read-by-id 0xFFFFFFFF 0xFFFFFFFF 17 0` under a debugger.
5. Add a breakpoint on `ReadClient::ProcessReportData`.
6. Run under the debugger.  When the breakpoint is hit just wait un

[2022-02-04 06:40] bzbarsky-apple commented on #13393
I am not sure why I said "EFR32"...  Ameba was fixed a few days ago (after my comment).

I just checked all the impls, and they look good now.

[2022-02-04 06:40] #13393 closed

[2022-02-04 06:56] bzbarsky-apple commented on #14446
So the fundamental problem, I expect, is that this test uses the sync-message-delivery loopback mode that I thought we had stopped using....  but it looks like a bunch of tests still use it:

* TestWriteInteraction
* TestCommandInteraction
* TestEventLogging
* TestReportingEngine
* TestReadInteraction
* TestInteractionModelEngine.cpp
* TestBufferedReadCallback
* TestAttributeCache

We should proba

[2022-02-04 06:59] bzbarsky-apple commented on #14596
Where are the "SchedWork() begin" and "Signal begin" prints coming from?  That is, what code locations?

[2022-02-04 07:23] bzbarsky-apple commented on #14749
Hmm.  So why is the `AccessControl gAccessControl(Examples::GetAccessControlDelegate());` in `access-control-server.cpp` not pulling that in before PR 14680?

[2022-02-04 08:00] Rajashreekalmane opened #14777 "[TC-TM-1.1]- In Temperature Measurement Cluster, the cluster revision value is not matched with the expected outcome."
In Temperature Measurement Cluster, testcase 1.1 (TC-TM-1.1), the "cluster revision attribute" value must be 4 as per the Testplan,
But the actual outcome is 3. This needs to be fixed as per Test plan expected outcome.

Test Test-plan link:
https://github.com/CHIP-Specifications/chip-test-plans/blob/master/src/cluster/temperaturemeasurement.adoc

expected behavior - cluster revision attribute - 4

[2022-02-04 08:51] yunhanw-google commented on #5352
obsolote

[2022-02-04 08:51] #5352 closed

[2022-02-04 08:52] #4938 closed

[2022-02-04 08:56] yunhanw-google commented on #7973
#11646

[2022-02-04 08:56] #7973 closed

[2022-02-04 09:05] yunhanw-google commented on #12972
https://github.com/project-chip/connectedhomeip/pull/14711

[2022-02-04 09:15] lnikulin commented on #14596
File ```src/system/SystemLayerImplSelect.cpp```
[code]

[2022-02-04 11:43] somu1710 opened #14781 "Occupancy sensing cluster [ TC-OCC-2.2] - Test step shows operate dut manually to change the occupancy status"
In occupancy sensing cluster testcase  [ TC-OCC-2.2]  mention we have to manually change the occupancy status,currently there is no provision to enter this value or to pre-configure this value. If there is a provision to con=figure this value, it will be helpful to verify this feature.

Here I attached the link for TE 8 Verification steps
https://docs.google.com/spreadsheets/d/1h4d4J90KAxFqUL_cXZH

[2022-02-04 11:58] somu1710 opened #14782 "Relative humidity cluster [TC-RH-2.2] - Test step shows operate on device to change the temperature significantly"
In Relative humidity cluster [TC-RH-2.2] testcase mention we have to manually change the temperature,currently there is no provision to enter this value or to pre-configure this value. If there is a provision to con=figure this value, it will be helpful to verify this feature.

Here I attached the link for TE 8 Verification steps
https://docs.google.com/spreadsheets/d/1h4d4J90KAxFqUL_cXZHyM3pHjHCE

[2022-02-04 12:25] Rajashreekalmane opened #14783 "Illuminance Measurement Cluster-[TC-ILL-2.1]-Test step shows Operate on a device to Adjust the brightness of the light source"
In Illuminance Measurement Cluster testcase [ TC-ILL-2.1] verification test step 4a mentioned that we have to manually Adjust the brightness of the light source such that it is visibly different, currently there is no provision to enter this value or to per-configure this value. If there is a provision to configure this value, it will be helpful to verify this feature.

Here I attached the link fo

[2022-02-04 12:34] Rajashreekalmane opened #14784 "Flow Measurement Cluster-[TC-FLW-2.2] Test step shows Operate on DUT to change the flow significantly."
In Flow Measurement Cluster testcase [ TC-FLW-2.2] verification test step 3 mentioned that  we have to manually change the flow significantly, currently there is no provision to enter this value or to pre-configure this value. If there is a provision to con=figure this value, it will be helpful to verify this feature.

Here I attached the link for TE 8 Verification steps:
https://docs.google.com/s

[2022-02-04 13:10] jadhavrohit924 commented on #14304
@dhrishi yes

[2022-02-04 13:13] #14304 closed

[2022-02-04 13:59] AntonGrey opened #14786 "[TC-TM-2.1][TC-TM-2.2] Chip-tool: failed to process Measured Value attribure read response."
#### Temperature Measurement cluster: read Measured Value attribute with chip-tool or TestHarness.
 * Expected behavior: success read Measured Value.
 * Actual behavior: failure response, but ReportDataMessage has success response with right Measured Value.
 * Reproduce command: `./chip-tool temperaturemeasurement read measured-value 12344321 1`

**Chip-tool log:**
[code]

**TestHarness log:**
[co

[2022-02-04 14:07] #14764 closed

[2022-02-04 14:11] #12101 closed

[2022-02-04 15:36] kpschoedel commented on #14446
Suspected it might be test-only when I hit `LoopbackTransport`.

The Interaction tests and TestReportingEngine hit this; the others pass ASAN.

[2022-02-04 15:38] #13176 closed

[2022-02-04 15:42] msandstedt commented on #7835
I think this may have been closed inadvertently.

[2022-02-04 15:57] bzbarsky-apple commented on #14749
So specifically, what is the breakdown of the .bss increase on the EFR32 lighting app from PR #14657?  @harimau-qirex

[2022-02-04 16:00] #10251 closed

[2022-02-04 16:22] msandstedt commented on #7835
Taking this as it's related to https://github.com/project-chip/connectedhomeip/issues/12821 and we can have a pretty straight forward solution by addressing both together.

If the session manager can assign session IDs itself, all of these problems go away.  Session manager has complete visibility of occupied and available session IDs, so can easily assign new ones.  With this approach, there need

[2022-02-04 16:38] #14759 closed

[2022-02-04 18:46] cjandhyala commented on #14777
dup to https://github.com/project-chip/connectedhomeip/issues/12190

[2022-02-04 18:53] #12437 closed

[2022-02-04 19:47] krypton36 opened #14798 "Add README to chip-tool-darwin"
#### Problem
Add a README to chip-tool-darwin

[2022-02-04 21:49] harimau-qirex commented on #14749
Here's the .bss diff from #14657. The majority of the increase is from the example ACL delegate's implementation. I'm still investigating why the symbols weren't included in previous builds.
[diffsyms-bss-14657.txt](https://github.com/project-chip/connectedhomeip/files/8006426/diffsyms-bss-14657.txt)

[2022-02-04 22:28] bzbarsky-apple commented on #8360
Yes, this looks good now.

[2022-02-04 22:28] #8360 closed

[2022-02-04 22:31] bzbarsky-apple commented on #14596
OK, but that's not what we were asking.  We are asking: what code is calling `ScheduleRun`, not what code does `ScheduleRun` call.

Someone is calling `ScheduleRun` without synchronization on the wrong thread.  The question is who that is.

[2022-02-04 23:09] mlepage-google commented on #14749
All examples should have the access control module (AccessControl.cpp) as part of the core, and called by IM, it should be linked in. But without the "real" implementation, it's just a relatively thin API and scaffolding.

The cluster implementation adds more code (cluster server, whatever generated serialization code it pulls in) and also configures the example "real" access control implementatio

[2022-02-04 23:30] bzbarsky-apple commented on #13441
The test is trying to read from endpoint 1.

This cluster is required to be on endpoint 0 by spec.

So it does not work.

[2022-02-04 23:34] bzbarsky-apple commented on #11185
This works fine, but the test is trying to read it from the wrong endpoint, so failing...  Fix coming up.

[2022-02-04 23:55] bzbarsky-apple commented on #13645
Test is trying to read the cluster on endpoint 1, which is not where this cluster lives.

That said, we probably need to merge https://github.com/project-chip/connectedhomeip/pull/14755 for this to really work right.

[2022-02-05 00:01] bzbarsky-apple commented on #11578
That's because the test is sending it to endpoint 1, not endpoint 0.

[2022-02-05 00:12] bzbarsky-apple commented on #13645
And also, ResetCounts might just not work on some platforms.....

[2022-02-05 00:43] #4189 closed

[2022-02-05 01:04] #14617 closed

[2022-02-05 06:54] yunhanw-google opened #14820 "Create ClusterPath containing endpoint and cluster id"
Followup: we should have a ClusterPath containing endpoint and cluster id that other paths inherit from, and pass it here.

_Originally posted by @bzbarsky-apple in https://github.com/project-chip/connectedhomeip/pull/14711#discussion_r799937071_

[2022-02-05 07:47] bzbarsky-apple commented on #14749
It was built by the ones we are looking at here....

[2022-02-05 08:21] bzbarsky-apple commented on #14645
Struct attributes are supported, but reading this attribute from all-clusters-app always returns failure.  This test should probably run against tv-app?

[2022-02-05 18:46] bpetersen-grundfos commented on #14278
Had the same issue, changed to PI OS Lite 64bit then it worked

[2022-02-05 19:51] #13839 closed

[2022-02-05 22:15] carol-apple commented on #14338
@yufengwangca This particular attribute is a list of structs and so I had to set it to `External` and add support for it directly through AttributeAccessInterface. AFAIK, persistent storage for `External` is up to the implementation for AttributeAccessInterface. Unless there's something else I'm missing?

[2022-02-07 00:44] jeonghwan7 opened #14822 "[TE7.5] [TC-MC-10.6] invalid url issue"
#### Problem
 * expected behavior
 - Test Spec TC-MC-10.6 #4-  If input invalid url in chip-tool, chip-tv-app(Server) response URL_NOT_AVAILABLE.

 * actual behavior
-  chip-tv-app response SCCESS Response.

 * steps to reproduce
- already provisioned between chip-tool and  chip-tv-app
- chip-tool command is below
./chip-tool contentlauncher launch-urlrequest  https://badurl 1 1

* system configur

[2022-02-07 02:06] erjiaqing commented on #7937
I believe this issue are resolved by the PRs menthoned above and several changes to IM in Q4 last year. Close it now.

[2022-02-07 02:06] #7937 closed

[2022-02-07 02:54] #1805 closed

[2022-02-07 02:55] #1808 closed

[2022-02-07 02:59] #3377 closed

[2022-02-07 03:00] woody-apple commented on #2880
This looks complete, yes. Thanks!

[2022-02-07 03:00] #2880 closed

[2022-02-07 03:01] woody-apple commented on #2831
This is mostly complete.

[2022-02-07 03:01] #2831 closed

[2022-02-07 03:03] woody-apple commented on #1859
Yup, this is complete.

[2022-02-07 03:03] #1859 closed

[2022-02-07 03:05] woody-apple commented on #4393
Still an issue, but Darwin

[2022-02-07 03:07] woody-apple commented on #5284
Can pull this in if needed.

[2022-02-07 03:08] woody-apple commented on #5622
This does appear to be resolved

[2022-02-07 03:08] #5622 closed

[2022-02-07 03:08] #5897 closed

[2022-02-07 03:09] woody-apple commented on #5962
Closing, will re-open if still is present.

[2022-02-07 03:09] #5962 closed

[2022-02-07 03:10] woody-apple commented on #6255
This is dead code at this point.

[2022-02-07 03:10] #6255 closed

[2022-02-07 03:11] #6456 closed

[2022-02-07 03:11] #9406 closed

[2022-02-07 03:17] #7489 closed

[2022-02-07 03:18] #7271 closed

[2022-02-07 03:19] woody-apple commented on #7049
@Kevin552270 can you confirm if this is complete?

[2022-02-07 03:19] #7049 closed

[2022-02-07 03:20] woody-apple commented on #6475
Factory reset is handled per platform, as the matter doesn't really support Factory reset at this point.

[2022-02-07 03:23] woody-apple commented on #8831
The base case works on pi, moving post v1.

[2022-02-07 03:23] woody-apple commented on #8829
Agree, moving post v1.

[2022-02-07 03:24] woody-apple commented on #8741
Keeping memory bugs in 1.0

[2022-02-07 03:26] woody-apple commented on #8361
Closing, please re-open if needed.

[2022-02-07 03:26] #8361 closed

[2022-02-07 03:27] Kevin552270 commented on #7049
Hello Justin,

It has been completed, thanks for confirming.

Br,
Kevin

From: Justin Wood ***@***.***>
Sent: Monday, February 7, 2022 11:20 AM
To: project-chip/connectedhomeip ***@***.***>
Cc: Kevin QIAN ***@***.***>; Mention ***@***.***>
Subject: Re: [project-chip/connectedhomeip] Bridge App lack of the implementations related to update to the set of Bridged Devices occurs (#7049)

[External ema

[2022-02-07 03:27] woody-apple commented on #8342
Keeping in v1 for now.

[2022-02-07 03:30] woody-apple commented on #9552
Naming can wait until post v1.

[2022-02-07 03:31] woody-apple commented on #9414
tooling bugs can move to V1.X

[2022-02-07 03:33] woody-apple commented on #9214
Given this is a linux platform example issue, can be resolved post v1.0

[2022-02-07 03:34] woody-apple commented on #9141
This appears to be working now.

[2022-02-07 03:34] #9141 closed

[2022-02-07 03:35] woody-apple commented on #8994
Closing.

[2022-02-07 03:35] #8994 closed

[2022-02-07 03:35] woody-apple commented on #8953
Good code cleanup for post v1.0

[2022-02-07 03:36] woody-apple commented on #8924
Marking as closed, please re-open if still an issue.

[2022-02-07 03:43] woody-apple commented on #9813
@cindycaowiz is this still happening?

[2022-02-07 03:45] woody-apple commented on #9681
@lucyShi0116 Can you please re-open if this is still an issue.

[2022-02-07 03:45] #9681 closed

[2022-02-07 03:45] woody-apple commented on #9680
@lucyShi0116 Can you please re-verify this and re-open if needed?

[2022-02-07 03:45] #9680 closed

[2022-02-07 03:46] woody-apple commented on #9670
@lucyShi0116 Can you please re-verify this on a more recent matter?

[2022-02-07 03:46] #9670 closed

[2022-02-07 03:47] woody-apple commented on #9620
Moving to post V1, until obviously necessary.

[2022-02-07 04:46] jeonghwan7 opened #14823 "[TE7.5] [TC-MF-1.11] [TC-MF-1.12] It happened to crash on Controlee using an invalid passcode"
#### Problem
- DUT_CR1: our-controller
- TH_CR2: chip-tool
- TH_CE: all-clusters-app

In test case,
Set up a DUT_CR1 to start attempting to do PASE to TH_CE and failing 20 times. This can be done using an invalid passcode.
If using an invalid passcode, TH_CE happened to crash.

TH(Controlee) Log
[code]

 #### Proposed Solution
TH(Controlee) can't be  crashed.

#### Full Log
[TE7_5-TC-MF-1.12_contr

[2022-02-07 04:53] carol-apple commented on #12607
Tip: You can mention something like `Fixes: https://github.com/project-chip/connectedhomeip/issues/12607` in the description of this PR and it will close the issue for you once this PR merges.

[2022-02-07 05:27] dhrishi commented on #13746
@sowmyassp Closing this issue wrt Sonali's comment. Please feel free to re-open in case of anything.

[2022-02-07 05:27] #13746 closed

[2022-02-07 06:04] Rajashreekalmane opened #14825 "[TC-I-1.1]- In Identify Cluster, the cluster revision value is not matched with the expected outcome."
In Identify Cluster, testcase 1.1 (TC-I-1.1), the "cluster revision attribute" value must be 4 as per the Test Plan,
But the actual outcome is 2. This needs to be fixed as per Test plan expected outcome.

expected behavior - cluster revision attribute - 4
actual behavior - cluster revision - 2

Test Test-plan link:
https://github.com/CHIP-Specifications/chip-test-plans/blob/master/src/cluster/iden

[2022-02-07 06:31] dhrishi commented on #3341
@holbrookt Yes, you are correct.

[2022-02-07 07:35] yonko-gospodinov commented on #14486
The IASZone was just an example, the main topic is regarding the generic processing of incoming commands similar to MatterPostAttributeChangeCallback. Do you plan such support?

[2022-02-07 09:03] #14783 closed

[2022-02-07 09:20] #8086 closed

[2022-02-07 09:20] lazarkov commented on #8086
The issue is obsolete.

[2022-02-07 09:22] #14784 closed

[2022-02-07 09:25] lazarkov commented on #12853
@franck-apple honestly, with this poorly written ticket, I need time as well figure out.

[2022-02-07 09:30] #12853 closed

[2022-02-07 09:30] lazarkov commented on #12853
All comments have been resolved.

[2022-02-07 09:51] vivien-apple commented on #14744
That should be fixed by #14794 for the `chip-tool` side.

[2022-02-07 10:28] lazarkov commented on #13375
This one should be fixed now. @bzbarsky-apple
If not please re-open.

[2022-02-07 10:28] #13375 closed

[2022-02-07 10:54] dtodor opened #14833 "Bootstrap on Apple Silicon / ARM compatible version of protoc missing"
The bootstrap script fails on Apple Silicon:
[code]

[2022-02-07 11:19] #14782 closed

[2022-02-07 11:20] somu1710 commented on #14782
Shift to test plan issue.

[2022-02-07 11:20] #14781 closed

[2022-02-07 11:21] somu1710 commented on #14781
Shift to test plan issue.

[2022-02-07 13:39] SgtPepperFTW opened #14837 "ESP32 bridge app example doesn't compile with esp-idf v4.4: conflicting definitions for htons, ntons, htonl, ntonl"
#### Problem
when compiling esp32 example the definitions of htons, ntons, htonl, ntonl are conflicted from esp-idff component in "components/lwip/port/esp32/include/arch/cc.h"
 and matter file "src/inet/arpa-inet-compatibility.h"

 #### Proposed Solution
put another define in arpa-inet-compatibility? remove these defines from arpa-inet-compatibility alltogether?

[2022-02-07 13:41] hrajendran-samsung commented on #14338
Based on asking/looking around, it seems that the way to go would be to use the DefaultAttributePersistenceProvider. The attribute values ended up being stored in /tmp/chip_kvs , bas64 encoded I think.

[2022-02-07 13:54] lnikulin commented on #14596
Setup attribute emberAfWriteAttribute() from application thread (for example setup UniqueID into Basic Cluster EP0)

BSB002:
Main application thread = 2012425860
Chip Event loop thread  = 2006556008
[code]
Linux:
Main application thread = 139729208574336
Chip Event loop thread  = 139729191761664
[code]

[2022-02-07 14:11] erjiaqing opened #14838 "Introduce a mechnism for caching ACL check results for a session for chunked WriteRequest"
#### Problem
ACL check is conducted on every AttributeDataIB for a write request, we should only check for first chunk only so we can send a enpty list at the beginning of the chunked list.

 #### Proposed Solution

My idea:
1. Add a access check "token" to WriteHandle, including a path and a flag (pass / fail)
2. WriteSingleClusterData can accept that token, if the path match and the ACL check is

[2022-02-07 14:14] #10923 closed

[2022-02-07 14:14] #11393 closed

[2022-02-07 14:15] sowmyassp opened #14839 "In ColorControl cluster for few test cases we are getting success response(0X00) instead of getting 0Xc6 when "timedInteractionTimeoutMs" parameter is not passed."
#### Problem
For all the commands in Color Control cluster it is expected to pass "timedInteractionTimeoutMs" as one of the parameter. But, even though if we dont pass the parameter it is giving 0X00 error code instead of 0Xc6 as error code.

[color_control.txt](https://github.com/project-chip/connectedhomeip/files/8015895/color_control.txt)

[2022-02-07 14:44] tlykkeberg-grundfos commented on #13303
I have the same issue but not on Mac OS (Intel Monterey 12.0.1) but on my iPhone (iOS 15.2.1). We have narrowed it down to an issue with the service not being discovered by the CoreBluetooth Framework. It works perfectly with the DUT on the MacBook, but it fails on the same codebase but on iOS.

[2022-02-07 14:46] Rajashreekalmane opened #14840 "[TC-GENDIAG-1.1]IPv4 and IPv6 address missing in the outcome when we read network-interfaces attribute in General Diagnostics cluster."
#### Problem
In General Diagnostics Cluster when we pass "./chip-tool generaldiagnostics read network-interfaces 1 0" command the expected outcome is "The read data type must match the value listed in the specification(s) Table 118. NetworkInterface ENUM.
-  Structure data includes Name (interface name)
- FabricConnected
- OffPremiseServicesReaschableIPv4
- OffPremiseServicesReaschableIPv6
-  Hard

[2022-02-07 14:51] dhrishi commented on #14837
Hi @SgtPepperFTW I just tried compilation of `examples/bridge-app/esp32` on recent CHIP commit `0f7be8bef3a6d1df72c3a2f6ea7c0c359fd44937` with IDF v4.4 release (`8153bfe4125e6a608abccf1561fd10285016c90a`). I am able to successfully compile it. Can you please clean the app and retry?

[2022-02-07 14:53] SgtPepperFTW commented on #14837
@dhrishi yeah, my bad, I was on the master branch of the esp-idf, which is apparently v5.0-dev. Still means it might be an issue later.

[2022-02-07 14:56] dhrishi commented on #14837
Yes. Looks like we will have to handle it with v5.0 or later. I will close this for now.

[2022-02-07 14:56] #14837 closed

[2022-02-07 15:00] sowmyassp commented on #12133
@holbrookt Now we are not facing this issue.

[2022-02-07 16:10] Nesrine352 commented on #14694
Any news regarding  this matter plz?

[2022-02-07 17:05] bzbarsky-apple commented on #14596
Ok, this is the thing that's not allowed.  This needs to happen off a task queued on the Matter event loop.  Otherwise you can race not only with Engine::ScheduleRun but also with writes to attributes happening as a result of Matter message processing, so can end up with a corrupted attribute store.

[2022-02-07 17:08] bzbarsky-apple commented on #14486
Nothing like that is planned for 1.0 right now if you mean "handle the command inside the stack and also send a generic notification that the command happened to the application".

If the application wants to take over processing commands, it can use `CommandHandlerInterface`, but then it will also need to do its own TLV decoding, creating responses, etc, etc.

What sort of "generic processing" ar

[2022-02-07 17:52] dtodor commented on #14833
A workaround is to install the Protocol Buffer Compiler v3.17.3 manually. I've tried this older brew formula, which seems to do the job:

[https://github.com/Homebrew/homebrew-core/blob/ac2a2846981f6c6f9d6df64b9250a1e9f872cbf2/Formula/protobuf.rb](url)

[2022-02-07 17:55] andy31415 commented on #11142
Generation seems to say "OutOfService" to be missing, which is mandatory ... however then the text names it "out of service".

I think we should fix the mandatory item, however optional attributes should not block 1.0

[2022-02-07 17:57] andy31415 commented on #11142
Checked `Test_TC_BI_2_1.yaml` and the out of service test seems enabled, so I assume it is working.

There is a comment saying that due to this bug, optional attribute checks are disabled. This seems consistent with the bug stating that only optional attributes are not working.

[2022-02-07 18:03] andy31415 commented on #13842
I believe that we do not handle the error-case well in chip-tool.

The logs show a lot of `[1642657572.512396][4785:4790] CHIP:CTL: Device connection failed. Error ../../src/app/OperationalDeviceProxy.cpp:156: CHIP Error 0x0000000B: No memory` which is likely the cause. The core dump is just a final symptom

[2022-02-07 18:07] andy31415 commented on #14146
I believe the root cause is `[1643081773.661250][4000:4005] CHIP:SC: CASESession timed out while waiting for a response from the peer. Current state was 1`

We do not handle non-happy paths and we end with a core dump on cleanup, however by that time all commands already failed.

[2022-02-07 18:09] andy31415 commented on #14346
I have not seen android fail in a while now. `assert(android_sdk_root != "", "android_sdk_root must be specified")` seems to say that sdk root is undefined which does not seem to be the case now.

Closing as obsolete for now.

[2022-02-07 18:09] #14346 closed

[2022-02-07 18:12] lazarkov commented on #12129
The SDK is updated now per spec.

[2022-02-07 18:13] lazarkov commented on #10880
It's present now

`➜  connectedhomeip git:(feature/enable-struct-atributes-for-chip-tool) ✗ out/debug/standalone/chip-tool targetnavigator read
[1644257570311] [13547:652718] CHIP: [TOO] Missing attribute name
Usage:
  out/debug/standalone/chip-tool targetnavigator read attribute-name [param1 param2 ...]

  +-----------------------------------------------------+
  | Attributes:

[2022-02-07 18:13] #10880 closed

[2022-02-07 18:14] andy31415 commented on #4532
We will use branches for releases, but no artifacts. Closing for now as we are unlikely to look for full releases.

[2022-02-07 18:14] #4532 closed

[2022-02-07 18:14] lazarkov commented on #12156
The SDK is updated per spec.

[2022-02-07 18:14] #12156 closed

[2022-02-07 18:16] andy31415 commented on #6667
I believe this may be obsolete - bloat reports in ToT currently work. Closing (assuming fixed as a sideffect of other changes)

[2022-02-07 18:17] andy31415 commented on #8493
I am not sure we have a good path. Admin-push of revert works, however that is obviously not ideal.

[2022-02-07 18:18] andy31415 commented on #14359
I believe this may be infra flakyness. Did not see it in a while.

[2022-02-07 18:21] andy31415 commented on #9185
I expect that any generated files should eventually be fully separated out from 'regular' source files. I expect build rules to set required include paths for accessing files.

[2022-02-07 18:21] #9185 closed

[2022-02-07 18:27] andy31415 commented on #13668
From the stack trace, it looks like a Message counter sync is received as a group message. Guessing that groups are not a secure session Unlikely to yet they want to get secure counters from secure sessions.

[2022-02-07 18:44] kpschoedel commented on #14512
[code]

This is similar to #14444. `Sessionhandle` uses `ReferenceCountedHandle` but `GroupSession` doesn't have a reference count; it inherits from `Session`:

[code]

[2022-02-07 18:44] ukatira opened #14848 "chip-tool fails to initiate AnnounceOTAProvider command when subscribed to events on OTA-Requestor Linux app"
#### Problem
1. Launch and Commission OTA-Provider and OTA-Requestor reference Linux apps
2. Subscribe events on OTA-R Linux app using chip-tool
3. Initiate query using AnnounceOTAProvider command from chip-tool

chip-tool fails to initiate AnnounceOTAProvider command with error:
[1644258223657] [3613:3389969] CHIP: [-] ../../../examples/chip-tool/commands/common/CHIPCommand.cpp:248: CHIP Error 0x

[2022-02-07 18:47] andy31415 commented on #13668
Learning how to investigate this. So far I found:

- building target `linux-x64-all-clusters-libfuzzer` seems to enable all cluster fuzzing
- `./out/linux-x64-all-clusters-libfuzzer/chip-all-clusters-app-fuzzing -help=1` gives some usage examples

[2022-02-07 18:50] andy31415 commented on #13668
@bzbarsky-apple - Do you by any chance have the reproduction file?

https://github.com/google/fuzzing/blob/master/tutorial/libFuzzerTutorial.md seems to say that to reproduce crashes without re-running fuzzing, one would pass in the crash file (?) as an argument to the binary.

[2022-02-07 18:59] andy31415 commented on #13668
Created a crash file with:

[code]

 Crash test seems to say just 'Incorrect state' for ble. Did not see an obvious crash, but I may be building the wrong version of the app.

[2022-02-07 19:01] kpschoedel opened #14849 "SessionHandle is unsafe"
#### Problem

`Transport::SessionHandle` uses `ReferenceCountedHandle<Transport::Session>`, which depends on `Session::Retain()` and `Release()`. However, `Session` has:

[code]

and at least some subclasses are held in `SessionHandle` without overriding these. Lifetime errors arising from this have been masked for at least two known issues (#14444, #14512) by allocating subclasses from a `BitMapO

[2022-02-07 19:11] mrjerryjohns opened #14850 "Async'ify src/app/tests/*"
#### Problem

Most of the IM/DM tests in `src/app/tests` run with the default synchronous message processing model that we had for a long long time. With the addition of the async test modality, we should really be transitioning all these tests over to that model to not only better approximate real-world execution models but to also prevent creating extra crufty hacks to work around the complex li

[2022-02-07 19:22] bzbarsky-apple commented on #13668
Merging #14514 may have made it much harder for the fuzzer to reach the relevant code, because now we need an actual valid MIC and whatnot to reach it....

[2022-02-07 19:24] andy31415 commented on #13668
I will try to change things to reproduce it. For now ran the fuzzer on 12 cores for about 20 minutes and no crash yet.

Created a fix of 'validate that input argument is indeed a secure session'. I also wonder if this may be a stateful thing as sessions are global state that the fuzzer likely does not reset.

[2022-02-07 19:26] #10379 closed

[2022-02-07 19:26] bzbarsky-apple commented on #13668
Group sessions are not global state, fwiw...

[2022-02-07 19:28] andy31415 commented on #13668
I checked out ae05dfc82 and then was able to reproduce:

[code]

Will cherrypick my fix and validate

[2022-02-07 19:29] andy31415 commented on #13668
I can confirm that the CP made the test not crash.

[2022-02-07 19:39] yufengwangca commented on #11498
https://github.com/project-chip/connectedhomeip/pull/14755

yufengw@yufengw-SEi:~/connectedhomeip/out/debug/standalone$ ./chip-tool wifinetworkdiagnostics read bssid 12344321 0
.....
[1643913778.845776][878141:878146] CHIP:DMG: ReportDataMessage =
[1643913778.845800][878141:878146] CHIP:DMG: {
[1643913778.845804][878141:878146] CHIP:DMG: 	AttributeReportIBs =
[1643913778.845812][878141:878146] CHI

[2022-02-07 19:40] ukatira opened #14854 "OTA-R Linux app does not timeout and send DownloadError event when aborting transfer session midway on OTA-P side"
#### Problem
1. Launch and Commission OTA-Provider and OTA-Requestor reference Linux apps
2. Initiate query using AnnounceOTAProvider command from chip-tool
3. Subscribe to DownloadError event on OTA-R Linux app using chip-tool
4. Abort transfer session midway on OTA-P side by killing Linux app

 #### Proposed Solution
OTA-R Linux app should timeout and send DownloadError event when transfer sessi

[2022-02-07 19:47] andy31415 commented on #13668
From discussions with @bzbarsky-apple - it seems that this not really 'fix the crash' and more like 'group messaging does not implement MCSP' and existing code is not correct because it assumes 'secure  session' (non-group) which would generally  not work. This code path is supposed to only apply to groups.

[2022-02-07 19:53] bzbarsky-apple commented on #14848
What exact commands are being run?  Are the two chip-tool instances running at the same time, on the same IP address, using the same fabric?  If so, they are both going to try to use the same port, and that's not going to work very well....

[2022-02-07 19:56] harimau-qirex commented on #14749
Re-reading through the comments here, I'm a bit confused.

At the time PR #14680 was written, it was NOT based on PR #14657. The size comparison bot showed that both PRs increased the size of various apps because they each added changes that resulted in references to the example ACL delegate.

For example, the efr32 lighting app showed an increase in both PRs. There is almost no size difference in

[2022-02-07 20:11] #7612 closed

[2022-02-07 20:11] #13920 closed

[2022-02-07 20:11] #14022 closed

[2022-02-07 20:11] #11185 closed

[2022-02-07 20:11] #11578 closed

[2022-02-07 20:12] ukatira commented on #14848
Command for AnnounceOTAProvider command:
chip-tool otasoftwareupdaterequestor announce-ota-provider 1 0 0 0 2 0
Command to subscribe events on OTA-Requestor app:
chip-tool otasoftwareupdaterequestor subscribe-event state-transition 5 10 1 2 0

Yes the two instances are running at the same time, on the same IP address, using the same fabric.
@bzbarsky-apple Do you know a workaround to try out to ma

[2022-02-07 20:39] woody-apple opened #14858 "Matter crash resolving DnssD"
#### Problem
[code]

Matter crashed

 #### Proposed Solution
Fix

[2022-02-07 20:40] woody-apple opened #14859 "Crash in chip::Inet::EndPointManagerImplPool<chip::Inet::UDPEndPointImplSockets, 32u>::~EndPointManagerImplPool"
#### Problem
[code]

 #### Proposed Solution
<suggested fix, suggested enhancement>

[2022-02-07 20:58] bzbarsky-apple commented on #14848
There's no workaround without code changes right now.

@vivien-apple maybe we should add a way to run chip-tool with a non-default (or even ephemeral) port?  Might still break, because the same node running on multiple ports is not really something that's OK per spec.....

The other option would be to have some sort of shell/repl thing in chip-tool so you can issue it commands while it's listening

[2022-02-07 21:13] yufengwangca commented on #14369
@lazarkov I saw you are working on the initial implementation of this cluster, could we enable this attribute and complete the remaining work if there is any

[2022-02-07 21:13] #12133 closed

[2022-02-07 21:34] yufengwangca commented on #12132
@lazarkov

Could you help to take a look and confirm if the test chip-tool command is out of date?

[2022-02-07 21:48] yufengwangca commented on #13879
@chrisbeach59 I saw you implement this logic from git history, could you help to take a look?

[2022-02-07 22:48] lazarkov commented on #14369
@yufengwangca yes there are 2 PRs that will resolve this:
https://github.com/project-chip/connectedhomeip/pull/14794
https://github.com/project-chip/connectedhomeip/pull/14841

[2022-02-07 22:49] lazarkov commented on #14369
Either one of them will, and probably both of them will be merged in the next 24h.

[2022-02-07 23:24] carol-apple commented on #14848
@bzbarsky-apple I saw mentions of running two Linux all-cluster-app in different docker containers in https://github.com/project-chip/connectedhomeip/pull/14303

Running multiple Linux apps in separate IP namespaces should solve the issue? If so, could you provide instructions on how to do that here?

[2022-02-07 23:29] #4730 closed

[2022-02-07 23:53] lazarkov commented on #13412
I've tested the master branch all is good now.

One terminal tab to run chip-tv-app:
`➜  connectedhomeip git:(master) ./out/debug/standalone/chip-tv-app`

One terminal tab to run chip-tool read command:
`➜  connectedhomeip git:(master) out/debug/standalone/chip-tool channel read channel-list  1 1`

Here's the response:

`[1644277794321] [99328:1065770] CHIP: [TOO] Endpoint: 1 Cluster: 0x0000_0504

[2022-02-07 23:53] #13412 closed

[2022-02-07 23:55] lazarkov commented on #13084
I've tested the master branch all is good now.

One terminal tab to run chip-tv-app:
`➜  connectedhomeip git:(master) ./out/debug/standalone/chip-tv-app`

One terminal tab to run chip-tool read command:
`➜  connectedhomeip git:(master) out/debug/standalone/chip-tool channel skip-channel-request  1 1 1`

Here's the response:

[1644278071841] [99515:1068681] CHIP: [EM] Received message of type 0x9 w

[2022-02-07 23:55] #13084 closed

[2022-02-08 00:03] lazarkov commented on #9817
They are present now.

[2022-02-08 00:03] #9817 closed

[2022-02-08 00:16] #12204 closed

[2022-02-08 00:17] #14744 closed

[2022-02-08 00:23] jakubdybczak commented on #13296
[PDF](https://developer.apple.com/services-account/download?path=/iOS/iOS_Logs/EnableMatter_Instructions.pdf) got updated at 29 January and I have successfully installed Matter profile on iOS 15.3.
I also tried launching all-clusters-app on ESP32 and QR code was recognized by Home App!
However, it won't connect with ESP32.

Commit hash suggested in PDF to ensure compatibility (_b717b36130af3747937

[2022-02-08 01:07] bzbarsky-apple commented on #14848
You'd need the two apps to be on the same fabric (as in, using the same certificate store, etc).  I guess as long as they are not both trying to write to it that might work...

IP namespaces might do the trick, but all I don't really know anything about the specifics of how to set it up....

[2022-02-08 01:10] #14127 closed

[2022-02-08 01:18] ukatira opened #14864 "DelayedActionTime field in Query Image Response defaults to 120 seconds for OTA-P Linux app when status is Busy/NotAvaialble"
#### Problem
When using CLI option to set DelayedActionTime field (-t) to anything less than 120 seconds with status Busy/NotAvaialble, OTA-P Linux app defaults it to 120 seconds

 #### Proposed Solution
OTA-P should be able to send any value for DelayedActionTime field and it is upto the OTA-R to choose the higher among
- 2 minutes (120 seconds) from the last QueryImage command
- the delay stated

[2022-02-08 01:44] ukatira opened #14865 "SoftwareVersion CLI option for OTA-P Linux app does not accept X.Y format"
#### Problem
When using SoftwareVersion CLI option for OTA-P Linux app to set any X.Y value, it only picks up and sends X in QueryImage Response
Command: chip-ota-provider-app -f test.bin -s 3.5
OTA-R trace shows:
[1644283500022] [16877:3760320] CHIP: [SWU] QueryImageResponse:
[1644283500022] [16877:3760320] CHIP: [SWU]   status: 0
[1644283500022] [16877:3760320] CHIP: [SWU]   delayedActionTime: 0

[2022-02-08 01:46] cjandhyala commented on #13746
@PSONALl @dhrishi per @sowmyassp 's comment, here is the excerpt from spec, 0 means device supports Soft AP, which is not a POR in V1.0.

![Screen Shot 2022-02-07 at 5 41 11 PM](https://user-images.githubusercontent.com/68604034/152901850-6e89508b-14f9-42dc-a0a9-7f2c6d218a6f.png)

Also for the 2nd scenario, when an all cluster app on raspi is launched with '--wifi' flag, the DUT does BLE advertise

[2022-02-08 01:59] bzbarsky-apple commented on #13412
@lazarkov Fwiw, I suspect this issue was filed based on trying to use all-clusters-app...

[2022-02-08 02:21] bzbarsky-apple commented on #14512
Group sessions should generally be stack-allocated to start with, I suspect.  Have an item to do that on my whiteboard right now....

[2022-02-08 02:52] bzbarsky-apple commented on #14749
Interesting.  So is the point that the table in https://github.com/project-chip/connectedhomeip/pull/14680#issuecomment-1027320603 is just using the wrong base for the PR, which had been rebased to a different base?  @kpschoedel

[2022-02-08 04:21] #13668 closed

[2022-02-08 04:28] shubhamdp commented on #14865
SoftwareVersion is of type uint32, that means only integer values are valid.

If we want something like "X.Y", then I think that should go in SoftwareVersionString.

[2022-02-08 04:42] woody-apple commented on #9813
Please re-open if this is still happening.

[2022-02-08 04:42] #9813 closed

[2022-02-08 04:44] woody-apple commented on #10091
Doesn't appear to have user impact, moving to post V1.0

[2022-02-08 04:45] woody-apple commented on #10129
@yufengwangca Please re-open if this still happens.

[2022-02-08 04:45] #10129 closed

[2022-02-08 04:46] woody-apple commented on #10161
Per spec, this is a should, so this can wait until v1.X as long as we don't have a security issue here.

[2022-02-08 04:46] woody-apple commented on #10187
Marked as spec.

[2022-02-08 04:47] woody-apple commented on #10225
Thanks @tcarmelveilleux , @Damian-Nordic please re-open if this is an issue.

[2022-02-08 04:47] #10225 closed

[2022-02-08 04:51] woody-apple commented on #10246
Is the remaining work required for v1?

[2022-02-08 04:53] woody-apple commented on #10332
@mrjerryjohns Is this required for V1.0? Not clear if things work now, and could be better or we have an issue?

[2022-02-08 04:53] woody-apple commented on #10335
@rcasallas-silabs Is this complete?

[2022-02-08 04:55] woody-apple commented on #10416
Sounds like we should document this behavior for V1.0, but developers can work around it for now?

[2022-02-08 04:57] woody-apple commented on #10710
Is this still an issue @markus-becker-tridonic-com ? I think this was resolved... Please re-open if this is still present.

[2022-02-08 04:57] #10710 closed

[2022-02-08 04:58] woody-apple commented on #10715
Given the age of this issue, can you please verify this against a newer build?

[2022-02-08 04:58] #10715 closed

[2022-02-08 05:13] woody-apple commented on #11385
@mrjerryjohns as I understand we need to add the feature map field to all relevant things, and this better SDK support can be post v1?

[2022-02-08 05:14] woody-apple commented on #11388
Closing this, please re-open if needed!

[2022-02-08 05:14] #11388 closed

[2022-02-08 05:14] woody-apple commented on #11399
@mrjerryjohns Yup.

[2022-02-08 05:15] woody-apple commented on #11431
Sounds like this could be addressed post v1.0

[2022-02-08 05:16] #11498 closed

[2022-02-08 05:23] erjiaqing commented on #10813
https://github.com/project-chip/connectedhomeip/blob/97cf4ff6000136a59f0b5515822704f9e974c579/src/app/WriteClient.cpp#L298-L352

I think this issue is fixed when landing status ib.

[2022-02-08 05:29] carol-apple commented on #14865
@shubhamdp I'm thinking one of two options here. We should either:
1. Use the `-s` option for both `softwareVersion` and `softwareVersionString` (maybe just stringify 3 to "3.0")
2. Pass in an additional command line option for the SoftwareVersionString

[2022-02-08 05:30] bzbarsky-apple commented on #10813
This was fixed in https://github.com/project-chip/connectedhomeip/pull/11667

[2022-02-08 05:30] #10813 closed

[2022-02-08 05:48] erjiaqing commented on #7966
`IMReadReportAttributesResponseCallback` and similar callbacks are removed after landing cluster object, this should be closed.

[2022-02-08 05:48] #7966 closed

[2022-02-08 05:51] erjiaqing commented on #11960
No, this is not complete, but I think this is a optimization for saving CPU cycles and memory consumption.

My idea would be adding a filter to `AttributePathExpandIterator` instead of calculating the overlapped paths.

[2022-02-08 05:57] woody-apple commented on #11774
This is indeed old enough, we should re-verify this - as I believe lighting is generally working now. Please re open if needed! @TE-N-ElvenWang

[2022-02-08 05:57] #11774 closed

[2022-02-08 05:59] woody-apple commented on #11827
@krypton36 do you know where this should be filed?

[2022-02-08 06:00] woody-apple commented on #11828
@raju-apple Do you know where this should go?

[2022-02-08 06:01] woody-apple commented on #11917
@tcarmelveilleux Please re-open if needed

[2022-02-08 06:01] #11917 closed

[2022-02-08 06:03] woody-apple commented on #11960
Let's move this to post v1.X until it's clear this is required.

[2022-02-08 06:05] woody-apple commented on #12009
Agree, thanks @msandstedt . Moving to post V1.0

[2022-02-08 06:08] woody-apple commented on #12045
This seems to be working for me now, are you still hitting this @wystans ?

[2022-02-08 06:08] #12045 closed

[2022-02-08 06:12] woody-apple commented on #12539
@vijs Please re-open if this is still happening with more information. Thanks!

[2022-02-08 06:12] #12539 closed

[2022-02-08 06:12] woody-apple commented on #12452
@manjunathambiger23 Can you please file this against the spec?

[2022-02-08 06:12] #12452 closed

[2022-02-08 06:13] woody-apple commented on #12418
@mrjerryjohns Is multiple required for the spec?

[2022-02-08 06:15] #12258 closed

[2022-02-08 06:15] woody-apple commented on #12258
Please re-verify and re-open if this is still happening!

[2022-02-08 06:16] woody-apple commented on #12138
@turon Is this still happening?

[2022-02-08 06:16] #12138 closed

[2022-02-08 06:17] woody-apple commented on #12137
@Garik098 I believe this is passing tests now, can you please confirm?

[2022-02-08 06:17] #12137 closed

[2022-02-08 06:17] woody-apple commented on #12132
This was just added in a merged PR today I believe, can you please confirm?

[2022-02-08 06:17] #12132 closed

[2022-02-08 06:19] woody-apple commented on #12057
Feels like this can be verified in base linux app, and not for each?

[2022-02-08 06:22] woody-apple commented on #12987
I agree, tagging as post V1.0

[2022-02-08 06:23] woody-apple commented on #12976
Nice cleanup for post V1.X

[2022-02-08 06:23] woody-apple commented on #12975
Agree, though nice cleanup for post V1.0

[2022-02-08 06:23] woody-apple commented on #12974
Seems like just code cleanup, which can wait until post v1.0

[2022-02-08 06:24] fuxiaoming-lumi commented on #12258
After many tests, it is confirmed that it is caused by a hardware problem. We can close this ticket.

[2022-02-08 06:25] woody-apple commented on #12762
Let's defer until we know this is required?

[2022-02-08 06:26] woody-apple commented on #12714
I just ran these on ubuntu 20, can you confirm this is working for you?

[code]

[2022-02-08 06:26] #12714 closed

[2022-02-08 06:27] woody-apple commented on #12680
These seem like reasonable extensions to the minimum time?

[2022-02-08 06:30] woody-apple commented on #13137
@cjandhyala Is this still broken? I'm confused how tests are passing if so...

[2022-02-08 06:32] woody-apple commented on #13170
@woody-apple Need to break this apart

[2022-02-08 06:36] woody-apple commented on #13513
Agree, @liamgonyea can you please open this against the test plans?

[2022-02-08 06:36] #13513 closed

[2022-02-08 06:43] woody-apple commented on #14786
@AntonGrey Are there automated tests for this?

[2022-02-08 06:45] woody-apple commented on #14777
https://github.com/project-chip/connectedhomeip/issues/12190

[2022-02-08 06:45] #14777 closed

[2022-02-08 06:46] woody-apple commented on #14359
Then let's close it

[2022-02-08 06:46] #14359 closed

[2022-02-08 06:48] woody-apple commented on #14737
I'm not sure I understand what's being asked for here. Can you provide logs and the test steps please?

[2022-02-08 06:48] #14737 closed

[2022-02-08 06:50] woody-apple commented on #4369
It is not clear at this point, as everything behind it is quite out of date. @jepenven-silabs Can you please clarify what's needed now?

[2022-02-08 06:55] fuxiaoming-lumi commented on #12090
Update the latest info. With TE7.5, this issue has not been reproduced but other issues were found.
Test Environment: Matter light demo Thread Device(K32W06 DK), Thread Border Router, 2 admin Controller A&B (Raspbeerypi 4B+ with TE7.5)
Firmware SDK: TE7.5 Branch b0af6ba42b6ce494748f18ecf3e054a400b8f45b

K32W06 platform does not support hardware acceleration engine. Currently, the whole commissioni

[2022-02-08 07:15] PSONALl opened #14873 "[TE 7.5] Level control move level command takes more than required transition time to change value"
#### Problem
For test case: TC-LVL-4.1:
 * expected behavior : level should be transitioned within 4 secs
 * actual behavior : level transition takes nearly 17 secs
 * system configuration :
        -  DUT used : ESP32
        -  app use: all-clusters-app
        - chip-tool and DUT commit id : b0af6ba42b6ce494748f18ecf3e054a400b8f45b

 *  logs
        - DUT logs:  [esp32.txt](https://github.com/p

[2022-02-08 07:52] PSONALl commented on #13746
@cjandhyala  in the table above, first column, **bits** indicate which bit is set and not the value of flag and the description explains the meaning when the bit is 0 and 1

Thus,
 - if bit **'0'**  is set to 1 (i.e, value of flag = 001 = 1) then the device supports SoftAp
 - if bit **'0'**  is set to 0 (i.e, value of flag = 000 = 0) means the device does not support any rendezvous mode
 - Similar

[2022-02-08 08:20] sowmyassp commented on #12190
Even in Flow Measurement cluster [TC-FLW-1.1] test case we are facing same issue

![FLW](https://user-images.githubusercontent.com/90545664/152946326-d73b192c-56fc-4c08-b431-94b2c7b8518e.png)
Execution log:
[TC_FLW_1.1_cntrl.txt](https://github.com/project-chip/connectedhomeip/files/8021958/TC_FLW_1.1_cntrl.txt)

[2022-02-08 10:27] eve-cxrp commented on #9185
But is it the case for now?

[2022-02-08 11:06] lazarkov commented on #13214
- ~~LaunchApp Request data argument is not OCTET_STRING as per spec.~~ [url] (https://github.com/project-chip/connectedhomeip/blob/master/src/app/zap-templates/zcl/data-model/chip/application-launcher-cluster.xml#L31-L51)
- ~~Launcher Response data argument is not OCTET_STRING as per spec.~~ [url] (https://github.com/project-chip/connectedhomeip/blob/master/src/app/zap-templates/zcl/data-model/chi

[2022-02-08 11:08] lazarkov commented on #13606
1. ApplicationLauncher ApplicationEP type has endpoint as a string rather than a uint16. Duplicate, noted [here](https://github.com/project-chip/connectedhomeip/issues/13214)
2. ApplicationLauncher read of currentApp attribute does not allow for null
3. ~~chip-tool does not allow read of currentApp attribute~~ Resolved

[2022-02-08 11:09] lazarkov commented on #14369
Resolved.

[2022-02-08 11:09] #14369 closed

[2022-02-08 11:11] lazarkov commented on #8593
Proposed solution, doesn't make sense. All attributes name should match the ones in the spec, word by word, letter by letter. I'm closing this.

[2022-02-08 11:11] #8593 closed

[2022-02-08 11:12] manjunathambiger23 commented on #11142
@andy31415  this issue is regarding missing optional attributes of "Binary input cluster" which are still not implemented in YAML.

[2022-02-08 11:17] Rajashreekalmane commented on #12190
Even in  Illuminance Measurement cluster [TC-ILL-1.1] test case we are facing same issue.

![Screenshot from 2022-02-08 16-45-19](https://user-images.githubusercontent.com/95841834/152976408-bad8439a-f54f-4649-b729-1d827302bc67.png)

PFA Test log
[Uploading [TC-ILL-1.1].txt…]()

[2022-02-08 11:27] manjunathambiger23 commented on #13084
@vivien-apple we need YAML support for "SkipChannel" command which is showing failure response when we execute, the above which lazarkov told its not related to YAML

[2022-02-08 12:11] kkasperczyk-no opened #14879 "General Diagnostics cluster doesn't contain IPv4 and IPv6 addresses lists"
#### Problem
According to spec `NetworkInterface` type used in General Diagnostics cluster should contain `IPv4Addresses` and `IPv6Addresses` list fields, but the current implementation does not have it.

 #### Proposed Solution
Add `IPv4Addresses` and `IPv6Addresses` list fields to `general-diagnostics-cluster.xml`.

[2022-02-08 13:10] andy31415 commented on #11689
MCSP is not implemented but is in the spec. It may not be V1.0, however it is a missing feature. Re-opening.

[2022-02-08 13:44] selissia commented on #13429
This change might allow the OTA apps to be built on Linux with separate KVS files: https://github.com/project-chip/connectedhomeip/pull/14832

[2022-02-08 14:04] vivien-apple commented on #13430
@raju-apple We spoke about the onboarding payload at some point. This can be done without `chip-tool` at the moment, is that correct ? If so, we need to update the priority of this issue.

[2022-02-08 14:10] Rajashreekalmane opened #14882 "TV Channel Cluster-[TC-MC-5.2] In Step 2 Change Channel by Number command fails to Change the Channel."
Problem
Running the command "./chip-tool channel change-channel-by-number-request 2 3 1 1"  does not Change Channel by number of the ChannelList.

[TC-MC-5.2] Change Channel by Number Verification
![image](https://user-images.githubusercontent.com/95841834/153001901-9fa42c77-8f0d-48dc-b4c4-206797b4616b.png)

PFA Test log:
[[TC-MC-5.2].txt](https://github.com/project-chip/connectedhomeip/files/8024

[2022-02-08 14:30] Rajashreekalmane opened #14884 "TV Channel Cluster-[TC-MC-5.3] Step 2 fails to reads the CurrentChannel attribute."
#### Problem
Running the command "./chip-tool channel read current-channel 1 1"  does not read the CurrentChannel attribute and also it's not same    as the expected outcome.

[TC-MC-5.3] Skip Channel Verification
![image](https://user-images.githubusercontent.com/95841834/153007112-71e5d449-eeb7-48a1-88ea-ce6f52df5439.png)

PFA Test log:
[[TC-MC-5.3].txt](https://github.com/project-chip/connected

[2022-02-08 14:47] Rajashreekalmane opened #14885 "[TC-MC-6-1][TC-MC-6-2] and [[TC-MC-6.4] Media Playback Cluster-Current State attribute value mismatch with expected outcome."
#### Problem
[TC-MC-6-1][TC-MC-6-2] and [[TC-MC-6.4]-These Test Cases while reading current state attribute, the response of playback status value mismatch with expected outcome as per Spec.

PFA Test log:
[TC-MC-6.1 and TC-MC-6.2.txt](https://github.com/project-chip/connectedhomeip/files/8067666/TC-MC-6.1.and.TC-MC-6.2.txt)
[TC-MC-6.4.txt](https://github.com/project-chip/connectedhomeip/files/806

[2022-02-08 14:48] VOMediola opened #14886 "[ESP32 bridge-app] How to start http server in parallel to matter stack?"
When including "esp_http_server.h" in main I get no file found. Compiling command doesn't include all of esp-idf components, where can I change the build parameters to include http_server component?

[2022-02-08 15:02] kpschoedel commented on #14749
The base has been a problem before. #11841 —

Normally when CI runs on a PR the checkout HEAD has a commit message of the form “Merge SHA into BASE”, and we scrape that to get the base commit. If anyone understands GitHub enough to suggest a better way — or a way to detect that the base might be misleading — we can try it.

[2022-02-08 15:03] Rajashreekalmane opened #14887 "[TC-MC-7.1]Audio Output Cluster-In Step 3 the index value of CurrentOutput attribute is not same as step 2."
Problem:

In [TC-MC-7.1] Select Output Verification Test Case, the test step 3 is expected that the index returned is the same as that provided in SelectAudioOutput command index(step 2), But fail to do so.

PFA Test log:
[TC-MC-7.1.txt](https://github.com/project-chip/connectedhomeip/files/8067859/TC-MC-7.1.txt)

[2022-02-08 15:17] bzbarsky-apple opened #14888 "Spec provisions about errors for attempts to read/subscribe unsupported events are not implemented"
#### Problem
The spec says, in "8.4.3.2. Incoming Read Request and Subscribe Request Action Processing":

but the SDK has no such thing.  I see nothing in `Engine::BuildSingleReportDataEventReports` that checks for support, there is no way to list events as supported or not supported, and both `EMBER_ZCL_STATUS_UNSUPPORTED_EVENT` and `Status::UnsupportedEvent` are unused.

 #### Proposed Solution

[2022-02-08 15:25] #11120 closed

[2022-02-08 15:53] jepenven-silabs commented on #4392
Done in Multiple PR.
#12936
#11368
#12342 etc..

[2022-02-08 15:55] woody-apple commented on #13943
This is not a 1.0 feature, given there's no "unpair" command. Moving to V1.X

[2022-02-08 15:57] woody-apple commented on #13669
@turon Can you open an issue against the certification group for this?

[2022-02-08 16:03] woody-apple commented on #13924
This type isn't required for v1.X

[2022-02-08 16:03] #13921 closed

[2022-02-08 16:04] woody-apple commented on #13919
@rcasallas-silabs ?

[2022-02-08 16:09] woody-apple commented on #13940
Not clear this is required for V1.0, given this is passing tests and cert presently? Moving out.

[2022-02-08 16:10] woody-apple commented on #13945
Could be possible to just support 1 commissioning at a time for the v1 SDK...

[2022-02-08 16:10] kpschoedel opened #14890 "TSAN failures from Linux builds using gdbus (CHIP_WITH_GIO)"
#### Problem

For several unit tests (e.g. `TestPlatformMgr`), ThreadSanitzer reports warnings associated with the ‘gdbus’ thread started  in the Linux implementation of `PlatformManagerImpl::_InitChipStack()` —

[code]

The `CHIP_WITH_GIO` path is enabled by the GN argument `chip_enable_wifi`.

[2022-02-08 16:11] woody-apple commented on #13954
We need some eviction policy for v1... suggest the simplest one :) LRU if possible!

[2022-02-08 16:11] #7803 closed

[2022-02-08 16:12] woody-apple commented on #13960
Appears to be more of an intermittent issue and/or question, moving post v1.

[2022-02-08 16:13] woody-apple commented on #13970
Agree.

[2022-02-08 16:13] woody-apple commented on #13982
Not clear if this is required for v1, @carol-apple ?

[2022-02-08 16:14] woody-apple commented on #13983
@carol-apple is this needed for v1?

[2022-02-08 16:14] woody-apple commented on #13981
Appears post v1, given example code.

[2022-02-08 16:15] woody-apple commented on #13984
@carol-apple , post v1?

[2022-02-08 16:15] woody-apple commented on #14016
@mrjerryjohns ?

[2022-02-08 16:15] woody-apple commented on #14023
@mrjerryjohns ?

[2022-02-08 16:16] woody-apple commented on #14024
@mrjerryjohns ?

[2022-02-08 16:16] woody-apple commented on #14026
@mrjerryjohns @bzbarsky-apple ?

[2022-02-08 16:16] woody-apple commented on #14029
@mrjerryjohns @bzbarsky-apple ?

[2022-02-08 16:17] woody-apple commented on #14044
Moving post v1, seems to work - but is not correct API usage of OT.

[2022-02-08 16:18] woody-apple commented on #14045
I believe this is dead code that needs to be removed. Moving post v1.

[2022-02-08 16:27] dhrishi commented on #14886
@VOMediola Can you please add `esp_http_server` entry [here](https://github.com/project-chip/connectedhomeip/blob/master/examples/bridge-app/esp32/main/CMakeLists.txt#L50) in the bridge-app?

[2022-02-08 17:04] woody-apple commented on #14090
At this point, given it passes cert, I think this is sufficient for v1.