[2022-05-11 18:41] bzbarsky-apple commented on #18343
Needs a spec-side adjustment too: https://github.com/CHIP-Specifications/connectedhomeip-spec/issues/5198

[2022-05-11 19:54] tcarmelveilleux commented on #18332
No, according to DNS-SD RFC, AAAA at least are needed:
[code]

Also note that https://datatracker.ietf.org/doc/html/rfc6763#section-12 says:

[2022-05-11 19:58] bzbarsky-apple commented on #11526
@manjunath-grl so issue can be closed?

[2022-05-11 20:38] #16136 closed

[2022-05-11 20:48] tcarmelveilleux opened #18347 "Fabric-sensitive entry elision leads to garbage data in reads at the client"
#### Problem

Spec says that:

What this means is that if you read the ACL, for example, in a multi-fabric situation, and don't use Fabric-Filtered reads, the entries will be omitted by the sender. Since the receiver expects them and does not seem them (with current SDK impl), a default-constructed item, possibly containing invalid values, will be created and provided to the client API user, in su

[2022-05-12 01:53] sharadb-amazon commented on #14557
PR: https://github.com/project-chip/connectedhomeip/pull/18223

[2022-05-12 01:53] #14557 closed

[2022-05-12 02:31] nansenLV opened #18355 "[TE9][TC-DM-4.17] Last 3 steps doesn't seem to meet the expected results"
[TC-DM-4.17]step6  step7  step8 doesn't seem to meet the expected results.
expected behavior:
step6
[1645773078.930516][3905:3910] CHIP:DMG:         SuppressResponse = true,
[1645773078.930579][3905:3910] CHIP:DMG:         InteractionModelRevision = 1
[1645773078.930635][3905:3910] CHIP:DMG: }
[1645773078.930943][3905:3910] CHIP:TOO: Endpoint: 0 Cluster: 0x0000_0031 Attribute 0x0000_0005DataVersio

[2022-05-12 02:52] kowsisoundhar12 opened #18357 "[TC-PS-2.1] Following attributes are giving unsupported attribute response"
Following attributes are giving failure response:
1.WiredAssessedInputVoltage
2.WiredAssessedInputFrequency
3.WiredCurrentType
4.WiredAssessedCurrent
5.WiredNominalVoltage
6.WiredMaximumCurrent
7.WiredPresent
8.ActiveWiredFaults
9.BatReplacementNeeded
10.BatReplaceability
11.BatPresent
12.BatReplacementDescription
13.BatCommonDesignation
14.BatANSIDesignation
15.BatIECDesignation
16.BatApprovedChe

[2022-05-12 02:55] erjiaqing commented on #17604
After checking the code, the UserLabel cluster requires `DeviceInfoProvider` to be implemented, however, only Linux and Darwin currently supports this.

Seems this is a platform specific issue.

[2022-05-12 03:06] erjiaqing commented on #18355
Are you trying to read these attributes in a clean setup or in a commissioned state?

These attributes are nullable attributes, and are expected to be null when they are not appliable.

Spec 11.7.8.6:

Similar words in 11.7.8.7 and 11.7.8.8

[2022-05-12 03:44] nansenLV opened #18359 "[TE9][TC-DM-4.20] step5 doesn't seem to meet the expected results"
[TC-DM-4.20] step 5 doesn't seem to meet the expected results

expected behavior
ConnectNetworkResponse: {
[1650376217.124968][42876:42881] CHIP:TOO: networkingStatus: 0
[1650376217.125030][42876:42881] CHIP:TOO: errorValue: null
[1650376217.125087][42876:42881] CHIP:TOO: }

actual behavior
./chip-tool networkcommissioning connect-network hex:47524C50726976617465 6789 0
[1652326062.849068][127653:

[2022-05-12 05:43] #18287 closed

[2022-05-12 05:46] bzbarsky-apple commented on #13645
OK, but then how would it pass?  The server is not directly connected to wi-fi, right?

[2022-05-12 07:45] Rajashreekalmane opened #18362 "[TC-GC-2.4] While verifying SetRegulatoryConfig command DUT responds as debugText as a integer instead 'string' value."
**#### Problem**
While verifying SetRegulatoryConfig command DUT responds as debugText as a integer value as 12 instead 'string' value.

 *** expected behavior**:- DebugText should be 'string' value
 *** actual behavior**:- debugText  integer 12 value.
 *** steps to reproduce**:-./chip-tool generalcommissioning set-regulatory-config 4 12 0 1 0

**system configuration:-**
Chip-Tool: RPI
DUT: RPI
Pl

[2022-05-12 07:46] CSS-IanTseng commented on #16162
I am always receive "TRUE" and failing in steps 3d and 6h.

[2022-05-12 07:47] Survensa opened #18363 "[SQA]-THREAD Lock-Door Command throws the Failure Response for the PINCODE Argument."
**Problem:**
While Executing TC-DL-2.2, The lock-door command Throws FAILURE response for the  PinCode Argument.

**Expected behavior** - Command should get SUCCESS response .

**Actual behavior** - Command  gets Failure response .

**Steps to reproduce -**` ./chip-tool doorlock lock-door 71 1 --timedInteractionTimeoutMs 1000 --PinCode 7896
`

**Commit used :**   11587f5bf0bb9e621edd4c867c0bc942d8

[2022-05-12 07:55] Rajashreekalmane commented on #18362
[TC-GC-2.4]--While verifying  CommissioningComplete command  DUT responds as debugText as empty instead 'string' value.

PFA screenshot:-
![image](https://user-images.githubusercontent.com/95841834/168020526-3edb0966-4d7f-436b-aa59-3ec9a803f5c1.png)

[2022-05-12 09:17] Survensa opened #18364 "[SQA]-THREAD Unlock Door Command throws the FAILURE Response."
**Problem:**
While Executing TC-DL-2.3, The unlock-door command throws FAILURE response

**Expected behavior** - Command should get SUCCESS response .

**Actual behavior** - Command gets Failure response .

**Steps to reproduce** -  ` ./chip-tool doorlock unlock-door 71 1 --timedInteractionTimeoutMs 1000 --PinCode 123`

**Commit** used : https://github.com/project-chip/connectedhomeip/commit/11587

[2022-05-12 09:46] Rajashreekalmane commented on #17994
@erjiaqing which is valid cluster ID and endpoint to read the attribute value from all the clusters and endpoints  @cjandhyala

[2022-05-12 09:49] erjiaqing commented on #17994
We don't have a valid cluster id and endpoint id for all the clusters and endpoints.

If you mean wildcard paths, @vivien-apple seems we need the ability to send read requests to wildcard paths?

[2022-05-12 10:22] nansenLV opened #18366 "[TE9][TC-OO-2.3]Not meeting the expected results"
[TC-DM-4.17]step9b step10e step11b step12b step13b step14c step17c step18a step18b step19c step20b step21b step23c step24b doesn't seem to meet the expected results.

!!!EXCEPTED BEHAVIOR:

step9b：
./chip-tool onoff read on-off 1 1

OnOff: TRUE

./chip-tool onoff read on-time 1 1

OnTime: 257

./chip-tool onoff read off-wait-time 1 1

OffWaitTime: 300

step10e：
./chip-tool onoff read on-off 1 1

O

[2022-05-12 11:32] Rajashreekalmane opened #18369 "IP Commissioning is failing in latest commit using tv-app (example app)"
**Issue**
IP Commissioning is failing in latest commit using tv-app (example app)

**Expected behavior** We have to get successful commissioning on TH Log

**Actual behavior**:-[1652351037.856043][10544:10549] CHIP:SC: PASESession timed out while waiting for a response from the peer. Expected message type was 33
[1652351037.856169][10544:10549] CHIP:TOO: Secure Pairing Failed
[1652351037.856292][1

[2022-05-12 12:09] Survensa opened #18370 "[SQA]-THREAD SetRegulatoryConfig command throws the responds as debugText as a integer ."
**Problem**
While verifying TC-GC-2.4 SetRegulatoryConfig command throws responds as debugText as a integer value as 12 ,But as per the test plan the debug text must be String.
In  CommissioningComplete command  also throws responds as debugText as empty instead 'string' value.

**Expected behavior:**- DebugText should be 'string' value

**Actual behavior**:- debugText integer 12 value.

**Steps t

[2022-05-12 12:33] Survensa opened #18371 "[SQA]-THREAD ConfigStatus Attribute value is remains same (Unchanged)."
**Problem:**
In TC-WNCV-2.3,As per the test plan if the Write command for mode is passed. The  ConfigStatus value has to changed . B ut it remains the same value .
If the mode value is 2 then the down-or-close command should fail. But it passes in the thread setup after the successful execution  of write command of mode by value 2.

**Expected behavior:**- Failure (0x01)

**Actual behavior:**-  Su

[2022-05-12 13:23] jmartinez-silabs commented on #8743
4180 board is from MG21 family and it lacks RAM memory to support matter applications. We have stopped matter support for that family a while ago.

[2022-05-12 13:23] #8743 closed

[2022-05-12 13:29] jmartinez-silabs commented on #10759
I haven't heard anything back from this situation. It is an 8 months old ticket. I know Tuya has been able to complete recent test events. I am closing the bug

[2022-05-12 13:32] #13680 closed

[2022-05-12 13:48] jmeg-sfy opened #18372 "[TE9][TC-GR-1.1] Groups cluster FeatureMap global attribute missing + no EventList"
#### Problem
<what's wrong or missing, please include any applicable:
 * Tested on WindowCovering but seems all other examples have the problems

 #### Proposed Solution
<suggested fix, suggested enhancement>
* add at least the FeatureMap for 1.0

[2022-05-12 14:24] jmeg-sfy opened #18373 "[TE9][TC-GR-2.2] Command GetGroupMemberShip not functional w/ chip-tool"
#### Problem
<what's wrong or missing, please include any applicable:
 * The chip tool command below is not working as expected
 * /chip-tool groups get-group-membership 0x0087 4253 1

  and we obtain CHIP:TOO: Error while encoding GroupList as an array.

[2022-05-12 14:40] bluebin14 opened #18374 "Messaging protocol active and idle retry intervals are ignored"
#### Problem
The active and idle retry intervals defines have no effect other than some mdns text records that also get ignored. E.g. CRI shows as 5000 in mdns but in reality it is about 300. Here's the proof done with chip-tool and a slow responding device.

[code]

The 2 relevant defines are:

[code]

In the sample above I set the active interval to 2000, so the entire try and fail cycle should

[2022-05-12 14:56] nansenLV opened #18379 "[TE9][TC-IDM-1.2]Not meeting the expected results"
[TC-IDM-1.2]step4 step5 step8 step9  doesn't seem to meet the expected results.

!!!EXCEPTED BEHAVIOR:

step4:

[1650608823029] [89418:1400921] CHIP: [DMG] InvokeResponseMessage =
[1650608823029] [89418:1400921] CHIP: [DMG] {
[1650608823029] [89418:1400921] CHIP: [DMG]         suppressResponse = false,
[1650608823029] [89418:1400921] CHIP: [DMG]         InvokeResponseIBs =
[1650608823029] [89418:1

[2022-05-12 14:58] bzbarsky-apple opened #18380 "Bugs in resource enforcement for reads/subscribes"
#### Problem
As far as I can tell, we don't properly reserve one read handler _per fabric_.  What we do is:

If a subscribe comes in, and the number of read handlers (so active reads/subscribes) allocated is more than (total available - number of fabrics) we start evicting existing subscriptions.  As a simple example, if MAX_FABRICS were 2 and we supported 3 subscriptions + 1 read per fabric, we w

[2022-05-12 15:47] dnicoara opened #18384 "Update some logs from INFO to ERROR since they expose actual issues"
#### Problem

Errors such as the following are logged as `INFO`:
[code]

 #### Proposed Solution
Since these do expose real issues, they should be logged as `ERROR`.

[2022-05-12 15:54] krypton36 commented on #18104
@kowsisoundhar12 Can you please attach the YAML file?

[2022-05-12 16:33] krypton36 commented on #17608
This appears to be an issue with the QR code. The test indicates to use an incorrect payload not an invalid one. To generate an incorrect QR code please follow the steps below:
1. From connectedhomeip root directory run the following commands
2. Run `gn gen out/host`
3. Run `ninja -v -C out/host qrcodetool`
4. Download [qrcodetool_setup_payload.txt](https://github.com/project-chip/connectedhomeip/

[2022-05-12 16:47] liamgonyea opened #18387 "`chip-tool-darwin` Support Needed for `OTA-R Subscribe Events` command"
### Problem
When testing `TC-SU-2.7`, each step needs support for `chip-tool-darwin` to run a `subscribe-event state-transition` command for OTA-Requestor .

An example of this command is Step 1 verification step: `./out/chip-tool-darwin/chip-tool-darwin otasoftwareupdaterequestor subscribe-event state-transition 5 10 0x1234567890 0 --timeout 65535`

#### Current supported commands for `chip-tool-

[2022-05-12 17:16] kowsisoundhar12 opened #18391 "[TC_DL_2.5,2.6,2.10] few Doorlock cluster commands and attributes are missing in yaml"
Following attribute and command  missing In the Door lock cluster:

Attribute :
NumberOfLogRecordsSupported

Commands:
GetLogRecord
SetPINCode
SetUserType
GetUserType

![2-5](https://user-images.githubusercontent.com/57476670/168130748-98edf88c-e64e-4280-b024-23853648c1e4.png)
![2-5--](https://user-images.githubusercontent.com/57476670/168130756-ec379da7-73a5-4a43-868d-238ff3be4848.png)
![2 6](htt

[2022-05-12 17:21] chrisdecenzo commented on #18369
we changed the default port for tv-app from 5540 to 5640 so you need to either modify your chip-tool command:

chip-tool pairing ethernet 1234 20202021 3840 127.0.0.1 5640

or

chip-tool pairing onnetwork-long 1234 20202021 3840

[2022-05-12 17:25] krypton36 commented on #17747
@manjunath-grl this should be possible if you do not do the WaitForCommissionee command. You will have to run each of the commands to pair.

[2022-05-12 17:33] kowsisoundhar12 opened #18393 "[TC-DL-2.9] SetHolidaySchedule Command showing (0x81 UNSUPPORTED_COMMAND) failure response"
SetHolidaySchedule Command is giving unsupported command 0x81  failure while running this testscript

![DL-2-9](https://user-images.githubusercontent.com/57476670/168134526-edc10b1a-ad91-4646-b5d8-805319d8ae2c.png)

Testplan screenshot:
![2-9](https://user-images.githubusercontent.com/57476670/168134785-d45653ec-7c51-43c2-a78a-0edc6ac6277c.png)
[dl-2-9.zip](https://github.com/project-chip/connecte

[2022-05-12 17:53] Garik098 opened #18395 "TE9 chip tool Darwin testing TC-MF-1.23, 1.24: Getting internal error while pairing when building chip tool Darwin with max fabrics 2"
As part of the TC-MF-1.23 and TC-MF-1.24, to test the max fabric scenario, the number of fabrics was scaled down to 2 from 16. For chip tool Darwin, used the below command to do that.

gn gen out/debug --args='chip_mdns="platform" chip_inet_config_enable_ipv4=false target_defines=["CHIP_CONFIG_MAX_FABRICS=2"]'

But when pairing using manual code after the build process, getting chip internal error

[2022-05-12 18:05] liamgonyea commented on #16593
### TE9 Testing Update
I re-ran `./out/chip-tool-darwin/chip-tool-darwin otasoftwareupdaterequestor announce-ota-provider 1234 0 0 0 0 4321 0` and can confirm that `announce-ota-provider` no longer results in a `QueryImage failure response` error for `chip-tool-darwin`

**Note**: `TC-SU-3.1` and `TC-SU-3.2` both use the same `chip-tool-darwin` command that was producing the error above so  `TC-SU-

[2022-05-12 18:05] #16593 closed

[2022-05-12 18:25] Morozov-5F opened #18396 "Refactor Door lock cluster so that it doesn't construct response manually via TLV module"
#### Problem
Door lock cluster implementation manually uses TLV to compose responses.

 #### Proposed Solution
Fill in the corresponding response structures and pack them into appropriate response object at once to avoid using error-prone TLV mechanism.

[2022-05-12 18:27] bluebin14 commented on #18374
Clarification: the defines I quoted are the ones in git. For this test I set them differently with active interval 2000. The mdns record was showing the long values.

[2022-05-12 19:38] mrjerryjohns opened #18399 "Need clearer smart-pointer like constructs for session management"
#### Problem

Our session management logic is quite complicated and difficult to understand on first read, especially when figuring out how session ownership/lifetime is managed.

A big part of the reason is that `SessionHandle` and `SessionHolder` don't quite behave like the smart pointer equivalents that other people are used to in STL.

A `SessionHandle` is clearly a strong-ref pointer (like a

[2022-05-12 20:00] tcarmelveilleux opened #18401 "`SetDeviceAttestationVerifier` prevents clean multiple concurrent usage of AutoCommissioner"
#### Problem
In case of attempting to commission multiple nodes on same fabric, the global singleton set/gotten by  `SetDeviceAttestationVerifier`/`GetDeviceAttestationVerifier` is not sufficient as the statefullness of it (especially if doing async operations) cannot be managed with the correct context for a given commissioning.

It should be possible to override the `DeviceAttestationVerifier` p

[2022-05-12 20:05] Garik098 opened #18403 "TE9 chip tool Darwin testing: Groups and Groupkeymanagment commands giving unsupported access error"
From step 2 to step 7 in TC-SC-6.1 related to commands of Groups and Groupkeymanagement were giving unsupported access error.

Below is the log for groups command that is giving unsupported access error

adk@adks-Mac-mini debug % ./chip-tool-darwin groups view-group 0x0001 1 0
[1652380259581] [13757:170844] CHIP: [TOO] Running Command
[1652380259581] [13757:170844] CHIP: [DMG] AccessControl: initi

[2022-05-12 21:20] turon commented on #18374
@bluebin14 thanks for the clarification.  How are you setting up the test such that you expect the first message to be sent with the IDLE interval?

[2022-05-12 21:25] yinyihu-silabs opened #18407 "[TC-DL-1.1] FeatureMap and Attribute/Command Lists mismatch"
#### Problem
FeatureMap from chip-tool does not match the outputs from AttributeList and AcceptedCommandList

Given a FeatureMap below, the follow features are enabled: PIN, RID, SCH, NOT
[code]

However, AttributeList and AcceptedCommandList return:
[code]
As results, many DoorLock test are not testable when required attributes/commands are not supported.

[2022-05-12 23:13] agners opened #18409 "Abort on REPL shutdown due to live objects"
#### Problem
When shutting down the Matter Controller I get an abort with the following stack trace:

[code]

From what I understand it's just an assertion which checks if every instance Object in the Pool has been released. So it seems that not all EndPoints allocated through the `UDPEndPointManager` have been released?

[code]

Also, it does seem that when Clang's address sanitizer is in use the

[2022-05-12 23:50] cjandhyala commented on #17994
@Rajashreekalmane per our conversation pls close the ticket

[2022-05-13 00:28] krypton36 commented on #18395
Please try to run `defaults delete com.apple.chiptool `since there appears to be previous fabrics in persistent memory.

[2022-05-13 03:21] erjiaqing commented on #18380
True

After going through the code again, the issue is

[code]

Is counting ReadHandlers but it should be usedReadHandlers for Subscriptions since we have `usedReadHandlers < readHandlerCap` below (which should also be `subscriptionCap`)

[2022-05-13 03:30] bzbarsky-apple commented on #18380
Yes, renaming `readHandlerCap` to `subscriptionCap` or better yet `subscriptionHandlerCap` make sense, and replacing all the ` mReadHandlers.Allocated()` with "count the number of live subscription handlers" I think will address the problem...

[2022-05-13 04:29] #18138 closed

[2022-05-13 06:56] bluebin14 commented on #18374
The device was initially using 5000/300. That had the above issue with only 300 being used. Then recompiled  both sides as 5000/2000 -> same thing. Erased KVS -> issue is no longer showing since device is now fast enough.

[2022-05-13 07:03] Rajashreekalmane opened #18413 "[TC-IDM-6.1]DUT fails to responds has UNSUPPORTED_ACCESS, When TH sends invoke message to DUT that it should not have the privilege for the cluster while wildcard event reading."
#### Problem
As per Test-Plan, test step 9 says "to read wildcard event Setup the TH, to send invoke request message from TH to DUT  such that it should not have the privilege for the cluster" DUT should responds with  no entry to TH ,but currently DUT responds
 as
![image](https://user-images.githubusercontent.com/95841834/168226170-05549477-673c-4896-b3fa-c617a87bfea4.png)

 * expected behavior:

[2022-05-13 07:05] #17994 closed

[2022-05-13 07:15] bluebin14 commented on #18374
Apparently the behavior is different on Thread devices, on IP devices I see the exact opposite. At 5000/300 on both sides only 5000 is used:

[2022-05-13 08:06] #18369 closed

[2022-05-13 08:19] sowmyassp commented on #14709
Hi @liamgonyea Test-case says we have to set custom-flow value, we can set the custom-flow value by passing command  "--custom-flow 0" , If this correct way to set can you please the issue.

[2022-05-13 09:09] somu1710 opened #18414 "Secure channel [TC-SC-5.2] - Shows error code as unsupported cluster [0xc3]"
**Problem:**

Secure channel test case [TC-SC-5.2] - While executing the test case it shows error code as unsupported cluster[0xc3] for end point "0" and unsupported access[0x7e] for endpoint "1".

**commands used:**

1. ./chip-tool basic write node-label new 0xffffffffffff0001 0
2. ./chip-tool basic read node-label 1 0
3. ./chip-tool onoff on 0xffffffffffff0001 0
4. ./chip-tool onoff read onoff 1

[2022-05-13 09:44] nansenLV opened #18417 "[TE9][TC-DM-2.1]step1 seems to advertising a short time cause commissioning failed"
[TE9][TC-DM-2.1] step1 seems to advertising a short time cause commissioning failed

!!!EXPECTED BEHAVIOR:

sudo ./chip-tool pairing ble-wifi 1 GRLPrivate_EXT matter123 20202021 3840

TH END:
[1641381202.376419][5628:5633] CHIP:CTL: Received success response 0x3df8

sudo ./all-clusters-app --wifi

DUT END:
[1641381202.306840][4431:4431] CHIP:DL: NVS set: chip-config/regulatory-location = 0 (0x0)

[2022-05-13 10:04] franck-apple commented on #17995
relates to #17994, closing.

[2022-05-13 10:04] #17995 closed

[2022-05-13 10:15] sowmyassp commented on #16096
Test-plan is updated with correct commissioning flow and we are getting the same in logs

[2022-05-13 10:19] sowmyassp commented on #16096
PFA Logs:
[commissioning_cntrl.txt](https://github.com/project-chip/connectedhomeip/files/8686214/commissioning_cntrl.txt)
[commissioning_dut.txt](https://github.com/project-chip/connectedhomeip/files/8686215/commissioning_dut.txt)

[2022-05-13 10:19] #16096 closed

[2022-05-13 10:30] Survensa opened #18418 "[SQA]-THREAD TC-DL-2.14 Unable to execute the credential commands."
**Problem:**
In TC-DL-2.14 The Credential command(set,get,clear) are unable to execute in the Chip-tool as we are unable to provide Struct values for Credentials (Credential Type and Credential Index)

**Excepted outcome** :  Success response

**Actual Outcome** : Unable to execute the Command

**Step to reproduce:**  `./chip-tool doorlock set-credential 0 1 2 xxxx 2 0 0 1 1`

**Platform :** RPI -

[2022-05-13 12:57] andy31415 commented on #18132
Reading the spec it seems to say:

[code]

why is this expected to decrease on remove network? It sounds like a constant to me. Is this test case correct?

[2022-05-13 13:14] andy31415 commented on #18148
@sowmyassp - what are the "values configured by the commissioner" that this asks for?

Tried to quickly look at the issue and it was not obvious. Please clarify.

[2022-05-13 13:22] andy31415 commented on #16614
Seems like the same as #17598

[2022-05-13 13:27] andy31415 commented on #17633
Seems the same as #18148

[2022-05-13 13:38] andy31415 commented on #18362
@Rajashreekalmane could you explain the test case a bit? I look at the send and redceive data, you send 12 and receive 12. Actual formatting of the logs may not contain quotes.

Could you send debug text that is clearly text like `xy` and see if that goes through?

[2022-05-13 13:48] andy31415 commented on #18414
@somu1710 what is this test case covering?

There are 2 errors, but 5 commands reported. Which return the errors? Are these the NodeLabel ones?

[2022-05-13 13:51] andy31415 commented on #18414
I see the error reported for Cluster 0x06 which is OnOff cluster

[2022-05-13 15:04] sowmyassp commented on #17633
@Both are not same this issue is related to  mandatory global attribute ""attribute-list"" of  Localization cluster where as in issue 18148 its about how to check the set-regularity configuration of commissioning flow in device discovery cluster

[2022-05-13 15:08] sowmyassp commented on #18148
The purpose of test-case 3.1 and 3.5 is to verify the End to End Concurrent Commissioning Flow  but in the commissioning flow we have a step says "Commissioner SHALL configure regulatory information in the Commissionee" in which I have doubt how to verify it, as in log I got the message "Device does not support configurable regulatory location"  so I am not sure how to set regularity.
I also attac

[2022-05-13 15:35] tcarmelveilleux opened #18430 "`ECPKeypair::ECDSA_sign_hash` should be deprecated since not supported by security-critical APIs in Java"
#### Problem
- Spec only defines `Crypto_Sign(privateKey, message)` primitive
- CASE and all other areas where signatures are generated according to the spec use the message variant
- The sign_hash operation is a low-level consideration of crypto APIs and is **sometimes not exposed by platform crypto APIs**. For example, in Java's `java.security.Signature`, including on Android, there is no way to

[2022-05-13 15:54] krypton36 commented on #18272
@liamgonyea I am not seeing these issue on chip-tool-darwin, but I do see them on chip-tool. Can you please confirm it is chip-tool-darwin that you are seeing these issue?

[2022-05-13 16:18] tcarmelveilleux opened #18431 "Missing CASESession interlocks with NOC cluster"
#### Problem
When `UpdateNOC`, `RemoveFabric` or `RemoveTrustedRootCertificate` are done, there is fundamental change to the credentials that may impact security properties.

This is because of two reasons:

1. CASESession holds a long term `FabricInfo *` that, in initiator cases, may possibly be no longer valid, and in responder cases, may relate to a fabric no longer valid, but where a Sigma3 re

[2022-05-13 16:21] Shadi-Silabs opened #18432 "TC-SU-2.2 step5: DUT fails to wait 3 mins before issuing another QueryImage command to the TH/OTA-P, but instead it does that after 2 min"
As per test event 9 plan steps: this TC-SU-2.2 test within its step#5 failed
The step asked to launch the OTA provider by giving the flag to wait 3 min before DUT sends another QueryImage, but it sends the message after 2 min instead.
By checking the DUT logs, it seems that the device received QueryImageResponse with wait time of 180 sec as below:

00> <detail> [SWU] QueryImageResponse:
00> <detai

[2022-05-13 16:33] msandstedt commented on #18431
Agreed with the proposal to store fabric table + fabric index.  That is simple and will result in 'correct' behavior.  Perhaps there is also a fancy c++ trick we can employ to prevent code from storing FabricInfo *.

As to eviction / cancelation during session establishment, I think this can be relatively simple as we are now allocating session slots in the secure session table at the beginning of

[2022-05-13 16:40] tcarmelveilleux opened #18433 "On CASE resumption, previous resumption state is not deleted"
#### Problem

In either of these cases, a resumption has successfully occurred:
- When Initiator resumed and received a Sigma2 Resume that was successful
- When Responder received a Sigma1 for valid resumption and had received a successful session establishment status from the resumption

The spec says:

[code]

It doesn't mention what to do with the previous resumption state, but a careful consid

[2022-05-13 16:57] bzbarsky-apple commented on #17221
I was thinking about how to handle this a bit, and fundamentally we have no good way (especially on the controller side) of telling when the NOC has changed across a reboot.  Whatever comes out of storage might just be different, and all we will validate in FabricTable is that it chains up to the root properly..

So something like what @kghost suggested might in fact be the simple way to go: savin

[2022-05-13 16:59] tcarmelveilleux opened #18435 "`ReleaseSessionsForFabric` takes CompressFabricIndex which is ambiguous"
#### Problem
Within the SDK, `FabricIndex` is the only unambiguous identifier.

Many methods that emanated from `FabricTableDelegate::OnFabricDeletedFromStorage(chip::CompressedFabricId compressedFabricId, chip::FabricIndex fabricIndex)` perpetuated use of the compressed fabric ID, because at the bottom, we have
`CASESessionManager::ReleaseSessionsForFabric(CompressedFabricId compressedFabricId);`

[2022-05-13 17:01] tcarmelveilleux opened #18436 "BindingManager invalidates CASE sessions when it shouldn't"
#### Problem

In:
[code]

This invalidates session from a place where this should not be done. The behavior of fabric removal in NOC cluster should suffice, and propagate the necessary session eviction.

 #### Proposed Solution

- Remove `ReleaseSessionsForFabric` from `BindingManager`

[2022-05-13 17:09] balducci-apple commented on #18431
I can't speak to the specific implementation details but idea of invalidating pending CASE session establishments when those scenarios arise is something I agree with.

[2022-05-13 17:11] #16680 closed

[2022-05-13 17:12] #16624 closed

[2022-05-13 17:12] #16237 closed

[2022-05-13 17:12] #15732 closed

[2022-05-13 17:13] balducci-apple commented on #18433
I think this is the right thing to do. I know the spec previously had prose describing that resumption information should be deleted if resumption fails (but it appears to not state this anymore). In any case, success or failure should lead to the deletion of the resumption state.

[2022-05-13 17:17] chrisdecenzo commented on #8565
These UDC messages are fire-and-forget with no accommodation for responses so I'm not sure what the value in setting a specific exchange id would be.

[2022-05-13 17:19] #14822 closed

[2022-05-13 17:27] mrjerryjohns opened #18440 "Validate that the IM will ignore tags it doesn't understand (for forward compatability)"
#### Problem

Validate that the various IM-related messages will ignore tags it doesn't understand to setup well for forward compatibility.

[2022-05-13 17:41] chrisdecenzo commented on #17904
this problem is no longer happening for me. It might have been a bug fix in the chip tool

[2022-05-13 17:41] #17904 closed

[2022-05-13 17:47] chrisdecenzo commented on #13144
All of the comments in https://github.com/project-chip/connectedhomeip/pull/12634#pullrequestreview-835757728 have been addressed.

[2022-05-13 17:47] #13144 closed

[2022-05-13 19:02] cjandhyala commented on #17205
@sowmyassp, as we discussed the other day this issue i.e. generating the same QR code, is on the chip-tool side, not the commissioner issue. Pls close this issue and follow-up with other issue

[2022-05-13 19:09] msandstedt commented on #18433
What security problem would we hope to fix by making this change?  In all cases, after session establishment, we are trusting peers not to continue using a session if their credentials have changed.  This is true during ongoing session communication and is equally true for session resumption.  Disallowing multiple session resumption contexts for a given peer does not remove the need to trust the p

[2022-05-13 20:02] adabreuti commented on #18035
I'm seeing that the following mandatory attributes are not available via the all-clusters applications(TC-PS-2.1 reference log attached):
PICS_A_BATREPLACEMENTNEEDED
PICS_A_WIREDCURRENTTYPE
PICS_A_BATREPLACEABILITY
PICS_A_BATREPLACEMENTDESCRIPTION
PICS_A_BATFUNCTIONALWHILECHARGING

Ref: https://github.com/CHIP-Specifications/chip-test-plans/blob/master/src/cluster/powersource.adoc
[TC_PS_2_1.log](

[2022-05-13 20:25] adabreuti commented on #18323
I'm also seeing this issue in which the identify time fails to show decrements until the timeout period at which point it is 0. Attached is also a reference log from the all-clusters application.
[TC_I_2_2.log](https://github.com/project-chip/connectedhomeip/files/8691106/TC_I_2_2.log)

[2022-05-13 20:47] tcarmelveilleux opened #18444 "Cannot provide externally obtained NOC and externally managed key pair to Darwin framework on controller init"
#### Problem
When managing your own fabric for multi-fabric use-cases on iOS, there is currently no API that allows providing an NOC for a controller, and associated key pair protocol implementation.

This has the following side-effects:

- Clients have to provide the root CA key **pair** (including private key) and let the framework decide of NOC issuance for the local controller, which is imposs

[2022-05-13 20:52] tcarmelveilleux opened #18445 "Cannot override DeviceAttestationVerifier in Darwin commissioning flow"
#### Problem
The API surface for Darwin commissioning flows prevents passing a Device Attestation Verifier equivalent that would allow arbitrary policy checks, and allow aggregation/saving of the DAC cert chain and attestation elements/signature, which are needed to do an end-to-end attestation flow if the CA resides off the device (e.g. if running a custom fabric in a multi-fabric situation with

[2022-05-13 21:15] #17804 closed

[2022-05-13 22:45] krypton36 commented on #18181
This is an incorrect format. 0x23 is not a list. You will have to send the command as follows:

[2022-05-13 22:46] krypton36 commented on #18185
This will not be supported in CHIP.framework. @bzbarsky-apple can you please confirm.

[2022-05-13 23:42] liamgonyea opened #18454 "`chip-tool` unable to generate proper invalid Manual Codes when changing Version string"
#### Problem
When attempting to generate an invalid Manual Code onboarding payload where the Version string is invalid (i.e. version=2), `chip-tool` generated the same 11-digit manual code when Version=0 and when Version=2. According to the spec doc, these should differ.

![image](https://user-images.githubusercontent.com/80923273/168401809-1b4020d6-9d85-4cd5-be19-98639e99ff4e.png)

 #### Logs
Whi

[2022-05-14 00:39] phonnakasturi-apple opened #18455 "Thread Tests (nordic board) are failing with Timeout error for chip-tool-darwin"
Thread Tests (nordic board) are failing with Timeout error for chip-tool-darwin.

When tested against chip-tool they work.

**Steps:**

1. Pair the nordic board with chip tool Darwin
2. Try to read channel attribute.
For instance;
 ./chip-tool-darwin threadnetworkdiagnostics read channel 180 0

Attaching the logs for chip tool darwin:
[chip-tool-darwin_logs.txt](https://github.com/project-chip/con

[2022-05-14 02:21] bzbarsky-apple commented on #18185
For the moment that is correct.  If that ever changes, we'll add chip-tool-darwin support at that point.

[2022-05-14 03:43] bzbarsky-apple commented on #8565
The main idea of setting it would be so the other side doesn't consider them as part of an existing exchange.  Exchange id 0 is valid, last I checked, so there is potential for confusion and incorrect dispatch there....

[2022-05-14 03:45] bzbarsky-apple commented on #8565
But maybe the fact that these are not operational messages and hence the source node id is not present means that does not matter in practice?

In that case, what we have is technically a spec violation (@turon can you please check whether that claim is true?) but might not matter in practice.

[2022-05-14 07:05] bluebin14 commented on #17221
Note that the only thing that causes TC-IDM-1.2 and other tests to fail is that in case of resumption the device has no knowledge that the controller nodeid changed, it uses the old nodeid and that causes decryption to fail. Nodeid is used to construct the crypto nonce. Resumption state needs to know the nodeids of both parties, if any of them changes the state becomes invalid.

[2022-05-14 07:11] bzbarsky-apple commented on #17221
You'd also get failures if the operational key changed, even if the node id did not change, right?

[2022-05-14 07:41] bluebin14 commented on #17221
There would be no decryption failures in that case.

[2022-05-14 07:43] bluebin14 commented on #17221
The problem here was that both sides acknowledged successful session completion yet they could not communicate because of crypto failure.

[2022-05-14 11:41] bluebin14 commented on #17221
Note also that e.g. chip-tool changes its own keypair at every launch, so invalidating resumption state on public key change on either side would cause resumption never to be used.

[2022-05-15 10:47] dlq84 opened #18461 "Python lighting-app example VerifyOrDie failure"
#### Problem
The python lighting-app exampel crashes with the following output:

[code]

I followed the steps in https://github.com/project-chip/connectedhomeip/blob/master/examples/lighting-app/python/README.md

Using Ubuntu 20.04 LTS

[2022-05-15 18:22] caipiblack commented on #16678
Same here on [TE9] tag.

[2022-05-16 05:55] sowmyassp commented on #17205
@cjandhyala Its a valid issue, we earlier discussed about different issue
If you check the log, I have generated the invalid code and parsed the same but commissioning is successful
![image](https://user-images.githubusercontent.com/90545664/168528149-1f3a33f1-2a48-4481-a301-79df882d49ff.png)

[2022-05-16 08:30] Damian-Nordic commented on #18455
Looks like Darwin implementation is not able to find an operational service. Do you run both: chip-tool for Linux and macOS against the same Nordic device? If the Linux device is able find the device while Darwin not, it may indicate some issue on the macOS side. Logs from the Nordic board would be useful to rule out SRP issues on the device side.

[2022-05-16 09:31] bluebin14 commented on #18316
Any subscribe interaction crashes, e.g. >>> generaldiagnostics subscribe-event radio-fault-change 1 100 12344321 1

[2022-05-16 10:59] Survensa commented on #17908
Used sudo ./out/debug/chip-tool any command-by-id 0x0004 0x00 '{ "0": 65536, "1": "my-group-name"}' 60 0 for the verification

[2022-05-16 10:59] #17908 closed

[2022-05-16 11:35] #18132 closed

[2022-05-16 12:40] Survensa commented on #18363
DUT LOG :

ubuntu@ubuntu:~/apps$ ./chip-tool doorlock lock-door 1 1 --timedInteractionTimeoutMs 1000 --PinCode 7896

[code]

[2022-05-16 12:43] Survensa commented on #18364
DUT Log:

[code]

[2022-05-16 12:50] #18146 closed

[2022-05-16 12:54] sowmyassp commented on #17987
With the latest commitID (25e241ebcbf11b1f63dbe25546b1f10219866ad0) of image version 3.9, 2nd commissioning is passing.

[2022-05-16 14:24] manjunath-grl opened #18475 "Commissiong process is failing after "FactoryReset" command"
Summary:
PR https://github.com/project-chip/connectedhomeip/pull/18267  checks Darwin (no-ble-asan) and Darwin (no-ble-asan-clang) are failing because after "FactoryReset" command it is not able to commission but it is working fine for linux standalone and darwin.

YAML script:
[Test_TC_DM_2_2.zip](https://github.com/project-chip/connectedhomeip/files/8700897/Test_TC_DM_2_2.zip)

Execution screens

[2022-05-16 14:24] #17749 closed

[2022-05-16 14:24] #17737 closed

[2022-05-16 14:32] cabin15 opened #18476 "[TE9] I'm getting status 9 instead of 5 on step 6 in [TC-MF-1.23] / [TC-MF-1.24]"
#### Problem
Controller: My DUT
Controlee: all-clusters-app of test Harness image on rpi4

On step 6 in [TC-MF-1.23] and [TC-MF-1.24], I'm getting status 9 instead of 5.

Expected result
`[1649756670.402192][10794:10799] CHIP:CTL: Device returned status 5 on receiving the NOC
[1649756670.402221][10794:10799] CHIP:CTL: Add NOC failed with error ../../third_party/connectedhomeip/src/controller/CHIPD

[2022-05-16 14:50] cecille commented on #18087
Error 3 is "no failsafe". Was the failsafe set before attempting to use this command? That should be step 1 of the test procedure. What was the commissioning timeout that was used?

Device logs would be helpful here, for the entire set of commands.

[2022-05-16 17:18] jrhees-cae opened #18484 "TC-SU-2.3 OTA-R unable to start new CASE session with OTA-P"
#### Problem
An intended fix for timing out a CASE session in SWU was here: https://github.com/project-chip/connectedhomeip/pull/15939
However, it appears the fix is not effective. Even though we see the following in the DUT (OTA-R) logs:

[code]
... subsequent requests to the OTA-P from the OTA-R are still attempting to use the same session ID.

<what's wrong or missing, please include any applic

[2022-05-16 17:30] sankarselvam commented on #18414
@somu1710 Seems the command & its sequence is wrong, Can you please check with TestPlan  and update the verification steps and then verify this?  If the feature is not developed, this should not be presented in TE9 verification steps sheet.

[2022-05-16 17:35] kghost commented on #18433
I'm not quite understand the role of `ResumptionId`. If there can by only one resumption entry per node, why not use a stable tuple of `<CompressedFabricId, NodeId>` as the `ResumptionId` ?

In this way, we don't need to store the relationship between the `ResumptionId` and the `ScopedNodeId`. I don't think if will expose any security flaws, since both `CompressedFabricId` and `NodeId` are public,

[2022-05-16 17:44] mrjerryjohns opened #18485 "Reject subscription establishment if subscriber has no access"
#### Problem

See [this](https://github.com/CHIP-Specifications/connectedhomeip-spec/issues/5219) spec issue.

 #### Proposed Solution

Iterate over every expanded path in the `SubscribeRequest` and check if any of the paths have at least `View` privilege (this is already handled by calling `RequiredPrivilege::ForReadAttribute(aPath)`). If not a single path has that privilege, the subscription sho

[2022-05-16 17:58] bzbarsky-apple commented on #13414
The default value is the value to use if no value is provided on the wire.  An actual device may default to a different value.

[2022-05-16 19:20] bzbarsky-apple commented on #16579
Fixed in #17906.

[2022-05-16 19:20] #16579 closed

[2022-05-16 19:29] cecille commented on #14604
PASE session establishment is only allowed once the commissioning window manager calls WaitForPairing. We already expire PASE pairings on commissioning complete, but we should also expire them when the commissioning window closes so that other nodes can't establish a long-running PASE connection and send commands after the commissioning window is closed.

[2022-05-16 20:29] bzbarsky-apple commented on #18445
@anush-apple @woody-apple FYI.

[2022-05-16 20:30] bzbarsky-apple commented on #18444
As discussed today, this is not needed, because secrets are derived from ephemeral keys during CASE; the operational key is only used to sign things.

The rest can be done once https://github.com/project-chip/connectedhomeip/pull/18482 merges.

[2022-05-16 21:21] chrisdecenzo commented on #18201
I'm not sure we need a test case for every error code.

[2022-05-16 21:32] chrisdecenzo commented on #4224
It looks like rotating ID unique id input is coming from a #define (CHIP_DEVICE_CONFIG_ROTATING_DEVICE_ID_UNIQUE_ID). This needs to be something that device makers can populate at run time from storage.

[2022-05-16 21:57] krypton36 commented on #18387
@liamgonyea for chip-tool-darwin currently there is no plan to support for individual subscriptions for events. The way to test this is to subscribe to all events.

[2022-05-16 22:05] mrjerryjohns opened #18489 "Improve readability of REPL test logs"
#### Problem

REPL tests like [this](https://github.com/project-chip/connectedhomeip/runs/6456433527?check_suite_focus=true) highlight two big problems:

1. It's not easy to tell which test is currently running.
2. When a test fails, we should at least print out the Python backtrace on the controller side if the server-side app terminates abruptly.

[2022-05-16 22:54] #18273 closed

[2022-05-17 00:09] cabin15 opened #18492 "[TE9] Get UNSUPPORTED_ATTRIBUTE of read command on DL-3.1"
#### Problem
Controller: My DUT
Controlee: all-clusters-app of test Harness image on rpi4

When reading attribute of doorlock cluster from all-clusters-app, my DUT got UNSUPPORTED_ATTRIBUTE return.

Belows are the attribute that failed to read.
- number-of-logs-records-supported
- enable-logging
- ledsettings
- local-programming-features
- send-pinover-the-air
- expiring-user-timeout
- alarm-mask

[2022-05-17 00:25] cabin15 opened #18494 "[TE9] Get UNSUPPORTED_COMMAND of invoke command on DL-3.2"
#### Problem
Controller: My DUT
Controlee: all-clusters-app of test Harness image on rpi4

1. When sending invoke command of doorlock cluster to all-clusters-app, my DUT got UNSUPPORTED_COMMAND return.
Belows are the step that failed due to UNSUPPORTED_COMMAND.
- Step 4, 5, 6, 7, 8, 9, 10, 13, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26

`May 11 17:27:09 = chip-service[10987]: Error: IM Error 0x0000058

[2022-05-17 00:34] terafin commented on #18445
@tcarmelveilleux Can you provide a minimum example API that would fit the needs here?

[2022-05-17 00:34] woody-apple commented on #18445
@tcarmelveilleux Can you provide an example API that would fit the needs here?

[2022-05-17 00:58] #18435 closed

[2022-05-17 01:29] cabin15 opened #18496 "[TE9] Test plan does not describe the verification steps how to simulate the event on DL-3.3"
#### Problem
On DL-3.3, test steps asks me to do "Simulate a xxxxx Event by setting the AlarmCode to 0", such as

"Simulate a DoorLockAlarm Event by setting the AlarmCode to 0"
"Simulate a DoorStateChange event by setting the DoorState to 2"
"Simulate a LockOperation event by setting OperationSource to 2"
"Simulate a LockUserChange event by changing the Credential"

As no verification step is desc

[2022-05-17 01:36] naveenkommareddi commented on #9903
We should move this to 1.x since optional attributes are out of scope for 1.0

[2022-05-17 01:37] naveenkommareddi commented on #10668
This is a stale issue that's not seen anymore. We should close this

[2022-05-17 01:40] cabin15 opened #18497 "[TE9] Get INVALID_ACTION of read-by-id command on IDM-2.1"
#### Problem
Controller: My DUT
Controlee: all-clusters-app of test Harness image on rpi4

When testing read-by-id command of any cluster from all-clusters-app, my DUT got INVALID_ACTION return.

Belows are the step that failed due to UNSUPPORTED_COMMAND.
- Step 18, 22

Expected result
0x00 Success should be returned.

Actual result
May 09 18:18:24 raspberrypi4 chip-tool[2274]: StatusResponseMessa

[2022-05-17 01:43] naveenkommareddi commented on #11526
Yes. lets close this issue

[2022-05-17 01:47] naveenkommareddi commented on #13648
this is a DUP of [18321](https://github.com/project-chip/connectedhomeip/issues/18321)

[2022-05-17 01:55] naveenkommareddi commented on #11901
Issue resolved per latest SDK test report. This can be closed

[2022-05-17 01:59] naveenkommareddi commented on #12085
Issue resolved per latest test reports

[2022-05-17 02:13] naveenkommareddi commented on #13929
Dup of #18084. Fails on Thread transport.

[2022-05-17 02:16] naveenkommareddi commented on #14056
This is a DUP of #16725 which is being used to track all the FeatureMap issues

[2022-05-17 02:22] naveenkommareddi commented on #14373
This should be the same issue as #17896 . @liamgonyea  to reverify and confirm.

[2022-05-17 02:28] cjandhyala commented on #14552
@Survensa could you pls verify this ?

[2022-05-17 02:53] bzbarsky-apple commented on #18028
The _General Commissioning_ cluster has no features defined at all in the spec, so its FeatureMap should always be 0 and the test is correct....

[2022-05-17 04:05] bzbarsky-apple commented on #18433
That sounds like a question for @balducci-apple

[2022-05-17 04:44] cjandhyala commented on #16851
@dwgaul this "UNSUPPORTED_ATTRIBUTE" error scenario is covered in IDM test plan, do we still need a separate app for that ? we can just test for the test cluster, which is not implemented in the production devices anyway ..

[2022-05-17 05:43] bzbarsky-apple commented on #18243
@manjunath-grl That test plan says those tests are conditioned on some PICS checks (PICS_A_PRESSURE_SCALED_MAX, etc).  Are the tests in fact conditioned on those PICS checks?

[2022-05-17 06:50] Rajashreekalmane commented on #18087
Test-plan has been changed, now its working so closing this issue here.

[2022-05-17 06:50] #18087 closed

[2022-05-17 06:57] Rajashreekalmane commented on #17688
Yes DUT (Thermostat app) support  GetWeeklySchedule which is  mandatory so it  should print the ID of it while running the "./chip-tool thermostat read generated-command-list 1 1"

[2022-05-17 07:00] #18370 closed

[2022-05-17 07:02] #18362 closed

[2022-05-17 07:52] manjunath-grl commented on #18243
I even tried with these PICS condition getting same output: (UNSUPPORTED_ATTRIBUTE)
![image](https://user-images.githubusercontent.com/102359958/168758701-841b9c02-e1e3-453d-8589-468889f7f75b.png)

[2022-05-17 07:52] bauerschwan commented on #17688
For me this looks like a zap issue because the GENERATED_COMMANDS in the zap-generated file endpoint_config.h contains wrong information. At least this is the case with code based on TE9 tag.

Here as an example the ZAP UI of our DUT:
<img width="792" alt="Screenshot 2022-05-17 at 09 47 25" src="https://user-images.githubusercontent.com/62264998/168758336-66615984-5320-4e71-9663-91fe22034eab.png">

[2022-05-17 09:12] caipiblack commented on #12987
Update: This problem is still present in TE9 commit. Now it can be easily re-produced with chip-tool as it include an "interactive mode"

[2022-05-17 09:42] franck-apple commented on #9774
Can be closed. Issue is resolved

[2022-05-17 09:42] #9774 closed

[2022-05-17 09:43] franck-apple commented on #10668
Can be closed. Issue is resolved

[2022-05-17 09:43] #10668 closed

[2022-05-17 09:43] franck-apple commented on #10812
Can be closed. Issue is resolved

[2022-05-17 09:43] #10812 closed

[2022-05-17 09:44] franck-apple commented on #10827
Can be closed. Issue is resolved

[2022-05-17 09:44] #10827 closed

[2022-05-17 09:44] franck-apple commented on #10829
Can be closed. Issue is resolved

[2022-05-17 09:44] #10829 closed

[2022-05-17 09:44] franck-apple commented on #10951
Can be closed. Issue is resolved

[2022-05-17 09:44] #10951 closed

[2022-05-17 09:44] franck-apple commented on #11338
Can be closed. Issue is resolved

[2022-05-17 09:44] #11338 closed

[2022-05-17 09:44] franck-apple commented on #11526
Can be closed. Issue is resolved

[2022-05-17 09:44] #11526 closed

[2022-05-17 09:46] franck-apple commented on #11899
resolved in #11654

[2022-05-17 09:46] #11899 closed

[2022-05-17 09:46] franck-apple commented on #11901
Can be closed. Issue is resolved

[2022-05-17 09:46] #11901 closed

[2022-05-17 09:47] franck-apple commented on #12058
dupe of #18321. Closing

[2022-05-17 09:47] #12058 closed

[2022-05-17 09:47] franck-apple commented on #12085
Can be closed. Issue is resolved

[2022-05-17 09:47] #12085 closed

[2022-05-17 09:50] franck-apple commented on #13648
dupe of #18321. Closing

[2022-05-17 09:50] #13648 closed

[2022-05-17 09:51] #14056 closed

[2022-05-17 09:52] franck-apple commented on #14236
dupe of #14840. Closing.

[2022-05-17 09:52] #14236 closed

[2022-05-17 11:22] YuriChen1028 commented on #16178
You can shutdown wifi on your rpi 4b and use Ethernet. Then the commissioning by ble will be ok.

[2022-05-17 11:51] jtung-apple opened #18505 "Darwin framework should limit to one read at a time per server"
#### Problem
Quoting Boris: "Per spec, the minimal requirement for a device is to support one read at a time per supported fabric, with up to 9 paths per read.  See "2.10.2.1. Read Interaction Limits" in the Matter spec."

This issue is to track one-at-a-time reads.

 #### Proposed Solution
Add Darwin framework bits to queue read operations and only perform them one at a time.

[2022-05-17 12:29] Survensa commented on #14552
Issue can be closed, verified with MAC and attched the log

[WNCV.2.3.txt](https://github.com/project-chip/connectedhomeip/files/8708192/WNCV.2.3.txt)

[2022-05-17 13:08] cecille commented on #18028
Ah, you're correct. I did until https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/4956. So that's where the 6 came from. It was a spec change without a corresponding SDK change.

[2022-05-17 14:27] #18133 closed

[2022-05-17 14:51] somu1710 commented on #18414
Test plan needs to update on this ticket and it requires feature implementation, we will follow up with the test plan team.

[2022-05-17 14:52] kpark-apple opened #18507 "Nordic lighting app OnSRPClientNotification: [DL]Operation refused for security reasons"
#### Problem
Keep seeing the message in the above title when pairing Nordic lighting app and consequently failing the pairing.
It occurred with both commit 9cc0fb36dbc1508159788cac6adf26322ec5f558 as well as with cfc35951be66a664a6efdadea56d1b8ea6e63e96.

Attached files are the Nordic log and Wireshark PCAP log, reproduced with cfc35951be66a664a6efdadea56d1b8ea6e63e96.
The problem occurred between

[2022-05-17 15:31] cecille commented on #14245
This was fixed by Vivien in https://github.com/project-chip/connectedhomeip/pull/13371/files#diff-30c3779ffb95f404ea48b1ed6319a810a1f5639a9b035002f11a44193b4cddbeL418.

[2022-05-17 15:36] bzbarsky-apple commented on #17688
Did this not get fixed in https://github.com/project-chip/connectedhomeip/pull/17833 ?

[2022-05-17 15:36] #17577 closed

[2022-05-17 15:37] Survensa opened #18508 "[SQA] TC-GR-2.2 Chiptool allows Group ID ' 0 ' in Group Cluster"
#### Problem
During the execution of AddGroup Command with the GroupID as 0 we should get response as INVALID_COMMAND as the Group ID should be in the inclusive range of 1 to 65535

 * expected behavior : Response should be INVALID_COMMAND
 * actual behavior : Getting Response as status: 135 (Status is enum8 type)
 * Command used : `./chip-tool any command-by-id 0x0004 0x00 '{ "0": 0, "1": "my-gro

[2022-05-17 15:56] andy31415 commented on #17604
@Survensa - please provide more platform info - this seems to be platform specific (like efr/nrf/qpg/....) so need more detail than 'thread'.

[2022-05-17 16:11] cjandhyala commented on #14552
@Survensa confirmed its not reproducible anymore, closing the ticket

[2022-05-17 16:46] bzbarsky-apple commented on #17688
The answer is: No, it did not.  For thermostat, we are very definitely listing response commands which are not enabled, and correspond to request commands that are also not enabled, in the "AcceptedCommandList", which is all sorts of broken.

[2022-05-17 16:47] bzbarsky-apple commented on #17688
@erjiaqing

[2022-05-17 17:01] cecille commented on #18195
Is this over BLE? Commissioning is failing because there are no network credentials given.
[code]
Suggest using qrcode-wifi or qrcode-thread variant as required.

[2022-05-17 18:02] chrisbeach59 commented on #17688
@Rajashreekalmane only setpointraiselower is mandatory.   It is mandatory if schedule is enabled.  Scheduling is not supported in R1

[2022-05-17 18:20] phonnakasturi-apple opened #18518 "CHIPTool App compilation error on iOS"
With SHA 05a20b15e16ff19246077aeee829e0a2984c854d

We cannot compile CHIPTool App using Xcode

It throws, ""Nullability specifier 'nullable' conflicts with existing specifier 'nonnull'""

Attaching the image;

<img width="723" alt="CHIPTool App Error" src="https://user-images.githubusercontent.com/101904389/168883291-27adbb2a-c51b-4276-aa12-dd27812a6798.png">

[2022-05-17 18:25] andy31415 commented on #16886
Since this is a _MAY_ setting in the spec, it sounds like the SDK could be certifiable without any of these implemented.

I understand the goal is "do not crash if you see something optional" however in list of priorities, implementing anything optional should not be a priority.

[2022-05-17 18:25] bzbarsky-apple commented on #18164
Fixed by #18172.

[2022-05-17 18:25] #18164 closed

[2022-05-17 18:34] raju-apple commented on #18313
Same as https://github.com/CHIP-Specifications/chip-test-scripts/issues/74

[2022-05-17 18:34] #18313 closed

[2022-05-17 18:53] cjszz2001 opened #18520 "EFR32MG24 lighting-app create Hardfault"
#### Problem
<EFR32MG24 lighting-app create Hardfault at startup.
Build the lighting-app on the EFR32_BOARD=BRD4186A
on the branch of interop_testing_2022_01_18.

Here is the catpure of the J-link RTT log:
00> <efr32 > ==================================================
00> <efr32 > chip-efr32-lighting-example starting
00> <efr32 > ==================================================
00> <efr32 > Ini

[2022-05-17 18:57] cjszz2001 opened #18522 "EFR32MG24 lighting-app does not work"
#### Problem
EFR32MG24 lighting-app does not work.
Build the lighting-app on the EFR32_BOARD=BRD4186A
on the branch of interop_testing_te9
Flash the hex file to the development board. It does not even startup

Proposed Solution
the light example should work

[2022-05-17 19:09] bzbarsky-apple commented on #18240
The attribute is right there in the list:

The attribute's id ix 0x11, which is 17.

Test plan has been fixed since this issue was filed, and now says:

[2022-05-17 19:09] #18240 closed

[2022-05-17 19:45] bzbarsky-apple commented on #8433
The best place to put these is probably in `FabricInfo::SetFabricInfo`.

[2022-05-17 19:52] bzbarsky-apple commented on #18243
@manjunath-grl `A_PRESSURE_SCALED` is not a defined PICS value for our YAML tests.

It sounds like we should define the PICS value, use it in the YAML, set it correctly for the test app if it does not implement this functionality yet.

[2022-05-17 19:53] bzbarsky-apple commented on #18028
Ah, great catch.  I'll just put up a PR, then.

[2022-05-17 19:59] chrisdecenzo commented on #18201
Remove PICS_APPLAUNCHER_BUSY since it does not make sense to test every error code unless there are specific behavior requirements specified for it.

[2022-05-17 19:59] #18201 closed

[2022-05-17 21:08] #18518 closed

[2022-05-17 21:34] #14373 closed

[2022-05-17 22:22] bzbarsky-apple commented on #18343
https://github.com/CHIP-Specifications/connectedhomeip-spec/issues/5198 is now fixed.  So this just needs code changes.

[2022-05-17 22:53] isiu-apple commented on #18484
Discussed with @mrjerryjohns who mentioned that https://github.com/project-chip/connectedhomeip/issues/16202 is pertinent to this issue.  Will retest once issue 16202 is fixed.

[2022-05-17 23:17] cjandhyala commented on #18508
@Survensa Pls provide spec reference as well here.

[2022-05-17 23:35] sagar-apple opened #18527 "[Darwin] Open Commissioning Window APIs need to be async"
#### Problem
The current `openPairingWindow` and `openPairingWindowWithPIN` APIs exposed to Darwin clients are not really usable.
These APIs are synchronous and will always succeed.

For example, repeated calls to `openPairingWindowWithPIN`  _appear_ to work whereas the server cannot honor these until the previous duration has expired and so it returns an error. That error is never returned to the

[2022-05-18 01:09] erjiaqing commented on #18413
I found

[code]

Are we really sending wildcard event read requests?

[2022-05-18 01:22] #18444 closed

[2022-05-18 01:24] epeng100 opened #18532 "[TE9][TC-SC-5.1] Lock-app is failing on step 2 (./chip-tool groupkeymanagement key-set-write)"
In [TC-SC-5.1] Step 2,
./chip-tool groupkeymanagement key-set-write '{"groupKeySetID": 42,
"groupKeySecurityPolicy": 0, "epochKey0":
"d0d1d2d3d4d5d6d7d8d9dadbdcdddedf", "epochStartTime0": 2220000,"epochKey1":
"d1d1d2d3d4d5d6d7d8d9dadbdcdddedf", "epochStartTime1": 2220001,"epochKey2":
"d2d1d2d3d4d5d6d7d8d9dadbdcdddedf", "epochStartTime2": 2220002 }' 1 0

The result shows UNSUPPORTED_CLUSTER for loc

[2022-05-18 02:56] pankore commented on #18195
Thanks for clarifying and yes, it is over BLE. I have tried qrcode-wifi and it works.

[2022-05-18 02:56] #18195 closed

[2022-05-18 02:56] #18401 closed

[2022-05-18 04:33] turon opened #18535 "[im] ReportData tags differ from spec"
ReportData Action in IM has tags that differ from the spec.

**SDK** (src/app/MessageDef/ReportDataMessage.h)
[code]

**SPEC**
[code]

[2022-05-18 04:39] turon opened #18536 "[im] InvokeRequest action tags differ from spec"
**SDK**

[code]

**SPEC**
[code]

[2022-05-18 04:41] turon opened #18537 "[im] InvokeResponse action tags differ from spec"
**SDK**
[code]

**SPEC**
[code]

[2022-05-18 04:43] turon opened #18538 "[im] WriteRequest action tag for FabricFiltered is missing"
**SDK**
[code]

**SPEC**
[code]

[2022-05-18 04:44] #17384 closed

[2022-05-18 06:49] ryan-ma commented on #14490
@bzbarsky-apple I used this command `./chip-tool pairing open-commissioning-window 1 1 100 1000 3840`
I verified this problem persist in TE9. There is no issue if I run the device with 160MHz.
I captured the log of RPi controller and ESP32, both 80MHz failure and 160MHz passed case
[TC-MF-1.21-80MHz-Timeout-RPi-Controller.txt](https://github.com/project-chip/connectedhomeip/files/8713842/TC-MF-1.2

[2022-05-18 07:29] sowmyassp commented on #18143
With latest commitID (25e241ebcbf11b1f63dbe25546b1f10219866ad0) I am facing same issue

[2022-05-18 07:30] sowmyassp commented on #18143
PFA Logs :
[MF_1_9_cntrl2.txt](https://github.com/project-chip/connectedhomeip/files/8714094/MF_1_9_cntrl2.txt)
[MF_1_9_cntrl.txt](https://github.com/project-chip/connectedhomeip/files/8714096/MF_1_9_cntrl.txt)
[MF_1_9_dut.txt](https://github.com/project-chip/connectedhomeip/files/8714097/MF_1_9_dut.txt)

[2022-05-18 07:30] manjunath-grl opened #18544 "[TC-TSTAT-2.2] Write for Thermostat cluster command above max and below min value returns Sucess Response"
Summary:
As per the Test-plan the test Step tells we have use write command to write the below min and above max value it should return the error CONSTRAINT_ERROR (0x87)
but when we execute the YAML script it returned with status: Success (0x0000)
Attributes : OCCUPIEDCOOLINGSETPOINT , OCCUPIEDHEATINGSETPOINT , MINHEATSETPOINTLIMIT , MAXHEATSETPOINTLIMIT , MINCOOLSETPOINTLIMIT ,MAXCOOLSETPOINTLIMI

[2022-05-18 07:34] Damian-Nordic commented on #18316
I think it might have been fixed on master: https://github.com/project-chip/connectedhomeip/pull/17841/files. @kkasperczyk-no is going to test that.

[2022-05-18 07:41] fessehaeve commented on #18316
I had done a test on ToT before a few days and couldn't reproduce the issue. It is a TE9 issue which is  solved after the cutoff.

[2022-05-18 07:53] manjunath-grl opened #18545 "Thermostat cluster "SetpointRaiseLower" command shwoing status = 0xc3 (UNSUPPORTED_CLUSTER)"
Summary:
[TSTAT-2.2] Thermostat cluster  "SetpointRaiseLower" command shwoing status = 0xc3 (UNSUPPORTED_CLUSTER) when executed
Spec screenshot:
![image](https://user-images.githubusercontent.com/102359958/168986853-24f8a967-8c0b-4e8e-86e2-6dca18b66426.png)
Testplan screenshot:
![image](https://user-images.githubusercontent.com/102359958/168987080-f7599b8c-5c3b-44ee-9296-6498c17631d8.png)
Executio

[2022-05-18 07:57] kkasperczyk-no commented on #18316
Yes the https://github.com/project-chip/connectedhomeip/commit/fb68954f39d46fea37e7c0bcc9e9da7f8ea7f71a commit solved the issue on master.

[2022-05-18 08:20] Damian-Nordic commented on #18316
@fessehaeve shall we close the issue then?

[2022-05-18 08:22] #18316 closed

[2022-05-18 09:22] franck-apple commented on #12090
duplicate with #18084. Closing.

[2022-05-18 09:22] #12090 closed

[2022-05-18 09:27] franck-apple commented on #12012
Not seen on raspPi. Closing

[2022-05-18 09:27] #12012 closed

[2022-05-18 10:23] sstruchtrup opened #18548 "Avahi mDNS broken"
#### Problem
I observe that commissioning with the Avahi-based mDNS is not possible, both on the TE9 commit as well as on current master (a777a801c6f0637ee54f83a63d02f662338e8b51).

This is observed on our DUT, but can be reproduced with the lighting-app on Linux over Ethernet.

For current master, I am using
`# chip-tool pairing manualcode 1 749701123365521327694`

For TE9:

`# chip-tool pairing

[2022-05-18 10:25] sstruchtrup commented on #18548
`PublishService 2513E4427B7AFD23-0000000000000001._matter._tcp5540.-1`

I am noting that interface is -1 here, i.e. AVAHI_IF_UNSPEC - don't think this is the problem though.

[2022-05-18 10:43] sstruchtrup opened #18549 "Multi-fabric broken (Ethernet device, minimal mDNS, TC-MF-1.21)"
#### Problem

Multi-Fabric tests (TC-MF-1.21) fails after adding 6..9 additional controllers.
This seems to be mDNS related. Observed during TE9 with our DUT, which currently using the minimal mDNS for development.

Reproducible on TE9 tag with the example lighting-app as well as on current master (a777a801c6f0637ee54f83a63d02f662338e8b51).

chip-tool output:
[code]

lighting-app does not show any

[2022-05-18 10:44] sstruchtrup commented on #18549
This cannot be tested with the Avahi-based mDNS, as this seems to be completely broken at the moment, cf. #18548.

[2022-05-18 10:49] fessehaeve opened #18550 "General commissioning commands are not optional anymore"
#### Problem
SetRegulatoryConfig and SetRegulatoryConfigResponse commands are not tied to a feature since features are removed in general commissioning cluster.

 #### Proposed Solution
Set optional to false in XML definition.

[2022-05-18 11:44] doru91 opened #18551 "Linux Chip-Tool restricts BLE bitrate to 1MBPS"
#### Problem
* BLE throughput between Linux Chip-Tool and a device (e.g.: Thread + BLE) that is being commissioned can not be promoted to 2M.
* In the capture below, Slave is K32W0 and Master is chip-tool. Slave sends a LL_PHY_REQ asking for 2M PHY but Master rejects this query in LL_PHY_UPDATE_IND.
![image](https://user-images.githubusercontent.com/9597450/169029144-33a3995a-195e-4445-a251-cdccc7

[2022-05-18 11:46] chshu commented on #12193
To verify RIO functionality, we added a shell command (#13900) to establish CASESession from a Wi-Fi node to a Thread node. If the CASESession is done, it means the Wi-Fi node has processed the RIO properly.

The Test harness will test RIO in other way, but out of SDK scope.

[2022-05-18 11:46] #12193 closed

[2022-05-18 12:06] sstruchtrup commented on #18549
Might be related/duplicate of #18256

[2022-05-18 12:27] vivien-apple commented on #18454
The thing is that generating such a code is not possible with the current format of the manual code. The reason is that the encoding of the version + the 2 ms-bits of discriminator + the presence of pid/vid is encoded as a single digit.
The 2 ms-bits of discriminator are basically + the presence of pid/vid generates a number between 0-7.
A new "version" of the manual code will be visible by a sing

[2022-05-18 12:27] #18454 closed

[2022-05-18 13:09] sowmyassp commented on #17205
Its part of version that QR code is invalid

[2022-05-18 13:10] #18413 closed

[2022-05-18 13:22] vivien-apple commented on #18324
Did a PR (#18554)

[2022-05-18 13:32] vivien-apple commented on #18253
As discussed on slack can't you just do:

Launch chip-tool into interactive mode: `chip-tool interactive start`. Then once in interactive mode:

[code]

[2022-05-18 14:05] vivien-apple commented on #18143
Looking at the logs the issue is that it takes "2" minutes before failure. It happens before this is the default configured timeout for the "pairing" module.
I did https://github.com/project-chip/connectedhomeip/pull/18555 to makes it configurable. Something like `--timeout 25` should be fine looking at the logs...

[2022-05-18 14:13] vivien-apple commented on #17950
See comment https://github.com/project-chip/connectedhomeip/issues/18413#issuecomment-1129998162

I suggest manipulating the ACL since the `commissioner-nodeid` behaviour seems to have changed Let me know if that helps....

[2022-05-18 16:05] vivien-apple commented on #17633
It just seems that the attributes ids are wrong if in the xml definition of the cluster :/

[2022-05-18 16:10] vivien-apple commented on #17594
This is a duplicate of #17633

[2022-05-18 16:16] vivien-apple commented on #17635
Sorry my comment was not clear enough.

The initial set of commands should be:
[code]

If you don't pass `commissioner-name` to commands you end up using the "default" fabric (which is `alpha`)

[2022-05-18 16:28] vivien-apple commented on #17598
This is a duplicate of #16614

[2022-05-18 16:40] vivien-apple commented on #16614
It happens because the code is going thought some old ember code path at Failed to prepare data to write: ../../../examples/all-clusters-app/linux/third_party/connectedhomeip/src/app/util/ember-compatibility-functions.cpp:866: CHIP Error 0x0000002F: Invalid argument

For some reason I can not reproduce while trying with #18561 (which is itself on top of https://github.com/project-chip/connectedhom

[2022-05-18 17:02] vivien-apple commented on #14628
Duplicate of #17532

[2022-05-18 17:02] #14628 closed

[2022-05-18 17:03] #18324 closed

[2022-05-18 17:06] #18230 closed

[2022-05-18 17:08] #4224 closed

[2022-05-18 17:29] #18143 closed

[2022-05-18 17:38] vivien-apple commented on #17596
It sounds like a platform specific issue where the platform needs to declare which locales it supports. Currently Linux is returning an hardcoded list of locales at https://github.com/project-chip/connectedhomeip/blob/4967c0e0a51e3e0f0216c551d35b4cbde5aea7e4/src/platform/Linux/DeviceInfoProviderImpl.cpp#L222

[2022-05-18 19:08] #15757 closed

[2022-05-18 19:10] vivien-apple commented on #16614
Ok... Now I know why it was working with https://github.com/project-chip/connectedhomeip/pull/18561.
The command used in the description is assuming that "SupportedLocales" have the correct attribute id per spec. It does not currently as mentioned in #17633 and if the command is updated to represent that so it becomes `chip-tool any write-by-id 0x002B 2 newsupportedlocales 3 0` then `UNSUPPORTED_W

[2022-05-18 19:10] #16614 closed

[2022-05-18 19:50] jmeg-sfy commented on #17633
seen this at TE9 breaking 2 test steps thank Vivien for doing this

[2022-05-18 20:02] jmeg-sfy commented on #14056
actually this is still a problem (need to be rewritten) in the SDK looking at PICS -<vs>- FeatureMap
and the fact we cannot still test featureMap's bit flag against YAML  PICS_MyFeature

[2022-05-18 20:12] tehampson commented on #17310
@Survensa just to confirm this is with the all-clusters app right? I am going to continue investigating with this assumption, but it would be good just to get confirmation. Thanks!

[2022-05-18 20:18] #17633 closed

[2022-05-18 20:55] #17532 closed

[2022-05-18 20:58] andy31415 commented on #18256
Recursive minmdns support added. Closing issue.

[2022-05-18 20:58] #18256 closed

[2022-05-18 20:59] andy31415 commented on #18549
@sstruchtrup  could you describe testing steps here? How can I reproduce the issue and what commands do I need to run to reproduce it.

Was this tested on latest or TE9? The latest changes to minmdns that affect device discovery were merged only recently.

[2022-05-18 21:00] andy31415 commented on #18155
@yinyihu-silabs - do you happen to have tests to validate this?

I have submitted a final fix for #18256 yesterday, would like to validate if this fixes this issue or not.

[2022-05-18 21:04] andy31415 commented on #17314
@Survensa could you provide a summary of which of the above are mandatory vs optional and what you are observing based on featuremap key on your tests?

Looking at the first few:
  - DoorOpenEvents is conformance `[DPS]` so it seems optional to me and even then only available if DPS feature exists
  - same for doorclosedevents and openperiod

overall the list of items in door lock seems to contain

[2022-05-18 21:07] andy31415 commented on #18084
I believe this should be fixed in ToT. @adamb-q would you be able to verify or provide me the steps so I check myself.

I am not yet familiar with how to fetch steps from the code of tests like `MF-1.3`.

[2022-05-18 21:09] #17986 closed

[2022-05-18 21:15] vivien-apple commented on #18371
@jmeg-sfy ?

[2022-05-18 21:21] vivien-apple commented on #17948
Looking at the log, the command used is `basic read-event shut-down 1 0` but this can not work.

In order to ge the shutdown event, your only chance is to subscribe to it. So you need to:

Launch `chip-tool` into interactive mode with the command `chip-tool interactive start`

Then once in interactive mode:
[code]

If you now turn off the DUT you should see something like
[code]

[2022-05-18 21:43] mrjerryjohns opened #18580 "Shutdown and reclaim server-side IM resources on underlying session going away"
#### Problem

IM resources on the server today continue to exist and linger around even if their bound session has gone away.

#### Proposal

Register for the `OnSessionReleased` delegate in the IM engine perhaps, and iterate over all Read/Command/Write handlers and evict those that are bound to the matching session.

[2022-05-18 22:15] Garik098 opened #18582 "TE9 chip tool Darwin testing - TC-MF-1.23, 1.24: Was able to add more than three fabrics when max fabric variable was set to 3"
As part of TC-MF-1.23 and TC-MF-1.24 testing, the max fabrics variable in chip tool Darwin was set to 3. As per the testcase steps, the commissioning of the 4th fabric should  should fail as max fabrics was set to 3. But was able to commission 3 chip tool Darwin fabrics (alpha, beta, gamma) and 3 chip tool fabrics (alpha, beta, gamma). The output for commissioned fabrics shows 6.

Commands used to

[2022-05-18 22:18] Garik098 commented on #18582
Apart from the above issue, I was seen one more issue which is related to these testcases. In chip tool Darwin, when max fabrics was set to 2, the building of binary was going through but the manual pairing of the first fabric is failing with the below internal error.

[1652907113645] [50948:4032040] CHIP: [TOO] Controller factory startup failed
[1652907113645] [50948:4032040] CHIP: [TOO] Run comm

[2022-05-18 22:45] mrjerryjohns opened #18583 "Shift multi-callback management from `OperationalDeviceProxy` to `CASESessionManager`"
#### Problem

Comments like [this](https://github.com/project-chip/connectedhomeip/pull/18569#discussion_r876335578) one reveal that clean-up of `OperationalDeviceProxy` instances on failure is just fraught with peril. Currently, callers of `FindOrEstablishSession` are responsible for releasing `OperationalDeviceProxy` instances on error. This is really error-prone. The ability for `OperationalDev

[2022-05-18 22:45] mrjerryjohns commented on #18583
FYI @msandstedt @bzbarsky-apple

[2022-05-18 23:27] liamgonyea commented on #18273
### Status Update
Confirming the support for Unpair command in `chip-tool-darwin` is there and working on commit: `d79a0e3784b4e829b5df7e50afc81fe3cb067405`

#### Logs
[TC-DD-3.20 Logs.txt](https://github.com/project-chip/connectedhomeip/files/8721409/TC-DD-3.20.Logs.txt)

[2022-05-18 23:47] cjandhyala commented on #16432
@AntonGrey do you still see the issue ?

[2022-05-18 23:48] cjandhyala commented on #16422
@AntonGrey Could you re-test this with latest SDK and confirm ?

[2022-05-19 00:31] cabin15 opened #18586 "[TE9] Test plan does not describe the verification steps how to simulate the failure on TC-DIAG-TH_NW-3.5"
#### Problem
On TC-DIAG-TH_NW-3.5, test steps (Step 1~8) asks me to do "Simulate a xxxxx failture", such as

"Simulate an Unspecified failure on TH"
"Simulate a LinkDown failure on TH"
"Simulate a HardwareFailure on TH"
"Simulate a NetworkJammed Failure on TH"
"Simulate an Unspecified failure on TH"
"Simulate a LinkDown failure on TH"
"Simulate a HardwareFailure on TH"
"Simulate a NetworkJammed Fa

[2022-05-19 01:19] liamgonyea commented on #18272
@krypton36 I can confirm that they are issues on chip-tool-darwin.

### TC-DD-3.14 Testing Update
The same commands above are failing on commit: `d79a0e3784b4e829b5df7e50afc81fe3cb067405`
[TC-DD-3.14 Logs.txt](https://github.com/project-chip/connectedhomeip/files/8721916/TC-DD-3.14.Logs.txt)

[2022-05-19 01:34] #18384 closed

[2022-05-19 02:57] #14449 closed

[2022-05-19 03:02] bzbarsky-apple commented on #7285
After the changes in https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5217 I believe the SDK matches the spec.

[2022-05-19 03:24] bzbarsky-apple commented on #8433
After #18530 what's left here is the IPK issue from https://github.com/project-chip/connectedhomeip/issues/8433#issuecomment-1117597121, I think.

[2022-05-19 03:40] kowsisoundhar12 opened #18590 "[TC-DL-2.11] ClearYearDay Schedule Command is giving UNSUPPORTED_COMMAND Error"
ClearYearDay Schedule Command is giving( UNSUPPORTED_COMMAND 0x81 ) Error
![11](https://user-images.githubusercontent.com/57476670/169199380-841a66a1-2ac3-4b80-875f-fbd1a681ab57.png)
![error-screenshot](https://user-images.githubusercontent.com/57476670/169199397-e7ac150c-546a-4078-a91e-5183407e875b.png)
[Test_TC_DL_2_11.zip](https://github.com/project-chip/connectedhomeip/files/8723257/Test_TC_DL

[2022-05-19 03:50] kowsisoundhar12 opened #18591 "[TC-DL-2.11] need to compare LocalEndTime and LocalStartTime but getting type error in yaml"
Summary :
As per testplan need to Verify  LocalEndTime is greater than LocalStartTime or not but getting type error ,i have used SaveAS function to store the LocalStartTime value

Testplan screenshot:
![testplan](https://user-images.githubusercontent.com/57476670/169200234-f36f993a-0daa-433f-8e45-a3e925fd6efb.png)

Error screenshot:
![error-screenshot](https://user-images.githubusercontent.com/574

[2022-05-19 03:51] Leo2442926161 opened #18592 "chip-tool should store persistent data in a configurable location so it can outlive OS reboot"
#### Problem
<what's wrong or missing, please include any applicable:
 * expected behavior
 commissioner and commissionee are able to interaction with each other everytime since paired.

 * actual behavior
 it lost connection when I restarted ubuntu, I have using "sudo ./chip-tool pairing ble-thread" to pair it again for establish a connection.

 * steps to reproduce
 just reboot ubuntu in VMware.

[2022-05-19 04:46] bzbarsky-apple commented on #14490
Thank you, that is very helpful.  It looks like we are hitting the 5-second timeout for this command, which is probably (1) too short and (2) should be configurable anyway.  Let me create a PR to fix both.

[2022-05-19 05:34] kowsisoundhar12 opened #18595 "[TC-DL-2.12&TC-DL-2.16] Following commands are missing in Door lock cluster"
Following commands are missing in door lock cluster
GetUserStatus
SetRFIDCode
GetRFIDCode

![error-screenshot](https://user-images.githubusercontent.com/57476670/169217268-d82452f0-6191-40e7-8e8a-e009531fca47.png)
![error-screenshot](https://user-images.githubusercontent.com/57476670/169217289-a8ca966e-0ad6-4cbb-8412-9c23f4b50353.png)
[execution-logs.zip](https://github.com/project-chip/connectedh

[2022-05-19 06:47] jmeg-sfy commented on #18371
@Survensa  are you using the latest ToT or are you on TE9 tags ?

[2022-05-19 06:47] kowsisoundhar12 commented on #18591
[DL 2.8] As per testplan need to Verify EndMinute is greater than StartMinute or not but getting type error ,i have used SaveAS function to store the StartMinute value
![2022-05-18_22-43](https://user-images.githubusercontent.com/57476670/169227933-cf45ff7c-76cf-4e88-8296-850a4bb13489.png)

![2-8](https://user-images.githubusercontent.com/57476670/169228115-5090b4d5-dd39-4aab-8f80-7db61fe33d40.png

[2022-05-19 07:32] kowsisoundhar12 commented on #18591
[TC-DL-2.8]
As per testplan need to Verify EndMinute is greater than StartMInute or not but getting type error while running build command ,i have used SaveAS function to store the StartMinutevalue

[Test_TC_DL_2_8.zip](https://github.com/project-chip/connectedhomeip/files/8726700/Test_TC_DL_2_8.zip)
[exe-logs.zip](https://github.com/project-chip/connectedhomeip/files/8726701/exe-logs.zip)

![2022

[2022-05-19 07:43] Rajashreekalmane opened #18601 "[TC-IDM-5.2]-Chip-tool needs to provide a way to set delayed write request to verify the step 3"
**#### Problem**
As per Test-Plan, [TC-IDM-5.2] test step 3 expecting that we should set "Wait for 5 seconds(Timer has expired) and then send the Write Request Message to the DUT", But Chip-tool needs to provide a way to set wait time for write request messages.

**PFA screenshot below:-**
![image](https://user-images.githubusercontent.com/95841834/169238704-b3167b09-e9f5-4d6d-a046-6c42aa1f5ddb.pn

[2022-05-19 08:24] adamb-q commented on #18084
@andy31415 compiled qpg-light on ToT (70e259c834c69b4a54bb78ce3fa9693274543887) but error still occurs. Attaching the logs (pretty much the same as uploaded before) In the logs there are also steps if you want to reproduce it yourself:

[DUT.txt](https://github.com/project-chip/connectedhomeip/files/8727303/DUT.txt)
[TC_MF_1_3.1652945057.log](https://github.com/project-chip/connectedhomeip/files/8

[2022-05-19 09:04] nansenLV commented on #18417
It seems that the issue is exist in many examples(e.g. chip-tv-app all-cluster-app). I  found the commissionee advertising in a time that so short less than 500ms in the hci log captured by the tool hcidump.

The hci log for device advertising
![hcilog_1652951024531](https://user-images.githubusercontent.com/24825863/169256406-7dbb80db-6380-449b-9816-3a4434c64e4e.png)

[2022-05-19 10:04] nansenLV commented on #17963
It seems that the issue is simlar to mine. Maybe the problem is about advertising over BLE of the commissionee.

My issue link:
https://github.com/project-chip/connectedhomeip/issues/18417

[2022-05-19 10:18] vivien-apple commented on #17205
For the version specific bits, it should be covered by #18606.
That said I suspect that if I close this issue as if once #18606 lands a new one will popup mentioning commissioning flow or the test vendor id :/

[2022-05-19 10:36] vivien-apple commented on #16432
So looking at the log, the set of commands involved are:
On TH1: `./chip-tool generalcommissioning arm-fail-safe 60 0 60 1 0`
On TH2: `./chip-tool generalcommissioning arm-fail-safe 950 1 100 1 0`

Which, per my understanding, implies:
 * Commissioning window is not opened
 * On the first command, the fail-safe-timer is not armed. though it is armed on the second command
 * Commands are sent over

[2022-05-19 10:53] vivien-apple commented on #18148
If I understand correctly the issue, I think what needs to be done is to add a set of optional parameters to `chip-tool pairing` so one could configure the commissioning parameters (https://github.com/project-chip/connectedhomeip/blob/72266d71d9b71454a38af999a8b99077ee365b60/src/controller/CommissioningDelegate.h#L82)

Those commissioning parameters should then be configured to pass in the regulat

[2022-05-19 11:39] wxiangcheng commented on #18194
Thanks Cecille. I tried to make it passed PASE phase now(some timeout issue) and currently the commission still fails at CASE phase.
The current log indicates: chip[DIS]Verifying the received credentials, but then it failed with "CHIP_ERROR_INVALID_SIGNATURE" because of "MBEDTLS_ERR_ECP_VERIFY_FAILED".

I'm wondering how to get a standard debug method for the new comer on a new board (not in src/p

[2022-05-19 12:23] Rajashreekalmane opened #18608 "[TC-IDM-2.2]-Chip-tool needs to support the "SuppressResponse field" value to set for Read Request Message to the DUT to read an attribute"
#### Problem
Chip-tool needs to provide API to set the SuppressResponse field value.
As per the Test-Plan, the test step 32 in [TC-IDM-2.2] is expecting to set SuppressResponse field set to False.

**PFA screenshot below:-**
![image](https://user-images.githubusercontent.com/95841834/169291922-3f7b84c2-f93f-4057-b709-98302c5db81f.png)

**system configuration**
Chip-Tool: RPI
DUT: RPI
Platform : IP

[2022-05-19 12:39] #14490 closed

[2022-05-19 12:43] bzbarsky-apple opened #18609 "Sort out who is responsible for cleaning up OperationalDeviceProxy instances when FindOrEstablishSession returns an error"
#### Problem
Right now if someone calls `CASESessionManager::FindOrEstablishSession` and the result is a failure, it's not clear what happens to the `OperationalDeviceProxy` that was allocated to track the connection establishment.  Some consumers call `CASESessionManager::ReleaseSession` on the peer id that failed to resolve.  Some do nothing in particular.

 #### Proposed Solution
The big questi

[2022-05-19 12:43] AntonGrey commented on #16432
Looks like TC-GC-1.3 was removed from the Test Plan.
@vivien-apple thank you for explanation.  You are definitely right.
Originally, I was confused by the Verification steps document.  There were steps with mistakes.
Actually, I have performed TC-GC-2.3 which looks very close to original TC-GC-1.3. This test was successful.

[2022-05-19 12:44] #16432 closed

[2022-05-19 12:47] bzbarsky-apple opened #18610 "Figure out what read path count enforcement should look like."
#### Problem
Right now (except in configurations that allow completely unlimited paths) we outright reject any read attempt that has more than the spec-mandated minimum number of paths, no matter how many paths we can actually support or how many fabrics we actually have configured.

 #### Proposed Solution
Figure out whether we can have a maximum that is not also the bare minimum, possible depend

[2022-05-19 12:48] #18343 closed

[2022-05-19 12:54] AntonGrey commented on #16422
I have tested these test cases with TE9 SDK version.
The original issue isn't reproduced. But TestHarnes doesn't check returned MinLevel value.
[code]

[2022-05-19 13:06] doublemis1 commented on #18245
This issue also Impacts all tests where a subscription to events needs to be done. Such as IDM-7.1 IDM -6.2 IDM-6.1

[2022-05-19 13:16] andy31415 commented on #18084
I will try to reproduce - I do not have QPG hardware, so will have to attempt on some different thread board (NRF)

[2022-05-19 13:31] Rajashreekalmane commented on #18253
@vivien-apple Thank you.

[2022-05-19 13:31] #18253 closed

[2022-05-19 13:35] doublemis1 opened #18613 "[IDM-2-2] Wildcards reading receive INVALID-ACTION"
#### Problem

DUT replies on /chip-tool any read-by-id 0xFFFFFFFF 0 1 1 (./chip-tool any read-by-id 0xFFFFFFFF 0 1 0xFFFF), the INVALID_ACTION while
./chip-tool any read-by-id 0xFFFFFFFF 0xFFFFFFFF 1 0xFFFF works correctly.

[code]
 #### Proposed Solution
<suggested fix, suggested enhancement>

[2022-05-19 13:36] Rajashreekalmane commented on #17950
Thank you  @vivien-apple getting expected behavior.

[2022-05-19 13:36] #17950 closed

[2022-05-19 13:43] AntonGrey commented on #16420
I have verifiy this issue with TE9 SDK issue.
Looks like original issue isn't reproducible. But actual behavior still doesn't match TestPlan's expected outcome.

* Expected behavior: After 20 unsuccessful attempts, the 21st shows that you can’t begin PASE (failure at PBKDFRequest, not obtaining a PBKDFResponse).
* Actual behavior: After 20 unsuccessful attempts, DUT just closes a commissioning win

[2022-05-19 13:47] #16662 closed

[2022-05-19 14:19] bzbarsky-apple commented on #18121
@jrhees-cae Are the commands actually enabled in the ZAP config for the device?  It doesn't sound like they are.

[2022-05-19 14:22] bzbarsky-apple commented on #17971
Fixed in #18209.

[2022-05-19 14:22] #17971 closed

[2022-05-19 14:28] bzbarsky-apple commented on #17461
At this point the accepted list is `[0]` and the generated list is `[1]`.  The actual ZAP config has everything disabled (not valid, for required commands), so I'm a little surprised the lists are not just empty...

[2022-05-19 14:29] bzbarsky-apple commented on #18251
The output is decimal, not hex.  Decimal 64 is hex 0x40.

So everything is correct, as far as I can tell.

[2022-05-19 14:29] #18251 closed

[2022-05-19 14:29] andy31415 commented on #18084
Worked for me using nrf-nrf52840dk-light and connecting from my workstation.

had to fix #18615 before that, however after this the test passed.

Here is the test script I used:

[code]

[2022-05-19 14:30] doublemis1 opened #18616 "[SU-2.2] While updateNotAvaliable (delay 60), OTA-R does not send query image after 2 minutes"
#### Problem
After waiting for 2 minutes DUT does not retry QueryImageRequest, it only retries with -q busy, not with -q updateNotAvailable

[provider_su22_3.log](https://github.com/project-chip/connectedhomeip/files/8730182/provider_su22_3.log)

[2022-05-19 14:31] andy31415 commented on #18084
@adamb-q what hardware do you have available for testing? I would like to figure out under what circumstances this happens: if this is qpg only or if this is some environment thing (e.g. I rebooted my OTBR every time and I use random nodeids instead of 1/2 .. I also run on linux-x64 instead of rpi).

[2022-05-19 14:32] andy31415 commented on #18084
Also note: the fixes were in chip-tool, so please confirm that you also tried using chip-tool using ToT (not only the DUT).

[2022-05-19 14:41] doublemis1 opened #18617 "[GC-2.4] Device should response with error for invalid regulatory config value."
#### Problem
Step ./chip-tool generalcommissioning set-regulatory-config 4 12 0 15 0 shall fail
with ifeld ErrorCode as 'ValueOutsideRange'(1) and DebugText as a 'string' value.

[GC_2_4.log](https://github.com/project-chip/connectedhomeip/files/8730316/GC_2_4.log)

[2022-05-19 14:47] #18409 closed

[2022-05-19 14:57] bzbarsky-apple commented on #17809
https://github.com/project-chip/zap/pull/515 will fix things.

[2022-05-19 14:57] bzbarsky-apple commented on #17688
https://github.com/project-chip/zap/pull/515 will fix things.

[2022-05-19 14:57] #18028 closed

[2022-05-19 15:32] bzbarsky-apple commented on #12372
@jmartinez-silabs Could you take a look at aligning the XML with the spec here?  There are all sorts of differences (e.g. the spec has "CurrentY" and the XML has "current y"...

[2022-05-19 15:37] bzbarsky-apple commented on #18538
The SDK is correct here.

[2022-05-19 15:37] #18538 closed

[2022-05-19 15:40] bzbarsky-apple commented on #18190
See https://github.com/CHIP-Specifications/connectedhomeip-spec/issues/4730

[2022-05-19 15:40] #18190 closed

[2022-05-19 15:40] sstruchtrup commented on #18549
@andy31415 This was discovered during TE9 with the TE9 tag, but is also present on current master (commit a777a801c6f0637ee54f83a63d02f662338e8b51).

[2022-05-19 15:42] sstruchtrup commented on #18549
Then I configure the example lighting app (linux):

[code]

[2022-05-19 15:43] sstruchtrup commented on #18549
Initial pairing:
[code]

Then I use the following script for the additional pairings:

[code]

[2022-05-19 15:45] bzbarsky-apple commented on #13864
@lds-jinfeng Is this still reproducible with the TE9 or tip SHA?

[2022-05-19 15:45] liamgonyea commented on #18272
### TC-DD-3.17 Testing Update
The same commands above are failing on commit: `d79a0e3784b4e829b5df7e50afc81fe3cb067405`
No additional failures.

[TC-DD-3.17 Logs.txt](https://github.com/project-chip/connectedhomeip/files/8731034/TC-DD-3.17.Logs.txt)

[2022-05-19 15:47] bzbarsky-apple commented on #14074
Oh, this got fixed in #12065.  We just forgot to remove the TODO comment.

[2022-05-19 15:52] sstruchtrup commented on #18549
Retested against today's master (45f623b73cbdc4a304579882aeb00163f28fd192) with verbose mDNS logging. This somehow fails on the 5th additional pairing.

Full logs for the lighting-app:
[log.txt](https://github.com/project-chip/connectedhomeip/files/8731743/log.txt)

Failed commissioning starts at timestamp 1652975447.

[2022-05-19 15:53] sstruchtrup commented on #18549
I can get a pcap tomorrow if needed.

[2022-05-19 16:04] andy31415 commented on #18549
For some reason MDNS packets are received with several operational data answers. We limit parallel processing to 2, so operational SRV records fail beyond that. Not sure if there is an ordering issue or something else.

[2022-05-19 16:06] #18233 closed

[2022-05-19 16:07] mrjerryjohns commented on #16725
Presumably a minimal version of this will be solved by #18213?

[2022-05-19 16:14] woody-apple commented on #14395
Cert Blocker Review: Assigning with @vivien-apple

[2022-05-19 16:18] bzbarsky-apple commented on #14575
Log shows UNSUPPORTED_ATTRIBUTE for the write.  Sounds like the server was buggy and did not implement the mandatory attribute.....  I did verify that this attribute is implemented for all-clusters-app on tip and writing it works.

[2022-05-19 16:18] #14575 closed

[2022-05-19 16:19] woody-apple commented on #14397
Cert Blocker Review: Assigning to @vivien-apple

[2022-05-19 16:21] woody-apple commented on #16217
Cert Blocker Review: Assigning to @cjandhyala for follow up.

[2022-05-19 16:23] woody-apple commented on #16220
Cert Blocker Review: Assigning to @cjandhyala to verify this is still an issue.

[2022-05-19 16:23] woody-apple commented on #16420
Cert Blocker Review: Assigning to @cjandhyala to follow up to confirm the issue.

[2022-05-19 16:24] woody-apple commented on #16420
Cert Blocker Review: Tagging @bzbarsky-apple in as well.

[2022-05-19 16:24] woody-apple commented on #16422
Cert Blocker Review: Assigning to @cjandhyala

[2022-05-19 16:25] chrisdecenzo commented on #4259
John confirmed to me that this is not an issue given the different contexts.

[2022-05-19 16:27] woody-apple commented on #16725
Cert Blocker Review: @tehampson once complete, can you please file a followup issue to ensure the XML is spec conformant and valid.

[2022-05-19 16:29] woody-apple commented on #16886
Cert Blocker Review: Not a cert blocker, leaving in 1.0 as an optional feature.

[2022-05-19 16:33] bzbarsky-apple commented on #16420
The correct behavior per spec is:

That means closing the commissioning window, and no longer listening for PASE connections.  So the TE9 observed behavior is correct per spec.

I just looked at the test plan, and the expected outcome in step 5 in https://github.com/CHIP-Specifications/chip-test-plans/blob/master/src/multiplefabrics.adoc#tc-mf-1-9-device-exit-commissioning-mode-after-20-failed-com

[2022-05-19 16:33] #16420 closed

[2022-05-19 16:34] woody-apple commented on #16886
Cert Blocker Review: @cjandhyala @mrjerryjohns and @woody-apple to follow up.

[2022-05-19 16:39] woody-apple commented on #17221
Cert Blocker Review: @mrjerryjohns is also working on this, assigning.

[2022-05-19 16:40] woody-apple commented on #17271
Cert Blocker Review: Also assigning @bzbarsky-apple for clarifications

[2022-05-19 16:41] bzbarsky-apple commented on #14653
Just tested, and at least for all-clusters-app I am getting 2 for the cluster revision here.

[2022-05-19 16:42] woody-apple commented on #17314
Cert Blocker Review: Assigning to @cjandhyala to follow up. @bzbarsky-apple points out that this may actually work now.

[2022-05-19 16:44] bzbarsky-apple commented on #17271
Nothing requires any particular application to implement the Mode Select cluster.  If the endpoint does not claim conformance to the Mode Select device type, or some other device type that uses that cluster (none of which are defined so far) then it will not have that cluster.

[2022-05-19 16:44] #17271 closed

[2022-05-19 16:45] bzbarsky-apple commented on #17271
@cjandhyala What needs to be fixed on the certification side here so we are not trying to require this cluster to exist when it doesn't have to?

[2022-05-19 16:46] woody-apple commented on #17596
Cert Blocker Review: Assigning to @woody-apple to find a platform owner for this nRF platform error.

[2022-05-19 16:51] woody-apple commented on #17635
Cert Blocker Review: Per @cjandhyala, this can be closed.

[2022-05-19 16:51] #17635 closed

[2022-05-19 16:52] bzbarsky-apple commented on #17635
Note that the original steps listed in this issue will fail on tip for two reasons:

1. The commissioning window timeouts are too short (need to be at least 180)
2. If that's fixed, we follow the spec now and disallow commissioning a device with multiple node ids onto the same fabric:
[code]

[2022-05-19 16:53] bzbarsky-apple commented on #17759
Fixed in https://github.com/project-chip/connectedhomeip/pull/18303 (but the typo there meant they did not get linked).

[2022-05-19 16:53] #17759 closed

[2022-05-19 16:57] #18550 closed

[2022-05-19 16:59] woody-apple commented on #18084
Cert Blocker Review: Assigning to @cjandhyala to verify if this is resolved.

[2022-05-19 17:00] woody-apple commented on #18148
Cert Blocker Review: Assigning to @cjandhyala.

[2022-05-19 17:01] jrhees-cae commented on #18121
Yes they are. However, having the commands in the .zap is not enough. As stated, the generation tool will not include the commands in the generated-command-list unless the .xml template lists the commandResponse as optional=false.

[2022-05-19 17:01] woody-apple commented on #18155
Cert Blocker Review: Assigning to @cjandhyala to follow up.

[2022-05-19 17:02] bzbarsky-apple commented on #14427
Per Slack conversation with @chrisbeach59 this worked in TE8.

[2022-05-19 17:02] woody-apple commented on #18322
Assigning to @cjandhyala to follow up.

[2022-05-19 17:07] mrjerryjohns commented on #18609
If we fail to establish CASE, starting again from a clean-slate and re-doing operational discovery is likely the best bet going forward. So I don't think holding onto that instance is worthwhile.

I'm not a big fan of objects deleting themselves - I'd prefer the model where CASESessionManager handled both allocation and destruction.

The suggestion I made in #18583 is one way to achieve that while

[2022-05-19 17:08] andy31415 commented on #18549
What is unclear to me is what queries are being made - I see MINMDNS reporting received packets, however I never see a log of "MINMDNS: Sending query" which I would expect to see what chip-tool is asking for (and to figure out why it gets so many replies ... because maybe we are asking for the wrong thing).

[2022-05-19 17:11] bzbarsky-apple commented on #18583
So the CASESessionManager would need to keep track of which callbacks go with which proxy, right?  But yes, we could do that...

[2022-05-19 17:12] bzbarsky-apple commented on #18609
To be clear, this would be more like a "I failed" call on the CASESessionManager, and that would then do the cleanup....

[2022-05-19 17:15] andy31415 commented on #18549
Unassigning this to give priority to cert blockers for now.

[2022-05-19 17:23] bzbarsky-apple commented on #18321
This command's implementation tries to set the attributes in the in-memory attr store, but they don't live there (they're in the `DiagnosticDataProvider`, so that fails).  @yufengwangca

[2022-05-19 17:28] bzbarsky-apple commented on #18321
That said, even with this fixed this will fail on platforms where there is no diagnostics data provider (i.e. not Linux).

[2022-05-19 17:42] bzbarsky-apple commented on #18363
In `examples/lock-app/efr32/src/LockManager.cpp` we have:
[code]
That means `emberAfPluginDoorLockOnDoorLockCommand` returns false, so `DoorLockServer::HandleRemoteLockOperation` does:
[code]
with `operationOk` set to false.

@mykrupp could you please take a look?

[2022-05-19 17:43] bzbarsky-apple commented on #18363
That is, either locking while already locked should succeed, and then the example app code is wrong.  Or it should fail and then the test plan is wrong?

[2022-05-19 17:45] bzbarsky-apple commented on #18364
This seems like the key part in the server log:

@Survensa what exact commands were run on the client here?  Specifically, what were the steps to ensure that pre-condition 3 ("PINCode valid value is 'xxxxxxxx'") was met?

[2022-05-19 17:46] #17204 closed

[2022-05-19 17:53] tcarmelveilleux opened #18633 "Update AddNOC to follow final error handling spec text"
#### Problem
In https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5231, error handling got normalized to follow reality. The updates need to be taken in once landed in spec. This was a Must-Fix 1.0 spec issue

 #### Proposed Solution
- Rename `MissingAdminNode` enum value to `InvalidAdminSubject`
- Rename `CaseAdminNode` command field to `CaseAdminSubject`
- Remove `MissingIpk` enum

[2022-05-19 18:00] yunhanw-google commented on #10596
From boris, "I don't think we send node ids on the wire in the IM anymore... it's still there in the IBs, but we never try to read it outside tests and never try to write it outside tests."  Agree with boris, I think it is file to close 10596, and just left it in IB definition

[2022-05-19 18:00] #10596 closed

[2022-05-19 18:06] tehampson commented on #16725
If my understanding is correct, the only change to make XML spec conformant for this is already in the PR:
https://github.com/project-chip/connectedhomeip/pull/18213/files#diff-0c8fe8ba57ad140fcc2d890c91031601ea3912191591d86fda602c03b8bc46f7

[2022-05-19 18:07] mykrupp commented on #18363
Yes, I will take a look. Can I get confirmation on how this was built, and that it is being run on the efr32 platform?

[2022-05-19 18:14] bzbarsky-apple commented on #18407
@yinyihu-silabs Is this using all-clusters-app or lock-app as the server?

[2022-05-19 18:23] Garik098 opened #18634 "chip-tool-darwin testing: As part of Multi Fabrics tests, reading fabrics output not matching chip-tool output"
As part of Multi Fabric tests, there are few steps to read fabrics after remove commissioner steps too see if the respective fabric was removed. In chip tool Darwin, read fabrics command is not giving the list of fabrics at the end to see if the respective fabrics has been removed while chip tool gives that list.

Need this list to conform if the fabric removed was as per the expectation.

**Chip

[2022-05-19 18:28] chirag-silabs opened #18635 "MF-1.21 Second device commissioning seems to be failing via Manual code"
#### Problem
<what's wrong or missing, please include any applicable:
The second device is not commissioned via manual code. PASE sessions seems to be failing
 * expected behavior
The second device should get commissioned via the manual code
 * actual behavior
It shows secure pairing failed. Commissioning discovery over BLE failed

* steps
Commissioning window is open on first controller via
./chi

[2022-05-19 18:28] isiu-apple commented on #18484
Traced the code in debugger and found that when OTA-R fails to communicate with OTA-P when it is killed, OTA-R ends up calling:

`DefaultOTARequestor::DisconnectFromProvider()`

Which calls:  `mCASESessionManager->ReleaseSession(fabricInfo->GetPeerIdForNode(mProviderLocation.Value().providerNodeID));`

And eventually successfully releases the session object in: `CASESessionManager::ReleaseSession(

[2022-05-19 18:41] andy31415 commented on #16725
I believe this is just surfacing a general issue of "we need xml to match spec". It showed up during reviewing feature maps, with the question of "how do we make sure xml lists all possible features", however the generic followup should be "ensure XML matches spec".

We may also want to split the followup somehow, since each cluster could be checked individually.

[2022-05-19 18:45] isiu-apple commented on #18484
From @mrjerryjohns: `CASESessionManager` is responsible for managing `OperationalDeviceProxy` instances, which are responsible for managing all the state machinery needed to do operational discovery + session establishment there after. To initiate an interaction to a peer, you're expected to retrieve an `OperationalDeviceProxy` instance for that peer, and retrieve the embedded `SecureSessionHandle

[2022-05-19 18:47] bzbarsky-apple commented on #14565
This is fixed now, I believe.

[2022-05-19 18:47] #14565 closed

[2022-05-19 19:41] #14074 closed

[2022-05-19 20:02] #11818 closed

[2022-05-19 20:12] msandstedt commented on #18583
We use the SecureSessionTable and Sessions directly, so aren't exposed to any of this.  I defer to others on how `OperationalDeviceProxy` and `CASESessionManager` should work together.

[2022-05-19 20:13] bzbarsky-apple commented on #14228
@PSONALl Are you still seeing this?  It seems to work for me on tip, at least against a MacOS server.....

[2022-05-19 20:31] andy31415 commented on #8000
Maximum number of records returned is configurable - #16535 added that functionality.

[2022-05-19 20:35] andy31415 commented on #8000
Marking as closed: combination of #16535 and #16181

[2022-05-19 20:35] #8000 closed

[2022-05-19 20:37] andy31415 commented on #8438
As far as I am aware, we are able to advertise multiple operational networks and we are able to do operational discovery for specific identities. Multi-admin tests  validate that.

[2022-05-19 20:37] #8438 closed

[2022-05-19 21:22] kghost commented on #18609
I agree upon the part that the address should not be handled inside `OperationalDeviceProxy`.

Agree, but we are already doing this in `OperationalDeviceProxy::OnSessionEstablished/[Error]`, so at lease it doesn't make things worse. Whether we should follow #18583 is a separate story. (Actually, I prefer it than deleting OperationalDeviceProxy objects in themselves.)

[2022-05-19 21:50] Garik098 opened #18641 "TC-DM-4.20 Chip tool Darwin testing: Armfailsafe command not present and Scan Network command giving unsupported command error"
Two issues on TC-DM-4.20.

1 -> Armfailsafe command is not found. As part of the step 2 of TC-DM-4.20, DUT should send ArmFailSafe command to TH. The command is not present in chip tool Darwin as well as chip tool. Below is the screenshot.
<img width="933" alt="Screen Shot 2022-05-19 at 2 48 44 PM" src="https://user-images.githubusercontent.com/34750871/169410270-7bc2eb60-59de-4c71-9549-b961178fc8

[2022-05-19 21:58] mrjerryjohns commented on #18609
How so? It just invokes callbacks, it doesn't actually delete itself.

[2022-05-19 22:06] mrjerryjohns commented on #18609
At some point, I had come to a good head-space in conversations with _someone_ (forget whom), that every logical application client in the system would have their own instance of `OperationalDeviceProxy`. The underlying `SecureSession` would be shared by all, but each logical client would have their own proxy instance.

The pro with this model is that there is no need to then figure out shared-ptr

[2022-05-19 22:15] balducci-apple commented on #18433
Without the `ResumptionID` we don't know the `NodeId` of the peer that is sending us a `Sigma1 with resumption`.

[2022-05-19 22:41] ifyall opened #18644 "[TE9] chip-tool segmentation fault when running TC-PS-2.2"
#### Problem
When running TC-PS-2.2 in TE9, the chip-tool crashed with a segmentation fault when executing the command 'powersource subscribe-event-by-id'

 #### Proposed Solution
Need investigation of the root cause of the segmentation fault.

[2022-05-19 22:53] bzbarsky-apple commented on #18121
@jrhees-cae That should be fixed since #17833 merged: as long as the client-to-server command is enabled, the corresponding response will show up in the generated-command-list, even if marked optional.

The responses will also show up in accepted-command-list in some cases, but https://github.com/project-chip/zap/pull/515 will fix that once it merges.

Please let me know if there is still an issue

[2022-05-19 22:53] #18321 closed

[2022-05-19 23:31] #11748 closed

[2022-05-19 23:31] #14077 closed

[2022-05-19 23:38] isiu-apple commented on #18644
For event subscriptions, try running chiptool in interactive mode:

[code]

[2022-05-20 00:16] dwgaul commented on #18180
Actually it looks like this is an issue with the test plan that is being resolved here: https://github.com/CHIP-Specifications/chip-test-plans/pull/1279

Looking at the spec, Group Name is not an attribute, but is a data field used in the AddGroup, AddGroupIfIdentifying, and ViewGroupResponse commands.

[2022-05-20 00:34] phonnakasturi-apple opened #18646 "Test case to Simulate disconnecting and reconnecting to a Thread network on TH fails with : Error 0x0000002F"
Test case to Simulate disconnecting and reconnecting to a Thread network on TH fails:

**Python command:**
sudo ./chip-tool-darwin  threadnetworkdiagnostics  read-event connection-status 30 0

**Error**
[1653006314770] [95607:996751] CHIP: [TOO] Run command failure: ../../third_party/connectedhomeip/examples/chip-tool/commands/common/Commands.cpp:113: Error 0x0000002F

Attaching the screenshot;

<

[2022-05-20 00:35] joonhaengHeo opened #18647 "[TC-DD-3.20] All cluaster app can't scan after remove fabric."
#### Problem
All cluaster app can't scan after remove fabric.
And, "sudo ./chip-tool discover commissionables" command also can't scan.

Remove Fabric Log.

[1653006728.794110][9253:9253] CHIP:EM: Received message of type 0x8 with protocolId (0, 1) and MessageCounter:3683182 on exchange 57427r
[1653006728.794242][9253:9253] CHIP:EM: Handling via exchange: 57427r, Delegate: 0xaaaae8a7b0a0
[16530067

[2022-05-20 00:59] phonnakasturi-apple opened #18648 "FeatureMap attributes verification throws (UNSUPPORTED_ATTRIBUTE) error for chip-tool and chip-tool-darwin"
FeatureMap attributes verification throws (UNSUPPORTED_ATTRIBUTE) error for chip-tool and chip-tool-darwin

**Python code:**

./chip-tool-darwin timeformatlocalization read feature-map 1 0

Attaching the logs;

[TC-TFL-1.1-logs.txt](https://github.com/project-chip/connectedhomeip/files/8734982/TC-TFL-1.1-logs.txt)

[2022-05-20 01:06] Garik098 opened #18649 "TC-Desc-1.1 chip tool Darwin testing: Reading feature-map attribute gives unsupported attribute error"
As per the steps of TC-Desc-1.1, while reading feature-map attribute through chip tool Darwin, getting the response that the attribute is unsupported.

[1653008222149] [84412:5080464] CHIP: [EM] Removed CHIP MessageCounter:9038501 from RetransTable on exchange 54987i
[1653008222149] [84412:5080464] CHIP: [DMG] ReportDataMessage =
[1653008222149] [84412:5080464] CHIP: [DMG] {
[1653008222149] [84412

[2022-05-20 01:15] #18484 closed

[2022-05-20 01:16] #18641 closed

[2022-05-20 01:19] Garik098 opened #18650 "TC-DM-4.20, 4.21 - Scan Network command giving supported command error with chip tool"
As part of the step 1 of TC-DM-4.20, giving scan network command is throwing unsupported command error in chip tool

Command: ./chip-tool networkcommissioning scan-networks 1 0
[1652996695914] [80844:4942796] CHIP: [DMG] InvokeResponseMessage =
[1652996695914] [80844:4942796] CHIP: [DMG] {
[1652996695914] [80844:4942796] CHIP: [DMG] suppressResponse = false,
[1652996695914] [80844:4942796] CHIP: [

[2022-05-20 01:21] cjandhyala commented on #18180
@Garik098 @dwgaul also I don't see the featureMap attribute in here ..

[2022-05-20 02:34] bzbarsky-apple commented on #16725
Yes, that's implementing "option one".

[2022-05-20 02:45] bzbarsky-apple commented on #18363
@Survensa can you confirm?

@mykrupp I figured this was EFR32 because this line from the above log:
[code]
has a log message that only appears in `examples/lock-app/efr32/src/LockManager.cpp`

[2022-05-20 02:46] mlepage-google commented on #18413
One more detail on those commands vivien provided: you no longer have to provide the fabricIndex in the ACL entries you write with chip-tool, in fact it is ignored, it will just always use your actual fabricIndex. When you read, you'll see them. So whether you provide them in the write, depends just on whether you find it clearer to have the read and write match exactly, or whether you find it cle

[2022-05-20 03:16] bzbarsky-apple commented on #18609
Right, sharing the discovery and session establishment is why we common up operational device proxies....

[2022-05-20 03:54] bzbarsky-apple commented on #13864
@lds-jinfeng So this can be closed?

[2022-05-20 04:15] bzbarsky-apple commented on #18508
The spec is not self-consistent, right?  On the one hand, it lists a constraint, which should result in INVALID_COMMAND per IM definitions of this stuff.  On the other hand, the "Effect on Receipt" prose says:

The implementation seems to be returning INVALID_VALUE, correct?

@Rob-Houtepen-Signify @CamWms could you please take a look at the spec end here?

[2022-05-20 04:17] bzbarsky-apple commented on #18508
And for `AddGroupIfIdentifying` it's even worse: per IM that should error out even if not identifying, but per prose an invalid GroupID is ignored there if not identifying...

[2022-05-20 04:38] wqx6 opened #18655 "[chip-cert] validate-att-cert fails with error code 301"
#### Problem
 On TE9 branch, I generated the PAA certificate, PAI certificate and DAC using chip-cert tool following the readme, but the `validate-att-cert` command failed with error code 301.

 #### Proposed Solution

[2022-05-20 06:25] sstruchtrup commented on #18648
Duplicate of #16725.

[2022-05-20 06:48] cjandhyala commented on #18155
pre @yinyihu-silabs this ticket can be closed

[2022-05-20 06:48] #18155 closed

[2022-05-20 06:55] cjandhyala commented on #18148
@vivien-apple @andy31415 , the question here, Per commissioning flow, commissioner sets the regulatory information using SetRegulatoryConfig. But when @sowmyassp is testing this scenario i.e. provisioning raspi using chip-tool , the chip-tool log shows 'Device does not support configurable regulatory location', which she thinks the commissionee is not confirming to the protocol flow.

log snippet

[2022-05-20 07:06] cjandhyala commented on #17604
@andy31415 this is run on nordic platform

[2022-05-20 07:14] cjandhyala commented on #16422
@AntonGrey Could you file ticket on the script repo https://github.com/CHIP-Specifications/chip-test-scripts, closing this issue as there is no SDK issue here

[2022-05-20 07:14] #16422 closed

[2022-05-20 08:52] adamb-q commented on #18084
@andy31415 it's working now for me on ToT, probably had to recompile both chip-tool and qpg-light from the same commit :) thanks for the support, issue can be closed now.

[2022-05-20 08:52] #18084 closed

[2022-05-20 09:24] sowmyassp commented on #14590
Based on the comment given by jaehs6sam on issue([1238](https://github.com/CHIP-Specifications/chip-test-plans/issues/1238))I have reopened this iissue

[2022-05-20 09:58] sowmyassp commented on #17963
@liamgonyea @nansenLV  We can BLE advertising while commissioning TH with DUT over ble-wifi pairing command

Steps to reproduce :
DUT side :
     sudo ./chip-all-clusters-app --wifi --discriminator 3841

TH side :
     ./chip-tool pairing ble-wifi 1 zigbeehome matter123 20202021 3841

PFA Logs:
[1651743337.156798][5072:5072] CHIP:DL: **CHIPoBLE advertising config complete**
[1651743337.165990][507

[2022-05-20 10:42] locomuco commented on #16664
Using the docker container for development mitigates this problem ([VS Code Instructions](https://github.com/project-chip/connectedhomeip/blob/master/docs/VSCODE_DEVELOPMENT.md))

[2022-05-20 11:57] sowmyassp commented on #17205
For the version specific bits I am getting "Run command failure: ../../third_party/connectedhomeip/src/controller/SetUpCodePairer.cpp:50: CHIP Error 0x0000002F: Invalid argument
"
Commit used : (d346617f388398b40a207c600fb0c0dee3321902)

Steps used :
DUT side :
 ./chip-all-clusters-app --version 0 --vendor-id 0xFFF1 --product-id 0x8001 --custom-flow 2 --capabilities 4 --discriminator 3840 --passco

[2022-05-20 11:58] Rajashreekalmane opened #18663 "[TC-MC-3.7]Application Launcher Cluster--Chip-tool needs to provide a way for TH to sends a LaunchApp command to DUT to launch an app and bring an application to the foreground."
#### Problem
[TC-MC-3.7]Application Launcher Cluster--Chip-tool needs to provide a way for TH to sends a LaunchApp command to DUT to launch an app and bring an application to the foreground.

**Test-Plan screenshot**
![image](https://user-images.githubusercontent.com/95841834/169523593-3b9d25de-cfd0-43d0-be08-cc3cdbab3cc8.png)

[2022-05-20 12:19] Survensa commented on #17314
Test plan has been updated and merged with PR : [1270](https://github.com/CHIP-Specifications/chip-test-plans/pull/1270)

[2022-05-20 12:19] #17314 closed

[2022-05-20 12:30] Survensa commented on #18371
@jmeg-sfy Faced the same issue

commit : d346617f388398b40a207c600fb0c0dee3321902
App : Window app
Connectivity : Thread

[2022-05-20 12:49] sowmyassp commented on #17948
Thank you @vivien-apple, its working
Similarly for leave event also we have to follow the same procedure?

[2022-05-20 12:55] #18648 closed

[2022-05-20 13:00] andy31415 commented on #18647
@joonhaengHeo could you provide details on test setup?

- what is the platform being tested: specifically the DUT (like linux/mac/nrf/esp32/efr32/qpg/other)
- what are the commands that are being executed to reproduce

I imagine it is some form of commission remove fabric and rescan. Please list all commands so we can reproduce.

[2022-05-20 13:03] andy31415 commented on #18644
Segfault is likely unclear shutdown due to timeout

[2022-05-20 13:08] andy31415 commented on #18590
ClearYearDaySchedule has conformance `SCH`. Could you validate if the door lock feature map claims this feature is supported?

[2022-05-20 13:38] Rajashreekalmane opened #18666 "[TC-IDM-3.1]Chip-tool support needed to send a ReadRequest message from TH to DUT to read any attribute on two clusters."
**#### Problem**
As per Test-Plan, test-step 13 says "DUT sends a ReadRequest message to the TH to read any attribute on two clusters",
Chip-tool support needed to  send a ReadRequest message from TH to DUT to read any attribute on two clusters.

**Test-Plan screenshot:-**
![image](https://user-images.githubusercontent.com/95841834/169539252-72de8c34-ad90-4566-b38e-b420b8f9a12d.png)

**Spec Refere

[2022-05-20 13:40] andy31415 commented on #18379
@nansenLV - this bug report is somewhat hard to follow because the logs are very long and the verification steps are not easily found (I do not know how to get steps from the code like TC-IDM-1.2). Please help improve the report by adding the following:

- what platform is this tested on? Chip-tool and DUT data
- what are the TC-IDM-1.2 steps ? Link to test plan is ok, a easy to read list of comma

[2022-05-20 13:56] sstruchtrup commented on #18548
It seems only the first service can be successfully published:

[code]

[2022-05-20 14:25] sstruchtrup commented on #18548
Debug logs from avahi-daemon:

[code]

[2022-05-20 14:26] sstruchtrup commented on #18548
I assume the API is used incorrectly here. `AddService` invoked on the same group after `Commit`.

[2022-05-20 15:24] cjandhyala commented on #16217
Closing this ticket as @andreilitvin commented in #15509 , 'Moving to 1.X because event list support (as per 15011) is not part of V1 feature complete.'

[2022-05-20 15:24] #16217 closed

[2022-05-20 15:26] andy31415 commented on #18121
Marked Boris as assignee since #18674 will resolve this.

[2022-05-20 15:35] #17558 closed

[2022-05-20 15:42] bzbarsky-apple opened #18675 "Platform::MemoryInit pretends to be threadsafe but is not"
#### Problem
MemoryInit has an atomic counter that it uses to ensure `MemoryAllocatorInit` is only called once if multiple `MemoryInit` calls happen.  But you can easily get a race as follows:

1. Thread 1 calls `MemoryInit`, increments counter, loses timeslice before calling `MemoryAllocatorInit`.
2. Thread 2 calls `MemoryInit`, counter is nonzero, MemoryInit returns.
3. Thread 2 does `Platform::

[2022-05-20 15:43] jrhees-cae commented on #18418
The format of the command is incorrect. The Credential parameter needs to be JSON-encoded. For example:
`chip-tool doorlock set-credential 0 '{"credentialType":1, "credentialIndex":1}' '5555' 1 1 0 555 1 --timedInteractionTimeoutMs 1000`

See https://github.com/CHIP-Specifications/chip-test-plans/issues/1298

[2022-05-20 15:52] #18029 closed

[2022-05-20 16:01] jrhees-cae opened #18676 "[Door-Lock-Server] Move Auto-Relock timing out of server and into Application"
#### Problem
DoorLockServer currently implements AutoRelock and UnlockWithTimeout relock timing internally. However, this presents a problem for lock devices that implement such functionality in hardware (for security issues, etc).

 #### Proposed Solution
Two possible solutions:
1. Move relock timing out of door-lock-server and into the application (add implementation to door-lock sample).
2. Enc

[2022-05-20 16:10] jrhees-cae opened #18677 "[Door-Lock-Server] Server sets LockState to 'Locked' upon initialization"
#### Problem
door-lock-server's InitServer method sets the LockState to 'Locked'.

This creates two unwanted side effects:
1. LockState is assumed as 'Locked' until the application changes it (which could be misconstrued by a client).
2. A Lock-Operation-Event is generated in the Event List that says that the door was locked, which is not true.

 #### Proposed Solution
Suggest modifying to set the

[2022-05-20 16:18] jrhees-cae opened #18678 "[Door-Lock-Server] Lock and Unlock commands cause the LockState attribute to immediately be set upon Success"
#### Problem
The LockDoor, UnlockDoor, and UnlockWithTimeout commands received by door-lock-server case that the LockState attribute (and corresponding events) be set immediately after the underlying app returns SUCCESS. This SUCCESS from the calls to the underlying app indicates that the app has successfully accepted the operation, it does NOT mean that the LockState has already moved to its inte

[2022-05-20 16:23] andy31415 commented on #17596
Assigning to myself as well: I have a nrf device so if this is reasonably straight forward to implement, may as well do it.

[2022-05-20 16:24] sowmyassp opened #18679 "[TC-DD-3.17] - DUT should terminate the commissioning process when we pass invalid Code, but DUT successfully completed the commissioning process"
**Issue** : According to test-plan of [TC-DD-3.1] In Step 6b and 7b  its mentioned DUT should terminate the commissioning process when we pass invalid code mentioned in step 6a and 7a but DUT successfully completed the commissioning process.

**Expected behaviour** : DUT should terminate the commissioning mode when invalid QR code is passed

**Actual behaviour** : DUT successfully completed the co

[2022-05-20 16:26] jrhees-cae opened #18680 "[Door-Lock-Server] Move implementation of Clear-All-Users and Clear-All-Credentials into the app"
#### Problem
Per the DoorLock spec, a value of 0xFFFE for a UserIndex or 0xFFFE for a CredentialIndex will cause all Users or Credentials of specified type to be cleared.

Currently, door-lock-server interprets these values and loops internally from 1..NumberOfUsersSupported calling the `emberAfPluginDoorLockSetUser` or `emberAfPluginDoorLockSetCredential` method provided by the application. This

[2022-05-20 16:43] turon commented on #18537
Moved to spec issue https://github.com/CHIP-Specifications/connectedhomeip-spec/issues/5249

[2022-05-20 16:43] #18537 closed

[2022-05-20 16:45] turon commented on #18536
Moved to spec issue https://github.com/CHIP-Specifications/connectedhomeip-spec/issues/5250

[2022-05-20 16:45] #18536 closed

[2022-05-20 16:47] jrhees-cae opened #18681 "[Door-Lock-Server] Calls to emberAfPluginDoorLockOnUnhandledAttributeChange need added attributePath parameter"
#### Problem
The `emberAfPluginDoorLockOnUnhandledAttributeChange` function needs the attributePath parameter added to the parameter list.

 #### Proposed Solution
change function declaration from:
`emberAfPluginDoorLockOnUnhandledAttributeChange(chip::EndpointId EndpointId, EmberAfAttributeType attrType, uint16_t attrSize, uint8_t * attrValue)`
to:
`emberAfPluginDoorLockOnUnhandledAttributeChange

[2022-05-20 16:57] Garik098 commented on #18180
Raised a ticket on test plan - https://github.com/CHIP-Specifications/chip-test-plans/issues/1301

[2022-05-20 16:57] #18180 closed

[2022-05-20 17:06] andy31415 commented on #17596
This is the test script that I am using to validate things:

[code]

[2022-05-20 17:21] Garik098 opened #18685 "TE9 chip tool Darwin testing TC-MF-1.23 and TC-MF-1.24: Getting wrong response for step 6"
As per TC-MF-1.23 and TC-MF-1.24 step 6, error response while adding a fabric past the max fabrics number should be 0x05 but while testing with Chip Tool and Chip Tool Darwin, seeing a No Memory response as the output.

Command used to build the all clusters app on accessory:
scripts/examples/gn_build_example.sh examples/all-clusters-app/linux/ out/all-clusters-app chip_inet_config_enable_ipv4=fal

[2022-05-20 17:21] #18582 closed

[2022-05-20 17:24] g-coppock opened #18686 "[Java] No way to read/subscribe attributes without fabric-filtering"
#### Problem

In the generated cluster code, for example in `OperationalCredentialsClient-ReadImpl.cpp`, the `ReadAttribute` method has a default boolean parameter for `aIsFabricFiltered` which defaults to `true`.

As this generated code does not provide any mechanism by which to set this attribute, all reads are fabric-filtered.

 #### Proposed Solution

Suggested solutions:

1. Generate overload

[2022-05-20 17:42] andy31415 commented on #18666
@Rajashreekalmane - I am a bit unclear here, trying to determine if the issue is `any` being not strictly defined or if chip-tool does not have the ability to read or write two attributes at the same time or something else.

Please describe the issue a bit more. Generally I would expect replacing `any` with a concrete example maybe of some attribute that is always defined and can be changed (like

[2022-05-20 17:49] andy31415 commented on #18663
@chrisdecenzo - would this fall under your development as this involves application launcher cluster?

[2022-05-20 17:51] andy31415 commented on #18616
@doublemis1 - please provide spec information about why expected spec behaviour is not met.

@cjandhyala is this a cert blocker? I seem to remember some slack discussions saying that on "update not available" we currently wait one day (i.e. saying not available now, try later).

Generally trying to update every 2 minutes even when the other side says "not available" sounds reasonably wrong to me.

[2022-05-20 18:21] bluebin14 commented on #18616
@andy31415 ignore "2 minutes", the title should be "When updateNotAvailable, OTA-R does not send query image after DelayedActionTime". Also "retry after x minutes" does not mean "retry every x minutes forever". The suggested number of retries is at most 2. See also https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5248

[2022-05-20 18:32] Rajashreekalmane commented on #18666
@andy31415 chip-tool does not have the ability read or write any attributes from different clusters at the same time,  As my understanding here any attributes means we need to send command which should contain different attributes from different clusters.

[2022-05-20 18:49] #17688 closed

[2022-05-20 18:49] #17809 closed

[2022-05-20 18:49] #18002 closed

[2022-05-20 18:49] #18121 closed

[2022-05-20 20:18] Garik098 opened #18693 "TC-IDM-6.3, 6.4 Chip tool Darwin testing: Need support for read-event-by-id and subscribe-event-by-id in wildcard"
As part of steps in TC-IDM-6.3 and TC-IDM-6.4, need support in chip tool Darwin for read-event-by-id and subscribe-event-by-id. These attributes are present in chip tool but is not present in chip tool Darwin.

<img width="704" alt="Screen Shot 2022-05-20 at 1 16 41 PM" src="https://user-images.githubusercontent.com/34750871/169604379-ff39c400-d55d-478e-a21b-069211f9f52e.png">

[2022-05-20 20:32] Garik098 commented on #18403
Ya its updated Josh. I still see the issue coming up. (Unsupported Access)

[2022-05-20 20:44] Garik098 commented on #18693
As per the comments of Josh and Boris in ticket https://github.com/project-chip/connectedhomeip/issues/18185, read events won't be supported

[2022-05-20 21:46] chrisdecenzo opened #18695 "tv-app example: media playback cluster missing from endpoint 1"
#### Problem
 * media playback cluster is mandatory for basic video player and casting video player

 #### Proposed Solution
Fix zap/regenerate with this cluster and all commands/attributes enabled.

[2022-05-20 22:03] chrisdecenzo commented on #15992
Hi @Rajashreekalmane - with the dummy tv-app, you can just send a pause command to the TV to set the precondition state. Eg:

chip-tool mediaplayback pause 1234 3

Can you add this instruction to the test scripts?

[2022-05-20 22:10] chrisdecenzo commented on #15995
I added this verification note to the test plan:
To verify a device has woken up, any Matter cluster command can be send to the device (for example, read descriptor cluster at endpoint 1).

@Rajashreekalmane - is there an update needed to the test script?

[2022-05-20 22:11] #15995 closed

[2022-05-20 22:26] chrisdecenzo commented on #18663
You can use the launch-app command. For example, the following works to launch an app in the tv-app example:

chip-tool applicationlauncher launch-app '{"catalogVendorId": 123, "applicationId": "exampleid"}' 1234 1

I added this instruction to the notes section of this test case in the test plan doc.

[2022-05-20 22:26] #18663 closed

[2022-05-20 23:40] Karthik2687 opened #18698 "TC-IDM-2.2 read-by-id for all supported cluster for the endpoint 1 reports invalid action"
As per TC-IDM-2.2

4]8.4.3.1/10.6.3.
TH sends the Read Request Message to the TH.
 The Message should read an attribute from all clusters at that Endpoint
 AttributePath = [[Endpoint = Endpoint1, Attribute = AttributeID]]
 On receipt of this message, DUT should send a report data action with the attribute value from all the clusters to the DUT

Verification step:
 sudo ./chip-tool any read-by-id 0

[2022-05-20 23:41] liamgonyea commented on #17963
@sowmyassp I have updated the verification steps for TC-DD-2.2 as the method described above for discovering commissionables through the `chip-tool` pairing command is sufficient for this test case.

Closing this ticket

[2022-05-20 23:41] #17963 closed

[2022-05-21 02:12] andy31415 commented on #18322
Removed @cjandhyala - based on the comment from Vivien, this is a case of "attribute and command missing implementation". A developer can check and I imagine 2 paths:
  - if these are spec mandatory, we should implement
  - if these are spec optional, we will take the bug out of cert blocker as we do not implement optional at this time

[2022-05-21 03:16] bzbarsky-apple commented on #11142
Fixed in #18209.

[2022-05-21 03:16] #11142 closed

[2022-05-21 03:18] bzbarsky-apple commented on #14633
Fixed in #15442.

[2022-05-21 03:18] #14633 closed

[2022-05-21 03:21] bzbarsky-apple commented on #14634
Fixed in #14806

[2022-05-21 03:21] #14634 closed

[2022-05-21 03:22] bzbarsky-apple commented on #14833
@dtodor Is this still an issue after recent pigweed updates?

[2022-05-21 03:24] bzbarsky-apple commented on #14909
It's not clear that we need this, given that ChipLogEror is using the os_log bits....

[2022-05-21 03:27] bzbarsky-apple commented on #14919
Also, this code is not setting the value to null if there is no such index.

This looks like a must-fix 1.0 issue.

@Morozov-5F

[2022-05-21 03:30] bzbarsky-apple commented on #14944
Fixed by #15009

[2022-05-21 03:30] #14944 closed

[2022-05-21 03:31] #14948 closed

[2022-05-21 03:33] bzbarsky-apple commented on #15071
@erjiaqing @andy31415 Is this still an issue?

[2022-05-21 03:33] bzbarsky-apple commented on #15131
Yes, we are generally accepting new chipsets.

[2022-05-21 03:33] #15131 closed

[2022-05-21 03:46] bzbarsky-apple commented on #15132
Fixed in spec, not SDK issue here.

[2022-05-21 03:46] #15132 closed

[2022-05-21 04:26] bzbarsky-apple commented on #15283
This is expected behavior, right?  Subscriptions are not permanent...

[2022-05-21 04:26] #15283 closed

[2022-05-21 04:28] bzbarsky-apple commented on #15377
Fixed in #18209 as far as the YAML support this issue is about goes.

[2022-05-21 04:28] #15377 closed

[2022-05-21 04:29] bzbarsky-apple commented on #15441
@kean-apple Is this still being a problem?

[2022-05-21 04:31] bzbarsky-apple commented on #15409
@tehampson Did #17778 fix this by any chance?

[2022-05-21 04:32] bzbarsky-apple commented on #15426
@carol-apple Is this still an issue given the YAML coverage you added?

[2022-05-21 04:33] bzbarsky-apple commented on #15459
Resolving; behavior is correct.

[2022-05-21 04:33] #15459 closed

[2022-05-21 04:33] bzbarsky-apple commented on #15461
Duplicate of https://github.com/project-chip/connectedhomeip/issues/15011

[2022-05-21 04:33] #15461 closed

[2022-05-21 04:37] bzbarsky-apple commented on #15621
@dhrishi

[2022-05-21 04:39] bzbarsky-apple commented on #15639
You can't require optional attributes to be implemented.  What exactly are you trying to verify?

@cjandhyala

[2022-05-21 04:42] bzbarsky-apple commented on #15640
iOS CHIPTool and the command-line chip-tool are separate admins on separate fabrics.  The "Couldn't get working" steps should allow you to paste the manual code and then commission the same device in iOS CHIPTool, and this does work last I tested.  But the node id will be different, because these are independent fabrics.

[2022-05-21 04:42] #15640 closed

[2022-05-21 04:43] bzbarsky-apple commented on #15677
@andy31415 Is this 1.0 work or post-1.0 work?

[2022-05-21 04:43] bzbarsky-apple commented on #15688
@mrjerryjohns Is this still crashing?

[2022-05-21 04:45] bzbarsky-apple commented on #15740
@vinay-apple Is this still being a problem on current tip?

[2022-05-21 04:48] bzbarsky-apple commented on #15777
Still happening, in TizenWiFiDriver::NetworkMatch.

[2022-05-21 04:49] bzbarsky-apple commented on #15808
Fixed in #18459

[2022-05-21 04:49] #15808 closed

[2022-05-21 04:52] bzbarsky-apple commented on #15944
@vinay-apple Is this still being an issue?

[2022-05-21 04:54] bzbarsky-apple commented on #15969
@kean-apple Did you ever run into this again?

[2022-05-21 04:59] bzbarsky-apple commented on #18183
Fixed in #18276

[2022-05-21 04:59] #18183 closed

[2022-05-21 04:59] #18181 closed

[2022-05-21 04:59] bzbarsky-apple commented on #18184
Fixed in #18276

[2022-05-21 04:59] #18184 closed

[2022-05-21 05:01] bzbarsky-apple commented on #18140
@pankore What is the _exact_ command being executed?  The TE9 discussions I saw had people executing all sorts of incorrect ACL write commands, because some of the test plans were wrong.

[2022-05-21 05:03] bzbarsky-apple commented on #18373
That's passing a number for an argument that expects an array.

This syntax should work:
[code]

(Note that the array entries need to be decimal.)

[2022-05-21 05:03] #18373 closed

[2022-05-21 05:05] bzbarsky-apple commented on #18395
Indeed, if there are >2 fabrics already stored and you rebuild with support for only 2, nothing good can happen....

[2022-05-21 05:05] #18395 closed

[2022-05-21 05:10] bzbarsky-apple commented on #16270
@cabin15 Which of the various logs linked here is showing the error?  I tried looking at [chip-tool-TE9.txt](https://github.com/project-chip/connectedhomeip/files/8681080/chip-tool-TE9.txt), [scan-networks.txt](https://github.com/project-chip/connectedhomeip/files/8663159/scan-networks.txt), [scan-network-with-ssid-null.txt](https://github.com/project-chip/connectedhomeip/files/8680945/scan-networ

[2022-05-21 05:10] bzbarsky-apple commented on #17871
Duplicate of #15011

[2022-05-21 05:10] #17871 closed

[2022-05-21 05:11] bzbarsky-apple commented on #18211
Duplicate of #15011

[2022-05-21 05:11] #18211 closed

[2022-05-21 05:12] bzbarsky-apple commented on #18218
Duplicate of https://github.com/project-chip/connectedhomeip/issues/15011

[2022-05-21 05:12] #18218 closed

[2022-05-21 05:13] bzbarsky-apple commented on #18235
Event list is https://github.com/project-chip/connectedhomeip/issues/15011

Feature map was fixed in #18276

[2022-05-21 05:13] #18235 closed

[2022-05-21 05:15] bzbarsky-apple commented on #18248
Sounds like an issue in the test plan (which one?), not in the SDK.

Please file in https://github.com/CHIP-Specifications/chip-test-plans/ ?

@cjandhyala

[2022-05-21 05:15] #18248 closed

[2022-05-21 05:18] bzbarsky-apple commented on #18296
Doesn't sound like an SDK issue.  If this is a test plan issue, please file in https://github.com/CHIP-Specifications/chip-test-plans/issues

[2022-05-21 05:18] #18296 closed

[2022-05-21 05:19] bzbarsky-apple commented on #18312
@cjandhyala

[2022-05-21 05:20] bzbarsky-apple commented on #18317
@jmeg-sfy What platform is the server in this case?  user-label is implemented on some platforms but not others.

[2022-05-21 05:22] bzbarsky-apple commented on #18323
IdentifyQuery is being removed entirely.  See https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5240

Leaving open for the other bits that need investigating here.

[2022-05-21 05:23] bzbarsky-apple commented on #18326
This was not a valid command (due to the missing SSID for a wifi ScanNetworks) as of when the TE9 branch was created.

Since then, the spec has been changed to allow it, and the implementation has been updated to match.

[2022-05-21 05:23] #18326 closed

[2022-05-21 05:28] bzbarsky-apple commented on #18355
Also, TC-DM-4.17 is a test where the DUT is the _commissioner_, which is not the situation above....

[2022-05-21 05:28] #18355 closed

[2022-05-21 05:33] bzbarsky-apple commented on #18359
The behavior is correct.  The fail-safe is armed at timestamp 1652326002 for 60 seconds.  The connect-network command that fails is at timestamp 1652326062 so right after the fail-safe has expired.  Hence the error, per spec:

[2022-05-21 05:33] #18359 closed

[2022-05-21 05:41] bzbarsky-apple commented on #18379
Test plan is at https://github.com/CHIP-Specifications/chip-test-plans/blob/master/src/interactiondatamodel.adoc#tc-idm-1-2-invoke-response-action-from-dut-to-th

The failures above in step 4 and step 5 are due to https://github.com/project-chip/connectedhomeip/issues/17221 : we end up doing CASE resumption but the node id has changed, so things break.

For step 8, there  is in fact no identify cl

[2022-05-21 05:41] #18379 closed

[2022-05-21 05:50] bzbarsky-apple commented on #18476
The `chip-tool` commands in the log (for TC-MF-1.23) look like this:
[code]
Those are in fact trying to commission the device into the same fabric.  To use different fabrics, see the `--commissioner-name` argument to `chip-tool`.

Given those commands, the "Trying to add a NOC for a fabric that already exists" response is correct.

[2022-05-21 05:50] #18476 closed

[2022-05-21 05:52] bzbarsky-apple commented on #18492
@cabin15 Is this using the door lock app as a server?

[2022-05-21 05:53] bzbarsky-apple commented on #18492
It's probably better to use the example door lock app for testing door lock bits....

[2022-05-21 05:53] bzbarsky-apple commented on #18494
It's probably better to use the example door lock app for testing door lock bits....

[2022-05-21 05:54] bzbarsky-apple commented on #18496
This looks like an issue for the test plan repo at https://github.com/CHIP-Specifications/chip-test-plans/

@cjandhyala

[2022-05-21 05:54] #18496 closed

[2022-05-21 06:00] bzbarsky-apple commented on #18497
The controller sent a message with a wildcard read for "wildcard endpoints, wildcard clusters, attribute 0".

Per "8.9.2.3. Valid Read Attribute Paths" in the spec, a read path for a specific attribute id and wildcard cluster is only allowed if the attribute id is for a global attribute (i.e. one applicable to all clusters).  For example, reading attribute `0xFFFD` (ClusterRevision) is allowed.  B

[2022-05-21 06:00] #18497 closed

[2022-05-21 06:01] bzbarsky-apple commented on #18548
@andy31415

[2022-05-21 06:02] bzbarsky-apple commented on #18586
This looks like an issue for the test plan repo at https://github.com/CHIP-Specifications/chip-test-plans/

@cjandhyala

[2022-05-21 06:02] #18586 closed

[2022-05-21 06:03] bzbarsky-apple commented on #18586
Filed as https://github.com/CHIP-Specifications/chip-test-plans/issues/1310

[2022-05-21 06:04] bzbarsky-apple commented on #18496
Filed as https://github.com/CHIP-Specifications/chip-test-plans/issues/1311

[2022-05-21 06:06] bzbarsky-apple commented on #18644
@ifyall Is this reproducible on ToT?  I just tried running that command and I am not seeing a segfault...

[2022-05-21 06:08] bzbarsky-apple commented on #18685
The response is logged earlier in the log, no?

This bit in CHIPDeviceController:
[code]
which maps the actual response value to a local error code is why it's showing "No memory", but that has nothing to do with what the response was.

[2022-05-21 06:08] #18685 closed

[2022-05-21 06:17] bzbarsky-apple commented on #16507
Fixed.

[2022-05-21 06:17] #16507 closed

[2022-05-21 06:17] bzbarsky-apple commented on #16499
Fixed in #18276

[2022-05-21 06:17] #16499 closed

[2022-05-21 06:19] bzbarsky-apple commented on #16508
This is working correctly.

[2022-05-21 06:19] #16508 closed

[2022-05-21 06:20] bzbarsky-apple commented on #16544
Duplicate of #18185 (which has a bit more info).

[2022-05-21 06:20] #16544 closed

[2022-05-21 06:21] bzbarsky-apple commented on #18693
Duplicate of https://github.com/project-chip/connectedhomeip/issues/18185

[2022-05-21 06:21] #18693 closed

[2022-05-21 06:22] bzbarsky-apple commented on #16552
Resolving, given correct-looking SDK behavior and no response.

[2022-05-21 06:22] #16552 closed

[2022-05-21 06:26] bzbarsky-apple commented on #16581
Not a valid command; missing attestation nonce.  Doesn't even run on tip.

Missing CSR nonce.  Does not work on tip.

Missing the root certificate, no?

Please retest on tip.

[2022-05-21 07:17] bzbarsky-apple commented on #18245
I think this is specifically a chip-tool issue.  It seems to have a single `mSubscribeClient`, so when a new subscription is issued it kills off the old one.  The server is in fact sending the right data reports, but there is no client to receive them.

@vivien-apple If the intent is to support multiple parallel subscriptions, then we should probably have a vector of ReadClients in `InteractionMod

[2022-05-21 07:22] bzbarsky-apple commented on #18592
@Leo2442926161 Did you pass `--KVS` arguments to the relevant applications so that their persistent storage files would go somewhere that's not `/tmp`?  Because if not, then an OS restart would clear `/tmp` and hence delete the storage, so the "I am commissioned" information would be lost.

[2022-05-21 07:23] bzbarsky-apple commented on #18601
There is YAML syntax for this, but not command-line syntax....

[2022-05-21 07:26] bzbarsky-apple commented on #18269
Fixed in #18276

[2022-05-21 07:26] #18269 closed

[2022-05-21 07:26] bzbarsky-apple commented on #18270
Fixed in #18276

[2022-05-21 07:26] #18270 closed

[2022-05-21 07:32] bzbarsky-apple commented on #18275
@phonnakasturi-apple That's using what server app?  all-clusters-app has no thermostat commands enabled, looks like.  Or are you using the thermostat app as the server?

[2022-05-21 07:34] bzbarsky-apple commented on #17715
@msandstedt I would really like steps to reproduce here....

[2022-05-21 07:36] bzbarsky-apple commented on #17088
Can't actually implement a compliant fixed label cluster on top of what we have right now....

[2022-05-21 07:43] Leo2442926161 commented on #18592
Hi bzbarsky, thanks for your help.

how to add --KVS arguments to relevant applications?

[2022-05-21 07:46] bzbarsky-apple commented on #18592
You just do it:
[code]

[2022-05-21 07:47] #16538 closed

[2022-05-21 07:47] bzbarsky-apple commented on #16538
Note that the attribute can be written using `write-by-id`.

[2022-05-21 07:48] bzbarsky-apple commented on #16489
@clapre can you help out here?

[2022-05-21 07:49] bzbarsky-apple commented on #16585
Fixed in https://github.com/project-chip/connectedhomeip/pull/16644.

[2022-05-21 07:49] #16585 closed

[2022-05-21 07:51] bzbarsky-apple commented on #16636
The YAML bits were fixed in #18209

[2022-05-21 07:51] #16636 closed

[2022-05-21 07:52] bzbarsky-apple commented on #16815
Fixed in #17875.

[2022-05-21 07:52] #16815 closed

[2022-05-21 07:53] bzbarsky-apple commented on #17058
Duplicate of #14075

[2022-05-21 07:53] #17058 closed

[2022-05-21 07:54] Leo2442926161 commented on #18592
Hi bzbarsky, thanks again,

I am using chiptool, there no --KVS parameter

[2022-05-21 08:02] bzbarsky-apple commented on #17970
65530 == 0xfffa is EventList.

[2022-05-21 08:02] #17970 closed

[2022-05-21 08:03] bzbarsky-apple commented on #17970
Duplicate of #15011

[2022-05-21 08:04] bzbarsky-apple commented on #18020
Is there a problem with using uint16_t for these required params?

[2022-05-21 08:08] bzbarsky-apple commented on #18150
Is the actual behavior CONSTRAINT_ERROR or UNSUPPORTED_ATTRIBUTE?  The above is not self-consistent....

UNSUPPORTED_ATTRIBUTE is somewhat expected if the attributes are actually not supported, no?

[2022-05-21 08:08] bzbarsky-apple commented on #18150
@Rajashreekalmane

[2022-05-21 08:57] dtodor commented on #14833
I removed the homebrew version of protoc and did a clean bootstrap - everything seems to work now:
[code]

[2022-05-21 08:58] bzbarsky-apple commented on #18149
Attribute 0x10 is "LocalConfigDisabled", which is a writable attribute.  But the value being written is wrong for that attribute's type (it's a boolean), so you get the CONSTRAINT_ERROR bit.

If you want to write  SoftwareVersionString the attribute ID needs to be `10` or `0xa`, not `0x10`.

[2022-05-21 08:58] #18149 closed

[2022-05-21 08:59] dtodor commented on #14833
Ooops, sorry, it is still the x86_64 version:

[code]
It works because I have Rosetta installed.

[2022-05-21 10:21] jmeg-sfy commented on #18357
Same problem on Window covering demo

[2022-05-22 04:29] bzbarsky-apple commented on #18232
Done in #18276

[2022-05-22 04:29] #18232 closed

[2022-05-22 04:30] bzbarsky-apple commented on #18234
Done in #18276.

[2022-05-22 04:30] #18234 closed

[2022-05-22 04:35] bzbarsky-apple commented on #18608
This test plan is very confused; there is no "SuppressResponse" field in a Read Request.

Filed https://github.com/CHIP-Specifications/chip-test-plans/issues/1313 to get the test plan fixed to make sense.

[2022-05-22 04:35] #18608 closed

[2022-05-22 04:35] bzbarsky-apple commented on #18608
@cjandhyala

[2022-05-22 04:43] bzbarsky-apple commented on #18238
@manjunath-grl Is the current working directory when running whatever is running here the root of the Matter tree?  The log does not show the actual commands being run, but I suspect the answer is "no".  And it needs to be for Reboot to work correctly as things are currently implemented.

@cjandhyala

[2022-05-22 04:51] bzbarsky-apple commented on #18613
`any read-by-id 0xFFFFFFFF 0 1 1 ` means "wildcard cluster, attribute 0, node id 1, endpoint 1".

Per "8.9.2.3. Valid Read Attribute Paths" this is not a valid attribute read path: a specific attribute id with wildcard clusters is only allowed when reading global attributes, and 0 is not a global attribute id.

So the server correctly replies with INVALID_ACTION.

Filed https://github.com/CHIP-Spe

[2022-05-22 04:51] #18613 closed

[2022-05-22 04:55] bzbarsky-apple commented on #18617
@doublemis1 What SHA is this being tested on?  This was fixed in #18067 on May 5, as far as I can tell....

[2022-05-22 04:55] bzbarsky-apple commented on #18647
Removing a fabric does not automatically make a device commissionable again.

[2022-05-22 04:55] #18647 closed

[2022-05-22 04:58] bzbarsky-apple commented on #18650
As of when the TE9 branch was created, this was in fact not a valid ScanNetworks command for a WiFi network commissioning cluster in the spec, because it has no SSID field (not even set to null).

The spec (and implementation) have been changed to allow the field to just be omitted since then, but if this is being tested on the TE9 tag you will get the observed behavior unless you pass `--Ssid nul

[2022-05-22 04:58] #18650 closed

[2022-05-22 05:02] bzbarsky-apple commented on #18666
Sure it does:
[code]
will read the "OnOff" and "OnLevel" attributes from the "On/Off" and "Level Control" clusters respectively on endpoint 1.  Resulting output is:
[code]

Adjust the IDs as needed.

[2022-05-22 05:02] #18666 closed

[2022-05-22 05:03] bzbarsky-apple commented on #18666
Or you can do:
[code]
to have different endpoints too:
[code]

[2022-05-22 05:05] bzbarsky-apple commented on #18698
That is in fact an invalid action, because the attribute id is not a global attribute id.

See also https://github.com/CHIP-Specifications/chip-test-plans/issues/1314

[2022-05-22 05:05] #18698 closed

[2022-05-22 05:34] bzbarsky-apple commented on #18591
So the context here is that this is an optional field.

We generate an `Optional<uint32_t>` to store it in, but then we do:
[code]
inside maybeSaveAs.zapt, and `asPropertyValue` by default unwraps optionals.  So we generate `LocalStartTimeValue = value.localStartTime.Value()` and are trying to store a `uint32_t` into an `Optional<uint32_t>`.

So a few options here:

1. We could allow the saved val

[2022-05-22 05:36] bzbarsky-apple commented on #17858
@cjandhyala Is this still happening?  This looks like an issue around CASE resumption....

[2022-05-22 05:38] bzbarsky-apple commented on #17700
@nivi-apple I believe this was fixed in #17082.  Can you please confirm?  You filed this issue much later than that, but I don't know what SHA you were using....

[2022-05-22 05:40] bzbarsky-apple commented on #17822
Duplicate of https://github.com/project-chip/connectedhomeip/issues/18505

[2022-05-22 05:40] #17822 closed

[2022-05-22 05:44] bzbarsky-apple commented on #17585
@carol-apple Is this still relevant given the other changes to these commands?

[2022-05-22 05:46] bzbarsky-apple commented on #17327
No response, can't reproduce, resolving.

@cjandhyala

[2022-05-22 05:46] #17327 closed

[2022-05-22 05:52] bzbarsky-apple commented on #17380
chip-tool allows sending invalid values of all sorts; it's a test tool.

The cluster impl should be checking for a valid range and failing out, and it sounds like it's not doing that.

@jmartinez-silabs

[2022-05-22 06:00] jmartinez-silabs commented on #17380
For a lighting device the minimal is 1 but if it is not a lighting device aka featuremap not at 1 you can go as low as 0. I am 99% sure those range are checked and applied. It is even tested in one of the yaml test case

[2022-05-22 06:12] bzbarsky-apple commented on #16958
I expect this is `src/include/platform/KvsPersistentStorageDelegate.h` which calls into `KeyValueStoreManager::Get`, which eventually lands in `src/platform/Linux/KeyValueStoreManagerImpl.cpp` where we have, in `_Get`:
[code]
and otherwise we copy however much data we can and return `CHIP_NO_ERROR`.

That is _definitely_ a violation of the `KeyValueStoreManager` API documentation.

This varies by

[2022-05-22 06:14] bzbarsky-apple commented on #16665
I don't understand what this YAML support would do.  Extended discovery needs to be enabled on the actual DUT, no?

@cjandhyala

[2022-05-22 06:18] bzbarsky-apple commented on #16332
@praveenCY Is this still happening on tip?

[2022-05-22 06:21] bzbarsky-apple commented on #16402
@Garik098 What server app was used?  These clusters only really work properly in tv-app.

[2022-05-22 06:22] bzbarsky-apple commented on #16398
@liamgonyea What are the steps to reproduce here?  That is, how does one configure a test app to have PID == 0?

[2022-05-22 06:22] bzbarsky-apple commented on #16383
On-network discovery _always_ works, because it's required for post-initial-pairing commissioning.

[2022-05-22 06:22] #16383 closed

[2022-05-22 06:24] bzbarsky-apple commented on #16407
In #18596 this timeout was increased to 20 seconds and made configurable so that it can be set to any desired value depending on the target.

[2022-05-22 06:24] #16407 closed

[2022-05-22 06:34] bzbarsky-apple commented on #16146
Not a crash issue, and the logging is clearer now.

[2022-05-22 06:34] #16146 closed

[2022-05-22 06:35] bzbarsky-apple commented on #16148
We are logging the result struct, but that does not actually log it very nicely...

@jtung-apple @krypton36 is there some "automatic" way to have it log all the struct members and their values?

[2022-05-22 06:36] #16155 closed

[2022-05-22 06:36] bzbarsky-apple commented on #16162
@markus-becker-tridonic-com @cherishQAQ123 Is this an issue on current tip?

[2022-05-22 06:38] bzbarsky-apple commented on #16271
@cjandhyala This sounds like a bug against the test steps, not the SDK?

[2022-05-22 06:40] bzbarsky-apple commented on #16272
@cabin15 Is this still an issue on tip?

[2022-05-22 06:41] bzbarsky-apple commented on #15991
@jmartinez-silabs Can you please take a look?

[2022-05-22 06:43] bzbarsky-apple commented on #16028
I believe at this point this is fixed.  @sagar-apple can you please confirm?

[2022-05-22 06:44] bzbarsky-apple commented on #16137
Please file test plan issues at https://github.com/CHIP-Specifications/chip-test-plans/issues/new/choose

[2022-05-22 06:44] #16137 closed

[2022-05-22 13:19] jmartinez-silabs commented on #15991
I will take a look

[2022-05-22 17:02] chrisdecenzo opened #18714 "TV test cases: media input and content search test cases fail on example/tv-app"
#### Problem
 * media input and content launcher search test cases should pass on example tv-app

 #### Proposed Solution
Add dummy data to example tv-app so that test cases will pass

[2022-05-22 21:32] #16028 closed

[2022-05-23 00:51] #18275 closed

[2022-05-23 02:26] lds-jinfeng commented on #13864
@bzbarsky-apple Yes, this case can be closed, since we did not see this issue on TE8 and TE9.

[2022-05-23 04:07] cabin15 commented on #16270
@bzbarsky-apple
Sorry for confusion.
Please check https://github.com/project-chip/connectedhomeip/files/8258914/TC-DM-3.3.txt.
Below error is shown on the respective log.

2022-03-16T01:11:18.791790Z [417.753360300] user.crit chip-service Received Command Response Status for Endpoint=0 Cluster=0x0000_0031 Command=0x0000_0000 Status=0x85
2022-03-16T01:11:18.791835Z [417.753405160] user.crit chip-se

[2022-05-23 06:16] Rajashreekalmane commented on #18150
@bzbarsky-apple As per the test-plan we should get 0x88(UNSUPPORTED_WRITE(0x88) but currently I am getting  0x86((UNSUPPORTED_ATTRIBUTE)).
expected behavior:-UNSUPPORTED_WRITE(0x88)
actual behavior:- 0x86((UNSUPPORTED_ATTRIBUTE))

[2022-05-23 06:51] doublemis1 commented on #18617
The issue was revealed on TE9 SHA (https://github.com/project-chip/connectedhomeip/tree/TE9)

[2022-05-23 08:58] nicelyjust opened #18727 "No support commissionee device to delete fabric"
#### Problem
On some devices with a screen(more  for the Android platform), if user want to delete a fabric that has commissioned,how to do it?

 #### Proposed Solution
I think this is a very common feature for users, I hope it can be supported

[2022-05-23 10:34] markus-becker-tridonic-com commented on #18461
python-based virtual devices are not covered by CI tests.

The start-up of Python based-virtual devices is missing recent changes of the Linux start-up:

https://github.com/project-chip/connectedhomeip/blob/master/src/controller/python/chip/server/ServerInit.cpp#L123 pychip_server_native_init() needs alignment with https://github.com/project-chip/connectedhomeip/blob/04b4f077d57bee8cc8a10bb55b4e12

[2022-05-23 11:57] Rajashreekalmane opened #18729 "[TC-MC-3.3]-KeyPad Input Cluster--DUT fails to response Succes(0x00) for Number Keys from 5 to 8."
**#### Problem**
As per the Test-Plan, when TH sends Number 1 to 9 Code to DUT,
DUT should responds with success status code(0) but currently from DUT for numeric input key 5, 6, 7, 8 Getting a response as Unsupported key(value 1).

**expected behavior:-**Success(status code 0)
**actual behavior:-**UNSUPPORTED_KEY(status code 1)

**steps to reproduce:-**
./chip-tool keypadinput send-key 5 1 1
./ch

[2022-05-23 12:54] Rajashreekalmane opened #18732 "[TC-MC-3.12]Media Input Cluster--DUT Fails to hide an input from the Input list."
**#### Problem**
As per the Test-Plan, TH sends HideInputStatus command to DUT to hide an input from the Input list, currently DUT fails to hide input from the Input list.

 * **expected behavior**:-Need to verify successful response (Value 0) on TH, and the Input hidden in Step 3 is not present in the list.
 * **actual behavior**:- successful response (Value 0) on TH, and all input from the Input

[2022-05-23 13:47] #17624 closed

[2022-05-23 15:11] #15992 closed

[2022-05-23 15:34] #11670 closed

[2022-05-23 15:57] bzbarsky-apple commented on #18148
There are two kinds of "regulatory information"
* Regulatory location: indoor vs outdoor
* Country code.

Not all devices support configuring indoor vs outdoor.  Some devices may only be designed to work indoors, for example.

The "Device does not support configurable regulatory location" message just says the device is always going to be in "indoor" or "outdoor" mode and does not let the commissi

[2022-05-23 16:12] bzbarsky-apple commented on #18322
@andy31415 This attribute and command are mandatory per spec.

[2022-05-23 16:13] woody-apple commented on #16851
Cert Blocker Review: Assigning to myself to find an assignee for this issue.

[2022-05-23 16:14] woody-apple commented on #18312
Cert Blocker Review: Assigning to @cjandhyala to clarify what's needed here.

[2022-05-23 16:16] woody-apple commented on #18322
Cert Blocker Review: Given this is a diagnostic cluster issue, assigning to @andy31415 for comment and assignment.

[2022-05-23 16:18] woody-apple commented on #18508
Cert Blocker Review: Assigning to @bzbarsky-apple to update when the related spec issue is addressed

[2022-05-23 16:19] woody-apple commented on #18591
Cert Blocker Review: Assigning to @bzbarsky-apple, who has followed up on the spec side, as well as working with @vivien-apple

[2022-05-23 16:21] woody-apple commented on #18601
Cert Blocker Review: Assigning to @cjandhyala to follow up, looks like the test should be runnable in YAML right now.

[2022-05-23 16:24] woody-apple commented on #18371
Cert Blocker Review: Assigning to myself to follow up to find an owner for window coverings.

[2022-05-23 16:26] woody-apple commented on #18616
Cert Blocker Review: Assigning to @carol-apple, given this is OTA. Can you please update next steps here? Thanks!

[2022-05-23 16:28] mykrupp commented on #18363
@Survensa Since this is run on the nordic platform, there's not much I can do to solve this issue.

@bzbarsky-apple I still agree with what you found on the efr32 platform. I will go through the lock app and carefully follow the spec for each non-happy path.

[2022-05-23 16:30] woody-apple commented on #14590
Cert Blocker Review: Assigning to @cjandhyala to update the test cases.

[2022-05-23 16:36] woody-apple commented on #17948
Cert Blocker Review: Given this is can now be resolved in an updated test plan, closing.

[2022-05-23 16:42] jaehs6sam commented on #18322
This TestEventTriggers command was recently introduced to the spec and its implementation will be manufacturer specific.  Its key and test mode values have to be pre-provisioned by a manufacturer to client and sever devices.  And this command will be used only during certification testing and to the certification candidate DUT only.  Again, testing mode value implementation & interpretation is upt

[2022-05-23 16:45] woody-apple commented on #18148
Cert Blocker Review:
1. DUT is the commissionee
2. Sounds like we need to first update the test plan here to reflect what's required.

[2022-05-23 17:34] kpark-apple opened #18737 "Nordic subtype registration didn't match base type service"
#### Problem
Nordic pairing failed with an OnSRPClientNotification: Operation refused for security reasons.
In this particular case, on the SRP server side, it was reported that _V65521._sub._matterc._udp.default.service.arpa record had 6A49452171E45256._matterc._udp.default.service.arpa base type which seemed to have been removed.

It appears that there might have been sync issue in removing old

[2022-05-23 17:51] yunhanw-google commented on #11960
https://github.com/project-chip/connectedhomeip/pull/18597 where we resolve partial overlap issue between subscribed path and setDirty path

[2022-05-23 17:51] #11960 closed

[2022-05-23 18:11] Karthik2687 opened #18739 "[TC-GC-1.1] AcceptedCommandList read return unexpected value."
Test case : 6
 TH reads AcceptedCommandList from DUT

Expected outcome:
Verify that the DUT response provides a list of Acccepted Command. This list SHALL include all mandatory Commands(values 0,2,4).

actual o/p:
./chip-tool generalcommissioning read accepted-command-list 200 0
[1652139162.380754][2160:2165] CHIP:TOO: Endpoint: 0 Cluster: 0x0000_0030 Attribute 0x0000_FFF9 DataVersion: 2169741016

[2022-05-23 19:24] #15463 closed

[2022-05-23 19:24] #16276 closed

[2022-05-23 19:24] #16725 closed

[2022-05-23 19:24] #18212 closed

[2022-05-23 19:24] #18315 closed

[2022-05-23 19:24] #18329 closed

[2022-05-23 19:24] #18331 closed

[2022-05-23 19:24] #18649 closed

[2022-05-23 19:29] bzbarsky-apple commented on #18150
sudo ./chip-tool basic write-by-id 0x15 newserialnumber 1 0
sudo ./chip-tool basic write-by-id 0x17 0 1 0
sudo ./chip-tool basic write-by-id 0x18 newid 1 0
sudo ./chip-tool basic write-by-id 0x19 4 1 0

Every single one of those attribute ids does not exist in the spec.  So UNSUPPORTED_ATTRIBUTE is correct.

I _assume_ you meant `14` instead of `0x14` and so forth (if the intent is to test Product

[2022-05-23 19:29] #18150 closed

[2022-05-23 19:46] bzbarsky-apple commented on #18592
@Leo2442926161 When you say "I restarted ubuntu", is the thing running on ubuntu chip-tool or the server side?

[2022-05-23 20:05] bzbarsky-apple commented on #18617
Ah, yes, that predates that fix.

This works correctly on tip.

[2022-05-23 20:05] #18617 closed

[2022-05-23 20:21] bzbarsky-apple commented on #16270
@cabin15 What actual arguments were sent with ScanNetworks in this case?  The log does not make that clear.

[2022-05-23 20:22] #13864 closed

[2022-05-23 20:23] bzbarsky-apple commented on #14833
@andy31415 Does pigweed support this?

[2022-05-23 20:26] bzbarsky-apple commented on #17380
@jmartinez-silabs Yes, the check for 255 is what is missing.... Per spec, that should error out, not silently treat the input as 254.

[2022-05-23 21:23] bzbarsky-apple commented on #17585
Per offline conversation with @carol-apple: not relevant anymore.

[2022-05-23 21:23] #17585 closed

[2022-05-23 21:25] cabin15 commented on #16270
Below arguments are used for ScanNetworks.
./chip-tool networkcommissioning scan-networks null 0 12345678 0

[2022-05-23 21:26] carol-apple commented on #17585
For posterity, this PR added generation of simulated-cluster-objects.h which allows for arguments to be truly optional: https://github.com/project-chip/connectedhomeip/pull/18038

[2022-05-23 21:33] nivi-apple commented on #17700
@bzbarsky-apple I was on an older SHA. I will verify on the tip of tree as well next time :). closing the issue. Thanks

[2022-05-23 21:33] #17700 closed

[2022-05-23 21:43] cabin15 commented on #18492
@bzbarsky-apple
According to your comment, I did re-test with a few arguments in the below that already failed before, and it still failed with lock-app in the raspberrypi image provided for TE9 with 0xc3 (UNSUPPORTED_CLUSTER).
- number-of-logs-records-supported
- enable-logging
- ledsettings

[2022-05-23 22:37] mrjerryjohns commented on #18739
I believe this was fixed recently. Not reproducible on master as of 55ef6090415e13cbdeb27c745eb803034d16e9d2

[2022-05-23 22:37] #18739 closed

[2022-05-23 22:40] mrjerryjohns commented on #18727
Please check out the `RemoveFabric` command on the `OperationalCredentialsCluster`. That requires a fabric-index of the fabric to be deleted to be passed in. The fabric index that corresponds to the right fabric can be retrieved by reading the `Fabrics` list and upon finding the right entry, to retrieve the 'fabric-index' field from within that entry.

[2022-05-23 22:40] mrjerryjohns commented on #18727
Please close if the above comment resolves your question.

[2022-05-23 22:42] mrjerryjohns commented on #18681
@Morozov-5F would you be able to help take this on?

[2022-05-23 22:43] andy31415 commented on #14833
This may have been fixed since then.

[2022-05-23 22:44] mrjerryjohns commented on #18678
This seems like a fairly critical bug. @Morozov-5F, would you have cycles to help address this?

[2022-05-23 22:45] mrjerryjohns commented on #18677
Also seems pretty critical...

[2022-05-23 22:57] mrjerryjohns opened #18743 "`ClusterStateCache` doesn't actually convey when new data has been received"
#### Problem

The `ClusterStateCache` defines a number of `On...Changed` callbacks that indicate when an attribute/cluster/endpoint has changed. However, it doesn't actually up-hold the 'on changed' part of the contract there - the implementation indiscriminately calls these methods anytime data is received from the server into the cache, regardless of whether the data is truly different from what

[2022-05-23 23:39] cabin15 commented on #18494
@bzbarsky-apple
According to your command, I re-tested this using lock-app.
It still shows same UNSUPPORTED_COMMAND error

`ubuntu@ubuntu:~/apps$ sudo ./chip-tool doorlock get-log-record 1 1 1
[1653349066.886976][127206:127206] CHIP:DL: ChipLinuxStorage::Init: Using KVS config file: /tmp/chip_kvs
[1653349066.887510][127206:127206] CHIP:DL: ChipLinuxStorage::Init: Using KVS config file: /tmp/chip_f

[2022-05-24 00:19] wilbur-se commented on #18248
Sorry  to write wrong title. It is TC-DM-2.1 not TC-GC2.1

[2022-05-24 00:52] Leo2442926161 commented on #18592
@bzbarsky-apple the chip-tool run on ubuntu

[2022-05-24 01:55] nicelyjust commented on #18727
Thank you for the response, @mrjerryjohns
OperationalCredentialsCluster is responsible for commissioner ->commissionee, I mean that adding fabric deletion methods to allow the user to delete a fabric on device side,not through commissioner

[2022-05-24 02:07] woody-apple commented on #18339
Not clear this is required for V1.0, moving out of V1. @krypton36 please update if this isn't correct.

[2022-05-24 02:09] woody-apple commented on #17249
Agree with @mrjerryjohns, there's a non-platform specific baseline change needed here:
https://github.com/project-chip/connectedhomeip/issues/16202

[2022-05-24 02:09] woody-apple commented on #14909
Not required for 1.0

[2022-05-24 02:10] woody-apple commented on #14833
Works for me.

[2022-05-24 02:10] #14833 closed

[2022-05-24 03:15] #12372 closed

[2022-05-24 03:50] mrjerryjohns commented on #18743
Taking this on, PR almost ready.

[2022-05-24 03:50] mrjerryjohns commented on #18610
@erjiaqing assigning this to you for now since this is your wheel-house.

[2022-05-24 03:51] mrjerryjohns commented on #17418
Dupe of #18610

[2022-05-24 03:51] #17418 closed

[2022-05-24 04:01] mrjerryjohns commented on #18245
Yes, this is working fine in the REPL (just validated this), so presumably, a chip-tool issue.

[2022-05-24 05:12] #18714 closed

[2022-05-24 05:36] bluebin14 opened #18745 "Platform mdns Init is not a no-op after the first call (causes crashes with MdnsAvahi, e.g. in chip-tool)"
#### Problem
Seen with TE9 image in several configurations, chip-tool was exiting because MdnsAvahi::Init was called twice, making it impossible to use.

 #### Proposed Solution
Do not fail when instance is reinited. See also https://github.com/project-chip/connectedhomeip/pull/18670

[2022-05-24 05:58] cjandhyala commented on #14590
Closing the issue and followed up with a test plan ticket to update the TC

[2022-05-24 05:58] #14590 closed

[2022-05-24 06:33] sowmyassp commented on #14590
I have raised this ticket long back and later the test-plan is updated with test-case IDs so now this issue is for TC-DGSW-2.3, I will update the same in the heading, this ticket is valid @cjandhyala

[2022-05-24 09:06] #18030 closed

[2022-05-24 10:25] sowmyassp commented on #18148
@bzbarsky-apple @woody-apple

[2022-05-24 11:45] Rajashreekalmane opened #18750 "FeatureMap returns 0x86 (UNSUPPORTED_ATTRIBUTE) in multiple clusters."
**#### Problem**
Though the feature map attribute is implemented in below mentioned clusters, still it throws an error code as 0x86(unsupported attribute).
 Thermostatuserinterfaceconfiguration Cluster
Temperaturemeasurement Cluster
 Illuminancemeasurement Cluster
Identify cluster

**expected behavior:-**FeatureMap bitmap value 0
**actual behavior:-**0x86(unsupported attribute

 ***** steps to rep

[2022-05-24 11:57] vivien-apple commented on #18591
@woody-apple @franck-apple Is that really a cert blocker given this is a YAML only issue ?

[2022-05-24 12:07] vivien-apple commented on #18591
I'm sort of in favor of 1. That raised the question of how to compare missing values, for which I would think we should just throw if any of the compared value is missing.

[2022-05-24 12:10] Rajashreekalmane opened #18751 "[TC-DGGEN-2.1] & [TC-DGGEN-3.1] -General Diagnostics-chip-tool needs to implement mandatory TestEventTriggersEnabled attribute."
#### Problem
[TC-DGGEN-2.1]-General Diagnostics-chip-tool needs to implement mandatory TestEventTriggersEnabled attribute.

**PFA screenshot below:-**
![image](https://user-images.githubusercontent.com/95841834/170030475-58e9898f-4d51-4d16-bf56-b33658bcef01.png)

**Test-Plan screenshot:-**
![image](https://user-images.githubusercontent.com/95841834/170030633-ebd6883d-1612-4b33-b22e-5d79f4ecfc71.pn

[2022-05-24 12:30] Rajashreekalmane commented on #18751
[https://github.com/CHIP-Specifications/chip-test-plans/issues/1335](url)

[2022-05-24 13:14] kkasperczyk-no commented on #18371
I found the root cause and pushed PR fixing the problem (see above).

[2022-05-24 13:28] wxiangcheng opened #18753 "Commission failure with chip-tool: Failed to perform commissioning step 18"
I add little debug info in log. Really want to know the root cause of this issue.  Seems to be related to mDNS but I can't figure it out. Thanks in advance.

 #### Problem

[1653361528.149428][761596:761601] CHIP:DIS: kkk send ipv6 err=../examples/chip-tool/third_party/connectedhomeip/src/inet/UDPEndPointImplSockets.cpp:417: OS Error 0x02000065: Network is unreachable, port=5353
**[1653361528.1495

[2022-05-24 13:50] Survensa commented on #18371
Thank you so much @kkasperczyk-no will check and update this ticket.

[2022-05-24 13:53] wxiangcheng commented on #18753
I uploaded the entire log for both chip-tool and my board log of Matter's all-cluster-app. Appreciate if anyone can help on it - i'm blocking here for 1+ wks on my new hardware platform.

[nt_board_mdnslog0524.log](https://github.com/project-chip/connectedhomeip/files/8763365/nt_board_mdnslog0524.log)
[chip-tool-log-latestVersionModify.txt](https://github.com/project-chip/connectedhomeip/files/876

[2022-05-24 14:06] LuDuda commented on #17604
@cjandhyala seems that @andy31415 is working on the generic solution for all platforms [here](https://github.com/project-chip/connectedhomeip/pull/18687).

Btw. As far as i understand `UserLabel` and `FixedLabel` clusters are not mandatory. They are required only if specific device has two or more endpoints with the same Device Type. Why this is then the certification blocker?

[2022-05-24 14:42] bluebin14 opened #18759 "Events: add support for global EventList attribute as per specification"
#### Problem
The global EventList attribute is not implemented neither on the client, e.g. query with chip-tool, nor on the server.

 #### Proposed Solution
Implement EventList attribute so it can be verified during SVE and certification.

[2022-05-24 15:01] #15279 closed

[2022-05-24 15:01] somu1710 commented on #18750
Facing the same issue as error code as 0x86(unsupported attribute) in below mentioned test cases:
1.Pressure measurement cluster
2.Occupancy sensing cluster
3.Relative humidity
4.Power Source Configuration
5.Descriptor

[2022-05-24 15:27] dtodor opened #18761 "Re-subscription after restarting device"
We have a Linux controller, which subscribes to the `OnOff::OnOff` attribute of a EFR32 lighting-app device. The subscription and attribute notifications work as expected. However, if we power-cycle the EFR32 device, the automatic re-subscription fails. Looking at the logs on both the Linux and EFR32 sides, it seems that the CASE session is not re-established:

Linux Controller
[code]

EFR32 devic

[2022-05-24 16:07] turon commented on #10161
Fixed #16098

[2022-05-24 16:07] #10161 closed

[2022-05-24 16:23] dtodor opened #18764 "Pairing EFR32 SED fails"
Pairing an EFR32 sleepy end device is not possible, the controller cannot find the operational device. This has been tested with a custom Linux controller as well as with the chip-tool.

Output chip-tool:
[chip-tool.log](https://github.com/project-chip/connectedhomeip/files/8764548/chip-tool.log)

Output EFR32:
[efr32-sed.log](https://github.com/project-chip/connectedhomeip/files/8764551/efr32-sed

[2022-05-24 16:27] dtodor commented on #18764
This EFR32 output seems weird (Device Role: DETACHED):
[code]

This is the state of the Thread Border Router:
[code]

[2022-05-24 16:31] turon commented on #17471
Suggestion from @tcarmelveilleux to explicitly call `SendStandaloneAckMessage` before long running crypto starts.
Though implications on `ReliableMessageMgr` need to be considered.
@kghost

[2022-05-24 16:36] tehampson commented on #17310
End of last week I was updating test case spec to reflect the actual values you should be expecting, but someone beat me to it https://github.com/CHIP-Specifications/chip-test-plans/pull/1270. That PR updates the TC to reflect what values you should expect.

Running this on the all cluster app today I see feature map of:
[code]

GeneratedCommandList:
[code]

AcceptedCommandList
[code]

-----------

[2022-05-24 16:37] tcarmelveilleux commented on #17471
Overall, I would recommend the following:

- On receiving sigma messages, and on pake messages, but not the status reports, and not the PBKDFParam*, we would send a standalone ack before processing the message
- This behaviour would need to be conditional on a new CHIP_DEVICE_CONFIG variable, which is only set on devices that cannot process Sigma1, 2, 3 in less than ~200ms
- The PASE and CASE sess

[2022-05-24 16:51] #18148 closed

[2022-05-24 16:53] #18245 closed

[2022-05-24 17:28] yunhanw-google commented on #9620
ClusterInfo has been refactored out. close this one. thanks

[2022-05-24 17:28] #9620 closed

[2022-05-24 17:28] yunhanw-google commented on #9552
ClusterInfo has been refactored out, close this one, thanks

[2022-05-24 17:28] #9552 closed

[2022-05-24 17:39] bzbarsky-apple commented on #18759
Duplicate of #15011

[2022-05-24 17:39] #18759 closed

[2022-05-24 17:40] bzbarsky-apple commented on #18372
Feature map fixed in #18213.

EventList is #15011

[2022-05-24 17:41] bzbarsky-apple commented on #18372
Duplicate of #15011

[2022-05-24 17:45] kghost commented on #18761
This is a known issue, where the controller doesn't aware that the device has been rebooted.

[2022-05-24 17:45] andy31415 commented on #18548
is chip-tool running avahi or all-clusters or both?

[2022-05-24 17:48] kghost commented on #18761
#17298 axiom 5 cover the scenario, but a solution is not proposed yet.

[2022-05-24 17:55] s07641069 opened #18766 "Commissioning failing sometimes after PRI BR reboot"
#### Problem
 * steps to reproduce:
1. Reboot RPI border router.
2. Form Thread network.
3. Perform commissioning `chip-tool pairing ble-thread ...`.
4. Go to step 1 and repeat several times (10).
 * expected behavior
Commissioning successful after step 3 every iteration.
 * actual behavior
After 2-3 iteration - commissioning fail and can't be successful till RPI border router reboot or Form new T

[2022-05-24 18:09] krypton36 commented on #16148
@bzbarsky-apple We can add a description function to the class in the ZAP generation with it printing the values.

[2022-05-24 18:12] krypton36 commented on #18339
Not needed for V1.0

[2022-05-24 18:15] tcarmelveilleux commented on #17471
@kghost Deferring the crypto requires a ton of changes which are riskier. This is why I suggest enable that feature with a `CHIP_DEVICE_CONFIG` flag

[2022-05-24 18:27] bzbarsky-apple commented on #18492
@cabin15 Thank you!  Those are definitely wrong: they should either succeed or return UNSUPPORTED_ATTRIBUTE...

[2022-05-24 18:30] bzbarsky-apple commented on #18494
`get-log-record` is a command that is only supported if the `LOG` feature is supported.  Is that feature claimed to be supported in this case?

[2022-05-24 19:19] bzbarsky-apple commented on #17471
Yes, ideally we would do the crypto on a background task on hardware that is multi-core, but we still need something here for slow single-core hardware.

The proposed plan in https://github.com/project-chip/connectedhomeip/issues/17471#issuecomment-1136150720 sounds good to me.

[2022-05-24 20:13] #18591 closed

[2022-05-24 20:19] bzbarsky-apple commented on #18745
The key part here is that Init() on the platform mdns stuff needs to be a no-op after the first call.

Right now it might not be handling that right because parts of Init() are async, so it can end up setting the "I am initialized" boolean much later.

[2022-05-24 21:49] ukatira opened #18779 "[ota-requestor-app] Make Maximum Block Size in ReceiveInit message configurable"
#### Problem
There is no way right now to change OTA Requestor-requested Maximum Block Size values

 #### Proposed Solution
Provide a way to change requested Block sizes to values between 16 and 128 bytes, and over 128 bytes to verify spec Section 11.20.3.5 Pg 710 Block sizes constraints for BDX transfers

[2022-05-24 21:50] yufengwangca commented on #17205
I am not able to reproduce this issue after I synced to ToT :

DUT side :
sudo rm -rf /tmp/chip_*
sudo ./chip-all-clusters-app --wifi (Discriminator - 3840, Passcode - 20202021)
QR code received : MT:-24J0YXE00KA0648G00

TH side
1../chip-tool payload generate-qrcode --discriminator 3840 --setup-pin-code 20202021 --version 1 --vendor-id 65521 --product-id 0x8001 --commissioning-mode 2 --rendezvous

[2022-05-24 22:06] cjandhyala commented on #18492
@bzbarsky-apple @andy31415 , the test plan needs to be updated. Not a SDK issue. @cabin15 pls chk with the test plan owner and close the issue.

[2022-05-24 22:16] cjandhyala commented on #18532
@epeng100 is there a reason why you need to run this TC on lock app?

[2022-05-24 22:21] cjandhyala commented on #18418
@Survensa Can we close this ticket ?

[2022-05-24 22:30] bzbarsky-apple commented on #18634
See also https://github.com/project-chip/connectedhomeip/issues/16148

[2022-05-24 22:31] cjandhyala commented on #18417
@nansenLV Spec says the adv interval should be b.w. 20 ms and 60 ms.
![Screen Shot 2022-05-24 at 3 28 32 PM](https://user-images.githubusercontent.com/68604034/170142502-a7e2fca0-a60b-48a4-821e-ae3dfbc325f5.png)

[2022-05-24 22:49] latch-danielkneip opened #18782 "Matter SDK bridge won't build Wi-Fi support without Thread support"
#### Problem
This issue is against the Test Event 9 baseline.
When args.gni in the bridge project is edited to include:
[code]

See the following file for errors in build output:
[no-thread-fail-log.txt](https://github.com/project-chip/connectedhomeip/files/8766606/no-thread-fail-log.txt)

 #### Proposed Solution
[linux-wifi-no-thread-fix.patch.txt](https://github.com/project-chip/connectedhomeip/

[2022-05-24 22:51] cjandhyala commented on #18393
@kowsisoundhar12 is SCH feature bit set in the reference app ?

[2022-05-24 22:58] cjandhyala commented on #18366
@nansenLV , looks like this is your test configuration issue, Can you talk to yinyi.hu@silabs.com and update the ticket

[2022-05-24 23:01] msandstedt commented on #17605
It turns out this is a dup of https://github.com/project-chip/connectedhomeip/issues/15584:

Moving tracking there.

[2022-05-24 23:01] #17605 closed

[2022-05-24 23:04] cjandhyala commented on #18314
dup to #16725

[2022-05-24 23:41] cjandhyala commented on #18307
@Survensa Pls use correct command codes

[2022-05-25 00:01] cjandhyala commented on #18291
@cherishQAQ123 Could you retest this with updated instructions. Pls talk to @sumaky from test plans team to get updated instructions

[2022-05-25 00:02] cjandhyala commented on #18250
@DesiLuo Could you re-test this on latest ToT

[2022-05-25 00:03] cjandhyala commented on #18238
@manjunath-grl Could you re-test this on latest ToT ?

[2022-05-25 00:08] cjandhyala commented on #18140
@pankore Can you re-test on latest ToT and update the results.

[2022-05-25 00:12] cjandhyala commented on #18156
@Survensa is this still an issue ?

[2022-05-25 00:20] cjandhyala commented on #17909
@Rajashreekalmane Is this still an issue , if not pls close it.

[2022-05-25 00:27] cjandhyala commented on #17592
@Survensa is this still an issue?

[2022-05-25 01:10] bzbarsky-apple opened #18783 "Sort out interaction of OnReportBegin/OnReportEnd with subscriptions in the Darwin framework"
#### Problem
OnReportBegin/OnReportEnd only happen for attribute reports, but the Darwin framework would really like them to be happening for reports in general, including event-only ones.  As a result, we miss some event reports.

 #### Proposed Solution
Either change ReadClient accordingly, or change what the Darwin framework is doing.

@jtung-apple

[2022-05-25 01:15] bzbarsky-apple commented on #16270
Those are not valid argument for that command, at least not recently...  If I try to run that, chip-tool just errors out.

Can you please retest whether this is a problem on a recent build?

[2022-05-25 01:43] bzbarsky-apple commented on #16195
Duplicate of #15766

[2022-05-25 01:43] #16195 closed

[2022-05-25 01:43] bzbarsky-apple commented on #18761
Duplicate of #15766.

[2022-05-25 01:43] #18761 closed

[2022-05-25 01:44] bzbarsky-apple commented on #18751
Duplicate of https://github.com/project-chip/connectedhomeip/issues/18322

[2022-05-25 01:44] #18751 closed

[2022-05-25 03:19] bzbarsky-apple commented on #18750
Please don't bother testing FeatureMap (or at leats reporting issues about it) on anything before 2db812e8ef2f7fe3edfe04da4b526b3e977a1a43.

I just tried all the clusters listed in https://github.com/project-chip/connectedhomeip/issues/18750#issuecomment-1136066609 in all-clusters app on tip  (fda7854efb39fbfac9dd1063cc428c17b9676970) and they all work correctly.

[2022-05-25 03:19] #18750 closed

[2022-05-25 03:21] bzbarsky-apple commented on #18737
@Damian-Nordic could you take a look please?

[2022-05-25 03:25] bzbarsky-apple commented on #18727
Generally speaking, the intent is that only a valid administrator of the device will be able to remove fabrics, right?

[2022-05-25 03:26] bzbarsky-apple commented on #18681
@jrhees-cae what are the observable consequences of this function having the wrong signature?

[2022-05-25 03:28] bzbarsky-apple commented on #18679
Duplicate of #17205

[2022-05-25 03:28] #18679 closed

[2022-05-25 03:28] bzbarsky-apple commented on #18272
Should re-evaluate once #17205 is fixed.

[2022-05-25 03:31] bzbarsky-apple commented on #18646
chip-tool-darwin does not support reading events, because the Darwin framework does not.

[2022-05-25 03:31] bzbarsky-apple commented on #18646
Duplicate of #18185

[2022-05-25 03:31] #18646 closed

[2022-05-25 03:35] bzbarsky-apple commented on #18635
@chirag-silabs Where did that manual code come from?  The log at https://github.com/project-chip/connectedhomeip/files/8732877/MF-controller.1.txt says:

[code]
which should have been the right pairing code to use for the second commissioning.

[2022-05-25 03:37] bzbarsky-apple commented on #18644
@cjandhyala You added the "cert blocker" label, but is this reproducible?

[2022-05-25 03:38] bzbarsky-apple commented on #18595
In the device library the USR feature is _required_ for Matter, and therefore these commands are _required_ to not be supported in a Matter device.

[2022-05-25 03:38] #18595 closed

[2022-05-25 03:39] bzbarsky-apple commented on #18595
As in, those commands are not part of Matter at all.  They're in the cluster definition, but Zigbee-only.

[2022-05-25 03:49] bzbarsky-apple commented on #18545
This command is not enabled in all-clusters-app, looks like.

[2022-05-25 03:51] bzbarsky-apple commented on #18520
@cjszz2001 Is this the same issue as #18522?

[2022-05-25 03:52] bzbarsky-apple commented on #18737
@kpark-apple Is this the same issue as #18507?

[2022-05-25 03:57] bzbarsky-apple commented on #18391
These are not part of Matter, so they are expected to not be supported by any Mater tooling or Matter devices.

These should work in YAML on tip.  @kowsisoundhar12 can you retest, please?

[2022-05-25 04:23] bzbarsky-apple commented on #18508
Spec PR merged.  SDK now matches spec.

[2022-05-25 04:23] bzbarsky-apple commented on #18508
@cjandhyala @Survensa The test plan needs to be updated to the spec change.

[2022-05-25 04:26] #14624 closed

[2022-05-25 04:28] jrhees-cae commented on #18681
Without the attribute path being included as a parameter, the function is
completely useless to an app which wishes to override the weak link. The
app gets the call, but had no way of knowing which attribute was being
changed.

Jon

On Tue, May 24, 2022, 9:26 PM Boris Zbarsky ***@***.***>
wrote:

[2022-05-25 04:50] screensforme opened #18786 "Android chip tool resolves the matter service with only IPV4 address"
Android CHIP Tool resolves matter service  with only IPv4 address.

I provisioned chip device using wifi in android device, using IP address.
Then Light On/Off & Level Cluster -> UpdateAddress

Then I see android mdnssd resolves the matter service only on IPV4 even though it discovers both IPv4 & IPv6 address.
Could please check this. Is this any problem with android platform or android device con

[2022-05-25 05:43] nicelyjust commented on #18727
yes, For example:
![image](https://user-images.githubusercontent.com/20015907/170188413-49c4b309-9d9c-4afa-9342-88aca7dc6a89.png)

[2022-05-25 05:46] nicelyjust commented on #18727
Yes, For example I want to manager fabrics on TV, GUI like this
![image](https://user-images.githubusercontent.com/20015907/170188809-467c499f-ac1c-4d3f-85ac-7e9fb748c5bc.png)

[2022-05-25 06:21] #18380 closed

[2022-05-25 06:26] nicelyjust commented on #18655
我这边通过了,可能是你忽略了一些细节

[2022-05-25 07:04] yunhanw-google commented on #18761
should duplicate of #16202 https://github.com/project-chip/connectedhomeip/issues/16202

[2022-05-25 07:12] ldoering opened #18787 "Local actuator control in example Apps bypasses data model"
When working with the example apps for light and window-covering, I noticed that local buttons on the device itself directly control the output and notify the matter stack of the changed state.

I assume it would be more consistent to trigger the existing data model commands (e.g. toggle, move, stop, ...) on button press, which also would do proper boundary checking. This would remove the duplicat

[2022-05-25 08:39] dtodor opened #18789 "Support mDNSResponder on Linux (feature request)"
The platform mDNS implementation (i.e. `chip_mdns = "platform"`) on Linux uses Avahi. The OpenThread Border Router on the other hand supports both Avahi and the mDNSResponder. It would be favourable for systems running an OTBR and a Matter controller to use the same mDNS daemon, which currently is only possible with Avahi.

Adding support for the mDNSResponder to the Linux platform is straight-for

[2022-05-25 09:27] epeng100 commented on #18532
No, we tested it because the case is in TEDS list for lock app.

[2022-05-25 09:37] #16374 closed

[2022-05-25 09:53] Survensa commented on #18034
@fessehaeve  yes, I am facing this in all-cluster-app.
commit used: 516799116dd36a74adef3657e84bdd411ff8dbff

[2022-05-25 09:56] Survensa commented on #17592
In recent commit its fixed and the feature map value is getting as 2 and its supporting BAT mandatory attributes.so i am closing the issue.

[2022-05-25 09:56] #17592 closed

[2022-05-25 09:57] Rajashreekalmane opened #18790 "[TC-IDM-4.3]while verifying 2nd subscription with dataversion set, DUT Fails to sends a report data action for the attribute value,"
#### Problem
As per test-plan the test-step 19 says,
![image](https://user-images.githubusercontent.com/95841834/170234084-a0741fba-c499-4c02-8d47-54c6ca84ee3a.png)
currently while verifying 2nd subscription with data version set received earlier, DUT Fails to sends a report data action for the attribute value.

 * expected behavior:-DUT should send a report data action for the attribute value.
 *

[2022-05-25 10:17] Survensa commented on #18364
@bzbarsky-apple  I have raised issue for that https://github.com/project-chip/connectedhomeip/issues/18418

[2022-05-25 10:26] Survensa commented on #18307
Its working for the command `./chip-tool basic write-by-id 15 newserialnumber 49 0`

[2022-05-25 10:26] #18307 closed

[2022-05-25 10:53] PSONALl opened #18791 "[TE9] Idm-1.2 scan-network command doesnot show multiple networks and fails in last step"
#### Problem
For test case: TC-IDM-1.2:
 * expected behavior : after sending Scan networks command, DUT sends back a response which is of data type list. and list down all the networks
 * actual behavior : scan-networks command only shows one entry in list . command fails in last step of the testcase with error: Run command failure: IM Error 0x00000585: General error: 0x85 (INVALID_COMMAND)
 * sys

[2022-05-25 11:11] somu1710 opened #18793 "TC-WNCV-4.1 - Liftpercent 100th's value is not matched with expected outcome"
**Problem:**

In Windowcovering cluster [TC-WNCV-4.1] - The value of liftpercent 100th's is not matched with the expected outcome and current position lift percentage has shows "0" as value instead of "25".

**Expected outcome:**

While we giving the lift percentage value as 25 , Liftpercent 100ths value should be 2500
**Commands used:**
1../chip-tool windowcovering go-to-lift-percentage 25 1 1

[2022-05-25 11:34] jmeg-sfy commented on #18793
we changed this command recently
no more optional always input a 100th percent value

[2022-05-25 11:37] nansenLV commented on #18417
@cjandhyala The log captured by hcidump indicate that the time between BLE advertisement begining and ending less than 500 ms, mostly it is just only 1 ms kept for advertising.

[2022-05-25 12:14] manjunath-grl opened #18794 "[TC-WNCV-4.3] CurrentPositionLiftPercentage attribute showing value mismatch error"
Summary:
As per testplan of TC-WNCV-4.3
Step 1a: TH reads CurrentPositionLiftPercent100ths attribute from DUT and saved value as attrCurrentPositionLiftPercent100ths got value as 500
Step 1c: TH reads CurrentPositionLiftPercentage from  DUT + assert CurrentPositionLiftPercent100ths/100 equals CurrentPositionLiftPercentage expected value is 5 but got 50

Testplan screenhot:
![image](https://user-im

[2022-05-25 12:23] somu1710 commented on #18793
Ok @jmeg-sfy

[2022-05-25 12:23] #18793 closed

[2022-05-25 12:28] wxiangcheng opened #18795 "Should chip-tool be compatiable with matter all-cluster demo - compiled from same version?"
#### Problem
I want to use chip-tool running on Linux as controller. The other matter device is ESP32 board.
when I compiled chip-tool from top master branch, I found it can't do commission with my ESP32 board. But with one elder chip-tool, it can do commission with ESP32. But this elder chip-tool lost its workspace.

So, how to know which chip-tool should I use to do commission with my ESP32 boar

[2022-05-25 12:42] songshan99 opened #18797 "Reconnect to devices that are already commissioned using chip-device-ctrl"
I have been trying examples with NRF52840 and ESP32, using BLE to commission the device to Thread or WiFi network.
The examples work as expected, and I can use Python Matter Controller (chip-device-ctrl) to turn on/off an LED.

The exmaples work in such a way that you do the WiFi/thread network commissioning first, and then you can use zcl command to control the device

But i also expect that afte

[2022-05-25 12:49] dhrishi commented on #18797
I am not sure if that is possible using `chip-device-ctrl` but it is possible through the host based [chip-tool](https://github.com/project-chip/connectedhomeip/tree/master/examples/chip-tool) which is now supposed to the be default testing tool, also used by the cert team.

[2022-05-25 12:50] kpark-apple commented on #18737
No, it's a different issue. In this issue, border router refused while in #18507, border router accepted and successfully finished all updates while the Nordic log still showed refused.

[2022-05-25 13:01] wxiangcheng commented on #18753
It seems that chip-tool start wrong discovery service. Per spec. chapter 5.5 commissioning flows, in step 13 it said "Finalization of the Commissioning process begins. An Administrator configured in the ACL of the Commissionee by the Commissioner SHALL use **_Operational_** Discovery to discover the Commissionee". But why my chip-tool starts a wrong discovery with wrong format of only fabric ID (n

[2022-05-25 13:02] kpark-apple commented on #18737
@Damian-Nordic Border router isn't OTBR. But the error is from srp-mdns-proxy in our border router. We have repeated log of the following:

[code]

[2022-05-25 13:06] bluebin14 opened #18800 "chip-tool: timeout argument is ignored, breaks test plan"
#### Problem
The --timeout argument in chip-tool is ignored, makes it problematic to use in automated tests of all existing test plans that relate to subscription. Having an interactive mode does not solve the issue of automation.

 #### Proposed Solution
Actually look at the --timeout argument and run the tool for the duration specified. The following e.g. needs to work:
./chip-tool booleanstate

[2022-05-25 13:14] somu1710 opened #18801 "TC-SWTCH-3.2 - Client test case needs an reference app to modify and verify the state of the the switch."
**Problem description:**

To verify the latching and Momentary switch state as explained in the test case TC-SWTCH-3.2 , If there is an reference app to modify the state of the switch will be helpful to verify this simulated functionality.

currently test case expects to change the state of the switch from 0 to 1 and vice versa and expects to read the attribute. As of now there is no provision to

[2022-05-25 13:27] kkasperczyk-no commented on #18363
@Survensa as you wrote it fails on nRF, because you invoked the `lock-door` command with pinCode argument that is optional. According to spec the pin code argument has [COTA & PIN] conformance that is not met by the nRFConnect platform. Isn't getting failure response something we should expect in such case? The same comment for the https://github.com/project-chip/connectedhomeip/issues/18364 issue

[2022-05-25 13:31] cjszz2001 commented on #18520
Flash the bootloader and it boots up properly.
you can find the sample bootloader file for BRD4186 in matter repo: "connectedhomeip\third_party\efr32_sdk\repo\platform\bootloader\sample-apps\bootloader-storage-spiflash-single\efr32mg24a010f1536gm48-brd4186a"

[2022-05-25 13:33] Survensa commented on #18156
Verified with latest commit

[2022-05-25 13:33] #18156 closed

[2022-05-25 13:51] Survensa commented on #18157
Verified with commit `516799116dd36a74adef3657e84bdd411ff8dbff` but not able to fetch any event.

[2022-05-25 13:58] caipiblack opened #18805 "How to get a notifications when a device appear online and when it seems disconnected ?"
#### Problem

I am building a Matter controller using TE9 commit. Currently with this controller we can commission and control devices.

To improve the user experience, we would like to be able to detect when a device appears online and when a device seems "offline" (not speaking since long time).

**Currently I'm not sure about how to do it with the Matter stack and if this functionality is suppo

[2022-05-25 14:38] #18729 closed

[2022-05-25 14:47] tcarmelveilleux commented on #18322
Test event trigger will be used for OTA test plans

[2022-05-25 14:54] andy31415 commented on #18644
assigning this to @cjandhyala - need ToT reproduction steps (since Boris tried and it did not reproduce) or closing.

@ifyall could you also add info regarding setup:
   - what platforms was the command run on
   - how often does it reproduce
   - if you are able to re-run it quickly enough, can you test on ToT on your environment?

 We also now have a doc: https://github.com/project-chip/connecte

[2022-05-25 14:56] chrisdecenzo commented on #18732
Fixed test case, and test plan. These commands are a simple show/hide of the input list.

[2022-05-25 14:57] #17596 closed

[2022-05-25 14:57] andy31415 commented on #18417
@nansenLV - could you update the summary a bit:

- provide environment information (what was the DUT env, what chip-tool)
- how often does this reproduce (always or some times only)
- move log dump into an attachment for faster parsing

See https://github.com/project-chip/connectedhomeip/blob/master/docs/BUG_REPORT.md

[2022-05-25 15:19] chrisdecenzo commented on #18043
Updated the test case to read: "TH must provide 11/21 digit manual pairing code or setup passcode to enter into DUT." and tv-casting-app displays the setup passcode.

[2022-05-25 15:19] #18043 closed

[2022-05-25 15:20] tcarmelveilleux commented on #18805
The correct method is not discovery, since it is liable to TTL caching, especially for Thread devices. The correct method is to establish a subscription to devices you care to have their liveness information, and use the time-out of the subscription to trigger determining if still alive

[2022-05-25 15:32] andy31415 commented on #18317
Assigning to myself. I believe as part of changes to #18687 we are pulling in device labelling support as well. I will have to test this and eventually this has to be added to multiple platforms.

[2022-05-25 15:39] Rajashreekalmane commented on #18601
I tried in chip-tool interactive mode.

steps to reproduce:-
sudo ./chip-tool interactive start
then at the shell prompt  sent the timed request
./chip-tool administratorcommissioning open-basic-commissioning-window 500 1 0 --timedInteractionTimeoutMs 1000
waited for 5 mins
then sent a write command ./chip-tool levelcontrol write on-level 1 1 1
getting response as success instead of unsupported ac

[2022-05-25 15:49] chrisdecenzo commented on #18695
fixed by @lazarkov in recent PR

[2022-05-25 16:14] cjandhyala commented on #16220
@Survensa confirm if this is still an issue

[2022-05-25 16:17] bzbarsky-apple commented on #18508
Actually, reopening, since the spec got aligned on INVALID_COMMAND but the SDK does INVALID_VALUE.

[2022-05-25 16:25] tcarmelveilleux commented on #17209
https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5269 covers a fix in spec to match SDK by removing the command

[2022-05-25 16:29] yinyihu-silabs commented on #18407
lock-app

[2022-05-25 16:37] #18312 closed

[2022-05-25 16:55] #16220 closed

[2022-05-25 17:00] Garik098 opened #18813 "TC-MF-1.11 Chip tool Darwin testing: After 20 unsuccessful attempts, 21st attempt pairing is going through"
As per TC-MF-1.11, after 20 unsuccessful pairing attempts, the commissioning window should be closed. But while executing these steps through chip tool Darwin, the pairing at 21st attempt is going through.

Note: The issue is appearing on ECM. On BCM it is working as expected.

Command used for unsuccessful pairing attempts:  ./chip-tool-darwin pairing manualcode 1 3496902900 --commissioner-name b

[2022-05-25 17:04] #11724 closed

[2022-05-25 17:04] #17623 closed

[2022-05-25 17:07] andy31415 commented on #18317
Validated that his currently works in nrf-light using this script:

[code]

[2022-05-25 17:11] jmeg-sfy commented on #18320
I ll do a PR for this !

[2022-05-25 17:13] bzbarsky-apple commented on #18753
That's commissioning discovery.  And that's just the packets we are getting.

The real issue is the operational discovery here:
[code]
and then that ends up timing out.

The device log does say:
[code]

so that part matches; the question is why discovery fails.

@andy31415

[2022-05-25 17:18] mrjerryjohns commented on #18801
It looks like there is an example implementation of the `SwitchDelegate` for LInux, but there is no way to actually interact with that to effect changes to the switch state from a CLI. There are some issues with the existing `switch-server.cpp` impl in that it doesn't _actually_ change the state of the switch attributes, but that will be a separate issue.

[2022-05-25 17:21] woody-apple commented on #18407
Cert Blocker Review: @franck-apple to find an assignee (maybe @Morozov-5F )

[2022-05-25 17:22] woody-apple commented on #18418
Cert Blocker Review: Assigning to myself and @franck-apple to find an assignee. Tagging @bzbarsky-apple as well