[2022-05-25 17:23] woody-apple commented on #18157
Cert Blocker Review: Assigning to myself and @franck-apple to find an assignee. (Maybe @Morozov-5F)

[2022-05-25 17:24] woody-apple commented on #18417
Cert Blocker Review: Assigning to @cjandhyala pending new information.

[2022-05-25 17:26] mrjerryjohns commented on #18140
Please provide the specific chip-tool commands used.

[2022-05-25 17:26] woody-apple commented on #18333
Cert Blocker Review: Assigning to @jmeg-sfy to resolve.

[2022-05-25 17:28] bzbarsky-apple commented on #18418
@Survensa Please attach (not paste) complete logs from the client (including, critically, the exact command being executed) and the server.

My guess is that this is using a credential type not supported by the server app, but the logs would tell for sure.

[2022-05-25 17:29] Morozov-5F commented on #18407
I can just enable those commands and attributes in the lock-app but they won't be actually implemented. SDK part of the door lock currently supports only a limited subset of all the commands.

[2022-05-25 17:30] #7285 closed

[2022-05-25 17:34] woody-apple commented on #8565
SDK Spec Review: We do not believe this is a spec conformance issue. Second, we believe this also complete. Closing.

[2022-05-25 17:34] #8565 closed

[2022-05-25 17:35] woody-apple commented on #9768
SDK Spec Review: At this point we believe that the version is correct to be spec compliant.

[2022-05-25 17:36] woody-apple commented on #9770
SDK Spec Review: This version needs to be updated.

[2022-05-25 17:40] woody-apple commented on #9768
SDK Spec Review: Given no cert tests are failing here (cert blocker), we believe this is likely resolved.

[2022-05-25 17:40] #9768 closed

[2022-05-25 17:40] woody-apple commented on #9770
SDK Spec Review: Given no cert tests are failing here (cert blocker), we believe this is likely resolved.

[2022-05-25 17:40] #9770 closed

[2022-05-25 17:40] woody-apple commented on #9772
SDK Spec Review: Given no cert tests are failing here (cert blocker), we believe this is likely resolved.

[2022-05-25 17:40] #9772 closed

[2022-05-25 17:41] woody-apple commented on #9901
SDK Spec Review: We do not believe this is a spec issue, removing spec.

[2022-05-25 17:43] woody-apple commented on #10221
SDK Spec Review: We need to make sure there's a test case for this. Assigning to @cjandhyala for now to follow up to create a cert test.

[2022-05-25 17:47] cjandhyala commented on #10221
Followed-up with an issue in the test plan, https://github.com/CHIP-Specifications/chip-test-plans/issues/1355 , once the test case is added, QA will run this test as part of certification test

[2022-05-25 17:48] woody-apple commented on #10334
SDK Spec Review: Moving out of 1.X, given we do not have an implementation plan for scenes in 1.0

[2022-05-25 17:52] woody-apple commented on #10865
SDK Spec Review: We believe this is stale and resolved. Closing for now, please re-raise if this is an issue.

[2022-05-25 17:52] #10865 closed

[2022-05-25 17:52] woody-apple commented on #11745
SDK Spec Review: Moving out of 1.X, given we do not have an implementation plan for scenes in 1.0

[2022-05-25 17:53] andy31415 commented on #18317
I can also confirm this fails for efr32-brd4161a-light which seems in line with my expectations: using the DeviceInfoProvider enables this, not having it makes it not pass.

I will add this for EFR however for future items I will need platform owners to update their examples.
I was also unable to test with nrf on lock, light or all clusters since they fail to BLE advertise for me.

[2022-05-25 17:53] #12884 closed

[2022-05-25 17:54] woody-apple commented on #12973
SDK Spec Review: We believe this is resolved, marking as closed.

[2022-05-25 17:54] #12973 closed

[2022-05-25 17:57] woody-apple commented on #13793
SDK Spec Review: We do not believe this is a spec requirement for 1.0.

[2022-05-25 18:15] jmeg-sfy commented on #18317
It was on EFR32 in my case

[2022-05-25 18:17] jmeg-sfy commented on #18317
Did a copy of those from src/platform/Linux

	src/platform/EFR32/DeviceInfoProviderImpl.cpp
	src/platform/EFR32/DeviceInfoProviderImpl.h

[2022-05-25 18:28] andy31415 commented on #18317
I updated EFR32 light to use the newly moved examples/provides/DeviceInfoProviderImpl.h/cpp however this crashes for me :( Need to debug why.

[2022-05-25 19:01] bzbarsky-apple commented on #18544
`MatterThermostatClusterServerPreAttributeChangedCallback`, which is supposed to enforce this, is not being called.

[2022-05-25 19:14] bzbarsky-apple commented on #18407
I think the important part is that anything claimed to be supported by the feature map needs to actually be supported.

[2022-05-25 19:16] bzbarsky-apple commented on #18601
Just to repeat:

[2022-05-25 19:20] bzbarsky-apple commented on #18737
@Abhayakara

[2022-05-25 19:24] andy31415 commented on #18317
Found that storage has to be initialized (makse sense ... we store the labels). What is unclear is why this was working for me on nrf and linux which do not initialize storage. So I added the storage init to all examples now.

[2022-05-25 19:39] andy31415 commented on #18753
Needs more debugging I guess - have to figure out:
  - does the device receive the ANY/UNICAST query?
  - does the device respond to the ANY/UNICAST query?
  - does the controller send a ANY/MULTICAST query if the initial response is not received
  - does the controller receive any of the mdns packets (assuming any were sent)?

Generally some logs may help, but if those do not you will need to set

[2022-05-25 19:41] andy31415 commented on #18753
Other ideas: since I see docker0 in errors, I assume you are running on a linux machine for chip-tool (controller). In that case, you may want to check firewalls: I have seen instances where firewalls are blocking 5353 for IPv6, so using IPv6-only chip-tool makes things not work.

So disable firewalls and get a wireshark packet capture (capture port 5353)

[2022-05-25 19:58] bzbarsky-apple commented on #18764
@Damian-Nordic Any ideas what might be going on here?

[2022-05-25 20:00] bzbarsky-apple commented on #18800
"timeout" is how long the caller of the command will wait before killing it off if it has not complete.

The "subscribe" command, in non-interactive mode, completes immediately.  This has nothing to do with the timeout argument.

Is the actual request here for the "subscribe" command to not complete immediately?   What would it do in automation exactly?  When would it complete?

@bluebin14

[2022-05-25 20:02] andy31415 commented on #17604
Marking as fixed as NRF user-label write was added, at least to the light app.

I will look into adding it for other apps separately.

[2022-05-25 20:02] #17604 closed

[2022-05-25 20:21] bzbarsky-apple commented on #18813
I just tried the following steps to reproduce this:

1. Check out current tip (a3fdd059ebcf22131f6905dd551eabd631466db4).
2. `scripts/examples/gn_build_example.sh examples/all-clusters-app/linux out/debug/standalone chip_config_network_layer_ble=false` to build all-clusters app.
3. `scripts/examples/gn_build_example.sh examples/chip-tool-darwin out/debug/standalone/` to build chip-tool-darwin
4. `

[2022-05-25 20:22] bzbarsky-apple commented on #18795
Generally speaking, chip-tool and the server should be from the same SHA, historically, as the wire format was getting updated.

So yes, if you use a current tip chip-tool with some random old-enough SHA it will fail.

[2022-05-25 20:22] #18795 closed

[2022-05-25 20:24] bzbarsky-apple commented on #18794
@jmeg-sfy

[2022-05-25 20:24] bzbarsky-apple commented on #18790
The whole point of sending a data version in a subscribe is that if the version matches the value does not need to be sent.

[2022-05-25 20:24] #18790 closed

[2022-05-25 20:25] bzbarsky-apple commented on #18790
@cjandhyala @mrjerryjohns @yunhanw-google Sounds like the test plan needs fixing.

[2022-05-25 20:57] andy31415 commented on #18789
@dtodor - if we were to support mDNSResponder, I think it should be a option like chip_mdns supporting "minimal", "platform" and "responder" (or some other variation of names).

Need to make it configurable, beyond that having more options to testing things is great. We also need some maintenance for it especially at start. Would you be willing to fix issues if we find them to be mDNSResponder spe

[2022-05-25 20:59] Abhayakara commented on #18737
What's going on here is that we didn't anticipate a need to publish a new service instance of the same service type on the same host, so the error-checking code is not accounting for the case where this is what's happening, and is instead seeing it as a mistake.

[2022-05-25 21:06] jmartinez-silabs commented on #18764
If this is the case there is a significant regression. SED build was tested and validated not long ago. I can't say I tried it lately. I will need to reproduce

[2022-05-25 21:41] kpark-apple commented on #18737
Closing this for Apple border router has to allow this sequence of updates.

[2022-05-25 21:41] #18737 closed

[2022-05-25 21:49] liamgonyea commented on #5331
This issue needs to be re-opened as there still is support needed for parsing Concatenated QR codes as of TE9 testing timeframe

[2022-05-25 21:55] #18320 closed

[2022-05-25 22:02] kpark-apple commented on #18507
I looked back at the Apple border router log and found that updates were rejected by the Apple border router as well, most likely for the same reason as #18737. Hence, this is no issue for Nordic platform.

[2022-05-25 22:27] isiu-apple opened #18824 "[OTA-R] mProviderRetryCount is not implemented correctly"
#### Problem

So the current code doesn't properly reset `mProviderRetryCount` after a successful download but image is not applied. Given that we now have two retry counters and they are incremented in different locations, we could be incrementing `mProviderRetryCount` even on an invalid session error:

1. Requestor successfully sends QueryImage (CASE established and `mProviderRetryCount` increme

[2022-05-25 22:28] liamgonyea commented on #17205
@yufengwangca I noticed in your testing here that the invalid QR code needs to have the same discriminator as @sowmyassp's testing (3840) so that you run into the issue as well as supply an invalid `version`=2.

It sounds like Vivian fixed this but to use **Version** bit string as an example:
For `TC-DD-3.14` Step 2a/b, All parts of the QR code should be the same as `chip-all-clusters-app`'s defau

[2022-05-26 00:09] yufengwangca commented on #17205
@liamgonyea

I am not able to reproduce this issue on the latest ToT, which modify the pairing command format. From the current code, the version need to be 0 to pass the pairing

bool PayloadContents::CheckPayloadCommonConstraints() const
{
    // A version not equal to 0 would be invalid for v1 and would indicate new format (e.g. version 2)
    if (version != 0)
    {
        return false;
    }

[2022-05-26 00:43] nykh2010 opened #18828 "This may exceed the limit of key name length in ESP32 platform"
https://github.com/project-chip/connectedhomeip/blob/433c5ff9049600e67a214abbb1b0d1b984df6147/src/lib/support/DefaultStorageKeyAllocator.h#L60

This may exceed the limit of key name length in ESP32 platform. The max length is 16 bytes.

[2022-05-26 00:51] franck-apple commented on #18157
@Morozov-5F, I'm assigning it to you, please update assignee if not appropriate.

[2022-05-26 01:24] #17133 closed

[2022-05-26 02:22] bzbarsky-apple commented on #16148
Note that IdentifyQuery is gone, so this issue will need different steps to reproduce.

[2022-05-26 02:23] bzbarsky-apple commented on #18828
See https://github.com/project-chip/connectedhomeip/pull/18604

[2022-05-26 02:23] #18828 closed

[2022-05-26 03:15] #18317 closed

[2022-05-26 03:17] andy31415 commented on #18634
@Garik098 - is this chip-tool-darwin specific or does it affect all chip-tools?

[2022-05-26 03:18] andy31415 commented on #18634
@cjandhyala you added cert-blocker however this seems like maybe platform specific (darwin)? Could you confirm if this is actually a cert blocker?

[2022-05-26 03:41] bzbarsky-apple commented on #18272
With adjustments to tip (using "code" instead of "qrcode" or "manualcode"):

Throws an error after #18606

Not sure; don't have a device with custom commissioning flow.

Still allows commissioning.

Throws an error after #18606

The test plan is wrong (@cjandhyala).  Per spec, just because the QR code says BLE only does not mean we shouldn't try IP, because this could be a basic commissioning wind

[2022-05-26 04:49] cabin15 commented on #18494
@bzbarsky-apple
As no guide is described on test-plan for enabling `LOG` feature on server, I couldn't get to it.
BTW, as there has been a lot of changes on doorlock test-plan, let me re-test DL-3.2 according to latest test-plan.
Let me close this.
Thank you.

[2022-05-26 04:49] #18494 closed

[2022-05-26 04:53] PSONALl commented on #14873
Regarding the above issue, If we turn off logs from DUT side, command executes within time, So the DUT specific logs and other checks increase the time for level to reach a particular level, we can conclude that the expected functionality is working well

As these logs are essential from development perspective we are not disabling those

but for this particular test case we can disable the logs w

[2022-05-26 04:53] #14873 closed

[2022-05-26 06:21] bluebin14 commented on #18800
@bzbarsky-apple yes the request is for the subscribe command to not complete immediately but instead wait for a specified duration and exit. Without that the subscribe command is meaningless in non interactive mode. Since the timeout argument already exists and means "wait for at most x duration before exiting", indeed a different argument would be more appropriate that means "wait for at least x

[2022-05-26 07:25] somu1710 opened #18836 "TC-SU-2.2 - DUT sends query image after 120 seconds instead of 180 seconds using busy command"
**Problem:**
As per testplan [TC-SU-2.2] - step no.5 DUT sends queryimage set as busy for 180 seconds  but it sends after 120 seconds.

**Solution:**
 DUT needs to send the queryimage transfer after 3 mins(180 seconds) not to send after 2 mins (120 sec) as per spec.

Requestor : Delayed action time

Commands used:

OTA-PROVIDER:

CHIP:SWU: QueryImageResponse:
 CHIP:SWU:   status: 1
 CHIP:SWU:   de

[2022-05-26 07:29] somu1710 commented on #18836
#https://github.com/project-chip/connectedhomeip/pull/18832

[2022-05-26 07:51] #18432 closed

[2022-05-26 08:16] wqx6 commented on #18655
@nicelyjust Can you please share the commands that you generate the certs?

[2022-05-26 08:32] RandolphChina commented on #13165
Dear friend, I meet the same problem , how to solove it  please?

[2022-05-26 09:14] wxiangcheng commented on #18753
Thanks, @bzbarsky-apple @andy31415
Your advice is very helpful and I'm trying to understand the issue:
1. Network data path is ok. No firewall.
2. Agree with bzbarsky "The real issue is the operational discovery". From both device/sniffer log, after "CHIP minimal mDNS configured as 'Operational device'" device will broadcast mDNS reply, is this boardcast mNDS right? Not unicast? see below packet a

[2022-05-26 09:41] Rajashreekalmane opened #18839 "[TC-IDM-4.3]--Chip tool needs to provide a way to set MinIntervalFloor value > MinIntervalFloor value For subscription request."
#### Problem
As per Test-Plan, step 21 says TH sends a subscription request action for attribute and set the MinIntervalFloor value to be greater than MaxIntervalCeiling, and expecting response as  DUT sends an error message and the subscription is not established.
**Chip tool needs to provide a way to set MinIntervalFloor value > MaxIntervalCeiling value when TH sends a subscription request actio

[2022-05-26 09:46] Survensa commented on #18418
@bzbarsky-apple Here I have attached the log of server and client for this command .
[setcerdential-cntl.txt](https://github.com/project-chip/connectedhomeip/files/8778021/setcerdential-cntl.TXT)
[setcerdential-dut.txt](https://github.com/project-chip/connectedhomeip/files/8778022/setcerdential-dut.txt)

[2022-05-26 09:56] dtodor commented on #18789
I will discuss this with our client and will come back to you later. We are already doing the alignment with the Darwin implementation on a regular basis.

[2022-05-26 10:36] Survensa commented on #17310
We use lock-app for Door lock execution.

[2022-05-26 11:21] #18766 closed

[2022-05-26 12:36] #17392 closed

[2022-05-26 12:41] sowmyassp commented on #18272
@bzbarsky-apple
./chip-tool pairing code 1 MT:-24J029Q00KA0648G00 is failing

[2022-05-26 12:49] wxiangcheng commented on #18753
oh... can anyone tell me why in CHIP_ERROR ResponseSender::Respond(), it always go "f (*responder == nullptr)" sending "answer" replies?  why mResponders is null from begin to end?

This happens at [2022/5/26 16:14:48] chip[DIS]kkk Received an mDNS query from 192.168.31.162 --> from pkt No. 428.

[2022-05-26 12:49] andy31415 commented on #18633
@cjandhyala @tcarmelveilleux @bzbarsky-apple  - is this actually a cert-blocker?

The way I read it, these are enum value renames ... do these enum values show up in cert tests? they sound internal to me, however I am not familiar with them.

[2022-05-26 12:53] andy31415 commented on #18272
Removed cert blocker, leaving #17205 as the equivalent cert blocker. I believe the fix for that will likely fix both, however for cert blocking we are blocking in `chip-tool` not on `chip-tool-darwin`

[2022-05-26 13:08] andy31415 commented on #18407
I believe we should enable all features and implement at least stubs for any features we expect V1 production devices to want certifiable.

Either path of "remove feature flags" or "implement stubs" works, but they affect what certification will certify.

[2022-05-26 13:13] andy31415 commented on #18836
How is this bug report relating to #18616? Seems like both are regarding the same test case and complain about timeouts.

[2022-05-26 14:48] tcarmelveilleux commented on #16846
This was done by #16893

[2022-05-26 14:48] #16846 closed

[2022-05-26 15:08] jonsmirl commented on #16664
[code]

This should have worked but it does't.
`$ export PW_BOOTSTRAP_PYTHON=python3.9`

Get annoyed at pigweed and simply hard code it:
[code]

Then bootstrap will work:
`source ./scripts/bootstrap.sh`

[2022-05-26 15:19] manjunath-grl opened #18848 "[TC-CC-9.*] ColorLoopStoredEnhancedHue attribute value mismatch error."
Summary:
As per testplan [TC-CC-9.*] Precondition: Set DUT EnhancedCurrentHue to 0x4000 using EnhancedMoveToHue command
but in Step 5c: TH read ColorLoopStoredEnhancedHue attribute from DUT and value is the same as EnhancedCurrentHue attribute (0x4000) set in Pre-Condition but got 0 when executed.
Testplan screenshot:
![image](https://user-images.githubusercontent.com/102359958/170517445-6edb78bb-

[2022-05-26 15:32] manjunath-grl opened #18850 "[TC-CC-9.*] EnhancedCurrentHue value mismatch error."
Summary:
As per testplan [TC-CC-9.*] TH sends ColorLoopSet command  EnhancedCurrentHue should decrease and continue to Max allowed enhanced hue if reach 0. After 30 sec, it should return to ColorLoopStartEnhancedHue but got random value within 0 to 65535 when executed.

Testplan screenshot:
![image](https://user-images.githubusercontent.com/102359958/170520181-5369b420-0138-4b27-97b4-9b77c4846c94.

[2022-05-26 15:56] #17909 closed

[2022-05-26 15:57] somu1710 commented on #18836
@andy31415 This issue is not related to this because #18616 issue is for update not available command it explains that the image should query after 2 mins but its not querying and this issue is related to busy command it querying after 2 mins instead of 3 mins as per test plan.

[2022-05-26 16:49] bzbarsky-apple commented on #18850
@jmartinez-silabs

[2022-05-26 16:49] bzbarsky-apple commented on #18848
@jmartinez-silabs

[2022-05-26 16:49] yunhanw-google commented on #18065
@mrjerryjohns @bzbarsky-apple just wanna double confirm the event management would not be used by multi-thread. We are strictly following single threading model?

[2022-05-26 16:52] bzbarsky-apple commented on #18839
@Rajashreekalmane @cjandhyala I don't understand this issue.  The test plan says to set MinIntervalFloor to the same value as MaxIntervalCeiling (which chip-tool supports), but the text talks about setting `MinIntervalFloor > MinIntervalFloor`, which is obviously not possible.

[2022-05-26 16:55] bzbarsky-apple commented on #18839
I am _guessing_ this issue is actually about step 21, not step 20, and that the request is that we allow `MinIntervalFloor > MaxIntervalCeiling`?

If so, that's not allowed in the SDK right now, so adding it to chip-tool is not exactly trivial.

[2022-05-26 16:58] jmartinez-silabs commented on #18848
I will review it but I think those are teat plan instructions set issues and not implementation issues

[2022-05-26 17:00] sowmyassp commented on #17205
I used code for invalid version on TOT
**Command used** :
- DUT :   ./chip-all-clusters-app --version 2 --vendor-id 0xFFF1 --product-id 0x8001 --custom-flow 2 --capabilities 4 --discriminator 3840 --passcode 20202021
- TH : ./chip-tool pairing code 1 MT:034J029Q00KA0648G00

**The result I got is**
ERROR: Run command failure: ../../third_party/connectedhomeip/src/controller/SetUpCodePairer.cpp:50:

[2022-05-26 17:00] isiu-apple commented on #18836
@somu1710, this issue looks identical to https://github.com/project-chip/connectedhomeip/issues/18432, and the fix was merged earlier today via https://github.com/project-chip/connectedhomeip/pull/18832.  Can you please re-test with this fix and dup the issues if identical?

[2022-05-26 17:06] andy31415 commented on #18839
Are we supposed to cert-block on negative test cases? I imagine many of these may be non-trivial to implement.

@cjandhyala what is the policy here? I would be inclined to not block on "allow invalid values to be accepted by tooling" or at least separate these cases a bit, since we will want some flags/builds/error injection capability for "I am providing invalid values but I know what I am doing

[2022-05-26 17:09] yufengwangca commented on #17205
@sowmyassp

As I mentioned above, version number other than 0 is invalid in current implementation, you won't generate the QR code, is there say we should ignore the version check?

    // A version not equal to 0 would be invalid for v1 and would indicate new format (e.g. version 2)
    if (version != 0)
    {
        return false;
    }
.....

[2022-05-26 17:10] somu1710 commented on #18836
@isiu-apple  Sure will check  with the latest SHA and close the ticket as per. I think its same issue

[2022-05-26 17:16] bzbarsky-apple commented on #18508
Spec issue for this: https://github.com/CHIP-Specifications/connectedhomeip-spec/issues/5242

Spec PR for that issue: https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5253

[2022-05-26 17:22] woody-apple commented on #18616
Cert Blocker Review: @cjandhyala Can you please follow up on the test plan here?

[2022-05-26 17:26] woody-apple commented on #18633
Cert Blocker Review: @cjandhyala is updating the test plan to fully cover the test, which will make this a cert blocker.

[2022-05-26 17:28] woody-apple commented on #18407
Cert Blocker Review: Tagging @cjandhyala to set up an evaluation of this test plan as well.

[2022-05-26 17:37] woody-apple commented on #14116
Spec Review: Per discussion, we do not believe this is a spec compliance issue.

[2022-05-26 17:38] Rajashreekalmane commented on #18839
@bzbarsky-apple Yes this issue is on step 21 , I have updated  the issue Now.

[2022-05-26 17:39] woody-apple commented on #14566
Spec Review: @mrjerryjohns to review.

[2022-05-26 17:40] woody-apple commented on #14578
Spec Review: @cjandhyala can you please have this re-tested?

[2022-05-26 17:42] woody-apple commented on #14709
Spec Review: @vivien-apple can you please confirm if this is a spec issue?

[2022-05-26 17:42] woody-apple commented on #14709
(And close if necessary)

[2022-05-26 17:44] woody-apple commented on #15238
Spec Review: We do not believe this is a spec compliance issue, removing spec.

[2022-05-26 17:44] woody-apple commented on #15238
Spec Review: @kkasperczyk-no can you please confirm this is still an issue and/or is it resolved with the linked PR?

[2022-05-26 17:45] woody-apple commented on #15541
Spec Review: Presently we believe we're conforming to spec, removing spec label.

[2022-05-26 17:46] woody-apple commented on #15541
Spec Review: Closing for now, @tcarmelveilleux will open an issue if we find any remaining problems.

[2022-05-26 17:46] #15541 closed

[2022-05-26 17:47] woody-apple commented on #15740
Spec Review: @cjandhyala can you please follow up here to see if this is still happening?

[2022-05-26 17:51] isiu-apple commented on #14335
This is an old issue and pairing the Requestor using chip-tool has been working for a long time.

[2022-05-26 17:51] woody-apple commented on #16268
Spec Review: We do not believe this a spec compliance issue, but is a bug. @cabin15 does this still happen? Please re-open if it does.

[2022-05-26 17:51] #16268 closed

[2022-05-26 17:52] woody-apple commented on #16272
Spec Review: We do not believe this a spec compliance issue, but is a bug. @cabin15 does this still happen? Please re-open if it does.

[2022-05-26 17:52] #16272 closed

[2022-05-26 17:52] woody-apple commented on #16398
Assigning to @bzbarsky-apple to confirm if this is fixed.

[2022-05-26 17:53] woody-apple commented on #16443
Spec Review: Assigning to @tcarmelveilleux

[2022-05-26 17:54] woody-apple commented on #16522
Spec Review: We believe this is resolved in the linked PR.

[2022-05-26 17:56] bzbarsky-apple commented on #16522
This is NOT fixed.  This issue is a follow-up from the linked PR, that was identified during review of it.

[2022-05-26 17:57] woody-apple commented on #16627
Spec Review: @cjandhyala can you please follow up to confirm that this still happens, and/or how to update the tests.

[2022-05-26 17:57] carol-apple commented on #12471
https://github.com/project-chip/connectedhomeip/pull/18377 fixes this

[2022-05-26 17:57] #12471 closed

[2022-05-26 17:58] woody-apple commented on #17088
Spec Review: This is just an implementation problem. Closing, as we also believe this is complete

[2022-05-26 17:58] #17088 closed

[2022-05-26 18:00] woody-apple commented on #17209
Spec Review: After the above spec change, this is not a spec blocking issue.

[2022-05-26 18:02] tcarmelveilleux commented on #17209
Spec changes impact AddTrustedRootCertiticate as well

[2022-05-26 18:08] bzbarsky-apple commented on #16398
After https://github.com/project-chip/connectedhomeip/pull/18606 we disallow commissioning if the setup payload claims PID == 0.

If the setup payload is a short manual code, without PID, then it's not clear to me whether any PID checks should be happening.

But certainly the test plan steps linked above work now.

[2022-05-26 18:08] #16398 closed

[2022-05-26 18:10] #14335 closed

[2022-05-26 18:16] mrjerryjohns commented on #18839
I don't think is validatable without modifications to the IM implementation in the SDK to permit this 'test modality' and skips initial validation of these parameters.

I'd recommend we skip this test.

[2022-05-26 18:33] andy31415 commented on #13570
The matter specification describes message formats and structure.

[2022-05-26 18:33] #13570 closed

[2022-05-26 18:34] #13857 closed

[2022-05-26 18:39] mrjerryjohns commented on #18791
Could you read out the `acceptedCommandList` from the network commissioning cluster? I suspect that the wifi interface is somehow not being enabled in the cluster, which might explain the error of 'INVALID_COMMAND'.

[2022-05-26 18:41] mrjerryjohns commented on #16123
Most, if not all of the IDM tests are meant to utilize standard utility clusters that exist on all devices. Is there a specific concern with that approach that you see as not being viable?

[2022-05-26 18:43] mrjerryjohns commented on #16118
Sounds like this was completed when the support was added to chip-tool to specify a timeout.

[2022-05-26 18:46] mrjerryjohns commented on #14612
This is correct, the test plan just needs to pick the right attributes from the various utility clusters that are known to be present on all devices to ensure it hits the gamut of types required by the test plan.

[2022-05-26 19:24] Garik098 commented on #18634
This is chip tool Darwin specific and the issue is not being seen in chip tool.

[2022-05-26 20:28] #18363 closed

[2022-05-26 20:29] cjandhyala commented on #18418
@jrhees-cae this test is run on nordic nrfdk board

[2022-05-26 20:38] tehampson commented on #17310
With https://github.com/project-chip/connectedhomeip/pull/18711 now in this issue should be resolved

[2022-05-26 20:38] #17310 closed

[2022-05-26 20:57] phonnakasturi-apple opened #18864 "Nordic lighting app does not start/boot up"
With SHA eb7628f103faeb53b29519a6d40a47bafb290f62

Thread test fails because nordic board cannot be started.

**Steps:**
 1. cd ~/connectedhomeip
 2. git pull
 3. git reset --hard eb7628f103faeb53b29519a6d40a47bafb290f62
 4. source scripts/activate.sh
 5. python3 scripts/setup/nrfconnect/update_ncs.py --update
 6. cd examples/lighting-app/nrfconnect
 7. west build -b nrf52840dk_nrf52840 --pristine

[2022-05-26 21:35] turon commented on #18399
Will these revisions make use of `stl::shared_ptr` and `stl::weak_ptr` underneath or implement similar functionality from scratch?

[2022-05-26 21:36] dwgaul commented on #16851
We've got a PR up on the test plan side if this slips out of V1. Will keep an eye out and merge appropriately.

[2022-05-26 22:43] Garik098 commented on #18813
@bzbarsky-apple Got it. Unlike chip tool, chip tool Darwin is not printing the manual code in the logs every time we open the ecm commissioning window. So, Josh gave me the manual code to use. It is the same manual code 34969029007 every time.

I see that it is because of the failed checksum and I am closing this ticket as I see expected behavior when tried with manual code 34969027009 for 20 time

[2022-05-26 22:47] Abhayakara commented on #18737
Can I get a packet trace for this?

[2022-05-26 23:21] dwgaul opened #18868 "[Chip Tool Darwin] Cannot send group messages"
#### Attempting to send a group message using chip tool darwin:

`./chip-tool-darwin onoff on 0xffffffffffff4141 1`

But it looks like chip tool darwin is treating this address as a regular address and not going through the group message flow:

[code]

Meanwhile the standard chip tool looks to go through a group message flow, sending the command to a group:

[code]

Is group message support intend

[2022-05-27 00:38] kean-apple commented on #18864
This is specific to Nordic example lighting app. Nordic all clusters app powers up ok

[2022-05-27 00:52] bzbarsky-apple commented on #18864
@Damian-Nordic

[2022-05-27 00:55] phonnakasturi-apple opened #18875 "In thermostat cluster app GetRelayStatusLog command throws (INVALID_COMMAND) error on chip tool + chip tool Darwin"
The test case has 3 steps;

1. To increase the temperature by SetpointRaiseLower command
2. To Lower the temperature by SetpointRaiseLower command
3. To issue GetRelayStatusLog command to the Test Harness

The 3rd step that tests the GetRelayStatusLog throws (INVALID_COMMAND) error on chip tool + chip tool Darwin

**Note:** Accessory(ras pi) is running thermostat app

Attaching the logs from both

[2022-05-27 01:14] bzbarsky-apple commented on #18065
It can be used by multi-thread, but then the consumer has to either lock the Matter stack lock or queue the event bits to the Matter event queue, right?

[2022-05-27 01:27] bzbarsky-apple commented on #18418
Yep, that matches my guess from https://github.com/project-chip/connectedhomeip/issues/18418#issuecomment-1137600252

@cjandhyala @Survensa does the feature map for this device claim PIN support?

[2022-05-27 01:28] bzbarsky-apple commented on #18633
@andy31415 These are spec-defined enums; they are not internal, but sent on the wire.  And it's not just renames, it's also which is returned when.

[2022-05-27 01:59] bzbarsky-apple commented on #18800
I believe @vivien-apple purposefully removed the "do not exit" bit when interactive mode was implemented.... It really did not work well.

That said, adding a "wait N seconds after the subscription is established before exiting" option for subscriptions might not be too difficult....

[2022-05-27 02:06] bzbarsky-apple commented on #18813
How are you opening the ECM commissioning window?  We should fix this....

[2022-05-27 02:06] bzbarsky-apple commented on #18813
@Garik098

[2022-05-27 02:10] pankore commented on #18140
The command I used was copied from the V1 verification steps document. This command returns FAILURE.
` ./chip-tool accesscontrol write acl '[{"fabricIndex": 1, "privilege": 5, "authMode":3 , "subjects": [112233], "targets": [{"cluster": null, "endpoint": 0, "deviceType": null}]}]' 1 0`

On the V1.2 verification steps document, there is an uipdate to the command. This command returns UNSUPPORTED_AC

[2022-05-27 02:38] carol-apple commented on #18616
The current behavior is spec compliant. Please note that there is a pending spec update which should clarify the language on this: https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5248

To summarize, when a `NotAvailable` status response is received, it means there is no update available. Regardless of whether there is a `DelayActionTime`, the spec does not state that a retry must

[2022-05-27 03:05] franck-apple commented on #18140
assigning to @mrjerryjohns , @bzbarsky-apple , @mlepage-google for feedback on the command used.

[2022-05-27 03:20] bzbarsky-apple commented on #18875
GetRelayStatusLog is not part of Matter.  See the device library spec and https://github.com/CHIP-Specifications/connectedhomeip-spec/issues/3392

[2022-05-27 03:20] #18875 closed

[2022-05-27 03:28] bzbarsky-apple commented on #18839
@mrjerryjohns See #18855

[2022-05-27 03:43] bzbarsky-apple commented on #18875
And https://github.com/project-chip/connectedhomeip/pull/18880 to make this a bit more clear....

[2022-05-27 03:46] bzbarsky-apple commented on #18868
Not unless and until the Darwin framework starts sending group messages.  See also https://github.com/project-chip/connectedhomeip/pull/18375

Which tests require sending of group messages that you're trying to run via chip-tool-darwin?  In general, certification can't require a DUT to send group messages if it just doesn't send them....

[2022-05-27 04:44] bzbarsky-apple commented on #18140
OK, so this uses AuthMode == Group, with a subject value of 112233.

Per spec, if the auth mode is group then the subjects must be group ids.  In particular, they must be 64 bit values with the group id in the lowest 16 bits and the high 48 bits set to 0.  112233 == 0x1b669 and does not have the 48 high bits set to 0, so this is not a valid subject value for the Group authmode, and the command sho

[2022-05-27 04:44] #18140 closed

[2022-05-27 04:48] bzbarsky-apple commented on #18140
Oh, and after that first (failed) command the ACLs have been wiped out, which is why you get UNSUPPORTED_ACCESS after that.

@cjandhyala Can we please get the verification steps fixed?

[2022-05-27 05:25] kghost commented on #18580
Read/Command/Write commands are bound to `ExchangeContext`, there are no resource bound to `OnSessionReleased`, such that nothing should be handled inside `OnSessionReleased`.

The subscription has something related to session, where should be removed when `OnSessionReleased` is triggered. Synced with @yunhanw-google that even if the resource is not cleared in `OnSessionReleased`, the resources wi

[2022-05-27 05:38] yunhanw-google commented on #18580
per chat with @kghost , with his below change, when report messaged fails to send with crmp retires, session would not be released and would be kept alive. And Session would be released only when there is no enough resource in session pool. It seems this feature would not be that useful since Session would be kept alive for long time.

https://github.com/project-chip/connectedhomeip/pull/18107
htt

[2022-05-27 05:47] sowmyassp commented on #17987
With commit(425f1fb916ca154deeb75cd82cd5196778aba152)

I am facing same issue commisssioning 3rd controller with DUT
[MF_3rdcntrl.txt](https://github.com/project-chip/connectedhomeip/files/8784244/MF_3rdcntrl.txt)

[2022-05-27 07:14] sankarselvam commented on #17205
@cjandhyala  and @liamgonyea  Can you please clarify YUfeng's question? If required, we can set-up a call and clarify to close this issue.

[2022-05-27 08:20] kkasperczyk-no commented on #15238
With my linked PR (#15031) it was not resolved, but I think the unique ID for Rotating Device ID was moved from the Configuration Manager to the DeviceInstanceInfoProvider interface in :https://github.com/project-chip/connectedhomeip/pull/18767. So I believe we could close the issue after this PR merge. @ArekBalysNordic could you confirm?

[2022-05-27 08:35] kkasperczyk-no commented on #15238
Ok, I see what is the status, it is not done in the final shape yet.

I'm not sure how to handle this issue. In general there are many values that are factory data and it should be flashed and read from the memory, while currently we are using some default test values defined in the C header files. The unique ID is just one example of such value among the others like serial number, manufacturing d

[2022-05-27 08:39] fessehaeve commented on #18035
This is kind of similar to https://github.com/project-chip/connectedhomeip/issues/17592. Optional attributes can only be tested if they exist and there is no optional attribute which is not tied to a feature in Power Source cluster. Therefore I don't see any relevance in adding an attributes that is optional for a feature. I also don't see the test document insisting on verifying this.

[2022-05-27 08:57] sstruchtrup commented on #18548
@andy31415 I am testing with the lighting-app with Avahi.

chip-tools uses minimal mDNS, as far as I can say. But I can reproduce the issue by starting the lighting-app without even invoking chip-too.

[2022-05-27 09:27] markus-becker-tridonic-com opened #18885 "chip-tool documentation outdated"
#### Problem

Section
https://github.com/project-chip/connectedhomeip/blob/master/docs/guides/chip_tool_guide.md#commissioning-with-qr-code-payload

says

`./chip-tool qrcode <node_id> <qrcode_payload>`

is a command of chip-tool. chip-tool does not have this command (anymore?).

Possibly replaced by `./chip-tool pairing code`.

#### Proposed Solution

Update the documentation.

[2022-05-27 09:40] adamb-q opened #18886 "n/a"

[2022-05-27 09:58] caipiblack commented on #18805
I understand, and my objective is also to use the subscribe, but for example:

Currently on TE9 with lighting examples for ESP32-C3, **after the comissioning succeed** it happens that the device loose the WiFi connection and get some difficulties to return on the network, so as we send a subscribe after commissioning succeed and the device loose WiFi at this point, we get a timeout.

**After that*

[2022-05-27 10:30] #18886 closed

[2022-05-27 11:20] #18836 closed

[2022-05-27 11:27] somu1710 commented on #18249
Optional attributes are 'not verifiable' for V1.0 as per discussion.

[2022-05-27 11:27] #18249 closed

[2022-05-27 11:30] somu1710 commented on #18035
Optional attributes are 'not verifiable' for V1.0 as per discussion. So I am closing the ticket.

[2022-05-27 11:30] #18035 closed

[2022-05-27 11:31] bluebin14 opened #18887 "chip-tool: useless error messages in CASE resumption"
#### Problem
Lots of error messages in chip-tool when it is attempting to use CASE resumption:

[code]
This makes finding real errors in the output harder.

 #### Proposed Solution
Stop issuing error messages when trying to delete something that does not exist.

[2022-05-27 11:32] somu1710 commented on #15639
Optional attributes are 'not verifiable' for V1.0 as per discussion.So I close the ticket.

[2022-05-27 11:32] #15639 closed

[2022-05-27 12:06] sethunk opened #18889 "TC-BC-2.1 Binding Cluster - binding attribute showing wrong number of entries"
**Actual Behavior** - TH writes two binding entries in which the response is SUCCESS but during read, the response is only one entry (first entry)
**Expected Behavior** - When TH writes two binding entries, the response should be SUCCESS and during read, the response should consist of two binding entries
**App used** - allclusters app
**Platform** - Chip-tool - RPI-4, 8GB RAM

[2022-05-27 13:03] sethunk opened #18892 "TC-GR-2.2 Groups Cluster - groups are not removed from GroupTable even after RemoveGroup command gets Success response"
**Problem** - Even after TH removes the group using RemoveGroup command, that particular group exists in GroupTable

**Actual Behavior** - TH removes the group using RemoveGroup command and the response is Success, then TH reads GroupTable attribute in which the removed group exists.

**Expected Behavior** - After TH removes the group using RemoveGroup command then that group should not be present

[2022-05-27 15:13] bzbarsky-apple commented on #18887
This has nothing to do with chip-tool.  This is DefaultSessionResumptionStorage logging, and would happen on any device, not just chip-tool.

Probably the relevant logs in `DefaultSessionResumptionStorage::Delete` should check for `err != CHIP_NO_ERROR && err != CHIP_ERROR_PERSISTED_STORAGE_VALUE_NOT_FOUND`.

@bluebin14 Since you have an easy way to test, do you want to do the PR?

@kghost

[2022-05-27 15:25] bzbarsky-apple commented on #18889
This command is wrong.  It's trying to write two lists (which I would expect to end up in an error in the parser; will look into why that does not happen).  But in any case, the first list is what gets written.  Fixing the command like so:

[code]
gives the right behavior, as expected.

[2022-05-27 15:25] #18889 closed

[2022-05-27 15:25] bzbarsky-apple commented on #18889
@sethunk Did that command come from the verification spreadsheet?

[2022-05-27 15:35] cabin15 opened #18901 "scan-networks returns 0 entry"
#### Problem

Tested on e7bb258ea5333ac09d4524de8b7c53f5a471dbca
server: all-clusters-app --wifi
client: chip-tool

scan-networks command returns 0 entry on ScanNetworkResponse.

Expected result (Suppose to display more than one access point information.
[1653665629.998533][284849:284854] CHIP:TOO: Endpoint: 0 Cluster: 0x0000_0031 Command 0x0000_0001
[1653665629.998596][284849:284854] CHIP:TOO:

[2022-05-27 15:44] cabin15 commented on #16270
@bzbarsky-apple
Thank you for your opinion.

I tested scan-networks command on the latest ToT. INVALID_COMMAND is not shown anymore, but shows 0 entry on ScanNetworkResponse.
Here is a ticket regarding 0 entry issue on ScanNetworkResponse.
https://github.com/project-chip/connectedhomeip/issues/18901

[2022-05-27 16:11] bluebin14 commented on #18887
@bzbarsky-apple I can confirm that the following indeed fixes the issue:

[code]

[2022-05-27 16:24] sumaky commented on #18407
@cjandhyala @woody-apple Initially DL had all the requirements as in AppCluster test plan . But as part of PR reviews we had request from reviewers to remove non matter specific  requirements. Now in test plan we deleted non matter specific requirements and got the PR approval

[2022-05-27 16:42] cjandhyala commented on #17205
@yufengwangca Could you try pairing with the QR code that Sowmya suggested here i.e. MT:034J029Q00KA0648G00 , Whatever the QRcode you are using is different to what Sowmya is using. Your QR code are using invalid descriminator and passcode ,whereas Sowmya's QR code is using all valid discriminator, passcode ..etc but not version field. With her QR code she is seeing the device is provisioned, whic

[2022-05-27 16:44] Garik098 commented on #18813
@bzbarsky-apple For ECM, I am using the command that was given by @krypton36

./chip-tool-darwin administratorcommissioning open-commissioning-window 500 hex:06c756dffcd722653452a12dcd945d8c54da2b0f3cbd1b4dc3f1adb223aeb26b047cd24c96866f979b1d83ec50e2b4ae30cdf2fdb32bd8a211b837dc94edcd56f4d14377191076bfc59d99b7dd3053efd6f02c4434f2bdd27aa4f9cea70d738e4c 3840 1000 hex:5350414b453250204b65792053616c74

[2022-05-27 17:12] woody-apple commented on #17461
SDK Spec Review: Tagging @cjandhyala to follow up to see if this should be a cert blocker.

[2022-05-27 17:13] woody-apple commented on #17511
SDK Spec Review: Closing, this is complete.

[2022-05-27 17:13] #17511 closed

[2022-05-27 17:19] woody-apple commented on #18333
Cert Blocker/SDK Spec Review: Given this does not affect reference certification which uses the all-cluster-app, removing "cert blocker"

[2022-05-27 17:23] woody-apple commented on #18364
SDK Spec Review: @cjandhyala to follow up and update this issue.

[2022-05-27 17:24] woody-apple commented on #18366
SDK Spec Review: Given this is new a few days old, and tests seem to pass, closing. Please re-open if this issue is still present.

[2022-05-27 17:24] #18366 closed

[2022-05-27 17:24] bzbarsky-apple commented on #18364
It sounds, based on #18418, that this command was in fact being executed without any PINs set up on the server, in which case unlock with PIN is expected to fail.

[2022-05-27 17:25] sethunk commented on #18418
@bzbarsky-apple In lock app, Feature map value: 275
Binary value : 100010011 ( Which supports PIN,RID,SCH,NOT )

[2022-05-27 17:26] woody-apple commented on #18492
SDK Spec Review: Assigning to @bzbarsky-apple to update lock items.

[2022-05-27 17:29] jrhees-cae commented on #18418
FeatureMap value for door-lock example is likely common to all platforms implemented for the example. https://github.com/project-chip/connectedhomeip/blob/master/examples/lock-app/lock-common/lock-app.zap

Therefore, if a certain platform example doesn't support the common features, it would need to override the featuremap value.

[2022-05-27 17:34] yufengwangca opened #18906 "[Thread Network Diagnostics] SECURITY_POLICY & OPERATIONAL_DATASET_COMPONENTS are no more array"
#### Problem
SECURITY_POLICY & OPERATIONAL_DATASET_COMPONENTS are no more array

 #### Proposed Solution
<suggested fix, suggested enhancement>

[2022-05-27 17:35] woody-apple commented on #18545
SDK Spec Review: Tagging this as a potential cert blocker, tagging @cjandhyala

[2022-05-27 17:42] woody-apple commented on #18764
SDK Spec Review: We do not believe this to be a spec compliance issue, but just a platform bug.

[2022-05-27 17:43] woody-apple commented on #18794
SDK Spec Review: Tagging @cjandhyala to confirm this is or is not a cert blocker.

[2022-05-27 17:43] woody-apple commented on #18848
SDK Spec Review: Tagging @cjandhyala, as this may be an issue with the test plan

[2022-05-27 17:44] woody-apple commented on #18850
SDK Spec Review: Tagging @cjandhyala to confirm that this is or is not a cert blocker, or a test plan issue.

[2022-05-27 17:46] woody-apple commented on #18892
SDK Spec Review: Removing spec, as we believe we can make the SDK have a reasonable behavior here.

[2022-05-27 17:54] dwgaul commented on #18868
Ok good to know. Asked around and it sounded like this was the case, but good to get official confirmation.

We're running through our internal TE9 testing and I've been assigned a few group related test cases:

`TC-SC-5.2 Receiving a group message`
I think this one maybe considered N/A for us. Unless my understanding is incorrect, I don't believe clients would receive group messages?

`TC-SC-5.3

[2022-05-27 17:58] tehampson commented on #18322
https://github.com/project-chip/connectedhomeip/pull/18852

[2022-05-27 18:08] andy31415 commented on #18288
Fixed by #18825

[2022-05-27 18:08] #18288 closed

[2022-05-27 18:08] Garik098 opened #18907 "TC-DESC-2.2 - Chip tool Darwin not showing the right output for few steps"
As per the step 1 in TC-DESC-2.2, chip tool Darwin has to show device list but the response is not as expected. Below is the response from the chip tool Darwin output.

[1653674557664] [66433:11674598] CHIP: [EM] Sending Standalone Ack for MessageCounter:6000312 on exchange 15763i
[1653674557664] [66433:11674598] CHIP: [IN] Prepared secure message 0x70000bd83560 to 0x0000000000000001 (1)  of type

[2022-05-27 18:28] woody-apple commented on #18601
@cjandhyala Can you please close this, and file a ticket to update the test plan?

[2022-05-27 18:40] #18839 closed

[2022-05-27 19:13] tcarmelveilleux commented on #15585
Please also see https://github.com/project-chip/connectedhomeip/pull/18861#discussion_r883253202 as an area of race condition

[2022-05-27 19:21] #14987 closed

[2022-05-27 20:04] liamgonyea opened #18911 "chip-tool-darwin: `generaldiagnostics read network-interfaces` returns improper structure in logs for Network interfaces"
#### Problem
When running Step 2 in `TC-DGGEN-3.1`, the output on `chip-tool-darwin` is not correct for the following command:
`./out/chip-tool-darwin/chip-tool-darwin generaldiagnostics read network-interfaces 1 0`
when paired to `chip-all-clusters-app`.

`chip-tool-darwin` output looks like this:

    "<CHIPGeneralDiagnosticsClusterNetworkInterfaceType: 0x600001eec370>",
    "<CHIPGeneralDiagnos

[2022-05-27 21:06] kpark-apple commented on #18507
@Damian-Nordic
I'm reopening this issue because @Abhayakara found an issue on Nordic side, too.
Packet # 121 in the pcap file, the subtypes with TTL=0 must not be present, per https://www.ietf.org/archive/id/draft-ietf-dnssd-srp-13.html#name-handling-of-service-subtype .
Specifically, "Similarly, there is no mechanism for deleting subtypes. A delete of a service deletes all of its subtypes. ".

Co

[2022-05-27 21:28] billwatersiii commented on #18644
I do not see the Segmentation fault on the ToT.

@ifyall, I guess we can close this with a "can not reproduce" or "it just went away".

[2022-05-27 21:39] #18644 closed

[2022-05-27 22:34] cjandhyala commented on #14049
@fessehaeve @woody-apple , We do have a test case to read that Attribute. But per spec this attribute is optional, So we are not verifying for optional attributes for V1.0. Ref spec ref

![Screen Shot 2022-05-27 at 3 33 42 PM](https://user-images.githubusercontent.com/68604034/170796794-803fae60-ba25-49f1-a376-dbfa60f58711.png)

[2022-05-27 22:38] cjandhyala commented on #14078
@woody-apple Events in the Power source config cluster are optional per latest spec, hence we are not testing for v1.0
![Screen Shot 2022-05-27 at 3 37 14 PM](https://user-images.githubusercontent.com/68604034/170797093-86e5ce8b-2449-42e5-be1e-fc881efdc1c3.png)

[2022-05-27 22:40] cjandhyala commented on #14076
@woody-apple @bzbarsky-apple could this be dup to [#16725](https://github.com/project-chip/connectedhomeip/issues/16725)

[2022-05-27 22:45] cjandhyala commented on #14578
@Minan-Tuyasmart Could you pls re-test this on latest ToT and report the result. If this is still an issue pls give full details on the platform , SHA, and the series of commands you executed

[2022-05-27 22:47] cjandhyala commented on #15740
@vinay-apple Could you reproduce this on latest ToT ?

[2022-05-27 22:48] cjandhyala commented on #16627
@manjunath-grl , is this still an issue ?

[2022-05-27 22:49] ukatira commented on #18616
Issue tracking test plan update based on pending spec update - https://github.com/CHIP-Specifications/chip-test-plans/issues/1380

[2022-05-27 23:11] cjandhyala commented on #18850
@woody-apple ColorLoopSet is an optional command and we are not going support optional cmds for v1.0, hence not cert blocker

![Screen Shot 2022-05-27 at 4 10 51 PM](https://user-images.githubusercontent.com/68604034/170799110-6f95e7a6-4e5b-44f1-8c7c-aad075f30955.png)

[2022-05-27 23:33] franck-apple commented on #18616
No action needed on the SDK side. Closing.

[2022-05-27 23:33] #18616 closed

[2022-05-27 23:35] franck-apple commented on #18418
Pinging @kkasperczyk-no and @Damian-Nordic

[2022-05-28 00:06] phonnakasturi-apple commented on #18864
WIth SHA f6a79db073621a2af0b3b5c5317fd8dc4028c58c
This issue was resolved.
Nordic lighting app was able to power up.

[2022-05-28 00:06] #18864 closed

[2022-05-28 01:51] bzbarsky-apple commented on #18901
That is very strange.  The platform code shows a bunch of networks found:
[code]
And the response command is sent after that point, but the response definitely shows 0 entries..

@yufengwangca any idea what could be going on here?

[2022-05-28 01:51] bzbarsky-apple commented on #16270
@cabin15 Thank you for the follow-up.  Closing this, since the command does not error out, and will follow up in the other issue.

[2022-05-28 01:51] #16270 closed

[2022-05-28 01:54] bzbarsky-apple commented on #18906
The SDK encodes these as lists, but they're not lists in the spec.

[2022-05-28 01:59] bzbarsky-apple commented on #18418
Yes, sounds like some apps need to set the value at startup, not just use the default from the ZAP file...

[2022-05-28 02:02] #18887 closed

[2022-05-28 02:17] bzbarsky-apple opened #18916 "Add darwin-framework-tool commands to exercise openPairingWindow and openPairingWindowWithPIN on Darwin CHIPDeviceController"
#### Problem
Don't have a way, via darwin-framework-tool, to exercise these framework APIs.

 #### Proposed Solution
Add a way to do it.

Maybe make it API-compatible with chip-tool's "open-commissioning-window", though that's a poor match for the framework APIs in some ways (e.g. does not take a PIN as an argument).

[2022-05-28 02:17] bzbarsky-apple commented on #18813
Ah.  Yes, that will not print the manual pairing code, since it has no way to know what that is.  It's just given a verifier derived from the code....

We should add a command that will take a PIN and compute things from that.  Filed https://github.com/project-chip/connectedhomeip/issues/18916 on doing that.

[2022-05-28 02:17] #18813 closed

[2022-05-28 03:48] bzbarsky-apple commented on #18868
Right, the "sending a group message" testcase can only be run on clients that would actually decide to send group messages....  That all makes sense.

[2022-05-28 04:47] bzbarsky-apple commented on #18892
The "spec" label means "SDK is not following the spec".  Which in this case we are not....

[2022-05-28 04:49] bzbarsky-apple commented on #14076
Duplicate of https://github.com/project-chip/connectedhomeip/issues/16725

[2022-05-28 04:49] #14076 closed

[2022-05-28 05:11] bzbarsky-apple commented on #18907
Duplicate of https://github.com/project-chip/connectedhomeip/issues/16148

[2022-05-28 05:11] #18907 closed

[2022-05-28 05:11] bzbarsky-apple commented on #18911
Duplicate of https://github.com/project-chip/connectedhomeip/issues/16148

[2022-05-28 05:11] #18911 closed

[2022-05-28 05:26] bzbarsky-apple commented on #17608
@manjunath-grl @cjandhyala IS there still an issue here?

[2022-05-28 05:31] bzbarsky-apple commented on #17151
Note that you can use `darwin-framework-tool any subscribe-all-events` to subscribe to all events.  The Darwin framework does not currently support individual event subscriptions.

[2022-05-28 05:31] bzbarsky-apple commented on #17151
Duplicate of https://github.com/project-chip/connectedhomeip/issues/18387

[2022-05-28 05:31] #17151 closed

[2022-05-28 05:35] bzbarsky-apple commented on #16581
@liamgonyea See above?

@cjandhyala

[2022-05-28 05:35] bzbarsky-apple commented on #16554
@manjunath-grl @cjandhyala Is this still an issue?

[2022-05-28 05:36] bzbarsky-apple commented on #16425
@manjunath-grl @cjandhyala How do I reproduce this?

[2022-05-28 05:39] bzbarsky-apple commented on #16269
@cjandhyala This sounds like an issue in the spreadsheet?

[2022-05-28 06:06] cjandhyala commented on #16271
@bzbarsky-apple correct.
@cabin15 Pls file the issue against test plans

[2022-05-28 06:06] #16271 closed

[2022-05-28 06:08] cjandhyala commented on #16277
@zhangxiaosen88 Test plan is updated lately , pls chk with the latest test plans and file issue in test plan repo if it still an issue. Closing this ticket in SDK repo  for now .

[2022-05-28 06:08] #16277 closed

[2022-05-28 06:08] cjandhyala commented on #16278
@zhangxiaosen88 Test plan is updated lately , pls chk with the latest test plans and file issue in test plan repo if it still an issue. Closing this ticket in SDK repo for now .

[2022-05-28 06:08] #16278 closed

[2022-05-28 06:08] cjandhyala commented on #16279
@zhangxiaosen88 Test plan is updated lately, pls chk with the latest test plans and file issue in the test plan repo if it is still an issue. Closing this ticket in the SDK repo for now.

[2022-05-28 06:08] #16279 closed

[2022-05-28 06:09] cjandhyala commented on #16280
@zhangxiaosen88 Test plan is updated lately, pls chk with the latest test plans and file issue in the test plan repo if it is still an issue. Closing this ticket in the SDK repo for now.

[2022-05-28 06:09] #16280 closed

[2022-05-28 06:09] nansenLV commented on #18417
**Chip SDK version**
commit ID : cfc35951be66a664a6efdadea56d1b8ea6e63e96

**DUT(chip-lighting-app) env**
Linux version : 4.4.189 , GCC version : Linaro GCC 6.3-2017.05, Host : aarch64-linux , Cross Compiler : aarch64-linux-gnu-gcc

**chip-tool env**
Ubuntu 20.04 on PC

**How open dose this reproduce**
100%

**How to reproduce**
Step 1: ./chip-lighting-app --ble-device 0
Step 2: ./chip-tool pairin

[2022-05-28 06:09] cjandhyala commented on #16269
@cabin15 Test plan is updated lately, pls chk with the latest test plans and file the issue in the test plan repo if it is still an issue. Closing this ticket in the SDK repo for now.

[2022-05-28 06:09] #16269 closed

[2022-05-28 10:33] wxiangcheng commented on #18753
Seems there my issue is related to "QueryResponderRecordFilter responseFilter". Trying to understand what's the intention of this reply filter and why it doesn't work on my device.

As when I test with SetReplyFilter(nullptr), I can see mDns replies response but the commission still fails because there's no "Operational SRV for fabricID+nodeID".

Any advice is appreciated.

[2022-05-28 15:56] bluebin14 commented on #18616
Closing as per https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5248

[2022-05-28 17:08] #16851 closed

[2022-05-28 17:08] #18544 closed

[2022-05-29 07:35] bluebin14 opened #18922 "There is no format checking in PRETTY_PRINT causing format errors to be undetected"
#### Problem
There is no format checking in PRETTY_PRINT causing format errors to be undetected.

Adding one:

`void PrettyPrintIM(bool aIsNewLine, const char * aFmt, ...) ENFORCE_FORMAT(2, 3);`

reveals format errors.

[code]

 #### Proposed Solution
Add format checking to PRETTY_PRINT and fix the previously undetected errors.

[2022-05-29 19:29] #18885 closed

[2022-05-30 05:43] PSONALl opened #18928 "[pre-sve] TC-I-1.1 AcceptedCommandList doesnot show command with id 0x01 and GeneratedCommandList doesnt shows command with id 0"
#### Problem
 * expected behavior vs actual behavior
      -  TH should read the AcceptedCommandList attribute from the DUT and This list should include the mandatory commands (values 0x00, and 0x01) but the list has only values 0, 64
      - TH should read the GeneratedCommandList attribute from the DUT and This list should include the mandatory response command (value 0x00) but the list is null

[2022-05-30 06:17] PSONALl opened #18929 "[pre-sve] TC-i-2.2 1. step 3- Identify-query command is not supported by chip-tool 2. step - 6 a after writing value on identify when we read it it returns 0 always"
#### Problem

 * expected behavior vs actual behavior
        - TH should send IdentifyQuery command to DUT but the command is not supported in chip-tool
        - Reading value of Identify time attribute immediately after write must return value approximately equal to value written but it always returns 0

 * system configuration
      -  DUT used : ESP32
        -  app use: all-clusters-app

[2022-05-30 06:35] manjunath-grl commented on #17608
@bzbarsky-apple its resolved can you please close it

[2022-05-30 06:39] manjunath-grl commented on #16665
@bzbarsky-apple its not related to yaml can you please close this issue

[2022-05-30 06:56] PSONALl commented on #18929
@cjandhyala this is a  cert blocker

[2022-05-30 06:56] PSONALl commented on #18928
@cjandhyala this is a  cert blocker

[2022-05-30 07:34] TheWalkingDead1024 opened #18931 "Source bootstrap.sh error"
When I try to source bootstrap.sh to build preparation for CHIP project (I use M1 Macbook Pro), I got an error like this(I am using branch master(the latest commit is f188fd9625f171a7d32a4b8e4a00d6abf60af891), python verson 3.9.6):

      In file included from third_party/boringssl-with-bazel/err_data.c:17:
      third_party/boringssl-with-bazel/src/include/openssl/base.h:187:9: warning: 'OPENSSL_

[2022-05-30 09:41] manjunath-grl commented on #16627
@cjandhyala  testplan for Label cluster has been changed and removed this particular steps can you please close this issue

[2022-05-30 09:45] Rajashreekalmane opened #18934 "[TC-MC-1.9]Target Navigator Cluster-- feature-map value mismatch."
#### Problem
As per test plan [TC-MC-1.9] FeatureMap attribute showing value mismatch error when executed, DUT should
responds with feature map value 0 but currently DUT responding feature map value has 1.

 **expected behavior:-**  DUT should responds the feature map value as 0
  **actual behavior:-** DUT is responding the feature map value as 1

 **steps to reproduce:-** ./chip-tool  targetnavig

[2022-05-30 09:46] nykh2010 opened #18935 "ipv6 multicast address"
https://github.com/project-chip/connectedhomeip/blob/4d84a4a978ffc867a62b9b15423a9b70d9cb993e/src/app/server/Server.cpp#L310

I found the multicast address is formed by fabric id, not fabric index in the spec. is it a bug?
`FF35:0040:FD<Fabric ID>00:<Group ID>`

[2022-05-30 09:50] kowsisoundhar12 commented on #18069
not observed this issue in latest code ,hence closing this issue

[2022-05-30 09:50] #18069 closed

[2022-05-30 10:08] PSONALl opened #18938 "[pre-sve] I-3.1 If value written on IdentifyTime attribute is invalid, appropriate feedback is not provided to DUT"
#### Problem
 * expected behavior
     - TH receives the write command, checks whether the value is valid. If value invalid, provide appropriate feedback to DUT and flag test as FAIL
 * actual behavior
     - no any feedback is provided to DUT if the value is invalid

  * system configuration :
        -  DUT used : ESP32
        -  app use: all-clusters-app
        - chip-tool and DUT commit id :

[2022-05-30 10:09] PSONALl commented on #18938
@cjandhyala please mark it as a cert blocker

[2022-05-30 10:10] kowsisoundhar12 commented on #18244
this issue has been fixed ,hence closing this issue

[2022-05-30 10:23] kowsisoundhar12 commented on #18145
@krypton36 pls find attached yaml file
[Test_TC_DIAG_TH_NW_2_1.zip](https://github.com/project-chip/connectedhomeip/files/8797564/Test_TC_DIAG_TH_NW_2_1.zip)

[2022-05-30 10:28] kowsisoundhar12 commented on #18104
@krypton36 pls find attached yaml file
[Test_TC_CC_2_1.zip](https://github.com/project-chip/connectedhomeip/files/8797594/Test_TC_CC_2_1.zip)

[2022-05-30 11:58] manjunath-grl opened #18940 "[TC-MC-1.10] attributeList value mismatch error"
Summary:
As per testplan of TC-MC-1.10 attribute value must be [0,1,2,3,4,5,6,7,65528,65529,65531,65532,65533] but got [0,1,2,3,5,6,7,65528,65529,65531,65532,65533] when executed value 4 (Application attribute) is missing.

Testplan screenshot:
 ![image](https://user-images.githubusercontent.com/102359958/170987510-58469234-a872-4f17-9a0f-250db1464a5d.png)
Spec screenshot:
![image](https://user-im

[2022-05-30 12:32] doublemis1 commented on #18800
Also before interactive mode, the subscription keeps chip tool process until SIGTERM chip-tool process using the following command:
./chip-tool basic subscribe node-label 1 100 1 0 --keepSubscriptions 1
or
./chip-tool basic subscribe-event leave 1 100 1 0 --keepSubscriptions 1

Can we restore this non-interactive chip tool feature?

[2022-05-30 12:50] agners opened #18941 "minimal mDNS/DNS-SD implementation unable to parse mDNS messages error "No memory""
#### Problem

The minimal mDNS implementation returns with parse error "No memory"

[code]

It seems that the minimal mDNS implementation has limitations on amount of records in a single packet?

 #### Proposed Solution
Maybe resolved once #18348 is active?

[2022-05-30 13:02] PSONALl opened #18942 "[pre-sve] TC-oo-2.3 on-with-timed-off command doesnot change values of On-Time Off-Wait-Time and OnOff attribute"
#### Problem

 * expected behavior
    - In step 10e after sending on-with-timed-off command i. The value of OnOff has to be TRUE. ii. The value of OnTime has to be approximately equal to 0x012c. iii. The value of OffWaitTime has to be 0x012c.
 * actual behavior:

       - The value of OnOff is false, The value of OnTime and OffWaitTime is 0

 * system configuration
         -  DUT used : ESP32

[2022-05-30 13:05] PSONALl opened #18943 "[pre-sve] TC-oo-2.3 off-with-effect command doesnot change value of OffWaitTime attribute"
#### Problem

 * expected behavior
    - OffWaitTime must be changed to the approximate value sent in command off-with-effect
 * actual behavior
    - OffWithEffect attribute's value is always 0

 * system configuration
      -  DUT used : ESP32
        -  app use: all-clusters-app
        - chip-tool and DUT commit id : 425f1fb916ca154deeb75cd82cd5196778aba152 (pre-sve SHA)

 * logs
        - esp

[2022-05-30 14:04] PSONALl commented on #18942
@cjandhyala this is a cert blocker

[2022-05-30 14:04] PSONALl commented on #18943
@cjandhyala this is a cert blocker

[2022-05-30 14:14] #17366 closed

[2022-05-30 14:43] andy31415 commented on #15288
This should be fixed for linux, nrf and efr. Other platforms will need to implement DeviceInfoProbider interface (or likely just use the example one to start).

[2022-05-30 14:43] #15288 closed

[2022-05-30 14:47] andy31415 commented on #14823
@jeonghwan7 - could you validate this in ToT?

TE7.5 is quite old.

[2022-05-30 14:49] andy31415 commented on #13345
@ramakrishnanandyala - could you check ToT for this? TE7 is very old code.

Also could you re-state the description of the test cases in a shorter format? This PR has a lot of pasted logs, it is hard to look through them to isolate what is needed here. see https://github.com/project-chip/connectedhomeip/blob/master/docs/BUG_REPORT.md

[2022-05-30 14:55] andy31415 commented on #18941
minimal mdns has a limit in the amount of records per packet: it can only parse a subset of number of host per packet and it can parse only a limited number of IP addresses within packet (this limit is less likely to be reached).

The records per packet generally only happens when "browsing" as those packets will contain multiple host information. Regular operational discovery should be ok as thos

[2022-05-30 15:13] andy31415 commented on #18520
@cjszz2001 could you test this on ToT master?

interop_testing_2022_01_18 is a very old branch by chip development speed standards.

[2022-05-30 15:15] andy31415 commented on #18520
I built Tot and flashed:

[code]

and it booted fine without a hardfault.

[2022-05-30 15:15] #18520 closed

[2022-05-30 15:17] andy31415 commented on #18522
In #18520 I tested the latest light app flash and it booted.

I assume this may be a problem in the old branch interop_testing_te9, however we are not maintaining old branches at this point.

[2022-05-30 15:17] #18522 closed

[2022-05-30 15:19] andy31415 commented on #18308
@doru91 - does this still happen on ToT? #18256 should be fixed now by allowing recursive queries for IP addresses during both browse and operational discovery.

[2022-05-30 15:23] #18281 closed

[2022-05-30 15:27] andy31415 commented on #18194
@wxiangcheng - it sounds like a certificate validation error

My best guess for debugging would be to try to log the content of data passed in into mbedtls_ecdsa_verify and see if the values are as expected.

[2022-05-30 15:31] cjandhyala commented on #16627
closing per @manjunath-grl request

[2022-05-30 15:32] cjandhyala commented on #17461
closing per @manjunath-grl request

[2022-05-30 15:32] #17461 closed

[2022-05-30 15:32] cjandhyala commented on #18545
closing per @manjunath-grl request

[2022-05-30 15:34] jepenven-silabs commented on #18892
This is due to the fact that the GroupTable isn't really a GroupTable but more of a Group/Group Key binding table. So in this case, you're removing a Group and NOT a binding. If I remember correctly the spec doesn't enforce the fact that upon a group removal you need to remove all related bindings (it would make sense to do so).

@rcasallas-silabs @turon

[2022-05-30 15:49] jepenven-silabs commented on #18892
Already had this discussion with @turon here : https://github.com/CHIP-Specifications/chip-test-plans/pull/1006#discussion_r845121983

[2022-05-30 16:03] #18677 closed

[2022-05-30 17:03] andy31415 commented on #18929
Need to determine if this happens on all platforms or only some. I believe we mostly validated with RPI and nrf, so I expect other platforms to maybe have additional issues.

I believe we should track platform-specific cert blockers in some way to be clearly identifiable.

[2022-05-30 17:10] tehampson commented on #18934
This issue seems like it was introduced in commit https://github.com/project-chip/connectedhomeip/commit/b36e4a278e.

This has a very trivial fix as all that is need to be done is set the default value to 0 in the zap file and regen files. I did look over all the other featuremaps that were assigned to 0x0001 in the above commit, and it seems to be that Target Navigator Cluster is the only one tha

[2022-05-30 18:26] #18934 closed

[2022-05-30 18:51] #18322 closed

[2022-05-30 19:12] tcarmelveilleux commented on #18431
Adding spec label because of the following constraints of AddNOC and UpdateNOC:

and

[2022-05-30 19:13] agners commented on #18941
In my the packet in question seems to come from the host I run the Python Controller on. From what I can tell its only a single host in that packet, but there are 5 IPv6 addresses: 2 with global scope (SLAAC and DHCPv6 assigned), 2 unique local scoped (again SLAAC and DHCPv6) plus the one link-local scoped.

I haven't noticed problems with operational node discovery indeed.

The above error is for

[2022-05-30 19:48] andy31415 commented on #14078
Moving out of v1.0 functionality that is optional

[2022-05-30 19:49] andy31415 commented on #14049
Moved post 1.0 since this functionality is optional

[2022-05-30 19:54] cecille commented on #18194
Apologies for the delay.

Are you saying that this is failing to establish a CASE connection? The error you cited here looks like a failure at the AddNOC command, which happens over the PASE connection and before we attempt to establish CASE. If you could attach full logs, it would be helpful.

What are you using for commissioning? Is this using chip-tool?

Assuming this failure is at the AddNOC c

[2022-05-30 19:55] andy31415 commented on #16266
@cabin15 could you provide a list of attributes based on required/not-required?

For v1.0 we generally mandate only required attributes and are willing to skip over optional ones.

Specifically I see:
  - PICoolingDemand has conformance `[COOL]`
  - Occupancy has conformance `OCC`
  - Outdoor temperature has conformance `O` (so fully optional)

  The only attribute that a thermostat **must** suppo

[2022-05-30 19:58] andy31415 commented on #16267
SetPointRaiseLower commanad is `M` in the spec, so this is likely cert blocker.

GetRelayStatusLog is optional, so it should not block cert.

if the `SCH` feature is enabled, several other operations become mandatory.

[2022-05-30 19:58] kghost commented on #18431
This may not be true. We can add changes that evict that session by handling OnSessionReleased in PairingSession class.

[2022-05-30 20:05] yinyihu-silabs commented on #18850
@manjunath-grl
The two values you read is normal. with color loop, the _EnhancedCurrentHue_ is continuously changing. Unless you're reading _EnhancedCurrentHue_ exactly 30 seconds from the time of activation (not the same as time between sending activation and read command), you're likely not going to received the exact match.

Based on the logs, I assumed you set the initial _EnhancedCurrentHue_

[2022-05-30 20:51] cjandhyala commented on #18929
@andy31415 @PSONALl , this is not an SDK issue, the spec was updated last week, Ref https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5240, There is a ticket https://github.com/CHIP-Specifications/chip-test-plans/issues/1389 on the test plans team to update the test plan.

[2022-05-30 22:04] cjandhyala commented on #18928
@PSONALl Based on the resolution #18929 , the test plan needs to be updated per the latest spec changes and the issue is not on SDK

[2022-05-30 22:04] cjandhyala commented on #18929
closing per above comments

[2022-05-30 22:10] cjandhyala commented on #18938
@PSONALl This is not a SDK issue , chip-tool is filtering the invalid value. if you need to write an invalid value , you need to use write-by-id  , you will receive CONSTRAINT_ERROR back.

`sudo ./out/debug/chip-tool identify write-by-id 0 65536 60 0`

closing the issue

[2022-05-30 22:10] #18938 closed

[2022-05-30 22:12] cjandhyala commented on #18942
@PSONALl The logs attached doesnt seem to belong to the scenario under test. Pls attach correct logs

[2022-05-30 22:31] cjandhyala commented on #18928
@PSONALl Based on the resolution https://github.com/project-chip/connectedhomeip/issues/18929 , the test plan needs to be updated per the latest spec changes and the issue on the SDK side is that per spec reference app should not have returned the AcceptedCommandList with 64. Since this is not optional command, I labeling this as spec compliance rather than a cert blocker

![Screen Shot 2022-05-30

[2022-05-31 01:02] cjandhyala opened #18973 "SDK to implement 'Query Feature' in Identify cluster"
With Latest ToT a2c7af21976195bdae4e2667448d87b70d1651a7,  SDK to implement 'Query Feature' in Identify cluster.

Expected behavior: FeatureMap bit is set to 1.  Reference apps should have all features implemented to verify mandatory commands/attributes during cert/Pre-SVE testing.

Actual behavior: FeatureMap bit is set to 0.

Platform tested: All-cluster-app on raspi, chip-tool on mac.

How to v

[2022-05-31 01:15] cjandhyala commented on #18929
SDK to implement #18973

[2022-05-31 01:19] jonsmirl opened #18974 "How are international fonts going to be handled? Controller API for generating font bitmaps"
Devices with displays need to display internationalized strings. A full Unicode font library is many megabytes in size. It is simply not practical to put a Unicode library onto a microcontroller.

A solution for this would be for controllers to offer a string to bitmap conversion service. For example how is a microcontroller going to deal with the label "Dining room", 饭厅", "столовая",  "भोजन कक्ष"

[2022-05-31 01:30] cjandhyala commented on #18928
@PSONALl #18929 discussion, we need SDK to implement QRY feature, until then GeneratedCommandList shows null value.

[2022-05-31 04:32] pankore opened #18976 "[pre-sve] TC-MF-1.3 second commissioner pairing timeout"
#### Problem
Test case ID: TC-MF-1.3
SHA: 425f1fb916ca154deeb75cd82cd5196778aba152
Platform: Ameba all-clusters-app
Chip-tool platform: Raspberry Pi
Pairing the second commissioner will timeout.

* Steps to reproduce:
Commission DUT using TH1
On TH1
`./chip-tool  pairing open-commissioning-window 1234 1 400 2000 3840`
On TH2
`./chip-tool pairing manualcode 1235 <manual pairing code> --commissioner

[2022-05-31 05:24] somu1710 commented on #18943
@PSONALl  could u pls provide the ON/OFF cluster logs where you getting the error.you attached the identify cluster logs,could u pls check this?

[2022-05-31 05:43] PSONALl commented on #18943
@somu1710 Updated the logs, please check

[2022-05-31 07:24] kowsisoundhar12 commented on #18590
@andy31415  SCH bit is not set in feature map

[2022-05-31 07:37] #18391 closed

[2022-05-31 08:15] nykh2010 opened #18984 "E (2843) chip[SVR]: Error when trying to join Group 257 of fabric index 1 : 10e"
when I use "./chip-tool groups add group 257 "grp" 1 0" to add esp32 to one group. it is fail when join the group. the error log is "E (2843) chip[SVR]: Error when trying to join Group 257 of fabric index 1 : 10e".
I use the lighting-app example.
[multicastAddress.log](https://github.com/project-chip/connectedhomeip/files/8803315/multicastAddress.log)

[2022-05-31 09:28] pankore opened #18986 "[pre-sve] TC-SU-2.8 unable to commission second ota-provider"
#### Problem
- Test case ID: TC-SU-2.8
- SHA: 425f1fb916ca154deeb75cd82cd5196778aba152
- DUT platform: Ameba all-clusters-app
- Chip-tool platform: Raspberry Pi
- OTA provider platform: Raspberry Pi linux ota-provider-app

TH1/CR1, TH2/OTAP1, TH3/OTAP2 are all running on a single RPI.
- Step 2 requires 2 instances of OTA-provider.
- Commissioning the first OTAP1 using chiptool is successful. Commi

[2022-05-31 09:30] jmeg-sfy commented on #18794
@manjunath-grl how did you test this ?

[2022-05-31 09:46] SulianEffInnov commented on #15621
Hello, I'm encountering the same issue.
Does anyone have an idea to deal with it ?

[2022-05-31 09:48] sowmyassp commented on #18976
With latest commit (4d84a4a978ffc867a62b9b15423a9b70d9cb993e) second commissioning is done successfully
**Chip-tool platform**: Raspberry Pi
**Steps to reproduce**:

- Commission DUT using TH1

1. On TH1
./chip-tool pairing open-commissioning-window 1234 1 400 2000 3840

1. On TH2
./chip-tool pairing manualcode 1235 <manual pairing code> --commissioner-name beta

**PFA logs**:
[DUT.txt](https://gi

[2022-05-31 10:14] kowsisoundhar12 opened #18987 "[TC-DL-2.8] Set User Command is giving Failure response"
Set User Command is giving Failure response while executing

Testplan Screenshot:
![2022-05-31_15-39_1](https://user-images.githubusercontent.com/57476670/171150579-ea19bc27-66a9-4b81-a8ca-79fbb108174d.png)

Error Screenshot:
![2022-05-31_15-37](https://user-images.githubusercontent.com/57476670/171150650-4590a202-0102-42b0-bb65-9c770dbabc9b.png)

Yaml Scrrenshot:
![2022-05-31_15-39](https://user-

[2022-05-31 12:09] Rajashreekalmane opened #18989 "[TC-TFL-1.1]Time Format Localization Cluster--Feature-map value mismatch."
**Problem**

As per test plan [TC-TFL-1.1] FeatureMap attribute showing value mismatch error when executed, DUT should
responds with feature map value 1 but currently DUT responding feature map value has 0.

**expected behavior:-** DUT should responds the feature map value as 1
**actual behavior:-** DUT is responding the feature map value as 0

**steps to reproduce:-** ./chip-tool timeformatlocali

[2022-05-31 13:03] Orionx86 opened #18992 "Feature Request: Repository standard for firmware and other artifacts"
#### Problem
is firmware today centrally managed or up to every provider? is there any standardization for management and distribution? One of the issues coming from my experience in HomeAssistant is there is no standardization or centralization. You can get a tar.gz or it could be OTA. Companies go out of business and stop all hosting, rending devices permanently defunct. At that, searching for t

[2022-05-31 13:07] Rajashreekalmane opened #18993 "[TC-DGGEN-2.1] & [TC-DGGEN-3.1] -General Diagnostics-chip-tool needs to implement mandatory TestEventTriggersEnabled attribute."
**Problem**

[TC-DGGEN-2.1]-General Diagnostics-chip-tool needs to implement mandatory TestEventTriggersEnabled attribute.

**system configuration**
Chip-tool - RPI-4, 8GB RAM
DUT - RPI - RPI-4, 8GB RAM
Platform : IP and wifi
Commit-ID:4d84a4a978ffc867a62b9b15423a9b70d9cb993e
Dut application: all-clusters-app

**PFA screenshot below:-**
![image](https://user-images.githubusercontent.com/95841834/1

[2022-05-31 13:13] Rajashreekalmane opened #18994 "[TC-DGGEN-1.1] General Diagnostics--AttributeList attribute missed to list the Mandatory TestEventTriggersEnabled attribute"
**Test-case ID**
[TC-DGGEN-1.1] Global attributes with server as DUT

**Problem:-**
As per Test-Plan, AttributeList attribute missed to list the Mandatory TestEventTriggersEnabled attribute

**expected behavior**:- TH should read mandatory attributes (values 0, 1, 8) from DUT
**actual behavior:-** TH missed to read Mandatory TestEventTriggersEnabled(8) attribute from DUT
**steps to reproduce**:-./

[2022-05-31 13:26] #17380 closed

[2022-05-31 14:17] andy31415 commented on #18973
Are Feature maps not optional by definition?

[2022-05-31 14:22] andy31415 commented on #18973
Looking at the spec:

Feature QRY is a feature that controls `IdentifyQuery` and `IdentifyQueryResponse`.

My expectation is that we either say `Feature = 1` and implement the IdentifyQuery or we set `Feature = 0`.

[2022-05-31 14:28] bzbarsky-apple opened #18995 "--capabilities option for Linux apps does nothing"
#### Problem
In `ChipLinuxAppInit` we parse command line args like so:
[code]
which for `--capabilities` will do:
[code]

Then back in `ChipLinuxAppInit` we do:
[code]
where `rendezvousFlags` is based on some build-time defines, and that does:
[code]
which overrides the value that came from the command line.

 #### Proposed Solution
What is the actual intended behavior of this command-line option?

[2022-05-31 14:35] rcasallas-silabs commented on #18892
The problem, I believe, is that Group cluster, and Group Key Management cluster have mutually exclusive requirements. According to section 1.3.7.4. (RemoveGroup Command): `The RemoveGroup command allows a client to request that the server removes the membership for the endpoint implementing the server, if any, in a particular group`.
This implies that the endpoint to group association must be remo

[2022-05-31 14:59] yufengwangca commented on #17205
No, I am not able to pass with Sowmya suggested QR code.

[code]

[2022-05-31 15:02] yufengwangca commented on #17205
I think there are something wrong with Sowmya's QR code, since we should not able to generate this code based on our current version check logic in our code. I tried to generate the QR code with only incorrect version info using ToT, and it failed as I expected.

yufengwang@yufengwang:~/connectedhomeip/out/debug/standalone$ ./chip-tool payload generate-qrcode --discriminator 3840 --setup-pin-code

[2022-05-31 15:17] andy31415 commented on #18989
Feature 0 seems to be "CalendarFormat" and it seems to be controlling `ActiveCalendarType` and `SupportedCalendarTypes` attributes.

We should either:
   - have feature 0 disabled *or*
   - have feature 0 and support the 2 attributes it controls

@Rajashreekalmane could you confirm attributes available?

Looking at matter files, I generally see something like:

[code]

Generally it seems that supp

[2022-05-31 15:39] fessehaeve opened #19000 "Write attributes paths are not validated unlike read"
#### Problem

`./chip-tool any read-by-id 0x11110001 0x1111f001 1 1 ` fails with INVALID_ACTION but
`./chip-tool any write-by-id 0x11110001 0x1111f001 "abc" 1 1` succeeds.

This is concerning the valid range for cluster id and attribute id.

 #### Proposed Solution

Do we need to have this check?

[2022-05-31 17:03] sowmyassp commented on #17205
- For Custom Flow field bit set to 1 in step 3a and set to 2 in step 3c of test-case TC-DD-3.14  where we have QR code generated for it is  "MT:-24J029Q00KA0648G00" where the  DUT should terminate the commissioning process, but DUT successfully completed the commissioning process

- TC-DD-3.17
1. For VENDOR_ID from the list: 0xFFF1, 0xFFF2, 0xFFF3, 0xFFF4 the manual code (749701123365521327694, 74

[2022-05-31 17:05] Rajashreekalmane commented on #16267
@cabin15 TSTAT test case works fine with Thermostat app but not in all cluster app.  Could you please use Thermostat app for TSTAT test case in specific.

[2022-05-31 17:10] #18973 closed

[2022-05-31 17:10] bzbarsky-apple commented on #18973
As in, Matter devices are not allowed to implement this feature.  It's Zigbee-only.

[2022-05-31 17:11] #18929 closed

[2022-05-31 17:40] bzbarsky-apple commented on #18935
Yes, this is _very_ much a bug!

[2022-05-31 17:50] yufengwangca commented on #16932
no plan to change this design

[2022-05-31 17:50] #16932 closed

[2022-05-31 17:53] yufengwangca opened #19007 "Update existing example app to support switch cluster event"
#### Problem
switch cluster event APIs have been moved from platform layer to app domain, currently, CSG does not have a way to validate these events

 #### Proposed Solution
<suggested fix, suggested enhancement>

[2022-05-31 18:36] #18906 closed

[2022-05-31 19:33] kpark-apple opened #19010 "DNSServiceResolve leaks on Darwin platform"
#### Problem
There was a report that DNSServiceResolve entities were leaking.
It seems that logic to call DNSServiceRefDealloc() is missing when operational node address resolution expires, such as the case with the following error message:

[code]
 #### Proposed Solution
N/A

[2022-05-31 19:35] turon opened #19011 "[crypto] Enforce maximum NONCE - NCC-E003350-EXE"
Finding ID NCC-E003350-EXE

 #### Problem
Never repeating a NONCE is critical to AES-CCM security, and the specification states that when a message counter for a secure session saturates, that session / session key is to be invalidated.

Yet [`LocalSessionMessageCounter::Advance`](https://github.com/project-chip/connectedhomeip/blob/4967c0e0a51e3e0f0216c551d35b4cbde5aea7e4/src/transport/MessageCou

[2022-05-31 19:36] cjandhyala commented on #16267
@cabin15 this seem to be implemented in all-cluster-app, Can you verify this on all-cluster-app and verify ? Is there a reason you need to verify this on thermostat app, on your platform.

Can you pls provide platform, app details that you are running this test on ?

[2022-05-31 19:37] andy31415 commented on #13024
#19008 looks into at least type definition support

we can expand yaml tests (underlying bits or masked values) later if that seems useful

[2022-05-31 20:01] yufengwangca commented on #11568
https://github.com/project-chip/connectedhomeip/pull/16085

[2022-05-31 20:21] tehampson commented on #18973
But it sounds like the all-cluster example all is enabling this cluster? Are you saying that we should disable it, or that this isn't a required cluster of matter and therefore shouldn't be a cert blocker?

[2022-05-31 21:48] yinyihu-silabs opened #19013 "[pre-sve] TC-DGSW-2.3 reset-wartermarks command returns failure"
**Problem**
_Expected Behavior_
Step 2a: _./chip-tool softwarediagnostics reset-watermarks 1 0_  command executed successfully.

_System Configuration_
- DUT: EFR32
- App: lighting
- SDK SHA: 425f1fb916ca154deeb75cd82cd5196778aba152

_Log_
[tc-dgsw-2.3.txt](https://github.com/project-chip/connectedhomeip/files/8809634/tc-dgsw-2.3.txt)

[2022-05-31 22:09] mrjerryjohns commented on #19013
It seems like the `DiagnosticDataProvivderImpl` for EFR32 does not implement the `ResetWatermarks` method. That's likely the cause of this error.

The spec requires that if you claim support for the optional `WTRMRK` feature (which this app does state it does), then that command should be implemented.

[2022-05-31 22:42] mrjerryjohns commented on #19000
On master as of today, the write does not actually succeed - it returns back an `UNSUPPORTED_CLUSTER` error.

This however isn't presumably the right error. The `WriteHandler` logic today does not actually validate that the Attribute and Cluster IDs are indeed well formed. This should be added.

[2022-05-31 22:45] mrjerryjohns commented on #18994
The commit reference doesn't contain support for this, which was recently added (see #18852). Please re-test.

[2022-05-31 22:46] mrjerryjohns commented on #18993
The commit reference doesn't contain support for this, which was recently added (see https://github.com/project-chip/connectedhomeip/pull/18852). Please re-test.

[2022-05-31 22:57] mrjerryjohns commented on #18989
So, on master, the feature map defaults to 0 now, even though on Linux/Darwin, it seems to read out valid values for active/supported calendar types on the all-clusters-app:

[code]

Seems like the example apps _should_ be setting that feature map value to 1?

[2022-05-31 23:08] mrjerryjohns commented on #18984
`10e` is an `INET_ERROR_UNKNOWN_INTERFACE`.

[2022-05-31 23:09] mrjerryjohns commented on #18984
The above error is being emitted from `Server::RejoinExistingMulticastGroups`, when trying to call `mTransports.MulticastGroupJoinLeave`. Someone versed in group comms should help take a look at this...

[2022-05-31 23:17] mrjerryjohns commented on #18940
On master as of today, (`eb3ac837a`), I'm seeing attribute 4 show up in the supported attribute list.

However, the list of attributes returned don't seem to match that in the YAML:

Values I read out:
0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 65528, 65529, 65531, 65532, 65533

Values in the YAML test:
0, 1, 2, 3, 4, 5, 6, 7, 65528, 65529, 65531, 65532, 65533

[2022-06-01 00:08] emargolis commented on #18655
It is fixed in #19020

[2022-06-01 01:12] cjandhyala commented on #18976
@pankore Looking at the log, the timeout error from BLE can be ignored. from the log, it seems the controller (2nd admin) is able to provision the controlee over IP transport.  Can you try to read/write an attribute using the 2nd admin?

[2022-06-01 01:17] cjandhyala commented on #18940
@manjunath-grl Can you provide the details of your test environment and which app are you using ?

[2022-06-01 02:00] chrisdecenzo opened #19026 "Android mDNS service discovery does not return txt entries"
#### Problem
 * service discovery using android platform should return the text entries (VIDPID, CM, etc)

 #### Proposed Solution
* Add text entries to android platform's service discovery

[2022-06-01 02:31] pankore commented on #18976
@cjandhyala, yes it is working. Should I close this issue or will there be a fix for the BLE timeout error?

[2022-06-01 02:36] #15311 closed

[2022-06-01 02:36] #17209 closed

[2022-06-01 02:40] pankore commented on #18976
@cjandhyala on TH2, I commissioned the DUT into fabric2 with nodeID=1235, but I could not control it using `./chip-tool basic read node-label 1235 0`. However, I can use TH2 to control it when I pass in nodeID of the DUT in fabric1 `./chip-tool basic read node-label 1234 0`.

[2022-06-01 03:25] zhouF96 commented on #17981
Hi @agners  We still have the same issue while using Python CHIP Controller and the device is lighting-app esp32. Both TE9 and Master failed. Any idea?

[2022-06-01 03:54] emargolis commented on #18061
There is also a followup to add error case tests: #18074

[2022-06-01 03:54] #18061 closed

[2022-06-01 03:54] carol-apple opened #19032 "Remove polling for BDX messages received"
#### Problem
Currently, OTA Requestor and Provider both rely on `TransferSession::PollOutput` to determine if a BDX message has been received and should be processed.

This slows down transfer over BDX.

 #### Proposed Solution
Remove polling code from BDX and just directly process BDX messages as they are received

[2022-06-01 05:11] bzbarsky-apple commented on #11568
I don't understand.  There were no code changes made in #16085.  @yufengwangca what am I missing?

[2022-06-01 05:12] bzbarsky-apple commented on #16665
@manjunath-grl Sure thing.

[2022-06-01 05:12] #16665 closed

[2022-06-01 05:18] manjunath-grl commented on #18940
@cjandhyala we are testing this in Linux system and testing it against all clusters app

[2022-06-01 05:32] manjunath-grl commented on #18794
@jmeg-sfy we are using the commands used for CI
For Build:
./scripts/run_in_build_env.sh \
                     "./scripts/build/build_examples.py \
                        --target linux-x64-chip-tool-no-ble-tsan-clang\
                        --target linux-x64-all-clusters-no-ble-tsan-clang \
                        --target linux-x64-lock-no-ble-tsan-clang \
                        --target li

[2022-06-01 05:38] somu1710 commented on #17205
@liamgonyea Do you have any comment on this

[2022-06-01 06:07] cjandhyala commented on #18976
@pankore Are you creating two fabrics with the same tool chip-tool instance on raspi. If yes, Can you give the command with commissioner's name

`./chip-tool basic read node-label 1235 0 --commissioner-name beta`

[2022-06-01 06:12] kkasperczyk-no commented on #18418
@Survensa @cjandhyala can we close that one? The only issue I see are differences between feature maps vs the real features that are implemented, but it affects probably more examples. If we want to fix this, it could be addressed in a more generic issue that this one.

[2022-06-01 06:49] sowmyassp commented on #17205
@liamgonyea would you like to comment on this

[2022-06-01 06:56] Rajashreekalmane opened #19036 "[TC-LVL-7.1]MoveToClosestFrequency is not present in level control XML"
#### Problem
chip-tool needs to implement mandatory MoveToClosestFrequency command.

**System configuration:-**
Chip-tool - RPI-4, 8GB RAM
DUT - RPI - RPI-4, 8GB RAM
Platform : IP and wifi
Commit-ID:4d84a4a978ffc867a62b9b15423a9b70d9cb993e
Dut application: all-clusters-app

**PFA screenshot below:-**
![image](https://user-images.githubusercontent.com/95841834/171345397-c25af9b2-c8d4-4c30-be2b-b6e4

[2022-06-01 07:16] bzbarsky-apple commented on #18973
The _cluster_ is enabled and supported.  The QRY feature, and anything conditioned on it, is not.

[2022-06-01 08:43] pankore opened #19039 "[pre-sve] TC-LO-2.1 SupportedLocales and ActiveLocale issues"
#### Problem
Test case ID: TC-LO-2.1
SHA: https://github.com/project-chip/connectedhomeip/commit/425f1fb916ca154deeb75cd82cd5196778aba152
Platform: Ameba all-clusters-app
Chip-tool platform: Raspberry Pi

Ameba is using the DeviceInfoProviderImpl in examples/providers

- `./chip-tool localizationconfiguration read supported-locales 1234 0` Reading supported locales returns UNSUPPORTED_ATTRIBUTE, e

[2022-06-01 09:21] Rajashreekalmane commented on #18989
@andy31415 DUT responding feature-map value has  0 and Currently CalendarFormat feature supporting 2 attributes those are ActiveCalendarType & SupportedCalendarTypes.

[2022-06-01 09:30] pankore commented on #18976
This solves the issue, thanks.

[2022-06-01 11:05] jimlyall-q opened #19049 "[pre-sve] TC-MF-1.10 BCM mode advertised as CM=0"
#### Problem
 * BCM opened and avahi-browse shows CM=1
 * BCM opened and avahi-browse shows CM=0 which shouldn't happen according to 4.3.1.3 "A Commissionee that is not in
commissioning mode (CM=0) SHALL NOT publish this subtype"
 * TC-MF-1.10
 * qpg6105 + x64 controller

[code]

 #### Proposed Solution

No fix

[2022-06-01 11:15] Rajashreekalmane commented on #15626
@andy31415 All are mandatory attributes Expect EmergencyHeatDelta attribute based on the feature these attributes are supporting.

[2022-06-01 11:29] wxiangcheng commented on #18753
I'm still blocking here. in Respond() in RespondSender.cpp, I found the second "for " will never hit because (*responder)->begin() will be equal to (*responder)->end - it means no finding. But why? what condition do I MISS?

for (auto responder = mResponders.begin(); responder != mResponders.end(); responder++)
        {
            if (*responder == nullptr)
            {
                continue

[2022-06-01 13:06] tcarmelveilleux commented on #18892
This seems to be related to having multiple idea of "Group Table".

There is the GroupKeyManagement `GroupTable` attribute that relates the sum of the groups configured on all endpoints, by group ID. It's a read-only attribute.

There are the Group commands in the Groups cluster, which are per-endpoint and *per fabric*. The output of ViewGroup is <status, group ID, group Name> for a given group on

[2022-06-01 13:11] HubertHugo opened #19053 "[Pre-SVE] test IDM 2.2 steps 5 and 8"
Platform: nRF52840
all-cluster-app
After steps 5 and 8 (5th step requires setting timeout or it throws timeout before this error) there is
[1654088492.058436][21409:21409] CHIP:TOO: Run command failure: IM Error 0x00000611: Cluster-specific error: 0x11
step 5 command:
./chip-tool any read-by-id 0xFFFFFFFF 0xFFFFFFFF 1 0xFFFF --timeout 40
step 8 command:
./chip-tool any read-by-id 0xFFFFFFFF 0xFFFF

[2022-06-01 13:17] jimlyall-q opened #19054 "[pre-sve] TC-I-2.2 after waiting 10s identify-time is unchanged"
#### Problem
 * Expected - Set identify-time to 60, read identify time as 60, wait 10s, read identify-time as ~50
 * Actual - After 10s identify-time is still 60
 * TC-I-2.2 steps to 2c
 * qpg6105 + x64 chip-tool

[TC_I_2_2.1653981452.log](https://github.com/project-chip/connectedhomeip/files/8814564/TC_I_2_2.1653981452.log)

 #### Proposed Solution
No fix

[2022-06-01 13:26] somu1710 opened #19055 "[TC-WNCV-4.4] - CurrentPositionTiltPercentage attribute value is not matched with the expected outcome"
**Problem:**
As per testplan CurrentPositionTiltPercent100ths attribute value /100 should be equal to the  CurrentPositionTiltPercentage attribute value.but values are mismatched.

**Actual outcome:**
CurrentPositionTiltPercent100ths: 500
 CurrentPositionTiltPercentage: 50

**Expected outcome:**
CurrentPositionTiltPercent100ths: 500
CurrentPositionTiltPercentage: 5

**steps to reproduce:**
Current

[2022-06-01 13:45] jmeg-sfy commented on #19055
it is because init value are wrong this PR would fix it

[2022-06-01 14:02] rcasallas-silabs commented on #18892
Agreed. Now we should put that on the spec, so the current behavior can be considered a bug, and be fixed.

[2022-06-01 15:11] alexandre-humbert opened #19059 "EFR32 examples : build failed with show_qr_code=false"
Hi,
I tried to compile the lighting app for BRD4186 (MG24) with show_qr_code=false and the build failed. (undefined reference to "LCDWriteQRCode")

I can't compile the examples with show_qr_code=false because disable_lcd=false by default. It works if I add disable_lcd=true.

I think the reason why it fails is that lcd.h is included in AppTask.c and LCDWriteQRCode() is called because disable_lcd=fa

[2022-06-01 15:50] adabreuti opened #19060 "[pre-sve] TC-I-2.3 Add implementation for Trigger effect command on TI platform all-clusters application"
#### Problem
Currently, the all clusters app on CC13x2x7 returns INVALID_COMMAND for TC-I-2.3 as it is missing a a def

system configuration
- DUT used : CC13x2x7
- app use: all-clusters-app
- chip-tool commit id : https://github.com/project-chip/connectedhomeip/commit/425f1fb916ca154deeb75cd82cd5196778aba152 (pre-sve SHA)

![image](https://user-images.githubusercontent.com/76965454/171445384-a713

[2022-06-01 16:03] #18994 closed

[2022-06-01 16:48] sowmyassp opened #19062 "Actions Cluster - SDK needs to implement the Mandatory commands"
**Problem**:
While Executing the behavior of the non-global commands of the Actions cluster, mandatory attribute throws error code as 0x81(unsupported command).

**Commit used** : 4d84a4a978ffc867a62b9b15423a9b70d9cb993e

- Chip-tool - RPI-4, 8GB RAM
- DUT - RPI - RPI-4, 8GB RAM
- Platform : linux platform
- Dut application: all-clusters-app

 **Expected behavior** :  Pass with status(0x0)

 **Act

[2022-06-01 16:52] cjandhyala commented on #18545
@manjunath-grl per QA team you need to run this test using the thermostat app.

[2022-06-01 17:07] #17471 closed

[2022-06-01 17:24] andy31415 commented on #18989
Cert blocker review:
   - feature map SHOULD be 1 because feature is supported (looks like it is 0 right now)
   - does not break the spec if feature map is 0 but attributes are available anyway

[2022-06-01 17:27] bzbarsky-apple commented on #19036
This is not a chip-tool issue per se; the command is missing from the XML.

It's also not mandatory, but we clearly do need to add it.

[2022-06-01 17:41] carol-apple commented on #13984
Should multiple transfers only be applicable to the provider? Does it make sense for a requestor to maintain multiple transfers at a time? This does not seem to be likely needed for a requestor. The current spec seems to only mention that the provider uses the `updateToken` to maintain multiple transfers and that requestor just has to send it to provider for the entirety of the OTA process.

Assig

[2022-06-01 17:57] mrjerryjohns commented on #17221
@kghost please confirm you can help take a look at this.

[2022-06-01 18:05] woody-apple commented on #15011
Cert Blocker Review: Spec is being updated, closing.

[2022-06-01 18:18] bzbarsky-apple opened #19066 "TrustedRootCertificates does not contain a newly-added root until after AddNOC"
#### Problem
We read the TrustedRootCertificates attribute out of the fabric table, but we don't add roots to that until AddNOC.

 #### Proposed Solution
Maybe `OperationalCredentialsAttrAccess::ReadRootCertificates` should grab the root from `gFabricBeingCommissioned` if we're in a state where it's expected to have somethign?

@tcarmelveilleux

[2022-06-01 18:42] sumaky opened #19068 "[TC-DM-3.4] - API's to generate invalid conditions when sending UpdateNOC"
### Following are the requirements to validate TC-DM-3.4
Generate bunch of test vectors to test error scenarios in the table 11.18.5.9.
- [ ] keyadded CAT tag
- [ ] changed nodeID
- [ ] changed subject public
- [ ] NOC that is not in the TrustedRootCertificates
- [ ] NOC with invalid length

[2022-06-01 18:44] Shadi-Silabs opened #19069 "[pre-sve] TC-SU-2.7 not getting the right StateTransition event notification"
#### Problem
TC-SU-2.7: step#3 is not producing the right event notification.

1. This has been tested on chip-tool, ota provider and end-device app all based on PRE-SVE week1 commit id but it failed.
2. The same has been tested on chip-tool, ota provider and end-device app all based on te9 commit id and it passed.
3. the same has been tested on a combination of chip-tool and ota are built based o

[2022-06-01 20:34] tcarmelveilleux opened #19072 "Implement the `IsForUpdateNOC` field to CSR request"
#### Problem
IsForUpdateNOC field added to CSRRequest in https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5343 must be implemented, and the associated error handling.

 #### Proposed Solution
<suggested fix, suggested enhancement>

[2022-06-01 20:36] tcarmelveilleux commented on #18892
Need to implement the result of:

- https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5341
- https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5342

[2022-06-01 20:57] cjandhyala commented on #18418
per @kkasperczyk-no nordic platform chose not to implement a USR feature, hence this is not a cert blocker

[2022-06-01 21:36] kghost commented on #17221
will look it today

[2022-06-01 22:11] carol-apple opened #19073 "Refactor OTA Provider into various components"
#### Problem
Similar to the redesign done for the [OTA Requestor](https://docs.google.com/document/d/1dv2cKhg2I3UTf9XPRkNJuZ_D-s8uRZ_MFpUvaSM1WYQ/edit), the OTA Provider should be refactored into various components.

 #### Proposed Solution
The split may be very similar to the requestor. Specifically, most logic can probably exist in a common space with some platform specific components needing to

[2022-06-01 22:30] carol-apple opened #19075 "OTA integration with DCL"
This issue is to track the work needed to integrate with DCL for OTA

[2022-06-01 22:40] carol-apple opened #19077 "Support HTTPS protocol for OTA"
#### Problem
Currently, only BDX Synchronous mode is supported as a download protocol for OTA

 #### Proposed Solution
Add support for HTTPS protocol

[2022-06-01 22:48] carol-apple opened #19078 "Evaluate OTA Provider retry counter usage"
#### Problem
The initial introduction of the `DefaultOTARequestorDriver::mProviderRetryCount` is to track how many times a provider has responded with `Busy` response. After some max retry has been attempted, the requestor should stop retrying and either move on to another provider (if one exists) or stop the OTA process. Over time, the code has changed a bit such that this counter now keeps track

[2022-06-02 00:07] isiu-apple commented on #19078
We should also take into account that currently, we check `mProviderRetryCount` against `kMaxBusyProviderRetryCount` and move to next provider in the list only in`DefaultOTARequestorDriver::ScheduleQueryRetry()`.  We may want to consider a `mProviderRetryCount` per provider.

[2022-06-02 00:36] ukatira commented on #19069
Looks like timeout for chip-tool event subscribe is not working and session ends right away. Works for me when tried using interactive mode with these steps:

chip-tool interactive start
subscribe-event state-transition 5 10 0x1234567890 0
otasoftwareupdaterequestor announce-ota-provider 0x00000000ABCD 0 0 0 0x0000001234567890 0

[2022-06-02 01:05] cjandhyala commented on #19053
@HubertHugo Could you attach the logs and provide bit more details the commands you sent prior to step5 /8

[2022-06-02 01:15] tcarmelveilleux commented on #19049
How was BCM window opened?

[2022-06-02 03:44] #18824 closed

[2022-06-02 04:49] robszewczyk commented on #16886
MEI is part of the spec; we need to ensure proper encoding & decoding in the SDK s.t. MEI adheres to the spec.  Suggest: write a controller-oriented test that produces responses with MEI to verify correct controller behavior.  Definitely cert blocker.

[2022-06-02 05:54] bzbarsky-apple commented on #15409
That error happens if someone calls `DeviceCommissioner::Commission` for a device id that we don't have a PASE session to and aren't trying to set up a PASE session for.

@caipiblack is your code still calling into this API:
[code]
?  Are you seeing "Invalid device for commissioning" before that error?  In general, attaching (not pasting, please) a log would be useful here.

[2022-06-02 05:57] bzbarsky-apple commented on #18418
@cjandhyala Note that the USR feature is required if any of PIN, RID, FPG, or FACE are supported.

[2022-06-02 06:00] msandstedt opened #19081 "platform GetClock_RealTime broken"
#### Problem

Observed on these platforms: ESP32, Ameba, FreeRTOS, mbed

In init:

[code]

This is not the right thing to do.  This makes the platform believe and report that it does have wall clock time, even defeating its own rudimentary check in the getter:

[code]

Because the clock is initialized to CHIP_SYSTEM_CONFIG_VALID_REAL_TIME_THRESHOLD (the chip epoch), the system will never discover

[2022-06-02 06:04] bzbarsky-apple commented on #18928
QRY is not part of Matter, so the SDK behavior here is correct.

[2022-06-02 06:04] #18928 closed

[2022-06-02 06:05] bzbarsky-apple commented on #18931
@mspang any idea what's going on there?

[2022-06-02 06:06] bzbarsky-apple commented on #18940
This is a media cluster, so should probably be tested against tv-app....

[2022-06-02 06:07] bzbarsky-apple commented on #18943
@jmartinez-silabs could you take a look, please?

[2022-06-02 06:17] kkasperczyk-no commented on #18418
@bzbarsky-apple right, however nRF platform in particular doesn't implement any of those.

[2022-06-02 06:22] bzbarsky-apple commented on #18984
@dhrishi @mkardous-silabs @turon

I expect that `UDPEndPointImplLwIP::IPv6JoinLeaveMulticastGroupImpl` or `UDPEndPointImplLwIP::IPv4JoinLeaveMulticastGroupImpl` is what's returning INET_ERROR_UNKNOWN_INTERFACE, when `FindNetifFromInterfaceId` returns null.

Looks like `UDP::MulticastGroupJoinLeave` does:
[code]
and I am wondering whether `mUDPEndPoint->GetBoundInterface()` is the "wildcard" interf

[2022-06-02 06:23] bzbarsky-apple commented on #18987
@kowsisoundhar12 which server app is being tested here?

[2022-06-02 06:28] bzbarsky-apple commented on #19049
@jimlyall-q What exactly was being browsed for?

When CM=0, what should happen is:

* There is a TXT entry with key "CM" and value "0".  That's what I see in the `txt =` bits shown above, and that part is correct.
* The service name is not registered for the `_CM._matterc._udp` type+subtype (that's the "SHALL NOT publish this subtype" bit from the spec).  Was the browse being done for that subtype

[2022-06-02 06:29] bzbarsky-apple commented on #19049
Also, above where it says "BCM opened and avahi-browse shows CM=0" is that supposed to be "BCM closed and ..."?  Because having CM=0 while a commissioning window is open would be _very_ unexpected.

[2022-06-02 06:32] bzbarsky-apple commented on #19053
TestCluster has an attribute that always fails reads, for testing purposes.  The above wildcard reads are reading everything including that attribute, so are getting that error logged.

[2022-06-02 06:32] #19053 closed

[2022-06-02 07:34] #16797 closed

[2022-06-02 07:36] magicwen666 opened #19089 "How do migrate the Matter environment from one PC to another"
#### Problem
<what's wrong or missing, please include any applicable:
 * expected behavior
 * actual behavior
 * steps to reproduce
 * system configuration
 * screenshots, images, logs, etc.

 #### Proposed Solution
<suggested fix, suggested enhancement>

[2022-06-02 07:41] caipiblack commented on #15409
This is how the commissioning is made in my application:

[code]

Yes when I re-start the commissioning I get the error `Invalid device for commissioning 0000000000000002`

Note that the NodeId is incremented between the two tries.

Attached you will find full logs: [logs-double-commissioning.txt](https://github.com/project-chip/connectedhomeip/files/8821749/logs-double-commissioning.txt)

And her

[2022-06-02 08:09] sumaky opened #19091 "TC-DM-3.1- updates to be made to the chip-cert tool to run test case"
### The following are the requirements to complete the validation process for TC-DM-3.1

1. CertificateChainResponse does not show the certificate data as shown below
CertificateChainResponse: {
[1651570197.289898][3689:3694] CHIP:TOO:     certificate: Elided value too large of size 491
[1651570197.289954][3689:3694] CHIP:TOO:    }
2. API to know the length of the certificate
3. CSRResponse Comman

[2022-06-02 08:10] HubertHugo commented on #19053
@cjandhyala if the problem is because of this always failing attribute then can I consider the test passed?
Here you have logs from 8th step.
[2.2.8_chip-tool.log](https://github.com/project-chip/connectedhomeip/files/8821928/2.2.8_chip-tool.log)

[2022-06-02 09:11] pankore commented on #19039
Is this a platform specific issue? Seems like the DeviceInfoProviderImpl in examples/providers that ameba is using do support these read/write attributes.

[2022-06-02 09:45] sumaky opened #19094 "[TC-DM-3.1]- updates to be made to the chip-cert tool to run test case"
Need a parser cmd in the chip-tool to parse the attestation elements response msg

[2022-06-02 09:48] sumaky opened #19095 "TC-DA-1.3- updates to be made to the chip-cert tool to run test case"
Need to add log statements in the reference app to validate the NONCE

[2022-06-02 10:03] sowmyassp opened #19096 "[Thread plaatform] - Long Manual code is not printing in the device configuration while launching the all-clusters-app"
**Problem** :
21 digit manual code is not printing in the device configuration log when we launch all-cluster-app where instead we observe that, logs has, General QR Code and the manual 11 digit short code.

![image](https://user-images.githubusercontent.com/90545664/171606355-16244422-1461-4b90-ab3d-7c527ac23e0c.png)

**PFA Logs** :
[Thread UART.txt](https://github.com/project-chip/connectedhomei

[2022-06-02 10:07] HubertHugo opened #19097 "[Pre-SVE] all cluster app doorlock issue"
SHA: 425f1fb916ca154deeb75cd82cd5196778aba152
all-cluster-app
nRF52840
Chip tool returns failure when I try to lock/unlock the door. Lock state does not change.

[doorlock_issue_DUT.log](https://github.com/project-chip/connectedhomeip/files/8822726/doorlock_issue_DUT.log)
[doorlock_issue_chip-tool.log](https://github.com/project-chip/connectedhomeip/files/8822727/doorlock_issue_chip-tool.log)

[2022-06-02 10:23] sumaky opened #19098 "TC-DA-1.4,TC-DA-1.6-updates to be made to the chip-cert tool to run test case"
### **Step1 :Generated the invalid vectors**

1. Commissionee’s PAA is not in the Commissioner’s trusted set.
2. Commissionee provides an invalid DAC and PAI chain as validated by TH against the RFC5280 certificate Basic path validation algorithm
3. Commissionee provides DAC with validity period that is not in range of PAA/PAI
4. Certification Declaration has only one of the following fields
dac_o

[2022-06-02 11:38] vivien-apple opened #19101 "at what point should we add some sort of builder for `WriteOptions` instead of adding more and more arguments?"
at what point should we add some sort of builder for `WriteOptions` instead of adding more and more arguments?

This method used to take 8 argumenst (yikes) and now it takes 11 (double yikes), out of which at least 3 are `Optional<uint16_t>`.

Since these arguments would consume stack anyway when called, lets create a `WriteOptions` class that contains all data instead of us keeping adding argumen

[2022-06-02 13:40] manjunath-grl commented on #18850
@yinyihu-silabs thanks for the information

[2022-06-02 13:40] #18850 closed

[2022-06-02 13:57] Rajashreekalmane opened #19107 "[TC-IDM-6.2]Chip-tool needs to provide a way to set a optional IsUrgent optional flag."
**#### Problem**
The step is expecting Activate Event subscription from TH to DUT and change the attribute value to create subscribed event before minimuminterval with 'IsUrgent' flag specified for a particular event path in the EventPathIB.  Chip-tool needs to provide a way to set a optional IsUrgent optional flag. currently Chip-tool needs to provide a way to set a optional IsUrgent optional fla

[2022-06-02 14:10] doublemis1 opened #19108 "[pre-sve] TC-ULABEL-2.2 unable to write label to label-list attribute"
#### Problem
SHA: 425f1fb916ca154deeb75cd82cd5196778aba152
platform: nrf
example: all cluster app
Failure in response from write label-list.
./chip-tool userlabel write label-list '[{"label":"roomName", "value":"master bedroom 1"}, {"label":"orientation", "value":"east"}, {"label":"floor", "value":"2"}, {"label":"roomType", "value":"bedroom"}]' 1 0

[code]

[chip_tool.log](https://github.com/proje

[2022-06-02 14:43] manjunath-grl opened #19110 "[TC-CC-9.*] tests fails for Darwin checks"
Summary:
TC-CC-9.* tests fails in Darwin checks in PR #19001 tried to use saved value in constraints as minValue but facing build error showing "if (current < expected),  'ConstraintsChecker::CheckConstraintMinValue<unsigned short, NSNumber *, 0>' requested here ,  CheckConstraintMinValue<uint16_t>("enhancedCurrentHue", [value unsignedShortValue], ColorLoopStartEnhancedHue));"

YAML file:
![image]

[2022-06-02 14:48] bzbarsky-apple commented on #18508
Actually, reading the spec more carefully there is still a mismatch between IM and groups cluster there: the groups cluster treats the contraint violation as a _success_ for purposes of the IM.

[2022-06-02 14:58] jepenven-silabs commented on #18984
No work was done on our side for LwIP support of Multicast. There was a compatibility issue between the OpenThread Stack and the LwIP stack fro groups on top of code duplication hence we move aside from using LwIP and that context.

[2022-06-02 15:02] CodeChronos928 opened #19112 "TypeInfo structs are not available within the global attribute context."
#### Problem
I'm reading global attributes outside the context of any cluster.  To read the attributes, I need the type traits of the attribute value, but that information is only available within the context of clusters.

For example, I'm trying to read the AttributeList from all clusters using its global ID.  All clusters have it, so I don't need to care which cluster I'm looking at:

[code]

I

[2022-06-02 15:17] dtodor opened #19113 "Git issue cyw30739_sdk"
It seems that the `cyw30739_sdk` references unavailable/inaccessible commits:

[code]

[2022-06-02 15:21] yufengwangca opened #19114 "Stop using signals for those faults, altogether, and move to a different notification means, like a pipe"
#### Problem
Currently, we reuse signal to trigger the various event on the device, this mechanism has several restrictions.

We only have very limited signal on Unix, we may run out of available signal for all events
Signal can not pass additional parameter information other than the command itself
All signals have default actions, we overwrite those default behaviors, such as Ctrl+C can not term

[2022-06-02 15:32] dtodor commented on #19113
OK, had to manually change the remote URLs to:

[code]

[2022-06-02 15:38] andy31415 commented on #19062
@sowmyassp  what was the command executed? `mandatory attribute throws error` is somewhat vague. Could you also share the chip-tool commands used or at least the attribute names (at least one of them)

[2022-06-02 15:38] andy31415 commented on #19062
Test plans may change. It would be useful to see list of commands in the issue itself so that we can reference them in case test plans are updated.

[2022-06-02 15:44] andy31415 commented on #19062
https://github.com/project-chip/connectedhomeip/blob/master/examples/all-clusters-app/all-clusters-common/all-clusters-app.matter#L4246 seems to claim that actionList and endpointList are available as a callback:

[code]

guessing callback probably not properly implemented or missing.

[2022-06-02 15:45] andy31415 commented on #19062
I also wonder if we should use all-clusters to test bridge as we have a dedicated bridge example.

[2022-06-02 16:12] franck-apple commented on #18987
removing "request cert blocker" per discussion with @manjunath-grl

[2022-06-02 16:18] sowmyassp commented on #19062
@andy31415 I actually run this commands in all-clusters-app, once I will run in bridge app if I face same issue I will raise an issue then now I will close this ticket, thank you

[2022-06-02 16:19] #19062 closed

[2022-06-02 16:19] fessehaeve opened #19116 "lighting-app has occupancy sensing server cluster"
#### Problem

According to spec OnOffLight device type has occupancy sensing client cluster as optional. Having the server cluster here seems wrong.

 #### Proposed Solution
Replace occupancy sensing server with client.

[2022-06-02 16:20] manjunath-grl commented on #18940
@cjandhyala @bzbarsky-apple we are using the commands used for CI
 For Build:
 ./scripts/run_in_build_env.sh
 "./scripts/build/build_examples.py
 --target linux-x64-chip-tool-no-ble-tsan-clang
 --target linux-x64-all-clusters-no-ble-tsan-clang
 --target linux-x64-lock-no-ble-tsan-clang
 --target linux-x64-ota-provider-no-ble-tsan-clang
 --target linux-x64-ota-requestor-no-ble-tsan-clang
 --target

[2022-06-02 16:25] aajain-com commented on #18507
@Damian-Nordic could you please take another look at this issue as this particular issues is causing several failures in our testing and in general is the root cause of poor pairing reliability on Nordic platform?

[2022-06-02 16:31] cjandhyala commented on #16267
@cabin15 could you verify on latest ToT and file new ticket, since this is old ticket we are closing the issue

[2022-06-02 16:31] #16267 closed

[2022-06-02 16:35] cjandhyala commented on #18943
@PSONALl , I heard from @somu1710 that you got new instructions on how to execute this TC. Pls let us know if this is still an issue that we need SDK to look at it?

[2022-06-02 16:42] sowmyassp commented on #18995
This issue fails 3 test-cases of Device discovery that is TC-DD-3.11, TC-DD-3.12, TC-DD-3.13

[2022-06-02 16:44] cjandhyala commented on #19097
@HubertHugo which test case is this scenario referred to? For Pre-SVE1, All the door lock tests are marked as 'Not Verifiable' as test plan/verification steps not ready. Pls do not test that feature. closing the ticket.

[2022-06-02 16:44] #19097 closed

[2022-06-02 16:45] cjandhyala commented on #19069
@Shadi-Silabs Could you run this test in Interactive mode as Utasav was suggesting above.

[2022-06-02 17:14] woody-apple commented on #19068
Cert Blocker Review: @emargolis is working on this with @tcarmelveilleux.

[2022-06-02 17:16] woody-apple commented on #19060
Cert Blocker Review: Assigning to @franck-apple to find an owner for this issue.

[2022-06-02 17:19] woody-apple commented on #19054
Cert Blocker Review: @franck-apple to find a platform owner for this.

[2022-06-02 17:26] #19059 closed

[2022-06-02 17:26] woody-apple commented on #16886
Cert Blocker Review: Per @cjandhyala there is an existing ticket on the test plan side here.

Per @tcarmelveilleux's suggestion, let's add a simple MEI command/example to the all clusters app, and tooling (if needed).

[2022-06-02 17:27] woody-apple commented on #16886
Cert Blocker Review: @andy31415 to find an assignee.

[2022-06-02 17:28] #18922 closed

[2022-06-02 18:42] #18634 closed

[2022-06-02 18:42] #16148 closed

[2022-06-02 18:45] Shadi-Silabs commented on #19069
@cjandhyala @ukatira it worked with interactive mode. thank you

[2022-06-02 18:58] tehampson commented on #18431
`FabricIndex` does not correlate to a specific spot in the FabricTable; you can have `FabricIndex` of 32 be in spot fabricTable.mStates[0]. With that said FabricIndex does wrap around, how much of a concern that is I don't know at all. If for all intensive purposes it can be ignored then we can use `FabricIndex`, but if someone can think of a corner case where someone could do some sort of privile

[2022-06-02 19:00] #19013 closed

[2022-06-02 19:06] mrjerryjohns commented on #17298
Meeting Minutes (Today's Call):
_Attendees: Jerry, Mingjie, Michael Spang, Michael Sandstedt, Boris, Terence_

**Session Recovery:**

* Broad consensus that applications and protocols should be responsible for dictating when, and the cadence at which session recovery occurs.
* They could setup a SessionHolderWithDelegate to be notified when we have experienced a transport failure (i.e MRP failure)

[2022-06-02 19:12] bzbarsky-apple commented on #18508
OK.  That spec change merged.  I created https://github.com/project-chip/connectedhomeip/pull/19124 to address an issue in the groups cluster that I found while looking into this, but otherwise this is done.

The test plan needs to be updated to expect the right behavior: a _successful_ command response, that has an error in the "Status" field.

[2022-06-02 19:12] #18508 closed

[2022-06-02 19:45] mrjerryjohns opened #19127 "Update MEI implementation to be spec compliant"
#### Problem

With the change to the MEI spec to now include scoped identifiers in addition to standard/MC types, we need to validate and possibly update our existing SDK implementations + code-gen constructs to ensure they are compliant.

[2022-06-02 19:52] mrjerryjohns opened #19129 "Fix computation of min/max interval for subscriptions to be spec compliant"
#### Problem

Recent changes to the spec now alter the way the final min/max intervals are computed:

[code]

Where `SUBSCRIPTION_MAX_INTERVAL_PUBLISHER_LIMIT` is set to 60m in the spec.

 #### Proposed Solution

* Remove `MinInterval` from the various IBs and update the APIs to automatically compute this based on the requested value from the client.
* Alter the `ReadHandler::SetReportingIntervals

[2022-06-02 19:55] #18492 closed

[2022-06-02 20:01] mrjerryjohns opened #19130 "Client-side logic does not send back `INVALID_SUBSCRIPTION` on mismatched reports"
#### Problem

`InteractionModelEngine` does not today send back `INVALID_SUBSCRIPTION` if it receives a report with an invalid subscription ID. It just does nothing (see `InteractionModelEngine::OnUnsolicitedReportData`).

#### Proposed Solution

Fix it to return back a StatusResponse.

[2022-06-02 20:04] bzbarsky-apple commented on #18431
`CompressedFabricId` is not unique, so we should not be using it as a key.

Fabric index _can_ wrap around, but ideally things that are referencing a fabric index will get notified on fabric removal and deal.  Certainly deal before a new fabric can be commissioned.

[2022-06-02 20:38] bzbarsky-apple opened #19132 "Some commands can take longer in sync execution time than the MRP timeout"
#### Problem
Some commands take longer than the MRP timeout to execute.  Their execution then blocks standalone acks from being sent, and the sender keeps resending.

We have run into this with AddNOC/UpdateNOC (due to the crypto bits they have to do).

I believe @bluebin14 has also run into it for some commands that touched storage when storage was being (due to a bug) very slow.  But in general,

[2022-06-02 20:39] bzbarsky-apple commented on #19132
Also, the newly added IM timeout of 2 seconds + MRP bits is probably too low for these too... @mrjerryjohns @erjiaqing

[2022-06-02 21:23] adabreuti commented on #19060
@woody-apple @franck-apple, I'm currently working on a fix for this issue which is specific to the cc13x2x7 platform.

[2022-06-02 21:49] #18943 closed

[2022-06-02 21:57] phonnakasturi-apple opened #19134 "Cannot compile all-clusters-app on M1 Mac"
With SHA 6c4b54ec544cf748180c1e32a41f6e4b1b34b7fe

all-clusters-app cannot be complied on on-network device (mac)

**Steps to reproduce the issue;**

1. cd ~/connectedhomeip
2. git reset --hard 6c4b54ec544cf748180c1e32a41f6e4b1b34b7fe
3. source scripts/activate.sh
4. scripts/examples/gn_build_example.sh examples/all-clusters-app/linux out/debug chip_config_network_layer_ble=false

**Error:**

FAIL

[2022-06-02 22:05] phonnakasturi-apple opened #19135 "Pairing of M5 board via CHIPTool cli throws Timeout error"
With SHA 6c4b54ec544cf748180c1e32a41f6e4b1b34b7fe

M5 board cannot be paired via chiptool cli.

**Steps to reproduce the issue;**

Note: Ensure that M5 board is connected and flashed

1. cd ~/connectedhomeip
2. git reset --hard 6c4b54ec544cf748180c1e32a41f6e4b1b34b7fe
3. source scripts/bootstrap.sh
4. source scripts/activate.sh
5. gn gen out/debug --args='chip_mdns="platform" chip_crypto="mbedtls"

[2022-06-02 22:28] bzbarsky-apple commented on #18940
@manjunath-grl CI runs test files starting with "TV_" against tv-app, file starting with "DL_" against door-lock-app, and other things against all-clusters-app.

[2022-06-02 22:30] bzbarsky-apple commented on #19069
subscribe commands are only supported in chip-tool in interactive mode...

[2022-06-02 22:30] #19069 closed

[2022-06-02 22:30] bzbarsky-apple commented on #19089
@magicwen666 Please actually put in the "problem" bits.  What does "Matter environment" mean here?

[2022-06-02 22:34] bzbarsky-apple commented on #19091
You're using an old version of chip-tool, it looks like.  This was fixed in #18738 over a week ago.

I believe https://github.com/project-chip/connectedhomeip/pull/18893 addresses this, but @krypton36 should know for sure.

Again, @krypton36 should know the state of things here.

[2022-06-02 22:36] bzbarsky-apple commented on #19096
Which SHA is this on?  Which platform?  How was all-clusters-app compiled?

[2022-06-02 22:37] bzbarsky-apple commented on #19096
@sowmyassp Which SHA is this on? Which platform? How was all-clusters-app compiled?

Please always include that sort of information in bug reports.  Having to do a bunch of round-trips to get basic configuration information is a waste of everyone's time...

[2022-06-02 22:39] bzbarsky-apple commented on #19107
https://github.com/project-chip/connectedhomeip/pull/19003 fixes this.

[2022-06-02 22:40] bzbarsky-apple commented on #19114
@yufengwangca Please put in an actual problem description.  This issue is not actionable as it is...

[2022-06-02 22:45] bzbarsky-apple commented on #19134
This is an M1 build, right?  And you are building x86-64 (for Rosetta) but do not have the relevant OpenSSL installed, just the ARM version.

You should either install the x86-64 version of OpenSSL or do a native ARM build...

That said, I'm a little surprised we are not defaulting to a native ARM build to start with.  @mspang @andy31415 any idea why that's happening?

[2022-06-02 23:06] bzbarsky-apple commented on #19135
Here is the relevant part of the log:
[code]

Note that the AddNOC command timed out in 2 seconds, because that's the timeout that #18744 set.  There's no way an m5stack can do an AddNOC in 2 seconds.  I just tried commissioning an m5stack on the changeset right before that PR merged and here's what a successful log looks like:

[code]
which is 2936 ms to get the response.

That said, why did we t

[2022-06-02 23:15] bzbarsky-apple commented on #19135
Ah, this is BLE, so no MRP involved.  So that's why the timeout is a flat 2s.

[2022-06-02 23:49] erjiaqing commented on #19132
The caller can still set the timeout for each command they send.

The 2s timeout should cover 99% cases. Since only cryptographic bits and some async commands are using longer time.

[2022-06-03 00:33] chrisbeach59 opened #19136 "[pre-sve]TC-DM-2.1 Failure - Ameba"
#### Problem
SubscriptionsPerFabric is not returning default of 3 - Step 56 of test case
 * actual behavior
[1654216188.087692][82835:82840] CHIP:TOO:   CapabilityMinima: {
[1654216188.087760][82835:82840] CHIP:TOO:     CaseSessionsPerFabric: 3
[1654216188.087798][82835:82840] CHIP:TOO:     SubscriptionsPerFabric: 65506
[1654216188.087850][82835:82840] CHIP:TOO:    }
 * steps to reproduce
 *  ./ch

[2022-06-03 00:37] bzbarsky-apple commented on #19135
It looks like for TCP we assume 30s for packet retransmits and whatnot, while for BLE we assume 0.

[2022-06-03 02:37] bzbarsky-apple commented on #19135
Fix coming up.

[2022-06-03 05:53] jimlyall-q commented on #19049
[TC_MF_1_10.1654071053.log](https://github.com/project-chip/connectedhomeip/files/8829854/TC_MF_1_10.1654071053.log)
Steps 2 open commissioning window - `chip-tool administratorcommissioning open-basic-commissioning-window 500 1 0 --timedInteractionTimeoutMs 1000`
Step 3 avahi-browse - `avahi-browse -rt _matterc._udp`

[2022-06-03 06:19] bzbarsky-apple opened #19138 "Darwin BLE crash when trying to talk to a device after network join failure"
#### Problem
Steps to reproduce:
1. Compile and run all-clusters-app for m5stack.
2. Compile chip-tool for Darwin.
3. `chip-tool interactive start`
4. `pairing code-wifi 1 abc def MT:-24J042C00KA0648G00` with those exact args (i.e. an invalid network config).
5. When step 4 fails, run `pairing code-wifi 1 abc def MT:-24J042C00KA0648G00` again.

I get a crash like so:
[code]
where frame 1 is:
[code

[2022-06-03 06:20] bzbarsky-apple commented on #15409
Perfect.  This indeed reproduces things for me.

So what happens is that we land in `DeviceCommissioner::EstablishPASEConnection` for the second commissioning attempt.  Our peer address is "BLE", which is basically a singleton as far as I can tell.  We do `FindCommissioneeDevice(peerAddress)` and find a non-null thing, left over from the previous commissioning attempt.  The reason that's still the

[2022-06-03 06:24] Rajashreekalmane opened #19139 "[TC-IDM-3.1]Chip-tool support needed to send a WriteRequest message from TH to DUT to write any attribute on two clusters."
#### Problem
As per Test-Plan, test-step 15 says "DUT sends a WriteRequestMessage to the DUT to both the clusters with the appropriate dataversions(received in the previous step) to modify the value of an attribute ",
Chip-tool support needed to send a  WriteRequestMessage  from DUT  to TH to read any attribute on two clusters.

**PFA log below:-**
![image](https://user-images.githubusercontent.co

[2022-06-03 06:24] pankore opened #19140 "Lighting-app example missing Binding Cluster"
#### Problem
According to spec, Binding Cluster is part of the Base Cluster Requirements and is mandatory for all device types.
Lighting-app example is missing this Binding Cluster

 #### Proposed Solution
Add binding cluster to lighting-app

[2022-06-03 06:37] bzbarsky-apple commented on #15409
https://github.com/project-chip/connectedhomeip/pull/19141 makes the "try again with a different device id" case work, at least.

[2022-06-03 06:46] Morozov-5F commented on #18157
I could not reproduce it with the latest lock-app. Here's my steps:
1. Pair the lock-app with chip-tool
2. Create a user on a lock:
[code]
3. Read the lock user change event and verify there are two events (one for user, one for credential added to user):
[code]
3. Unlock the door:
[code]
4. Read the lock operation event and verify that it is present:
[code]
I ran lock-app both on my laptop and on

[2022-06-03 06:58] bluebin14 commented on #19132
Although the storage fragmentation bug has been fixed, back then only an MRP of 5s+2s on both client and server could make it reliably past commissioning (changing it on one side had no effect). Also, RemoveFabric was just as slow as AddNOC/UpdateNOC because it has to do a lot of cleanup.

[2022-06-03 07:01] bzbarsky-apple commented on #19049
Thank you.

So if the server has extended discovery enabled, after initial commissioning it will advertise itself with CM=0.  You can see this in the log after network enable when we start getting advertisements like:
[code]
The logging here does not show the contents of the TXT record, but I would assume it's got "CM=1" in it.  Note the lack of a "_CM.sub._matterc._udp.local" PTR record, because

[2022-06-03 07:04] bzbarsky-apple commented on #19049
Oh, and in step 4, when we are doing on-network discovery you can see:
[code]
which is the advertising for the new instance name, and shows the _CM PTR record here, as expected.

[2022-06-03 07:05] #19112 closed

[2022-06-03 07:34] bzbarsky-apple opened #19142 "ESP32 boot loop due to locking early during startup"
#### Problem
After #18854 was merged, ESP32 boot-loops with stacks like this:
[code]

 #### Proposed Solution
Not sure yet, apart from reverting #18854.

@hrajendran-samsung

[2022-06-03 07:41] Rajashreekalmane commented on #8043
@bzbarsky-apple @mrjerryjohns In Spec mentioned suppress response is mandatory for invokerequest and write request message
![image](https://user-images.githubusercontent.com/95841834/171809801-42633417-8497-4164-bc10-ccd88805ef16.png)
Could you please let me know how to check whether DUT  suppress its response when TH sends Invoke/write request with suppress response parameter set to bool.

[2022-06-03 07:41] bzbarsky-apple commented on #19010
So what we have is:
[code]

but in this case it sounds like `Resolver::LookupNode` kicks off a resolve, then once enough time passes it starts ignoring results from the relevant resolve call, but never stops the actual resolve.  And there's nothing in the platform impl that obviously times it out that I can see.

@andy31415 @vivien-apple this seems like another impedance mismatch between minmdns (

[2022-06-03 07:43] bzbarsky-apple commented on #19142
I suspect the issue is that #1884 is using System::Mutex without calling Init() on it.  Going to propose reverting until that gets sorted and it's tested properly.

[2022-06-03 07:45] bzbarsky-apple commented on #8043
Does the TH get a response?  If so, the DUT did not suppress it.

[2022-06-03 07:55] yunhanw-google commented on #18440
resolved

[2022-06-03 07:55] #18440 closed

[2022-06-03 08:01] bzbarsky-apple commented on #19136
`InteractionModelEngine::GetMinSubscriptionsPerFabric` is broken.  It basically does:
[code]
`GetReadHandlerPoolCapacity()` is 48 for me.  kReservedPathsForReads is 9*16 = 144, so the subtraction underflows, etc.

But why are we subtracting paths from handlers anyway?  @erjiaqing

[2022-06-03 08:04] bzbarsky-apple commented on #19139
Sounds like this would need multi-path write support in chip-tool...

[2022-06-03 08:08] bzbarsky-apple commented on #19140
Where do you see that @pankore ?

"1.1.7. Base Cluster Requirements for Matter" in the device library says it's required for all device types _that include a client cluster_ and are simple device types.  Lighting app implements the "Dimmable Light" device type, for which the only client cluster is an optional "Occupancy Sensing" client.  And lighting app does not implement that client....

That sa

[2022-06-03 08:09] bzbarsky-apple commented on #19116
If this is done, Binding also needs to be added on the endpoint, since it will then have a client cluster.

[2022-06-03 08:12] pankore commented on #19140
Noted, closing this issue.

[2022-06-03 08:12] #19140 closed

[2022-06-03 08:37] pankore commented on #19039
I have checked the ZAP file, supported-locales and active-locale attributes are enabled.

[2022-06-03 08:43] nykh2010 opened #19145 "The "constexpr CASEAuthTag IsValidCASEAuthTag(CASEAuthTag aCAT)" return type maybe bool"
https://github.com/project-chip/connectedhomeip/blob/8dabae04c14c2b9382a83b60b3dd480de164d050/src/lib/core/CASEAuthTag.h#L97
The return type maybe bool.

[2022-06-03 09:36] jimlyall-q opened #19146 "[pre-sve] [TC-CC-1.1] FeatureMap AttributeList mismatch in lighting-app example"
#### Problem
The feature map for the Color Control cluster in lighting-app is 31 which indicates full features
The attribute list only has 26 entries
 * expected behavior is steps 3 and 4 being consistent with instructions
 * See logs for steps to reproduce
 * tc-cc-1.1
 * x64 CTRL + qpg6105
 * screenshots, images, logs, etc. [TC_CC_1_1.1654192596.log](https://github.com/project-chip/connectedhome

[2022-06-03 09:36] sowmyassp commented on #19096
@bzbarsky-apple I am sorry for that will make sure to provide required information on further issues

[2022-06-03 10:18] jimlyall-q commented on #19146
Causes a lot of tests to be failing e.g. TC-CC-2-1 feature map has XY attribute doesn't

[2022-06-03 10:41] Rajashreekalmane opened #19148 "[TC-MC-6.4]Mediaplayback cluster-Values are mismatching with Expected outcome when TH send command to DUT."
#### Problem
Values are mismatching with Expected outcome when TH send command to DUT. For example TH sends a FastForward command to the DUT, DUT  responds as success after if TH tries to read PlaybackSpeed attribute and CurrentState attribute from the DUT
It should response as
![image](https://user-images.githubusercontent.com/95841834/171834198-633963ed-8971-4315-912c-109ea0e2a524.png)
**But cur

[2022-06-03 10:57] jimlyall-q opened #19149 "[pre-sve] [TC-CC-3.1] move-to-hue doesn't move"
#### Problem
TC-CC-3.1 Steps 1 thru 2b

 * expected behavior - after issuing command and waiting at least TransitionTime seconds value changes from 0 to 1
 * actual behavior - no change
 * steps to reproduce - TC-CC-3.1 Steps 1 thru 2b
 * system configuration - RPi +qpg6105
 * screenshots, images, logs, etc. [TC_CC_3_1.1654237436.log](https://github.com/project-chip/connectedhomeip/files/8831844/T

[2022-06-03 11:08] jimlyall-q commented on #19149
[TC_CC_3_2.1654238195.log](https://github.com/project-chip/connectedhomeip/files/8831847/TC_CC_3_2.1654238195.log)
Could be the same here with move-hue

[2022-06-03 11:09] manjunath-grl opened #19150 "[TC-MC-1.3] AttributeList and AcceptedCommandList value mismatch error"
Summary:
As per Testplan [TC-MC-1.3] and spec
1. "AttributeList" expected value: [0,1,65528, 65529, 65531, 65532, 65533] but got value: [0,65528, 65529, 65531, 65532, 65533]
2. "AcceptedCommandList" expected value: [0, 1, 2] but got value: [0]
when executed
Testplan screenshot:
![image](https://user-images.githubusercontent.com/102359958/171842539-d70645e3-72f3-422e-b14c-23a9e1f065b4.png)
![image]

[2022-06-03 11:19] vivien-apple opened #19151 "Audit examples/darwin-framework-tool/templates/tests/partials/checks/maybeCheckExpectedConstraints.zapt"
Should this have a check for optionality and being missing if optional?  I think it should...

As in, we should not have "is actual value nil" checks scattered about with specific constraints.  For example, for an optional thing a minLength constraint should pass if not present, but the code below will treat the actual length as 0, I think...

I guess this just got moved; can you please file a fol

[2022-06-03 11:20] #18041 closed

[2022-06-03 11:21] vivien-apple commented on #19151
I have also noticed something that looks broken for string handling when I moved the code at examples/darwin-framework-tool/templates/tests/partials/checks/maybeCheckExpectedConstraints.zapt

It is unclear to me what `asTypedLiteral` is here for strings.

[2022-06-03 11:28] manjunath-grl opened #19152 "[TC-MC-1.6] AttributeList and AcceptedCommandList value mismatch error"
Summary:
As per testplan [TC-MC-1.6]
"AttributeList" expected value: [0,1,2,65528, 65529, 65531, 65532, 65533] but got value: [0,65528, 65529, 65531, 65532, 65533]
"AcceptedCommandList" expected value: [0, 2, 3] but got value: [0,2]
when executed
Testplan screenshot:
![image](https://user-images.githubusercontent.com/102359958/171845059-5191384f-f85b-40ed-acb1-a72b7bf77cb6.png)
![image](https://us

[2022-06-03 11:39] manjunath-grl opened #19154 "[TC-MC-1.7] AttributeList value mismatch error"
Summary:
As per Testplan [TC-MC-1.7] and spec "AttributeList" expected value: [0,1,2,3,4,5,665528, 65529, 65531, 65532, 65533] but got value: [0,1,2,4,5,6,65528, 65529, 65531, 65532, 65533] value 3 (SampledPosition attribute) missing.

Testplan screenshot:
![image](https://user-images.githubusercontent.com/102359958/171845888-34704756-0637-4e21-af48-fb055956be1e.png)
Spec screenshot:
![image](http

[2022-06-03 11:47] manjunath-grl commented on #17461
@cjandhyala its related to scripting issues can you please reopon it.

[2022-06-03 11:52] jimlyall-q commented on #19149
The values aren't moving in the updated instructions
https://docs.google.com/spreadsheets/d/1h4d4J90KAxFqUL_cXZHyM3pHjHCEXzFITkQhN2KMqDY/edit#gid=531994392

For TC-CC-5.1
(step 3b)1649665872.712086 - (step 2)1649665828.577879 ~= 44s which is 10% of transitionTime would expect a change in value

[2022-06-03 12:10] doublemis1 opened #19158 "[pre-sve] TC-TSTAT-1.1 Not avaliable mandatory command based of feaureMap value"
#### Problem
all-cluster-app
nrf52840dk
revison: 425f1fb916ca154deeb75cd82cd5196778aba152

DUT has feature map 11 (001011) which means PICS_TSTAT_HEAT, PICS_TSTAT_COOL, PICS_TSTAT_SCH.
Based on that information accepted command list should support commands  0, 1,2,3  while supports only cmmand 0.

[code]
[code]

[2022-06-03 12:20] manjunath-grl opened #19159 "[TC-OO-2.3] showing value mismatch error for some of the steps"
Summary:
As per testplan [TC-OO-2.3] attribute OnOff,OffWaitTime and OnTime fails for some steps showing value mismatch error.
1.Step 11b:  OffWaitTime expected value 300 but got 299
2.Step 18b: 1.OffWaitTime expected value 300 but got 0
                   2.OnOff expected value 1 but got 0
                   3.OnTime expected value 300 but got 0
3.Step 19c: 1.OffWaitTime expected value 300 but go

[2022-06-03 12:32] doublemis1 opened #19160 "[pre-sve] DGSW-2.3 Reset Watermarks failed"
#### Problem
all cluster app
nrf52840
revision: 425f1fb916ca154deeb75cd82cd5196778aba152

Since the device has a feature map set to 1 (means support Watermarks), the device should support current-heap-high-watermark attribute and reset-watermarks command.
The above command on all cluster app fail.

[code]

[2022-06-03 13:01] doublemis1 opened #19162 "[pre-sve] TC-TFL-1.2 DUT support specific command for CALFMT if featureMap set to 0"
#### Problem
all cluster app
nrf52840
revision: https://github.com/project-chip/connectedhomeip/commit/425f1fb916ca154deeb75cd82cd5196778aba152

DUT has set featureMap 0 which means that doesn't support CALFMT feature.
[code]
But avaliable Attributes contain ActiveCalendarType, SupportedCalendarType.
[code]

[2022-06-03 13:01] andy31415 commented on #19010
`NodeLookupHandle` is supposed to represent an active lookup. While it is active, the lookup is expected to processed and once inactive (removed from internal lists) the dnssd lookups are not needed anymore.

We need some form of notification for `done looking up`. Currently I see no `cancel active resolve` in the Resolver interface - I believe the interfaces themselves were not build compatible w

[2022-06-03 13:05] #19142 closed

[2022-06-03 13:36] doublemis1 opened #19163 "[pre-sve] TC-WNCV-2.4 - wrong type attribute based on FeatureMap value"
#### Problem
all cluster app
nrf52840
revision: https://github.com/project-chip/connectedhomeip/commit/425f1fb916ca154deeb75cd82cd5196778aba152

1 |   | WNCV.S.A0000(Type) | TH reads Type attribute from DUT | Value has to be between a valid range* of [min=0, max=9] and If (LF & !TL) value must be between [min=0, max=5] or equals to 9, and If (!LF & TL) value must be only equal to 7, and If (LF & T

[2022-06-03 13:56] #19107 closed

[2022-06-03 14:01] chirag-silabs opened #19166 "[pre-sve] TC-MF-1.9 : DUT getting commissioned after 20 failed attempts"
#### Problem

TC-MF-1.9

* expected behavior
The test case to open a commissioning window using the first raspberry pi via,
./chip-tool pairing open-commissioning-window 1 1 900 1000 3840

And entering the invalid code of the generated by chip-tool on second pi. It should fail with integrity check failed. Trying this 20 times and giving the correct pairing code on 21st attempt the commissioning sh

[2022-06-03 14:09] andy31415 opened #19167 "[spec] OTA provider app cluster definitions not up to spec"
[code]

[2022-06-03 14:09] chirag-silabs opened #19168 "[pre-sve] TC-DGWIFI: DUT returns null value for WiFi related info"
#### Problem

 * expected behavior
 The commands in the test case TC-DGWIFI-2.1 like
 ./chip-tool wifinetworkdiagnostics read bssid 1 0
./chip-tool wifinetworkdiagnostics read security-type 1 0
should give an non-zero attribute value
 * actual behavior
 The commands gives null as the output
 * system configuration
 Silabs DUTs
EFR32 + WF200
EFR32 + RS9116

* logs
[TC-DGWIFI-2.1.txt](https://github

[2022-06-03 14:11] andy31415 opened #19169 "[spec] all clusters app cluster definitions not up to spec"
[code]

and

[code]

[2022-06-03 14:12] andy31415 opened #19170 "[spec] ota requestor app cluster definitions not up to spec"
#### Problem

[code]

[2022-06-03 14:13] andy31415 opened #19171 "[spec] light switch app cluster definitions not up to spec"
#### Problem

[code]

[2022-06-03 14:14] andy31415 opened #19172 "[spec] tv casting app cluster definitions not up to spec"
#### Problem
[code]

[2022-06-03 14:16] andy31415 opened #19173 "[spec] log source app cluster definitions not up to spec"
#### Problem

[code]

[2022-06-03 14:17] andy31415 opened #19174 "[spec] tv app cluster definitions not up to spec"
#### Problem

[code]

[2022-06-03 14:17] andy31415 opened #19175 "[spec] thermostat app cluster definitions not up to spec"
#### Problem

[code]

[2022-06-03 14:18] andy31415 opened #19176 "[spec] window app cluster definitions not up to spec"
#### Problem

[code]

[2022-06-03 14:19] andy31415 opened #19177 "[spec] temperature measurement app cluster definitions not up to spec"
#### Problem

[code]

[2022-06-03 14:20] andy31415 opened #19178 "[spec] pump controller app cluster definitions not up to spec"
#### Problem

[code]

[2022-06-03 14:20] andy31415 opened #19179 "[spec] bridge app cluster definitions not up to spec"
#### Problem

[code]

[2022-06-03 14:21] andy31415 opened #19180 "[spec] lighting app cluster definitions not up to spec"
#### Problem

[code]

[2022-06-03 14:22] andy31415 opened #19181 "[spec] lock app cluster definitions not up to spec"
#### Problem

[code]

[2022-06-03 14:48] doublemis1 opened #19185 "[pre-sve] TC-TSTAT-2.1 DUT does not support all mandatory attribute for COOL HEAT and SCH"
#### Problem
all cluster app
nrf52840
revision: https://github.com/project-chip/connectedhomeip/commit/425f1fb916ca154deeb75cd82cd5196778aba152

DUT's featuremap is set to 11 (001011) which means that shall support COOL, HEAT, SCH feature.
[code]
But following that featuremap, device does not support mandatory attributes:
* UnoccupiedCoolingSetpoint COOL & HEAT
* UnoccupiedHeatingSetpoint COOL & H

[2022-06-03 14:52] doublemis1 opened #19186 "[pre-sve] TC-TSTAT-2.2 Enable to set out of range cooling and heating setpoint value"
#### Problem
all cluster app
nrf52840
revision: https://github.com/project-chip/connectedhomeip/commit/425f1fb916ca154deeb75cd82cd5196778aba152

Test Harness Client then attempts to write OccupiedCoolingSetpoint below the MinCoolSetpointLimit and above the MaxCoolSetpointLimit and confirms that the device does not accept the value. | Write command should return the error CONSTRAINT_ERROR (0x87)
--

[2022-06-03 15:29] mkleszcz-no commented on #18942
I have similar problem, but in my case in step 11b and 12b, expected value of ONOff is false. got true

logs:
[TC_OO_2_3_nRF_DUT.log](https://github.com/project-chip/connectedhomeip/files/8833382/TC_OO_2_3_nRF_DUT.log)
[TC_OO_2_3_nRF.log](https://github.com/project-chip/connectedhomeip/files/8833385/TC_OO_2_3_nRF.log)

[2022-06-03 15:31] andy31415 commented on #19039
They are enabled as callbacks. You need to add support for DeviceInfoProviderImpl.

I believe for ameba, because a separate build script is used, those files could not be included in the app main. Your app main has to call the set provider api. See examples in:

https://github.com/project-chip/connectedhomeip/blob/master/examples/all-clusters-app/nrfconnect/main/AppTask.cpp#L155

or

https://githu

[2022-06-03 15:33] andy31415 commented on #19039
This is platform specific: every platform example should call provides in main. We have implemented some examples (notably linux/mac, nrf and some efr) however we have not updated every example since build systems vary. Ameba build system is the most different one.

[2022-06-03 15:34] #14919 closed

[2022-06-03 15:35] #18794 closed

[2022-06-03 15:35] #19055 closed

[2022-06-03 15:39] bzbarsky-apple commented on #18675
Reopening, since #18854 was reverted.

[2022-06-03 15:45] bzbarsky-apple commented on #19150
The attribute with id 1 is optional.  Why is the test plan requiring it to be present?  @manjunath-grl @cjandhyala

[2022-06-03 15:47] andy31415 commented on #19186
I am not sure if we should support full min/max functionality in an all-clusters example app.
Supporting some of these seems to start amounting to "implement a reasonably working mock device". Individually having checks in each of these is probably possible ... but should we commit to something like this for all possible clusters?

[2022-06-03 15:51] bzbarsky-apple commented on #19149
@jimlyall-q Is the device in the "on" state or the "off" state when these steps are being executed?  The second test setup step in the test plan says to make sure it's in "on" but those test setup steps are not in the spreadsheet you linked.  @cjandhyala

The "log files" linked above seem to be HTML, not log files.

[2022-06-03 15:55] bzbarsky-apple commented on #19146
@jmartinez-silabs can you take a look, please?

[2022-06-03 15:58] bzbarsky-apple commented on #19186
Old revision.  This was fixed in #18816.

[2022-06-03 15:58] #19186 closed

[2022-06-03 15:59] bzbarsky-apple commented on #19185
@doublemis1 Where does that come from?  The spec has "COOL & OCC" and "HEAT & OCC" for those two attributes' conformance, and the cluster does not claim support for OCC.

[2022-06-03 16:03] doublemis1 commented on #19185
Ohh sorry, my mistake. Thanks for check

[2022-06-03 16:03] #19185 closed

[2022-06-03 16:04] bzbarsky-apple commented on #19166
No, it should not.  What should fail is the 21st PBKDFParamRequest message after 20 PASE setup failures.

But if the pairing code is failing integrity checks, there are no PASE attempts at all.

I just looked at the test plan, and it says to use an _incorrect_ setup code, not an _invalid_ one:

[2022-06-03 16:04] #19166 closed

[2022-06-03 16:05] bzbarsky-apple commented on #19163
@jmeg-sfy can you take a look, please?

[2022-06-03 16:06] andy31415 commented on #19154
@manjunath-grl - what is the environment being tested? what app and what platform? https://github.com/project-chip/connectedhomeip/blob/master/docs/BUG_REPORT.md#environment-for-reproduction

[2022-06-03 16:06] bzbarsky-apple commented on #19160
Presumably the platform impl does not support this...

[2022-06-03 16:08] jmartinez-silabs commented on #18764
@dtodor Hi, Can you let me know what commit hash you used for your OTBR.

I tested it on my end with the current master. The SED was able to join the thread network correctly. Chip-tool did fail to discover the device a few times though which I don't usually see with non-SED builds. I was able to get it commissioned and send commands but I had to retry the commissioning twice before it got discove

[2022-06-03 16:12] vringar commented on #19113
The change should have happened with https://github.com/project-chip/connectedhomeip/pull/18733  but somehow didn't

[2022-06-03 16:12] bzbarsky-apple commented on #19159
@manjunath-grl The time starts off as 300, but time has a tendency to pass, so by the time it's read it may be less than 300.  Note that the expectation in the test plan explicitly says "approximately equal".

For step 18, @jmartinez-silabs could you take a look please?

[2022-06-03 16:13] jmartinez-silabs commented on #19159
I closed the same issue yesterday
https://github.com/project-chip/connectedhomeip/issues/18943

I will copy my comment and my result here. But this is strictly not respecting the instructions or timings

[2022-06-03 16:17] jmartinez-silabs commented on #19180
Switch should probably not be enabled at all for the lighting-app and definitely not on EP0

[2022-06-03 16:21] dtodor commented on #18764
This is the OTBR commit we are currently using: 1a424f3445ea2a7cf37ef8add3886cdfdd607472

[2022-06-03 16:23] dtodor commented on #18764
I was also able to have the SED join the Thread network, but the CASE establishment never completed successfully.

[2022-06-03 16:42] jmartinez-silabs commented on #19146
I am not sure to understand the issue with the attribute list or your mention of

How many attributes is the test expecting?

Here is the attribute list. Note I added the hex value next to them
[code]
Which one is missing?

https://github.com/CHIP-Specifications/chip-test-plans/blob/master/src/cluster/colorcontrol.adoc#test-procedure
Step 4

https://github.com/CHIP-Specifications/connectedhomeip-s

[2022-06-03 16:43] bzbarsky-apple commented on #19159
@manjunath-grl @cjandhyala Can we get whatever is going on here with the test script that causes it to be confused fixed, please?

[2022-06-03 16:45] bzbarsky-apple commented on #19145
Nice catch, thank you!

[2022-06-03 16:46] jmeg-sfy commented on #19163
@bzbarsky-apple ok thanks

[2022-06-03 16:51] emargolis commented on #19145
Indeed! Thanks!

[2022-06-03 17:09] chrisdecenzo commented on #19154
hi @manjunath-grl  What version of the example/tv-app were you using? Eg. was this latest TOT or TE9 or something else? When I run with TOT, I see all the attributes for these two clusters so trying to figure out what might be different in your environment

[2022-06-03 17:10] chrisdecenzo commented on #19152
hi @manjunath-grl  What version of the example/tv-app were you using? Eg. was this latest TOT or TE9 or something else? When I run with TOT, I see all the attributes for these two clusters so trying to figure out what might be different in your environment

[2022-06-03 17:14] woody-apple commented on #19163
Cert Blocker Review: Marking cert blocker, based on reference platforms.

[2022-06-03 17:19] woody-apple commented on #19162
Cert Blocker Review: Removing cert blocker, given that this behavior is spec compliant presently.

[2022-06-03 17:26] woody-apple commented on #19159
Cert Blocker Review: Marking cert blocker, assigning to @franck-apple to follow up about updating the test plan/yaml.

[2022-06-03 17:27] woody-apple commented on #19158
Cert Blocker Review: Marking cert blocker, given this is a failure in the all cluster app re: thermostat cluster.

[2022-06-03 17:28] woody-apple commented on #19150
Cert Blocker Review: Assigning to @franck-apple to follow up to see if we can update the test plans here.

[2022-06-03 17:28] chrisbeach59 commented on #19160
This problem also exists on the Ameba platform.

[2022-06-03 17:31] woody-apple commented on #19139
Cert Blocker Review: Marking cert blocker, assigning to @vivien-apple.

[2022-06-03 17:32] woody-apple commented on #19135
Cert Blocker Review: Marking cert blocker.

[2022-06-03 17:33] woody-apple commented on #19098
Cert Blocker Review: Marking cert blocker, assigning to @krypton36

[2022-06-03 17:33] woody-apple commented on #19095
Cert Blocker Review: Assigning to @franck-apple to follow up here. This needs more information.

[2022-06-03 17:35] woody-apple commented on #19091
Cert Blocker Review: Assigning to myself to break this up into tasks.

[2022-06-03 17:37] #19026 closed

[2022-06-03 17:37] woody-apple commented on #19007
Cert Blocker Review: Marking cert blocker, given this will fail testing. Need to follow up to confirm we have a test for this as well (or make one).

Tagging in @franck-apple as well to follow up on the test plan side of things.

[2022-06-03 17:39] woody-apple commented on #18986
Cert Blocker Review: Given this has been in review for > 2 days, closing this. Please re-open if this an issue after running the test plan.

[2022-06-03 17:39] #18986 closed

[2022-06-03 18:23] #19158 closed

[2022-06-03 18:23] #16402 closed

[2022-06-03 18:50] #11632 closed

[2022-06-03 18:50] andy31415 commented on #11632
We removed the cache.

[2022-06-03 18:51] #15777 closed

[2022-06-03 19:35] phonnakasturi-apple opened #19191 "Cannot pair M5 board (all cluster app) via scanning QR code"
With SHA 891afbfc0c09445be77eb310a0955bca47f9af02

Cannot pair M5 board (all cluster app) via scanning QR code.

**Steps to reproduce:**

1. cd ~/connectedhomeip
2. git reset --hard 891afbfc0c09445be77eb310a0955bca47f9af02
3. git clean -Xdf
4. git submodule update --init
5. export PKG_CONFIG_PATH="/opt/homebrew/opt/openssl@3/lib/pkgconfig"
6. source scripts/bootstrap.sh
7. source scripts/activate.

[2022-06-03 19:57] andy31415 commented on #19160
Reproduction script example:

[code]

[2022-06-03 20:03] #19145 closed

[2022-06-03 20:06] selissia opened #19192 "[pre-sve] NotifyUpdateApplied fails if triggered before the node joins the fabric"
#### Problem
When a node reboots after a successful OTA update the sending NotifyUpdateApplied might get triggered before the Node re-joins the fabric. In this case the command fails to be transmitted. This fails the TC-SU-2.6 test case

For example, in case of Thread transport re-joining the Thread network takes some time, see attached log snippet.

 #### Proposed Solution
OTARequestor class shou

[2022-06-03 20:08] selissia commented on #19192
[
[tc-su-26-dut-log.txt](https://github.com/project-chip/connectedhomeip/files/8835432/tc-su-26-dut-log.txt)
](url)

[2022-06-03 20:22] kpark-apple opened #19194 "Darwin DNS-SD implementation stops browsing services upon finding a wrong service."
#### Problem
Darwin chip::Dnssd::Browse() stops browsing when OnBrowse() was called without kDNSServiceFlagsMoreComing flag.
Per https://developer.apple.com/documentation/dnssd/1823436-anonymous/kdnsserviceflagsmorecoming?language=objc, the flag only means that there are no more "queued" results.
The issue with it is that if the desired service is discovered later than an undesirable service (serv

[2022-06-03 20:46] andy31415 commented on #19160
NOTE: For the above reproduction: to commission nrf all clusters, one needs to press button4

[2022-06-03 21:00] jmartinez-silabs commented on #18848
Spec and Test plan are correct. I tested manually following the test-plan instructions and the implementation matches the expected results of the test plan.

Here are all the logs of test case 9.1 I ran.
[TC-CC-9-1.txt](https://github.com/project-chip/connectedhomeip/files/8835662/TC-CC-9-1.txt)

ColorLoopStoredEnhancedHue gets updated to the EnhancedHue Value before a loop.

I suspect the issue y

[2022-06-03 21:29] phonnakasturi-apple commented on #19134
@bzbarsky-apple Yes.. This is on M1 Mac
What is the version that we need to use?
I currently export ;
/opt/homebrew/opt/openssl@3/lib/pkgconfig

[2022-06-03 22:25] cjandhyala commented on #19094
covered by [19091](https://github.com/project-chip/connectedhomeip/issues/19091)

[2022-06-03 22:26] nivi-apple opened #19199 "Move the qr code generated from the sdk at https://dhrishi.github.io/connectedhomeip/ to a more formal location :)"
#### Problem
The current qr code url points to  https://dhrishi.github.io. I had a discussion a while back with Woody to request this change. :)
It would be good to move it to a more formal (for lack of a better term) location

 #### Proposed Solution
<suggested fix, suggested enhancement>

[2022-06-03 22:49] ukatira opened #19203 "Multiple event subscription using chip-tool is not working"
#### Problem
Trying to run TC-SU-2.7 Step 5
Commit : 131b13c8b5ccb49585069c743b530310301deddd

OTA-R and OTA-P Linux App commissioned to same fabric.
Further chip-tool interactions:
chip-tool interactive start
otasoftwareupdaterequestor subscribe-event download-error 30 60 2 0
otasoftwareupdaterequestor subscribe-event state-transition 30 60 2 0
Trigger OTA query using
otasoftwareupdaterequestor a

[2022-06-03 23:03] cjandhyala commented on #19098
@krypton36 is going to give instruction to @sumaky on how to run these tests using all-cluster-app. @sumaky to verify and get back

[2022-06-03 23:12] cjandhyala commented on #19146
@jimlyall-q , What is the app you are using to test this, on raspi all-cluster-app we get 56 entries. I believe this needs to be looked from the app that is run on your platform.

[2022-06-03 23:50] #19135 closed

[2022-06-03 23:58] franck-apple commented on #19150
after discussion with @cjandhyala , assigning to @manjunath-grl for more information.

[2022-06-04 00:11] franck-apple commented on #19007
@cjandhyala confirmed there's a test case for it. That test case triggered issue #18801.
@jmartinez-silabs, @yufengwangca can these 2 issues be treated simultaneously?

[2022-06-04 00:31] franck-apple commented on #19159
Per discussion with @cjandhyala , assigning to @manjunath-grl to see how QA is passing this test

[2022-06-04 01:03] jmartinez-silabs commented on #19007
I think so yes. I can sync with yufeng on monday

[2022-06-04 02:11] bzbarsky-apple commented on #19194
There is no timeout on browse right now, fwiw...

I guess since we switched to browsing for the _CM subtype there's a problem if multiple commissionable things are all advertising because the discriminator filter is applied too late?  Is that why this is being a problem?  How often does this behavior manifest as an issue?

The proposed solution on its own is not enough.  The caller of Browse can o

[2022-06-04 02:19] kpark-apple commented on #19194
Yes, that is the problem and it happened very frequently with test team. It may be unique in test setups where they might have some other commissionable node running. However, personally I would think it could happen frequently in real world, too, if the commissioning window is as long as a minute or so.

[2022-06-04 02:30] bzbarsky-apple commented on #19134
@phonnakasturi-apple The point is you need to install the x86-64 version of openssl, not the ARM version.

I do not have an M1, so have no idea how to do this, unfortunately.  The internet suggests that
[code]
might work...

But again, it's not clear why you are ending up building the x86-64 version of Matter to start with.

[2022-06-04 02:46] bzbarsky-apple commented on #19191
@phonnakasturi-apple Is this different from https://github.com/project-chip/connectedhomeip/issues/19135 ?  It looks like the same exact issue to me.  There's no log from the controller side, but the device log shows:
[code]
which is longer than 2s to process the command and hence would result in the controller timing out.

This should have been fixed by https://github.com/project-chip/connectedho

[2022-06-04 03:02] bzbarsky-apple commented on #19203
By default, establishing a subscription from node A to node B tears down existing such subscriptions.  So that second subscribe-event is killing the first subscription.

You can pass `--keepSubscriptions true` in chip-tool when doing a subscribe to override that behavior.

For this specific case, I believe you can also do
[code]
to create a single subscription to both events.

[2022-06-04 03:02] #19203 closed

[2022-06-04 03:22] carol-apple commented on #19192
I think it'd be tricky to figure out how long to delay. There are no timestamps in your log snippet. How long between the first failed `Advertise operational node 2BF32B802FF0AE27-0000000000000002` vs the second one which was successful?

[2022-06-04 07:37] bzbarsky-apple commented on #19096
That's nrfconnect, I assume?

`examples/all-clusters-app/nrfconnect/main/AppTask.cpp` prints the onboarding code for the actual application configuration, which does not use custom flow commissioning and hence does not use a long manual code.  Why was there an expectation for a long manual code to be printed?

(`examples/platform/linux/AppMain.cpp` does print both codes, but it's not really clear

[2022-06-04 08:04] bzbarsky-apple opened #19207 "SoftwareFault event does not match spec."
#### Problem
Per spec, this event should have three fields.

In our implementation, it has one field, which is a struct with three fields.  And even those fields do not match the spec event definition (e.g. they're all required, while some of the spec fields are optional).

 #### Proposed Solution
Fix to follow the spec.

@yufengwangca

[2022-06-04 08:30] bzbarsky-apple commented on #17461
@manjunath-grl I am happy to reopen if there is an updated description of the state of things on ToT right now and what's not working right.  Can you provide that please?  This issue is not actionable in the form it's in right now.

[2022-06-04 11:33] selissia commented on #19192
Several seconds, I don't have a more specific info than that. But this will vary between devices and network conditions anyway.
I meant "delay" in a more general sense, as in "don't attempt NotifyUpdateApplied until the device has joined the fabric" -- how exactly to accomplish that I'm not yet sure.

[2022-06-05 01:35] jonsmirl opened #19209 "Test case for devices with multiple instances of the same device type"
Is there a test case for something like a single light device with four independently controllable bulbs? Each bulb would be on its own end_point but the all EPs have the same device type. This is needed to ensure that controllers don't make an assumption of only one copy of a device type per device when it is legal to have many.  A parallel case would be a single device implementing multiple ligh

[2022-06-05 02:44] dhrishi commented on #19199
#3266

[2022-06-06 01:01] #14558 closed

[2022-06-06 02:05] chrisbeach59 opened #19213 "[pre-sve] Spec Limits are no longer being enforced"
#### Problem
Step 2b of TSTST-2.2 is failing
 * expected behavior
 * Setting a attribute outside of limits should fail
 * actual behavior
 No limits are enforced
 * steps to reproduce
 * system configuration
 * screenshots, images, logs, etc.

 #### Proposed Solution
This used to work.   It used the global pre-attribute-change call back and looked for the thermostat cluster.  There was a PR that w

[2022-06-06 02:06] pankore commented on #19039
Hi @andy31415, apologies I did not explain it clearly. In my local branch, I have included the `DeviceInfoProviderImpl` in Ameba's build and have called `SetDeviceInfoProvider` in main. I have not PR-ed this change.
In fact, reading supported calendar types is successful, which proves that the `DeviceInfoProviderImpl` is set. I am not sure why reading/writing locales fails.

[2022-06-06 04:26] pankore opened #19214 "[pre-sve] TC-SU-2.3 fail to start new CASE session with ota-provider"
#### Problem
Test case ID: TC-SU-2.3
SHA: https://github.com/project-chip/connectedhomeip/commit/425f1fb916ca154deeb75cd82cd5196778aba152
Platform: Ameba all-clusters-app
Chip-tool platform: Raspberry Pi
OTA provider platform: Linux ota-provider on rpi4

- After killing the ota-provider and waiting for the update state to become idle, DUT (ota-requestor) is unable to start CASE session with OTA-pr

[2022-06-06 05:21] raman325 opened #19215 "M1 Mac Build issue"
#### Problem

Follow the wiki here: https://github.com/project-chip/connectedhomeip/blob/master/docs/guides/BUILDING.md

at `ninja -C out/host` see the following: https://rentry.co/b5nu4

It appears my laptop wants to target the x86_64 architecture even though I am running an arm64 architecture. I tried setting the `target_cpu` option to no avail. Any suggestions on how to resolve?

[2022-06-06 05:23] manjunath-grl commented on #19154
@chrisdecenzo i tested it in latest TOT against Tv-app in Linux system

[2022-06-06 05:24] manjunath-grl commented on #19152
@chrisdecenzo i tested it in latest TOT against Tv-app in Linux system

[2022-06-06 07:31] AlvinHsiao opened #19218 "[pre-sve] [TC-GC-1.1]General commissioning cluster---Value mismatch for FeatureMap attribute"
Problem

As per test plan [TC-GC-1.1] FeatureMap attribute showing value mismatch error when executed, DUT should
responds with feature map value 0 but currently DUT responding feature map value has 6.

expected behavior:-FeatureMap attribute value should be bit 0.
actual behavior:- DUT responds has bit 6
steps to reproduce:-./chip-tool generalcommissioning read feature-map 2 0

system configurati

[2022-06-06 07:52] jnsgsr commented on #18800
This is impediment for us to get results from preSVE testing in timely matter. Blocks automation of significant amount of test cases. Please increase the priority for a resolution of this.

[2022-06-06 08:17] Damian-Nordic commented on #18507
@aajain-com The issue with sending PTR records with TTL=0 must be sent in OpenThread before we can integrate it into the Nordic's SDK. Abtin commented in https://github.com/openthread/openthread/issues/7742 that he would plan to take a look at that. Is there a confirmation from Apple Border Router developers that the records are the reason why the SRP update is rejected?

[2022-06-06 10:19] XuXiangJun commented on #19113
I have the same problem, is there any temporary solution?

[2022-06-06 13:53] HubertHugo opened #19228 "[Pre-SVE] TC-SWTCH-1.1 DUT has neither LS nor MS feature according to feature map"
all cluster app
nRF52840
revision: 425f1fb916ca154deeb75cd82cd5196778aba152

DUT has set featureMap 0 which means that it doesn't support neither LS nor MS feature:

[code]

Yet attribute list suggests that it supports MSM:

[code]

[2022-06-06 14:40] agners opened #19234 "ESP32-C3 initial communication issue"
#### Problem
Using the CHIP Python library trying to communicate to a ESP32-C3 running the lightning example right after commissioning seems to consistently fail with:

[code]

Trying to reproduce using `chip-tool` I get the same error, although from a slightly different location. I think the reason for the difference is because I run a new `chip-tool` instance to execute the command. The underlyi

[2022-06-06 15:12] agners commented on #19234
Using the interactive mode I am able to reproduce the issue with the same error location as in our Python based implementation.

[esp32-c3-second.log](https://github.com/project-chip/connectedhomeip/files/8845407/esp32-c3-second.log)
[chip-tool-second.log](https://github.com/project-chip/connectedhomeip/files/8845408/chip-tool-second.log)

From what I can tell, the initial operational node discove

[2022-06-06 15:19] #19199 closed

[2022-06-06 16:18] vringar commented on #19113
You need to change the `.gitmodules` file.
I have the fix local rn.
I'll create a PR in a bit

[2022-06-06 16:24] vringar commented on #19113
https://github.com/project-chip/connectedhomeip/pull/19240

[2022-06-06 16:28] bzbarsky-apple commented on #18800
@jnsgsr Can you please describe how you would automate your test cases if `subscribe` did not quit immediately?

And can you not achieve the same effect by writing data to the stdin of `chip-tool interactive start` from your automation?

The reason this functionality was removed is that it was fundamentally pretty broken.  If we're going to try to restore it, we need to understand how it would get

[2022-06-06 16:31] vringar commented on #19113
Apparently the two repo links have been fixed, as I don't see them in the diff. However the matter authors have also used tags in the `branches` field, which didn't work for me, so I changes those to proper branches instead.

[2022-06-06 16:41] yunhanw-google commented on #18686
Plan to have Java class ReadPrepareParams

[2022-06-06 17:13] yufengwangca opened #19242 "Refactor new diagnostic APIs from Server into cluster server"
#### Problem
 We need to remove new diagnostic APIs(general, software) from Server, this is not where they belong, they belong in the cluster server

 #### Proposed Solution
<suggested fix, suggested enhancement>

[2022-06-06 18:44] #19160 closed

[2022-06-06 18:55] #19110 closed

[2022-06-06 19:00] krypton36 commented on #19095
This is already logged in the app logs. See Examples Below:
Interactive Commands to :
`./out/host/chip-tool interactive start `
`pairing code-paseonly 1234 MT:-24J0YXE00KA0648G00`
`generalcommissioning arm-fail-safe  500 137438953472 1234 0`
`generalcommissioning set-regulatory-config 0 'us' 137438953472 1234 0`
`operationalcredentials certificate-chain-request 1 1234 0`

## Cmd + Accessory Log:
[

[2022-06-06 19:41] krypton36 commented on #19098
## Validate Cert Decleration:
### Build Cert Tool
1. `gn gen --check out/host`

2. `ninja -v -C out/host chip-cert `
### Generate Cert Declaration
1. ```./out/host/chip-cert gen-cd -C ./credentials/development/paa-root-certs/Chip-Test-PAA-FFF1-Cert.pem -K credentials/development/attestation/Chip-Development-PAA-Key.pem -O Dec_Message.txt -f 1 -V FFF1 -p 8000 -p 8001 -p 8002 -p 8003 -p 8004 -p 8005

[2022-06-06 21:39] presto8 commented on #16664
Tested @jonsmirl's solution on Ubuntu 22.04 (Raspberry Pi) and it works well. Without installing python3.9 and editing install.py, active.sh still fails with the python3.10 message.

[2022-06-06 22:21] isiu-apple commented on #19214
In `TC-SU-2.3-DUT.txt`, I do see: `chip[SWU] CASE session may be invalid, tear down session`.  I also see: `chip[SWU] Query already in progress`.

Are you testing with this change also?  https://github.com/project-chip/connectedhomeip/pull/18765

[2022-06-06 23:55] cwangAmazon opened #19253 "Failed certificate chain validation for Node cert"
#### Problem
AWS PCAS team is working with us to support CA signing certificates for chip project. We have signed Root cert, ICA cert and Node cert, we can verify they are valid by using Openssl command. However, if we use chip cert tool to do validation, it error out.

Below command/result that we run locally to validate certs are valid by openssl
$ openssl verify -verbose -CAfile <(cat root_ca_c

[2022-06-07 00:00] agners commented on #19234
This actually looks an awful lot like #19135. I'll retest tomorrow with the latest version.

[2022-06-07 00:19] chrisdecenzo commented on #19152
hi @manjunath-grl I see the top line in the txt files is:

~/CHIP/APR13/connectedhomeip

Can you please double check that you have mainline synced to TOT because these missing commands/attributes were fixed in a PR from May timeframe

[2022-06-07 00:22] chrisdecenzo commented on #19154
Specifically, this is fixed by https://github.com/project-chip/connectedhomeip/pull/18762

[2022-06-07 00:23] chrisdecenzo commented on #19154
Specifically, this is fixed by https://github.com/project-chip/connectedhomeip/pull/18762

[2022-06-07 00:23] chrisdecenzo commented on #19152
Specifically, this is fixed by https://github.com/project-chip/connectedhomeip/pull/18762

[2022-06-07 00:23] #19154 closed

[2022-06-07 00:23] #19152 closed

[2022-06-07 01:20] bzbarsky-apple commented on #19213
@chrisbeach59 We have CI verifying that the limits are enforced...  Which exact SHA are you using, which client, which server app?

[2022-06-07 01:48] pankore commented on #19214
@isiu-apple yes I am testing with that change. The `chip[SWU] CASE session may be invalid, tear down session` is not printed out when the initial OTA transfer timeout, but it is printed when it is trying to establish a new session with the new OTA provider. Is this an expected behaviour?

[2022-06-07 01:55] pankore commented on #19214
@isiu-apple no, #18765 was not included. `chip[SWU] CASE session may be invalid, tear down session. I also see: chip[SWU] Query already in progress` is not printed when the initial OTA transfer time out, but is printed when it is querying the new OTA provider.

[2022-06-07 02:18] phonnakasturi-apple commented on #19134
@bzbarsky-apple  I tried with arch -x86_64 brew install openssl

and it says;
arch -x86_64 brew install openssl
[code]

And throws the same error when I try to compile it

[2022-06-07 02:29] pankore commented on #19214
Closing this issue as #18765 was not merged at the time of testing. Will test again with SHA that includes the fix and reopen if issue persists. Thanks.

[2022-06-07 02:29] #19214 closed

[2022-06-07 03:21] bzbarsky-apple commented on #19215
Duplicate of #19134

[2022-06-07 03:22] bzbarsky-apple commented on #19134
That does not sound like it installed the x64-64 version, then....

[2022-06-07 04:03] bzbarsky-apple commented on #19218
Looks similar to https://github.com/project-chip/connectedhomeip/issues/18028 but for lighting-app.

[2022-06-07 04:10] bzbarsky-apple commented on #19253
Comparing the command above:
[code]

to the command from the chip-cert README:
[code]
it looks like the node cert is being provided in the wrong format: it's expected to be base64-encoded Matter TLV format, not PEM...

[2022-06-07 04:33] #19091 closed

[2022-06-07 04:33] woody-apple commented on #19091
Thanks!

[2022-06-07 05:21] kghost opened #19259 "Make `OperationalDeviceProxy` shareable by multiple applications, and delivers its callbacks to multiple applications"
#### Problem
* 1: ~~If an application context is released before the pairing completes, will render the pointer passed into `OnDeviceConnected` dangling~~
* 2: in `OperationalDeviceProxy::DequeueConnectionCallbacks` we may use member fields which is already destructed
  * `cb->mCall(cb->mContext, mPeerId, error)`
    * We are loop for all callbacks here, but `this` object may already destructed by

[2022-06-07 05:34] #19215 closed

[2022-06-07 05:35] raman325 commented on #19215
thanks for the heads up, I will track this in the other issue

[2022-06-07 06:41] ReneJosefsen commented on #19134
What happens if you add 'current_cpu="arm64"' as a build parameter?

Not sure if it is related, but it sounds a bit like the problem discussed in this issue: https://github.com/project-chip/connectedhomeip/issues/16759

[2022-06-07 07:15] jnsgsr commented on #18800
@bzbarsky-apple We have several tests automated that are currently disabled because of this issue (some with high criticality) and it is blocking automation for many test cases where we have to test if an accessory sends events.
We were using it as intended, spawning a chip-tool process with subscribe or subscribe-event commands to work in the background and gather events, and we parse chip-tool o

[2022-06-07 07:33] bluebin14 commented on #18800
stdin input handling could indeed use some tweaks, commands randomly either do not show up (all of them should be clearly echoed) or show up on every line even though issued exactly once.

[code]

[2022-06-07 08:24] somu1710 opened #19263 "TC-SWTCH-1.1 - Feature map should support either LS or MS flag as per spec."
**Problem:**
As per spec the implementation of the feature is mandatory for LS or MS . But feature map value shows as "0" while executing.

**Actual outcome:**
./chip-tool switch read feature-map 1 1
[1646208136.242043][2390:2395] CHIP:TOO:   FeatureMap: 0

**App used** - all clusters app
**platform** - Raspi
spec screenshot for ref:
![TC-SWTCH-1 1](https://user-images.githubusercontent.com/938105

[2022-06-07 08:37] lazarkov commented on #19174
@andy31415 FYI running python from matter environment worked out of the box:`.environment/pigweed-venv/bin/python3 scripts/idl_lint.py --log-level warn ./examples/tv-app/tv-common/tv-app.matter`

[2022-06-07 09:28] jimlyall-q commented on #19049
Thanks for spec help

[2022-06-07 09:28] #19049 closed

[2022-06-07 09:54] pankore opened #19265 "[pre-sve] TC-LVL-4.1 CurrentLevel does not reach MinLevel"
#### Problem
TC-LVL-4.1
Platform: Ameba all-clusters-app

- According to specs, the CurrentLevel ranges from MinLevel to MaxLevel.
- DUT reads MinLevel = 0, MaxLevel = 254.
- When TH sends move downwards command, CurrentLevel stops at 1 instead of 0

[TC-LVL-4.1.txt](https://github.com/project-chip/connectedhomeip/files/8852151/TC-LVL-4.1.txt)

[2022-06-07 10:24] agners opened #19266 "open-commissioning-window commands in test scripts not spec compliant"
#### Problem
Several instructions in test YAML files suggest a `chip-tool pairing open-commissioning-window` command with not spec compliant timeout of 100s (instead of 180s).

[code]

 #### Proposed Solution
Increase the value to 180s (unless the test case is about validating for failure).

[2022-06-07 12:45] agners commented on #19234
I just tested master branch of Matter, but the problem still persists, so it seems #19135 is not solving it.

@dhrishi thanks for confirming! I'll try with that option next.

[2022-06-07 12:46] bzbarsky-apple commented on #19213
I just tried current tip (55ab764beabaed8675bd60e6d18e84d545a733e0), "linux" all-clusters-app commissioned as node id 17, running the following chip-tool commands:

1. Read the limits
[code]
   I get 1600 and 3200 respectively.
2. Try to set the setpoint:
[code]
     and both get CONSTRAINT_ERROR.

I also tried the same thing with the "linux" thermostat app, and I get the same results.

[2022-06-07 12:47] bzbarsky-apple commented on #19263
Duplicate of #19228

[2022-06-07 12:47] #19263 closed

[2022-06-07 12:51] bzbarsky-apple commented on #19265
@pankore Does the app claim the LT feature is supported or not?

If LT is supported, MinLevel 0 is not valid; it's defined to be "1 to MaxLevel" if LT is supported.

@jmartinez-silabs

[2022-06-07 12:52] bzbarsky-apple commented on #19266
Please file an issue in https://github.com/CHIP-Specifications/chip-test-plans/ ...

@cjandhyala @manjunath-grl can we get these test scripts fixed, please?

[2022-06-07 12:54] bzbarsky-apple commented on #19259
The plan is to stop passing `this` to the callbacks altogether and just pass the session handle, right?  So problem 1 is not worth worrying about, I suspect.

The use of `mPeerId` is a problem; very good catch there.  Factoring out the callback-calling into a static function to avoid those problems seems good.

[2022-06-07 13:05] jmartinez-silabs commented on #19265
Level control featuremap in all-app cluster is set to the value 3

[code]
![image](https://user-images.githubusercontent.com/67972863/172386559-0f820d89-0c74-41bf-86c3-0ff5979d611f.png)

So OnOff and Lighting features. So if current level stops at 1 then this is the expected behaviour

[2022-06-07 13:08] tcarmelveilleux commented on #19253
The chip tooling in SDK all uses the same code.

Regarding the failure, I think the tool is improperly documented for the purpose you are attempting to use it for. Let us look for what's wrong.

Attached are the PEMs as a ZIP to help others: [cert_candidates.zip](https://github.com/project-chip/connectedhomeip/files/8853422/cert_candidates.zip)

[2022-06-07 13:11] tcarmelveilleux commented on #19253
Overall, the tool does the following on Validate Cert:

- Load the cert, auto detecting format. and always going via X.509 format
  - DER and PEM are loaded, then internally converted to CHIP certificate TLV format
  - base64 and TLV cert are converted to X.509, then to chip certs
- Run validation

The certificates here are failing signature verification:
[code]

Since they passed the Convert step

[2022-06-07 13:11] #18274 closed

[2022-06-07 13:17] bzbarsky-apple commented on #19134
@keir

[2022-06-07 14:12] agners commented on #19266
Created a spec issue https://github.com/CHIP-Specifications/chip-test-plans/issues/1432

[2022-06-07 14:12] #19174 closed

[2022-06-07 14:41] agners commented on #19234
@dhrishi just tried firmware with disabled `CONFIG_DEINIT_BLE_ON_COMMISSIONING_COMPLETE`, and it doesn't show the network drop anymore. Reading attributes right after onboarding works fine now. I'll keep this work around in place for now until the upgrade to v4.4.2 comes in. Thanks for your help.

[2022-06-07 14:46] raman325 commented on #19134
adding the build parameter allowed me to build Matter. I tried also building the python CHIP controller by adding the same parameter to the build script here: https://github.com/project-chip/connectedhomeip/blob/master/scripts/build_python.sh#L116

But I get `ERROR: chip-0.0-cp37-abi3-macosx_11_0_arm64.whl is not a supported wheel on this platform.` Note that I tried to change the target OS versio

[2022-06-07 14:49] kghost commented on #18327
I doubt this problem is caused by multi-thread racing, here a found piece of logs in the device log:

[code]

In line with timestamp 111092, the exchange manager is staring process a received packet before last send is finished, the last send is still processing its retrans timer until 111120

[2022-06-07 14:55] #19060 closed

[2022-06-07 15:02] doublemis1 opened #19272 "[pre-sve] TC-MOD-3.3 The mode backs to the start-up-mode value after matter ota."
#### Problem
all cluster app
nrf52840
revision: https://github.com/project-chip/connectedhomeip/commit/425f1fb916ca154deeb75cd82cd5196778aba152

1 | 1.8.5 | MOD.S.A0004 | TH reads the StartUpMode attribute from the DUT | Verify that the DUT response is an integer. Record this value for usage in step 2.
-- | -- | -- | -- | --
2a | 1.8.5 | MOD.S.A0004 | TH reads the CurrentMode attribute from the DU

[2022-06-07 15:02] #14202 closed

[2022-06-07 15:06] msandstedt commented on #15584
Fixed with  #19119

[2022-06-07 15:06] #15584 closed

[2022-06-07 15:22] msandstedt commented on #15584
@Damian-Nordic ,

No, it doesn't.  See #19119.  Last known good time is required to be updated with 1) firmware build time and thereafter 2) NotBerfore times from incoming certificates installed at commissioning time.

Additionally, the spec encourages that nodes update Last Known Good Time with other / better time sources if these are available.  However, with time sync mostly de-scoped from 1.0,

[2022-06-07 15:24] caipiblack commented on #12987
On TE9 the problem seems to be the same as before with some changes.

On the initial commit where I made this issue, I was able to bypass the problem by calling `CurrentCommissioner().ReleaseOperationalDevice(this->mNodeId);` from my code in case of request failure with a device.

Like that, on the next request the stack was re-opening the session with the device and voila.

But now, on TE9 commit

[2022-06-07 15:25] woody-apple commented on #3178
Maybe resolved?

[2022-06-07 15:25] #3178 closed

[2022-06-07 15:33] woody-apple commented on #7695
@tcarmelveilleux is this now complete? What remains here?

[2022-06-07 15:35] #7859 closed

[2022-06-07 15:36] woody-apple commented on #8741
@mspang what work remains here?

[2022-06-07 15:38] woody-apple commented on #8905
@tcarmelveilleux Is this still relevant?

[2022-06-07 16:24] #11827 closed

[2022-06-07 16:30] dhrishi commented on #19234
@agners Great! Glad to know it works fine. I will close this issue now.

[2022-06-07 16:30] #19234 closed

[2022-06-07 16:33] manjunath-grl opened #19276 "MF-10 and MF-1.9 tests failes for Darwin(no-ble-asan) showing Invalid PASE parameter"
Summary:
As per testplan TC-MF-1.10 TH start attempting to do PASE to DUT_CE and failing 20 times for Invalid payload value but  Test Suites - Darwin (no-ble-asan) seems to be failing showing that Invalid PASE Parameter for PR https://github.com/project-chip/connectedhomeip/pull/18521

Execution logs:
![image](https://user-images.githubusercontent.com/102359958/172434881-4b278058-ade0-4441-893d-63

[2022-06-07 16:48] sankarselvam commented on #8043
@bzbarsky-apple From my observation, DUT is not suppressing the response.
@Rajashreekalmane , Can you please attach the logs?

[2022-06-07 16:53] kghost commented on #19259
In `DeviceCommissioner::OnDeviceConnectedFn`, `this` (an `OperationalDeviceProxy`) is being used. So, problem 1 still need some attention.

[2022-06-07 17:08] woody-apple commented on #19007
Cert Blocker Review: Removing request cert blocker, as this is covered in the linked issue.

[2022-06-07 17:18] manjunath-grl commented on #19276
@bzbarsky-apple yes

[2022-06-07 17:24] woody-apple commented on #19228
Cert Blocker Review: Assigning to @bzbarsky-apple to put up simple examples here

[2022-06-07 17:27] woody-apple commented on #19228
Cert Blocker Review: We don't believe this is a cert blocker, given the is implementable and testable given the current SDK. That said, some examples could be helpful here.

[2022-06-07 17:36] manjunath-grl commented on #19276
I disabled the tests MF-1.10 and MF-1.9 from Darwin tests.js as per @raju-apple request can you please enable them and test it.

[2022-06-07 17:39] bzbarsky-apple commented on #19276
I pulled the PR before you did that, so I don't have the test disabled.  It just passes.

[2022-06-07 17:42] woody-apple commented on #18417
Cert Blocker Review: @woody-apple to confirm this is a platform specific issue.

[2022-06-07 17:44] woody-apple commented on #19054
Cert Blocker Review: Removing cert blocker, given the Core SDK supports this, but does need resolution in the specific platform.

[2022-06-07 17:45] woody-apple commented on #19108
Cert Blocker Review: Removing cert blocker, given the Core SDK supports this, but does need resolution in the specific platform.

[2022-06-07 17:55] bzbarsky-apple commented on #19276
@manjunath-grl As in the CI failed?

[2022-06-07 17:58] bzbarsky-apple commented on #19276
Note that the bits about "invalid PASE parameter" are absolutely expected.  What's not necessarily expected is a OnPairingComplete call with error after that.

[2022-06-07 18:25] tehampson commented on #11286
I was asked to check if we have any INT8U in XML items that are for FabricIndex.

tl;dr other than some xmls in `src/app/zap-templates/zcl/data-model/` which I will look into further it seems like all FabricIndex in xml is using `fabric_idx`

-------------------------
I did: `find -name *.xml -not -path "./third_party/*" | xargs grep -i fabric.*index | grep -v type=\"fabric_idx\"` in chip repo and

[2022-06-07 18:25] caipiblack commented on #16868
Another case seen today on TE9 commit:

It's probably not the same error, but it's related:
- If there is a problem during a commissioning, it should be possible to do another commissioning without re-initializing the stack.

[2022-06-07 18:38] andy31415 commented on #16886
Thins we likely need to track here:

- add an extension attribute (#19274 does that)
- add an extension command (tried that, some compile errors so this needs tracking down)
- add an extension event
- add a manufacturer specific cluster.I would propose to move TestCluster from 0x50F to something like 0xFFF1050F - this will make it both used and an actual valid ID.

[2022-06-07 18:41] msandstedt commented on #7951
There are two things here.  While originally the discussion started with the operational credentials delegate interface being insufficient, that now has been addressed.

The other thing that came up in discussions was general non-extensibility of the commissioner.  I had proposed one solution to this.  The AutoCommissioner is another.

I think at this point we are considering the current commissio

[2022-06-07 18:41] #7951 closed

[2022-06-07 19:13] phonnakasturi-apple commented on #19191
Yes this  was fixed with  SHA dd636ad0d5053e13341733c8c6205d9a98c1846c
I will close this

[2022-06-07 19:13] #19191 closed

[2022-06-07 19:26] phonnakasturi-apple opened #19289 "M5 board cannot be paired due to continuous crash and rebooting"
With SHA caacbdef39b2ce69a918979cefd2c5d8448a22e1

**M5 board cannot be paired via QR code or short pin or via CHIPTool cli**

**Steps to reproduce:**

1. cd ~/connectedhomeip

2. git reset --hard caacbdef39b2ce69a918979cefd2c5d8448a22e1

3. git clean -Xdf

4. git submodule update --init

5. export PKG_CONFIG_PATH="/opt/homebrew/opt/openssl@3/lib/pkgconfig"

6. source scripts/bootstrap.sh

7. sour

[2022-06-07 19:45] liamgonyea commented on #17205
There are discrepancies between the test plan and the current implementation.
@sowmyassp has laid out the known discrepancies above [here](https://github.com/project-chip/connectedhomeip/issues/17205#issuecomment-1142391858):

#### Note, that for each of these discrepancies the pairing flow is commissioning a device successfully _*but*, the commissioning should not be successful._ Because of this

[2022-06-07 20:07] chrisbeach59 commented on #19213
@bzbarsky-apple am able to validate that I see the issue in the linux build for the pre-sve week 1 sha.  And also that if I pull ToT the problem is gone. Hopefully the week 2 sha will include this fix and I will close.

[2022-06-07 20:31] #19242 closed

[2022-06-07 20:35] yufengwangca commented on #17205
OK, the current implementation only prevent the chip-tool from generating the QR code if "version != 0", we should also make change to make the chip-tool fail to commission with the QR code generated in other way with  "version != 0".

[2022-06-07 20:49] ReneJosefsen commented on #19134
Weird, with no modification I got some SSL errors and was not able to build, if I added the "current_cpu" parameter I was able to build but got a few warnings since the target is macOS 11. Forcing it to set the target to macOS 12, which I also noticed removed the errors in the earlier mentioned issue I have no issue or warnings when running scripts/build_python.sh.

My line 116 looks like this:
`g

[2022-06-07 21:04] bzbarsky-apple commented on #19276
@manjunath-grl I tried taking your PR and re-enabling the Darwin tests, then running CI and I do see it fail.  I wonder why I can't reproduce that locally...

[2022-06-07 21:06] franck-apple commented on #19146
Marking it `cert blocker`, as it is already tagged `cert blocker request` and it is a pre-SVE issue.

[2022-06-07 22:00] bzbarsky-apple commented on #19276
Ah, interesting, that failure is in MF-1.9, not MF-1.10.  All the text above claimed the failure was in MF-1.10.

But locally I can't reproduce the failure in MF-1.9 either.

[2022-06-07 22:08] bzbarsky-apple commented on #19213
@chrisbeach59 Of which app?  The pre-sve week 1 SHA likely does not include the fix for #18816 so if you're using all-clusters-app it's expected to fail there.

[2022-06-07 22:27] bzbarsky-apple commented on #19289
Very clearly reproducible.... bisect says:
[code]

@kpschoedel can you take a look please?

[2022-06-07 22:49] chrisbeach59 commented on #19213
Thermostat app.  So expected to fail in pre-sve

On Tue, Jun 7, 2022, 5:08 PM Boris Zbarsky ***@***.***> wrote:

[2022-06-08 00:52] bzbarsky-apple commented on #19213
Thermostat had checks already, though via https://github.com/project-chip/connectedhomeip/pull/18816/files#diff-cc5b98517f74e271ae77706ffd8241fec62bf8bf939e87de47451284ac037107L48

So I'm not sure why that would be failing.

[2022-06-08 01:01] bzbarsky-apple commented on #19259
Anything that releases the context should Cancel() the callback, no?  That's why we are using cancelables here....  I thought you meant the pointer to the OperationalDeviceProxy could dangle, for point 1.

Problem 2.2 is what "just pass in the session instead" will solve, right?

Sure.

Again, the plan is to not have OperationalDeviceProxy _at all_.

[2022-06-08 01:09] bzbarsky-apple commented on #19265
Yes, the unexpected part is that MinLevel returns 0.

[2022-06-08 01:11] andy31415 commented on #17221
Sync with @kghost result: fevelopment of this depends on work from @tcarmelveilleux on NOC. Unassigning until development can start.

Will have to clarify dependencies here.

[2022-06-08 01:23] kghost commented on #18327
There are 2 implementations for different platform: `GenericThreadStackManagerImpl_OpenThread_LwIP` or `UDPEndPointImplOT::handleUdpReceive` both of them calls receive packets in the wrong thread, which can cause racing

[2022-06-08 01:46] bzbarsky-apple commented on #15409
When trying to pair with the same node id, or a different one?

Note that the comment in #16868 talks about the "TE9 commit", which does not have the fix from #19141....  Again, that fix should make things work as long as a new node id is used.

[2022-06-08 01:48] bzbarsky-apple commented on #11286
@tehampson The test-cluster bit needs to be fixed to use the right type _and_ the right field id (0xFE).

The others all look good.

[2022-06-08 01:57] bzbarsky-apple commented on #8741
This is still an issue, but the session eviction work @mrjerryjohns is doing should address it...

[2022-06-08 01:57] bzbarsky-apple commented on #8043
Right, that's why this issue is open!

There is no need to attach logs here.

[2022-06-08 02:32] bzbarsky-apple commented on #19276
Still can't reproduce this locally, but the linked PR fixes it in CI...

[2022-06-08 02:33] chrisbeach59 commented on #19213
My original implementation was before cluster specific pre attribute
changed callbacks were in the sdk.  I used global callback then checked for
thermostat cluster.  I think the Sha is somehow in-between.

On Tue, Jun 7, 2022, 7:52 PM Boris Zbarsky ***@***.***> wrote:

[2022-06-08 02:39] bzbarsky-apple opened #19300 "CASESession is huge"
#### Problem
On a 32-bit system CASESession is somewhere between 1050 and 1100 bytes in size.  This is quite large, and it's doubtful that it needs to be that big.

On the client side, CASESession is transient and goes away once the session is established.  On the server side it's always there as long as we are listening for incoming CASE connections.

 #### Proposed Solution
Some things that we c

[2022-06-08 02:51] raman325 commented on #19134
yeah unfortunately that's not working for me and I'm not sure how to troubleshoot it

[2022-06-08 06:14] yunhanw-google opened #19304 "In cc13x2x7_26x2x7, LogEvent seems to emanate from a thread other than the CHIP task."
I think `cc13x2x7_26x2x7`'s main.cpp contains a call to `LogEvent` that seems to emanate from a thread other than the CHIP task.

Might want to file an issue on that.

_Originally posted by @mrjerryjohns in https://github.com/project-chip/connectedhomeip/pull/19285#pullrequestreview-998905813_

[2022-06-08 06:15] yunhanw-google commented on #19304
@andreilitvin  who is taking care of cc13x2x7_26x2x7?

[2022-06-08 06:17] #18065 closed

[2022-06-08 06:57] #19096 closed

[2022-06-08 07:28] Rajashreekalmane commented on #8043
@bzbarsky-apple what should I do in this case, Is this cert-blocker  or V1.0 out of scope issue.

[2022-06-08 07:31] jimlyall-q commented on #19146
We're running the lighting-app as the all-clusters-app is too large to run on our platform.
Just highlighting the fact that the instructions should be more generic or that there should be options to test against?

[2022-06-08 07:49] mrcao2011 commented on #18753
i have the same issue, you have fixed the issue?

[2022-06-08 07:49] mrcao2011 commented on #18753
i have the same issue, you have fixed the issue?

[2022-06-08 08:24] mrcao2011 commented on #15003
the same issue：iOS chip-tool can't pair over only IPv6

[2022-06-08 08:28] mrcao2011 commented on #15003
the same issue：iOS chip-tool can't pair over only IPv6

[2022-06-08 08:39] pankore opened #19306 "[pre-sve] Chip-tool commissionable device discovery via BLE not working"
#### Problem
Platform: RPI4 chip-tool
SHA: https://github.com/project-chip/connectedhomeip/commit/425f1fb916ca154deeb75cd82cd5196778aba152
chip-tool is unable to discover commissionable devices via BLE
Required for TC-DD-3.1, TC-DD-3.19

Steps to reproduce:
- Commissionable device starts BLE adv (confirmed by nrfconnect ble app)
- `./chip-tool discover commissionables`

[discover-chip-tool.txt](ht