[2022-07-14 06:57] #20589 closed

[2022-07-14 07:24] tanyue518 opened #20718 "[SVE#1][TC-BOOL-2.2] chiptool report "Segmentation fault" when subscribing event"
DUT: Contact Sensor
Cluster: Boolean State (Server)
Case: TC-BOOL-2.2,  Primary functionality with server as DUT, Step 4a

this the reproduction procedures using the chiptool under TH image apps folder
1) commission the DUT to network
2) sudo ./chip-tool interactive start
3) booleanstate subscribe-event-by-id 0x0 1 100 1 1

chiptool report "Segmentation fault" after subscribing event command

[2022-07-14 07:26] Digitalvitamin commented on #16165
Can you provide more information on the issue? Which architecture did you encounter this on?
Might be related to #17251.

[2022-07-14 08:51] markus-becker-tridonic-com opened #20719 "Test_TC_DGTHREAD_2_1 the PICS values for the attributes are off by one. [SVE1]"
#### Problem

In Test_TC_DGTHREAD_2_1 the PICS values for the attributes are off by one.

E.g. the channel attribute is 0, but the PICS value is DGTHREAD.S.A0001, https://github.com/project-chip/connectedhomeip/blob/master/src/app/tests/suites/certification/Test_TC_DGTHREAD_2_1.yaml#L31-L37.

 #### Proposed Solution

Reduce the numbers in the PICS by one.

[2022-07-14 09:07] sstruchtrup commented on #20718
I am seeing the same problem. Seems to affect all clusters/attributes.

[2022-07-14 09:35] shubhamdp commented on #15767
@dhrishi tried with `examples/temperature-measurement-app/esp32` with manual code and commissioning completed with success.
[temp-app-esp32.log](https://github.com/project-chip/connectedhomeip/files/9110631/temp-app-esp32.log)
[chip-tool.log](https://github.com/project-chip/connectedhomeip/files/9110633/chip-tool.log)

[2022-07-14 09:44] dtodor commented on #19624
So after some more debugging, the UDP packets do get actually delivered to the EFR32 board, but the checksum verification fails, i.e.:
[code]

I've tried to read and compare the contents of the message with the message as captured by the sniffer:
[code]

Received message:
[code]

Captured message using sniffer:
[code]

@jepenven-silabs Any ideas what might cause the checksum verification to fail?

[2022-07-14 10:23] tanyue518 commented on #20718
yes, I can fix the issue by rebuilding, but ATL should another TH image from CSA

[2022-07-14 10:23] dhrishi commented on #15285
Thanks @shubhamdp . Closing this for now. @kean-apple Feel free to reopen if you face the issue

[2022-07-14 10:23] #15285 closed

[2022-07-14 10:36] vivien-apple commented on #14709
The only effect of the `--custom-flow 0` parameter onto the sample accessory afaik is to generate an appropriate QRCode/Manual Code and dump it on the console.

This is not a spec issue to me.

It is still unclear to me what kind of supports is expected. I would first like to make sure my understanding of the custom commissioning flow as expressed in https://github.com/project-chip/connectedhomeip

[2022-07-14 11:00] manjunath-grl opened #20723 "Facing type error when ype: INT16 is configured in config section"
Summary:
In config section i tried to add the variable for attribute "OccupiedCoolingSetpoint" and it is of type int16 facing regen error showing  " Unhandled underlying type /* TYPE WARNING: unknown defaults to */ uint8_t *  for original type INT16 "when executed

Diff link:
https://github.com/project-chip/connectedhomeip/compare/master...manjunath-grl:connectedhomeip:type_error

Execution screen

[2022-07-14 11:29] shubhamdp commented on #9140
Tested on 37bb2df9941fcff64657cc9a0ca25ad176aeb42a
example: all-clusters-app/esp32

Commissioned the device using chip-tool: `./chip-tool pairing ble-wifi 0x2222 (SSID) (PASSPHRASE) 20202021 3840`
Performed some cluster control.
Factory reset the device using ESP32 console `> matter device factoryreset`

No crash were seen and device rebooted and I was able to commission and could perform cluster

[2022-07-14 12:17] #20678 closed

[2022-07-14 12:18] #20662 closed

[2022-07-14 13:11] dtodor commented on #19624
After disabling the checksum verification and some fixes in our code, group messaging works!!! Could it be that everyone is building with `FUZZING_BUILD_MODE_UNSAFE_FOR_PRODUCTION` defined?

[2022-07-14 13:19] CamWms commented on #19000
I have a PR #5425 to check if paths are well-formed, but IDs should not be checked for in-range by the SDK code except if the range is within the MS range. The valid range is to direct new ID allocation, not for operational checks. We may expand or reduce the range in the future. If the SDK does not recognize an ID (in or outside the current range), then that is enough.

[2022-07-14 13:45] andy31415 commented on #20672
Manual commands I ran to reproduce (just the first, for now):

[code]

TBH I believe this should be automatable ... we have other tests that that check for correct return code (I recently updated userlabel). Will look into having some automation here as well if at all possible.

[2022-07-14 13:54] sowmyassp opened #20731 "TC-BRBINFO-1.1 - Feature-map attribute should be implemented"
**Issue :**
While Executing the behavior of the global mandatory feature-map attribute  of the Bridged Basic Information cluster, throws error code as 0x86(unsupported attribute).

**Commit used** : 0390a8d33b1d1c709fcc4499eab6e132428ad5e2

- Chip-tool - RPI-4, 8GB RAM
- DUT - RPI - RPI-4, 8GB RAM
- Platform : linux platform
- Dut application: bridge-app
- Expected behavior : Pass with status(0x0)

[2022-07-14 14:10] yeccc opened #20732 "[SVE][TC-DGGEN-3.1] PICS can NOT filtered out 3.1 while only chose DUT as server"
#### Problem
<what's wrong or missing, please include any applicable:
 * expected behavior
 * actual behavior
 * steps to reproduce
 * system configuration
 * screenshots, images, logs, etc.

![PICS_ISSUE_PICS_TO_WRONG_TC_20220714143521](https://user-images.githubusercontent.com/22901855/179002391-0af3c11a-c684-41e8-bc33-7fc8cae001a9.png)

<suggested fix, suggested enhancement>

[2022-07-14 14:14] yeccc opened #20734 "[SVE][TC-CNET-4.1] thread device’s PICS should NOT test WiFi test case"
#### Problem
<what's wrong or missing, please include any applicable:
 * expected behavior
 * actual behavior
 * steps to reproduce
 * system configuration
 * screenshots, images, logs, etc.

![PICS_ISSUE_PICS_TO_WRONG_TC_202207141435212](https://user-images.githubusercontent.com/22901855/179003355-9f64aa1c-e4a1-476b-a527-8d90921709e7.png)

 #### Proposed Solution
<suggested fix, suggested enhance

[2022-07-14 14:35] #20271 closed

[2022-07-14 14:40] andy31415 commented on #20672
@aswathygrl am looking to automate these tests.
For tests 36,37 and 38 the number is too large to be represented in an integer. Where do these tests come from? And is there a reason why we test with so many separate invalid large numbers? the tests seem the same to me, but since the lines seem very similar I may be missing something.

[2022-07-14 14:43] andy31415 commented on #20672
I see 18446744073709551615.to_s is 0xFFFFFFFFFFFFFFFF (max u64). I believe automation only supports 32-bit values which if very unfortunate :(

[2022-07-14 14:49] hubTab commented on #20699
The current OTA implementation allows for registering one unsolicited message handler per protocol, Bdx included.
An OTA Provider would need to be able to service multiple OTA Requestors concurrently, and the mechanism for enabling it to do so could start with redesigning the registration for unsolicited  message handlers.

[2022-07-14 14:54] andy31415 commented on #20672
after my PR, 29 and 31 return constraint_error, but 32 does not, even though unit test is supposed to check for this... need to test more.

[2022-07-14 14:57] andy31415 commented on #20672
I had not compiled an updated chip tool. Will have to fix my PR a bit more.

[2022-07-14 15:16] andy31415 commented on #20672
@aswathygrl : Step 32: expected outcome is constraint error but result is failure.

Are you getting failure? I get success and am trying to figure out why. It says Privilege 6 is invalid ... but I also see privileges being a bitfield so privilege 6 is (4 | 2) which is "OPERATE | PROXY_VIEW". why is that test case supposed to fail?

[2022-07-14 15:46] andy31415 commented on #20672
@cjandhyala @aswathygrl got my automated tests passing, a lot of these now work EXCEPT:

- step 32 - it passes for me. I am unclear why it should fail and the description does not explain. It says invalid privilege, but I do not see it as invalid. Can you help with referencing the spec explaining more

- step 35,36,37 work for me (at least 35) ... I am unclear why they should fail/if they should f

[2022-07-14 15:52] bzbarsky-apple commented on #20713
@cjandhyala @manjunath-grl

[2022-07-14 15:53] bzbarsky-apple commented on #20716
@manjunath-grl @cjandhyala

[2022-07-14 15:53] bzbarsky-apple commented on #20718
@cjandhyala What SHA is being used for the chip-tool image here?

[2022-07-14 16:10] bzbarsky-apple commented on #20732
This does not look like an SDK issue.  @cjandhyala @naveenkommareddi  where should this be filed?

[2022-07-14 16:10] bzbarsky-apple commented on #20734
@cjandhyala

[2022-07-14 16:24] andy31415 commented on #20718
@tanyue518 please provide more info:

- DUT Contact sensor ... on what platform? Does this occur on any platform so we can check (i.e. can i reproduce this on linux with all-clusters app or similar?)
- what SHA is this using?

[2022-07-14 16:24] bzbarsky-apple commented on #20723
The right type name is `INT16S`.

[2022-07-14 16:25] andy31415 commented on #20718
If this is fixed by "update to latest code" this is not a cert blocker as it is already fixed. Am I understanding the status right?

[2022-07-14 16:27] andy31415 commented on #20731
I think we need to explain/justify cert blocker status a bit here.

Cert blocker in my mind means "Certification cannot prove that the SDK can be used to build an application that can be certified". In this case, we have feature map attributes working in other apps, so the SDK can be used to build certifiable applications.

Bridge app in particular seems not to be updated fully, so this is an issu

[2022-07-14 16:29] andy31415 commented on #20731
In generally I am trying to avoid code SDK developers being on the hook to develop fully certifiable applications for all possible applications (we have a lot of them already: light, lock, all-clusters, all-clusters-minimal, several tv bits, bridge, ota provider and requestor, shell, thermostat, temperature measurement, window, pump .... etc).

[2022-07-14 16:38] bzbarsky-apple opened #20746 "NOC validity checking should ensure same CAT is not present with different versions"
#### Problem
See https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5437 for the spec change.  We need to do that in the SDK.

 #### Proposed Solution
Add the check.

[2022-07-14 16:46] manjunath-grl commented on #20714
@bzbarsky-apple TC-LVL-3.1 is fixed in [PR](https://github.com/project-chip/connectedhomeip/pull/20709) please verify it and close the ticket

[2022-07-14 17:11] bzbarsky-apple commented on #20718
The SHA involved is likely caf62f709e0a0fdf41b0d3a1652cc26bc46a960a

@andy31415 @cjandhyala tells me that they have been seeing random crashes on all sort of revisions here, including "latest code".  So there may still be an issue here.

[2022-07-14 17:14] bzbarsky-apple commented on #20718
That said, I just compiled chip-tool from that SHA (on Mac, with ASAN) and I am not seeing a crash when using all-clusters-app.  This might depend on the exact data the DUT is sending.

@tanyue518 can you please attach (not paste) a complete logs for both sides here?  Especially the chip-tool log showing the incoming payloads (if any) and whatever else happens before the crash.

[2022-07-14 17:19] jmartinez-silabs commented on #20323
This PR that was merge sunday https://github.com/project-chip/connectedhomeip/pull/19200
should fix the issue

[2022-07-14 17:50] sankarselvam commented on #20672
@andy31415  All the step 32 , 35 , 36 , 37 are come under Error handling. Hence we raised in the same issue.
Spec ref is: https://github.com/CHIP-Specifications/connectedhomeip-spec/blob/master/src/data_model/ACL-Cluster.adoc#error-handling

Step 32: As the Privilege field is invalid value (not 1-5), we are expecting Constraint Error.  But while testing we got Failure.

Step 35, 36 and 37 - Its su

[2022-07-14 18:21] andy31415 commented on #20672
Please split out in separate issues. I was unable to reproduce the 'failure' return in those cases.

The split out bugs should explain why the test case is expected to fail (what constraint is invalid and why)

[2022-07-14 19:07] yufengwangca commented on #18047
it is hard to verify this case with yaml test since those count values keep changing fast, certain counts turn positive after issue the resetCount command

[2022-07-14 19:07] #18047 closed

[2022-07-14 19:39] bzbarsky-apple commented on #20661
Looks like the same issue as #20630

[2022-07-14 19:40] bzbarsky-apple commented on #20627
May be the same underlying problem as #20630 if the timer list is corrupted somehow....

[2022-07-14 19:45] bzbarsky-apple commented on #20631
This is the
[code]
in `InteractionModelEngine::RemoveReadClient`.

I wonder whether this ReadClient outlived shutdown, similar to https://github.com/project-chip/connectedhomeip/issues/20085

That said, `InteractionModelEngine::Shutdown` nulls out the backpointers, so I would not expect this that to be an issue here....

[2022-07-14 19:46] #19114 closed

[2022-07-14 19:46] bzbarsky-apple commented on #20626
[code]
is inside `LayerImplSelect::StartTimer` so this is not the issue that https://github.com/project-chip/connectedhomeip/pull/20704 was fixing...

[2022-07-14 19:49] bzbarsky-apple commented on #20547
This is because the test-only "allow writes to readonly attributes" cluster subclass bits got removed.

[2022-07-14 19:50] bzbarsky-apple commented on #20344
Seems pretty similar to #20627.

[2022-07-14 19:54] bzbarsky-apple commented on #20343
This is crashing on this line:
[code]
which suggests the `CommissioningWindowOpener` object is dead.

It's possible to get there on that SHA with malformed-enough data from the server, but I doubt that was happening....

[2022-07-14 19:58] bzbarsky-apple commented on #19594
Crashing line is:
[code]

I wonder whether the controller is shut down already or something...  But we're supposed to have checks for that....

[2022-07-14 20:06] #20565 closed

[2022-07-14 20:27] phonnakasturi-apple opened #20762 "Unable to pair with on-network device"
With SHA 39e5ed22d5ad4bfc0fbf25d7f82cc01f660a1d35

Unable to pair with on-network device

**Steps to reproduce**

1. cd ~/connectedhomeip
2. git reset --hard  39e5ed22d5ad4bfc0fbf25d7f82cc01f660a1d35
3. export PKG_CONFIG_PATH="/opt/homebrew/opt/openssl@3/lib/pkgconfig"
4. source scripts/activate.sh
5. rm /tmp/chip_kvs*
6. scripts/examples/gn_build_example.sh examples/all-clusters-app/linux out/deb

[2022-07-14 20:33] bzbarsky-apple opened #20763 "Address review issues in Darwin OTAProviderDelegateBridge"
#### Problem
See https://github.com/project-chip/connectedhomeip/pull/20516#discussion_r921545649 and https://github.com/project-chip/connectedhomeip/pull/20516#pullrequestreview-1039429790

 #### Proposed Solution
Fix those issues.

[2022-07-14 20:47] bzbarsky-apple commented on #20762
@phonnakasturi-apple Looking at the logs, but I just tried those steps on that PR and it works fine for me...

[2022-07-14 20:50] somu1710 opened #20764 "[TC-DGWIFI-2.3] - packet-unicast-rx-count attribute shows some packets after the reset counts"
**Problem:**

-  In Wifidiagnosic cluster [TC-DGWIFI-2.3] - packet-unicast-rx-count attribute shows some packets after the reset counts command.
-  After executing the reset count command need to check the attributes are really reseted or not .but while reading  packet-unicast-rx-count attribute it shows some packet,Actually as per spec the attributes are reseted to **"0"**.

**App used:** All-clu

[2022-07-14 20:52] andy31415 commented on #20672
I also had to fix a bunch of tests in TestAccessControlCluster.yaml

So some of these tests were automated, but seemingly wrong (they asked for FAILURE instead of CONSTRAINT_ERROR). We will want to consolidate tests.

[2022-07-14 21:01] bzbarsky-apple commented on #20762
Log shows that the server never even got a PBKDFParamRequest from the client.

But the client:
1. Discovered something with the right instance name (`823AD7968F94E157`)
2. Resolved a reasonable-looking IP+port for it (`[fe80::c36:9df2:2d2a:2c91%en2]:5560`).
3. Sent a PBKDFParamRequest
4. Got an ack.

Is it possible that there were multiple copies of all-clusters-app (or other Matter bits) running

[2022-07-14 21:19] bzbarsky-apple commented on #20764
That can't possibly be an expected outcome, because if nothing else the packets carrying the read have been received.  As has the ack for the response to the reset-counts command.  And probably other packets, if there's anything else on the network.

If there is absolutely not other traffic on the WiFi network, and no packet loss reading to retransmits, etc, etc,`PacketUnicastRxCount` might be 2 (

[2022-07-14 21:19] #20764 closed

[2022-07-14 21:23] phonnakasturi-apple commented on #20762
@bzbarsky-apple Yes there were 2 instances of ll-clusters-app  running.. I cleared them up and its working fine now

[2022-07-14 21:23] #20762 closed

[2022-07-14 22:19] mrjerryjohns opened #20769 "Sensibly convert CHIP_ERROR to IM Status when returning a `StatusIB`"
#### Problem

When doing IM operations like reads, cluster impls today still continue to send back CHIP_ERROR with a non-IM status code embedded in it. This eventually gets coarsely converted to an IM `Failure` status code, the least descriptive of all IM status codes.

While one option is to fix all cluster impls pervasively, this can be laborious.

Another option is to add a converter from `CHIP

[2022-07-14 22:36] #20460 closed

[2022-07-14 22:55] krypton36 opened #20771 "[darwin-framework-tool] Matter.framework conflict and unknown behavior will occur."
When Matter.framework is updated in the macOS build, it will cause a conflict with the built Matter.framework for Darwin-framework-tool. We need a way to specifically target our built Matter.framework and ignore the one in the system.

[2022-07-15 00:48] cjandhyala commented on #20731
@andy31415 Cert blocker is also for something that is failing a certification test case that need fix in SDK and example app, so that CSG can verify the test ones. In this case its blocking a cert TC TC-BRBINFO-1.1.

[2022-07-15 01:13] tatsutaigu commented on #20470
@dhrishi
Thank for your information.
I tried `51e41f9`, but error occurred.
[chip-tool-51e41f9.txt](https://github.com/project-chip/connectedhomeip/files/9116845/chip-tool-51e41f9.txt)

[esp32-c3-51e41f9.txt](https://github.com/project-chip/connectedhomeip/files/9116846/esp32-c3-51e41f9.txt)

My environment:
 Ubuntu 20.04
 Celeron N3350 ( [ZBOX PI225 pico](https://www.zotac.com/product/mini_pcs/zb

[2022-07-15 02:26] tatsutaigu commented on #20470
@dhrishi

I tried
`chip-device-ctrl` on `test_event_4_2021_07_06` and `esp32-c3` `all-cluster-app` on `51e41f9`.
[NG_chip-device-ctrl-test_event_4_2021_07_06.txt](https://github.com/project-chip/connectedhomeip/files/9117109/NG_chip-device-ctrl-test_event_4_2021_07_06.txt)
[NG_esp32-c3-51e41f9.txt](https://github.com/project-chip/connectedhomeip/files/9117110/NG_esp32-c3-51e41f9.txt)

`chip-device

[2022-07-15 02:33] mmt-10 opened #20774 "Python based controller Permission error"
#### Problem
 * expected behavior
 * actual behavior
 * steps to reproduce

./scripts/build_python.sh -m platform -i separate
source ./out/python_env/bin/activate
sudo out/python_env/bin/chip-device-ctrl

 * system configuration
 * screenshots, images, logs, etc.
[Log.txt](https://github.com/project-chip/connectedhomeip/files/9117273/Log.txt)

[2022-07-15 02:45] Kxuan opened #20775 "app/cluster: Level Control transition time may longer than expected"
#### Problem
Most of commands in Level Control cluster have a transition time settings.

Currently, the code in `level-control.cpp` implements this transition.

When command received by DUT, the command handler create a `EmberAfLevelControlState` object, and then add a timer on main loop to call `emberAfLevelControlClusterServerTickCallback`.
`emberAfLevelControlClusterServerTickCallback` increase

[2022-07-15 05:19] #20649 closed

[2022-07-15 05:46] bzbarsky-apple opened #20781 "Commissioner shutdown during BLE discovery may not work very well"
#### Problem
If a DeviceCommissioner is shut down while in the middle of doing BLE discovery for a commissioning attempt, we may end up with use-after-free, because some of our platforms don't have an obvious way to cancel BLE discovery, and when it calls back it will be touching deleted objects.

 #### Proposed Solution
Figure out whether we can tie the BLE discovery handling to something that ha

[2022-07-15 05:51] bzbarsky-apple commented on #20716
I don't have a way to verify that does not involve carefully reading that whole PR.

@yeccc

[2022-07-15 05:54] #20608 closed

[2022-07-15 06:10] bzbarsky-apple commented on #12987
@plan44 the mechanism is not in place yet, but should be for v1, we hope.

[2022-07-15 06:12] bzbarsky-apple commented on #19306
@mamehta So the issue is with the specific verification steps for the test plan?  It's possible that those verification steps should be fixed.  The test plan itself does not involve listing discovered things; it just involves discovering something and connecting to it.

[2022-07-15 07:19] mamehta commented on #19306
@bzbarsky-apple It's my understanding from reading the test case that `discover commissionables` is just a convenience to validate in step 2, etc. whether the DUT is discoverable without having to run the full commissioning flow test which would probably be more time consuming. If we don't intend for `discover commissionables` to be used for this test or if that command itself is not working prope

[2022-07-15 08:24] bluebin14 opened #20787 "Single read-event causes several error responses instead of one"
#### Problem
One single read-event causes as many UNSUPPORTED_ACCESS status responses as there are events in history, thereby giving out the exact number of events to unauthorized peer. This behavior does not match the spec, which has a single UNSUPPORTED_ACCESS for the one concrete path in a case like this. Observed with TC-ACL-2.9 but it is a general problem that can happen with any cluster.

`/

[2022-07-15 09:48] tanyue518 commented on #20718
sorry for late reply, the Contact Sensor is on NXP K32W061 platform, I don't know the SHA for chiptool, but the chiptool is the default one under apps folder of sve1.0 TH image.

[2022-07-15 10:08] aswathygrl opened #20789 "[TC-ACL-2.4]: Test case Step 43: Expected output is constraint error , But the actual result is Failure"
Test Case ID
TC-ACL-2.4
Describe Issue:
Step 43 :expected outcome is constraint error but result is Failure.
Command to Verify:./chip-tool accesscontrol write acl '[{"fabricIndex": 1, "privilege": 5, "authMode": 2, "subjects": [112233], "targets": null}, {"fabricIndex": 1, "privilege": 3, "authMode": 2, "subjects": null, "targets":[{ "cluster": 11, "endpoint": 22, "deviceType": 33 }]}]' 1 0
Specif

[2022-07-15 10:09] aswathygrl opened #20790 "[TC-ACL-2.4]: Test case ,Step 40: Expected output is constraint error , But the actual result is Success."
Test Case ID
TC-ACL-2.4
Describe Issue:
Step 40 :expected outcome is constraint error but result is Success.
Command to Verify:./chip-tool accesscontrol write acl '[{"fabricIndex": 1, "privilege": 5, "authMode": 2, "subjects": [112233], "targets": null}, {"fabricIndex": 1, "privilege": 3, "authMode": 2, "subjects": null, "targets":[{ "cluster": null, "endpoint": 255, "deviceType": null }]}]' 1 0
S

[2022-07-15 10:31] Rajashreekalmane opened #20791 "[TC-CGEN-2.2]--AddTrustedRootCertificate command Fails to add TrustedRootCertificate"
****#### Problem****
add-trusted-root-certificate command is not working, TH sends add-trusted-root-certificate to DUT then if TH read the trsusted root certificate attribute where it should list 2 entries but instead lists 1 entry

 ****expected behavior:****-The number of items in the returned list is numTrustedRootsOriginal + 1
  **actual behavior:-**
![image](https://user-images.githubusercont

[2022-07-15 10:57] aswathygrl opened #20794 "[TC-ACL-2.4]: Test case ,Step 32: Expected output is constraint error , But the actual result is Failure"
Test Case ID
TC-ACL-2.4
Describe Issue:
Step 32 :expected outcome is constraint error but result is Failure.
Command to Verify: ./chip-tool accesscontrol write acl '[{"fabricIndex": 1, "privilege": 5, "authMode": 2, "subjects": [112233], "targets": null}, {"fabricIndex": 1, "privilege": 6, "authMode": 2, "subjects": null, "targets":null}]' 1 0
Specification References:
https://github.com/CHIP-Spec

[2022-07-15 11:25] aswathygrl opened #20796 "[TC-ACL-2.4]: Test case ,Step 35: Expected output is constraint error , But the actual result is Failure"
Test Case ID
TC-ACL-2.4
Describe Issue:
Step 35 :expected outcome is constraint error but result is Failure.
Command to Verify: ./chip-tool accesscontrol write acl '[{"fabricIndex": 1, "privilege": 5, "authMode": 2, "subjects": [112233], "targets": null}, {"fabricIndex": 1, "privilege": 3, "authMode": 2, "subjects": [18446744073709551615], "targets":null}]' 1 0
-For the above command , as per spec

[2022-07-15 11:46] aswathygrl opened #20797 "[TC-ACL-2.4]: Test case ,Step 36: Expected output is constraint error , But the actual result is success"
Test Case ID
TC-ACL-2.4
Describe Issue:
Step 36 :expected outcome is constraint error but result is Success.
Command to Verify:  ./chip-tool accesscontrol write acl '[{"fabricIndex": 1, "privilege": 5, "authMode": 2, "subjects": [112233], "targets": null}, {"fabricIndex": 1, "privilege": 3, "authMode": 2, "subjects": [42949672930000000], "targets": null}]' 1 0
Test Plan Reference:-
https://github.

[2022-07-15 11:52] aswathygrl opened #20798 "[TC-ACL-2.4]: Test case ,Step 37: Expected output is constraint error , But the actual result is Failure"
Test Case ID
TC-ACL-2.4
Describe Issue:
Step 37 :expected outcome is constraint error but result is failure
Command to Verify: ./chip-tool accesscontrol write acl '[{"fabricIndex": 1, "privilege": 5, "authMode": 2, "subjects": [112233], "targets": null}, {"fabricIndex": 1, "privilege": 3, "authMode": 2, "subjects": [18446744073709486080], "targets":null}]' 1 0

Test Plan Reference:-
https://github

[2022-07-15 12:15] aswathygrl commented on #20672
@andy31415  I  had raised separate issue tickets for TC-ACL-2.4 ,Test Steps 32,35.36,37  ,mentioned below
https://github.com/project-chip/connectedhomeip/issues/20794
https://github.com/project-chip/connectedhomeip/issues/20796
https://github.com/project-chip/connectedhomeip/issues/20797
https://github.com/project-chip/connectedhomeip/issues/20798

[2022-07-15 13:31] Survensa opened #20800 "[SQA] TC-CNET-4.11 Step 12 : TH is not able to connect back DUT on WIFI_1ST_ACCESS point"
### Problem
After Step 11 : Disarm the failsafe should revert all changes made from step 2-10 and connect back to WIFI_1ST_ACCESS point, so that TH gets connected to DUT on WIFI_1ST_ACCESS point. But TH is not able to connect DUT on WIFI_1ST_ACCESS again.

 * Expected behavior :

 * Actual behavior :

 ### Steps to reproduce

- Step 11 is a disarm of the failsafe, so all network configurations fro

[2022-07-15 13:56] andy31415 commented on #20798
Test case reference: test case asserts that 0xFFFFFFFFFFFF0000 as a subject will be rejected.

For test steps I did:

[code]

[2022-07-15 14:11] bzbarsky-apple commented on #20787
It sounds like we are doing ACL checks on a per-event basis, not per-path basis.  The testcase here is basically:

1. Set ACLs so you have no access.
2. Try to read a single concrete event path.

Looking at our code, it's just structured _very_ differently from the spec.  The spec loops over paths, puts in errors for the concrete ones that are not allowed and drops them, then starts looping over e

[2022-07-15 14:13] vivien-apple commented on #20718
I wish we have logs for both sides. There are some interesting logs there. For example it seems that some unexpected packets are received.
[code]

[2022-07-15 14:19] Survensa opened #20803 "[SQA] [Thread]TC-CNET-4.12 Getting Run Command Failure after connect-network with THREAD_2ND_OPERATIONALDATASET"
## Problem
Steps 2 - 7:  remove th_xpan network, add THREAD_2ND_OPERATIONALDATASET, Connect to THREAD_2ND_OPERATIONALDATASET
After Step 7 :  `./chip-tool networkcommissioning connect-network hex:1161111128222222 1 0 --Breadcrumb 2` not able to proceed further due to run command failure.

 ### Actual behavior after connect-network with THREAD_2ND_OPERATIONALDATASET

 ### Steps to reproduce

1.  Rem

[2022-07-15 14:19] bzbarsky-apple commented on #20789
@aswathygrl Please always include the SHA the problem occurred on....

I believe this will be fixed by #20736

[2022-07-15 14:23] krypton36 opened #20804 "[OTA Matter.framework] Missing helping functionality for OTA implementation."
#### Problem
Matter framework contains a new feature that allows the ability to perform OTA SW. There is additional functionality that is missing in order for the consumer to properly implement OTA. The missing functionality is as follows:
- OTAImageHeader structure and OTAImageHeaderParser in OTAImageHeader.h needs to be exposed in Matter.framework
- MakeURI function in BdxUri.h needs to be expos

[2022-07-15 14:23] bzbarsky-apple commented on #20790
This testcase is wrong, as far as I can tell.  Why should this fail?  @cjandhyala

[2022-07-15 14:25] krypton36 opened #20805 "[darwin-framework-tool] Once #20804 is complete, update darwin framework tool."
#### Problem
Once https://github.com/project-chip/connectedhomeip/issues/20804 is fixed, Darwin-framework-tool needs to be updated to use the added functionality to Matter.framework.

 #### Proposed Solution
See above.

[2022-07-15 14:27] bzbarsky-apple commented on #20791
Yep, this is still buggy.  @tcarmelveilleux

[2022-07-15 14:29] bzbarsky-apple commented on #20791
`OperationalCredentialsAttrAccess::ReadRootCertificates` needs to include the pending root from the fabric table if there is one and the AddNOC has not happened yet (so there is no FabricInfo for it yet).

[2022-07-15 14:38] #20620 closed

[2022-07-15 15:03] bzbarsky-apple commented on #20803
After the device connects to the second network, it can't communicate with the chip-tool, which is on the original network, right?  So the behavior here seems completely expected...  @Survensa

[2022-07-15 15:15] andy31415 commented on #20797
@aswathygrl - what is 42949672930000000

Test case says `0xFFFFFFFD_BAD_NONE0000000` (looks like a typo? is it?) and 42949672930000000 in hex looks like 98967ffe363c80

[2022-07-15 15:21] bzbarsky-apple opened #20809 "Audit matter-devices.xml for sanity"
#### Problem
We have all sorts of bad copy/paste bugs in matter-devices.xml.  For example, On/Off Plug-In unit has:
[code]
which defaults to including a binding client for some reason, even though the device type does not mention that.

 #### Proposed Solution
Go through this file, align with spec.

[2022-07-15 15:29] andy31415 commented on #20794
@bzbarsky-apple Testing it now.

I believe our privilege mappins are bit-fields, so 6 seemed to pass for me, but I have to try again. For this one I need to understand if the test case is bad or the code has bugs or my manual test was bad.

[2022-07-15 15:31] andy31415 commented on #20794
Re-tested and it is indeed fixed. I think I had an error in my manual test before. I will mark it as such.

@aswathygrl sorry for making you break these up... I really thought that my PR did not fix them, but it turns out I made manual errors when double-checking.

[2022-07-15 15:45] andy31415 commented on #20797
@aswathygrl I think 42949672930000000 is not ok.

I think this should be either deleted or use 0xFFFF_FFFD_0000_0000 (i.e. 18446744060824649728)

[2022-07-15 15:46] andy31415 commented on #20797
In my fix PR, I marked that this is fixed, but assuming test value is 0xFFFF_FFFD_0000_0000

[2022-07-15 15:56] andy31415 opened #20810 "ACL - audit CAT validation"
#### Problem
Side-discussion regarding ACL validation in
https://github.com/CHIP-Specifications/chip-test-plans/blob/master/src/cluster/AccessControl.adoc#tc-acl-2-4-acl-attribute resulted in us wondering about how subjects are being validated.

Specifically we are testing now for some invalid values like 0xFFFF_FFFF_FFFF_FFFF, 0xFFFF_FFFF_FFFF_0000 and 0xFFFF_FFFD_0000_0000 however additional rev

[2022-07-15 16:05] bzbarsky-apple opened #20811 "Ensure that all Fabric-scoped commands respond with UNSUPPORTED_ACCESS if there is no accessing fabric"
#### Problem
We have some fabric-scoped commands (e.g. UpdateFabricLabel) that are not following the spec, which says:

and are returning some other responses instead.

Some of the test plans may in fact be expecting those other responses, hence the cert blocker bit....

 #### Proposed Solution
Audit and fix.  The relevant set of commands looks like the following (git grep run in the spec repo):
[

[2022-07-15 16:08] bzbarsky-apple commented on #20811
Oh, and ideally this would be enforced in IM, but we don't have a way to annotate commands as fabric-scoped in XML right now.  Maybe we should just add one and do this in IM, the same way we handle timed invoke.

[2022-07-15 16:55] meatherly commented on #13303
I'm using macOS 12.4 and Matter commit b4b340017. For some reason I can commission a device (esp32) using wifi over BLE. But when trying to commission a Thread device (nordic nrf52840dk) with a Thread border router (esp32 ot_br + silabs RCP) over BLE the chip-tool on macOS 12.4 it doesn't work. The chip-tool connects to the thread device over BLE but thread device instantly disconnects with a BLE

[2022-07-15 17:09] tcarmelveilleux commented on #20811
Example of current failure:

[code]

[2022-07-15 17:23] mrjerryjohns opened #20814 "Automatically mark sessions as defunct on transport/timeout failures"
#### Problem

When we encounter an ACK timeout, or an app-level timeout, we don't do anything to the underlying session. Session consumers continue to putter on with a potentially broken session without a more explicit app involvement to do something different.

#### Proposal

1. Mark things defunct from inside MRP bits if the exchange is not waiting on an app-level reply.
2. Mark things defunct o

[2022-07-15 18:54] bzbarsky-apple commented on #20769
The reason I have not done this so far is that I feel like it would give people a false sense of security that they are returning the right things, when they are propagating error codes from some underlying implementation and those can change on them at any time without them noticing....

Maybe that's OK.  But it worries me a little.

[2022-07-15 18:56] bzbarsky-apple commented on #20769
For example, in #20736 CHIP_ERROR_NOT_FOUND is being mapped to ConstraintError but other places would want to map it differently, depending on what CHIP_ERROR_NOT_FOUND means in the specific APIs they're calling.

[2022-07-15 18:57] turon commented on #19351
This appears to be in a third_party library: `third_party/silabs/gecko_sdk/protocol/zigbee/app/framework/util/client-api.c`.

Seeking SiLabs person to reassign.

[2022-07-15 19:00] manjunath-grl commented on #20713
@bzbarsky-apple @Kxuan fixed in [PR](https://github.com/project-chip/connectedhomeip/pull/20821) please verify it and close the ticket

[2022-07-15 19:06] bzbarsky-apple commented on #20713
@manjunath-grl Commented in that PR (though it took me a while to find the changes purporting to fix this in all the other noise; please create targeted PRs if you expect people to be able to review them).

I don't think that PR fixes this issue....

[2022-07-15 19:32] bzbarsky-apple commented on #19351
This code used to be in our tree, but was removed in #19291

[2022-07-15 19:32] #19351 closed

[2022-07-15 19:41] #19793 closed

[2022-07-15 20:17] manjunath-grl commented on #20713
@bzbarsky-apple sorry for the inconvinence from now on i will make dedicated PR for the issues , PR ([20821](https://github.com/project-chip/connectedhomeip/pull/20821)) is rebased and i modified [TC-LVL-2.2](https://github.com/project-chip/connectedhomeip/blob/53415c2ad4cfa98f51128209b5060427ac2dbc71/src/app/tests/suites/certification/Test_TC_LVL_2_2.yaml)

[2022-07-15 21:26] cjandhyala commented on #20713
@manjunath-grl if the default value is the same as the config value, this TC never catches the failure.  you need to have extra chk that, read the value from DUT, and make sure it does not match the config value that you will write in the next step. if they are the same, then you increment that value by 1 of the config value or write a different value. Then when you read next time, make sure the v

[2022-07-16 03:39] #20746 closed

[2022-07-16 03:57] manjunath-grl commented on #20713
@cjandhyala We currently do not have support for conditonal statements in the YAML framework, the one issue with incrementing the value by 1 is if the values is already the max configurable value it will cause an error when we increment it, By using the configuration section at least we can rerun the test case with a different values if the values are observed to be same. Let me know what you thin

[2022-07-16 06:40] kvikrambhat opened #20838 "Test Case Timeout for CI execution is causing failure for TC-CADMIN(MF) test cases"
#### Problem
Test case timeout of 120 seconds specified for running tests on CI is cashing TC-CADMIN(MF) test cases to crash.

 #### Proposed Solution
Increase timeout to 200 seconds to accommodate TC-CADMIN(MF) test cases

![image](https://user-images.githubusercontent.com/12559578/179343362-d4374d70-d2ed-45e1-b161-4517d4935f8f.png)

[2022-07-16 11:14] innovation-matters-iot opened #20844 "IdentifyType wrong value on boot of DUT"
#### Problem
A value of 0x01 for IdentifyType on the identify cluster:

0x01 | Light output | Light output of a lighting product.

 set by ZAP tool is read as value 0x02 by the DUT on boot.
![image](https://user-images.githubusercontent.com/94078875/179352419-f043af05-659c-4b1a-bf7f-b8d29199a6d2.png)
![image](https://user-images.githubusercontent.com/94078875/179352441-4d9f4e64-a886-4fbe-9bec-1583

[2022-07-16 14:00] Kxuan commented on #20714
Thanks.
will retest on Monday.

[2022-07-16 15:58] manjunath-grl commented on #20716
@bzbarsky-apple @yeccc please verify the test [TC-DGTHREAD-2.1](https://github.com/project-chip/connectedhomeip/blob/bd077fe03193899563ea86c63e9ec18b6da32485/src/app/tests/suites/certification/Test_TC_DGTHREAD_2_1.yaml#L31) and close the ticket

[2022-07-16 19:19] bluebin14 commented on #20787
As an additional side effect of the above, if ACL extension is not set then read-event access-control-extension-changed succeeds even without access, which fails certification of TC-ACL-2.9 step 11.

[2022-07-18 06:57] AlvinHsiao opened #20851 "TC-BINFO-2.1 Issue with writing '[{ 4 , 4 }]' value to Attributes"
#### Problem
It should be possible to run this test in the same way as in the test plan, but chip-tool does not accept write-by-id command with this value as the second argument:

 * actual behavior
 ubuntu@ubuntu:~/apps$ ./chip-tool basic write-by-id 0x0013 '[{ 4 , 4 }]' 10 0
[1658127024.709694][15427:15427] CHIP:TOO: Error parsing JSON for attribute-values:
[1658127024.710508][15427:15427] CHIP:

[2022-07-18 08:58] gjc13 opened #20862 "[Group] UDP endpoint bound to wrong interface when sending group messages"
#### Problem

When testing group messages in SVE, we found that chip-tool fails to send group multicast messages.

Test steps:

[code]

The multicast message was not sent after executing the `chip-tool onoff toggle` command.

The bug is caused by the UDP endpoint bound to an incorrect interface. The `IPv6Bind` function is called with a null interface during initialization and it turned out that mu

[2022-07-18 08:59] gjc13 commented on #20862
@jepenven-silabs Would you help to look at this issue?

[2022-07-18 10:13] aswathygrl commented on #20797
@andy31415  I  have provided this value (0xFFFF_FFFD_0000_0000 (i.e. 18446744060824649728) but still I am getting failure in the below commitid.

[2022-07-18 10:21] Kxuan commented on #20714
Verified. Step skipped as expected.

[2022-07-18 10:21] #20714 closed

[2022-07-18 12:10] Kikuchi7 opened #20864 "When trying to run the Python CHIP Controller, the error message "CHIP Error 0x000000AD: Open file failed" appears."
#### Problem
An error occurred while using the Python CHIP Controller according to the following link.
https://github.com/project-chip/connectedhomeip/blob/master/docs/guides/python_chip_controller_building.md

The problem occurred when I executed the commands in the checked portion of the image.
The content up to that point had been executed without problems.
![image](https://user-images.githubus

[2022-07-18 12:55] TheWalkingDead1024 commented on #19590
when Darwin API will support firmware update?

[2022-07-18 14:51] andy31415 commented on #15023
Is this required for v1.0? It looks like unfriendly message, however unsure about the "spec 1.0" tags. Is this a spec failure?

[2022-07-18 15:59] bzbarsky-apple opened #20869 "KeepSubscriptions handling does not match spec"
#### Problem
The spec says (in "8.5.2.3. Incoming Subscribe Request Action"):

and this is the only normative text around KeepSubscriptions.

But the SDK handles KeepSubscriptions before it ever tries to process the new subscription, hence will terminate existing subscriptions even if the new one is going to error out.  This does not match the spec.

 #### Proposed Solution
Follow the spec.

@mrje

[2022-07-18 16:11] bzbarsky-apple commented on #20838
@woody-apple @manjunath-grl @kvikrambhat The point is, tests that take longer than about 2 minutes to run _should not be running in CI_.  They should be marked as "manual" tests.  The whole point here was to avoid people adding new very laggy tests to CI.

Why was the timeout raised in #20821?

[2022-07-18 16:15] bzbarsky-apple commented on #20838
We should not be raising this timeout.  Multi-minute tests should not be running automatically in CI.

[2022-07-18 16:15] #20838 closed

[2022-07-18 16:21] bzbarsky-apple commented on #20844
The ZAP default is not used for identify in practice.  What matters is how the `Identify` is constructed.  How is it constructed in the case of this DUT @innovation-matters-iot ?

[2022-07-18 16:22] bzbarsky-apple commented on #20851
Where is this line coming from?  It's totally wrong.  What is it trying to do? @AlvinHsiao

@cjandhyala

[2022-07-18 16:28] bzbarsky-apple commented on #20851
I assume this is this test step:

If so, the correspoding command would be:
[code]

[2022-07-18 16:30] bzbarsky-apple commented on #20862
@gjc13 Are you running chip-tool on Mac or Linux?

[2022-07-18 16:53] krypton36 opened #20873 "[darwin-framework-tool] Add ability to set parameters in interactive OTA"
#### Problem
darwin-framework-tool has a possibility to set response status by a user within interactive mode. It also can have the ability to set the supported protocol. Finally, it can have the ability to set the delayed action time. All these features are currently not implemented and are a nice to have when testing with darwin-framework-tool.

 #### Proposed Solution
- Add the features above.

[2022-07-18 16:54] yunhanw-google commented on #20787
@erjiaqing , could you take care of this ticket? thanks

[2022-07-18 16:54] franck-apple commented on #20713
removing the 'request cert blocker' label, as it's a script issue.

[2022-07-18 16:54] franck-apple commented on #20734
removing the 'request cert blocker' label, as it's a script issue.

[2022-07-18 18:01] kowsisoundhar12 commented on #20719
@markus-becker-tridonic-com updated DGTHREAD scripts PICS values in this [PR](https://github.com/project-chip/connectedhomeip/pull/20876),please verify it once and close this issue

[2022-07-18 18:01] cecille commented on #20803
Agree - the omission of the verification step here in the test plan is intentional. chip-tool won't receive a response on its network if the network has been changed.

[2022-07-18 18:10] sankarselvam commented on #20790
@bzbarsky-apple and @andy31415  As per the spec, Target Struct shall not contain both an Endpoint field and a DeviceType field.  Table 80 and Table 81 in the spec section 9.10.5., (In PDF). Github section of spec is referred above.
Also the error handling section 9.10.6 mentions, Invalid Target element & both Endpoint and DeviceType fields present - will result in Constraint Error.
Please correct

[2022-07-18 18:13] Rajashreekalmane opened #20879 "[TC-LUNIT-3.1]When TH writes TemperatureUnit attribute value more than 2, DUT responds as success instead CONSTRAINT_ERROR."
**Test Case ID**
[TC-LUNIT-3.1] Read and Write Unit Localization Cluster Attributes [{DUT_Server}]

**Describe the issue:-**
As per test-plan test step 8 is expecting to write 5 to TemperatureUnit attribute  from TH to DUT,  DUT should responds with constraint error But currently it is responding as success.

 **expected behavior**:-CONSTRAINT_ERROR(0x87)
 * **actual behavior**:-Success(0x00)
 * *

[2022-07-18 18:17] bzbarsky-apple opened #20880 "Shutdown while there are live exchanges will crash"
#### Problem
During shutdown, we shut down the exchange manager, then the session manager.

Session manager shutdown evicts all sessions.

If there are exchanges waiting on a response timer, this will try to cancel the response timer, which will crash because we already shut down the exchange manager and that code is doing:
[code]
so we null-deref `mExchangeMgr->GetSessionManager()`.

<details>
<s

[2022-07-18 18:22] andy31415 commented on #20790
So test case should be corrected right?

Because the initial summary said the test to expect failure is:

[code]

Which seems like endpoint is set but device type is not.

[2022-07-18 18:28] tcarmelveilleux commented on #20149
We have means to generate this TLV. Both in Python and C++. Someone just has to do it once.

*This is not a unit-test case* --> The processing of extensions is per product and the core SDK does not itself process it, so we need to test the assumptions in cert

[2022-07-18 18:31] bzbarsky-apple opened #20882 "AdministratorCommissioning cluster not implemented per spec"
#### Problem
Several problems:
1. WindowStatus does not return WindowNotOpen during initial commissioning, as far as I can tell.  It should.
2. AdminFabricIndex and AdminVendorId don't return null when they should (i.e. any time status is WindowNotOpen).

Depending on how https://github.com/CHIP-Specifications/connectedhomeip-spec/issues/5473 is resolved that could be an issue too.

 #### Proposed

[2022-07-18 18:45] #20691 closed

[2022-07-18 18:49] tcarmelveilleux opened #20883 "Added GN dependency mistakenly added in #20824"
#### Problem
In #20824, some defines were moved out of `CryptoBuildConfig.h`. Because of this, some platforms that rely on those defines won't be able to see them. This did not break CI, but could break 3rd party users of SDK

 #### Proposed Solution
Bring back the previous `CryptoBuildConfig.h` behaviour.

[2022-07-18 18:59] somu1710 opened #20885 "[TC-BIND-2.1] - Binding entries for Endpoint 2 still showing the success response after removing the entries"
**Description:**

- In Binding cluster test case [TC-BIND-2.1] - writing binding entries to the two endpoints.**(Ex:Endpoint-1 and 2)**..Then,send the on command and checking the on/off value for both endpoints and got success.
- But After removing the binding entry for endpoint 2 ,send off command to both entries .Both endpoints receiving the success response and on/off attribute shows "FALSE" va

[2022-07-18 20:05] emargolis commented on #19068
There is no need to inject error into certificate when we need to generate NOC that doesn't chain up to the TrustedRootCertificates. In this case we just use different RootCertificate to sign ICAC.

Also, I don't think I understand the test cases listed in this ticket:
  - keyadded CAT tag
  - changed nodeID
  - changed subject public
These require clarifications.

[2022-07-18 20:26] #19699 closed

[2022-07-18 20:26] #20794 closed

[2022-07-18 20:26] #20796 closed

[2022-07-18 20:34] carol-apple commented on #20309
@Damian-Nordic It does look like OTA will call into the BDX time out code when the exchange times out. Would you care to experiment to see by calling `SetResponseTimeout`, we're actually catching the time out much sooner than the 5 min that is there currently?

[2022-07-18 21:08] yufengwangca opened #20892 "The related Switch attribute was not updated even though the event show the attribute has changed"
#### Problem
I tried with the commands what you had given above for the TC-SWTCH -3.2. I can able to send and kill the signal and reading the events but the current position attribute value is not changing .Here i executed like this , pls let me if i am wrong
1.Read the feature map
2.Read the number of positions
3.Send the signal using the above commands
4.Read the events got success
5. Read the c

[2022-07-18 21:13] martin-bv opened #20894 "TC-BINFO-2.1"
#### Problem
Test case FAILS even when the DUT send the correct response

CHIPTOOL   | 2022-07-17 13:39:05.216478 | [1658090338.792190][25:35] CHIP:DMG: ReportDataMessage =
CHIPTOOL   | 2022-07-17 13:39:05.218374 | [1658090338.792216][25:35] CHIP:DMG: {
CHIPTOOL   | 2022-07-17 13:39:05.219802 | [1658090338.792229][25:35] CHIP:DMG: 	AttributeReportIBs =
CHIPTOOL   | 2022-07-17 13:39:05.221070 | [16

[2022-07-18 21:18] bzbarsky-apple commented on #19306
Right, `discover commissionables` is indeed intended for mDNS discovery only right now, so we should not be using it for BLE discovery.

[2022-07-18 21:32] raju-apple commented on #20894
@martin-bv can you also attach the trace logs as well ?

[2022-07-18 23:33] eric-ocasio-nxp opened #20898 "DefaultOTARequestorDriver::GetMaxDownloadBlockSize() always returns 1024"
Looks like a simple typo. Should return  maxDownloadBlockSize.

[2022-07-18 23:55] #20763 closed

[2022-07-19 00:11] tatsutaigu commented on #20470
@dhrishi
`all-cluster-app` example on ESP32-C3 is working.
root cause is relation `chip-tool` and bluetooth adapter.

I inserted bluetooth dongle to USB and I choose dongle via `--ble-adapter` option on `chip-tool`, then `Timeout error` does not occur.

current `chip-tool` is degradation from [test_event_4_2021_07_06](https://github.com/project-chip/connectedhomeip/tree/test_event_4_2021_07_06/)

[2022-07-19 01:20] AlvinHsiao commented on #20851
@bzbarsky-apple It's from step 57 of TC-BINFO-2.1 of SVE1_TestPlanVerificationSteps_V1.2.

[2022-07-19 02:13] #20883 closed

[2022-07-19 02:52] aajain-com opened #20909 "[crash] chip::Messaging::ReliableMessageMgr::ExecuteActions()::$_2::operator()<chip::Messaging::ReliableMessageMgr::RetransTableEntry>(chip::Messaging::ReliableMessageMgr::RetransTableEntry*)"
#### Problem

Found the following crash during stability testing with SDK SHA `5d8599d195a93dfe5473f64e4f888c322e5df1d2`.

[code]

Apple reference: rdar://96999025

[2022-07-19 02:58] gjc13 commented on #20862
On Linux

[2022-07-19 02:58] gjc13 commented on #20862
On Linux

[2022-07-19 03:06] bzbarsky-apple commented on #20665
@dhrishi

[2022-07-19 03:13] bzbarsky-apple commented on #15023
Technically, yes.  The spec defines what error code should be returned here, and we are returning the wrong one.

The "unfriendly message" is just a consequence of how the error code gets logged by the other side, but the wrong error code is the spec issue.

[2022-07-19 03:21] bzbarsky-apple commented on #20790
What the spec is _trying_ to say is that those fields can't both be non-null at the same time.

I agree that it could be clearer about that.  Please raise a spec issue as needed.

[2022-07-19 03:50] bzbarsky-apple commented on #20851
@AlvinHsiao Please file an issue on the test plan verification steps.

[2022-07-19 04:28] tatsutaigu commented on #20537
I solved this issue.

https://github.com/project-chip/connectedhomeip/issues/20470#issuecomment-1181443365

https://github.com/project-chip/connectedhomeip/issues/20470#issuecomment-1181443365

[2022-07-19 04:28] #20537 closed

[2022-07-19 04:43] kvikrambhat commented on #20838
@bzbarsky-apple We took the call to increase the timeout to 3 minutes to accommodate the MF test scripts, We took the call as we a few PRs lined up for SVE, we will disable these test and reduce the timeout in the next PR.

[2022-07-19 04:44] tatsutaigu opened #20915 "[chip-tool] timeout error when commissioning"
`all-cluster-app` example on ESP32-C3 is working.
root cause is relation `chip-tool` and bluetooth adapter.

I inserted bluetooth dongle to USB and I choose dongle via `--ble-adapter` option on `chip-tool`, then `Timeout error` does not occur.

I feel current `chip-tool` is degradation from [test_event_4_2021_07_06](https://github.com/project-chip/connectedhomeip/tree/test_event_4_2021_07_06/) pyt

[2022-07-19 05:15] AlvinHsiao commented on #20851
Found it's fixed in SVE1_TestPlanVerificationSteps_V1.3 with aa9457e6b94b735076dff6297176183bf9780177.

[2022-07-19 05:19] Rajashreekalmane commented on #20879
For TemperatureUnit attribute should support only 0, 1, and 2 but currently If we try to write 3 to 255, the response is Success

[2022-07-19 06:00] raju-apple commented on #20838
@kvikrambhat Lets move that test case to manual list for CI. It will still be available for execution in TH since all the test steps are not disabled.

[2022-07-19 06:12] naveenkommareddi commented on #19341
We should label this issue with "Request Cert Blocker"

[2022-07-19 06:14] lazarkov commented on #19341
@balloob
What should be the device id for these two?
10.6 Casting Video Client is missing from matter_devices.xml
10.7 Video Remote Control is missing from matter_devices.xml

[2022-07-19 06:35] gjc13 commented on #19393
@kpschoedel In the SVE test the issue showed up again in group message tests.

In `SessionManager.cpp` we are cloning the packet buffer:

[code]

The `msg.CloneData()` fails because the pbuf does not fit in the packet buffer's memory model at all. We have to find a way to handle the lwIP pbufs with an isolated payload.

[2022-07-19 07:01] doublemis1 commented on #20803
I can look at that also but, I can see that extended and doesn't match
./chip-tool networkcommissioning connect-network hex:**1161111128222222** 1 0 --Breadcrumb 2 - extended panid 1161111128222222

./chip-tool networkcommissioning add-or-update-thread-network hex:0e080000000000010000000300000f35060004001fffe00208**1111111128222222**0708fd5930b7d8b62f58051000112233445562778899aabbccddeeff030e4f706

[2022-07-19 07:17] innovation-matters-iot commented on #20844
It was constructed the wrong way. Thanks for the help!

[2022-07-19 07:17] #20844 closed

[2022-07-19 08:00] markus-becker-tridonic-com commented on #20719
Verified. Thanks.

Note that not all attributes are not covered anymore: https://github.com/CHIP-Specifications/chip-test-plans/issues/1818.

[2022-07-19 08:00] #20719 closed

[2022-07-19 09:14] #20590 closed

[2022-07-19 10:07] zzz2016 opened #20927 "Is there a plan to support arm64 simulator on m1 device?"
Hi, guys.
I'm going to build the CHIP framework for arm64 simulator, but it failed with the message:
`ld: in /Users/zzz/Library/Developer/Xcode/DerivedData/CHIP-gdbowhebkylyoweuzksbppqwqxiy/Build/Intermediates.noindex/ArchiveIntermediates/CHIP Framework/IntermediateBuildFilesPath/CHIP.build/Release-iphonesimulator/CHIP.build/out/lib/libCHIP.a(libChipController.CHIPCluster.cpp.o), building for iOS

[2022-07-19 13:18] tcarmelveilleux commented on #20811
Assigning to @bzbarsky-apple to do the code-gen bits for the table once ZAP has the support (https://github.com/project-chip/zap/issues/609)

[2022-07-19 13:27] Ashwinigrl opened #20930 "[TC-DRLK-2.9] Door-lock Set Credential Command is returning User Index as NULL."
**1.Problem** -In TC-DRLK-2.9,  in Set Credential Command the value for the UserIndex is provided as 1 and the response is success but in the Set Credential Response the value of UserIndex is returned as NULL.

 **2.steps to reproduce**
./chip-tool doorlock set-user 0 1 xxx 6452 1 0 0 1 1  --timedInteractionTimeoutMs 1000

 ./chip-tool doorlock set-credential 0 '{ "credentialType" : 1 , "credentia

[2022-07-19 14:03] Damian-Nordic opened #20932 "Port spake2p tool to Python"
#### Problem
`spake2p` tool for generating Spake2+ verifier can be quite easily implemented in Python.
Python port would be more portable and easier to integrate in build systems.

 #### Proposed Solution
Tennessee has almost complete implementation. We just need to add command line parsing.

[2022-07-19 14:22] bzbarsky-apple commented on #20894
I don't think the DUT sent the right response here, based on that log.  I suspect that instead of sending `"in"` the DUT sent `"in\0"` (that is, mis-computed its string length and included the trailing null in the data it sent).

@martin-bv Can you please double-check what the DUT is actually sending?

[2022-07-19 14:29] bzbarsky-apple commented on #20898
@selissia @tcarmelveilleux @carol-apple

[2022-07-19 14:37] tcarmelveilleux commented on #20898
`** Maximum Block Size requested by OTA Requestors over non-TCP transports SHALL be no larger than 1024 (2^10) bytes. OTA Providers SHALL support the Maximum Block Size of at least 1024 bytes in those cases.`

^^^ I think the fact that a Provider must support 1024 max block size got extrapolated to "let's always test 1024". I agree it should be maxDownloadBlockSize

[2022-07-19 14:40] sankarselvam commented on #20790
Thanks @bzbarsky-apple  Aswathy raised a Spec issue for the devicetype and endpoint.
@aswathygrl  The test case needs to be modified for its expected value.

Step 40 :expected outcome is constraint error but result is Success.
Command to Verify:./chip-tool accesscontrol write acl '[{"fabricIndex": 1, "privilege": 5, "authMode": 2, "subjects": [112233], "targets": null}, {"fabricIndex": 1, "privile

[2022-07-19 14:42] bzbarsky-apple opened #20936 "Simplify enum checking in door lock code"
There are also some places in the door lock ([here](https://github.com/project-chip/connectedhomeip/blob/8e26081616d736cd0427bdf3846da4220d80ea0a/src/app/clusters/door-lock-server/door-lock-server.cpp#L290), [here](https://github.com/project-chip/connectedhomeip/blob/8e26081616d736cd0427bdf3846da4220d80ea0a/src/app/clusters/door-lock-server/door-lock-server.cpp#L300), [here](https://github.com/pro

[2022-07-19 14:45] bzbarsky-apple commented on #20927
@woody-apple @jtung-apple

[2022-07-19 15:38] bzbarsky-apple commented on #20930
@Morozov-5F

[2022-07-19 16:16] cjandhyala commented on #20851
closing the issue per @AlvinHsiao comments that it is fixed

[2022-07-19 16:16] #20851 closed

[2022-07-19 16:32] cjandhyala commented on #20800
@Survensa There seems to be an issue with the test setup. let me close this issue and we will reopen it if the issue still exits.

[2022-07-19 17:03] liamgonyea commented on #20385
@leorozendaal Do you have input on whether this is V1.0 or V1.x?

[2022-07-19 17:15] woody-apple commented on #20811
Cert Blocker Review: Moving this 1.1, given the current SDK is conformant with the spec, and we can live with the hardcoded version for now.

[2022-07-19 17:17] woody-apple commented on #20803
Cert Blocker Review: It appears that we may need to change the test plan. @cecille can you please file an issue against the test plan and close this one?

Thanks!

[2022-07-19 17:17] shubhamdp commented on #20453
@s-mcclain I tried adding a wifi network with WEP-64 and WEP-128 security and it worked in both scenarios.
Please check the attached logs [esp32_wep_commissioning.log](https://github.com/project-chip/connectedhomeip/files/9143237/esp32_wep_commissioning.log).
Commit : ea78432ae48db5832e203fa282116332d90f64df
Examples : all-clusters-app/esp32
Device : ESP32C3

Also, for further debugging can you pl

[2022-07-19 17:17] selissia commented on #20696
The attached log shows a single ApplyUpdateRequest received by the provider. This is correct behavior.

The test step states: "Once the update is finished, verify the software version from the Basic Information cluster on the DUT to match the version downloaded for the software update. Verify on the OTA-P/TH that there is no **other** ApplyUpdateRequest from the DUT."  -- the implication being tha

[2022-07-19 17:20] woody-apple commented on #20789
Cert Blocker Review: Assigning to @cjandhyala as well for retest.

[2022-07-19 17:21] woody-apple commented on #20731
Cert Blocker Review: Given bridge app is used for verification, we need to make sure the feature map is correct.

[2022-07-19 17:23] woody-apple commented on #20696
Cert Blocker Review: @pankore we believe this behavior is correct. Please re-open if necessary.

[2022-07-19 17:23] #20696 closed

[2022-07-19 17:26] woody-apple commented on #20385
Cert Blocker Review: For v1, no tooling is planned, we recommend using a hard coded payload. @bzbarsky-apple also has a recommendation as well for some alternative encoding that may work.

[2022-07-19 17:29] carol-apple commented on #20309
Spoke with @woody-apple and we'll take this for a v1 change but not into SVE branch.

[2022-07-19 17:31] #20614 closed

[2022-07-19 17:32] woody-apple commented on #20791
Cert Blocker Review: Assigning @bzbarsky-apple to take a look.

[2022-07-19 17:47] woody-apple commented on #20930
Cert Blocker Review: Assigning to @Morozov-5F

[2022-07-19 17:49] woody-apple commented on #20894
Cert Blocker Review: Assigning to @cjandhyala to follow up with the DUT, we believe this is a DUT issue.

[2022-07-19 17:51] woody-apple commented on #20885
Cert Blocker Review: Assigning cert blocker.

[2022-07-19 17:56] #20713 closed

[2022-07-19 17:57] woody-apple commented on #20734
Cert Blocker Review: This is not an SDK issue. Can you please make sure this is filed in the test harness repo.

[2022-07-19 17:57] #20734 closed

[2022-07-19 18:01] bzbarsky-apple commented on #20885
So looking at the [TC-BIND-2.1.txt](https://github.com/project-chip/connectedhomeip/files/9134547/TC-BIND-2.1.txt) log, I am pretty confused.  It's doing the following, via chip-tool:

1. Commission a device.
2. Open a commissioning window.
3. Write the binding attribute.
4. Send "On" command to endpoint 1.
5. Send "On" command to endpoint 2.
6. Read OnOff attribute on endpoint 1.
7. Write binding

[2022-07-19 18:04] chrisbeach59 commented on #20894
This is believed to be a TH issue.  The device reported correctly.  The Test case was passing manually, but failed when run in the TH.  Ticket should be against the TH, not SDK

[2022-07-19 18:06] chrisbeach59 commented on #20894
@woody-apple I didn't restore the cert blocker tag, but if the TH is failing it probably is.

[2022-07-19 18:14] #20716 closed

[2022-07-19 18:14] franck-apple commented on #20713
test script repo: https://github.com/CHIP-Specifications/chip-test-scripts

[2022-07-19 18:14] franck-apple commented on #20734
test harness repo: https://github.com/CHIP-Specifications/chip-certification-tool

[2022-07-19 18:18] bzbarsky-apple commented on #20885
OK, looking at the verification step spreadsheet linked above at https://docs.google.com/spreadsheets/d/1h4d4J90KAxFqUL_cXZHyM3pHjHCEXzFITkQhN2KMqDY/edit?pli=1#gid=608563054 (thank you for the link!), the verification steps are just wrong.  Filed https://github.com/CHIP-Specifications/chip-test-plans/issues/1831

[2022-07-19 18:26] carol-apple opened #20948 "Make MTRControllerFactory the OTA Provider Delegate"
#### Problem
Currently, the `MTRDeviceController` object is the OTA Provider Delegate. If there is more than one controller, this would be problematic.

 #### Proposed Solution
The `MTRControllerFactory` should be set as the OTA Provider Delegate. Each controller should then register with the factory and be notified whenever the factory receives OTA Provider commands.

cc: @bzbarsky-apple

[2022-07-19 19:29] #20661 closed

[2022-07-19 19:33] woody-apple commented on #20580
May be resolved with: https://github.com/project-chip/connectedhomeip/pull/20952

[2022-07-19 19:38] #20547 closed

[2022-07-19 19:40] woody-apple commented on #20481
@JourneyYoung thank you for the report! Can you please let us know what version of the framework the device is using? Does this happen on 15.6 developer releases?

[2022-07-19 19:40] #20481 closed

[2022-07-19 19:42] #20336 closed

[2022-07-19 19:49] phonnakasturi-apple commented on #20580
@woody-apple Just confirmed with SHA 56db839c1dd7c8426a060cbc0c9d68dc4145dbf5
The issue is still present

[2022-07-19 19:56] woody-apple commented on #18445
@tcarmelveilleux Anything remaining here that's needed? If so, we can move back into 1.0.

[2022-07-19 20:06] woody-apple opened #20955 "Need to move Matter.framework off of mbedTLS"
#### Problem
Matter.framework should not be using mbedTLS, let's get off of it.

 #### Proposed Solution
Adopt another

[2022-07-19 20:11] woody-apple opened #20956 "What happen with next version of Matter data model that want to add something stated 6 ?"
What happen with next version of Matter data model that want to add something stated 6 ?
same question apply  for all these enum.
When we iterate and add new feature or bump up enum list , then this might be an issue
I just wondering how this gonna be handled in the future

_Originally posted by @jmeg-sfy in https://github.com/project-chip/connectedhomeip/pull/20937#discussion_r924770608_

[2022-07-19 20:11] woody-apple commented on #20956
Note, filed this @jmeg-sfy

[2022-07-19 20:22] bzbarsky-apple commented on #20718
Hmm.  @tanyue518 If you run under a debugger can you at least see where chip-tool is crashing, exactly?

[2022-07-19 20:30] #20814 closed

[2022-07-19 21:01] #20479 closed

[2022-07-19 21:44] bzbarsky-apple commented on #20791
@Rajashreekalmane that's not a valid command....

[2022-07-19 21:51] bzbarsky-apple commented on #20791
And when I try `--out-format chip-hex`, the result fails server-side validation:
[code]

@turon @Rajashreekalmane what are the actual steps that should be happening here?

[2022-07-19 21:55] bzbarsky-apple commented on #20791
OK, so if I do:
[code]
and then get the cert from that file and do:
[code]
then I can reproduce.
[code]

[2022-07-19 22:39] #20898 closed

[2022-07-19 22:50] franck-apple commented on #20894
This is not an SDK issue. Can you please make sure this is filed in the test harness repo:  https://github.com/CHIP-Specifications/chip-certification-tool

[2022-07-19 22:50] #20894 closed

[2022-07-20 00:37] samadDotDev opened #20974 "[TC-CNET-4.21] all-cluster-app --thread ScanNetworks crash"
When running `all-cluster-app` with `--thread` flag of TH 1.3 image on RPi, there is a segmentation fault on `ScanNetworks` command. Note that this doesn't crash if only `--wifi` is enabled and returns the scan result correctly. Is there any thread configuration that needs to be set on Test Harness for these manual tests?

[code]

[code]

[2022-07-20 02:27] ZhongShangWen opened #20976 "nordic 平台light-switch-app&lighting-app Demo待机一晚均会出现死机现象"
**light-switch-app log**

![image](https://user-images.githubusercontent.com/36146106/179882177-f60829c2-1679-46a5-9f45-ffd57e1e0be3.png)

**lighting-app log**

![image](https://user-images.githubusercontent.com/36146106/179882590-d4cd4248-cfd3-4ea8-97bd-f63804f5b509.png)

[2022-07-20 02:30] ZhongShangWen commented on #20976
**chip commit 记录**
![image](https://user-images.githubusercontent.com/36146106/179882961-1a19eed3-7332-4450-a9f4-5d91e4e1af7d.png)

[2022-07-20 04:22] balloob commented on #19341
I do not know. I just noticed that it's missing.

[2022-07-20 04:25] bzbarsky-apple commented on #20956
See https://github.com/project-chip/connectedhomeip/pull/20937#discussion_r924979917

@mrjerryjohns and I don't think there's a problem here.

[2022-07-20 04:26] bzbarsky-apple commented on #20974
@samadDotDev If you run under a debugger, where is the crash happening?

[2022-07-20 04:34] bzbarsky-apple commented on #20385
In that case, the existing generator will work just fine.  Using 0x2d instead of 0x31 for the control tag for the string in the TLV above (2-octet-length UTF-8 string instead of byte string):
[code]
gives me:
[code]

[2022-07-20 04:43] bzbarsky-apple commented on #20838
I already did that in https://github.com/project-chip/connectedhomeip/pull/20870

[2022-07-20 04:48] bzbarsky-apple commented on #20894
I don't think it did @chrisbeach59 .  See this line in the log:

That's missing the close quote on the actual value, which is almost certainly because that actual value included an embedded null.

[2022-07-20 04:55] kvikrambhat commented on #20838
Thanks you,will make sure we dont increase it going forward.

[2022-07-20 04:57] bzbarsky-apple opened #20978 "Fix spec compliance issues in basic media player device type"
#### Problem
See https://github.com/project-chip/connectedhomeip/pull/20918#pullrequestreview-1044417378

 #### Proposed Solution
Fix XML to follow spec.

[2022-07-20 05:09] aswathygrl commented on #20790
@sankarselvam I will raise a test plan issue on TC-ACL-2.4 ,Step 40.

[2022-07-20 05:49] #20790 closed

[2022-07-20 05:50] chirag-silabs opened #20979 "[SVE1] Groups not working on latest sve branch"
#### Problem
Groups is not working on the latest master.

 * expected behavior
After adding a DUT into a group sending the group to group id changes the state of DUT as well

 * actual behavior
No change on the DUT side

 * steps to reproduce
./chip-tool groups add-group 0x0001 grp1 1122 1
./chip-tool groupkeymanagement key-set-write ''{""groupKeySetID"": ""0x42"",""groupKeySecurityPolicy"": 0, ""

[2022-07-20 06:02] Survensa commented on #20803
@doublemis1 Checked for extended panid but facing same issue :

1. `./chip-tool networkcommissioning connect-network hex:1111111107222222 48 0 --Breadcrumb 2`
2. `./chip-tool networkcommissioning add-or-update-thread-network hex:0e080000000000010000000300000f35060004001fffe0020811111111072222220708fd9957a92dadc7aa051000112233445966778899aabbccddeeff030f4f70656e54687265616444656d6f6a0102123404106ad

[2022-07-20 06:11] #20172 closed

[2022-07-20 06:46] #18034 closed

[2022-07-20 07:07] markus-becker-tridonic-com commented on #20384
For your reference, these are the commands I have been using for testing a MS switch:

[code]

[2022-07-20 07:17] Damian-Nordic commented on #20309
@carol-apple I think given that the exchange timeout automatically closes the exchange, if the spec says 5 minutes is the minimum (thanks for the pointer, I missed this requirement!) we can't set the exchange timeout to anything less than that. But maybe the BDX code could try to re-send `BlockQuery` message after a minute or so.

I suspect the 5-minute timeout comes from the fact that the OTA pro

[2022-07-20 08:36] mamehta commented on #19306
The steps I'm pointing to, though, where it doesn't work are intended to validate mDNS discovery.

[2022-07-20 10:41] Ashwinigrl opened #20991 "[TC-DRLK-2.9] Door-lock Get Credential Command is returning INVALID_COMMAND ."
**1.Problem**- In TC-DRLK-2.9, In Get Credential Command the value for credentialIndex in the range of  11 to 65534 is returning INVALID_COMMAND instead of NULL values.

 When the credentialIndex value is in the range of 1 to 10 is returning the NULL value even it is not set but if the value is between 11 to 65534 it is returning as INVALID_COMMAND instead of NULL value.

 **2. steps to reproduce*

[2022-07-20 10:49] somu1710 opened #20992 "[TC-BIND] - Binding cluster test case needs an reference app to modify and verify the state of the DUT"
**Problem**

- In Binding cluster test case [TC-BIND-2.1,2.2,2.3] Expects DUT to act as a controller after provisioning with TH1.
- This steps cannot be performed with the existing device [Raspi -All-cluster-app] . If there is an reference app to perform such provision it will be helpful to execute the test cases.
- Hence requesting for a reference app to verify this functionality.

**Test plan ss

[2022-07-20 11:43] rosahay-silabs commented on #20979
No that is related to the socket based implementation while the setup here works on the LwIP implementation. The LwIP implementation was fixed #20136 .

[2022-07-20 13:39] tcarmelveilleux commented on #20036
Assigned to @sujaygkulkarni-nxp

[2022-07-20 13:42] andy31415 commented on #20879
Seems very similar with CONSTRAINT_ERROR that we had to return for ACLs.

Taking this for now to see if we can get some generic solution (I would like to convert any INVALID_ARGUMENT into CONSTRAINT_ERROR).

I will also have to implement validation for the temperature values, I believe those will have to return INVALID_ARGUMENT interally.

[2022-07-20 14:09] chirag-silabs commented on #20979
Okay I have followed these steps. Still getting the same thing.

./chip-tool accesscontrol write acl '[{"fabricIndex": 1, "privilege": 5, "authMode": 2, "subjects": [112233], "targets": null },{"fabricIndex": 1, "privilege": 4, "authMode": 3, "subjects": [1], "targets": null }]' 1 0

./chip-tool groupkeymanagement key-set-write '{"groupKeySetID": 42, "groupKeySecurityPolicy": 0, "epochKey0": "d0d1

[2022-07-20 14:11] andy31415 commented on #20879
It seems these unit tests were not automated. I will automate this one for now.

[2022-07-20 14:15] shgutte opened #20996 "[EFR32] Commissioning is failing at commissioning step 13 : Unsupported certificate format"
#### Problem
While doing the commissioning using the BLE-wifi after resetting the DUT sometimes commissioning failed with an error unsupported certificate format. this is causing an interrupt in the automation testing of the test harness.

App used - lock app
Platform - Chip-tool - RPI-4, 8GB RAM
DUT - EFR32 + WF200 , EFR32 +RS9116
Network - Ble-wifi

Logs
[chip-tool-step13-error.txt](https://gith

[2022-07-20 14:22] #20979 closed

[2022-07-20 14:31] cjandhyala commented on #20384
@markus-becker-tridonic-com question is how are to triggering those events on reference apps. I believe your DUT generate those events by pressing keys on your DUT ?

[2022-07-20 16:06] krypton36 commented on #20771
Tested this issue by updating the framework and running the tool. Since RPATH takes precedence the issue does not occur.

[2022-07-20 16:06] #20771 closed

[2022-07-20 16:14] somu1710 commented on #20992
Closing this ticket as Invalid.

[2022-07-20 16:14] #20992 closed

[2022-07-20 16:37] andy31415 commented on #20879
I automated 3_1 yaml fully.

It turns out this is not running CHIP_ERROR, so no centralized solution was needed for this specifically.

[2022-07-20 17:03] bzbarsky-apple commented on #20991
@Morozov-5F

[2022-07-20 17:13] msandstedt opened #21007 "ValidateCertificateChain NotAfter checks not spec compliant"
#### Problem

The spec description of `Crypto_VerifyChainDER` has this special provision, which is not standard x509 path validation:

against the notBefore timestamp of the end-entity (leaf certificate) used as value for the current
time.

The sdk does actually implement these checks:

https://github.com/project-chip/connectedhomeip/blob/6d693f78b598426e2782a4ba3a5087e62d676e34/src/credentials/at

[2022-07-20 17:15] woody-apple commented on #19272
Cert Blocker Review: Naveen to follow up about this test case.

[2022-07-20 17:16] woody-apple commented on #20991
Cert Blocker Review: Assigning to @Morozov-5F for now, pending a new owner.

[2022-07-20 17:18] woody-apple commented on #20978
Spec Review: Required for v1.

[2022-07-20 17:26] woody-apple commented on #20869
Spec Review: Let's update the spec, given that's a smaller effort. @bzbarsky-apple to propose the spec change.

[2022-07-20 17:28] woody-apple commented on #20862
Spec Review: Assigning to @jepenven-silabs to take a look. thanks!

[2022-07-20 17:33] jepenven-silabs commented on #20862
@gjc13 @woody-apple I'll take a look, but this seems really platform/OS specific. I'll try to reproduce on my setup, but should I fail I suggest that we come up with a generic way to subscribe to a multicast interface.

Something along the line of : If an interface is not specified by the application layer, subscribe to all available interface.

@bzbarsky-apple you also ran into this on your side

[2022-07-20 17:38] carol-apple commented on #20309
Thanks @Damian-Nordic! I think the retry would be a great optimization that we can do in post v1. I don't believe as is, there's a clear API into BDX that allows us to retry so we'll need to put some thought into enabling that down the road. Moving this out of v1.

[2022-07-20 17:39] turon commented on #21007
Isn't this a spec issue?  "not standard x509 path validation" sounds scary or wrong.

[2022-07-20 17:42] woody-apple commented on #20677
Spec Review: We should follow up with a PR in the spec to mark this provisional. @bzbarsky-apple can you file a spec issue to cover say this needs to be marked provisional?

[2022-07-20 17:43] #20623 closed

[2022-07-20 17:47] woody-apple commented on #20081
Spec Review: Scenes are provisional for v1.0, however the XML does not match that. Marking v1.0.

[2022-07-20 17:48] woody-apple commented on #19923
Spec Review: Reference app should be fixed for 1.0

[2022-07-20 17:50] woody-apple commented on #19899
Spec Review: Assigning to @andy31415 to follow up, v1.0 issue.

[2022-07-20 17:50] woody-apple commented on #19898
Spec Review: @andy31415 to follow up, appears to be v1.0 if this is still an issue.

[2022-07-20 17:51] samadDotDev commented on #20974
@bzbarsky-apple, here is the backtrace:

[code]

[2022-07-20 17:53] woody-apple commented on #19066
Spec Review: Same as #20791

[2022-07-20 17:53] #19066 closed

[2022-07-20 17:56] mrjerryjohns commented on #19709
There is a linked [spec](https://github.com/CHIP-Specifications/connectedhomeip-spec/issues/5383) issue that @robszewczyk is going to help tackle to clarify this.

[2022-07-20 17:56] woody-apple commented on #18332
Spec Review: @doru91 any update on this? Is this still happening? We may need help digging in if so.

[2022-07-20 17:57] mrjerryjohns commented on #19709
If the wording shakes out the way I think it will based on chats with @robszewczyk, then there should be no extra work for the SDK to do.

[2022-07-20 17:57] woody-apple commented on #18332
Spec Review: Per @andy31415 there have been changes in min-mDNS can you please re-test this?

[2022-07-20 17:58] turon commented on #20996
Some initial log analysis:

[chip-tool]
[code]

NOCResponse(Status=3) is InvalidNOC from device.  I couldn't find the NOC bytes in the log.  Could you post the malformed NOC TLV hexstream to this issue?

[2022-07-20 18:01] woody-apple commented on #16025
Spec Review: @anush-apple can you please review this to see if this is a spec compliance issue, and/or if we should update the spec.

[2022-07-20 18:04] somu1710 opened #21009 "[TC-SC-3.6] - Reference app required to make DUT as controller"
**Description:**

- In Secure channel Test case[TC-SC-3.6], requires to verify DUT’s CaseSessionsPerFabric in CapabilityMinima is at least 3 in 5 different fabrics in which each fabric contains 3 reference devices.

- To execute this test case as it is, requires `15 TH's `and `one DUT. `

- If we develop the reference app, which can act as a controller, these controllers can be run  (bring-up) on

[2022-07-20 18:56] samadDotDev opened #21012 "[TC-BINFO-2.4] LeaveEvent emitted after Fabric removal"
The Basic Information's [Leave Event](https://github.com/CHIP-Specifications/connectedhomeip-spec/blob/master/src/service_device_management/BasicInformationCluster.adoc#leave-event) is attempted to be emitted after fabric removal which causes an ACL denial and therefore the report generation for event halts, returning an interaction status of Unsupported Access (`0x7e`).

[code]

This sequence is

[2022-07-20 18:59] revanthb28 opened #21013 "[TC-DRLK-3.2] Doorlock set-week-day-schedule : Error: IM Error 0x00000501: General error: 0x01 (FAILURE)"
DUT Build : 1.56.309107

Issue found on Chip-Tool Logs: Error: IM Error 0x00000501: General error: 0x01 (FAILURE)

Test-Case : DRLK 3.2

Test Step : 4

Expected Outcome: Test Harness receives the Set Week Day Schedule command from the DUT.

Command used : ./chip-tool doorlock set-week-day-schedule 1 1 2 15 45 16 55 1 1

Raspberrypi_Logs:

[1658341677.170130][2296:2296] CHIP:DMG: InvokeRequestMessa

[2022-07-20 19:08] pankore opened #21017 "[TC-IDM-4.3] KeepSubscription not working"
#### Problem
- TC-IDM-4.3 step 15
- TH sends a subscription request action for an attribute to the DUT with the KeepSubscriptions flag set to True. Activate the subscription between DUT and the TH. Initiate another subscription request action to the DUT for another attribute with the KeepSubscriptions flag set to False. Change both the attribute values on the DUT.
- DUT did not receive notificatio

[2022-07-20 19:25] turon commented on #20630
What are the replication steps?

[2022-07-20 19:25] turon commented on #20627
What are the replication steps?

[2022-07-20 19:26] turon commented on #20626
What are the replication steps?

[2022-07-20 19:29] turon commented on #20496
Perhaps make this a task list by appending `- [ ] ` to each item and consolidating the four items in the description?

[2022-07-20 19:35] turon commented on #20233
Can this be closed given both #20234 and #20465 have been merged?

[2022-07-20 19:35] bzbarsky-apple commented on #21013
Please attach the full client and server logs.

In particular: does the user this schedule is being set for actually exist? @revanthb28

[2022-07-20 19:39] pankore opened #21018 "[TC-TSTAT-2.2] Writing certain values within occupied-cooling-setpoint range fail"
#### Problem
- `./chip-tool thermostat read min-cool-setpoint-limit 1 1` returns 1600
- `./chip-tool thermostat write occupied-cooling-setpoint 1600 1 1` fails
- Writing values 1600 up to 2400 fail, writing 2400 will pass

[tstat-occupied-cooling-setpoint.txt](https://github.com/project-chip/connectedhomeip/files/9153973/tstat-occupied-cooling-setpoint.txt)

[2022-07-20 19:59] bzbarsky-apple commented on #19306
OK.  So what is the actual issue here?  The issue summary is talking about BLE.  Is there an mDNS issue?

[2022-07-20 20:12] #20677 closed

[2022-07-20 20:24] andy31415 commented on #21013
@revanthb28 please provide information about what was used (in this case I do not know what DUT was used: what platform and what app - if linux was it door-lock or all clusters)?

Also provide SHA and logs should be attached or if manually curated then please use backticks for nice formatting. Make this bug report easy for us to read and understand.

https://github.com/project-chip/connectedhomeip

[2022-07-20 20:50] mamehta commented on #19306
So, yes, to answer your question, this issue is actually about mDNS discovery, not BLE.

[2022-07-20 20:51] revanthb28 commented on #21013
HI All,

We are using DUT as Hub.
We are using an all-cluster-app

[2022-07-20 20:53] bzbarsky-apple commented on #20626
@turon This is coming from an automated crash reporting system, so the best we might have for steps so far is "Run a Matter device for a while".

[2022-07-20 21:07] bzbarsky-apple commented on #20862
Yes, Darwin had some issues here too.  I am not sure what the status there is.

[2022-07-20 21:11] bzbarsky-apple commented on #20894
Yes.

I suspect not.  Hence the changes in https://github.com/project-chip/connectedhomeip/pull/20934 to also print the length, not just the data up to the first null.

It's using the actual value, not the value that got printed.

It's not in cases when the DUT is including nulls in a char string (which is not a spec-compliant string, and the logging code does not handle this case of spec-non-comp

[2022-07-20 21:13] bzbarsky-apple commented on #20894
Note that we might be able to improve the logging to show nulls as `\0` or something like that.  Patches very much accepted...

[2022-07-20 22:29] sharadb-amazon commented on #20075
As part of this issue, add support to purge fabrics stored locally.

[2022-07-20 22:34] sharadb-amazon opened #21028 "Android tv-casting-app: Allow selecting a receiver after commissioning"
#### Problem
The Android tv-casting-app only allow sending media/casting commands to the TV that commissioned it. There is no way to send commands to one or multiple other TVs on the fabric.

 #### Proposed Solution
Update Android JNI APIs to allow setting the target (targetVideoPlayerInfo and endpointId) on the CastingServer. The casting/media commands would then be sent to the selected TV.

[2022-07-20 22:34] sharadb-amazon opened #21029 "iOS tv-casting-app: Allow selecting a receiver after commissioning"
#### Problem
The iOS tv-casting-app only allow sending media/casting commands to the TV that commissioned it. There is no way to send commands to one or multiple other TVs on the fabric.

 #### Proposed Solution
Update iOS MatterTvCastingBridge Framework to allow setting the target (targetVideoPlayerInfo and endpointId) on the CastingServer. The casting/media commands would then be sent to the sel

[2022-07-20 22:36] Garik098 opened #21030 "SVE1 testing: TC-SC-5.3 step 2 needs group message support in Darwin tool"
As per step 2 in TC-SC-5.3, we need to send a group message for which we don't have support currently in Darwin tool

<img width="1599" alt="Screen Shot 2022-07-20 at 3 35 19 PM" src="https://user-images.githubusercontent.com/34750871/180094050-cbd1a2c7-a7ca-4b47-8765-df61a07809a4.png">
<img width="1130" alt="Screen Shot 2022-07-20 at 3 36 18 PM" src="https://user-images.githubusercontent.com/3475

[2022-07-20 22:38] #21030 closed

[2022-07-20 22:38] sharadb-amazon opened #21031 "tv-casting-app: Generate PASEVerifier dynamically"
#### Problem
Current implementation uses a static version of the PASEVerifier

 #### Proposed Solution
TBD

[2022-07-20 23:24] liamgonyea commented on #20385
@bzbarsky-apple @leorozendaal that works for me to generate the random 1000 bytes of TLV data into a QR code, however `chip-tool` does not seem to support commissioning with this QR code, which it would be nice if `chip-tool` could be an example for here

[1658359318193] [3713:4181405] CHIP: [DL] _Init
[1658359318193] [3713:4181405] CHIP: [IN] UDP::Init bind&listen port=0
[1658359318193] [3713:418

[2022-07-20 23:30] #20791 closed

[2022-07-21 00:58] SteveCruise commented on #20976
兄弟加油，30w智能家居装修就等matter成熟了

[2022-07-21 01:26] bzbarsky-apple commented on #20869
Filed https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5484

[2022-07-21 01:27] #20869 closed

[2022-07-21 03:08] bzbarsky-apple commented on #20385
Ah, so... The generate-qrcode command uses Matter logging to print the resulting code, but Matter logging has a fixed-size buffer and can only log so much at once, so we are getting a truncated QR code.

The right QR code is:
[code]
and with that I run into bugs in our base38 decoder when the input is too long!  Will create a PR for that.

[2022-07-21 03:15] bzbarsky-apple commented on #20385
https://github.com/project-chip/connectedhomeip/pull/21037 fixes the parsing bug.

[2022-07-21 03:22] bzbarsky-apple commented on #19272
For what it's worth, the testcase looks correct to me....

[2022-07-21 03:30] tatsutaigu commented on #20915
Hi,
I use below commit ID, then It is resolved.

commit 513235823b2a1f6b5a299f71feef9e28c95dc1cf (HEAD -> master, origin/master, origin/HEAD)

[2022-07-21 03:30] #20915 closed

[2022-07-21 03:31] tatsutaigu commented on #20470
Hi,
I use below commit ID, then It is resolved.

commit 513235823b2a1f6b5a299f71feef9e28c95dc1cf (HEAD -> master, origin/master, origin/HEAD)

[2022-07-21 03:31] #20470 closed

[2022-07-21 03:55] bzbarsky-apple commented on #19306
Please file an issue with details: exact steps executed and logs from both sides.

[2022-07-21 04:02] bzbarsky-apple commented on #21013
@revanthb28 Again, please attach complete logs.

[2022-07-21 04:04] bzbarsky-apple commented on #21017
@pankore If it has those steps in that order, then yes.

[2022-07-21 05:05] revanthb28 commented on #21013
SHA : 4018ba49389dfa6fc3c78280a844b72dacaca140

``[1658355665.907008][14163:14166] CHIP:DMG: InvokeResponseMessage =
[1658355665.907029][14163:14166] CHIP:DMG: {
[1658355665.907049][14163:14166] CHIP:DMG: 	suppressResponse = false,
[1658355665.907068][14163:14166] CHIP:DMG: 	InvokeResponseIBs =
[1658355665.907093][14163:14166] CHIP:DMG: 	[
[1658355665.907111][14163:14166] CHIP:DMG: 		InvokeRespons

[2022-07-21 05:08] dhrishi commented on #19521
@mrjerryjohns @bzbarsky-apple Is this expected to work now? #17568 is fixed and a part of #17298 is open yet.

[2022-07-21 06:44] hiteshmathu commented on #20024
I m also looking for the same i.e Matter node to node data send. Have find any solution?

[2022-07-21 07:12] erjiaqing commented on #20787
After checking the code, the solution should be:

Before actually generating events, iterate through the interested paths of the read handler, and if we don't have enough privilege for reading the event, emit UNSUPPORTED_ACCESS and drop the path.

One thine we need to take care of is we may run out of buffer when encoding these status IBs.

[2022-07-21 07:47] #20683 closed

[2022-07-21 09:56] bluebin14 commented on #20787
@erjiaqing emitting UNSUPPORTED_ACCESS per path as opposed to per event actually needs much less buffer so it should work.

[2022-07-21 11:31] #20811 closed

[2022-07-21 13:01] bzbarsky-apple commented on #21029
Is this about Android or iOS?  Summary says Android, text says iOS, but then talks about JNI....

[2022-07-21 13:04] bzbarsky-apple commented on #21018
@pankore Does the server have the AUTO feature enabled?  If so, there are lower-bound constraints on OccupiedCoolingSetpoint other than MinCoolSetpointLimit.

[2022-07-21 13:12] bzbarsky-apple commented on #21013
@revanthb28 That is not a complete log, nor is it an attachment (as opposed to paste).  A complete log will be much larger (hence attach, not paste) and will include in it every single chip-tool or other test harness command that was executed as part of reproducing this problem, starting with the "pariring ...." command, not just a single response payload.

Because again, I suspect this test is no

[2022-07-21 13:13] bzbarsky-apple commented on #19521
@dhrishi On tip as of today the expectation is that the first communication attempt after the reboot fails, and subsequent ones work.

[2022-07-21 13:13] doublemis1 commented on #20803
Hi, I was able to reproduce it.
The Border Router 1 and Border Router 2 are within the same network (not Thread Network) and may discover its services by DNS.  Thats way after connect DUT to the Border Router 2  network, the DUT informs that SRP services already existis (existing on Border Router 1).
[code]

I was able to pass this test when I depend only on docker networks by that way the border

[2022-07-21 14:25] s-mcclain commented on #20453
@shubhamdp Hey there, I actually just tested this out again on WEP-64 security and it looks like it was able to work successfully after all. Sorry about the confusion, I'll go ahead and close this out as I cannot reproduce this issue.

[2022-07-21 14:25] #20453 closed

[2022-07-21 15:08] leorozendaal opened #21052 "`./chip-tool basic write node-label '"newnode"' 1 0` fails"
#### Problem
Test case [TC-BINFO-2.1] uses commands like
`./chip-tool basic write node-label '"newnode"' 1 0`
to try to write to readonly attributes which have string type (this is a 'negative' test)
The command as given does not work and yields an error message.  (For the integer attributes it works as expected)

 #### Proposed Solution
provide an alternative that works in chip-tool so we can exe

[2022-07-21 15:17] leorozendaal commented on #21052
update - this is depending on the quotes which is VERY hard to see in the verification steps document

[2022-07-21 15:17] #21052 closed

[2022-07-21 16:32] Jozott00 commented on #19942
@nekteckIOS How did you solved it?

[2022-07-21 16:45] franck-apple commented on #20731
@jwinder-ca is looking at this.

[2022-07-21 17:12] revanthb28 commented on #21013
HI [bzbarsky-apple](https://github.com/bzbarsky-apple)

Thanks for your feedback.

 again re tried with network commissioning with all-cluster app, setting the user. chip-tool doorlock set-user 0 1 null null null null null 1 1 --timedInteractionTimeoutMs 1000

I am no longer hitting the issue.

[1658422774.317173][9533:9633] CHIP:DMG: InvokeResponseMessage =
[1658422774.317296][9533:9633] CHIP:DMG

[2022-07-21 17:12] #21013 closed

[2022-07-21 18:38] liamgonyea opened #21069 "[SVE1][TC-IDM-4.1] darwin-framework-tool Support for `--data-version` argument for `on-off subscribe` command"
#### Problem
`darwin-framework-tool` support is needed for TC-IDM-4.1 Step 11 to "start another subscription with the DataVersionFilter field set". Current implementation does not show support for this argument in `darwin-framework-tool`
[code]

<img width="1035" alt="image" src="https://user-images.githubusercontent.com/80923273/180287753-ec63e2bf-8077-492d-8037-88a26a4d266d.png">

[[TC-IDM-4.1]

[2022-07-21 20:03] pankore commented on #21018
Thanks, I overlooked this in the specs. My auto feature is enabled. Closing this issue.

[2022-07-21 20:03] #21018 closed

[2022-07-21 20:33] bzbarsky-apple commented on #21069
The Darwin framework MUST NOT add support for sending a data version with read/subscribe requests until it adds support for reporting data versions along with read/subscribed data.  Which right now it does not have.  And it's not required to have any of that support, afaict....

Filed https://github.com/CHIP-Specifications/chip-test-plans/issues/1894 on the test plan.

[2022-07-21 20:33] pankore opened #21076 "[TC-G-2.2] Unsupported access when adding multiple groups"
#### Problem
- In the setup steps, we are required to do `key-set-write`, then do `write group-key-map` for all the groups.
- After doing that for groups 1, 2, 3, 4, doing `add-group` for 1, 2 and 3 will result in unsupported access.
- `add-group` for 4 returns success.

[tc-g-2.2.txt](https://github.com/project-chip/connectedhomeip/files/9162614/tc-g-2.2.txt)

[2022-07-21 20:41] #17400 closed

[2022-07-21 21:01] franck-apple commented on #21017
@pankore looks like a test plan issue, so closing the SDK issue. Please file an issue against the test case repo.

[2022-07-21 21:01] #21017 closed

[2022-07-21 21:03] #20879 closed

[2022-07-21 21:19] bzbarsky-apple commented on #21076
OK, so the actual commands executed here are:
[code]
which adds the keys, for keyset 42
[code]
which binds keyset 42 to group id 1.
[code]
which re-binds keyset 42 to group ids 2, 3, 4.  After this group id 4 has keys associated, and the other group ids do not.
[code]
which will fail becuase group 1 has no group id.

You probably want to do something more like this:
[code]

If those group-key-map

[2022-07-21 21:19] #21076 closed

[2022-07-21 21:45] #20731 closed

[2022-07-21 21:51] mrjerryjohns opened #21084 "Fabric deletion should synchronously clean-up all relevant IM objects"
#### Problem

Fabric deletion doesn't actually synchronously clean-up affected IM objects today. They each discover this implicitly when they get around to allocating exchanges off of a session that no longer exists.

#### Solution

Register for `OnFabricChanged` in the IM engine, and use that to drive the clean-up.

[2022-07-21 21:53] franck-apple commented on #20384
assigning to @markus-becker-tridonic-com and @somu1710 for feedback.

[2022-07-21 22:28] chrisbeach59 commented on #19306
I am seeing this same issue with my DUT BLE/Wifi.

[2022-07-21 22:48] chrisbeach59 opened #21086 "Update TSTAT2.2 to support absolute extremes for setpoints"
Test script bases setpoints and limits based on default abs min/max limits.
While this is reasonable for household thermostats, the cluster could be used for something like a freezer or oven, in which case the limits would be different.

To keep the test case automated, the abs min max setpoints must be read and used as input to other test steps.
This also means that the test harness must handle m

[2022-07-21 22:58] sharadb-amazon commented on #21029
Updated title/description. This is for iOS.

[2022-07-22 00:15] liamgonyea opened #21089 "[SVE1][TC-CNET-4.20] TH All-clusters-app unable to scan for surrounding networks"
#### Problem
When testing DM (Device Management) cluster TC-CNET-4.20, Step 1, chip-tool runs `./chip-tool networkcommissioning scan-networks 1 0` to have TH=all-clusters-app scan for available networks. It cannot find any available networks so then Steps 3, 4, and 6 fail because there are no networks.

Currently at SVE1 building with at least 2 known routers in addition to the one the raspi/mac a

[2022-07-22 01:04] mmt-10 opened #21091 "[Android] QR code scanner does not work on CHIPTool app."
#### Problem
 * actual behavior
QR code scanner does not work on CHIPTool App.

 * steps to reproduce

1. Show QR CODE : https://project-chip.github.io/connectedhomeip/qrcode.html?data=MT%3AXXXXXXXXXXXXXXXXXXX
2. Press `SCAN QR CODE` or `PROVISION CHIP DEVICE WITH WI-FI` on Android app
3. Camera is starting, however, it does not detect QR CODE

 * system configuration
connectedhomeip : commit 5132

[2022-07-22 01:14] cjandhyala commented on #19306
@chrisbeach59 The 'chip-tool discover commissionables' is meant for mDNS discovery only right now. If you need to test the BLE , you will need to use HCIdump or 'nrfconnect app' or similar app. we will have the test plan author correct the issue.

pls file a ticket in test plans repo if you don't see this fixed in the next version. since Its not an SDK issue, I am closing it. Pls re-open If you th

[2022-07-22 01:14] #19306 closed

[2022-07-22 01:15] tatsutaigu opened #21093 "[Android] "pairing fail" occurs after save network on CHIPTool app."
#### Problem
 * actual behavior
`pairing fail` occurs after save network on CHIPTool app.
 * steps to reproduce
1. Press `PROVISION CHIP DEVICE WITH WI-FI`
2. Enter Payload MTxxxxx in bottom box
3. Press `SUBMIT`
4. Enter WiFi SSID and Password
5. Press `SAVE NETWORK`
6. Start pairing and find device, but pairing fail

 * system configuration
connectedhomeip : commit https://github.com/project-chi

[2022-07-22 03:11] bzbarsky-apple commented on #21086
For what it's worth, our YAML bits do in fact support arithmetic on saved values and whatnot.  See src/app/tests/suites/certification/Test_TC_LVL_5_1.yaml for an example (with MinlevelValue).

[2022-07-22 03:28] bzbarsky-apple commented on #21089
The ScanNetworksResponse is coming back with `UnknownError`, right?

Does the RasPi have wpa_supplicant installed @liamgonyea ?

[2022-07-22 03:29] bzbarsky-apple commented on #21089
Fundamentally, `ConnectivityManagerImpl::StartWiFiScan` just doesn't have nearly enough logging on the error paths...

[2022-07-22 06:22] AlvinHsiao opened #21096 "[SVE1][TC-ACL-2.10] Step 8 Return CONSTRAINT_ERROR rather than SUCCESS"
## Problem
Step 8 Return CONSTRAINT_ERROR rather than SUCCESS.

## Steps:
./chip-tool accesscontrol write extension '[{"data":"1000110010001100"}]' 11 0

## system configuration :
Chip-Tool: RPI
DUT used : Infineon CYW30739
app use: Lighting-app
chip-tool and DUT commit id : https://github.com/project-chip/connectedhomeip/commit/d24168c36f505cb0b710095452b1422b477c018c (sve SHA)

## Logs:
[TC-ACL-

[2022-07-22 07:20] markus-becker-tridonic-com commented on #20384
indeed on our DUT we do that.

Issue https://github.com/project-chip/connectedhomeip/issues/19923 was created before https://github.com/project-chip/connectedhomeip/pull/20560. Have not checked what the current state of switch support in all-clusters-app is.

It seems https://github.com/project-chip/connectedhomeip/pull/20560 has instructions to trigger events. The events are listed in https://git

[2022-07-22 07:50] manogna-silabs opened #21099 "[TC-SU-2.2] When we try to update with older version or same version, transfer of image should never happen."
Description: When we try to update with older version or same version, transfer of image should never happen.

Steps to reproduce the issue:
Provider:
1.  ./src/app/ota_image_tool.py create -v 0xFFF1 -p 0x8005 -vn 2 -vs "1.0" -da sha256 ota.gbl otaImage.ota

Chip-tool:
2. ./chip-tool pairing onnetwork 1 20202021

STEP-4:
./chip-tool pairing onnetwork-long 321 20202021 3841

STEP-5:

./chip-tool ac

[2022-07-22 08:03] doublemis1 commented on #20803
Currently, the SRP Replication feature is not supported on the current Thread 1.3, hence the border routers from two separate Thread Networks can discover its services within a local network (using backbone interface) but synchronization and replication handling are not implemented.

[2022-07-22 08:46] Damian-Nordic opened #21101 "[Thread] Changing/reverting operational dataset leaves stale SRP services"
#### Problem
Consider the following scenario:
1. Commissioning of a Thread device begins.
2. In the network commissioning phase, the device joins a Thread network and registers its DNS services using SRP.
3. The commissioner fails to discover the operational service, or communicate with the device due to a network failure.
4. Failsafe on the device expires and the device removes its Thread operati

[2022-07-22 08:49] Damian-Nordic commented on #21101
@bluebin14 @tcarmelveilleux @jwhui @abtink @LuDuda @jmartinez-silabs I'm not sure what's the best way forward, so your comments are welcome :)

[2022-07-22 09:22] manogna-silabs opened #21103 "TC-CGEN-2.3 test steps are missing."
TC-CGEN-2.3 test steps are missing in the latest excel sheet.

https://silabs.sharepoint.com/:x:/s/MatterCHIPAlpha/ERtCQcDJjkxDivLQSH_NtOUBvojI8G3lcG-21dzg7TPjzg?e=ODi3Ok

Thanks,
G. Manogna

[2022-07-22 10:30] sethunk commented on #20862
@gjc13 Kindly swap step-3 and step-4 so that the group can be added successfully otherwise the response for addgroup will be UNSUPPORTED_ACCESS.

Have attached the logs by executing the above commands in the following order to send multicast messages.

[2022-07-22 12:24] kpark-apple opened #21106 "Crash when accessory reboots during pairing"
#### Problem
Controller crashes when accessory was rebooted during pairing.

Steps to repro:
1. Start pairing accessory.
2. Reboot the accessory before pairing is complete.

Configuration:
SHA 5d8599d195a93dfe5473f64e4f888c322e5df1d2

Backtrace is as follows:

[code]

[2022-07-22 12:27] bluebin14 commented on #21101
Once the Thread network is successfully joined, for consistency failsafe expiry should not cause deleting Thread network credentials, just like removing the last peer doesn't. Then you don't need an "expiry in progress state" or other workarounds that may introduce new bugs. There is a removeNetwork command, the controller can use it if needed.

[2022-07-22 12:35] Damian-Nordic commented on #21101
That would be against the spec which mandates that the failsafe expiry should have the following effect (among others):

[2022-07-22 13:28] shgutte opened #21107 "[EFR32] [TC-DRLK-1.1] Door lock feature map is return wrong value"
#### Problem
Feature map suppose to return the future map value as 435 According to the test plan and Test harness

Actual output:
FeatureMap: 3507

Expected output:
FeatureMap: 435

Tested on sve branch commit ID: bcdfbfa7f3fea45e32f2e5acb4f793bb4ac8a66b

App used - lock app
Platform - Chip-tool - RPI-4, 8GB RAM
DUT - EFR32 + WF200 , EFR32 +RS9116
Network - Ble-wifi
Endpoint: 1

Chip-tool-logs
[f

[2022-07-22 14:15] bluebin14 commented on #21101
Leaving a dangling SRP advertisement is much worse from usability perspective than adhering to a spec inconsistency as compared to removeFabric behavior for last peer. The spec requirement even implies resetting network configuration when there are other accessing peers, so it should be removed from the spec.

[2022-07-22 14:19] Damian-Nordic commented on #21101
Could elaborate more on how exactly it impacts the usability? Or what are your assumptions? Do you assume that the commissioner keeps using the same node ID on each commissioning attempt?

[2022-07-22 14:33] bluebin14 commented on #21101
It impacts SRP server operation when the situation repeats, eventually being refused (as seen in uart log). Physically resetting a border router such as HomePod to clear the entries is a major disruptive operation. Better to have a software solution that tears down things cleanly.

[2022-07-22 14:38] bzbarsky-apple commented on #21096
Spec says:

The data being passed in here is not a TLV list, so the server returns CONSTRAINT_ERROR.  Where did this `"1000110010001100"` data come from @AlvinHsiao ?

[2022-07-22 14:38] #21096 closed

[2022-07-22 14:39] bzbarsky-apple commented on #21099
@tcarmelveilleux @carol-apple @selissia

[2022-07-22 14:50] #16140 closed

[2022-07-22 14:56] bzbarsky-apple commented on #21101
For what it's worth, failsafe cleanup is in fact async from the failsafe's point of view.  It has a "not armed, but not fully disarmed; disarming in progress" state.  What's missing is a way to keep it in that state for a bit while async disarm work happens.  We could add such a way....

[2022-07-22 15:01] bzbarsky-apple commented on #21103
This is not the right repo for issues in the excel sheet.

@cjandhyala What is the right repo?

[2022-07-22 15:20] bzbarsky-apple commented on #21107
`435 == 0b000110110011` means PIN, RID, SCH, DPS, COTA, USR.

`3507 == 0b110110110011` means PIN, RID, WDSCH, DPS, COTA, USR, YDSCH, HDSCH after https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5312 is applied.  the SDK implements the state after that PR.

[2022-07-22 15:32] cjandhyala commented on #21103
Correct, The TC is removed in the test plans, hence not there in the excel sheet. For any test plan and steps issue, pls file issue in test plans repo. closing the ticket here.

[2022-07-22 15:32] #21103 closed

[2022-07-22 16:47] bzbarsky-apple commented on #21106
Steps to reproduce, which work on both that SHA and one from yesterday (94f89745321eb74c7f8c9ad179d9b66744420bc0):

1. Compile `chip-all-clusters-app`.
2. Modify `DeviceCommissioner::PerformCommissioningStep` by inserting `sleep(5)` right after `case CommissioningStage::kSendNOC:`.
3. Compile `chip-tool`.
4. Run `chip-all-clusters-app`, which should enter pairing mode.
5. Run `chip-tool interactiv

[2022-07-22 16:56] cjandhyala commented on #20789
per @aswathygrl this is working. hence closing the issue.

[2022-07-22 16:56] #20789 closed

[2022-07-22 17:13] woody-apple commented on #21107
Cert Blocker Review: The SDK implements the coming version of the spec in the PR @bzbarsky-apple lists above. We believe no further SDK changes are needed, please re-test when the spec is updated.

[2022-07-22 17:13] #21107 closed

[2022-07-22 17:14] woody-apple commented on #21099
Cert Blocker Review: @selissia to take a look

[2022-07-22 17:16] woody-apple commented on #21012
Cert Blocker Review: Boris to take a look.

[2022-07-22 17:21] woody-apple commented on #21009
Cert Blocker Review: @cjandhyala to follow up with @vivien-apple for possibly how to implement this using the tools we have today.

[2022-07-22 17:24] liamgonyea commented on #19306
Verification steps for the applicable steps throughout the test plan have been updated to not use `./chip-tool discover commissionables` when discovering BLE device advertisements

[2022-07-22 17:25] selissia commented on #21099
It doesn't look like the update image was built with CHIP_DEVICE_CONFIG_DEVICE_SOFTWARE_VERSION set to 2. @manogna-silabs , please double-check

[2022-07-22 17:30] woody-apple commented on #20384
Cert Blocker Review: @markus-becker-tridonic-com Is this a real DUT failing? This current issue is tracking reference apps only.

Can we better understand the setup that we're testing here?

[2022-07-22 17:39] bzbarsky-apple opened #21120 "DeviceCommissioner does not handle async operations across commissioning stop/start correctly"
#### Problem
DeviceCommissioner kicks off various un-cancelable async operations (device attestation verification, NOC issuance, commands sent via the InteractionModel.h/CHIPCluster.h APIs).  If the consumer calls `StopPairing` and then starts a new commissioning process during one of these async operations, when the operation result comes back it will be applied to the wrong commissioning process

[2022-07-22 17:40] bzbarsky-apple commented on #21106
Filed https://github.com/project-chip/connectedhomeip/issues/21120 on some other issues I discovered while debugging this.

[2022-07-22 17:43] woody-apple commented on #17208
Spec Issue Review: Assigning @bzbarsky-apple to confirm if there's any remaining work, and close if not.

[2022-07-22 17:45] woody-apple commented on #14709
Spec Issue Review: @vivien-apple should we close this then?

[2022-07-22 17:49] woody-apple commented on #4321
Issue Review: Per discussion, we can close this, we don't believe this is an issue anymore.

[2022-07-22 17:49] #4321 closed

[2022-07-22 17:50] woody-apple commented on #4407
Issue Review: Out of time and not critical, moving this out of v1.0.

[2022-07-22 17:51] woody-apple commented on #5410
Issue Review: Closing based on @emargolis's feedback.

[2022-07-22 17:51] #5410 closed

[2022-07-22 17:53] woody-apple commented on #9726
Issue Review: @mrjerryjohns to follow up.

[2022-07-22 17:53] woody-apple commented on #9887
Issue Review: Closing, given this is an older issue. Please re-file if this still an issue.

[2022-07-22 17:53] #9887 closed

[2022-07-22 17:54] woody-apple commented on #10337
Issue Review: Closing issues prior to TE8. Please re-file if this is still an issue on newer SDKs

[2022-07-22 17:54] #10337 closed

[2022-07-22 17:54] yunhanw-google commented on #9726
not be the issue now.

[2022-07-22 17:54] #9726 closed

[2022-07-22 17:54] woody-apple commented on #10653
Issue Review: We believe this is complete in the current SDK, can you please verify, and re-open if this is still an issue?

[2022-07-22 17:54] #10653 closed

[2022-07-22 17:55] woody-apple commented on #10885
Issue Review: Closing, this is an old issue. Please re-open if this is still a problem.

[2022-07-22 17:55] #10885 closed

[2022-07-22 17:55] woody-apple commented on #10980
Issue Review: Closing old issues prior to PreSVE, please re-test with a newer SDK and let us know if this is still happening.

[2022-07-22 17:55] #10980 closed

[2022-07-22 17:56] woody-apple commented on #11181
Issue Review: Closing old issues prior to PreSVE, please re-test with a newer SDK and let us know if this is still happening.

[2022-07-22 17:56] #11181 closed

[2022-07-22 17:56] woody-apple commented on #11248
Issue Review: Closing old issues prior to PreSVE, please re-test with a newer SDK and let us know if this is still happening.

[2022-07-22 17:56] #11248 closed

[2022-07-22 17:58] woody-apple commented on #21084
Issue Review: Keeping in v1.0 for now.

[2022-07-22 18:02] woody-apple commented on #21120
Issue Review: Assigning to @bzbarsky-apple to take a look to see if this can be done for 1.0

[2022-07-22 18:07] bzbarsky-apple commented on #20385
@liamgonyea Are you good here now?

[2022-07-22 18:22] jmartinez-silabs commented on #21101
In the case, there is a failsafe and the device thread attachment was complete, I feel like we should create a mechanism to unregister the services. Once the removeSrpService is sent then you can delete the thread dataset.

How would the new commissioning attempts start before the thread dataset is cleared? I believe you wouldn't be advertising already.

Unsure about the complexity it adds to the

[2022-07-22 18:49] mrjerryjohns opened #21125 "Client-side logic doesn't send `InvalidSubscription` error back correctly"
#### Problem

If a report is received that doesn't match any existing subs present on the client, the SDK today doesn't send back an `InvalidSubscription` error. Instead, it just sends back a StatusResponse containing success.

This violates the spec.

[2022-07-22 19:19] bluebin14 opened #21128 "PASE enums used in the SDK do not match the spec"
#### Problem
PASE enums used in the SDK do not match the spec. In particular PASE_PakeError has been removed long ago from the spec and replaced by StatusReport.

 #### Proposed Solution
Align SDK with the spec.

[2022-07-22 20:16] cm-s-dev opened #21129 "[SVE1][TC-CNET-4.20] TH All-clusters-app crashes when receiving wifi connect request"
**Problem**
For CNET 4.20, step 5 send connect-network command causes TH to crash with segfault after receiving wifi connect information.

**TH Log Snippet**
`CHIP:DMG: Received command for Endpoint=0 Cluster=0x0000_0031 Command=0x0000_0006
CHIP:NP: LinuxNetworkCommissioningDelegate: SSID: MyTest$▒֠▒,;▒Q▒▒}▒▒u▒1824ff0118
./allclust.sh: line 1:  1431 Segmentation fault      sudo ./apps/all-cluster-

[2022-07-22 20:41] aajain-com opened #21130 "[crash] Matter:chip::Controller::DeviceCommissioner::CommissioningStageComplete"
#### Problem
Crash seen during stability testing with SHA `aa9457e6b94b735076dff6297176183bf9780177`

[code]

[code]

The only two relevant log lines I could find in the the system at the time of crash.
[code]

Apple reference: rdar://97444152

[2022-07-22 20:46] tcarmelveilleux opened #21131 "DeviceInfoProvider leaks storage"
#### Problem
- DeviceInfoProvider allows the UserLabel list to be set per endpoint
  - Default impl in `examples/providers/DeviceInfoProviderImpl.cpp`  stores current list size as one key, and all the entries for that endpoint as separate keys

The problems this causes are as follows:
- If the list is written with N entries, it takes N+1 PersistentStorageDelegate entries instead of possibly 1-2: 1

[2022-07-22 21:38] Garik098 opened #21134 "SVE1 testing: TC-MediaInput-3.17 rename-input output shows 0x01 failure response"
As per the test step 1 in TC-MediaInput-3.17, ./chip-tool mediainput rename-input 1 'DVD' 1 1 command output is giving failure response while the expected outcome should be a success response.

Below is the log for the same.

shyam@shyams-MacBook-Pro debug % ./chip-tool mediainput rename-input 1 'DVD' 1 1
[1658524832134] [23667:587168] CHIP: [DL] _Init
[1658524832134] [23667:587168] CHIP: [IN] UDP

[2022-07-22 22:12] emargolis commented on #17208
The first TODO became obsolete and was removed in #21060
The second TODO was addressed in #20562
This ticket can be closed

[2022-07-22 22:29] jepenven-silabs commented on #13824
Fixed : https://github.com/project-chip/connectedhomeip/pull/19104

[2022-07-22 22:29] #13824 closed

[2022-07-22 23:49] liamgonyea opened #21139 "`all-clusters-app` not correctly taking `--vendor-id` input into QR code generation"
#### Problem
When running `./out/all-clusters-app/chip-all-clusters-app --vendor-id 6524` the `chip-all-clusters-app` does not change the value of the `--vendor-id` from the default `65521` to `6524 ` when displaying the QR/ Manual codes for pairing the sample accessory. Additionally, after the device is paired, the `--vendor-id` is still not reflected in `./darwin-framework-tool basic read vendor

[2022-07-23 00:26] liamgonyea commented on #20385
@bzbarsky-apple Thanks for the PR, the pairing using [the code above ](https://github.com/project-chip/connectedhomeip/issues/20385#issuecomment-1190986850) works with chip-tool now, all good, closing the ticket as it's resolved

[2022-07-23 01:20] bzbarsky-apple commented on #17208
Yep, that matches my understanding.  Thank you @emargolis !

[2022-07-23 01:20] #17208 closed

[2022-07-23 02:11] bzbarsky-apple commented on #21134
@Garik098 What server app is this?

[2022-07-23 03:04] #19272 closed

[2022-07-23 04:35] dhrishi commented on #19521
@bzbarsky-apple So the subsequent communication/request needs to be sent out explicitly? Or it happens internally as a retry attempt?

[2022-07-23 05:51] bzbarsky-apple commented on #21139
We store the vendor id in the configuration manager in `InitConfigurationManager`, but then we are using `GenericDeviceInstanceInfoProvider` which always returns `CHIP_DEVICE_CONFIG_DEVICE_VENDOR_ID`.

In `ChipLinuxAppInit` we should probably do something for the device instance info provider similar to what we do for the `CommissionableDataProvider`.  So stop storing these in the configuration ma

[2022-07-23 05:53] bzbarsky-apple commented on #19521
It needs to be sent out explicitly.

[2022-07-23 13:32] andy31415 commented on #21139
why is this a cert blocker?

[2022-07-23 19:28] aajain-com opened #21142 "[crash] SubscriptionCallback::OnReportEnd()"
#### Problem
Crash seen during stability testing with SHA `5d8599d195a93dfe5473f64e4f888c322e5df1d2`

[code]

[code]

[code]

Apple reference: `rdar://97467750`

[2022-07-24 00:44] yufengwangca commented on #20384
Per talking with @somu1710, #21144 add the capability to adjust the state of the switch using json payload

[2022-07-24 07:01] #20718 closed

[2022-07-24 07:01] tanyue518 commented on #20718
this issue is fixed for TH 1.3 image

[2022-07-25 01:40] Hugh-Bao opened #21145 "Android APP will crash and exit if it try to send control command to the device powered off"
When we used sve rebranch SDK as our base code, if device powered off, then APP send the control commands to the device for many times that would cause APP crash and exit.

[2022-07-25 02:38] AlvinHsiao commented on #21096
@bzbarsky-apple It came from SVE1_TestPlanVerificationSteps_V1.3.

[2022-07-25 03:18] TheWalkingDead1024 commented on #19590
hello，any updates？

[2022-07-25 06:58] markus-becker-tridonic-com commented on #20384
@woody-apple i believe our DUT would be passing the TC-SWTCH testcases. If not (depends on changes to test-plans/scripts), we would be able to accomodate changes for our DUT.

I believe the open topic is that the all-clusters-app (not real DUT) does not offer the right features to test controllers.

[2022-07-25 07:53] ShadowJonathan commented on #7127
@stale no.

Also for anyone wishing to get some more info on Matter, i recommend [this site](https://matter-smarthome.de/en/), which tries to independently follow Matter and its developments.

[2022-07-25 07:56] tima-q commented on #7079
Already fixed

[2022-07-25 07:56] #7079 closed

[2022-07-25 08:16] aswathygrl commented on #20149
Closing this issue as the it is resoved and Updated the Test plan.

[2022-07-25 08:16] #20149 closed

[2022-07-25 08:47] bluebin14 commented on #6812
Closing due to lack of activity.

[2022-07-25 08:47] #6812 closed

[2022-07-25 08:48] bluebin14 commented on #5852
Closing due to lack of activity.

[2022-07-25 08:48] #5852 closed

[2022-07-25 09:53] wqx6 opened #21152 "[TC-CADMIN-1.9] chip-tool will repeat to pair several times the DUT until timeout"
#### Problem
In TC-CADMIN-1.9 we need to pairing the DUT on TH2 using the command `./chip-tool pairing code {node-id} {wrong-manual-code} --timeout 3`. The timeout will cause a problem.
If we set a short timeout, the chip-tool might return timeout before it resolve the address of the DUT and try to establish the PASESession.
But if we set a long timeout, the chip-tool will repeat to establish the

[2022-07-25 10:47] jadhavrohit924 opened #21157 "Add groups command fails"
#### Problem
What is being fixed? Examples:

* Add groups command failing with
`AddGroupResponse:` {
[1658742473334] [28062:2229447] CHIP: [TOO] `status: 126`

[1658742473334] [28062:2229447] CHIP: [TOO] groupId: 1

[1658742473334] [28062:2229447] CHIP: [TOO] }

* Read group-table shows 0 entries
` [1658745983622] [35924:2285458] CHIP: [TOO]   GroupTable: 0 entries`

 #### Proposed Solution
GroupA

[2022-07-25 12:42] doublemis1 opened #21160 "Chip-tool wrongly handle discovery via BLE with manual pairing code"
#### Problem
The Manual Pairing code contains the information about 4 most significant bits of discriminator.
The current implementation of chip-tool commissioning via BLE wrongly handles the discovery of devices that have set the discriminator to e.g. E64 (3684). The commissioning failed at BLE discovery since the manual paring code contains the E (E00 = 3584).

Parsed device manual pairing code:

[2022-07-25 13:19] vivien-apple commented on #19590
#21161 should fix this issue.

[2022-07-25 14:06] bzbarsky-apple commented on #21152
Only if it discovers the DUT multiple times (at different IPs, or on different interfaces or whatnot), no?  And if it does, failure on one of those does not mean the others will fail, though we could perhaps be smarter about guessing when they will.

How did we end up discovering the same thing 20 times?  Or is it that we're just getting to 20 failed PASE attempts before we have run the pairing co

[2022-07-25 14:09] bzbarsky-apple commented on #21157
`126` is `UNSUPPORTED_ACCESS`.  @jadhavrohit924 Do you have a group key defined for the group id you are adding?  Because it sure sounds like you don't, and then per spec the `AddGroup` will fail with `UNSUPPORTED_ACCESS`.

Next time, please attach (not paste) complete logs starting with device commissioning to help with diagnosing issues like this; if I knew which exact commands you had run, I co

[2022-07-25 14:18] bzbarsky-apple commented on #21160
@doublemis1 Which chip-tool are you running?  Linux or Mac?

The Mac one tries to handle this, in `checkDiscriminator` in `src/platform/Darwin/BleConnectionDelegateImpl.mm`.  It's not ideal in that it can incorrectly decide there's a match when we have a 12-bit discriminator but the low 8 bits are all zero, if the high 4 bits happen to match the high 4 bits of the device discriminator, but it shou

[2022-07-25 14:21] doublemis1 commented on #21160
Yes, I used the Linux version.

[2022-07-25 14:37] bzbarsky-apple opened #21162 "webOS BLE scanning never uses the discriminator"
#### Problem
In `src/platform/webos/BLEManagerImpl.cpp`, `mBLEScanConfig.mDiscriminator` is write-only.

 #### Proposed Solution
Should actually check discriminators.

[2022-07-25 14:37] bzbarsky-apple commented on #21162
@sungho1shin

But note that duplicating the Linux code as it stands today will lead to a buggy implementation.  See https://github.com/project-chip/connectedhomeip/issues/21160

[2022-07-25 14:51] jadhavrohit924 commented on #21157
Sure I'll attach logs.
@bzbarsky-apple
You are right I didn’t define group key. I directly used `AddGroup` command after commisssioning.

[2022-07-25 14:52] dhrishi commented on #19521
Ok. Thanks!

[2022-07-25 14:56] bzbarsky-apple commented on #21157
In that case the observed behavior is correct.

[2022-07-25 14:56] #21157 closed

[2022-07-25 16:15] mrjerryjohns commented on #18609
This is now duplicated by #19259

[2022-07-25 16:15] #18609 closed

[2022-07-25 16:18] #21106 closed

[2022-07-25 16:18] #14650 closed

[2022-07-25 16:18] mrjerryjohns commented on #20342
@bzbarsky-apple would be able to help take a further look since it's on a Darwin-based platform?

[2022-07-25 16:22] mrjerryjohns commented on #21131
@yufengwangca could you help take a look at this please?

[2022-07-25 16:27] mrjerryjohns commented on #21130
@cecille this looks pretty gnarly, and I have a sneaky suspicion this may not be Darwin specific. Perhaps you could try spoofing an exchange timeout to re-create this situation when using the auto-commissioner and see if things break?

[2022-07-25 17:19] manogna-silabs commented on #21099
Set CHIP_DEVICE_CONFIG_DEVICE_SOFTWARE_VERSION to some version say 2 and build the .ota file with older version/same version.
 DUT does not start transferring the software image. It is as expected.
 Hence closing the issue.

 Thanks,
 G. Manogna.

[2022-07-25 17:19] #21099 closed

[2022-07-25 17:27] caubut-charter opened #21171 "RaspberryPi Python Commissioning Consistently Segfaults"
#### Problem

**Expected Behavior**

Expect the commissioning flow to start.

**Actual Behavior**

Consistently segfaults every time.

[code]

**Steps to Reproduce**

- https://github.com/project-chip/connectedhomeip/blob/master/docs/guides/python_chip_controller_building.md#building-and-installing
- Edit `out/python_env/bin/chip-device-ctrl` to include a vendor: `self.fabricAdmin = FabricAdmin.Fa

[2022-07-25 17:38] bzbarsky-apple commented on #21171
@mrjerryjohns can you please take a look?

[2022-07-25 17:49] cjandhyala commented on #21139
Commissioner tests (DUT as commissioner) need this in the reference app (all-cluster-app) to have the ability to launch the app with different vendor IDs and the commissioner is able to commission the device for values other than what is used as default in the reference apps.

[2022-07-25 18:12] akrithika27 opened #21176 "Default priority for Door Closed and Door Open events need to be CRITICAL."
#### Problem
Currently only Door Closed event is CRITICAL. According to this comment - https://github.com/CHIP-Specifications/chip-test-plans/pull/1896#issuecomment-1194125912  both of them should default to CRITICAL.

 #### Proposed Solution
<suggested fix, suggested enhancement>

[2022-07-25 18:18] emargolis opened #21177 "Implement Error Injection in the NOCSR Request Command"
#### Problem
Need an error injection mechanism to support negative testing of NOCSR Request Command.
Specifically, some test cases are described in TC-DA-1.4,TC-DA-1.6 but not limited to:
  - Invalid NOCSR Information
  - CSR is not of the type OCTET string
  - CSRNonce is OCTET string of length > 32
  - NOCSRElement size is greater than RESP_MAX
  - AttestationSignature is not an octet string

 #

[2022-07-25 18:36] #20384 closed

[2022-07-25 18:52] Ilidur opened #21182 "Fail to run bootstrap.sh on arm macos with failure in openssh"
#### Problem
When preparing to bootstrap building for the first time the ./scripts/bootstrap.sh fails on evaluating python environment. I've tracked down the issues to the following line which [includes an unguarded linux include pkg-config.](https://github.com/project-chip/connectedhomeip/blob/251d49fcc42ead8694cae48b14fdbdc9d049363f/src/crypto/BUILD.gn#L51)

After putting some guards around it `

[2022-07-25 19:19] yunhanw-google commented on #21125
https://github.com/project-chip/connectedhomeip/blob/master/src/app/ReadClient.cpp#L471,  it seems we are sending status failure if that is invalid subscription in client side, it seems that we just need to send InvalidSubscription status.

[2022-07-25 20:47] cecille commented on #21130
Would you be able to share more of the logs? I'm not sure what stage this failed on and haven't been able to repro this here (tested timing out a couple of stages, but it would help to narrow down).

Also, are there changes to SDK in this test? I checked out that SHA, but the listed line numbers don't match up.

[2022-07-25 21:02] mykrupp commented on #20930
I will take on this one.

[2022-07-25 21:02] mykrupp commented on #20991
I will take on this one.

[2022-07-25 21:32] bzbarsky-apple commented on #19936
https://github.com/project-chip/connectedhomeip/issues/21012 tracks the ordering issue there.

[2022-07-25 21:33] bzbarsky-apple opened #21192 "Leave event missing mandatory FabricIndex field"
#### Problem
Leave events don't say which fabric is being left.

 #### Proposed Solution
Need to fix that.  Need to get https://github.com/project-chip/zap/pull/628 merged and then pulled into Matter first, because these events are _not_ fabric-sensitive.

[2022-07-25 21:40] bzbarsky-apple commented on #21176
I don't understand the issue here @akrithika27.  The SDK always emits DoorStateChange events with CRITICAL priority right now.

This is also what https://github.com/CHIP-Specifications/chip-test-plans/pull/1896#issuecomment-1193618188 said.

[2022-07-25 21:40] #21176 closed

[2022-07-25 21:45] bzbarsky-apple commented on #21182
@Ilidur The build instructions say you have to install pkg-config on Mac to build.  Did you do that?

[2022-07-25 22:51] bzbarsky-apple opened #21198 "Darwin framework needs to safely shut down subscriptions when controllers shut down"
#### Problem
When a Mater.framework controller shuts down, any live subscriptions associated with its fabric should also get cleanly shut down.  Right now we would end up with dangling pointers and crashes in that scenario.

 #### Proposed Solution
Have the framework track subscriptions and shut them down.

[2022-07-25 22:52] bzbarsky-apple opened #21199 "Evaluate what happens if Darwin framework shuts down while an invoke/read/write is pending"
#### Problem
Not clear how to handle Darwin framework shutdown while there are outstanding reads/writes/invokes.  Right now it has a high chance of crashing...

 #### Proposed Solution
Figure out what we can do.  Perhaps similarly to #21198 all the interactions we issue via a controller should shut down when that controller shuts down.

[2022-07-25 22:52] bzbarsky-apple commented on #21199
@jtung-apple

[2022-07-25 22:53] bzbarsky-apple commented on #21198
@jtung-apple

[2022-07-25 23:38] mikaelhm commented on #16664
Like @nekleo reported above, this is no longer an issue.

I just verified that I am able to complete `./scripts/bootstrap.sh` without issues on raspberry pi 4 with Ubuntu 22.04, which comes with Python 3.10.

[2022-07-26 04:15] bzbarsky-apple commented on #21096
Filed https://github.com/CHIP-Specifications/chip-test-plans/issues/1930

[2022-07-26 05:55] sowmyassp opened #21212 "Bridge-functionality - The keypress is aborting the DUT"
**Issue :**
We have test-steps saying to press 'c' to read the state in bridge-app and press 'b' in bridge-app to change the light which are aborting the DUT
![image](https://user-images.githubusercontent.com/90545664/180936104-c19e40a9-447a-4919-922c-45e5e2123062.png)

- Commit used : 29873290196796fbf23e28083163f8565bb479ba
- Chip-tool - RPI-4, 8GB RAM
- DUT - RPI - RPI-4, 8GB RAM
- Platform : l

[2022-07-26 06:02] wqx6 commented on #21152
@bzbarsky-apple I checked again on ESP32 after disabling IPv4 on it, the advertisements after open the commissioning window   is
[code]
and the chip-tool will try to establish the PASESession with the ESP32 only once each time I send the command. But when I enable IPv4 on ESP32, the advertisements will on both IPv4 addr and IPv6 addr then the chip-tool will establish the PASESession with ESP32 mul

[2022-07-26 07:53] nykh2010 opened #21216 "a question about attribute changed for publish report data"
#### Problem
for example, a thermometer, the temperature is displayed on the screen, I expected the temperature be displayed in real time, and do not  report to subscriber too frequently, so is there a spec attribute changed threshold to determin the value dirty or clean, indirect to control the report? Or need vendor to handle the changed situation.

[2022-07-26 08:38] Ilidur commented on #21182
Thanks for the support @bzbarsky-apple. I went straight to the example app build folder for my chip so I didn't notice there were prerequisite build instructions, as they also call `source ./scripts/bootstrap.sh`. Is it worth putting something in [there](https://github.com/project-chip/connectedhomeip/tree/master/examples/all-clusters-app/esp32)?

[2022-07-26 08:38] #21182 closed

[2022-07-26 08:43] sumaky opened #21217 "[TC-DGTHREAD-3.5] Thread Network Diagnostics Cluster Events[DUT-Client]"
Require the usage of name piped implementation to trigger the events from TH
The below events needs to be triggered
1. Simulate an Unspecified failure on TH
2. Simulate a LinkDown failure on TH
3. Simulate a HardwareFailure on TH
4. Simulate a NetworkJammed Failure on TH
5. Simulate a LinkDown failure on TH

Are there any existing methods to trigger these events ?
reference:
https://github.com/pro

[2022-07-26 09:53] shubhamdp opened #21218 "Do not initialize BLE if Node is already commissioned"
#### Problem
In some cases BLE transport may only be used for commissioning purpose and de initializing BLE can save some heap.

- Deinit BLE on receiving Commissioning Complete Event
- On boot, if device is already commissioned then do not initialize BLE
- Initialize the BLE back when last fabric is removed

#### Proposed Solution

[2022-07-26 11:36] sowmyassp opened #21221 "Build fails while compiling with libfuzzer enabled"
**Issue :**

While compiling with libfuzzer enabled, build fails in RPI. Following are the commands used.

Command referred from: https://github.com/project-chip/connectedhomeip/tree/master/examples/all-clusters-app/linux#readme
Though arm64 is not defined in the given reference, "--target linux-x64-all-clusters-no-ble-asan-libfuzzer-clang"  fails with the following error "Error: Invalid value for

[2022-07-26 12:17] manjunath-grl commented on #17666
Added diff: https://github.com/project-chip/connectedhomeip/compare/master...manjunath-grl:connectedhomeip:Commissioning_error

[2022-07-26 12:33] rosahay-silabs opened #21227 "Provisioning not working on M1 MacBook"
#### Problem
Commission not working on the macbook M1 Pro.

 * expected behavior
     User should be able to commission DUT by using the chip-tool on the M1 macbook.
 * actual behavior
     User unable to commission the DUT.
 * steps to reproduce
     - Compile chip-tool on device.
     - Put device in the BLE advertisement mode.
     - Start commissioning process on macbook.
 * system configurati

[2022-07-26 12:43] #9818 closed

[2022-07-26 13:20] jadhavrohit924 commented on #20862
@sethunk  I followed exact same steps mentioned by you, still failing to multicast `chiptool toggle command.
Running chiptool on mac.

[Group_Communication_Device_logs.txt](https://github.com/project-chip/connectedhomeip/files/9190096/Group_Communication_Device_logs.txt)
[Group_Communication.txt](https://github.com/project-chip/connectedhomeip/files/9190098/Group_Communication.txt)
`

[2022-07-26 13:40] #21216 closed

[2022-07-26 13:42] bzbarsky-apple commented on #21221
@sowmyassp Please attach (not paste) the full log from the compilation.  The screenshot there cuts off what the actual error is; it's higher up somewhere.

[2022-07-26 13:45] bzbarsky-apple commented on #21227
@woody-apple Is 12.2.1 one of the MacOS versions with issues around BLE commissioning with chip-tool?

[2022-07-26 14:03] tcarmelveilleux commented on #20810
For collisions of CAT versions in subjects, they are independant subjects. We already validate for NOCs that there are no collisions of CAT identifier versions. However, for ACL enforcement, I don't think we should internally audit for complex "possibly ugly" policies. If there are multiple versions of a single CAT identifier present in `Subjects` of an ACL, it means *an admin* decided to have it

[2022-07-26 14:37] manjunath-grl commented on #17666
@raju-apple discussed with QA team they are not facing this issue and they are following the testplan no Preconditions are there and script is also as per testplan but in " step 13: TH_CR2 starts a commissioning process with DUT_CE " we are getting failure response when executed.
YAML script [TC_CADMIN_1_5](https://github.com/project-chip/connectedhomeip/blob/master/src/app/tests/suites/certificat

[2022-07-26 15:06] sowmyassp commented on #21221
@bzbarsky-apple
[Log.txt](https://github.com/project-chip/connectedhomeip/files/9190946/Log.txt)

[2022-07-26 15:18] bzbarsky-apple commented on #20810
I agree.

[2022-07-26 15:39] mrjerryjohns opened #21233 "Cleanly shutdown IM engine"
#### Problem

The InteractionModelEngine is not cleanly clearing up `mpFabricTable` and `mpExchangeMgr` today on `Shutdown`. Doing so invites a world of problems in the SDK:

1. `ReadClient` continues to depend on those members being non-null in its destruction due to its call into in the IM engine in `ReadClient::CancelLivenessCheckTimer`. This is not a problem in and of itself, but it does alter

[2022-07-26 15:39] mrjerryjohns commented on #21233
FYI @bzbarsky-apple @yunhanw-google

[2022-07-26 15:52] bzbarsky-apple commented on #21221
Relevant errors:
[code]
Why is this building `address-resolve-tool` at all?

@sowmyassp What is the output from:
[code]
for you?

[2022-07-26 15:59] sowmyassp commented on #21221
![image](https://user-images.githubusercontent.com/90545664/181053874-1f6407ca-3c02-4049-ac63-5690d9cda066.png)

[2022-07-26 16:06] bzbarsky-apple commented on #21221
@sowmyassp Please attach complete logs; you cut off the actual error again.  But also: did you actually pass `--dry-run` there?  It sure does not look like you did.

[2022-07-26 16:22] bzbarsky-apple opened #21234 "Sort out whether events should have kIsFabricScoped or kIsFabricSensitive"
#### Problem
See https://github.com/project-chip/connectedhomeip/pull/21210#discussion_r930138152

 #### Proposed Solution
Figure out whether `kIsFabricScope` in fact makes sense there, depending on how that constant is used in our encoding/decoding...

[2022-07-26 16:23] #20810 closed

[2022-07-26 16:25] s-mcclain commented on #17049
Hey @somu1710 can I ask why you closed out this issue? Seems like this is still a problem which makes the tests TC-OCC-3.2 impossible to execute with the test harness at the moment

[2022-07-26 16:34] sowmyassp commented on #21221
@bzbarsky-apple you mean to say I need to send
./scripts/run_in_build_env.sh "./scripts/build/build_examples.py --target linux-arm64-all-clusters-no-ble-asan-libfuzzer-clang build" --dry-run

PFA Log:
[Log.txt](https://github.com/project-chip/connectedhomeip/files/9191706/Log.txt)

[2022-07-26 16:37] #13930 closed

[2022-07-26 16:37] #21012 closed

[2022-07-26 16:38] s-mcclain opened #21236 "[TC-OCC-3.2] all-clusters-app has no functionality to change occupancy status"
#### Problem
Occupancy Sensing cluster test case TC-OCC-3.2 still requires the Test Harness (all-cluster-app, etc.) to change the occupancy status in some way. This is not currently supported in the current applications which makes it impossible to execute this test case where the DUT is the client.

 #### Proposed Solution
Enable some sort of argument/mechanism for the all-cluster-app to be able

[2022-07-26 16:41] mrjerryjohns commented on #21199
I think I sense where the solution here is headed, and I don't think we should be leaking into the SDK a need to more closely track active client-side objects when in fact, the right solution there is a stronger ownership model where applications are holding strong references to the requisite client side objects.

#21198 is only possible because we happen to track the list of active `ReadClient`s

[2022-07-26 17:05] bzbarsky-apple opened #21238 "Address Android handling of short discriminators"
#### Problem
In https://github.com/project-chip/connectedhomeip/pull/21187 I left the Android behavior around short discriminators the same as it was before: they are 0-padded to look like a long discriminator with all low bits 0. This happens in two places:

1. BLEManagerImpl::NewConnection in src/platform/android/BLEManagerImpl.cpp
2. TransformSetupPayload in src/setup_payload/java/SetupPayloadP

[2022-07-26 17:22] #21160 closed

[2022-07-26 17:41] mrjerryjohns commented on #21234
I'd think naming it `kIsFabricSensitive` would be the more apt term here, since that conveys both the sensitive AND scoping part.

[2022-07-26 17:42] mrjerryjohns commented on #21177
@emargolis how were you intending to inject these errors from a YAML standpoint?

[2022-07-26 17:46] mrjerryjohns commented on #21171
@caubut-charter, the Python device-ctrl is in the process of being deprecated, and the REPL should be used instead.

The steps to commission a Thread device can be found [here](https://deepnote.com/viewer/github/project-chip/connectedhomeip/blob/master/docs/guides/repl/Matter%20-%20Basic%20Interactions.ipynb).

[2022-07-26 18:12] jonsmirl opened #21243 "Request for test development to cover the use-case of light switches at top/bottom of staircase."
Synchronized light switches at the top and bottom of a staircase are a very common use case. I would like to request that this use-case be specifically tested for and given a suitable UI in the various controller apps (Amazon, Google, Apple, etc) so that a consumer may easily create this grouping.

The basic problem: you have two switches and one or more light bulbs that need to be controlled. All

[2022-07-26 19:55] bzbarsky-apple commented on #18745
The crash is gone, but the underlying "API docs say it's a no-op, but it's not a no-op" behavior is still there...

[2022-07-26 19:55] bzbarsky-apple commented on #20862
@jadhavrohit924 On Mac, group communication does not work properly at the moment.

[2022-07-26 20:10] bzbarsky-apple commented on #21152
Sure, because it has no obvious way to tell that the different IPs are the same entity (well, apart from guessing at that based on the instance name) or knowing which ones will actually be able to reach the other side.

We probably could, yes.  We'd need to thread that down into the SetUpCodePairer, I suspect....

[2022-07-26 20:18] caubut-charter commented on #21171
@mrjerryjohns Same issue using the REPL.

[code]

[code]

[pi-segfault2.txt](https://github.com/project-chip/connectedhomeip/files/9193067/pi-segfault2.txt)

[2022-07-26 20:29] bzbarsky-apple commented on #21182
Sounds like it might be a good idea, yes.  @dhrishi, who owns the esp32 build instructions?

[2022-07-26 20:34] bzbarsky-apple commented on #21199
Closing all active exchanges associated with the controller might be enough.  Need to check what actually happens in terms of callbacks in that happens.

But just to be clear, I'm not talking about doing this in the SDK.  I'm talking about doing this in Matter.framework, which could track all the client objects it creates (since it creates them all, directly or indirectly) and in fact just destroy

[2022-07-26 21:07] selissia opened #21248 "Crash in EFR32 lighting app when scanNetworks is issued during commissioning"
#### Problem
When commissioning using the chip-tool built with https://github.com/project-chip/connectedhomeip/pull/20766 the EFR32 lighting app crashed with a Hard Fault. No stack trace shows up in Ozone but the crash goes away when 'otIp6SetEnabled(mOTInst, false);' is commented out at the following line: https://github.com/selissia/connectedhomeip/blame/master/src/platform/OpenThread/GenericThr

[2022-07-26 21:20] bzbarsky-apple commented on #21221
No, you need to do the thing I said in https://github.com/project-chip/connectedhomeip/issues/21221#issuecomment-1195662096.  Please just copy and paste that exact command.

[2022-07-26 23:18] raju-apple commented on #17666
@krypton36 can you please check this issue out when you get a chance ?

[2022-07-27 00:22] yinhejianke opened #21255 "build Failed"
#### Problem
<what's wrong or missing, please include any applicable:
 * expected behavior
 * actual behavior
 * steps to reproduce
 * system configuration
 * screenshots, images, logs, etc.

ninja: Entering directory `./out/debug'
[1733/3907] c++ linux_x64_gcc/obj/src/lib/support/tests/libSupportTests.TestStateMachine.cpp.o
FAILED: linux_x64_gcc/obj/src/lib/support/tests/libSupportTests.TestState

[2022-07-27 00:23] yinhejianke commented on #21255
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-pc-linux-gnu/12.1.0/lto-wrapper
Target: x86_64-pc-linux-gnu
Configured with: /build/gcc/src/gcc/configure --enable-languages=c,c++,ada,fortran,go,lto,objc,obj-c++,d --enable-bootstrap --prefix=/usr --libdir=/usr/lib --libexecdir=/usr/lib --mandir=/usr/share/man --infodir=/usr/share/info --with-bugurl=https://bugs.archlin

[2022-07-27 00:24] jepenven-silabs commented on #20862
I'm able to reproduce on my linux machine by only if the WiFi adapter is the sole interface available. Otherwise everything is working fine on both my Mac and Linux with ethernet.

Can any of you @bzbarsky-apple @jadhavrohit924 @sethunk @gjc13 produce wiresharks logs? the only way to be sure that chip-tool isn't sending a multicast packet is actually by sniffing the network for it.

you can use th

[2022-07-27 00:26] yinhejianke commented on #21255
DISTRIB_ID="Arch"
DISTRIB_RELEASE="rolling"
DISTRIB_DESCRIPTION="Arch Linux"
NAME="Arch Linux"
PRETTY_NAME="Arch Linux"
ID=arch
BUILD_ID=rolling
ANSI_COLOR="38;2;23;147;209"
HOME_URL="https://archlinux.org/"
DOCUMENTATION_URL="https://wiki.archlinux.org/"
SUPPORT_URL="https://bbs.archlinux.org/"
BUG_REPORT_URL="https://bugs.archlinux.org/"
LOGO=archlinux-logo

[2022-07-27 00:27] jepenven-silabs commented on #20862
More over, to save time, you can use this command directly after compiling `chip-tool` without having to setup groups keys or group

`./out/debug/chip-tool onoff on 0xffffffffffff0101 1`

chip-tool actually already has two hardcoded group used for test like this. You should be able to see a packet with wireshark if everything is working on the chip-tool side (which is the case with my setup and ma

[2022-07-27 00:57] jonsmirl commented on #21093
Failure from the Android app....
 OpCreds: Failed AddNOC request with IM error 0x85

I (841990) chip[DL]: Confirm received for CHIPoBLE TX characteristic indication (con 0) status= 0
E (842000) chip[DL]: Long dispatch time: 694 ms, for event type 7
I (842070) CHIP[DL]: Write request received for CHIPoBLE RX characteristic con 0 12
I (842160) CHIP[DL]: Write request received for CHIPoBLE RX charact

[2022-07-27 00:58] yinhejianke commented on #21255
![image](https://user-images.githubusercontent.com/51285387/181137659-95bb1a7b-3d12-4906-8851-547ab87a4095.png)

[2022-07-27 01:12] woody-apple commented on #21227
Yes please, @rosahay-silabs can you try the latest macOS release? There were some known BLE issues on previous releases

[2022-07-27 01:14] #21227 closed

[2022-07-27 01:14] woody-apple commented on #21227
Please re-open if this happens on the newest releases

[2022-07-27 01:45] jepenven-silabs commented on #20862
So after investigation, I came to the conclusion that while this may appear as a bug it's not really a bug.

Explanation :
In the socket implementation the default interface value (0) is used in many places. This usually works for standard communication including multicast. The default interface is set by the operating system and may vary from computer to computer.

Now the problem that we are fac

[2022-07-27 01:55] aajain-com commented on #19591
Marking this as P1 given that this is one of the top hitters.

[2022-07-27 01:59] erjiaqing commented on #21171
Looks like BLE is not running in central as expected?

[2022-07-27 02:03] aajain-com commented on #21130
Unfortunately the system that collects the logs only stores the snapshots of the logs at that time so I am unable to find more logs.

[2022-07-27 02:07] turon commented on #20862
Using the default interface but letting the user / application explicitly specify the interface (option 1) seems like the best approach to me.  Having an option to "bind to all interfaces" (option 3?) seems like a nice feature as well, but perhaps not as critical as being able to explicitly selecting at least one working interface (option 1).

[2022-07-27 02:40] jepenven-silabs commented on #20862
The problem with 1 is, if implemented, it would required changing ALL tests related to groups to specify an interface, on top of adding steps to find which interface is the right one....

[2022-07-27 02:49] bzbarsky-apple commented on #21139
Fixing the `--vendor-id` and `--product-id` bits is not so bad.  But the device attestation certificate (which is selected at compile time right now) will then no longer match the claimed vendor/product id, and hence device attestation will fail...

[2022-07-27 03:16] bzbarsky-apple commented on #21255
@msandstedt

[2022-07-27 03:21] yinhejianke opened #21261 "build release failed"
#### Problem
<what's wrong or missing, please include any applicable:
 * expected behavior
 * actual behavior
 * steps to reproduce
 * system configuration
 * screenshots, images, logs, etc.

 #### Proposed Solution
<suggested fix, suggested enhancement>

![image](https://user-images.githubusercontent.com/51285387/181153604-02ae599a-4203-400e-8b92-7dfa30f793d2.png)

[2022-07-27 03:25] carol-apple commented on #19590
@vivien-apple Also added https://github.com/project-chip/connectedhomeip/pull/21235

[2022-07-27 04:00] Qiang0428 opened #21263 "[IM]Modify the Conformance of MinIntervalFloor and MaxIntervalCeiling in subscribe request action from "M" to "KeepSubscriptions = true""
When the KeepSubscriptions = false ,the existing subscriptions between two peers SHALL be teared down。In that way,  in the subscribe request with KeepSubscriptions = false  , the data fields of MinIntervalFloor and MaxIntervalCeiling should not be present.
So suggest to change the Conformance of  MinIntervalFloor and MaxIntervalCeiling to "KeepSubscriptions = true".
[ref 8.5.2.1. Subscribe Request

[2022-07-27 04:02] #21263 closed

[2022-07-27 04:16] GSIVANAGARJUNA opened #21264 "chip-tool end device commissioning ble-thread pairing timeout error"
sudo out/chip-tool pairing ble-thread 102 hex:0e080000000000010000000300000f35060004001fffe0020811111111222222220708fd39728522d0950a051000112233445566778899aabbccddeeff030e4f70656e54687265616444656d6f01021234041061e1206d2c2b46e079eb775f41fc72190c0402a0fff8 20202021 3840

while using the above chip-tool command I am getting the below error please resolve the issue

CHIP:TOO:Run command failure  ../

[2022-07-27 05:00] rosahay-silabs opened #21265 "[EFR32] Running out of memory to flatten incoming packets"
#### Problem
 * expected behavior
      The EFR32 should not run out of memory after idling on the network for 3-4 hours.
 * actual behavior
      The EFR32 is running out of memory to flatten incoming packet buffers.
 * steps to reproduce
      Keeping the EFR32 provisioned and idle for a couple of hours.
 * system configuration
      EFR32 MG12 + RS9116 running LwIP stack with a PBUF_POOL_SIZE 3

[2022-07-27 05:15] sowmyassp commented on #21221
@bzbarsky-apple Here is the log for above mentioned command
[log_1.txt](https://github.com/project-chip/connectedhomeip/files/9195227/log_1.txt)

[2022-07-27 05:28] markus-becker-tridonic-com commented on #19923
previousPosition and newPosition are passed as parameters in JSON now and are no longer hard-coded anymore.

[2022-07-27 05:28] #19923 closed

[2022-07-27 05:34] cjandhyala commented on #21221
@bzbarsky-apple I was trying to build the same on my linux desktop I got "ld.lld: error: duplicate symbol: main" while building address-resolve-tool. Attached log from my machine

[log.txt](https://github.com/project-chip/connectedhomeip/files/9195329/log.txt)

[2022-07-27 07:23] somu1710 commented on #17049
@s-mcclain  Actually I closed this ticket because of manual operation we cant perform by using the Raspi device ,App- All clusters app.so this can be executable on real DUT .So we thought of  no need this ticket and we closed all manual operation required test cases.Should I need to reopen the issue again?

[2022-07-27 10:32] sowmyassp opened #21270 "TC-BRBINFO-2.2 - ReachableChanged event - Need information for verification steps"
**Problem** - Need information for verification steps for reading ReachableChanged event

**App used** - bridge-app

**Platform**
 Chip-tool - RPI-4, 8GB RAM
DUT - RPI-4, 8GB RAM

**Network** - ethernet

**Commi**t - 29873290196796fbf23e28083163f8565bb479ba

**Sequence of steps I tried with :**
1. Commission DUT with TH using below commands :
        DUT - sudo ./chip-bridge-app
        Controller

[2022-07-27 11:10] jonsmirl commented on #21093
This failure has been reproduced by three independent developers now.

I fully cleaned system (deleted 'out' and Android 'build' ) and rebuilt -- no change.

[2022-07-27 12:30] jonsmirl commented on #21093
I tried rebuilding from a clean checkout using these instructions:
https://github.com/project-chip/connectedhomeip/blob/master/docs/guides/android_building.md

This command fails:
./scripts/build/build_examples.py --target android-arm64-chip-tool build

It is missing a gn command.
2022-07-27 08:26:25 INFO    Building JNI android-arm64-chip-tool
2022-07-27 08:26:25 INFO    ninja: Entering directory

[2022-07-27 13:55] chirag-silabs opened #21277 "[SVE] TC-CNET-4.11 need clarity about the working of chip-tool side"
#### Problem
TC-CNET-4.11 networkcommissioning wifi connect-networks
1. The DUT must be disconnected to AP1 and connect to AP2(changes done on sdk)
2. The step 7 where DUT is connected to the second access point, we are not getting ConnectNetworkResponse since the network is changed and the chip-tool running on pi is on 1st AP. The DUT is connected to AP2 but chip-tool on raspberrypi is failing wi

[2022-07-27 14:38] bzbarsky-apple commented on #21264
@GSIVANAGARJUNA Please attach (not paste) complete logs from chip-tool and the server side of this interaction.

[2022-07-27 14:49] bzbarsky-apple commented on #21265
@rosahay-silabs This is not "running out of memory".  This is "incoming thing is larger than what we can fit in a PacketBuffer".  In particular, 1452 > 1280, no?

To be precise, we're in `UDPEndPointImplLwIP::LwIPReceiveUDPMessage` and we're calling `PacketBufferHandle::New` with `(1452, 0)` as the arguments.   That's going to fail if `kMaxSizeWithoutReserve` is 1280, as it sounds like it is in yo

[2022-07-27 14:51] bzbarsky-apple commented on #21270
Leave or reachable?

The way to verify this would presumably be to have a bridge, have a device behind the bridge, then remove that device behind that bridge so the bridge can no longer reach it....

As you said, not an SDK issue.

[2022-07-27 14:51] #21270 closed

[2022-07-27 14:53] bzbarsky-apple commented on #21277
The expected behavior does not seem right.  As you said, if the DUT is on a different network now, if TH is not on that network it can't get the response.

[2022-07-27 15:10] chirag-silabs commented on #21277
Yup, Should an issue be raised in test plan for this, TC-CNET-4.11

[2022-07-27 15:18] turon commented on #20862
How about this proposal:

* Add a platform interface to build a list of all Link Local (LL) interfaces [fe80::X]%interface
* Default to using this list of all LL interfaces for multicast
* Provide an API hook to let the app layer filter that list or replace it with an explicitly constructed list of LL interfaces it wants to use for group comms.

A per-message API seems like over-kill for this.  Th

[2022-07-27 16:33] #20804 closed

[2022-07-27 16:41] #21139 closed

[2022-07-27 16:54] #21128 closed

[2022-07-27 17:00] #20948 closed

[2022-07-27 17:31] woody-apple commented on #21277
Cert Blocker Review: @cjandhyala to follow up.

[2022-07-27 17:33] woody-apple commented on #21277
Cert Blocker Review: Need to better understand the scope of this, could be a provisional candidate for 7/29

[2022-07-27 17:44] woody-apple commented on #21236
Cert Blocker Review: Need to find an owner for this. Lower priority given this is optional.

[2022-07-27 17:48] yufengwangca commented on #21221
It looks libfuzzer also defined main function at lib/fuzzer/FuzzerMain.cpp:19 which is conflict with the main function defined in our example app

[code]

[2022-07-27 17:48] woody-apple commented on #21221
Cert Blocker Review: We should update instructions here for the CSG. @bzbarsky-apple @mspang can you take a peek?

[2022-07-27 17:49] woody-apple opened #21284 "Update build instructions for CSG"
Cert Blocker Review: We should update instructions here for the CSG. @bzbarsky-apple @mspang can you take a peek?

_Originally posted by @woody-apple in https://github.com/project-chip/connectedhomeip/issues/21221#issuecomment-1197099707_

[2022-07-27 17:50] bzbarsky-apple commented on #21221
@yufengwangca Yes, libfuzzer defines a different `main`.  Building `all-clusters-app` excludes `main` when building with libfuzzer.  The problem is the `address-resolve-tool` that is getting built alongside `all-clusters-app`  It should not be getting built.  @mspang @andy31415 Why is that getting built?

[2022-07-27 19:16] tcarmelveilleux commented on #21009
We already stated elsewhere that a bespoke manner to use a "DUT as a controller" does not go in the spirit of what is required, and actually what we need is just to have N chip-tool clients concurrently, or N python clients concurrently.

There is no arbitrary control path that we could build in less time than using proper means either with chip-tool or Python.

@mrjerryjohns for color about multi

[2022-07-27 19:17] tcarmelveilleux commented on #20882
https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5474 will fix the behavior in spec, but then will need to follow in SDK

[2022-07-27 19:17] #14709 closed

[2022-07-27 19:18] woody-apple commented on #19709
Let's close this then.

[2022-07-27 19:18] tcarmelveilleux commented on #19068
We need to have access to the root store of chip-tool for the chip-cert commands to properly generate these cert chains to be valid with UpdateNOC. I am working on Python method to do this test

[2022-07-27 19:19] #21212 closed

[2022-07-27 19:23] leorozendaal opened #21294 "chip-tool levelcontrol misses mandatory parameters for some commands"
#### Problem
`chip-tool levelcontrol` misses the parameters `OptionsMask` and `OptionsOverride` for the four 'with-on-off` commands
These parameters are essential for some tests (TC-LVL-* after PR [1893](https://github.com/CHIP-Specifications/chip-test-plans/pull/1893))

Also, for the other four commands, these parameters are present but misspelled (the '`s`' is missing)

 #### Proposed Solution
-

[2022-07-27 19:42] #16202 closed

[2022-07-27 20:08] krypton36 commented on #17666
The PAKEVerifier and the setup PIN code do not match.
The setup qr parses to the following (20202021):
<img width="704" alt="Screenshot 2022-07-27 at 1 06 21 PM" src="https://user-images.githubusercontent.com/12054330/181362471-a0b1d71f-4e4a-45b1-abdf-7e6622aee436.png">

The PAKEVerifier is using the following (47514138):
<img width="1223" alt="Screenshot 2022-07-27 at 1 06 38 PM" src="https://use

[2022-07-27 20:19] #20805 closed

[2022-07-27 20:35] leorozendaal commented on #21294
BTW, it looks like the mandatory parameters are not even sent to the DUT - assuming i interpret this correctly

[code]

[2022-07-27 21:12] bzbarsky-apple opened #21306 "Fix OTA delegate bridge init on Darwin"
#### Problem
See https://github.com/project-chip/connectedhomeip/pull/21224#pullrequestreview-1053229275

 #### Proposed Solution
Move the init to the right place, and add tests.

[2022-07-28 00:16] chrisdecenzo opened #21313 "CI circ tests are fragile, tightly coupled to commissioning steps"
#### Problem
When adding new optional steps to src/controller/CommissioningDelegate.h, the circ tests began failing

There is a set of "failure" tests, one for each step, which force a failure at the given step. It's a negative test, so it expects the setup to fail when an individual step fails. Since the controller skips over the scanNetworks step, the test case which forces a failure at that ste

[2022-07-28 00:26] chrisdecenzo opened #21314 "CHIPDeviceController needs proper support for setting network credentials during a commissioning session"
#### Problem
 * In many cases, the selection of network credentials needs to be done asynchronously during the PASE session. For example, after the commissioner determines the network technology of the target (WiFi or Thread) and after a network scan has been done. Often this selection will need user or cloud input, so it needs to be asynchronous.
 * A workaround was quickly added in PR https://gi

[2022-07-28 00:50] cjandhyala opened #21315 "[TC-DGGEN-2.3] all cluster app on raspi linux to return correct error code"
fix all cluster app on raspi linux to return correct TestEventTriggersEnabled attribute. Right now it turns False, hence we can not test TC-DGGEN-2.3 on the raspi platform. TestEventTriggersEnabled is a mandatory attribute in General Diagnostics cluster

[2022-07-28 01:24] #21221 closed

[2022-07-28 02:03] #21284 closed

[2022-07-28 02:56] jonsmirl commented on #21093
BTW, doing "gn gen ." in /home/jonsmirl/aosp/connectedhomeip/out/android-arm64-chip-tool will get you past the build failure.

But the error is still there when built from a clean checkout....
E (842170) chip[ZCL]: OpCreds: Failed AddNOC request with IM error 0x85

[2022-07-28 02:58] jonsmirl commented on #21091
This works for me on a Google Pixel 3.

[2022-07-28 03:10] erjiaqing commented on #21171
@caubut-charter I have filed an PR to fix this issue and tested locally, please check if it works for you.

[2022-07-28 03:18] bzbarsky-apple commented on #19991
Note, by the way: this is _not_ the right expected value.  The rigtht expected value is a cluster-specific error, not a general error.

[2022-07-28 04:20] bzbarsky-apple commented on #21313
@mrjerryjohns @cecille

[2022-07-28 05:48] caubut-charter commented on #21171
@erjiaqing I had to comment this out but otherwise it is working!

https://github.com/project-chip/connectedhomeip/blob/bfaa3904272105fa164d79f426cf267d8139df4b/src/controller/python/chip/native/__init__.py#L78-L79

It throws this exception if I don't.  I am not sure that condition would ever pass on the first call to `_GetLibraryHandle` with `shouldInit` set to `True`?

[code]

Once I commented t

[2022-07-28 06:20] manjunath-grl commented on #17666
@krypton36 can you please tell the steps how to generate PAKEVerifier using setup PIN code.

[2022-07-28 06:39] #21171 closed

[2022-07-28 06:42] yufengwangca commented on #21131
#21336 addressed the following two proposals which address the existing problems
[code]

For `- Consider a design that uses 1 key per endpoint, rather than 1 key per label.`

I was wondering if we need to do this refactor, since we need to introduce extra data structure and meta date to manage the label list, and we can not add the item directly when receive ListOperation::AppendItem command, we n

[2022-07-28 06:57] GSIVANAGARJUNA commented on #21264
@bzbarsky-apple please find attached log files

[Timeout_error.txt](https://github.com/project-chip/connectedhomeip/files/9206278/Timeout_error.txt)
[matter lo terminal.txt](https://github.com/project-chip/connectedhomeip/files/9206280/matter.lo.terminal.txt)

[2022-07-28 06:57] #21264 closed

[2022-07-28 10:14] Survensa commented on #20800
@cjandhyala please reopen this issue.

[2022-07-28 10:19] Saravana-kr22 opened #21341 "[SQA] TC-CNET-4.9- Network changes are not reverted After the Failsafe in WIFI."
#### Problem
Disarming the failsafe should revert all changes made inside the failsafe.
But in Ble-wifi Pairing, after setting the failsafe to 0 also the changes are not reverted in TC-CNET-4.9.

**Note:** In Ble-thread, after setting the failsafe to 0 changes are reverted.

**Expected behavior  :**

**Actual behavior  :**

**System configuration:**

- DUT : All-cluster-app ( RPI)
- CNTRL : Chipto

[2022-07-28 11:55] Morozov-5F commented on #14639
Per discussion with @DanM-AssaAbloy in Slack, there's no need to perform this check in the code.

[2022-07-28 12:35] jonsmirl opened #21348 "Android chip-tool has been broken for over a week"
Clean checkout and build this morning on 8fe47272d2288e81d5480be4254f03079bb74744

Built all-clusters and flashed into ESP32
Built Android app and loaded into Pixel 3a.

Pairing fails...

I (72512) chip[DL]: Confirm received for CHIPoBLE TX characteristic indication (con 1) status= 0
E (72522) chip[DL]: Long dispatch time: 416 ms, for event type 7
I (72602) chip[DL]: Confirm received for CHIPoBLE

[2022-07-28 13:51] bzbarsky-apple opened #21350 "Read/Subscribe handler eviction can put reporting engine in a bad state"
#### Problem
When we evict Read/Susbcribe handlers, we call `Close()` on the handler.

This puts it into the `AwaitingDestruction` state, which means that in its destructor it does not call `OnReportConfirm` on the reporting engine.  If it was in the "awaiting report response" state before being evicted, we will fail to decrement `mNumReportsInFlight` and eventually we will stop being able to send

[2022-07-28 15:22] bzbarsky-apple commented on #20930
This looks like the right behavior per spec, insofar as the spec makes any sense (see https://github.com/CHIP-Specifications/connectedhomeip-spec/issues/5507).

In particular, the commands above add a credential _but use an existing user for the credential_, so the userIndex in the response is null because the "Set Credential" did not create a user.

[2022-07-28 17:30] bzbarsky-apple commented on #13551
The framework tests that ran multiple YAMLs without a stack restart are gone.

[2022-07-28 17:30] #13551 closed

[2022-07-28 17:44] Rajashreekalmane opened #21362 "[TC-ACT-2.2]TH fails to subscribe StateChanged and ActionFailed event."
#### Problem
As per Test-Plan for step 4d, If TH sends a subscribe request to DUT,  DUT should responds with  an event list Report Data Message with the data for specific event,  But DUT responds as  No entry for an event in EventReports list

 * **expected behavior**:-Report Data Message with the data for specific event
 * **actual behavior:**- No entry for the event in EventReports list
 * **ste

[2022-07-28 19:13] mrjerryjohns commented on #21350
We shouldn't actually move the `OnReportConfirm` logic to `Close` since it's possible to shut-down the handler by directly destroying it without calling `Close` (e.g `InteractionModelEngine::Shutdown`), so having the logic in the destructor I think is still the most right and safest thing.

We should just delete the `AwaitingDestruction` state since a) it's not used to check or guard any other API

[2022-07-28 19:55] woody-apple commented on #14639
Thanks. Will remove the TODO.

[2022-07-28 20:44] bzbarsky-apple commented on #21350
I was not suggesting we move them.  I was suggesting we copy them, so we do it before we go into the AwaitingDestruction state, then in the destructor if we're still `IsAwaitingReportResponse()` we do it there too.

That works for me.

[2022-07-28 20:46] bzbarsky-apple commented on #21350
Oh, hmm.  I guess we actually did handle this correctly in that `MoveToState` has that copy of the `OnReportConfirm` logic, when leaving the `AwaitingReportResponse` state!

[2022-07-28 20:46] #21350 closed

[2022-07-28 20:48] mrjerryjohns commented on #21350
That's not pretty. We should really fix that...

[2022-07-28 20:52] franck-apple commented on #21277
Per discussion with @cjandhyala, this seems to be a test environment issue (test plan issue here: https://github.com/CHIP-Specifications/chip-test-plans/issues/1947). Closing. Please re-open if SDK work is needed.

[2022-07-28 20:52] #21277 closed

[2022-07-28 21:08] robszewczyk opened #21377 "Bring LevelControl cluster into compliance with the spec"
#### Problem
Issue #21294 highlighted missing parameters in the LevelCluster definition.  Aside from the missing parameters in the `*WithOnOff` variants of commands, and misnamed parameters, the cluster definition still shows the following shortcomings:

- [ ] Capitalization of parameter names: Use CamelCase instead of snake_case
- [ ] Nullability for CurrentLevel

May be fixed by #21361

[2022-07-28 21:30] bzbarsky-apple commented on #21264
@GSIVANAGARJUNA Looks like operational discovery failed. Did the server actually join the Thread network?  Were its operational advertisements visible?

[2022-07-28 22:09] #21294 closed

[2022-07-29 00:26] pgravel-com opened #21388 "Stop BdxOTASender polling timer after EOF on Darwin"
Polling timer is never stopped after successful file transfer when using [src/darwin/Framework/CHIP/MTROTAProviderDelegateBridge.mm](https://github.com/project-chip/connectedhomeip/blob/master/src/darwin/Framework/CHIP/MTROTAProviderDelegateBridge.mm)

Step to reproduce -
Add log to BdxOTASender:HandleTransferSessionOutput for visibility
Initiate BDX OTA firmware update transfer
Wait for EOF
See t

[2022-07-29 00:50] cjandhyala commented on #21315
per instructions from @tcarmelveilleux and @Damian-Nordic , I am able to build the all-cluster-app (on raspi linux) without using 'chip_build_libshell=true' flag in the all-cluster app using build command i.e. 'scripts/examples/gn_build_example.sh examples/all-clusters-app/linux/ out/all-clusters-app chip_inet_config_enable_ipv4=false chip_enable_ota_requestor=true' .

However, I get CONSTRAINT_ER

[2022-07-29 01:13] erjiaqing commented on #21171
Note: I also found this issue just after 21324, the fix should be included in the ToT already.

[2022-07-29 01:47] tcarmelveilleux commented on #21315
In `8.8.2.3. Incoming Invoke Request Action`:

CONSTRAINT_ERROR is correct here.

SDK and spec are correct. TC-DGEN-2.3 must be amended.

[2022-07-29 01:48] yunhanw-google opened #21389 "Test: Check status sent by readClient"
I wonder whether we can assert something about the message the other side got (i.e. the exact status the ReadClient sent).  If not, please file a followup issue about making it possible.  I have some thoughts on what we can do here if htere is not already an easy way.

_Originally posted by @bzbarsky-apple in https://github.com/project-chip/connectedhomeip/pull/21368#discussion_r932647880_

[2022-07-29 01:58] bzbarsky-apple commented on #21388
@vivien-apple

[2022-07-29 03:06] tatsutaigu opened #21391 "[ESP32] Where are Discriminator and Setup-pin-code in menuconfig?"
#### Problem
I cannot find discriminator and setup pin code setting in menuconfig.
Where is it?
How do I change it?
[https://github.com/project-chip/connectedhomeip/tree/master/examples/all-clusters-app/esp32#commissioning-over-ble](https://github.com/project-chip/connectedhomeip/tree/master/examples/all-clusters-app/esp32#commissioning-over-ble)

I tried `grep "f00" sdkconfig`, `grep "3840" sdkco

[2022-07-29 04:01] bzbarsky-apple commented on #21391
@shubhamdp @dhrishi

[2022-07-29 04:22] dhrishi commented on #21391
@tatsutaigu In the end products, these parameters won't be configurable through menuconfig but would be fixed an pre-configured in the device. As we are getting closer to production, the support for this was removed on purpose. You can check the sub-section "Using ESP32 Factory Data Provider (Optional)" [here](https://github.com/project-chip/connectedhomeip/tree/master/examples/lighting-app/esp32#

[2022-07-29 04:49] shubhamdp commented on #21391
I have removed the those stale pointers in #21340

[2022-07-29 05:18] tatsutaigu commented on #21391
@dhrishi and @shubhamdp

Thank you for your prompt reply and action.
I understand it.

[2022-07-29 05:18] #21391 closed

[2022-07-29 05:51] shgutte opened #21395 "[EFR32] [WF200] TC-CNET-4.4 failed on scanning the particular AP details"
#### Problem
In TC-CNET-4.4 need to scan the particular SSID but sometimes it returns the empty structure and sometimes we are getting the values for the SSID.

Actual output:
[1659002761.855917][26059:26064] CHIP:TOO:   ScanNetworksResponse: {
[1659002761.856046][26059:26064] CHIP:TOO:     networkingStatus: 0
[1659002761.856121][26059:26064] CHIP:TOO:     wiFiScanResults: 0 entries
[1659002761.85

[2022-07-29 05:57] cjandhyala commented on #21315
closing the issue per @tcarmelveilleux comment

[2022-07-29 05:57] #21315 closed

[2022-07-29 06:17] cjandhyala commented on #21395
@shgutte if you provisioned the device over IP transport, the scan results shown in ScanNetworksResponse will be 0. pls chk which transport you are provisioning the device with. If you provision over Wifi it will produce results.

[2022-07-29 08:46] sowmyassp commented on #21212
The Keypress 2 and 4 is also aborting DUT
![image](https://user-images.githubusercontent.com/90545664/181721303-67a25436-3d77-454e-b84a-247ce25ba111.png)

[2022-07-29 09:12] sowmyassp opened #21400 "Need tool support for generating elements"
**Issue :**
**Need tools supported for  the following**

1. For generating invalid NOCSR Information
2. To extracts the TLV-encoded nocsr_elements_message from nocsr_elements
3. For generating the NOC
4. For generating new NOC is generated from the NOCSR returned in csr_update and is signed by new ICA
5. For generating the new ICAC is generated and signed by new_root_key

**Test-cases is affected

[2022-07-29 09:13] dhrishi commented on #21182
Thanks for reporting the isue @Ilidur . @shubhamdp Please address this in your upcoming documentation PR, a pointer to the appropriate section in BUILDING.md for Mac as well as Linux

[2022-07-29 10:03] sowmyassp opened #21401 "Need to add temperature sensor in bridge-app"
**Issue :**
Need to add temperature sensor in bridge-app when chip-tool read DeviceTypeList with EP3, 4, 5, 6, 10,11, 12, 13.
When DeviceTypeList is read with above EP, the device-list should contain Type 770(Temperature sensor)

**PFA Logs:**
[BR.txt](https://github.com/project-chip/connectedhomeip/files/9218832/BR.txt)

[2022-07-29 10:42] Survensa commented on #20800
Attached full execution log for reference : [cnet-4.11.txt](https://github.com/project-chip/connectedhomeip/files/9219172/cnet-4.11.txt)

[2022-07-29 11:13] ChengqiangShe opened #21403 "TC-CADMIN-1.9 is an invalid test case"
first step：
sudo ./chip-tool pairing open-commissioning-window 1 1 900  1000 3228  --commissioner-name alpha

The maximum timeout of this step is 900S
second step：
1. On 2nd controller using chip-tool connect using wrong manual code. Repeat the step for 20 times.

sudo ./chip-tool pairing  code  2  31222737007 --timeout 3  --commissioner-name beta

But this step needs to wait for the device to tim

[2022-07-29 11:58] Survensa opened #21405 "[SQA] TC-CNET-4.3 LastNetworkingStatus & LastNetworkID Returns Null value."
#### Problem
In TC-CNET-4.3 In Ethernet Pairing the Network Attribute list has one entry, But while executing the LastNetworkingStatus & LastNetworkID command. It throws the Null value as the Output. It is not the Expected Outcome.

**Note:**  In Ble-Wifi & Ble-Thread pairing , It gives the Excepted Outcome.

**Excepted Outcome:**

[1654076802.288708][33669:33674] CHIP:TOO:   LastNetworkID: 636869

[2022-07-29 12:11] Rajashreekalmane opened #21406 "[TC-LVL-4.1] TH fails to Move the DUT up at step 1b"
#### Problem
As per test-plan in test step 1b TH sends a move command to DUT with the move mode field set to 0x00 (move up) and the rate field set to 0x20 (32 units per second) DUT should responds as Success, while verifying move command by sending currentlevel attribute responds as 1 instead of 0xFE.

 * expected behavior:-  DUT should respond 0xFE
 * actual behavior:-DUT is responding as 1
 * st

[2022-07-29 12:22] Rajashreekalmane opened #21407 "[TC-LVL-5.1] TH fail to step up the DUT at step 2a."
#### Problem
As per test-plan test step 2a "TH sends a Step command to DUT SERVER, with the step mode field set to 0x00 (step up), the step size field set to 0x40 (64 units) and the transition time field set to 0x14 (2s)" DUT should responds with success, while verifying step command by reading  CurrentLevel attribute, DUT responds currentlevel  as 1 instead 0x40 (64 units)

* expected behavior:-D

[2022-07-29 13:32] sowmyassp opened #21410 "Bridge-functionality - The keypress 2 and 4 is aborting the DUT"
**Issue :**
The keypress 2 and 4 are aborting the DUT
![image](https://user-images.githubusercontent.com/90545664/181770857-e4815add-9b30-494a-a29d-bebbfbb263e1.png)

**Commit used** : https://github.com/project-chip/connectedhomeip/commit/29873290196796fbf23e28083163f8565bb479ba
**Chip-tool** - RPI-4, 8GB RAM
**DUT** - RPI - RPI-4, 8GB RAM
**Platform** : linux platform
**Dut application**: bridge

[2022-07-29 13:35] leorozendaal commented on #21406
(discussing with @Rajashreekalmane  via slack)

[2022-07-29 13:35] leorozendaal commented on #21407
(discussing with @Rajashreekalmane  via slack)

[2022-07-29 13:40] bzbarsky-apple commented on #21212
@sowmyassp https://github.com/project-chip/connectedhomeip/pull/21287 should fix those on Linux.  On Mac some more work will be needed to make it work....

[2022-07-29 13:45] sowmyassp commented on #21212
@bzbarsky-apple I am working it on Linux itself, but its aborting in linuc too

[2022-07-29 13:57] bzbarsky-apple commented on #21395
@cjandhyala This is not a Linux thing; it's an EFR32 device.  And the point, if you look in the logs, is that an undirected scan is succeeding but a directed scan is not returning useful data.

@shgutte Looking at the logs, the directed scan is scanning for the SSID "matter_tenda", right?  I don't see that ssid in the listing the undirected scan in the log produced, so the most probable thing goin

[2022-07-29 13:58] bzbarsky-apple commented on #21401
@sowmyassp Does https://github.com/project-chip/connectedhomeip/pull/21287 resolve this?

[2022-07-29 14:01] bzbarsky-apple commented on #21403
@ChengqiangShe This command:
[code]
should time out after 3 seconds, no?

In any case, bugs in test plans or test steps should be filed in https://github.com/CHIP-Specifications/chip-test-plans/issues/new/choose

[2022-07-29 14:07] bzbarsky-apple commented on #21405
What the spec for LastNetworkingStatus says is:

In this case there was no ConnectNetwork command.  I'm not sure whether there was "autonomous connection" going on here or not....  So it's possible that null is in fact a correct value to return.

LastNetworkID has similar language.

We need to figure out whether this is a bug in the Ethernet driver or whether the test expectations need adjusting.

[2022-07-29 14:09] bzbarsky-apple commented on #21410
On Linux, https://github.com/project-chip/connectedhomeip/pull/21287 will fix this, by holding the right locks.

On Mac, we will need a bit more work.  But given this issue is for RPI, https://github.com/project-chip/connectedhomeip/pull/21287 should be enough.

[2022-07-29 16:10] sowmyassp commented on #21410
Ok then I will follow up with 21287 PR on linux, and close this isue here

[2022-07-29 16:10] #21410 closed

[2022-07-29 16:19] cjandhyala commented on #21341
@Saravana-kr22 Could you pls attach a complete log

[2022-07-29 16:20] cjandhyala commented on #20800
Dup of #21341

[2022-07-29 16:20] #20800 closed

[2022-07-29 16:23] sowmyassp commented on #21401
@bzbarsky-apple Yes 21287 will resolve this issue so closing this issue here will follow up with 21287, thank you

[2022-07-29 16:23] #21401 closed

[2022-07-29 16:27] cjandhyala commented on #21129
@cm-s-dev Could you provide the stack trace log using gdb ?

[2022-07-29 16:32] cjandhyala commented on #20787
Aswathy to verify and close the ticket

[2022-07-29 16:32] #21306 closed

[2022-07-29 16:46] raju-apple opened #21425 "chip-tool : Currently in the YAML scripts the PICS checks in each step are case-sensitive , can this be made case-insensitive please?"
This issue was a major pain-point in SVE1 from a lot of participants

I'll explain with an example here :
Currently in YAML scripts , if a step is something like this :

[code]

The PICS value I.S.C40.Rsp is case sensitive here , if the PICS tool or the test plan or spec changes it due to any reason or a manual error to either I.S.c40.Rsp or I.S.C40.RSP , the test case wouldn't execute as desired.

[2022-07-29 17:25] woody-apple commented on #21407
Cert Blocker Review: Marking this as 'needs provisional' unless we have a resolution to this issue today.

[2022-07-29 17:25] woody-apple commented on #21406
Cert Blocker Review: Marking this as 'needs provisional' unless we have a resolution to this issue today.

[2022-07-29 17:25] woody-apple commented on #21405
Cert Blocker Review: Marking this as 'needs provisional' unless we have a resolution to this issue today. Possible this is an error in the test case as well.

[2022-07-29 17:25] woody-apple commented on #21400
Cert Blocker Review: Marking this as 'needs provisional' unless we have a resolution to this issue today.

[2022-07-29 17:28] woody-apple commented on #21362
Cert Blocker Review: Marking this as 'needs provisional' unless we have a resolution to this issue today.

[2022-07-29 17:28] woody-apple commented on #21341
Cert Blocker Review: Marking this as 'needs provisional' unless we have a resolution to this issue today.

[2022-07-29 17:29] woody-apple commented on #21425
Cert Blocker Review: Marking this as 'needs provisional' unless we have a resolution to this issue today. Possible this is an error in the test case as well.

[2022-07-29 17:32] woody-apple commented on #21236
Cert Blocker Review: Marking this as 'needs provisional' unless we have a resolution to this issue today.

[2022-07-29 17:32] woody-apple commented on #21129
Cert Blocker Review: Closing this, as the CSG is not seeing this fail in the reference platform.

[2022-07-29 17:32] #21129 closed

[2022-07-29 17:42] woody-apple commented on #21009
Cert Blocker Review: Marking this as 'needs provisional' unless we have a resolution to this issue today.

[2022-07-29 17:43] woody-apple commented on #20991
Cert Blocker Review: Marking this as 'needs provisional' unless we have a resolution to this issue today.

[2022-07-29 17:44] woody-apple commented on #20930
Cert Blocker Review: @cjandhyala to follow up on the test here.

[2022-07-29 17:45] #21131 closed

[2022-07-29 17:45] woody-apple commented on #20882
Cert Blocker Review: Marking this as 'needs provisional' unless we have a resolution to this issue today.

[2022-07-29 17:48] woody-apple commented on #20882
Cert Blocker Review: Removing cert blocker, given we don't know of any tests at this point that are failing.

[2022-07-29 17:49] jepenven-silabs commented on #20862
Removing the spec label as this issue is a setup issue (OS configuration issue).

[2022-07-29 17:49] woody-apple commented on #20787
Cert Blocker Review: Closing this, given we believe the merged PR resolves this issue.

[2022-07-29 17:49] #20787 closed

[2022-07-29 17:49] woody-apple commented on #19991
Cert Blocker Review: Marking this as 'needs provisional' unless we have a resolution to this issue today.

[2022-07-29 17:50] woody-apple commented on #19989
Cert Blocker Review: Marking this as 'needs provisional' unless we have a resolution to this issue today.

[2022-07-29 17:50] woody-apple commented on #19807
Cert Blocker Review: Marking this as 'needs provisional' unless we have a resolution to this issue today.

[2022-07-29 17:51] woody-apple commented on #19068
Cert Blocker Review: Marking this as 'needs provisional' unless we have a resolution to this issue today.

[2022-07-29 18:03] aajain-com opened #21430 "[crash] Matter: __59-[MTRBaseClusterPowerSource initWithDevice:endpoint:queue:]_block_invoke"
#### Problem
Crash reported during stability run with SHA `aa9457e6b94b735076dff6297176183bf9780177 `

[code]

[code]

[code]

Apple reference: radar:97794001

[2022-07-29 19:08] #20930 closed

[2022-07-29 19:28] #21388 closed

[2022-07-29 19:34] #19807 closed

[2022-07-29 20:39] #21425 closed

[2022-07-29 20:49] Morozov-5F commented on #14036
It is already implemented in the SDK.

[2022-07-29 20:49] #14036 closed

[2022-07-29 20:51] Morozov-5F commented on #14040
Already addressed in the SDK.

[2022-07-29 20:51] #14040 closed

[2022-07-29 20:52] Morozov-5F commented on #14039
Should already be addressed in the SDK.

[2022-07-29 20:52] #14039 closed

[2022-07-29 20:52] Morozov-5F commented on #14037
Should be already addressed in the SDK.

[2022-07-29 20:52] #14037 closed

[2022-07-29 20:53] Morozov-5F commented on #14640
Holiday schedules are already implemented.

[2022-07-29 20:53] #14640 closed

[2022-07-29 21:21] #19991 closed

[2022-07-29 22:50] mikaelhm commented on #16664
This can be closed, verified no longer an issue.

[2022-07-29 22:51] mikaelhm commented on #19982
This can be closed, verified no longer an issue. Ubuntu 22.04 and Python 3.10 is support now.

[2022-07-29 22:52] mikaelhm commented on #17947
This can be closed, verified no longer an issue.

[2022-07-29 23:19] franck-apple commented on #16664
Closing per above comment.

[2022-07-29 23:19] #16664 closed

[2022-07-29 23:19] franck-apple commented on #17947
Closing per above comment.

[2022-07-29 23:19] #17947 closed

[2022-07-29 23:19] franck-apple commented on #19982
Closing per above comment.

[2022-07-29 23:19] #19982 closed

[2022-07-29 23:23] bzbarsky-apple opened #21453 "SubscriptionCallback::ReportData needs to capture its callbacks in block vars."
#### Problem
SubscriptionCallback::ReportData  (in MTRBaseDevice.mm) does this:
[code]

but by the time the async block runs, `mAttributeReportCallback` can have become null, right?  And in general, this is doing racy access to the callback....

We have crashes on that call to mAttributeReportCallback that I bet are due to this.

 #### Proposed Solution
The callback should be getting captured into

[2022-07-29 23:57] #20862 closed

[2022-07-30 03:32] bzbarsky-apple opened #21459 "Stop using an enum for VendorId"
#### Problem
See https://github.com/project-chip/connectedhomeip/pull/21442#discussion_r933705809: We have an enum with a few values defined, but lots of places treat it as being able to hold any valid vendor id.

 #### Proposed Solution
1. Make VendorId a typedef for uint16_t, or if we can get away with it a struct type that holds `uint16_t` (more type-safe, likely more pain).
2. Rename our enum

[2022-07-30 15:28] #11262 closed

[2022-07-30 15:59] woody-apple opened #21465 "Chef nRF builds failing"
#### Problem
nRF Chef builds are failing: https://github.com/project-chip/connectedhomeip/runs/7588705946?check_suite_focus=true

 #### Proposed Solution
Fix

[2022-07-30 16:34] woody-apple commented on #21465
Please note: https://github.com/project-chip/connectedhomeip/pull/21466 (and feel free to revert when resolved)

[2022-07-30 19:50] plan44 opened #21468 "iOS 16 beta 4 commissioning aborts with "Certificate not yet valid""
#### Context

Commissioning example apps from connectedhomeip (in my case: bridge-app) with iOS was possible following the guide document [docs/guides/darwin.md](https://github.com/project-chip/connectedhomeip/blob/master/docs/guides/darwin.md) using TE9 checkout.

#### Problem

Since iOS 16 beta 4 was released on 2022-07-27, commissioning always fails, logging (in the commissioner, in the iOS dev

[2022-07-31 05:47] #20882 closed

[2022-07-31 13:49] jonsmirl opened #21470 "Binding code is missing implementation for group binding"
Looking at src/app/clusters/bindings/* there is code in there for unicast bindings, but I see nothing implementing group bindings which are required by the spec. The binding code should also implement loopback if nothing is bound.

Loopback is needed in this case, consider a common smart light switch.
In the CHIP light demo toggling the bulb is handled locally.
[code]
In the CHIP light-switch demo

[2022-07-31 17:08] #21470 closed

[2022-07-31 17:36] leorozendaal commented on #21407
root cause (likely) is the use of parameter level=1 in MoveToLevelWithOnOff which will not turn on the device (by spec).
Expected to be resolved by rework of testplan => https://github.com/CHIP-Specifications/chip-test-plans/pull/1965

[2022-07-31 17:37] leorozendaal commented on #21406
root cause (likely) is the use of parameter level=1 in MoveToLevelWithOnOff which will not turn on the device (by spec).
Expected to be resolved by rework of testplan => https://github.com/CHIP-Specifications/chip-test-plans/pull/1965

[2022-07-31 17:37] leorozendaal commented on #21407
root cause (likely) is the use of parameter level=1 in MoveToLevelWithOnOff which will turn off the device (by spec).
Expected to be resolved by rework of testplan => https://github.com/CHIP-Specifications/chip-test-plans/pull/1965

[2022-07-31 22:19] coderbyheart commented on #3183
Still not fixed.

[2022-08-01 05:23] rosahay-silabs commented on #21265
@bzbarsky-apple ,

The log here has a full round of idle testing. The testing being done here is, first commission the DUT -> idle for 1 hour -> do basic cases like unicast, multicast, then re-commission.

I have to run a wireshark for getting the answer to why we get 1452-byte buffer.

In another issue, the logic around `LwIPReceiveUDPMessage` seemed incorrect, something which is being looked at

[2022-08-01 08:50] markus-becker-tridonic-com commented on #16435
Duplicate of https://github.com/project-chip/connectedhomeip/issues/16229

[2022-08-01 08:50] #16435 closed

[2022-08-01 08:55] ChengqiangShe opened #21482 "TC-BINFO-2.2 test case"
How can I generate shutdown event in TC-BINFO-2.2 test case

[2022-08-01 09:59] Damian-Nordic commented on #20976
I think it has been fixed in the light switch sample and later, more generally by:

Could you confirm that the issue is not appearing using a revision newer than that?

[2022-08-01 10:20] Survensa commented on #21405
@bzbarsky-apple There is bug only with ethernet driver because it works fine with `Blw-wifi` and `Ble-thread`

[2022-08-01 10:42] chirag-silabs opened #21484 "[TC-CADMIN-1.20] Multiadmin broken on the latest master"
#### Problem
The multiadmin for connecting 5 devices the device 4 and 5 gets the logs TC-CADMIN-1.19 and TC-ADMIN-1.20

[1659350036.493128][6629:6629] CHIP:SPT: VerifyOrDie failure at ../../third_party/connectedhomeip/src/lib/support/Pool.h:317: Allocated() == 0
Aborted (core dumped)

After getting the device commissioning completed with success message. I am able to check the commands to that nod

[2022-08-01 10:43] doru91 opened #21485 "Unclear behavior during operational discovery"
#### Problem
There are times when the "on-network" commissioning of the linux ota-provider fails.

When it fails, it look like the Sigma1 doesn't reach the ota-provider (full chip-tool logs in "chip_tool_logs_not_ok_blocked_after_sigma1.txt"):
[code]

This is confirmed if I look in the tcpdump logs on rpi (capture_nok.pcap): I see only the messages from PASE.

 #### Proposed Solution
If I set down

[2022-08-01 13:37] Survensa commented on #20803
@doublemis1 I am able to connect to second network through second OTBR but the issue is I am not able to proceed further, I was forced to restart the whole setup.

[2022-08-01 13:46] Saravana-kr22 commented on #21341
@cjandhyala Here is the full log of the test case: [cnet-4.9.txt](https://github.com/project-chip/connectedhomeip/files/9234381/cnet-4.9.txt)

[2022-08-01 14:26] chirag-silabs commented on #21484
Sorry my bad, was using a Raspberrypi with 1.2 TH which have chip-tool older than this commit. Checked out on latest commit and it seems to be working fine.
Sorry for the trouble and thanks for the help.

[2022-08-01 14:26] #21484 closed

[2022-08-01 14:55] bzbarsky-apple commented on #21468
Hmm.  This sounds a lot like https://github.com/project-chip/connectedhomeip/issues/20302

Is it possible that the timezone on the iOS device changed around the same time as it was updated to the beta?  What timezone is the iOS device using in this case?

[2022-08-01 14:56] bzbarsky-apple commented on #21468
Also, are you using the "TE9" version of iOS CHIPTool that you compile yourself?  That is, are you using an iOS CHIPTool that does not have the fix for https://github.com/project-chip/connectedhomeip/issues/20302 in it?

[2022-08-01 15:00] bzbarsky-apple commented on #21482
if you are using an actual device, you would do it by shutting down the device.  If you are using one of the simulated "example app" devices, you can kill the app.

[2022-08-01 15:00] #21482 closed

[2022-08-01 15:02] #21465 closed

[2022-08-01 15:07] bzbarsky-apple commented on #21485
That section does not say "retry with a different address".  It says "check what the address is now and retry with the new address if it has changed".  And we do do that if we had a CASE session established and we send a message and it does not get an ack: we re-resolve the address for the node and update the CASE session to the newly resolved address.

But the situation you're running into is not

[2022-08-01 16:12] dtodor opened #21492 "Missing `nullptr` checks in `SetUpCodePairer::OnPairingComplete`"
This code crashes if the pairing delegate has not been set before starting pairing mit the `SetUpCodePairer `.

https://github.com/project-chip/connectedhomeip/blob/cedcce07b318745187f3fdaec165929cd68e6262/src/controller/SetUpCodePairer.cpp#L439

https://github.com/project-chip/connectedhomeip/blob/cedcce07b318745187f3fdaec165929cd68e6262/src/controller/SetUpCodePairer.cpp#L452

[2022-08-01 16:37] robertfarnum opened #21493 "CHIPDeviceController-JNI.cpp incorrect JNIEnv method call for newly added methods"
#### Problem

The following newly added JNI methods use the incorrect JNIEnv method (CallIntMethod):

    bool attemptNetworkScanWiFi        = env->CallIntMethod(controllerParams, getAttemptNetworkScanWiFi);
    bool attemptNetworkScanThread      = env->CallIntMethod(controllerParams, getAttemptNetworkScanThread);

should be (env->CallBooleanMethod):

   bool attemptNetworkScanWiFi        = env->C

[2022-08-01 16:38] #20594 closed

[2022-08-01 17:20] #21406 closed

[2022-08-01 17:20] #21407 closed

[2022-08-01 17:35] mrjerryjohns commented on #21493
FYI @chrisdecenzo, since he made that original change.

[2022-08-01 17:42] mrjerryjohns commented on #21492
Seems like that is the only code-path in `SetUpCodePairer` that doesn't actually check for a valid delegate pointer.

@bzbarsky-apple any specific reason why?

[2022-08-01 17:47] mrjerryjohns commented on #21485
Looking at your logs, `fd00:6d61:7474:6572::1` should indeed be reachable since that looks like the IP address of the BR from the 'thread mesh side'. The BR has a route setup that should forward all traffic to `fd00:6d61:7474:6572::` to the BR interface.

Is ip6 forwarding enabled on the BR? If it isn't, this won't work.

Standard scripts to do this already [exist](https://github.com/openthread/ot

[2022-08-01 18:05] mrjerryjohns commented on #21348
I don't believe the Android chip-tool is being actively maintained at this point.

[2022-08-01 18:06] mrjerryjohns commented on #21314
Can we close this issue @chrisdecenzo ?

[2022-08-01 18:06] mrjerryjohns commented on #21313
@cecille could you help take a look at this?

[2022-08-01 18:50] jonsmirl commented on #21348
So no more example for anyone writing a based Java controller app to start from?
The tv-app does not work the same way.

This is going to make it much harder for vendors to write their own setup apps.

[2022-08-01 20:04] #19989 closed

[2022-08-01 20:04] #18678 closed

[2022-08-01 20:24] krypton36 commented on #17666
ninja -v -C out/host spake2p
./out/host/spake2p gen-verifier -p 20202021 -i 1000 -l 32 -s 5350414B453250204B65792053616C74 -o pake_verifier.txt

[2022-08-01 20:25] krypton36 commented on #17666
5350414B453250204B65792053616C74 might need to be encoded to base64

[2022-08-01 20:27] krypton36 commented on #17666
echo "5350414B453250204B65792053616C74" | xxd -r -p | base64

[2022-08-01 20:30] krypton36 commented on #17666
Or `echo -n "SPAKE2P Key Salt" | od -A n -t x1 | xxd -r -p | base64`

[2022-08-01 21:54] mrjerryjohns opened #21501 "Remove `FabricTable::AddNewFabricForTestIgnoringCollisions`"
#### Problem

Regarding `FabricTable::AddNewFabricForTestIgnoringCollisions`

Source: [here](https://github.com/project-chip/connectedhomeip/pull/21420#discussion_r933665968).

[2022-08-01 22:23] bzbarsky-apple commented on #21492
I am not aware of a specific reason.  `DeviceCommissioner::OnSessionEstablished` does not have a null-check either, and this code is just handling the call from that....

We should likely just add checks in both places, though it's odd to be pairing something without a way to know when pairing is done.

[2022-08-01 22:37] #21453 closed

[2022-08-02 00:55] bzbarsky-apple commented on #21265
I don't have any great insights on #20923; I haven't had a chance to dig through those bits yet.  It's possible that we're getting incorrect packet sizes for some reason as a result of that, yes...

[2022-08-02 01:03] bzbarsky-apple commented on #21405
@Survensa Wi-Fi and Thread do ConnectNetwork during commissioning.  Ethernet does not.

[2022-08-02 01:20] #21492 closed

[2022-08-02 01:36] chrisdecenzo commented on #21493
Working on a fix for this now.

[2022-08-02 02:24] tatsutaigu commented on #21348
I think they move to their beta program.
[https://developers.home.google.com/matter/get-started](https://developers.home.google.com/matter/get-started)
[https://developer.apple.com/apple-home/](https://developer.apple.com/apple-home/)

[2022-08-02 02:35] TheWalkingDead1024 commented on #20668
@vidhis88 @mspang michael @Damian-Nordic @markus-becker-tridonic-com @austinh0 @ritikananda27 @wgtdkp @vivien-apple @chulspro @pan-apple @g-coppock @joonhaengHeo @woody-apple @emargolis @joonhaengHeo @gmarcosb @chrisdecenzo, could anybody have a look at this issue？Many thanks!

[2022-08-02 03:21] TheWalkingDead1024 opened #21517 "When will Android API support firmware update?"
When will Android API support firmware update?

[2022-08-02 04:30] chirag-silabs commented on #21341
@Saravana-kr22 just a query this happens the same in 4.11 as well right?

[2022-08-02 04:34] shubhamdp opened #21520 "source bootstrap.sh cloning unnecessary submodules"
#### Problem
- Clone chip repo to depth 1
[code]

- Shallow clone the submodules with depth 1 for specific platform
[code]

- Below is the output for `source scripts/bootstrap.sh`, and it is deep cloning the submodules
[code]

 #### Proposed Solution
- It should not clone the submodules or at least do a shallow copy

[2022-08-02 04:54] dhrishi commented on #21520
@mspang Can you please help?

[2022-08-02 05:41] aajain-com commented on #21453
@bzbarsky-apple @woody-apple  this seems very similar to https://github.com/project-chip/connectedhomeip/issues/21142 that I filed given that  `SubscriptionCallback::OnReportEnd` ends up calling `ReportData()` as per the code. WDYT?

[2022-08-02 05:51] shchen-Lab opened #21521 "Apple Homekit can't control device when device reset."
Hi
I refer apple homekit user guide， this guide can add commission and control my device. My device is BL602 Lighting  example firmware.  This device code commit id  8638802e06fce1501c5c73b40a1d4eae98d076cb base interop_testing_te9 branch.  It can't control by homekit app when device reset.
![image](https://user-images.githubusercontent.com/75290921/182301550-e38f0808-c5e4-40d1-9f95-819f000cf691.p

[2022-08-02 06:26] revanthb28 opened #21525 "[BRBINFO-2.3]-Response Failure: IM Error 0x0000057F: General error: 0x7f (UNSUPPORTED_ENDPOINT)"
#### Problem
Hi All,

We are seeing an issue in BRBINFO-2.3 step 6 case while we are using Hub as the DUT with  TH 1.3

command used

./chip-tool bridgeddevicebasic read node-label 1 3

Issue:
Response Failure: IM Error 0x0000057F: General error: 0x7f (UNSUPPORTED_ENDPOINT)

 * expected behavior
 *[1657696463.081741][15476:15481] CHIP:TOO: Endpoint: 3 Cluster: 0x0000_0039 Attribute 0x0000_0005 Dat

[2022-08-02 06:31] Saravana-kr22 commented on #21341
@chirag-silabs Yes, The same issue happens in TC-CNET-4.11.

[2022-08-02 07:10] #21430 closed

[2022-08-02 09:16] innovation-matters-iot opened #21532 "PICS expression parsing return wrong value"
#### Problem
The PICSBooleanExpressionParser in [PICSChecker.h](https://github.com/project-chip/connectedhomeip/blob/ed95611a2d4a2b62b4e99c533b899442baad1894/src/app/tests/suites/include/PICSChecker.h#L40) returns false when it should be true which results in skipped testcases.

TC:
https://github.com/project-chip/connectedhomeip/blob/cbd90ca207260147f89107cc728071a0baab6253/src/app/tests/suites/c

[2022-08-02 09:29] KlausSchaefers opened #21533 "Device Types / Profiles"
#### Problem
I cannot find the right documentation about the supported device types profiles and operations and interfaces. Where can I find this information?

Thanks,

Klaus

[2022-08-02 10:37] Damian-Nordic commented on #21520
I guess `bootstrap.sh` could simply call `git submodule update` (without `--init`) if `third_party/pigweed/repo/pw_env_setup/util.sh` already exists. That way it would preserve the user's choice on which submodules should be fetched.