[2022-06-20 16:24] #19634 closed

[2022-06-20 16:31] bzbarsky-apple commented on #19757
IdentifyQueryResponse is not part of Matter.  I filed https://github.com/CHIP-Specifications/chip-test-plans/issues/1552 on the buggy test plan.

[2022-06-20 16:35] bzbarsky-apple commented on #19761
@mkleszcz-no The units of setpoint dead band are 1/10 of a degree.  The units of setpoints are 1/100 of a degree.  The spec is not as clear on this as one would like, but when subtracting the values they need to be subtracted as actual temperature values, not as the raw integer values representing the temperatures...

That's where the factor of 10 comes from.

[2022-06-20 16:39] bzbarsky-apple commented on #19765
Duplicate of #19613.

[2022-06-20 16:39] #19765 closed

[2022-06-20 16:40] bzbarsky-apple commented on #19766
all-clusters-app has a vendor-specific attribute in that cluster, for testing purposes.

Nothing is being "thrown", and nothing says devices can't have vendor-specific extensions to clusters.

[2022-06-20 16:40] #19766 closed

[2022-06-20 16:41] bzbarsky-apple commented on #19769
Duplicate of https://github.com/project-chip/connectedhomeip/issues/19610

[2022-06-20 16:57] bzbarsky-apple commented on #19774
Error 0x19 is CHIP_ERROR_BUFFER_TOO_SMALL.

@adamb-q What DUT is being used?  That is, which exact example app (if this is an example app) and on what exact platform?  Is it using minimal mdns or platform mdns?

Is it possible to compile the DUT with `CHIP_CONFIG_ERROR_SOURCE` set to 1, so that the error will include some information about where it's being returned from?

[2022-06-20 17:03] franck-apple commented on #18801
Per Silabs team, this is not needed for the lighting-switch app. Closing.

[2022-06-20 17:03] #18801 closed

[2022-06-20 17:06] bzbarsky-apple commented on #19774
I _suspect_ based on where I see CHIP_ERROR_BUFFER_TOO_SMALL around advertising code:

1. This is a Thread device.
2. `CHIP_DEVICE_CONFIG_THREAD_SRP_MAX_SERVICES` is set too small: either it's set to the same value as  `CHIP_CONFIG_MAX_FABRICS` or set to `CHIP_CONFIG_MAX_FABRICS + 1` but the device supports commissioner discovery.

Would it be possible to check the values of the following configur

[2022-06-20 17:25] bzbarsky-apple commented on #19758
@sstruchtrup Do you have a device that has both of the following:

1. `CHIP_CONFIG_MAX_FABRICS` set to 16
2. `CHIP_CONFIG_PEER_CONNECTION_POOL_SIZE` set to 16

?  The latter (the secure session pool size) has 16 as the default value on the pre-SVE commit you reference above....

If that's the setup, then it would fail as described because you'd need to have 16 CASE sessions and 1 PASE session to c

[2022-06-20 17:44] cpagravel opened #19776 "Spell check broken by #19043"
#### Problem
* Spellcheck CI was broken by #19043

 #### Proposed Solution
* Fix the spellcheck CI.

We should consider avoiding merges if CI jobs are broken. In that particular PR there are only 59 of 66 checks passing.

[2022-06-20 23:51] #19776 closed

[2022-06-21 02:14] nykh2010 opened #19785 "close-session miss the device disconnect"
https://github.com/project-chip/connectedhomeip/blob/2ac3ee761232b466db70c196986e90081f2c4ec3/examples/chip-tool/commands/pairing/CloseSessionCommand.cpp#L38

when send close session to the peer node via chip-tool, a disconnect process maybe add after send StatusReport message to remove the local secure session.

[2022-06-21 04:19] bzbarsky-apple commented on #19622
I think generic FAILURE may be our best option here, given what the spec says right now....  Worth checking with Dan Matosian how he expects this to work?

[2022-06-21 05:30] bzbarsky-apple commented on #19727
Thanks, that is very helpful.  So the TLV dump shows the SSID values as empty byte strings.   `TLVReader::Get(ByteSpan &)` will return a ByteSpan whose `data()` is null and length is 0 in that situatuon.

The chip-tool code for logging a byte string does `BytesToUppercaseHexString` which calls `BytesToHex`.  `BytesToHex` does:
[code]
which will fail out if `src_bytes` is null, even if `src_size ==

[2022-06-21 05:36] bzbarsky-apple commented on #19727
I guess `BytesToHex` does document that the buffer must not be null...  @tcarmelveilleux would you prefer we allow null + 0-size here, or just fix this caller?

[2022-06-21 06:14] sstruchtrup commented on #19758
@bzbarsky-apple Thanks for the quick feedback. Increasing `CHIP_CONFIG_PEER_CONNECTION_POOL_SIZE` to 17 will actually allow 16 fabrics to be commissioned.

[2022-06-21 06:14] #19758 closed

[2022-06-21 06:28] Arkq commented on #19776
Sorry for that, I've missed that the spell check has failed. Maybe it should be marked as required? @andy31415

[2022-06-21 06:49] wickyou23 commented on #16892
Hi all, I built debug mode for an android project using Android Studio (Mac Mini Chip M1), and I got the same error. Are there any updates on this issue?

Thanks.

Execution failed for task ':app:generateJsonModelDebug'.

[2022-06-21 07:32] sowmyassp opened #19790 "TC-ACT-2.2 - Need verification steps to verify action-list atribute"
**Issue :**
1. Need verification steps to verify action-list attribute that is test-step 3 to 4e.
2. This [PR](https://github.com/project-chip/connectedhomeip/pull/19487) contains the details of the verification for endpoint-list attribute but not for action-list attribute

**Test-plan reference :**
https://github.com/CHIP-Specifications/chip-test-plans/blob/master/src/cluster/actions.adoc#tc-act-

[2022-06-21 07:43] adamb-q commented on #19774
Hi @bzbarsky-apple, yes this is a Thread device - light app on qpg platform. The configuration is as follows:

`#define CHIP_CONFIG_MAX_FABRICS 4`
`#define CHIP_DEVICE_CONFIG_THREAD_SRP_MAX_SERVICES (CHIP_CONFIG_MAX_FABRICS + 1)`
`#define CHIP_DEVICE_CONFIG_ENABLE_COMMISSIONER_DISCOVERY 0`
`#define CHIP_DEVICE_CONFIG_ENABLE_THREAD_COMMISSIONABLE_DISCOVERY 1`

unfortunately I cannot recompile with

[2022-06-21 08:00] mkleszcz-no opened #19791 "[pre-sve] TC-CC-2.1 ColorCapabilities attribute doesn't have the same values as the corresponding bits of the FeatureMap attribute."
all-cluster-app
nrf52840dk
revison: https://github.com/project-chip/connectedhomeip/commit/1e3f12041013dd71a53d035dbf2f6d142fc06c4e

TC-CC-2.1, step 19:
 #### Problem
 * Expected behavior:
    Bits 0-4 of the ColorCapabilities attribute SHALL have the same values as the corresponding bits of the FeatureMap attribute.

 * Actual behavior:
   FeatureMap: 31
   color capabilities : 0

 * Logs:
[TC_CC

[2022-06-21 08:37] HubertHugo opened #19793 "[Pre-SVE] TC-DRLK-1.1 Not all SCH commands supported"
SHA: 1e3f12041013dd71a53d035dbf2f6d142fc06c4e
platform: nRF25840
all-clusters-app

Feature map suggests DUT supports SCH
[code]
but
[code]
[code]
dont include mandatory for SCH
Accepted: 0x10, 0x11, 0x12, 0x13
Generated: 0x12

[2022-06-21 08:46] hidaris commented on #16678
I fix it in https://github.com/project-chip/connectedhomeip/pull/19792 You can try it to see if it solves your problem

[2022-06-21 08:46] Survensa opened #19794 "[SQA] State value is not changing for changing the state of the Lock attribute in doorlock"
### Problem :
Door Position Sensor is not able to fetch current door-state, it remains constant when door-lock is unlocked from lock-state or locked from unlock-state. Due to this DUT is not able to fetch any door-state-change event.

## Platform used :

- > Tested on : 2ac3ee761232b466db70c196986e90081f2c4ec3
- > server : lock-app ( RPI-4, 8GB RAM)
- > client : chip-tool ( RPI-4, 8GB RAM )
- > ne

[2022-06-21 09:11] HubertHugo opened #19797 "[Pre-SVE] TC-DRLK 2.1 enable_inside_status_led_constraint error"
SHA: 1e3f12041013dd71a53d035dbf2f6d142fc06c4e
platform: nRF52840
all-clusters-app
When writing to enable-inside-status-led i get constraint error.

[enable_inside_status_led_constraint_error_door_lock_chip_tool.log](https://github.com/project-chip/connectedhomeip/files/8947435/enable_inside_status_led_constraint_error_door_lock_chip_tool.log)

[2022-06-21 09:37] HubertHugo opened #19798 "[Pre-SVE] door-lock does not lock/unlock"
SHA: 1e3f12041013dd71a53d035dbf2f6d142fc06c4e
platform nRF52840
all-cluster-app
Chip tool returns failure when I try to lock/unlock the door. Lock state does not change. Same thing I mentioned in https://github.com/project-chip/connectedhomeip/issues/19097
Chip tool logs:
[door-lock-issue-chip-tool.log](https://github.com/project-chip/connectedhomeip/files/8947614/door-lock-issue-chip-tool.log)

[2022-06-21 09:52] HubertHugo opened #19799 "[Pre-SVE] TC-DRLK 2.5 set week day schedule results in NOT_FOUND"
SHA: 1e3f12041013dd71a53d035dbf2f6d142fc06c4e
platform: nRF52840
all-clusters-app

command
./chip-tool doorlock set-week-day-schedule 1 1 2  15 45 16 55 1 1
results in NOT_FOUND.

Logs:
[set-week-day-schedule-issue.log](https://github.com/project-chip/connectedhomeip/files/8947727/set-week-day-schedule-issue.log)

[2022-06-21 09:58] manjunath-grl opened #19800 "YAML script build fails when validating PlaybackSpeed attribute against a negative value"
Summary:
The YAML script build process fails with the following error message when PlaybackSpeed [Media Play Back Cluster] attribute is validated to return a negative value

Diff link:
https://github.com/project-chip/connectedhomeip/compare/master...manjunath-grl:Invalid_Digit_Error

Execution logs:
![invalid digit](https://user-images.githubusercontent.com/102359958/174772817-60f0c347-a629-4624-9

[2022-06-21 10:03] sethunk opened #19801 "Group Communication - Unable to verify if the multicast command is working correctly"
**Problem** - We are sending the multicast command to DUT for writing the node-label attribute value to "newnode" in Basic Information Cluster. We are trying to read the same attribute value in unicast mode to check if the multicast command actually worked but we are not able to see the value changed in the attribute.
Before sending the multicast command we are setting the appropriate ACL entry an

[2022-06-21 10:14] HubertHugo opened #19802 "[Pre-SVE] TC-DRLK 2.8 Set,get,clear user result in failure"
SHA: 1e3f12041013dd71a53d035dbf2f6d142fc06c4e
platform: nRF52840
all-clusters-app

Set-user, get-user, clear-user return failure.

Logs:
[set-get-clear-user-issue.log](https://github.com/project-chip/connectedhomeip/files/8947917/set-get-clear-user-issue.log)

[2022-06-21 10:27] HubertHugo commented on #19802
Test 2.9 (set,get,clear credential) fail due to the same reason.

[2022-06-21 10:53] manjunath-grl commented on #18848
@woody-apple @raju-apple after Precondition we added a delay of 1 sec now it is working fine
YAML screenshot:
![image](https://user-images.githubusercontent.com/102359958/174782968-b6712b23-de89-4e02-87b4-68fe15f7d830.png)
Execution logs:
[CC_9_1.zip](https://github.com/project-chip/connectedhomeip/files/8948176/CC_9_1.zip)

[2022-06-21 10:53] #18848 closed

[2022-06-21 12:34] yinyihu-silabs opened #19804 "[pre-sve] TC-GC-1.1/2.1 supports-concurrent-connection missing in Window Cover app"
#### Problem
supports-concurrent-connection is not implemented in Window cover sample app.

 #### Commit
SHA: https://github.com/project-chip/connectedhomeip/commit/1e3f12041013dd71a53d035dbf2f6d142fc06c4e
Platform: EFR32

[2022-06-21 13:11] tcarmelveilleux commented on #19727
Let's handle null + 0-length correctly

[2022-06-21 13:27] Survensa opened #19807 "[SQA] [TC-DRLK-2.10] Lock-Operation-Error & Door Lock Alarm events need to be implemented in Lock-app."
### Summary :

While identifying the verification steps for doorlock cluster test plan,  SQA found that the following events are not able to be triggered.

## Events which needs implementation :

1. > LockOperationError Event for DisabledUserDenied and Restricted
2. > Door-lock-alarm Event for  LockJammed
3. > Door-state-change for Lock and Unlock [ https://github.com/project-chip/connectedhomeip/

[2022-06-21 13:49] Survensa commented on #19807
@Morozov-5F  As discussed, I have raised this issue, kindly give your comments if any.

[2022-06-21 14:11] HubertHugo opened #19810 "[Pre-SVE] TC-SU 2.8 when OTA Provider commissioned first, does not let second commissioner commission to the DUT"
SHA: 1e3f12041013dd71a53d035dbf2f6d142fc06c4e
platform: Linux
OTA Provider

When I commission DUT and OTA Provider, second commissioner isn't commissioning to DUT. OTA Provider doesn't change his CM value back to 0 after being commissioned.

[ota_commissioned_but_cm_is_1_chip-tool.log](https://github.com/project-chip/connectedhomeip/files/8949622/ota_commissioned_but_cm_is_1_chip-tool.log)

[2022-06-21 14:20] mkleszcz-no opened #19811 "[pre-sve] TC-BINFO-2.1 Issue with writing type string values to Attributes"
all-cluster-app
nrf52840dk
revison: https://github.com/project-chip/connectedhomeip/commit/1e3f12041013dd71a53d035dbf2f6d142fc06c4e

It is not possible to write values of type string to attributes in Basic Information Cluster.

### Example:

![Screenshot from 2022-06-21 16-00-23](https://user-images.githubusercontent.com/105919822/174818733-688b7d40-e158-45f8-aaa9-8a230f138d61.png)

VendorName att

[2022-06-21 15:38] cduvenhorst commented on #19675
Yes. For a (unsafe) workaround see #16664.

Issue can be closed.

[2022-06-21 16:11] bzbarsky-apple commented on #19785
The point of this command is _just_ to send a CloseSession to the remote.  It's not meant to be used as a general-purpose session-closing mechanism.

That said, technically per spec sending a CloseSession should in fact tear down the local side of the session it's sent on.  We should probably move the sending down out of chip-tool proper into the SDK, and have it do the send and close the local se

[2022-06-21 16:12] bzbarsky-apple commented on #19790
The action-list depends on the device, no?  It's a list of what actions the device supports.

This does not seem like an SDK issue to me...

[2022-06-21 16:12] #19790 closed

[2022-06-21 16:18] #16678 closed

[2022-06-21 16:22] bzbarsky-apple commented on #19791
@jmartinez-silabs

[2022-06-21 16:23] bzbarsky-apple commented on #19793
The spec here is changing and the SCH bit is getting split up into multiple features, which are independent.  We do need to update the implementation to that, though.

@Morozov-5F

[2022-06-21 16:27] bzbarsky-apple commented on #19794
I don't see anything in the spec that prevents the "door is open but lock is in the locked position" situation.  So staying in the "door open" state when lock-door happens does not seem impossible...

@DanM-AssaAbloy @RyanLindemanCAE  @Morozov-5F

[2022-06-21 16:53] bzbarsky-apple commented on #19798
Please use lock-app, not all-clusters-app, for door lock tests.

[2022-06-21 16:54] bzbarsky-apple commented on #19799
Duplicate of #19622

[2022-06-21 17:13] bzbarsky-apple commented on #19804
Yep, looks like this thing needs to be enabled.

[2022-06-21 17:14] woody-apple commented on #19811
Cert Blocker Review: This is not correct usage of the tool. @bzbarsky-apple to update.

[2022-06-21 17:16] woody-apple commented on #19807
Cert Blocker Review: @Morozov-5F can you please take a look at the mandatory events? Thanks

[2022-06-21 17:16] mrjerryjohns commented on #19535
Last of all, the computation of the value is dividing the total available resources by the number of currently commissioned fabrics. This is not compliant with what the spec is actually saying here (which is requiring the minimum number of subs supported per fabric assuming at least 5 fabrics could be commissioned on the device).

[2022-06-21 17:18] woody-apple commented on #19804
Cert Blocker Review: Assuming that we need this sample app for cert, marking cert blocker. Assigning to @jmeg-sfy can you take a peek please?

[2022-06-21 17:18] woody-apple commented on #19802
Cert Blocker Review: Leaving as requested, we don't know what's being tested for locks.

[2022-06-21 17:20] #19802 closed

[2022-06-21 17:21] woody-apple commented on #19798
Cert Blocker Review: Same as https://github.com/project-chip/connectedhomeip/issues/19802, closing. Please re-test using the lock app.

[2022-06-21 17:21] #19798 closed

[2022-06-21 17:24] woody-apple commented on #19794
Cert Blocker Review: Agree with @DanM-AssaAbloy above. Marking invalid test and closing.

[2022-06-21 17:24] #19794 closed

[2022-06-21 17:25] woody-apple commented on #19793
Cert Blocker Review: This appears like the SDK needs to update, @Morozov-5F can you take a peek at this?

[2022-06-21 17:26] woody-apple commented on #19791
Cert Blocker Review: @jmartinez-silabs, can you take a peek please?

[2022-06-21 17:28] woody-apple commented on #19774
Cert Blocker Review: Not clear what's going on here yet, @bzbarsky-apple will investigate.

[2022-06-21 17:30] woody-apple commented on #19755
Cert Blocker Review: @pankore Can you please add logs, there's no information here to help debug this. Thanks!

[2022-06-21 17:30] jmartinez-silabs commented on #19791
I will fix it right away. I do wonder why this attribute is needed, as based on the spec, it is the exact same thing as the feature map.

[2022-06-21 17:31] woody-apple commented on #19727
Cert Blocker Review: Assigning to @bzbarsky-apple

[2022-06-21 17:32] woody-apple commented on #19720
Cert Blocker Review: Making this a spec conformance issue, as there's no cert test for this that we know of.

[2022-06-21 17:34] woody-apple commented on #19622
Cert Blocker Review: Making this a cert blocker, we should do something reasonable here in the SDK.

[2022-06-21 17:36] woody-apple commented on #18901
Cert Blocker Review: Marking as cert blocker, we think something is broken on the linux platform. Tagging @andy31415 @franck-apple myself @woody-apple to find an owner.

[2022-06-21 17:37] woody-apple commented on #16099
Cert Blocker Review: Given t his is feedback from an older TE, closing. Please re-open if this is still happening.

[2022-06-21 17:46] woody-apple commented on #8433
Spec Issue Review: Assigning to @bzbarsky-apple to confirm the current state of things

[2022-06-21 17:48] woody-apple commented on #10221
Spec Issue Review: Unassigning @cjandhyala given he's OoO. @turon Can you do a quick pass to see how the SDK is here in relation to spec conformance?

[2022-06-21 17:49] woody-apple commented on #14578
Spec Issue Review: Given the age of this (TE 7.5), marking this as closed, given we have no open cert blockers on this.

[2022-06-21 17:49] #14578 closed

[2022-06-21 17:51] woody-apple commented on #16266
Spec Issue Review: Given this an older issue, and there is no cert blocker tracking this. Closing. Please re-open if this is still an issue.

[2022-06-21 18:11] bzbarsky-apple commented on #19811
When doing write-by-id the input is JSON.

In JSON, a string is in quotes.  The quotes above are being "eaten" by your shell, so not making their way to the JSON parser.

You want `chip-tool basic write-by-id 0x1 '"sample"' 1 0` or `chip-tool basic write-by-id 0x1 \"sample\" 1 0` or some other method of escaping those quotes from the shell.

[2022-06-21 18:11] #19811 closed

[2022-06-21 18:21] bzbarsky-apple commented on #19797
The command being used is:
[code]
This sends the integer "1" as the value for the attribute, encoded as a TVL integer.

But this is a boolean attribute, and the valid values are `true` and `false`, encoded as TLV booleans.  So a TLV integer here is in fact a CONSTRAINT_ERROR error.

Using
[code]
works fine, as expected.

[2022-06-21 18:21] #19797 closed

[2022-06-21 18:28] bzbarsky-apple commented on #19535
So we need two functions: the bare minimum we guarantee per fabric (which depends on max fabrics), and the value the resource-allocation logic needs, which is depends on our actual number of fabrics.

[2022-06-21 18:39] mrjerryjohns opened #19818 "Cirque failing due to a stack crash"
#### Problem

On some master runs, Cirque is failing with an odd stack crash:

[code]

[2022-06-21 18:43] mrjerryjohns commented on #19818
My initial suspicions are the following:

1. We're scheduling both `_handleError` and `_handleDone` in `AyncWriteTransaction` through the calls to `call_soon_threadsafe` in `Attribute.py`. However, after setting `self._future`'s result in `_handleError`, it's very likely the event loop in question closes immediately there-after. So `_handleDone` will be scheduled on an event loop that is now close

[2022-06-21 19:08] #8433 closed

[2022-06-21 20:01] bzbarsky-apple commented on #19774
@adamb-q Thank you, that's very useful.  Those config defines look reasonable: we have one service for the commissionable advertisement, 4 for the fabrics.

Looking at the MD-1.21 DUT log again, here's something else interesting.  Here's us finishing the 4th commissioning and advertising our 5 things (the device has extended discovery enabled, presumably):
[code]

And here's us trying to advertise

[2022-06-21 20:25] bzbarsky-apple commented on #19810
@HubertHugo In particular, it looks like commissioning discovery found the wrong thing for that second chip-tool pairing command, but since that command said "find me anything on the network at all that advertises commissionable", and there are multiple commissionable advertisements shown by `avahi-browse`, that's somewhat expected.

It's possible that some of those commissionable advertisements a

[2022-06-21 20:33] bzbarsky-apple commented on #19801
Duplicate of #19608

[2022-06-21 20:33] #19801 closed

[2022-06-21 21:05] s-mcclain opened #19830 "[pre-sve]Unable to commission all-clusters-app via ble-wifi on RPi"
#### Problem
I've been attempting to run tests using the Matter Test Harness with RPi 4 using the latest images provided. The commissioner I'm using is my macbook with chip-tool. If using another Linux laptop or ESP32 as the all-clusters-app, this is always able to commission successfully.

Even after attempting to use the nRF52840 dongle, I'm getting the following error "RegisterAdvertisement: GD

[2022-06-21 23:49] franck-apple commented on #19068
is there more work to be done here in addition to #19629, or can we close this issue?

[2022-06-21 23:56] franck-apple commented on #19613
Looks like we can close this one, as the duplicate https://github.com/project-chip/connectedhomeip/issues/19765 was closed as completed.
Please re-open if it's not the case.

[2022-06-22 00:23] #19800 closed

[2022-06-22 00:30] mrjerryjohns commented on #14566
Chatted with @bzbarsky-apple , punting for post v1.0 since it's not really needed.

[2022-06-22 00:37] #17569 closed

[2022-06-22 02:12] aajain-com opened #19834 "[crash] chip::System::TimerPool<chip::System::TimerList::Node>::Invoke(chip::System::TimerList::Node*)"
#### Problem

Seeing this crash reported during testing on iOS/tvOS. This is seen as recent as TE9 SHA `cfc35951be66a664a6efdadea56d1b8ea6e63e96`.

[code]

[2022-06-22 02:18] aajain-com opened #19835 "[crash] chip::System::TimerPool<chip::System::TimerList::Node>::Invoke(chip::System::TimerList::Node*)"
Problem

Seeing this crash reported during testing on iOS/tvOS. This is seen as recent as TE9 SHA `cfc35951be66a664a6efdadea56d1b8ea6e63e96`.

[code]

[2022-06-22 02:44] #19727 closed

[2022-06-22 02:49] #19623 closed

[2022-06-22 02:50] #19686 closed

[2022-06-22 04:57] bzbarsky-apple commented on #19300
@cyx798 That has nothing to do with this issue.  Please don't add unrelated noise to issues...

[2022-06-22 05:17] bzbarsky-apple commented on #19613
No, this does not make any sense.  The duplicate was closed as a duplicate _of this issue_.

[2022-06-22 05:26] bzbarsky-apple commented on #19653
That won't remove system DNS caches....

Looking at [[chiptool log]matter light-switch demo pair failed.txt](https://github.com/project-chip/connectedhomeip/files/8937106/chiptool.log.matter.light-switch.demo.pair.failed.txt) it looks like there's an attempt to commission as node id 1234.

This, as you note, discovers `fd3d:776c:a6df:29fc:862e:5a77:6c7c:e6e5` as the IP and sends Sigma1 to it.  And

[2022-06-22 06:03] bzbarsky-apple commented on #19791
@jmartinez-silabs I expect it's Zigbee legacy that got carted along "for compat"...  Making bridges' lives easier by making everyone else's lives harder.

[2022-06-22 07:00] #19755 closed

[2022-06-22 07:15] sowmyassp opened #19839 "AddTrustedRootCertificate Command send constraint_error when invalid_command is expected while sending malformed certificate"
**Problem:**

When Arm fail command is sent  with malformed Root Certificate in a new fail safe timer period we expect to see INVALID_Command but we are seeing CONSTRAINT_ERROR

**Spec Referrence**-11.18.7.13
![image](https://user-images.githubusercontent.com/90545664/174967012-2be0f261-7486-40c7-96c0-a8cfef8059a2.png)

**Commit used** : c60233daaa8ea68b4f1198d640e6f89966363f31

**Sequence of Step

[2022-06-22 07:56] Morozov-5F commented on #19793
Well that's all-clusters-app, lock-app supports all the schedule features at once

[2022-06-22 07:58] Damian-Nordic commented on #19642
If you get "Timed out waiting on server response" error, it's worth checking OTBR logs as well. In our testing we only encountered "Parsing operation failed" error when sending big SRP updates. https://github.com/project-chip/connectedhomeip/pull/19803, merged yesterday, should reduce the size of our SRP updates, and https://github.com/openthread/openthread/pull/7776 in OpenThread should help proc

[2022-06-22 08:57] HubertHugo opened #19840 "[Pre-SVE] Test TC-SC-5.2 Update of onoff status and nodelabel does not work."
SHA: 1e3f12041013dd71a53d035dbf2f6d142fc06c4e
platform: nRF52840
all clusters app

I cant update onoff status and nodelabel using group communication.

First I did test 5.1 with commands:
./chip-tool accesscontrol write acl '[{"fabricIndex": 1, "privilege": 5, "authMode": 2, "subjects": [112233], "targets": [{"cluster": null, "endpoint": 0, "deviceType": null}]}, {"fabricIndex": 1, "privilege": 3,

[2022-06-22 09:06] dtodor commented on #19624
We are testing using the `lighting-app` example built using the following commands:
[code]

We've also added the following OpenThread configs to `args.gni`, although not sure whether these are needed at all:
[code]

[2022-06-22 09:39] Leo2442926161 commented on #19653
is it possible that I add the --sed in build parameter? it can pair easily  after I removed --sed parameter.

which commit is cfc35951be66a664a6efdadea56d1b8ea6e63e96

[2022-06-22 11:02] HubertHugo opened #19844 "TC-DIAG-TH_NW 2.1 Neighbor table list contains an entry with FrameErrorRate out of range, Security policy Flags value is also out of range"
SHA: 1e3f12041013dd71a53d035dbf2f6d142fc06c4e
platform: nRF52840
all clusters app

Frame error rate should be in range 0-100 but it's 124.

./chip-tool threadnetworkdiagnostics read neighbor-table-list 1 0
[code]

Flags should be of type uint8 but its 8335.

./chip-tool threadnetworkdiagnostics read security-policy 1 0
[code]

[2022-06-22 11:16] kghost opened #19847 "Change local MRP parameter from Optional<ReliableMessageProtocolConfig> to a dedicate type."
#### Problem
1. Enforce its constructor, to prevent regression like #19749
2. Save heap memory for platforms which want to use a global unique config. Then the size of this object can by 0, we don't bother passing the config value around.

 #### Proposed Solution
As the title

[2022-06-22 13:21] HubertHugo opened #19851 "[Pre-SVE] User label writing too long label"
SHA: 1e3f12041013dd71a53d035dbf2f6d142fc06c4e
platform: nRF52840
all clusters app

When doing test TC-ULABEL-2.2 i wrote this command to see what happens:
 ./chip-tool userlabel write label-list '[{"label":"roomName", "value":"master bedroom 1"}, {"label":"orientationorientation", "value":"east"}, {"label":"floor", "value":"2"}, {"label":"roomType", "value":"bedroom"}]' 1 0

So one of labels is lo

[2022-06-22 13:35] HubertHugo commented on #19851
Later I found Test TC-ULABEL 2.3 tries to test it but does not handle it properly. From what I found it let's you assign Label and Value that are combined not longer than 34 characters. No matter the length read displays first 16 characters from both.

[2022-06-22 14:32] #19839 closed

[2022-06-22 14:35] bzbarsky-apple commented on #19839
I read through the test plan, and it looks like this s trying to do step 40 from the test plan?  But the steps being carried out above look nothing like the parts of the test plan that come before step 40....

[2022-06-22 14:47] bzbarsky-apple commented on #19839
Though following the test plan exactly would run into trouble too.  Filed https://github.com/CHIP-Specifications/chip-test-plans/issues/1560

[2022-06-22 15:01] mkardous-silabs commented on #19801
The correct ACL command to allow a groud write attribute command is :
[code]

Also, you do not need to send a second acl write before actually sending the group command.

[2022-06-22 15:09] bzbarsky-apple commented on #19851
In `examples/providers/DeviceInfoProviderImpl.cpp` we have `DeviceInfoProviderImpl::SetUserLabelAt` which will happily store over-size values as long as they fit in the total space it has for the TLV.  But on read we go through `DeviceInfoProviderImpl::UserLabelIteratorImpl::Next` which does:
[code]
which will silently truncate lengths.

This needs to be fixed to be spec-compliant and reject over-

[2022-06-22 15:11] bzbarsky-apple commented on #19851
@yufengwangca @andy31415

[2022-06-22 15:16] mkardous-silabs commented on #19840
@HubertHugo See this comment for steps that work for groups.
https://github.com/project-chip/connectedhomeip/issues/19608#issuecomment-1156931777

and replace the acl command by thise one
https://github.com/project-chip/connectedhomeip/issues/19801#issuecomment-1163223895

[2022-06-22 15:18] bzbarsky-apple commented on #19840
Allows any group access to endpoint ***1***.

Adds endpoint ***0*** to group 0x0001.

Will fail ACL checks because Basic Information is on endpoint 0 (which is in the group), but we only have ACLs for endpoint 1.

Will do nothing because only endpoint 0 is in the group and there is no On/Off cluster on that endpoint.

Looks like those steps need fixing.  I filed https://github.com/CHIP-Specificati

[2022-06-22 15:18] #19840 closed

[2022-06-22 15:18] mkardous-silabs commented on #19840
@bzbarsky-apple  This is a duplicate of
#19801  and #19608

[2022-06-22 15:20] #19791 closed

[2022-06-22 15:37] bzbarsky-apple commented on #19844
For the neighbor table frame error rate `src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp` does:
[code]
where `neighInfo` is a `otNeighborInfo`.  Its definition for `mFrameErrorRate` at https://openthread.io/reference/struct/ot-neighbor-info#structot_neighbor_info_1a98814b49467b869ff4a15bba5c1d9ca2 says:

I'm surprised this assignment even compiles.  @Damian-Nordic @kkasperczyk

[2022-06-22 15:52] bzbarsky-apple commented on #19653
Interesting.  @jmartinez-silabs could you take a look, please?

[2022-06-22 15:54] bzbarsky-apple commented on #19793
@Morozov-5F We still need to implement the three different schedule feature bits in the feature map, right?

[2022-06-22 16:07] bzbarsky-apple commented on #19840
Yep, but finally someone explicitly said that it's the verification spreadsheet that's confused.... :)

[2022-06-22 17:29] franck-apple commented on #19098
Per conversation with @sumaky , closing this issue. Will re-open if necessary.

[2022-06-22 17:29] #19098 closed

[2022-06-22 17:47] #19678 closed

[2022-06-22 18:17] #19179 closed

[2022-06-22 18:49] selissia commented on #19333
@sankarselvam @isiu-apple : Still, this is a test specification issue. In both of your examples the periodic query timeout is set to a very low value (10 or 20 seconds) whereas by default it is 24 hrs. This is the reason the test fails with the default config.
The test description must mention that the periodic query timeout must be set to a low value.

[2022-06-22 19:08] cduvenhorst commented on #16664
Solution ahead: If Tornadoweb is [updated](https://github.com/tornadoweb/tornado/issues/3057#issuecomment-1161021068)for Python 3.10.x, there should be no reason not supporting it in pigweed.

However, matters requirements for numpy must be higher than version 1.22.

[2022-06-22 20:03] phonnakasturi-apple commented on #17478
@bzbarsky-apple I saw this issue again with SHA 756e3abe620e634095bac7609b1178f677f7cbf7

And I try to ping the ip I see no output;

% ping6 fdb0:a47c:fc46:0:6b96:a2f0:d434:1667
PING6(56=40+8+8 bytes) fd78:70b2:73ae:4162:ccf:99:5bef:d6fa --> fdb0:a47c:fc46:0:6b96:a2f0:d434:1667

[2022-06-22 20:38] #19620 closed

[2022-06-22 20:52] bzbarsky-apple commented on #17478
@phonnakasturi-apple does `ping6 fdb0:a47c:fc46:0:6b96:a2f0:d434:1667%en7` or whatever the right interface is work?

It sounds like there are some sort of networking issues here that should get sorted out in the specific setup you are using.

[2022-06-22 23:18] andy31415 commented on #19793
Could we make all-clusters not report a featuremap supporting these features? lock app can .

[2022-06-22 23:19] #19747 closed

[2022-06-23 00:39] jmartinez-silabs commented on #19653
I'll take a look into it

[2022-06-23 03:32] #14542 closed

[2022-06-23 03:47] woody-apple opened #19869 "Test_TC_LVL_6_1.yaml has disabled test step"
#### Problem

This YAML step is failing per example here: https://github.com/project-chip/connectedhomeip/runs/7015795479?check_suite_focus=true

[code]

The YAML is:
[code]

 #### Proposed Solution
Fix

[2022-06-23 04:11] erjiaqing commented on #19535
Note: Since #18884 touched the macros for resource minimals, the original issue is fixed already.

[2022-06-23 04:20] tatsutaigu opened #19872 "CHIPDeviceControllerFactory.cpp:245:5: unimplemented: non-trivial designated initializers not supported"
Hi,
I tried below example.
[https://github.com/project-chip/connectedhomeip/tree/master/examples/all-clusters-app/esp32](https://github.com/project-chip/connectedhomeip/tree/master/examples/all-clusters-app/esp32)

I am using Jetson Nano as Linux PC for developing.
However, I cannot build chip-tool.
How do I resolve it?

[2022-06-23 04:47] bzbarsky-apple commented on #19872
@tatsutaigu What compiler ends up being used in your case?

I _suspect_ that switching the order of initializers to match the order of member declarations might work.  As does using a newer compiler...

[2022-06-23 05:21] tatsutaigu commented on #19872
@bzbarsky-apple
Thank you for your reply.
My environment only supports up to gcc-8/g++-8.
I guess it is not recommended version for this project.
I will change Jetson Nano to Raspberry Pi.

[2022-06-23 05:21] #19872 closed

[2022-06-23 06:01] sumaky commented on #19068
@franck-apple API's for following are required
1.We could not see any IPKValue  int logs with trace enabled.
AddNOC command requires IPKValue as its parameter.
2. If this issue is closed is readme file update as to how we can inject errors?
3.  from the help file we see the below commands we could not see IPK
no-error                         - No error to inject.
           cert-oversized

[2022-06-23 06:30] #3266 closed

[2022-06-23 06:41] kvikrambhat commented on #19869
@raju-apple @woody-apple The test steps that is in question here is marked by the PICS "[PICS_SKIP_SAMPLE_APP](https://github.com/project-chip/connectedhomeip/blob/29451fb276acd27d911ab7023d124a4965cfe04d/src/app/tests/suites/certification/PICS.yaml#L615)" , so this steps should not even run on the CI as this PIC was meant to skip steps that are currently not supported by the sample apps.

[2022-06-23 09:23] HubertHugo opened #19883 "[Pre-SVE] Subscription and changing acls to incorrect"
SHA: 1e3f12041013dd71a53d035dbf2f6d142fc06c4e
platform: nRF52840
all clusters app

There are a couple of issues regarding scenario presented below. When I write bad acls it looks like it removes old ones but fails to write new ones, so DUT ends up with no acls, shouldn't it give error while writing instead? Also when I later subscribe to an event it prints UNSUPPORTED_ACCESS as I would expect but

[2022-06-23 10:56] #17085 closed

[2022-06-23 11:23] sethunk opened #19884 "[Network Commissioning] [TC-CNET-4.13 & TC-CNET-4.14] - Unable to perform ReorderNetwork"
**1. Problem**
In Network Commissioning, As the MaxNetworks value is 1, we are unable to perform the ReorderNetwork Command for WiFi and Thread networks.

**2. Sequence of steps**
./chip-tool networkcommissioning read max-networks 1 0

**3. Test Environment**

App used - allclusters app
Platform - Chip-tool - RPI-4, 8GB RAM
DUT - RPI - RPI-4, 8GB RAM
Network - Ble-wifi
Commit - 2ac3ee761232b466db7

[2022-06-23 13:05] mrjerryjohns commented on #19818
master seems to have no more flaky Cirque failures, so safe to say that I think the blind conjecture above was likely the root cause. Closing the issue.

[2022-06-23 13:05] #19818 closed

[2022-06-23 13:07] haigithub opened #19888 "[Proxy] Looks like proxies are not yet fully supported."
#### Problem
##### Clusters about proxies are not yet supported.
ClusterId | ClusterName | Enable Or Not
-- | -- | --
0x0042 | Proxy Configuration Cluster | Not Enable
0x0043 | Proxy Discovery Cluster | Not Enable
0x0044 | Proxy Valid Cluster | Not Enable

##### Definetion of above clusters hasn't been compeleted in XML files.
- connectedhomeip/src/app/zap-templates/zcl/data-model/chip/**proxy-dis

[2022-06-23 13:09] mrjerryjohns commented on #19495
Likely too risky to tackle this for 1.0 given how close we are to SVE.

[2022-06-23 13:10] mrjerryjohns commented on #19127
I think we've tackled all that is needed for v1.0.

[2022-06-23 13:13] mrjerryjohns commented on #18583
Dupe of #19259

[2022-06-23 13:16] mrjerryjohns commented on #18580
For interactions that always have an open exchange, yes, this is true. For subscriptions specifically, this won't suffice.

[2022-06-23 13:20] mrjerryjohns commented on #18580
Nonetheless, I think the utility of this is diminished since:

1. Sessions won't really go away unless evicted to make way for a new one.
2. If new sessions get created from the same peer, the subscription is likely to shift to the new one anyways.

Will see if this crops up as an issue during inter-op.

[2022-06-23 13:23] mrjerryjohns commented on #17256
I've been fielding questions of late on how to assess liveness to a peer, and I think providing a construct in the SDK to help tackle that for consumers is highly valuable for 1.0.

[2022-06-23 13:26] #15688 closed

[2022-06-23 13:32] mrjerryjohns commented on #13543
This has been solved by adding `SetCommandTimeout` to `ClusterBase`, and using that to set the timeout.

[2022-06-23 13:32] #13543 closed

[2022-06-23 13:36] tcarmelveilleux opened #19889 "cmd_ping/cmd_send in Shell are obsolete"
#### Problem
Shell's `examples/shell/shell_common/cmd_ping.cpp` and `examples/shell/shell_common/cmd_send.cpp` were doing non-Matter low-level communication used early in bring-up, but pretending to use modern APIs, as the code was "kept building" the whole time.

These commands need to be removed outright.

 #### Proposed Solution
- Remove obsolete commnads in Shell

[2022-06-23 13:37] mrjerryjohns commented on #10332
Has since been fixed.

[2022-06-23 13:37] #10332 closed

[2022-06-23 13:52] mrjerryjohns commented on #15023
Is this really a spec issue? I don't see mention in the spec of the specific error that needs to be returned here...

[2022-06-23 13:54] mrjerryjohns commented on #14340
Fixed a while back.

[2022-06-23 14:16] mrjerryjohns commented on #14555
I had added `time.sleep(1)` in the Multi Fabric Python test to work around this issue. Let me remove it now and see if everything works fine...

[2022-06-23 14:17] mrjerryjohns commented on #14555
Marking this as p1 and V1.0, since it's a fairly critical piece of machinery that needs to work right for multi fabric deployments.

[2022-06-23 14:33] rwells1703 opened #19896 "Raspberry Pi armhf build always failing"
Hello, I've been trying to build Matter (specifically chip-tool and lighting-app) for the Raspberry Pi (32 bit armhf) for some time now however the Ninja compilation always fails with the same error.

I'm not sure why, but the x86_64 version of glib seems to be in the included dirs

![image](https://user-images.githubusercontent.com/13154431/175324694-6d4f4d38-0b14-4795-b620-2d028be4495d.png)

 ev

[2022-06-23 15:07] tcarmelveilleux opened #19898 "ACL events not generated by AddNOC/RemoveFabric"
#### Problem
ACL events are not generated by `AddNOC` and `RemoveFabric` command handlers, which both cause the ACL to be mutated.

 #### Proposed Solution
- Find a way to centralize event notification

[2022-06-23 15:10] tcarmelveilleux opened #19899 "ACL extensions not removed on RemoveFabric"
#### Problem
RemoveFabric command does not remove ACL extensions from storage. Only the ACL cluster touches it in `AccessControlAttribute::WriteExtension`

 #### Proposed Solution
- Delete extensions for fabric on RemoveFabric, but must first add API abstraction for extensions storage so that not only the cluster server knows about them

[2022-06-23 15:11] dhrishi commented on #19199
@nivi-apple This is done now!

[2022-06-23 15:16] latch-danielkneip commented on #18782
The associated PR (https://github.com/project-chip/connectedhomeip/pull/19725) has been approved and merged.
Closing this issue.

[2022-06-23 15:16] #18782 closed

[2022-06-23 15:18] Damian-Nordic commented on #19774
@adamb-q Posted a PR that changes the default number of service slots: https://github.com/project-chip/connectedhomeip/pull/19900. Can you verify that increasing it helps in your case?

[2022-06-23 15:20] jepenven-silabs commented on #19624
@dtodor So the way the OTBR works with an end device for multicast is subscription based. The device needs to be part of the thread network and then you need to add a group to it. Make sure both the chip-tool and the end-device are on the same commit as the building of the Multicast address changed recently and mismatch between chip-tool and the end-device in commit hash might result in the issue

[2022-06-23 15:24] dtodor commented on #19624
But I would assume that pinging the device through the multicast address is a good indicator that the group subscription (MLR, etc.) has taken place and that the OTBR, especially the BBR part of it, are properly working. Right?

[2022-06-23 15:38] Damian-Nordic commented on #19899
Have you seen `OpCredsFabricTableDelegate`. I thought ACLs are deleted there.

[2022-06-23 18:03] mamayorg opened #19912 "[pre-sve] [TC-DRLK-2.6] set-holiday-schedule results in failure"
**Problem**
When trying to set a holiday schedule, the return response is FAILURE.

**Command**
Commands used
./chip-tool doorlock read number-of-holiday-schedules-supported 1 1
./chip-tool doorlock set-holiday-schedule 1 20 30 0 1 1
./chip-tool doorlock get-holiday-schedule 1 1 1

 * expected behavior : Success response. Return the holiday schedule with the localStarttime and localEndTime as well

[2022-06-23 18:26] #17620 closed

[2022-06-23 19:17] Ursescu commented on #16664
Hi, I had the same problem on my Ubuntu 22.04 box. I found a neat solution to download and configure Python 3.8 using [pyenv] (https://github.com/pyenv/pyenv), and it works perfectly. I'm writing this in the hopes that someone will find it useful.

[2022-06-23 19:26] jonsmirl commented on #16664
If you change the global python version, sure CHIP will build and work, but there are a lot of packages in Ubuntu 22 which assume Python 3.10. By reverting the system Python back to 3.8 you are going to break those other packages.  Maybe you don't use those other packages, but if you do, you are going to end up with something that is hard to debug when they fail to work.

The deadsnakes technique

[2022-06-23 19:43] Ursescu commented on #16664
@jonsmirl I use pyenv to override the Python version only in the current shell, but I agree, even in this case, it can lead to bad things.

[2022-06-23 19:45] bzbarsky-apple opened #19918 "PR 19890 added very foot-gun-prone core SDK APIs for no apparent reason"
#### Problem
#19890 added a credentials delegate API to get a NOC chain as Matter TLV, alongside the existing API to get it as DER.  But it did this in a way that is extremely error-prone.  Right now we have public SDK APIs that literally only work if you use the example credentials delegate....

We should have one API here, to get the NOC chain in one format, whether it's DER or TLV.  Consumers t

[2022-06-23 19:45] bzbarsky-apple commented on #19918
@tehampson @tcarmelveilleux @mrjerryjohns

[2022-06-23 20:05] adabreuti commented on #18323
@bzbarsky-apple @nansenLV I'm no longer seeing this issue using the steps from the TE9 verification document with all-clusters embedded application based on SHA: 6231ccc26ffa2bc6d1345b8b7e8f82a63da497e7

[2022-06-23 20:47] mamayorg opened #19919 "[pre-sve][TC-DRLK-2.5][TC-DRLK-2.7] Set-week-day-schedule and clear-week-day-schedule command returns NOT_FOUND"
**Problem**
when using set-week-day-schedule or clear-week-day-schedule commands, the return response is NOT_FOUND.

 **Commands**
Commands used:
./chip-tool doorlock read number-of-week-day-schedules-supported-per-user 1 1
./chip-tool doorlock read number-of-total-users-supported 1 1
./chip-tool doorlock set-week-day-schedule 1 1 2  15 45 16 55 1 1      (NOT_FOUND)
./chip-tool doorlock get-week-d

[2022-06-23 20:56] bzbarsky-apple commented on #14555
It's not used for _FindCommissionableNodes_, which is what this issue was about.  That's using `mDNSResolver` in the `DeviceCommissioner`, which is a `ResolverProxy`.

[2022-06-23 21:13] #9642 closed

[2022-06-23 21:14] #18532 closed

[2022-06-23 21:14] #19181 closed

[2022-06-23 21:23] bzbarsky-apple opened #19921 "Add tests for RemoveFabric cutting off communication"
#### Problem
See https://github.com/project-chip/connectedhomeip/pull/19910#issuecomment-1164749835

Need to figure out how to make sure the tests don't pass randomly (or worse yet fail randomly).

 #### Proposed Solution
Add tests.

[2022-06-23 21:24] mamayorg opened #19922 "[pre-sve][TC-DRLK-2.8] set invalid user returns success"
**Problem**
Using set-user command with an invalid UserType=10 returns a response of success instead of INVALID_COMMAND

 **Commands**
Commands used
./chip-tool doorlock read number-of-total-users-supported 1 1
./chip-tool doorlock set-user 0 1 xxx 6452 1 0 0 1 1  --timedInteractionTimeoutMs 1000
./chip-tool doorlock get-user 1 1 1
./chip-tool doorlock set-user 0 2 xxx 6451 1 10 3 1 1 --timedInter

[2022-06-23 21:27] bzbarsky-apple commented on #19883
List writes are chunked, hence can't be atomic, so the "removes old ones but fails to write new ones" behavior is expected.

See https://github.com/project-chip/connectedhomeip/issues/18485

[2022-06-23 21:27] #19883 closed

[2022-06-23 21:30] bzbarsky-apple commented on #19884
What is the issue, exactly?  Supporting only one network is a perfectly valid state for a device.

Please reopen with a clear description of the specific changes that you want to see here, if needed.

[2022-06-23 21:30] #19884 closed

[2022-06-23 21:31] bzbarsky-apple commented on #19888
Proxies are out of scope for 1.0.

[2022-06-23 21:31] bzbarsky-apple commented on #19896
@mspang @andy31415

[2022-06-23 21:32] bzbarsky-apple commented on #19912
@mamayorg What is the server app being used?

[2022-06-23 21:32] markus-becker-tridonic-com opened #19923 "Generic Switch: Linux sample uses previousPosition / newPosition wrongly and uses positions > numberOfPositions"
#### Problem

previousPosition / newPosition handled wrongly in https://github.com/project-chip/connectedhomeip/blob/master/examples/all-clusters-app/linux/main-common.cpp#L159-L160.

Values of 10 and 20 are also wrong (should be 0 and 1), since numberOfPositions is 2: https://github.com/project-chip/connectedhomeip/blob/master/examples/all-clusters-app/all-clusters-common/all-clusters-app.matter#

[2022-06-23 21:33] bzbarsky-apple commented on #19912
@Morozov-5F

[2022-06-23 21:35] bzbarsky-apple commented on #19919
@mamayorg How exactly is this different from #19622, which is referenced above and seems like exactly the same issue?

[2022-06-23 21:36] bzbarsky-apple commented on #19922
Duplicate of #19563

[2022-06-23 21:36] #19922 closed

[2022-06-23 21:44] bzbarsky-apple commented on #18323
Thank you for re-testing!

[2022-06-23 21:44] #18323 closed

[2022-06-23 22:37] andy31415 commented on #19896
What are the commands you use to compile?

[2022-06-23 22:39] andy31415 commented on #19896
For cross compilation you will need some sysroot that is compatible. I believe our docker images just have a arm64 sysroot.

[2022-06-23 22:50] andy31415 commented on #14555
I did not specifically fix for this issue, but I did update a lot of the discovery code. It is very likely gone (i fixed any lifetime bugs I could see when updating to address resolver) but I cannot guarantee it.

[2022-06-23 22:59] andy31415 commented on #14555
As far as I can tell the changes that likely fixed this are:

AbstractDnssdDiscoveryController::~AbstractDnssdDiscoveryController calls mDNSResolver.Shutdown()
Dnssd::ResolverProxy::Shutdown removes all delegates

[2022-06-23 23:11] presto8 commented on #16664
In one sense, the use of pyenv (or any virtualenv) is the correct approach for locking a dependency like this: if a program specifically is asking for python3.9, then just replacing it with 3.10 is not necessarily the right thing to do. In this case it seems to work fine though.

But this project already uses virtualenv I believe, so I think the best approach here would be to configure that origin

[2022-06-24 00:17] tcarmelveilleux opened #19929 "Make `FindFabricByIndex` const to avoid unexpected/invalid mutations of FabricTable"
#### Problem
It is now forbidden to mutate FabricInfo entries directly without going via FabricTable APIs.

However, it was non-const long enough that many callsites only use const getters, but get a non-const pointer!

We need to fix this

 #### Proposed Solution
- Make the non-const version called "GetMutableFabricByIndex". This is for every callsite in FabricTable.cpp, and ONLY THERE. Make it p

[2022-06-24 01:01] #14555 closed

[2022-06-24 02:29] tcarmelveilleux opened #19935 "Clean-up incoherent fabric in FabricTable::Init()"
#### Problem
If FabricTable fails to properly load a fabric's metadata and validate that the certificates and operational key are present, we can be left with partially configured fabrics which just fail.

 #### Proposed Solution
- Delete fabrics when an inconsistent state is found during FabricTable::Init()

[2022-06-24 02:33] tcarmelveilleux opened #19936 "Make sure Leave event is emitted on internal deletions of fabrics"
#### Problem
The Basic Info cluster Leave event is required to be generated when a fabric is removed. It is not certain this is generated in every instance of fabric removal.

 #### Proposed Solution
- Audit all paths of fabric removal to ensure Leave event is generated.

[2022-06-24 05:05] #19207 closed

[2022-06-24 08:27] nekteckIOS opened #19942 "I downloaded the code repository, and the compilation will report a PhaseScriptExecution error. How to solve this problem. Xcode13, iOS15"
+ gn --root=/Users/yuanrui_ios/Downloads/connectedhomeip-master gen --check out '--args=default_configs_cosmetic=[] chip_crypto="mbedtls" chip_build_tools=false chip_build_tests=false chip_disable_platform_kvs=true target_cpu="arm64" target_defines=["CHIP_ADDRESS_RESOLVE_IMPL_INCLUDE_HEADER=<lib/address_resolve/AddressResolve_DefaultImpl.h>","DEBUG=1","CHIP_ADDRESS_RESOLVE_IMPL_INCLUDE_HEADER=<lib

[2022-06-24 08:50] rwells1703 commented on #19896
Oh yes sorry, it's in the logs but I should have made it clearer. ```gn gen out/rpi_armhf --args='target_os="linux" target_cpu="arm"'``` followed by ```ninja -C out/rpi_armhf``` for both chip-tool and lighting-app.

So I can compile it for arm64 just fine with ```gn gen out/rpi_arm64 --args='target_os="linux" target_cpu="arm64"'``` followed by ```ninja -C out/rpi_arm64``` (obviously the out/* dire

[2022-06-24 08:57] Saravana-kr22 opened #19944 "[SQA] DUT throws the Failure Response as Can not decode Data"
### Problem
In Thread Network Diagnostics Cluster, While reading the Security policy and Operational dataset Attribute are fails with the response as the Can not decode Data.

**Expected behavior** :  Value of attribute.
 **Actual behavior** : Can not decode Data
**Steps to reproduce** :  `./chip-tool threadnetworkdiagnostics read security-policy 83 0`,
        ` ./chip-tool threadnetworkdiagnosti

[2022-06-24 09:09] mkleszcz-no opened #19945 "[pre-sve] TC-MF-1.5 DUT_CE opens Commissioning window - it should fail"
all-cluster-app
nrf52840dk
revison: https://github.com/project-chip/connectedhomeip/commit/1e3f12041013dd71a53d035dbf2f6d142fc06c4e

 #### Problem
Step 10
TH_CR1 opens a new commissioning window on DUT_CE using a commissioning timeout of PIXIT_COMM_WIN seconds using ECM but with wrong PakeVerifier value - command should fail, but it succeed.

 * expected behavior
    DUT_CE fails to open Commissio

[2022-06-24 09:30] adamb-q commented on #19774
Hi @Damian-Nordic I tested your patch and there is no more error 0x19, but still mDNS timeout when trying to commission N+1-th fabric. Attaching logs:

[TC_MF_1_21_patched.log](https://github.com/project-chip/connectedhomeip/files/8974984/TC_MF_1_21_patched.log)
[TC_MF_1_22_patched.log](https://github.com/project-chip/connectedhomeip/files/8974986/TC_MF_1_22_patched.log)
[MF-1.22_patched_DUT.txt](

[2022-06-24 09:39] Qiu-zhangbao opened #19946 "I can`t build android chip tool project in ubuntu ,this is my log and i need help"
According to doc/guides/building_android.md
i Building Android CHIPTool from scripts
i have java11,android-sdk,android-ndk,gradle,and add the path to my system
but i can`t build apk file
this is my log

qzb@ubuntu:~/tools/connectedhomeip$ ./scripts/build/build_examples.py --target android-arm64-chip-tool build
2022-06-24 17:33:45 INFO    Building targets: android-arm64-chip-tool
2022-06-24 17:33:4

[2022-06-24 10:05] #19774 closed

[2022-06-24 12:33] chrisdecenzo opened #19948 "TV - dynamic (content app) endpoints do not support feature flags"
#### Problem
 * The dynamic content app endpoints do not include the feature flag attribute and therefore content apps cannot enable those features

 #### Proposed Solution
Add feature flag attribute to each cluster of the content app

[2022-06-24 13:11] tcarmelveilleux opened #19951 "Reduce stack usage of unit tests"
#### Problem

The following pattern is omnipresent in unit tests:

[code]

In this boilerplate, the `TestContext` can be very large, especially if it accounts for networking and other protocol stack resources. When individual tests are complex, they can have code paths that appear to take more than the max configured stack (see `-Wstack-usage=8192` in `build/config/compiler/BUILD.gn`).

These stac

[2022-06-24 14:29] msandstedt commented on #19081
@woody-apple ,

Yes, tthe platforms in the sdk that were returning obviously incorrect time have been patched to always return an error from their time-getter interfaces.  This may be acceptable for 1.0.

[2022-06-24 15:04] #17221 closed

[2022-06-24 16:40] jmeg-sfy commented on #19804
https://github.com/project-chip/connectedhomeip/issues/18333

[2022-06-24 17:33] bzbarsky-apple commented on #19944
That looks like it's using a chip-tool from before #18920 and a server from after that PR, so they disagree on the data type these attributes are supposed to be

@Saravana-kr22 Please double-check that chip-tool and the server are built from the same exact SHA?

[2022-06-24 17:36] bzbarsky-apple commented on #19945
Why would this fail?  The verifier value is perfectly valid, for PIN code 20202018.

What should fail is an attempt to then pair with some PIN code that is not 20202018.

@mkleszcz-no What made you think this command should fail?

[2022-06-24 17:36] #19945 closed

[2022-06-24 18:16] mrjerryjohns opened #19967 "Investigate using a linear search-based comparison instead of sorting for session eviction"
#### Problem

We currently sort all sessions in the session table and walk the list of candidates from the best candidate to the worst when doing eviction. This is needed since marking a candidate session for eviction doesn't necessarily mean it will be released immediately (see #19495 for more details).

However, the likelihood of that happening is low - so we could instead do a linear O(n) based

[2022-06-24 20:57] #7695 closed

[2022-06-24 20:57] #15585 closed

[2022-06-24 20:57] #18633 closed

[2022-06-24 22:30] bzbarsky-apple opened #19973 "Test_TC_MF_1_9/10 don't make sense"
#### Problem
These tests open a commissioning window for 3 minutes, then do 20 pairing attempts, which takes at least 30 seconds per attempt, so 10 minutes, then test that the commissioning window has closed.... but it's just closed because enough time has passed.

 #### Proposed Solution
We should probably have a way for the 20 pairing attempts to fail out faster than after 30+ seconds... But at

[2022-06-25 06:48] #17568 closed

[2022-06-25 08:28] nansenLV commented on #18417
I have updated the bluez to version 5.5.6 on the DUT platform. It seems that there are no any problems about ble. But it still be commissioned failed. It seems that something wrong about the process of getting network info.

**chip-tool log:**
[chip-tool-TE9.md](https://github.com/project-chip/connectedhomeip/files/8984195/chip-tool-TE9.md)
**chip-tv-app log:**
[chip-tv-app-TE9.md](https://github.

[2022-06-25 09:18] cduvenhorst commented on #16664
"Overrides" - yes. BUT: Linux is missing as an overridden platform in matter and since there is no Inheritance, the system python version is used (no python version restriction for the venv anymore).

[2022-06-25 10:10] cduvenhorst commented on #16664
Ok. Here is a solution for all the folks who do not want to use those fine docker images, which works at least for me (Ubuntu 22.04 LTS):

1) Unzip file to an empty directory
[Matter_python3_10_x.zip](https://github.com/project-chip/connectedhomeip/files/8984410/Matter_python3_10_x.zip)

2) Download and patch matter
`./patch_for_py_3.10.x.sh`

3) Change to the matter directory and activate it.
`cd

[2022-06-25 11:11] cduvenhorst commented on #19675
[Solution](https://github.com/project-chip/connectedhomeip/issues/16664#issuecomment-1166247616).

[2022-06-25 12:55] absoluteabutaj commented on #19675
@cduvenhorst  - I'll try that out.

[2022-06-25 17:22] presto8 commented on #16664
@cduvenhorst , using docker sounds good! I didn't even know that was really an option. Should the building guide be updated to say this is the preferred method?  https://github.com/project-chip/connectedhomeip/blob/master/docs/guides/BUILDING.md

[2022-06-25 17:29] presto8 opened #19982 "Build guide recommends Ubuntu 21.04 for Raspberry Pi, however it is end of life and not supported"
#### Problem
The building guide at https://github.com/project-chip/connectedhomeip/blob/master/docs/guides/BUILDING.md says to install Ubuntu 21.04 using rpi-imager:

`Using rpi-imager, install the Ubuntu 21.04 64-bit server OS for arm64 architectures on a micro SD card. This release will have bluez 5.55 or newer which is required for BLE functionality.`

There are two issues with this: First, Ubu

[2022-06-26 20:22] tcarmelveilleux commented on #14203
This was fixed via other changes over time.

[2022-06-26 20:22] #14203 closed

[2022-06-27 01:50] nekteckIOS commented on #19942
Hello, after I downloaded it from the master branch, I modified the team id according to the readme, and did not make other changes.

[2022-06-27 03:59] AlvinHsiao opened #19989 "[pre-SVE] TC-DRLK-2.2 UserCodeTemporaryDisableTime attribute is not triggered"
Problem

expected behavior vs actual behavior

At step14 after step13, DUT should send failure response to the TH, but sent success response instead.

system configuration :
Chip-Tool: RPI
DUT used : Infineon CYW30739
app use: Lock-app
chip-tool and DUT commit id : https://github.com/project-chip/connectedhomeip/commit/1e3f12041013dd71a53d035dbf2f6d142fc06c4e (pre-sve SHA)

logs
[TC-DRLK-2.2.txt](

[2022-06-27 05:25] Saravana-kr22 commented on #19944
In the latest commit c38e9159d0500a880b9c789bf5d87fa16c039633 getting the excepted outcome.

[2022-06-27 05:25] #19944 closed

[2022-06-27 05:26] AlvinHsiao opened #19990 "[pre-SVE] TC-DRLK-2.9 Credential Response command with responses don't match"
Problem

expected behavior vs actual behavior

Step 6 expects response as OCCUPIED, but CHIP Tool Verification Steps shows status: 133.
Step 7 expects response as OCCUPIED, but CHIP Tool Verification Steps shows status: 2.
Step 8 expects response as OCCUPIED, but CHIP Tool Verification Steps shows status: 133.
Step 13 expects response as SUCCESS, but CHIP Tool Verification Steps shows status: 2.

[2022-06-27 07:31] doublemis1 commented on #19973
I think that the commissioning timeout should be set to 15 minutes (max commissioning timeout). Moreover, I think that commissioning should fail faster than after 30 seconds since the passcode is wrong so the PASE will fail,

[2022-06-27 07:44] Ashwinigrl opened #19991 "[TC-DRLK-2.8] Door-lock Set User Command is returning Failure instead of OCCUPIED."
**Problem** - Set User command with existing user index value is failed.

Actual Behavior -After giving repeated user index value we are getting Failure response

Expected Behavior - After giving repeated user index value we have to get OCCUPIED

In DUT Log (Attached), it returns "Unable to overwrite existing user [endpointId=1,userIndex=1]"

App used - lock app
Platform - Chip-tool - RPI-4, 8GB R

[2022-06-27 09:21] shubhamdp opened #19997 "[ESP32] Add support for using ESP32FactoryDataProvider to all examples"
#### Problem
Currently only lighting-app/esp32 has support for using ESP32FactoryDataProvider

 #### Proposed Solution
Support it in all apps

[2022-06-27 12:20] #6293 closed

[2022-06-27 12:20] #19889 closed

[2022-06-27 12:45] Damian-Nordic commented on #18417
Looks like you use a wrong command for commissioning:
[code]

Did you compile the TV app with Thread support? If it's supposed to support WiFi, make sure FeatureMap of NetworkCommissioning cluster is set accordingly.

[2022-06-27 13:22] kkasperczyk-no commented on #19844
The spec issue: https://github.com/CHIP-Specifications/connectedhomeip-spec/issues/5414

[2022-06-27 17:13] EscJump opened #20002 "MacOS(12.4) No such file or directory: '/opt/homebrew/lib/python3.9/lib2to3'"
WELCOME TO...

           ░▓░
           ▓█▓
           ▓█▓                                                     ▒█     ▒█
      ▒██▒▒▓██▒███▒                ░▒▓▒░  ░▒▓▒░       ░░▓█▒░ ░█  █████████████░    ░▒█▒░       ░░▒░
       ░▓█████▓██░               ▒█▒░░▒▓██▓▒░░▒█▒   ░█▓▒░░▒████    █▓░    █▓░    ▒█▒░░░▒█▓░   ██▒░░
    ▒█▒░         ░██▒           ░█░     █▓     ░█░ ░▓▒      ░▓█    █▓     █▓

[2022-06-27 17:45] bzbarsky-apple commented on #19991
@Morozov-5F

[2022-06-27 17:46] bzbarsky-apple commented on #20002
@EscJump Do you have `lib2to3` installed with whatever Python you are using here?  If not, sounds like you should install it....

[2022-06-27 17:51] bzbarsky-apple commented on #19989
door-lock-server has:
[code]
and
[code]
so looks like this is not implemented yet....

[2022-06-27 17:55] EscJump commented on #20002
I run brew install python3, but I can not found lib2to3. What should I do?

[2022-06-27 19:40] bzbarsky-apple commented on #20002
Probably use `pip install`?

[2022-06-27 19:50] #19844 closed

[2022-06-27 22:04] bzbarsky-apple commented on #15023
@mrjerryjohns Spec generally says that if action fields are invalid you return InvalidAction, no?

[2022-06-27 22:11] bzbarsky-apple commented on #4321
@mkardous-silabs Any idea what might have been going on here?

@silabs-Simran Is this still an issue?

[2022-06-27 22:12] bzbarsky-apple commented on #4378
This is fixed in the sense that the commissioning window manager stops the advertising.  How long DNS-SD things persist will depend on TTLs, but we should also be doing updates at this point to withdraw advertisements in practice....

[2022-06-27 22:13] bzbarsky-apple commented on #5410
@bitkis @emargolis Is this still an issue?

[2022-06-27 22:13] #6201 closed

[2022-06-27 22:14] bzbarsky-apple commented on #9726
@yunhanw-google What is this issue actually about?

[2022-06-27 22:14] bzbarsky-apple commented on #9887
@saumildmehta Is this still an issue?

[2022-06-27 22:16] bzbarsky-apple commented on #10063
We extract the fabric ID from the NOC provided at controller init time now.

[2022-06-27 22:16] #10063 closed

[2022-06-27 22:17] bzbarsky-apple commented on #10337
@cjandhyala Is this still an issue?

[2022-06-27 22:18] bzbarsky-apple commented on #10384
@kkasperczyk-no Is this still an issue? What are the actual steps to reproduce this?

[2022-06-27 22:19] bzbarsky-apple commented on #10689
@younghak-hwang Is this still an issue?  If so, can you please list clear steps to reproduce the problem?

[2022-06-27 22:20] bzbarsky-apple commented on #10980
@sihan6 Is this still an issue?

[2022-06-27 22:21] bzbarsky-apple commented on #11181
@bndkk Is this still an issue?

[2022-06-27 22:59] #16693 closed

[2022-06-27 23:58] #19918 closed

[2022-06-28 00:20] younghak-hwang commented on #10689
@bzbarsky-apple
Today, I did a TEST based on the master branch.
Subscription TEST has been confirmed to work well.
We tested the chiptool cmd below.
The on-time attribute (0x00000401) currently defined in TC-IDM4.1 is not supported by TV-App, so we tested it with onoff attribute (0x0000).
I will close this.
-------------------------------------------------------------------------------------------

[2022-06-28 00:20] #10689 closed

[2022-06-28 01:46] wxiangcheng opened #20024 "Commissionee device 1 to commissionee device 2 demo"
Hi, I want to show customer a demo that could let device 1 to tx/rx data to device 2 under the same fabric. But these 2 devices are both added by android phone as controller(commissioner). Let's assume device 1 is sweeper robotics and device 2 is just one smart bulb. When device1 get data from device 2 that it is off, and at same time device 1 knows that the time is 20:00 so device 1 sends one com

[2022-06-28 04:08] #13768 closed

[2022-06-28 08:25] erjiaqing commented on #10501
I think this issue is already fixed in previous refactors

1. In `CommandHandler::ProcessInvokeRequest`

https://github.com/project-chip/connectedhomeip/blob/0861153771b0d6b2a10910767e17bb98b6727b63/src/app/CommandHandler.cpp#L97-L103

(Which ensures `invokeRequests` is a valid parser with a reader holding lists.

2. Then we have

https://github.com/project-chip/connectedhomeip/blob/0861153771b0d6

[2022-06-28 08:35] emargolis commented on #5410
I believe this shouldn't be an issue. CHIP Certificate code supports up to 5 RNDs in the subject/issuer DN and about 20 different attribute types.

[2022-06-28 09:59] #20002 closed

[2022-06-28 12:19] manjunath-grl commented on #19869
We are observing inconsistent values for the CurrentLevel attribute after the wait time, instead of checking for specific value we have updated the script to check for a range with 5% tolerance

[2022-06-28 13:35] tcarmelveilleux commented on #8606
The core of this has been fixed overall.

[2022-06-28 13:35] #8606 closed

[2022-06-28 13:35] tcarmelveilleux commented on #18279
This has been resolved by the OperationalKeystore

[2022-06-28 13:40] tcarmelveilleux opened #20036 "Remainders of NXP HSM operation must be cleaned-up"
#### Problem
NXP's HSM implementation never worked in a way that properly handled AddNOC/UpdateNOC and that assumed a single pending CASE session establishment is a forever constraint.

Since the appearance of the `OperationalKeystore` interface, it should be feasible to properly support the lifecycle of keys.

However, there are still code paths that enshrine direct steering of HSM logic for CASE

[2022-06-28 13:59] #19973 closed

[2022-06-28 14:04] #19997 closed

[2022-06-28 14:19] #19218 closed

[2022-06-28 14:23] #19869 closed

[2022-06-28 16:00] cjandhyala commented on #19807
@Morozov-5F For the DIAG clusters we had developers implemented some signal handlers to generate the events, Could we follow a similar mechanism to generate these events?

[2022-06-28 16:01] mamayorg commented on #19912
I'm using lock-app

[2022-06-28 16:29] cjandhyala commented on #19068
Cert Blocker Review Update 06/28: @sumaky and team working Evgeni to generate invalid opcerts

[2022-06-28 16:31] cjandhyala commented on #18901
@cabin15 Did you provision the device on IP transport , if so, then the response returns 0 entries

[2022-06-28 16:53] cjandhyala commented on #19851
Per Rajashree, this TC TC-ULABEL 2.3 passes on raspi , all-cluster-app. Looks like issue specific to nordic platform

[2022-06-28 17:14] #10384 closed

[2022-06-28 17:39] bzbarsky-apple commented on #10501
Attaching a change to the commands test that shows the problem.  The decoding of the command either fails if there is no fields struct (which the spec allows), if the random "control byte" value is not of type struct, or we hit ASAN errors trying to decode if the control byte happens to be "struct".

Which actually points out a second problem: validly not including a field struct at all for a comm

[2022-06-28 17:46] bzbarsky-apple opened #20053 "CommandDataIB encoding does not match spec"
#### Problem
The spec says, in "10.5.12.1. CommandFields":

But our SDK will absolutely encode an empty CommandFields struct in various cases.  `CommandSender::AddRequestDataInternal` will call `Encode` on the passed-in struct, and something like `OnOff::Commands::Off::Encode` will encode an empty struct for that tag.

 #### Proposed Solution
Either fix the SDK to follow the spec (sounds pretty pa

[2022-06-28 19:11] bzbarsky-apple commented on #13128
The relevant code has changed significantly, so not sure how useful this is at this point.

@tcarmelveilleux thoughts?

[2022-06-28 19:46] bzbarsky-apple commented on #5440
@yunhanw-google Is there anything to be done here now?  Clients are no longer pool-allocated, and handlers use the minima defined in the spec.

[2022-06-28 19:49] bzbarsky-apple commented on #14512
Group sessions are stack-only now; there is no mEntries table.

[2022-06-28 19:49] #14512 closed

[2022-06-28 19:57] #14560 closed

[2022-06-28 19:57] bzbarsky-apple commented on #14446
Looks like this is fixed now that all the unit tests use async messaging.  I just tried making the retrans table into an ObjectPool and it passes for me.  See https://github.com/project-chip/connectedhomeip/pull/20058

[2022-06-28 19:58] sharadb-amazon commented on #14559
Addressed in https://github.com/project-chip/connectedhomeip/pull/19779

[2022-06-28 19:58] #14559 closed

[2022-06-28 20:11] sharadb-amazon opened #20059 "Android TV Casting app: Add support for all Media commands"
#### Problem
The Android tv-casting-app only sends Content Launch By URL commands, but none of the other media cluster commands.

 #### Proposed Solution
Add support for commands in the following clusters:
1. audio-output
2. channel
3. content-launcher (launch content)
4. keypad-input
5. level-control
6. low-power
7. media-input
8. media-playback
9. target-navigator
10. wake-on-lan

[2022-06-28 20:12] sharadb-amazon opened #20060 "iPhone TV Casting app: Add support for all Media commands"
#### Problem
The iPhone tv-casting-app only sends Content Launch By URL commands, but none of the other media cluster commands.

 #### Proposed Solution
Add support for commands in the following clusters:
1. audio-output
2. channel
3. content-launcher (launch content)
4. keypad-input
5. level-control
6. low-power
7. media-input
8. media-playback
9. target-navigator
10. wake-on-lan

[2022-06-28 20:12] sharadb-amazon opened #20061 "Linux TV Casting app: Add support for all Media commands"
#### Problem
The Linux tv-casting-app only sends Content Launch By URL commands, but none of the other media cluster commands.

 #### Proposed Solution
Add support for commands in the following clusters:
1. audio-output
2. channel
3. content-launcher (launch content)
4. keypad-input
5. level-control
6. low-power
7. media-input
8. media-playback
9. target-navigator
10. wake-on-lan

[2022-06-28 20:14] sharadb-amazon opened #20062 "Implement tests for tv-casting-common/CastingServer"
#### Problem
CastingServer.cpp does not have adequate test coverage

 #### Proposed Solution
Implement unit tests for the CastingServer (under tv-casting-common)

[2022-06-28 20:15] sharadb-amazon opened #20063 "Linux tv-casting-app: Integration tests for UDC + Content Launch"
#### Problem
The Linux tv-casting-app does not have integration tests

 #### Proposed Solution
Implement integration tests to cover commissioner discovery, UDC and content launch for the Linux tv-casting-app

[2022-06-28 20:17] sharadb-amazon opened #20064 "Linux + Android: Implement subscription to model cast connection status"
#### Problem
The TV casting app does not have a way to represent a casting session to the user.

 #### Proposed Solution
Implement subscribe interaction with the tv-app: https://github.com/CHIP-Specifications/connectedhomeip-spec/blob/598903fb429fd2c050e4064a04346ac4002c2845/src/data_model/Interaction-Model.adoc#ref_IM.SubscribeInteraction

[2022-06-28 20:18] sharadb-amazon opened #20065 "iPhone tv-casting-app: Implement subscription to model cast connection status"
#### Problem
The iPhone TV casting app (and MatterTvCastingBridge.Framework) does not have a way to subscribe to any cluster's attributes on a Matter TV.

 #### Proposed Solution
Implement subscribe interaction with the tv-app: https://github.com/CHIP-Specifications/connectedhomeip-spec/blob/598903fb429fd2c050e4064a04346ac4002c2845/src/data_model/Interaction-Model.adoc#ref_IM.SubscribeInteraction

[2022-06-28 20:20] sharadb-amazon opened #20066 "iPhone tv-casting-app: Unit tests for app code base and Tv Casting JNI library"
#### Problem
The iPhone tv-casting-app is missing unit tests for the main app and the MatterTvCastingBridge.Framework

 #### Proposed Solution
Add unit tests to the main app and the framework

[2022-06-28 20:20] sharadb-amazon opened #20067 "Android tv-casting-app: Unit tests for app code base and Tv Casting JNI library"
#### Problem
The Android tv-casting-app is missing unit tests for the main app and the JNI layer/library.

 #### Proposed Solution
Add unit tests to the main app and the JNI layer.

[2022-06-28 20:25] sharadb-amazon opened #20068 "Android tv-casting-app: Migrate video player commissioner discovery from sample app to library"
#### Problem
The Android tv-casting-app implements Commissioner discovery in the app code base. Migrate to using the TvCastingApp.jar instead

Also see:  https://github.com/project-chip/connectedhomeip/pull/10682

 #### Proposed Solution
Implement commissioner discovery/resolution by exposing an API on the TvCastingApp.jar

[2022-06-28 20:28] sharadb-amazon opened #20069 "Linux tv-casting-app: Setup an event based discovery of commissioners"
#### Problem
The Resolver implementation in the Matter SDK needs callers to wait for a certain amount of time (a few seconds) and expects it to then run through the list of discovered nodes to display what has been found. This can lead to missing nodes that could have been discovered and presented to the user after we stopped waiting.

 #### Proposed Solution
Update the SDK and Linux tv-casting-ap

[2022-06-28 20:28] sharadb-amazon opened #20070 "iPhone tv-casting-app: Setup an event based discovery of commissioners"
#### Problem
The Resolver implementation in the Matter SDK needs callers to wait for a certain amount of time (a few seconds) and expects it to then run through the list of discovered nodes to display what has been found. This can lead to missing nodes that could have been discovered and presented to the user after we stopped waiting.

 #### Proposed Solution
Update the SDK and iPhone tv-casting-a

[2022-06-28 20:31] sharadb-amazon opened #20071 "Android tv-casting-app: Setup build on Matter CI"
#### Problem
The Android tv-casting-app is not setup to build on Matter CI

 #### Proposed Solution
Add the build of the Android tv-casting-app to Matter CI.

[2022-06-28 20:31] sharadb-amazon opened #20072 "iPhone tv-casting-app: Setup build on Matter CI"
#### Problem
The iPhone tv-casting-app is not setup to build on Matter CI

 #### Proposed Solution
Add the build of the iPhone tv-casting-app to Matter CI.

[2022-06-28 20:33] sharadb-amazon opened #20073 "Android tv-casting-app: Fetch DAC dynamically"
#### Problem
The android tv-casting-app uses a Test DAC that is hardcoded into the app.

 #### Proposed Solution
Add an ability to fetch the DAC from a remote server to initialize the app

[2022-06-28 20:34] sharadb-amazon opened #20074 "iPhone tv-casting-app: Fetch DAC dynamically"
#### Problem
The iPhone tv-casting-app uses a Test DAC that is hardcoded into the app.

 #### Proposed Solution
Add an ability to fetch the DAC from a remote server to initialize the app

[2022-06-28 20:37] sharadb-amazon opened #20075 "tv-casting-app: KVS storage management improvements"
#### Problem
The tv-casting-app requires clearing of the KVS based storage if it was commissioned on a previous run. This is required on Linux, Android and iPhone

 #### Proposed Solution
Research and implement a way so that the app cache does not need to be cleared from settings to redo the commissioning process

[2022-06-28 20:38] sharadb-amazon opened #20076 "tv-casting-app: Add CastingServer.h docs"
#### Problem
CastingServer.h needs documentation

 #### Proposed Solution
Add docs to CastingServer.h functions

[2022-06-28 20:38] bzbarsky-apple commented on #20053
Filed https://github.com/CHIP-Specifications/connectedhomeip-spec/issues/5423 on the spec.

[2022-06-28 20:40] #16522 closed

[2022-06-28 20:42] sharadb-amazon opened #20077 "tv-casting-app: Design and implement journey from manual commissioning to sending Media commands to a TV"
#### Problem
Currently, the tv-casting-app allows the user to skip to commissioning the app manually (i.e. without using User directed commissioning). But the user is then not able to proceed to sending a Content Launch/other media command to a Matter TV because it is not bound to any.

 #### Proposed Solution
Design and implement journey from manual commissioning to connecting to a Matter TV and

[2022-06-28 21:04] bzbarsky-apple commented on #19851
I don't think it is.  I reproduced the problem on the "linux" version of all-clusters-app locally...  @cjandhyala can you please double-check with Rajashree _exactly_ what was tested?

[2022-06-28 21:16] bzbarsky-apple commented on #19622
I don't see how this can possibly be passing, given that the SDK does not implement the spec as far as I know...

[2022-06-28 21:39] bzbarsky-apple opened #20081 "Address review comments on PR 20031"
#### Problem
Inconsistent handling of clusters, device XML not matching device specs.

See https://github.com/project-chip/connectedhomeip/pull/20031#pullrequestreview-1022082631

 #### Proposed Solution
Fix it.

@markus-becker-tridonic-com

[2022-06-28 22:12] adabreuti opened #20084 "The TI CC13x2 implementation should use indications for the BLE Manager implementation"
Problem
The CC13x2 TI implementation currently uses notifications rather than indications at the BLE link layer for the BTP protocol.

system configuration

DUT used : CC13x2x7
app use: all-clusters-app

Proposed Solution
The BLE manager should be updated such that acknowledged indications are used.

[2022-06-28 22:20] kpark-apple opened #20085 "ReadClient crash when ExchangeManager is already shutdown (so trying to get SystemLayer fails)"
#### Problem
While Matter stack is shutdown, which causes subscription failure callback, if the ReadClient object for the subscription is deleted after the SystemLayer object is shutdown, dereferencing null object would cause a crash.
The following backtrace was seen:

[code]

 #### Proposed Solution
In ReadClient::CancelLivenessCheckTimer(), check null before dereferencing SystemLayer() to call C

[2022-06-28 23:10] #14509 closed

[2022-06-28 23:10] #14446 closed

[2022-06-29 00:06] bzbarsky-apple commented on #20085
@mrjerryjohns @yunhanw-google Sounds like we should have canceled our timer much earlier than the destructor here....

[2022-06-29 00:34] #17432 closed

[2022-06-29 00:35] woody-apple commented on #17432
Agree, this should be tested using a media endpoint app

[2022-06-29 01:10] wxiangcheng commented on #20024
one workaround is: can one device acts as both controller and end node in matter?

[2022-06-29 02:21] tcarmelveilleux commented on #19951
See #19931

[2022-06-29 02:25] tcarmelveilleux commented on #19951
This is resolved enough since #19931

[2022-06-29 02:25] #19951 closed

[2022-06-29 02:30] andy31415 opened #20089 "TestFailsafeContext crashes when running `fake platform` tests (host tests are ok)"
#### Problem
After merging #20010 master branch seems to consistently crash on linux test (2 crashes in a row, 0 crashes in several previous builds):

[code]

See https://github.com/project-chip/connectedhomeip/runs/7103687029?check_suite_focus=true

 #### Proposed Solution
Figure out the reason.

[2022-06-29 02:31] andy31415 commented on #20089
Tried to reproduce locally and could not.

[2022-06-29 02:32] andy31415 commented on #20089
failed 7 minutes ago in 1h 30m 14s ... could this be a 90 minute timeout?

[2022-06-29 02:33] andy31415 commented on #20089
https://github.com/project-chip/connectedhomeip/runs/7103752299?check_suite_focus=true finished in 1:16, so likely not a timeout issue.

[2022-06-29 02:35] andy31415 commented on #20089
Just reproduced. It is not the x64 tests, but the fake tests. Run `linux-fake-tests` with build_examples.py

[2022-06-29 02:36] andy31415 commented on #20089
[code]

[2022-06-29 02:43] andy31415 commented on #20089
ArmFailsafe seems to fail on startTimer, where LayerImplSelect::mLayerState is Uninitialized. Unsure what must initialize things.

[2022-06-29 03:00] #13679 closed

[2022-06-29 03:11] #20089 closed

[2022-06-29 03:18] wqx6 opened #20093 "Attributes on dynamic endpoints can't be non-volatile"
#### Problem
Attributes on dynamic endpoints have a mask `EXTERNAL_STORAGE`. They can't be non-volatile because we check whether an attribute is non-volatile by
[code]
Can we have non-volatile attributes on dynamic endpoints? Or can we remove the external-storage check from the non-volatile check?

 #### Proposed Solution
<suggested fix, suggested enhancement>

[2022-06-29 03:23] #18430 closed

[2022-06-29 06:44] shgutte opened #20100 "[TC-MF] [EFR32] [Pre-SVE] Door Lock Application Hard Fault Error Because of credentialIndex used in GetCredential function"
Problem: Door Lock Application Hard Fault Error Because of "credentialIndex" used in the "GetCredential" function during Multi Fabric cluster while removing fabric Index / while resetting the device

Actual Behavior :
function LockManager::GetCredential()
[code]

This code is trying to create the array using the credentialIndex but if the credentialIndex is 0 and we do -1 from it then it's taking

[2022-06-29 07:06] nekteckIOS commented on #4519
Are you finished with this issue? How is it solved?

[2022-06-29 07:08] turon commented on #19675
Is this a duplicate of #16664?

[2022-06-29 08:04] #18036 closed

[2022-06-29 11:23] Survensa commented on #19919
@mamayorg & @bzbarsky-apple

I am not reproducing this issue.

- Commit used : 81c7f2aacebbe5bb304a62ecdbeaff9220d72c69
- Chip-tool : RPI
- DUT : Door lock app
- Network : IP (ethernet)

### Steps I followed for TC-DRLK-2.5 :

Step 1 :  As per pre-condition created new user
`./chip-tool doorlock set-user 0 1 xxx 6452 1 0 0 1 1  --timedInteractionTimeoutMs 1000`

Step 2 :  `./chip-tool doorlock rea

[2022-06-29 11:33] Survensa commented on #19912
@bzbarsky-apple I dont see this issue with RPI

- Commit used : 81c7f2aacebbe5bb304a62ecdbeaff9220d72c69
- Chip-tool : RPI
- DUT : Door lock app
- Network : IP (ethernet)

Full execution log of TC-DRLK-2.6
[TC-DRLK-2.6 LOG](https://github.com/project-chip/connectedhomeip/files/9010043/TC-DRLK-2.6.LOG)

[2022-06-29 11:54] Survensa commented on #19622
@bzbarsky-apple

Re-verified with latest SHA

- > Commit used : 81c7f2aacebbe5bb304a62ecdbeaff9220d72c69
- > Chip-tool : RPI
- > DUT : Door lock app
- > Network : IP (ethernet)

### Execution LOG :

1. - Week day shedule belongs to TC-DRLK-2.5 test case : [TC-DRLK-2.5 LOG](https://github.com/project-chip/connectedhomeip/files/9010205/TC-DRLK-2.5.LOG)
2.
3. - Year day shedule belongs to TC-DRLK-2.7

[2022-06-29 13:00] Rajashreekalmane opened #20111 "[TC-IDM-2.2]--Chip-tool support needed to verify Read Request Message to read all events and attributes from the DUT."
#### Problem
As per Test-Plan, Test-step 35 says "TH sends a Read Request Message to read all events and attributes from the DUT"
we don't have a option to verify both attributes and events by giving command.

 **System configuration:-**
Chip-tool - RPI-4, 8GB RAM
DUT - RPI - RPI-4, 8GB RAM
Platform : IP and wifi
Commit-ID:4d84a4a978ffc867a62b9b15423a9b70d9cb993e
Dut application: all-clusters-app

[2022-06-29 14:36] sethunk opened #20112 "TC-CNET-4.13 and 4.14 Network Commissioning - Reorder Network command cannot be performed"
**1.Problem**
When adding a new network using the add-or-update-wi-fi-network command, the response is successful for the first entry. When a second network is added the response is BoundsExceeded. In this case, the reorder-network cannot be performed.

**2.Steps to reproduce**
**AddOrUpdateWiFiNetwork**

**3.Test Environment**

**App used** - allclusters app
**Platform** - Chip-tool - RPI-4, 8GB

[2022-06-29 15:03] turon commented on #16664
For my environment, I was able to restore it by reverting this [pigweed commit](https://pigweed-review.googlesource.com/c/pigweed/pigweed/+/98520/12/pw_env_setup/py/pw_env_setup/virtualenv_setup/install.py#149) and adding 3.10 to the [acceptlist](https://pigweed-review.googlesource.com/c/pigweed/pigweed/+/98520/12/pw_env_setup/py/pw_env_setup/virtualenv_setup/install.py#170).

[2022-06-29 15:50] turon commented on #20085
What would the replication procedure be using `chip-tool` or `chip-repl` and `all-clusters-app`?

[2022-06-29 16:13] woody-apple commented on #19989
Cert Blocker Review: @Morozov-5F are you able to take a look at this lock cert blocker? Thanks!

[2022-06-29 16:14] woody-apple commented on #19919
Cert Blocker Review: @Morozov-5F Are you able to take look at this lock issue? Can you confirm this is a distinct issue?

[2022-06-29 16:15] woody-apple commented on #19912
Cert Blocker Review: @Morozov-5F , can you also take a look at this lock issue? Thanks!

[2022-06-29 16:26] CamWms commented on #19000
Working on PR now. Should the action abort, or generate a INVALID_PATH?

[2022-06-29 16:33] bzbarsky-apple commented on #20093
When configuring attributes in ZAP, there are three mutually exclusive storage modes: RAM, non-volatile, external.  We  use two bits to represent these three mutually exclusive states.  The check represents the use of the bits we have.

The problems with introducing a fourth (external but non-volatile) state, especially for dynamic endpoint are as follows:

1.  The system that handles storing (and

[2022-06-29 17:25] mamehta opened #20118 "[Pre-SVE] DUT is sending a QueryImage command before the minimum interval defined by spec"
Cluster - software update (OTA)
Test case: TC-SU-2.5
Command number: steps 2 and 3
Expected: QueryImage must be sent only after the interval defined by spec (set by the delayedActionTime setting)
Actual Outcome: QueryImage is sent before the interval
DUT: EFR32 + RS9116 (WiFi)
<TODO: Attach logs>

[2022-06-29 17:40] mamehta opened #20119 "[Pre-SVE] [Groups] Groups Cluster for lock-app works with endpoint 1 not 0"
#### Problem
The Group cluster is working with endpoint 1 because it's added in endpoint 1 in the zap config file for the lock-app. It is not working with endpoint 0 which is mentioned in the test case instructions.

 #### Proposed Solution
The test cases for Groups cluster for the lock-app should be updated with endpoint 1 instead of 0.

[2022-06-29 18:53] #19929 closed

[2022-06-29 19:11] #19675 closed

[2022-06-29 19:14] bzbarsky-apple commented on #19622
@Survensa Is that running the updated test plan, or the old one?  The old one was broken, as far as I can tell, but highlighted an SDK issue.  This is tracking that SDK issue.

The log show a `set-user` command, so that looks like the updated test plan.

[2022-06-29 19:15] bzbarsky-apple commented on #19622
@Survensa I updated the summary to make it clear what the issue is about.

[2022-06-29 19:16] adabreuti opened #20129 "Add OTA switch to CC13x2 Applications"
#### Problem
Currently the all-clusters/shell/lock-app applications either automatically exclude or include the OTA feature.
 #### Proposed Solution
Update codebase to enable/disable OTA requestor based on args.gni.

[2022-06-29 19:17] bzbarsky-apple commented on #19919
Yes, that's the difference: the steps listed in this issue at start do _not_ do that.  And if you don't do that, then the SDK behavior does not follow the spec.

[2022-06-29 19:17] bzbarsky-apple commented on #19919
Duplicate of https://github.com/project-chip/connectedhomeip/issues/19622

[2022-06-29 19:17] #19919 closed

[2022-06-29 19:21] bzbarsky-apple commented on #19912
@Survensa which "Door lock app" are you using for DUT?  That is, which platform?

[2022-06-29 19:41] bzbarsky-apple commented on #20085
I don't know about chip-repl, but for chip-tool I suspect this is not possible to replicate because it shuts down all its subscriptions manually before shutting down the stack.

Note that this is a crash on the _client_ side.

[2022-06-29 19:54] bzbarsky-apple commented on #20093
In particular, `IsNonVolatile` clearly documents that it's about whether the attribute is _automatically_ stored in non-volatile memory.  But external attributes can be thus stored too, and the cluster impl should only be erroring out if it knows for sure the attributes are not being stored persistently....

[2022-06-29 22:15] bzbarsky-apple commented on #20085
I think that also shuts down all its subscriptions before shutting down the stack.  But maybe we can hack it up to skip that step and see if that replicates...  @krypton36 is that something you might have bandwidth for?

[2022-06-29 22:18] mrjerryjohns commented on #20085
This isn't an SDK side problem. Application logic needs to correctly sequence shutting down their respective SDK allocated objects, which includes de-allocating an active ReadClient instance.

[2022-06-29 22:21] #20084 closed

[2022-06-29 22:24] mrjerryjohns commented on #20085
Should `InteractionModelEngine::Shutdown()` call `Close` on all active `ReadClient` objects. On the one-hand, I think applications should be in business of safely orchestrating their shutdowns, and calling `Close` on the `ReadClient` from under-neath the application feels like we're subverting it's ownership.

However, it's clear that `ReadClient` depends on `InteractionModelEngine` for some servi

[2022-06-29 22:31] chrisdecenzo opened #20137 "Casting Video Player - client lifecycle issues"
#### Problem
 * only one casting app can be commissioned at a time since the nodeId is hardcoded by tv-app
 * content app ACL creation is using advertised vid/pid rather than verified vid/pid from DAC/CD

 #### Proposed Solution
* generate a random nodeId for each casting app
* grab validated vid/pid from CommissioningDelegate rather than one from UDC request

[2022-06-29 22:38] bzbarsky-apple commented on #20085
Note that in this case the ReadClient _is_ getting `Close` called on it, by the way.  And then it's deallocating itself, and trying to do stuff from its destructor that assumes a stack is running.

[2022-06-29 22:41] mrjerryjohns commented on #20085
The destructor is what's getting called no, not Close?

[2022-06-29 22:49] bzbarsky-apple commented on #20085
The destructor is getting called because Close got called, called the OnDone callback, and that is deleting the ReadClient.

[2022-06-29 23:59] bzbarsky-apple commented on #19266
@manjunath-grl test script has been updated.  Please fix the YAML?

[2022-06-30 00:27] bzbarsky-apple opened #20143 "Bootstrap is broken (looking for lib2to3 in the wrong places)"
#### Problem
After https://github.com/project-chip/connectedhomeip/pull/19992 bootstrap is broken: it looks for lib2to3, but even installing it with `pip3 install 2to3` does not help, because it looks for it in a (hardcoded) wrong place.

For now people are limping along by manually creating the wrong-place directory, but that's really not sane.

 #### Proposed Solution
We need to either roll back

[2022-06-30 00:28] bzbarsky-apple commented on #20143
Note that this is currently blocking me from doing some things, by the way, because I don't really want to mess with `sudo` and my system Python install to placate this broken script...

[2022-06-30 00:51] bzbarsky-apple commented on #20112
Yes, you can't reorder networks if the list can only hold one network.  If the test plan thinks you can, the test plan needs fixing...

[2022-06-30 00:52] bzbarsky-apple commented on #20118
@carol-apple @selissia @tcarmelveilleux

[2022-06-30 00:53] bzbarsky-apple commented on #20119
lock-app should not have groups cluster at all.

Please file test case instructions issues at https://github.com/CHIP-Specifications/chip-test-plans/

[2022-06-30 00:53] #20119 closed

[2022-06-30 01:03] bzbarsky-apple commented on #20093
https://github.com/project-chip/connectedhomeip/pull/20144 should at least fix the issue @chiragatal describes.  The actual non-volatility is still the responsibility of the implementation of the external attribute.

[2022-06-30 01:57] Survensa commented on #19912
Used RPI for both Chip-tool and DUT with lock app.

[2022-06-30 05:56] #20112 closed

[2022-06-30 05:57] bzbarsky-apple commented on #19912
OK, so that's the Linux lock app.  The original issue is reported with the efr32 lock app, which may have quite different behavior here; a lot of the logic in the lock apps is not shared.

[2022-06-30 05:58] bzbarsky-apple commented on #19912
@mykrupp If this is EFR32-specific, could you take a look, please?

[2022-06-30 06:17] aswathygrl opened #20149 "TC-ACL-x-x Access control Verification Steps requires valid and invalid TLV data"
[TC-ACL-2.3] Extension attribute
Test  Plan link: https://github.com/CHIP-Specifications/chip-test-plans/blob/master/src/cluster/AccessControl.adoc#323-tc-acl-23-extension-attribute

2. D_OK_EMPTY is an octstr of length 2 containing valid TLV: - top-level anonymous list (empty).

3. D_OK_SINGLE is an octstr of length 50-100 containing valid TLV: - top-level anonymous list, containing - one element

[2022-06-30 06:54] kkasperczyk-no commented on #16958
@bzbarsky-apple I would say it should be fine for Zephyr/nRFConnect platform. The `Get_` implementation requests value read from Zephyr subsys and then destination buffer size is verified in the Zephyr callback: https://github.com/project-chip/connectedhomeip/blob/master/src/platform/Zephyr/KeyValueStoreManagerImpl.cpp#L72. Assigned in callback result is then returned by the `Get_` method: https:/

[2022-06-30 07:00] nekteckyangtao opened #20150 "Failed to establish BLE connection:./../src/ble/BLEEndPoint.cpp:1533: Ble Error 0x00000415: Connect handshake timed out"
#### Problem
<what's wrong or missing, please include any applicable:
2022-06-30 14:29:29.745 11786-11786/com.google.chip.chiptool I/chip.BluetoothManager: Starting Bluetooth scan
2022-06-30 14:29:29.745 11786-11786/com.google.chip.chiptool D/BluetoothAdapter: isLeEnabled(): ON
2022-06-30 14:29:29.746 11786-11786/com.google.chip.chiptool D/BluetoothLeImp: isRoutingAllowedForScanStub
2022-06-30 14:

[2022-06-30 07:33] HubertHugo opened #20151 "[Pre-SVE] --commissioner-name in chip-tool interactive mode"
SHA: 9b3668cead6e17bb4ffa3602cc2688f5ac9abd3d
platform: nRF52840
all-clusters-app
commands:
./chip-tool interactive start
basic read vendor-id 1 0 --commissioner-name alpha
basic read vendor-id 1 0
result in
[code]

[2022-06-30 08:44] nekteckIOS opened #20152 "Running source scripts/activate.sh reports an error"
yuanrui_ios@YR-iOSdeMacBook-Pro connectedhomeip % source scripts/activate.sh

  WELCOME TO...

           ░▓░
           ▓█▓
           ▓█▓                                                     ▒█     ▒█
      ▒██▒▒▓██▒███▒                ░▒▓▒░  ░▒▓▒░       ░░▓█▒░ ░█  █████████████░    ░▒█▒░       ░░▒░
       ░▓█████▓██░               ▒█▒░░▒▓██▓▒░░▒█▒   ░█▓▒░░▒████    █▓░    █▓░    ▒█▒░░░▒█▓░   ██▒░

[2022-06-30 09:18] #20150 closed

[2022-06-30 09:20] erjiaqing commented on #17381
This is implemented already in the PR for read resource minimas.

[2022-06-30 09:20] #17381 closed

[2022-06-30 09:49] plan44 commented on #13296
Today the profile to enable matter in iOS mentioned by @Raqbit above expired.

As I was successfully testing `bridge-app` commissioning yesterday, but finding that today the Home.app does not even recognize QR codes any more, only barcodes, I know the profile was relevant and working up to iOS16beta2 😉

Any plans to update the profile in the near future?

[2022-06-30 11:14] mykrupp commented on #19912
The commit hash tested initially is likely missing parts from EFR32 side and door-lock-server side. I believe the door-lock-server holiday is working now.

This open PR contains schedules implementation on the EFR32 side.  I am hoping to get this PR merged before an SVE hash is cut today: https://github.com/project-chip/connectedhomeip/pull/20044

[2022-06-30 11:21] #19604 closed

[2022-06-30 12:22] #20137 closed

[2022-06-30 13:27] Damian-Nordic commented on #18417
Depends on what kind of device you want to commission. If you want to commission a Thread device, you use `pairing ble-thread`, if a WiFi device, you use `pairing ble-wifi`. Here the logs suggest that you use `ble-wifi` to commission a Thread device.

[2022-06-30 13:57] #20093 closed

[2022-06-30 14:00] vinay-apple opened #20160 "Seeing ZEPHYR FATAL ERROR 4: Kernel panic on CPU 0 on Nordic logs when left running for few hours"
#### Problem

Seeing ZEPHYR FATAL ERROR 4: Kernel panic on CPU 0 on Nordic logs when left running for few hours

SHA: 5d8599d195a93dfe5473f64e4f888c322e5df1d2

 * steps to reproduce
1. Commission Nordic thread device in Apple Home app and let it sit for few hour (7-8 hr) and seeing that it goes unreachable in Apple Home app and seeing below fatal error on Nordic logs. Detailed logs added.

ASSERTI

[2022-06-30 14:30] mykrupp commented on #19622
The test spec is not very clear. Anything that involves setting credentials, or holidays requires setting a user first.

Some test cases state something like: "Assume everything is set up properly to be able to set credentials and schedules". But these should explicitly mention that a user needs to be first, and setting a user needs to be added to the test plan in some cases.

[2022-06-30 14:43] Rajashreekalmane commented on #19851
Sorry @cjandhyala @bzbarsky-apple my bad, As per test plan while verifying i given less than 16 byte for label attribute ...If try more than 16 to till 30 getting success response instead failure, but <30 if  I try to write getting failure response.

[2022-06-30 15:03] tehampson opened #20163 "Inconsistency between `PersistentStorageDelegate::SyncGetKeyValue` and KeyValueStoreManager"
#### Problem
* Some implementation of PersistentStorageDelegate use KeyValueStoreManager which is not capable of giving the size of for the time being, which makes this obligation of SyncGetKeyValue impossible.
  * After performing a code audit no one is currently using the functionality to get the size, so this change is safe, but we need platforms to adhear to the this updated description.
* `Pe

[2022-06-30 16:01] msandstedt opened #20169 "Session resumption broken in nrfconnect"
#### Problem

Tested at this rev:

[code]

If a controller sends valid Sigma1 containing session resumption information, the nrf will never retrieve its session resumption record and always responds with Sigma2.

A similar thing was observed with ESP32.  In the case of that platform, this resolved it: https://github.com/project-chip/connectedhomeip/pull/18604

 #### Proposed Solution

* Verify whe

[2022-06-30 16:05] bzbarsky-apple opened #20172 "Sync MTRError with IM status codes"
#### Problem
Several IM status codes have been added that are not reflected in MTRError: PathsExhausted, TimedRequestMismatch, FailsafeRequired.

 #### Proposed Solution
Consider using StatusCodeList.h in MTRError.h so this can't happen again.  It might need some changes so we can distinguish real codes from the various deprecated/internal ones.

Failing that, just add the missing things.

[2022-06-30 16:41] mamehta opened #20173 "[Pre-SVE] [EFR32-WiFi] WiFi Diagnostics Read Event for ConnectionStatus not returning struct"
#### Problem
TC-DGWIFI-2.2, step 4
Expected: ConnectionStatus event should be returned
Actual outcome: Read event works but doesn't return a struct
DUT: EFR32 + RS9116/WF200
<TODO: Attach logs>

[2022-06-30 17:20] andy31415 opened #20179 "Ameba-D build is an outside script that is matter specific"
#### Problem
Generally ameba scripts use `$AMEBA_PATH/project/realtek_amebaD_va0_example/GCC-RELEASE/build.sh`

This seems like a wrapper that determines app paths (has things like `if [ $APP_SELECT == "all-clusters-app" ]; then` and everntually calls `cmake`.)

This is not ok because it ties a specific build.sh with the matter repo state - what apps are valid, what build commands to run.
Instead,

[2022-06-30 17:43] sumaky commented on #19622
@mykrupp This issue is mentioning that the steps are executed when there is no user setup
The command returns NOT_FOUND. It means user not found. So this is not an issue

[2022-06-30 17:46] mykrupp commented on #19622
Ah I understand, thanks for clarifying

[2022-06-30 18:46] bzbarsky-apple opened #20185 "GenericPlatformManagerImpl_FreeRTOS should flag itself when it's not running the event loop"
#### Problem
When the event loop is stopped, `GenericPlatformManagerImpl_FreeRTOS` will still think it's running, since it just uses the existence of the task for that check.  We should figure out how to properly flag it as "not running event loop right now".

 #### Proposed Solution
Need something.

[2022-06-30 19:09] bzbarsky-apple commented on #20149
@aswathygrl What exactly is the SDK issue here?

[2022-06-30 19:09] bzbarsky-apple commented on #20152
@andy31415 @mspang @rgoliver

[2022-06-30 19:11] hubTab opened #20187 "Update Bdx TransferFacilitator to allow for cancelling the PollTimerHandler"
#### Problem

In the BdxOtaSender::TransferFacilitator.cpp there is no way currently to cancel the PollTimerHandler, as needed, when receiving an kAckEOFReceived . The problem is that calling `chip::DeviceLayer::SystemLayer().CancelTimer(PollTimerHandler, this);` upon receiving kAckEOFReceived, it does not cancel the PollTimerHandler, as TransferFacilitator::PollForOutput() re-registers it.

 ####

[2022-06-30 19:16] bzbarsky-apple commented on #20160
@Damian-Nordic @kkasperczyk-no

[2022-06-30 19:18] bzbarsky-apple commented on #20169
@Damian-Nordic @kkasperczyk-no

[2022-06-30 19:19] bzbarsky-apple commented on #20173
Please reopen when you do.  ConnectionStatus has a single field, which is an enum; there should be no "struct" involved offhand, other than the one encoding the event itself.

[2022-06-30 19:19] #20173 closed

[2022-06-30 19:23] bzbarsky-apple commented on #20151
With ASAN, I don't get the "Unknown commissioner name:" bit, but I do get ASAN errors about `heap-use-after-free`...

[2022-06-30 19:41] tcarmelveilleux opened #20188 "Ensure Linux examples platform storage backend succeeds Storage audit"
#### Problem
PR #20134 and #20164 together introduced a storage API compliance audit.

This audit must be run and pass on Linux and succeed against PersistentStorageDelegate used by all-clusters-app (KVS file based)

To run the audit for anything using Server, build your target with `chip_support_enable_storage_api_audit=true` added to your GN args and then run your binary in a debugger. The defau

[2022-06-30 20:04] #20143 closed

[2022-06-30 20:19] Damian-Nordic commented on #20160
@vinay-apple Which example is that?

[2022-06-30 20:46] Damian-Nordic commented on #20160
I have a suspicion that it is caused by the timer used to store TotalOperatingHours in non-volatile storage. The operation is triggered by Zephyr's low-level timer (the handler is called from ISR) every 10 hours by default and puts a task onto the CHIP thread which involves `write` syscall that locks a mutex. It used to work a bit differently, but after the recent Zephyr update may lead to the cra

[2022-06-30 20:52] nekleo commented on #16664
@chadnorvell

Yes, bootstrap seems to be using system Python. #20158 will allow 3.10 to work, but seems that it'd be best if the bootstrap could use the python installed by pigweed. After bootstrap is finished, I have a `pigweed-venv` in `.environment`.

CPU=x86_64
OS=Debian GNU/Linux rodete

[code]

[2022-06-30 22:53] vinay-apple commented on #20160
@Damian-Nordic was using the lighting app

[2022-06-30 23:48] bzbarsky-apple commented on #17730
@jmartinez-silabs The use case for ScanNetworks that led to it being added to the spec is to use it during commissioning to see which networks the device can see.  Doing ScanNetworks once you are on an operational network is fairly pointless....

See step 11 of commisioning flows in the spec, where it says:

as part of talking about sending AddOrUpdate*Network to the commissionee.

[2022-07-01 01:21] bzbarsky-apple commented on #17941
@isiu-apple #17568 has been fixed.  Could you retest this, please?

[2022-07-01 01:34] super-T-23 commented on #20143
Hi i met the same problem and pull latest pigweed version does not help either

[2022-07-01 02:52] wickyou23 commented on #20152
I got the same error yesterday.

[2022-07-01 03:08] #10501 closed

[2022-07-01 03:08] wickyou23 commented on #20152
Today, when I pull the latest commit, it works well.

[2022-07-01 03:26] nekteckIOS commented on #20152
Are you running in the M1 environment?

[2022-07-01 03:27] wickyou23 commented on #20152
Yes, I am running in the M1 chip.

[2022-07-01 03:54] manjunath-grl commented on #19266
@bzbarsky-apple the above mentioned testcases are Manual scripts, the validation sheet has been update we will update the scripts as per the sheet and make PR

[2022-07-01 04:59] aswathygrl commented on #20149
@bzbarsky-apple  This is not an SDK Issue ,we need the support from SDK to generate the TLV data listed in the above issue.

[2022-07-01 06:16] #20163 closed

[2022-07-01 06:38] bzbarsky-apple commented on #20149
@aswathygrl What exact support are you looking for?  Do you need to generate a single static set of payloads, or do you need to be generating these on the fly based on some input parameters?  If the latter, what input parameters?  What form do you need the data in (raw bytes, hex, base64, something else)?

[2022-07-01 06:48] Damian-Nordic opened #20201 "Ensure nRF Connect platform storage backend succeeds Storage audit"
#### Problem
PR #20134 and #20164 together introduced a storage API compliance audit.

This audit must be run and pass on nRF Connect and succeed against PersistentStorageDelegate used by lock-app (KVS file based)

To run the audit for anything using Server, build your target with `chip_support_enable_storage_api_audit=true` added to your GN args and then run your binary in a debugger. The default

[2022-07-01 07:16] tima-q opened #20203 "Ensure Qorvo examples platform storage backend succeeds Storage audit"
#### Problem
PR #20134 and #20164 together introduced a storage API compliance audit.

This audit must be run and pass on Qorvo platforms and succeed against PersistentStorageDelegate used by lighting-app (KVS file based)

To run the audit for anything using Server, build your target with `chip_support_enable_storage_api_audit=true` added to your GN args and then run your binary in a debugger. The

[2022-07-01 08:10] yangchaoFree opened #20204 "How to modify BUILD.gn or other makefile to set macro PW_ TRACE_ BACKEND_ SET make its is be defined?"
I want to see insight of matter protocol code process.
How to modify BUILD.gn to set macro PW_ TRACE_ BACKEND_ SET make its is be defined.

[2022-07-01 08:32] #20152 closed

[2022-07-01 08:32] #19942 closed

[2022-07-01 09:48] shubhamdp opened #20210 "Ensure ESP32 storage backend succeeds Storage audit"
#### Problem
PR #20134 and #20164 together introduced a storage API compliance audit.

This audit must be run and pass on ESP32 and succeed against PersistentStorageDelegate used by all-clusters-app.

To run the audit for anything using Server, build your target with `chip_support_enable_storage_api_audit=true` added to your GN args and then run example. The default audit is added to Server::Init(

[2022-07-01 11:13] vivien-apple commented on #20149
My understanding of the ACL extension is that an ACL extension contains **arbitrary** TLV encoded data with the following constraints:
```The contents SHALL consist of a top-level anonymous list; each list element SHALL include a [profile-specific] tag encoded in fully-qualified form.```

So I suspect that there is no need to generates content on the fly, just static payloads.

[2022-07-01 11:18] wickyou23 opened #20215 "[Android] 'Unresolved reference: chip' error on Android Studio - Mac Mini M1."
#### Problem

Hello everyone,

Currently, I followed the document and successfully built and ran the android app in debug mode, but I got "Unresolved reference: chip" error in Android Studio. I don't know if I missed any steps?

Thanks.

See the image for details:

![Screen Shot 2022-07-01 at 18 02 38](https://user-images.githubusercontent.com/5183190/176883248-c8edf527-0961-4908-b938-447a61cd510a

[2022-07-01 12:18] sowmyassp opened #20218 "[TC-MF-1.17/18/19/20] - Multi-admin scenario fails"
**Issue :** When I commission DUT with 3 controllers with same fabric and later remove the second controllers fabric and if I pass avahi-browse -rt _matter._tcp I am getting 3 Operational service records instead 2.

**Commit used :** c38e9159d0500a880b9c789bf5d87fa16c039633

**Expected behavior :** There should be 2 Operational service records when we pass "avahi-browse -rt _matter._tcp" command

[2022-07-01 13:03] tima-q opened #20221 "_Set/GetCHIPoBLEServiceMode() looks to be deprecated code"
#### Problem
`_SetCHIPoBLEServiceMode()` and `_GetCHIPoBLEServiceMode`,
part of the Connectivity Manager and the BLE Manager interfaces, looks to be deprecated.

The 'service mode' is never throughout the Matter codebase.

 #### Proposed Solution
Remove all reference to CHIPoBLEServiceMode calls and manipulation.

[2022-07-01 15:45] cjandhyala commented on #20149
@vivien-apple do we have tools to generate these payloads or do we need to build one ? Also does current chip-tool sending these TLV payloads ? Wondering if this test should be covered in unit tests or should this be a cert test. Since there is no SHALL requirement in the spec for these scenarios, I think these scenarios should be covered in unit tests rather than certification tests

[2022-07-01 17:56] liamgonyea opened #20226 "Support Needed: chip-tool needs to have a way to generate QR code with TLV data"
#### Problem
Current implementation of chip-tool allows a user to generate a QR code with the required fields (`./out/chip-tool/chip-tool payload generate-qrcode [--payload] [--discriminator] [--setup-pin-code] [--version] [--vendor-id] [--product-id] [--commissioning-mode] [--allow-invalid-payload] [--rendezvous]`) but does not allow for the optional TLV data to be included.

This is needed to pr

[2022-07-01 18:02] kowsisoundhar12 commented on #19266
@bzbarsky-apple  @agners  updated above listed MF scripts,pls refer following PR's [20227](https://github.com/project-chip/connectedhomeip/pull/20227),[20127](https://github.com/project-chip/connectedhomeip/pull/20127)

[2022-07-01 19:00] #20187 closed

[2022-07-01 19:05] phonnakasturi-apple opened #20230 "CHIPTool app crashes on iOS while trying to pair with M5 board"
With SHA 6c6dca3b9a32c73647db882237467dff08da06fa

CHIPTool app crashes on iOS when trying to pair via QR code or with manual short pin

**Steps to reproduce:**

1. Build chiptool app on iOS
2. On a command line flash the M5 device
3. Pair the M5 board with CHIPTool iOS app via QR code or using the short pin code.

Attaching the logs from M5 board + from iOS:
[M5logs.txt](https://github.com/projec

[2022-07-01 20:08] bzbarsky-apple commented on #20230
[code]

I wonder whether https://github.com/project-chip/connectedhomeip/pull/20197 fixed this.  Checking now.

[2022-07-01 20:25] mrjerryjohns opened #20233 "Python has a broken threading model"
Spurned by failures discovered in #20178, I did an investigation into the Python threading model. As I understood how it worked, it became readily apparent that it has a fairly broken threading model:

1. The main Matter thread got spun up implicitly anytime any Python module attempted to get a handle to the underlying `ChipDeviceCtrl.so` to invoke a C++ function. This happened in `chip.native.Get

[2022-07-01 21:22] bzbarsky-apple commented on #19622
Please stop closing this issue.  NOT_FOUND is **not a valid return per spec** here.  That's what the issue is about.

[2022-07-01 21:29] #19579 closed

[2022-07-01 21:29] #20160 closed

[2022-07-01 21:31] bzbarsky-apple commented on #20149
If you mean "support sending", then yes., you can set ACL extensions via chip-tool.

[2022-07-01 21:32] #20151 closed

[2022-07-01 22:23] bzbarsky-apple opened #20236 "ZAP and restyled disagree on styling for src/darwin/Framework/CHIP/zap-generated/MTRClustersObjc.mm"
#### Problem
Ran into this in #20139.  Restyled is insisting on putting in a weird linebreak, while the version of clang-format ZAP runs does not.  So we can't have a version of the file that passes both the ZAP job and the restyled job.

 #### Proposed Solution
Sort out how to get the two to agree.  For now I have whitelisted this file to not be run through restyled.

[2022-07-02 00:13] bzbarsky-apple commented on #20218
@andy31415 I thought we were resetting things with a zero TTL when using minimal nowadays?

But past that @sowmyassp it's entirely possible that there are stale DNS entries cached by someone, until the TTL expires.  Doing a browse like that is not a reliable way to tell what the device is actually advertising.

[2022-07-02 00:31] bzbarsky-apple commented on #19132
This is going to somewhat change what's happening on the wire (not at the protocol level, but in terms of actual messages sent), when fixed...

[2022-07-02 00:32] bzbarsky-apple commented on #18681
Sounds like lock apps will need this....

[2022-07-02 00:34] bzbarsky-apple commented on #18609
This might end up in significant API changes to how CASE is done.

[2022-07-02 00:53] bzbarsky-apple commented on #15305
@kean-apple I would expect this works now...  Can you check, please?

[2022-07-02 00:56] #14245 closed

[2022-07-02 00:58] bzbarsky-apple commented on #14055
Fixed in #19543

[2022-07-02 00:58] #14055 closed

[2022-07-02 00:59] bzbarsky-apple commented on #14034
Bindings persistence is implemented.

[2022-07-02 00:59] #14034 closed

[2022-07-02 00:59] bzbarsky-apple commented on #13954
dns-sd cache was removed.

[2022-07-02 00:59] #13954 closed

[2022-07-02 02:01] #20226 closed

[2022-07-02 05:42] ChengqiangShe opened #20242 "Continuously send commands to the device, the device cannot allocate space"
commit： 6efefe37c64bf92bde0a52de7994f377e2d9bc2d

 #### Problem
Continuously send commands to the device, the device cannot allocate space

application:
connectedhomeip/examples/lighting-app/efr32

log：
[code]

[2022-07-02 05:43] ChengqiangShe commented on #20242
[efr32_master_020220702_lighting.log](https://github.com/project-chip/connectedhomeip/files/9032496/efr32_master_020220702_lighting.log)

[2022-07-02 05:44] ChengqiangShe commented on #20242
@jmartinez-silabs

[2022-07-02 07:43] #12627 closed

[2022-07-02 07:46] #19584 closed

[2022-07-02 07:46] woody-apple commented on #19584
Done

[2022-07-02 07:47] woody-apple commented on #19592
Resolved by: https://github.com/project-chip/connectedhomeip/pull/20235

[2022-07-02 07:47] #19592 closed

[2022-07-02 13:17] tcarmelveilleux commented on #20210
- Could ESP-IDF NVS API made to support partial reads (the answer is usually yes)
- Can ESP-IDF NVS API allow determining the size of a value without a full read of it?

[2022-07-02 14:55] shubhamdp commented on #20210
- I will get it done, just that it would be available in next release.
- Yes, we do get the size of value without full read. I had this though:
    - Read the size and allocate that number of bytes
    - Copy the requested bytes to the out_buffer and return `CHIP_ERROR_TOO_SMALL`

But I was taken aback with the though of doing dynamic allocation. If malloc seems okay, then for now I can implement

[2022-07-02 15:57] tcarmelveilleux commented on #20210
We should not have to read the full key and truncate it. The API should use the storage provided by the caller.

I noticed as well in `src/platform/ESP32/KeyValueStoreManagerImpl.cpp` that you are using hashing when the key is long. This is problematic since it's not impossible (although unlikely) to have key collisions, and you would never know. If you use hashing, you have to be able to determin

[2022-07-02 16:45] #20129 closed

[2022-07-03 19:47] msandstedt opened #20252 "CATValues == operator incorrect"
#### Problem

CATValues == operator considers equality by position in the contained values std::array.  However, CATs are not positional.

 #### Proposed Solution

Fix the == operator to consider CATValues equal if both a,b contain the same values in any order.

CC @kghost , @bzbarsky-apple

[2022-07-04 03:59] FaqiangZhu-nxp opened #20257 "not enough space to initialize the connectedhomeip/chip-build-imx:latest container"
#### Problem
During the CI test, connectedhomeip/chip-build-imx:latest docker image fails to be downloaded because of not enough space. the log is as below:

[code]

I pulled the container image on my local server, the info is as below:

[code]

 * expected behavior: the docker image can be pulled and run to compile the code.
 * actual behavior: the docker image fail to be pulled.
 * steps to repr

[2022-07-04 06:58] yunhanw-google opened #20259 "Need to add tests to validate the flow regarding how command/read handler process unknown message"
#### Problem
In 19356, trying to add tests regarding command/read handler process unknown message, test is failing, it seems handler cannot receive the unknown message. need further debug on it.

[2022-07-04 09:32] kghost opened #20267 "For java binding, ensure the cluster object is be freed when the session is released"
#### Problem
The cluster object is ephemeral, but in Java implementation, its lifespan is managed by GC. It must guarantee that the cluster object is be freed when the session is released.

 #### Proposed Solution
The Java and objective-c binding should implement `OnSessionReleased` callback, null-out the cluster, and deny all future operations to the cluster.

[2022-07-04 11:59] kkasperczyk-no commented on #20169
The reason of this problem is that Zephyr KVS backend doesn't support processing `=` character that is used in the CASE session key name. In case of replacing this character with some other character resumption seems to be working fine. It will be fixed by @Damian-Nordic altogether with other changes related to the KVS and discovered during persistent storage audit.

[2022-07-04 13:44] #19804 closed

[2022-07-04 13:45] #18333 closed

[2022-07-04 13:45] shgutte opened #20271 "[TC-MF-1.9] Manual code command with the wrong pin code supposed to be failed, it causes a crash on the chip-tool side."
Problem:
If we try the manual code command with the wrong pin code supposed to be failed, it causes a crash on the chip-tool side.

Actual Behavior :
Creating with chip stack locking error.

Expected Behavior:
It should fail with PASE session error message

App used - lock app
Platform - Chip-tool - RPI-4, 8GB RAM
DUT - EFR32 + WF200 , EFR32 +RS9116
Network - Ble-wifi

Logs
[Device 1 chip-tool log

[2022-07-04 14:16] jmartinez-silabs commented on #20242
@ChengqiangShe Can you provide a way to reproduce this issue? I am not hitting this

[2022-07-04 14:18] jmartinez-silabs commented on #19653
Can you test --sed again with this PR from Mathieu that I just merge
https://github.com/project-chip/connectedhomeip/pull/20184

It should fix the issue. We should also have another soon that reduces significantly the power consumption

[2022-07-04 14:26] andy31415 commented on #19720
https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5373 is ready to be merged - this issue should be closed once that PR is merged.

[2022-07-04 14:28] jmartinez-silabs commented on #17730
@bzbarsky-apple Yes I understand Boris. What I meant is that with the current examples and use of chip-tool you cannot use it to just do a BLE connect and send a scan thread network. You need to do the ble-thread command to commission the device and then you can send scan-network command. In that use case, it can be useful to see other networks and the area and maybe change network with the AddOrU

[2022-07-04 14:29] shubhamdp opened #20274 "[ESP32] Support NVS encryption in factory partition generation tool"
#### Problem
- [generate_esp32_chip_factory_bin.py](https://github.com/project-chip/connectedhomeip/blob/master/scripts/tools/generate_esp32_chip_factory_bin.py) stores the unencrypted DACs onto flash

 #### Proposed Solution
- Support generating encrypted factory partition
- Some guide how to use that

[2022-07-04 14:30] #10221 closed

[2022-07-04 14:49] tehampson commented on #20210
Mind linking to the APIs? Is it that if you give a size that is too small it won't do read up to that size?

[2022-07-04 15:56] morahman2022 opened #20279 "Pre-SVE [TC-OPCREDS-3.1] #4 and #6 cannot be verified in chip-tool verification steps as certificate content is not printed in chip-tool log of commissioner"
**Test Case ID**: TC-OPCREDS-3.1

**GitHub Hash**: 6efefe37c64bf92bde0a52de7994f377e2d9bc2d

**Describe Issue**:

TC-OPCREDS-3.1 verification steps for #4 and #6 of  in the test plan ( https://docs.google.com/spreadsheets/d/1h4d4J90KAxFqUL_cXZHyM3pHjHCEXzFITkQhN2KMqDY/edit#gid=66916293 ) mention that certificate will be printed in chip-tool log.

Executing #4 and #6 involves commissioning an end d

[2022-07-04 16:04] rwells1703 opened #20280 "Python CHIP library 'IsConnected' is undefined"
#### Problem

I've found a crash when trying to use the ```ChipDeviceCtrl.IsConnected``` method in the Python CHIP library.
[Crash log](https://github.com/project-chip/connectedhomeip/files/9040806/Python.CHIP.IsConnected.crash.log.txt)
[Python code](https://github.com/project-chip/connectedhomeip/files/9040864/Python.CHIP.IsConnected.crash.test.app.txt)

 #### Proposed Solution
Taking the log at

[2022-07-04 16:18] caipiblack commented on #12987
Update:

For those who bypass the problem by closing the session with a device in case of timeout. I find a case where is not really good:

![image](https://user-images.githubusercontent.com/29680146/177191153-e6960b21-8442-426a-ad45-9ddf8101016e.png)

[2022-07-04 16:28] rwells1703 commented on #20280
[Here](https://github.com/project-chip/connectedhomeip/files/9041028/Python.CHIP.IsConnected.crash.test.repl.txt) is another log file from the chip-repl tool showing a more detailed stack trace.

[2022-07-04 17:17] mamehta opened #20282 "[Pre-SVE] [TC-G-2.3] Read Group Table Returns 0 entries"
#### Problem
[TC-G-2.3] Commands - GetGroupMembership, AddGroupIfIdentifying [DUT-Server]
Step 8b
Command: "./chip-tool groupkeymanagement read group-table 1 0"

Expected Outcome:
we should get the output as
[1653552886.221787][2625:2630] CHIP:TOO:   GroupTable: 2 entries
[1653552886.221925][2625:2630] CHIP:TOO:     [1]: {
[1653552886.221966][2625:2630] CHIP:TOO:       GroupId: 2
[1653552886.22200

[2022-07-04 18:00] morahman2022 opened #20283 "Pre-SVE [TC-BINFO-2.2] #2a and#4 cannot be exectued. #6 is optional and was not executed. the output of chip-tool command and RTT log for DUT do not match the expected outcome for #2b."
**Test Case ID**: TC-BINFO-2.2

**Git Hash**: 6efefe37c64bf92bde0a52de7994f377e2d9bc2d

**Describe Issue**:

EFR32 end devices with BRD-4187A and BRD-4161A are considered for testing TC-BINFO-2.2. lighting app was used.

#2a cannot be executed as graceful shutdown is not supported in the end devices.
#2b outputs from chip-tool command and J-Link RTT Viewer log for DUT do not match the expected out

[2022-07-04 18:12] jmartinez-silabs opened #20284 "Ensure EFR32 platform succeeds Storage audit"
#### Problem
PR https://github.com/project-chip/connectedhomeip/pull/20134 and https://github.com/project-chip/connectedhomeip/pull/20164 together introduced a storage API compliance audit.

This audit must be run and pass on nRF Connect and succeed against PersistentStorageDelegate used by lock-app (KVS file based)

To run the audit for anything using Server, build your target with chip_support_e

[2022-07-04 18:13] jmartinez-silabs commented on #20284
Currently fails the audit

[code]

[2022-07-04 18:58] mamehta opened #20286 "[Pre-SVE] [TC-G-3.2] AddGroup command does not work"
#### Problem
[TC-G-3.2] Step 1 - send an Add Group command
 ./chip-tool groups add-group 0x0021 gp1 1 0

Expected Outcome: Group successfully created
Actual Outcome: Group creation fails with message: "Unable to listen to group"

Logs:
[device.log](https://github.com/project-chip/connectedhomeip/files/9041634/device.log)
[chip-tool.run.log](https://github.com/project-chip/connectedhomeip/files/904

[2022-07-04 19:04] andy31415 commented on #20081
Removed v1.0 tag since the PR references scenes cluster.

[2022-07-04 19:10] mamehta commented on #19306
The correct TC reference for this is TC-DD-2.1

[2022-07-04 23:49] yunhanw-google commented on #20259
resolved.

[2022-07-04 23:49] #20259 closed

[2022-07-05 00:45] jamislike opened #20293 "Building on Freebsd"
#### Problem
Is possible to get matter building / running on freebsd?

[2022-07-05 01:16] ChengqiangShe commented on #20242
You can use chip-tool to continuously read the onoff Attribute at intervals of 150ms. It will appear in about 10 minutes.

[2022-07-05 01:30] #20188 closed

[2022-07-05 01:31] #20252 closed

[2022-07-05 01:57] AlvinHsiao opened #20294 "[Pre-SVE] [TC-CNET-4.6] Chip-Tool Verification Steps doesn't match Expected Outcome"
Problem
Step 1 to Step 3 expects FAILSAFE_REQUIRED status code, but CHIP Tool Verification Steps show UNSUPPORTED_ACCESS.

[2022-07-05 04:27] wickyou23 commented on #13296
Hello @bzbarsky-apple, If iOS devices do not accept the `EnnableMatter` profile in the PDF, does the `CHIP-Tool` app [(here)](https://github.com/project-chip/connectedhomeip/tree/master/src/darwin/CHIPTool) for iOS or macOS still work?

[2022-07-05 06:12] plan44 commented on #13296
Note: The profile and the instructions have been updated in the meantime. Just re-download the files again from the links @Raqbit posted above.

But the profile enables matter support built into the OS, CHIP-Tool is completely separate from that and brings its own matter stack along, so does not need the profile (AFAIK, experts please correct me if I'm wrong)

[2022-07-05 08:04] agners commented on #19266
LGTM.

[2022-07-05 08:04] #19266 closed

[2022-07-05 10:43] sowmyassp commented on #20218
@bzbarsky-apple Test-plan says so
 "Verify DUT_CE is now discoverable over DNS-SD with 2 Operational service records (_matter._tcp SRV records)"

[2022-07-05 11:35] rcasallas-silabs commented on #20282
The observed behavior is correct. According to the spec, section 11.2.7.3. (GroupTable Attribute):
[code]

[2022-07-05 11:38] rcasallas-silabs commented on #20282
The observed behavior is correct. According to the spec, section 11.2.7.3. (GroupTable Attribute):
[code]

[2022-07-05 11:46] wickyou23 opened #20302 "[Question] cert->mNotBeforeTime does not convert to UTC, is it right?"
#### Problem

I used the CHIP-tool app for iOS to pairing a device but got a `CHIP Error 0x0000004F: Certificate not yet valid` error. I try to print more logs and detect something went wrong?.

See this line in the log:

`2022-07-05 16:31:54.105325+0700 CHIPTool[27035:1447930] [all] 🟢 [1657013514105] [27035:1447930] CHIP: [TST] [TP]::CurrentChipEpochTime: 710328714 - cert->mNotBeforeTime: 7103539

[2022-07-05 12:31] jepenven-silabs commented on #20282
Re-opening since reported also by @sethunk . Currently investigating it since this function wasn't tested before and it's a combination of two cluster (Group and Identify)

[2022-07-05 14:29] Damian-Nordic opened #20309 "[ota] Revise BDX timeout logic"
#### Problem
OTA requestor does not use the [exchange response timeout](https://github.com/project-chip/connectedhomeip/blob/90f32a0f678074a9b73773c978eedfddeeab97f5/src/messaging/ExchangeContext.h#L185) for BDX messages. Instead, it uses a custom timeout mechanism which checks if the BDX downloader has made any progress within the last 5 minutes: https://github.com/project-chip/connectedhomeip/bl

[2022-07-05 15:05] jepenven-silabs commented on #20282
Test plan Issue. Managed to get it to work on my side without any SDK modification

[2022-07-05 15:18] krypton36 opened #20311 "MTROnboardingPayloadParser needs to check the code type"
#### Problem
When using MTROnboardingPayloadParser API in matter framework, you have to determine which type it is before hand. MTROnboardingPayloadParser should accept any payload and determine the payload type for caller convenience.

 #### Proposed Solution
In MTROnboardingPayloadParser determine if code type is MTROnboardingPayloadTypeQRCode, MTROnboardingPayloadTypeManualCode, MTROnboardingPa

[2022-07-05 15:20] jepenven-silabs commented on #20282
Closing since Test plan issue https://github.com/CHIP-Specifications/chip-test-plans/issues/1649

[2022-07-05 15:20] #20282 closed

[2022-07-05 15:53] #20201 closed

[2022-07-05 15:55] mgarb1 opened #20315 "[SVE1][TC-OO-1] With OO-LT feature disabled Attributeslist in yaml file should be reduced"
#### Problem
When Test OO_LT == false  elements in the global AttributeList are not applicable.

YAML file:
- label: "Read the global attribute: AttributeList"
      command: "readAttribute"
      attribute: "AttributeList"
      response:
          value:
              [0, 16384, 16385, 16386, 16387, 65528, 65529, 65531, 65532, 65533]
          constraints:
              type: list

However {1638

[2022-07-05 16:32] #19642 closed

[2022-07-05 16:40] andy31415 commented on #18901
@cabin15 - please also provide the command lines that you used. The report says `scan-networks command returns 0 entry` but it does not describe how scan-networks was actually called. Vivien found that using `Ssid null` can cause issues, but I cannot see if that was your use case or not.

https://github.com/project-chip/connectedhomeip/blob/master/docs/BUG_REPORT.md#reporting-bugs

[2022-07-05 16:41] andy31415 commented on #18901
From the log I see that the reported command is:

[code]

ssid null is indeed very suspect

[2022-07-05 16:49] #13793 closed

[2022-07-05 16:53] AlanLCollins opened #20323 "ScanNetworks (cmd=0x0, from cluster 0x31) during BLE provisioning is not working for Silabs platform"
#### Problem
during BLE provisioning, I am requesting the EFR32 lighting-app to perform ScanNetworks on Thread interface. I can see BLE activity happening in the serial logs, but no Thread beacon requests nor MLE discovery.

The use case:
- The user has multiple Matter controllers at home. Only few of them support Thread interface.
- The user acquires a matter accessory and starts provisioning ove

[2022-07-05 16:57] AlanLCollins commented on #20323
[efr32_ligth-bulb_scanNetworks.txt](https://github.com/project-chip/connectedhomeip/files/9048161/efr32_ligth-bulb_scanNetworks.txt)

[2022-07-05 17:08] tcarmelveilleux commented on #20118
Can you please provide what the delay was that was provided by the provider and that was not honoured?

We need more logs

[2022-07-05 17:26] woody-apple commented on #20118
Cert Blocker Review: Assigning to @cjandhyala to follow up.

[2022-07-05 17:28] woody-apple commented on #20100
Cert Blocker Review: Looks like this is a general issue in our example app.

[2022-07-05 17:28] woody-apple commented on #20100
Cert Blocker Review: @Morozov-5F  are you able to take a look at this? Thanks!

[2022-07-05 17:37] woody-apple commented on #19132
SDK Review: Given this will make the test harness more resilient to a variety of DUTs, we believe this is appropriate for the SVE branch.

[2022-07-05 17:43] liamgonyea commented on #18272
Closing ticket, above issues are addressed in a [chip-test-plans PR:](https://github.com/CHIP-Specifications/chip-test-plans/pull/1593#issue-1288082131) or invalid test plan steps

[2022-07-05 17:43] #18272 closed

[2022-07-05 17:44] woody-apple commented on #18681
SDK Review: Seems like this could help Lock's for SVE, not required, but given where we are right now, we can take this.

[2022-07-05 17:44] woody-apple commented on #18681
SDK Review: @Morozov-5F are you able to take a look at this?

[2022-07-05 17:51] woody-apple commented on #9567
SDK Review: This sounds like a required 1.0 fix, but does not affect SVE, removing the request SVE label.

[2022-07-05 17:52] woody-apple commented on #18800
SDK Review: Removing `sve` label, @cjandhyala to follow up to seed if this is still an issue.

[2022-07-05 17:53] woody-apple commented on #18800
SDK Review: @bluebin14 can you confirm to see if, or if not there are any known issues blocking SVE, or testing at this point?

[2022-07-05 18:26] phonnakasturi-apple opened #20329 "CHIPTool app crashes on iOS for "Enable Pairing" mode"
With SHA 770a2e2475cc790417d17d1cf169e1aff0ded81f

CHIPTool app crashes on iOS for "Enable Pairing" mode

**Steps to reproduce:**

1. Build first chiptool app on iOS
2. On a command line flash the M5 device
3. Pair the M5 board with CHIPTool iOS app via QR code or using the short pin code
4. Build and launch 2nd chiptool app on iOS
5. From first chiptool app, click on Enable Pairing
6. Select "Ope

[2022-07-05 18:29] jepenven-silabs commented on #20242
This is weird since our Packet Buffer pool is of size 8 as can be seen in `src/platform/EFR32/SystemPlatformConfig.h` I would have expected a buffer allocation failure a lot sooner

[2022-07-05 18:31] bluebin14 commented on #18800
@woody-apple there are no known issues blocking SVE, the non-interactive mode timed run option for subscription test cases is a feature request for better automation capability outside the test harness. The test harness can have its own solution for those cases using interactive mode (not tested though).

[2022-07-05 19:14] #20111 closed

[2022-07-05 20:05] woody-apple commented on #20329
Possible error here:
[code]

[code]

[2022-07-05 22:58] msandstedt opened #20335 "Require test certificate identities with CATs"
#### Problem

Certificate test vectors are here:

https://github.com/project-chip/connectedhomeip/blob/master/src/credentials/tests/CHIPAttCert_test_vectors.h

However, we don't have any node identities that include CATs.

 #### Proposed Solution

Add NOCs chaining to Root01 and Root02 that include CATs.

[2022-07-05 22:59] msandstedt commented on #20335
CC @tcarmelveilleux

[2022-07-05 23:31] jtung-apple opened #20336 "[Darwin] MTRDevice and MTRClustersObjc should be renamed"
#### Problem
As part of the plan to move towards a synchronous API for Darwin Framework, the async APIs as exposed by MTRDevice and MTRClustersObjc should be renamed to show these are low level functionality headers/classes.

 #### Proposed Solution
Proposing to rename the files as MTRBaseDevice and MTRBaseClustersObjc, and the clusters themselves will be MTRBaseCluster[name], e.g. MTRBaseClusterO

[2022-07-06 01:37] cjandhyala commented on #18417
closing per @nansenLV confirmation

[2022-07-06 01:37] #18417 closed

[2022-07-06 03:51] #18681 closed

[2022-07-06 04:23] aajain-com opened #20342 "[crash] chip::Controller::TypedCommandCallback<chip::app::DataModel::NullObjectType>::OnResponse"
Seeing this crash reported during testing on iOS/tvOS. This is seen as recent as TE9 SHA `cfc35951be66a664a6efdadea56d1b8ea6e63e96`.

[code]

[2022-07-06 04:38] aajain-com opened #20343 "[crash] chip::Controller::CommissioningWindowOpener::OnOpenCommissioningWindowSuccess(void*, chip::app::DataModel::NullObjectType const&)"
Seeing this crash reported during testing on iOS/tvOS. This is seen as recent as TE9 SHA `cfc35951be66a664a6efdadea56d1b8ea6e63e96 `.

[code]

[2022-07-06 04:49] aajain-com opened #20344 "[crash] chip::System::LayerImplSelect::CancelTimer(void (*)(chip::System::Layer*, void*), void*)"
Seeing this crash reported during testing on iOS/tvOS. This is seen as recent as TE9 SHA `cfc35951be66a664a6efdadea56d1b8ea6e63e96`.

[code]

[2022-07-06 06:33] kkasperczyk-no commented on #20169
It should be now fixed after https://github.com/project-chip/connectedhomeip/pull/20298 was merged.

[2022-07-06 13:48] andy31415 commented on #18984
Looked a bit at 20136 - I believe our current code only uses mld6_joingroup_netif and never mld6_joingroup
For wildcard inet interface, we probably need to use mld6_joingroup

What I am unclear about is socket implementation ... there interface index 0 means `default interface` and I am unclear what default is. However if sockets work now, maybe we only need to fix lwip.

[2022-07-06 13:50] andy31415 commented on #18984
If group comms is also broken on mac, we may need group communication to use a separate endpoint for every interface (minmdns does this currently, but it also needed this to be able to send and receive unicast packets I believe).

[2022-07-06 15:13] kpark-apple opened #20369 "Respond to CASE Sigma1 retransmission with Sigma2 message"
#### Problem
A node doesn't respond to CASE Sigma1 retransmission with CASE sigma2 message.

Let's say there are node A and node B.
Node A sends CASE Sigma1 message to node B.
Node B receive the message and sends back CASE Sigma2 message.
However the message was lost in the network.
Node A retransmits CASE Sigma1 message.
In this case, Node B doesn't seem to send back Sigma2 message but instead ju

[2022-07-06 17:11] woody-apple commented on #19991
SDK Review: @Morozov-5F are you able to take a look at this?

[2022-07-06 17:11] woody-apple commented on #19990
SDK Review: Are you able to take a look @Morozov-5F ?

[2022-07-06 17:13] woody-apple commented on #19851
SDK Review: @bzbarsky-apple are you able to take a look at this when you're back? Thanks!

[2022-07-06 17:40] mrjerryjohns opened #20379 "UpdateNOC needs to invalidate sessions on previous fabric"
#### Problem

With the groundwork now present in the SDK to correctly abort all communications on a given fabric _except_ a specific exchange, as well as expiring sessions associated with that fabric, we should now fix `UpdateNOC` to do the same.

See #19910 for an example of this for `RemoveFabric`.

[2022-07-06 17:58] somu1710 opened #20384 "[TC-SWTCH] - Switch cluster test case needs an reference app to modify and verify the state of the the switch position."
**Problem description:**

To verify the latching and Momentary switch state as explained in the test case TC-SWTCH-3.2, If there is an reference app to modify the state of the switch will be helpful to verify this simulated functionality.

currently test case expects to change the state of the switch from 0 to 1 and vice versa and expects to read the attribute. As of now there is no provision to c

[2022-07-06 17:59] leorozendaal opened #20385 "QR code generator: add support for manufacturer specific tags"
#### Problem
Current QR code generator (according to @liamgonyea) only supports the Matter-defined TLV tags  (#20226 for #20231) .
This prevents us from making a test whether commissioners can handle a QR with a (large) manufacturer specific blob of TLV data.

 #### Proposed Solution
Add support for generating, possibly with the client/command line providing the entire blob (tag, length, value, da

[2022-07-06 18:00] somu1710 commented on #20384
@yufengwangca  could you please take a look at this issue.

[2022-07-06 18:21] yinyihu-silabs opened #20388 "[pre-sve] TC-CC-1.1 & 2.1 yaml not matching test plan."
#### Problem
TC-CC-1.1 is expecting feature-map to be 1, but feature-map should be end-device sample application dependent and should be within the range of 0-31.
`|3| | | {THread} (0xFFFC) _FeatureMap attribute_          | {DUTreply} the following bitmap32
- bit 0 is set to 1 If {clusterid}.S.F00(HS) is true.
- bit 1 is set to 1 If {clusterid}.S.F01(EHue) is true.
- bit 2 is set to 1 If {clusteri

[2022-07-06 18:24] liamgonyea commented on #20385
#### Example of the QR code generator's current lack of support:

The <Payload in Base-38 format for 1000 bytes of TLV data> could be +
0x15 0x31 0x82 0xe8 0x03 <1000 bytes of random data> 0x18 +
(using tag type 0x31='octet string, 2-octet length', vendor tag 0x82, length 0x03e8)

[code]

[code]

### Test Setup
[code]

[2022-07-06 18:26] mrjerryjohns commented on #20379
FYI @bzbarsky-apple (who I believe was originally going to do this).

[2022-07-06 18:26] turon commented on #18374
@bluebin14 was this resolved by #19749?

[2022-07-06 18:41] #18374 closed

[2022-07-06 18:51] msandstedt commented on #20169
@kkasperczyk-no ,

I'll give it a try!  Thanks!

[2022-07-06 18:53] #20388 closed

[2022-07-06 21:06] cecille opened #20401 "GroupIds need to be added to Group Key Management before Groups"
#### Problem
Groups cluster should check the Group Key Management cluster for key material before allowing AddGroup to run. Per the spec 1.3.7.1.1
If the receiving node requires security material to support the group ID and that material does not exist for this group ID, the status SHALL be UNSUPPORTED_ACCESS and the server continues from step 6.

 #### Proposed Solution
- Add check to the groups

[2022-07-07 04:47] cjandhyala commented on #20315
@mgarb1 could you file the issue in test scripts repo https://github.com/CHIP-Specifications/chip-test-scripts/issues

[2022-07-07 08:26] AlvinHsiao opened #20412 "[pre-SVE] TC-DGGEN-2.2 Cannot read BootReason Event"
#### Problem
TC-DGGEN-2.2 cannot read BootReason Event.

 #### Steps:
./chip-tool generaldiagnostics read-event boot-reason 20 0

 #### system configuration :
Chip-Tool: RPI
DUT used : Infineon CYW30739
app use: Lighting-app
chip-tool and DUT commit id : https://github.com/project-chip/connectedhomeip/commit/5b603f38746c7c360c60435271b7843f17b8d61a (sve SHA)

 #### Logs:
[TC-DGGEN-2.2_TH.txt](http

[2022-07-07 10:27] shubhamdp opened #20415 "[ESP32] Organize readme files from examples"
#### Problem
* Each example has a readme and each readme has duplicate information
* Whenever new config/feature is added then changing it into every readme files seems dull

 #### Proposed Solution
* Move the common part somewhere into docs/guides and use references from there in these readme files.

[2022-07-07 12:20] rwells1703 opened #20421 "Chef crashes when building .zap file without -r"
#### Problem
Using chef tool on linux (commit 126f6b2915fc26ee17342e1dc80f96f031938a6c) crashes when building an .zap file generated from zap tool. This only occurs when the Pigweed RPC (-r) flag is not specified in the chef.py command line options.

This is due to the ```options.do_rpc``` value being ```None``` by default. During building, this value is converted to an integer, which crashes due

[2022-07-07 13:45] #19563 closed

[2022-07-07 13:45] #19622 closed

[2022-07-07 16:18] mrjerryjohns opened #20437 "[Python] Merge `native` and `ChipStack`"
#### Problem

Once #20234 merges, we'll have a split initialization model where `native` handles `MemoryInit`, and `ChipStack` handles the remaining bits needed for safe initialization of the stack. This is not ideal, since both are effectively serving two halves of the same initialization story.

We should remove `native`, and consolidate all initialization in `ChipStack`, and have each Python mo

[2022-07-07 16:59] #20421 closed

[2022-07-07 17:51] chirag-silabs commented on #20118
Sorry for the delay, here are the logs. The -p 180 but the transfer is happening without any delay

[chip-tool.txt](https://github.com/project-chip/connectedhomeip/files/9066156/chip-tool.txt)
[ota_dut_1.txt](https://github.com/project-chip/connectedhomeip/files/9066158/ota_dut_1.txt)
[ota_provider.txt](https://github.com/project-chip/connectedhomeip/files/9066159/ota_provider.txt)

[2022-07-07 18:11] mrjerryjohns commented on #19259
This is not completed. #19673 just unblocks the core work for this issue.

[2022-07-07 18:33] abtink commented on #18507
@Damian-Nordic, TLDR, I will add a PR  in OT to change this to unblock this.

Some thoughts on this:
- My interpretation of this was that when we remove a service, it automatically removes all its sub-types as well.
- This seems to be similar to how when we remove a host, all its registered services are also removed on server.
- SRP client therefore has the option to optimize this (client can chos

[2022-07-07 18:35] andy31415 commented on #19613
Trying to take a look ... I don't know much about groups, but it does look like this should be testable easily enough.

[2022-07-07 18:36] mrjerryjohns opened #20452 "*Device methods on `DeviceController` are no longer valid, and highly confusing."
#### Problem

Once #19259 completes, there are a number of *Device methods in `DeviceController` that will no longer make sense:

`UpdateDevice`: This already looks to be deprecated, we should just delete this.
`ReleaseOperationalDevice`: This won't make any more sense once the changes to `OperationalDeviceProxy` lifetime get completed in #19259, since the proxy instance will not be publicly acces

[2022-07-07 18:43] s-mcclain opened #20453 "[ESP32] Cannot commission lighting-app in WEP security network"
#### Problem
When providing the credentials to the network from chip-tool to the commissionee, there is no information provided for for joiner on which security type to join. It looks like the platform assumes WPA2 as the security, which causes the device to never be able to successfully join into the network.
[code]

 #### Proposed Solution
Allow support/detection for WEP networks when provided w

[2022-07-07 19:05] mrjerryjohns commented on #19259
As part of addressing this, we should also remove `CASESessionManager::Release*` APIs as well.

[2022-07-07 19:19] Abhayakara commented on #18507
It seems pretty simple to just not emit the subtype if its lifetime is zero.

[2022-07-07 20:01] andy31415 commented on #19613
@leorozendaal
SDK feedback and clean slate reader: this is redundant and confusing. We will end up some clients using one feature and others use a different attribute. "backwards compatibility" should not be a justification for a 1.0 protocol as there is no "backward".

I understand a mandate of 'when in doubt, make migration from zigbee easy' however this is an awkward/redundant implementation fo

[2022-07-07 20:33] krypton36 opened #20460 "darwin-framework-tool: Update github workflow to run tests with tool"
#### Problem
Currently the darwin-framework-tool does not run tests, because issues were introduce while it was disabled.

 #### Proposed Solution
Resolve issues in tests and enable workflow.

[2022-07-07 21:03] #20315 closed

[2022-07-07 21:35] cabin15 commented on #18901
@andy31415
Using latest masterwhere #20312 is merged, I can see a multiple entries of ScanNetworkResponse upon below command.

./chip-tool networkcommissioning scan-networks 1 0 --Ssid null

Is this still a valid command to perform the test?
Thank you for the fix.

[2022-07-08 00:52] tatsutaigu opened #20470 "[ESP32] cannot find Discriminator: 3840 on all-cluster-app via chip-device-ctrl(python)"
#### Problem
 * expected behavior

`ble-scan` on `chip-device-ctrl` can find discriminator:3840.

 * actual behavior

`ble-scan` on master branch cannot detect discriminator.
I guess the ESP32 for `all-cluster-app` on master branch did not set Discriminator, Vendor Id and Product Id.
`chip-device-ctrl` on master branch does not work.
therefore, I use `chip-device-ctrl`  on [test_event_4_2021_07_06

[2022-07-08 09:32] Rajashreekalmane opened #20479 "[TC-IDM-4.3]Chip-tool support needed to send subscribe Request Message for all events and attributes from the DUT."
**#### Problem**
As per step 16 says "TH sends a subscription request action for an attribute and all events. Set the MinIntervalFloor to some value say "N"(seconds). Change the value of the attribute and trigger an action on the DUT to trigger any event.
we don't have a option to verify both attributes and events by giving subscribe command"

**System configuration:-**
Chip-tool - RPI-4, 8GB RAM

[2022-07-08 09:40] JourneyYoung opened #20481 "CHIP: [BLE] Service not found on the device"
#### Problem
<what's wrong or missing, please include any applicable:
 * expected behavior
 * actual behavior
 * steps to reproduce
 * system configuration
 * screenshots, images, logs, etc.

An iphone12 running on iOS 15.3.1 can not find FFF6 Service. I used two iphone12 to connect the same matter device,  the other one was running on iOS 15.4. When I connected to the matter ble device, the one r

[2022-07-08 12:41] dhrishi commented on #20470
HI @tatsutaigu The "Adv Data" that you see above has the discriminator: 0xF00 (3840), VID: 0xFFF1 as well as PID: 0x8001 in the format as required by the specification.

[2022-07-08 14:39] #20286 closed

[2022-07-08 16:19] #19851 closed

[2022-07-08 16:37] mrjerryjohns opened #20496 "Improve REPL test useability"
#### Problem

The REPL tests have come a long way in terms of usability, but it still has a number of key improvements remaining to make them truly usable:

1. Better isolation of each test in terms of setting up pre-requisites. Right now, each test depends on an implicit running of a previous test to setup the target with a number of fabrics. It'd be great if a test could express a pre-requisite

[2022-07-08 17:03] mrjerryjohns commented on #20496
4. There are negative tests we'd like to add sometimes that take a long time to actually fail correctly (timeouts for example), that we don't want to actually run when in 'developer' mode, but do want to run in CI. Would be great if we could add a global option that each test can access to figure out whether it should run such a test.

[2022-07-08 17:49] #19132 closed

[2022-07-09 04:18] CodeChronos928 opened #20526 "TLV reader underruns on zero-length string values"
#### Problem
The TLV Reader errors out with an underrun when reading string values of length zero.

[code]

The case above is from the all-clusters-app, which has a zero-length value for `Basic::NodeLabel`.

It should not fail in this case, since someone can easily write `::chip::Span<const char>()` into string attributes, possibly as placeholders that are never fully populated.

 #### Proposed So

[2022-07-09 12:35] #19613 closed

[2022-07-09 12:51] andy31415 commented on #18901
Marking clsed.

I am unsure if ssid null was supposed to be valid ... but I see it is valid now, so probably can use it. I would have preferred a better argument than null (like not specifying ssid to remove all filtering) however that can be updated separately.

[2022-07-09 12:51] #18901 closed

[2022-07-09 12:53] #20274 closed

[2022-07-10 11:04] Diegorro98 commented on #17673
Finally I managed to resolve this problem:
By adding `ipv6=true` line to .wslconfig, chip-tool will work as intended. The content of the file will should look like this:
[code]

[2022-07-10 11:04] #17673 closed

[2022-07-11 04:29] tatsutaigu commented on #20470
Hi, @dhrishi
Thank you for your reply.

I use `chip-tool` and it can find ESP32.
However, `chip-tool` was stopped as Aborted (core dumped).

Below is log.

[2022-07-11 06:43] tatsutaigu opened #20537 "[ESP32C3] cannot finish commissioning"
#### Problem
 * expected behavior
 * actual behavior
 I set up and follow sequence about [all-clusters-app](https://github.com/project-chip/connectedhomeip/tree/master/examples/all-clusters-app/esp32)
 Run `chip-tool` but chip-tool was stopped by timeout.
 How do I complete commissioning?
 If I need to modify menuconfig, please let me know setting on menuconfig.

 * steps to reproduce
 * system co

[2022-07-11 12:53] manjunath-grl opened #20547 "Darwin(no-ble-asan) getting Build failure when we try to write "Basic" cluster attributes"
Summary:
Darwin (no-ble-asan)  getting  Build failure for some of the attribute write showing "error: no visible @interface for 'MTRBaseClusterBasic' declares the selector 'writeAttributeVendorNameWithValue:completionHandler:' for tests TC-BINFO-2.1 in which we am trying to write "Basic" clusters attribute and response will be Unsupported_Write.

Diff link:
https://github.com/project-chip/connecte

[2022-07-11 13:09] andy31415 opened #20552 "Labelstruct value restrictions should return CONSTRAINT_ERROR no FAILURE"
Failure is the wrong IM response. It has to map to `CONSTRAINT_ERROR` as the error, since this is the case of writing an out of bound value to an *attribute*. The code in the user-label-server does not properly handle converting to IM error and seems to cause FAILURE if this passes at all

_Originally posted by @tcarmelveilleux in https://github.com/project-chip/connectedhomeip/pull/20501#discussi

[2022-07-11 13:10] andy31415 commented on #19851
Note #20552 - we now fail the write, however the error code is not fully correct.

[2022-07-11 15:31] andy31415 commented on #20053
Spec issue marked completed.

[2022-07-11 15:31] #20053 closed

[2022-07-11 15:39] andy31415 commented on #18548
I am reading through the issue, am still unclear how to reproduce. I see the comment was "I can reproduce the issue by starting the lighting-app without even invoking chip-tool".

So I start lighting-app ... and then what? observe mdns service publish error?

On master ToT I tried to compile light examples with the given command, output seems ok:

[code]

[2022-07-11 15:44] #20230 closed

[2022-07-11 16:12] yufengwangca opened #20559 "Stop using signals for those faults, altogether, and move to a different notification means, like a pipe"
#### Problem
Currently, we reuse signal to trigger the various event on the device, this mechanism has several restrictions.
1. We only have very limited signal on Unix, we may run out of available signal for all events
2. Signal can not pass additional parameter information other than the command itself
3. All signals have default actions, we overwrite those default behaviors, such as Ctrl+C can

[2022-07-11 16:56] #15538 closed

[2022-07-11 17:16] yqian442 commented on #14330
Hi, I also met the same problem. Can you explain how to solve it? Thank you.

[2022-07-11 17:22] #20526 closed

[2022-07-11 17:51] Damian-Nordic opened #20565 "[ota] Exchange leak"
#### Problem
When OTA is cancelled due inactivity timeout, the BDX transfer exchange is leaked. Apart from the possibility to run out of exchanges on constrained devices, it causes a Sleepy End Device never getting back to the idle mode, which may drain the battery.
Same thing may occur in different scenarios, such as passing an error to `BDXDownloader::OnPreparedForDownload`.

 #### Proposed Solu

[2022-07-11 18:33] yunhanw-google opened #20569 "Add eventHeader parameter in Java Class"
I think we should pass the whole eventHeader to android application where it not only has the path, but it has event meta data info, like EventNumber, Priority. Timestamp=timestamp, TimestampType. for example, we may receive a burst of open-close events with short period, which has the same event path, and they have different event number and timestamp, the application would be able to consume/par

[2022-07-11 18:33] yunhanw-google commented on #20569
https://github.com/project-chip/connectedhomeip/pull/20473

[2022-07-11 18:33] #20569 closed

[2022-07-11 19:59] andy31415 commented on #20479
Would this not be chip-tool interactive instead? I would imagine we want to send several subscribe requests separately.

[2022-07-11 21:46] phonnakasturi-apple opened #20580 "Compilation error on M1 Mac while trying to build darwin-framework-tool"
With SHA caf62f709e0a0fdf41b0d3a1652cc26bc46a960a

While trying to build _darwin-framework-tool_ on M1 Mac, we encounter the following complier error;

**Steps to reproduce**

1. cd ~/connectedhomeip
2. git reset --hard caf62f709e0a0fdf41b0d3a1652cc26bc46a960a
3. export PKG_CONFIG_PATH="/opt/homebrew/opt/openssl@3/lib/pkgconfig"
4. source scripts/activate.sh
5. cd examples/darwin-framework-tool
6.

[2022-07-11 22:15] krypton36 commented on #20580
It appears that this [PR](https://github.com/project-chip/connectedhomeip/pull/9353/files) may be the culprit.

[2022-07-11 22:54] bzbarsky-apple commented on #19306
@mamehta Which step of TC-DD-2.1 needs anything like `discover commissionables`?  I am not seeing it.

[2022-07-11 23:44] tatsutaigu commented on #20470
@dhrishi

Yes, it happen everytime.
I will write logs next paragraph.

I tried `all-clusters-app` example.
I do below command for build.

I'm using below branch/commit id for connectedhomeip and ESP-IDF.

* connectedhomeip

* ESP-IDF

[2022-07-11 23:47] tatsutaigu commented on #20470
Logs

* connectedhomeip

* device side

[2022-07-12 00:33] bzbarsky-apple commented on #20218
@sowmyassp The test plan can say whatever it wants, but that's not going to change how DNS and TTLs work...  Stale records can happen, until the TTL expires.

[2022-07-12 00:40] chrisdecenzo commented on #17730
@jmartinez-silabs - it sounds like we need to add some test cases to make sure ScanNetworks can be called over the PASE connection (before AddNetworks has been called). That is the most likely/useful time to use this command.

[2022-07-12 02:25] Garik098 opened #20589 "SVE1 testing: TC-CADMIN-10 and TC-CADMIN-9 20 iterations not getting completed in 900 seconds commissioning window interval"
On SHA - caf62f709e0a0fdf41b0d3a1652cc26bc46a960a, as per the steps of TC-CADMIN-10 and TC-CADMIN-9, 20 iterations with incorrect setup code is taking around 20 - 40 minutes while the maximum commissioning window is 900 seconds (15 mins). So verification of this step is not possible within the maximum commissioning window span.

Below is the log with the timestamps of how long it is taking for one

[2022-07-12 03:58] nicelyjust opened #20590 "[Android]can not get PID &ProductName from Java"
#### Problem
after this #19514 commited, then unenable to get PID &ProductName from AndroidConfig

 #### Proposed Solution
support to get PID &ProductName from AndroidConfig

[2022-07-12 04:17] krypton36 opened #20591 "[OTA Matter.framework] Code is unsafe/racy error message"
#### Problem
After setting the OTA delegate in Matter.framework and receiving Query Image InvokeCommand to the controller (Matter.framework), an error message states that the code is unsafe/racy. This appears to be the issue because during the transmission of the message we are using a delegate that is passed in from the caller [here](https://github.com/project-chip/connectedhomeip/pull/20516/file

[2022-07-12 04:38] yufengwangca opened #20594 "Named pipe - move payload to json for future extensibility"
#### Problem
After using named pipe instead of signal to trigger the event, we need to use json format to specify the command and its associated event parameter for future extensibility.

 #### Proposed Solution
<suggested fix, suggested enhancement>

[2022-07-12 04:58] yunhanw-google opened #20595 "[Android] Need add event timestamp type for event in android implementation"
why don't you add timestamp type? per spec, it could be either epoch or system timestamp.

_Originally posted by @yunhanw-google in https://github.com/project-chip/connectedhomeip/pull/20495#discussion_r918548287_

[2022-07-12 05:17] yunhanw-google opened #20596 "Please have urgent boolean in java event path"
Please have urgent boolean here. in spec, we have record the urgent flag inside path.
https://github.com/CHIP-Specifications/connectedhomeip-spec/blob/master/src/data_model/Encoding-Specification.adoc#encoding-EventPathIB

_Originally posted by @yunhanw-google in https://github.com/project-chip/connectedhomeip/pull/20198#discussion_r918554666_

[2022-07-12 05:45] sstruchtrup commented on #18548
I can reproduce it on branch sve, commit 9b2d738791d16650e09e5353d7bce299991f1bf9 by starting chip-lighting-app (uncommissioned) and commisisoning it via `chip-tool pairing onnetwork 1 20202021`.

Logs:
[code]

`CHIP:DIS: mDNS service published error: ../../third_party/connectedhomeip/src/platform/Linux/DnssdImpl.cpp:483: CHIP Error 0x000000AC: Internal error`

[2022-07-12 05:45] sstruchtrup commented on #18548
Commissioning fails as chip-tool cannot resolve the address

[2022-07-12 06:35] bzbarsky-apple commented on #20591
The `completionHandler` there should be dispatching to the Matter work queue, no?  @carol-apple

[2022-07-12 07:58] dhrishi commented on #20470
This is not required. When you do `idf.py set-target esp32c3` the sdkconfig gets updated appropriately. Can you please try with the latest codebase. I am able to get this to work fine with it.

[2022-07-12 09:53] kkasperczyk-no commented on #18507
Hi, I managed to test Apple border router with the Nordic Thread device containing the sub-type PTR removal fix from @abtink. It works better, as Apple border router accepts the service removal sent by the Matter firmware. Unfortunately it still rejects the removal using OpenThread CLI commands (ot srp client service remove ... ) with the same error message "[DL]Operation refused for security reas

[2022-07-12 11:29] kowsisoundhar12 commented on #19561
PRS-2.3 Testscript is removed from Testplan ,hence closing this issue

[2022-07-12 11:29] #19561 closed

[2022-07-12 11:50] markus-becker-tridonic-com opened #20607 "[SVE1] zap sets old cluster revisions by default for Identify Server Cluster (version 2 instead of 4)"
#### Problem

When creating a new EP and e.g. create an Identify Server Cluster, zap fills in version 2 for the Cluster Revision of Identify. Current value is 4.

 #### Proposed Solution

Set the latest ClusterRevision by default.

[2022-07-12 11:50] Abhayakara commented on #18507
It looks like the OT cli is removing the service PTR and service instance name and adding the host, so you have a host with no services after this is done. This should be okay. I don't know if you're able to send me un-redacted logs from your Thread BR (you'd have to run this with the debugging profile and then generate a sysdiagnose).

Instructions for debugging profile here if you don't have the

[2022-07-12 11:50] doru91 opened #20608 "[SVE1] Possible memory leak in chip-tool"
#### Problem

After successfully commissioning with the 4th administrator, chip-tool reports:

**[1657625195.034286][3459:3459] CHIP:SPT: VerifyOrDie failure at ../../examples/chip-tool/third_party/connectedhomeip/src/lib/support/Pool.h:317: Allocated() == 0**

This is 100% reproductible on NXP platform.
[chip_tool_logs_4th_admin.txt](https://github.com/project-chip/connectedhomeip/files/9092507/c

[2022-07-12 13:43] markus-becker-tridonic-com commented on #20607
I noticed this only for Identify when adding a new endpoint and adding the server cluster. Might not be limited to Identify Server cluster though. Yes, I was using the ZAP UI.

[2022-07-12 13:51] leorozendaal opened #20614 "[SVE1] test script LVL3.1 needs change in PICS condition"
#### Problem
context: https://csamembers.slack.com/archives/C03NYBWMT42/p1657629815867219

(Jan Claes): LVL3.1 Test will try to read the current level in step 16 while the PICS says the OnOffTransistion is not supported and it did not set the level in Test Step 14 : sends a Move to level command as this is skipped due to the PICS

after comparison of test script https://github.com/project-chip/con

[2022-07-12 14:09] bzbarsky-apple commented on #20236
@vivien-apple @woody-apple Any idea why this disagreement?

[2022-07-12 14:18] bzbarsky-apple commented on #20294
@AlvinHsiao Which SHA are you using?  Does this SHA include the fixes from #19964?

[2022-07-12 14:19] bzbarsky-apple commented on #20293
@jamislike Probably, but might need some platform code contributed, to the extent that FreeBSD behavior matches neither Linux nor Darwin.  Someone with access to FreeBSD would need to do that.

[2022-07-12 14:20] bzbarsky-apple commented on #20283
@cjandhyala can you please take a look?

[2022-07-12 14:22] andy31415 commented on #19081
Removed spec for now (I assume this is not spec) and 1.0 as well based on latest comment from @msandstedt

[2022-07-12 14:26] bzbarsky-apple commented on #20257
Caused by https://github.com/project-chip/connectedhomeip/pull/19941 I assume.  @andy31415 was trying to prod people about this, I think....

@FaqiangZhu-nxp

[2022-07-12 14:39] AlvaroDekra opened #20620 "TC-MC-3.12 Segmentation fault in all-clusters-app"
We found an issue in TC-MC-3.12
 step 2 "Hide input status command" cause that all-cluster-app has segmentation fault.

Attached log file of gdb execution of chip-all-clusters-app showing the "inter State" error is triggered You would see that it is at line 232 because this application was built from SVE v1.0 on IMX8 platform

But as already described, on my Raspberrypi setup, with VSE v1.1, the l

[2022-07-12 15:01] bzbarsky-apple commented on #20565
In particular, BDXMessenger is all sorts of broken; starting by fixing that is probably a good idea.  I'll take a stab at it.

[2022-07-12 15:13] andy31415 commented on #20620
@AlvaroDekra please provide information based on https://github.com/project-chip/connectedhomeip/blob/master/docs/BUG_REPORT.md:

- what platform was this used (both DUT and chip-tool)
- what commands are used to reproduce (https://github.com/project-chip/connectedhomeip/tree/master/src/app/tests/suites/certification currently has no TC-MC-3.12 and besides, certification tests may change, so steps

[2022-07-12 15:14] Damian-Nordic commented on #20565
`BDXDownloader::OnPreparedForDownload` is another occurrence that may require manual closing of the exchange, because it is called before any message is sent using that exchange (I think). Also, `BDXDownloader::StartDownload` should probably use `ExchangeHandle` to release the exchange on error.

I don't guarantee there are no more places :)

[2022-07-12 15:21] andy31415 commented on #20607
Maybe this should be reported to zap? @tecimovic - how do we triage and split bugs between zap and matter sdk?

[2022-07-12 15:26] andy31415 commented on #20481
marked darwin to tag iOS developers. @woody-apple - we do not seem to have a iOS tag (unsure if needed or not)

[2022-07-12 15:26] JourneyYoung commented on #20481
您好。你的邮件我已经收到，谢谢！ 

[2022-07-12 15:28] AlvaroDekra commented on #20620
Hello Andy31415,

We reproduce the issue using the Raspberry pi 4 model b and chip-tool from 'sve' Branch of connectedhomeip.
This is the official branch using on SVE1 event.

manual command. chip-tool tests Test_TC_MC_3_12 --nodeId 1
automatic launch: Test harnes with Test_TC_MC_3_12 selected.

Thanks!

[2022-07-12 15:29] andy31415 commented on #20218
We are setting zero TTL as far as I am aware.
That being said, is the test correct? It assumes no stale DNSSD records.

[2022-07-12 15:32] andy31415 commented on #20283
@morahman2022 - please provide the commands that are included in `TC-BINFO-2.2` in this bug report. I opened the spreadsheet and still have a hard time finding the information.

[2022-07-12 15:33] cjandhyala opened #20623 "[SVE-1] darwin chip tool interactive mode do not need on wait command in subscribe commands"
darwin chip tool interactive mode does not need on wait command-line option in subscribe commands

[2022-07-12 16:43] krypton36 commented on #20591
@carol-apple I am going to update this.

[2022-07-12 16:50] aajain-com opened #20626 "[crash] CHIP: chip::System::TimerPool<chip::System::TimerList::Node>::Invoke"
#### Problem

Found the following crash during stability testing with SDK SHA `5d8599d195a93dfe5473f64e4f888c322e5df1d2 `

[code]

[2022-07-12 16:53] aajain-com opened #20627 "[crash] CHIP: chip::System::LayerImplSelect::CancelTimer"
#### Problem
Found the following crash during stability testing with SDK SHA `5d8599d195a93dfe5473f64e4f888c322e5df1d2`.

[code]

[2022-07-12 16:58] aajain-com opened #20630 "[crash] CHIP: chip::System::TimerList::Remove"
#### Problem
Found the following crash during stability testing with SDK SHA `5d8599d195a93dfe5473f64e4f888c322e5df1d2`.

[code]

[2022-07-12 17:01] aajain-com opened #20631 "[crash] CHIP: chipAbort"
#### Problem
Found the following crash during stability testing with SDK SHA `5d8599d195a93dfe5473f64e4f888c322e5df1d2`.

[code]

[2022-07-12 17:08] kkasperczyk-no commented on #20590
Unfortunately I didn't fix that, the first fix was also required, but the actual cause is different. The reason is that every platform or application that wants to use the different `DeviceInstanceInfoProvider` implementation than default needs to call `SetDeviceInstanceInfoProvider()`. As far as I know currently the ESP32 and nRFConnect do it and it works, but it should be also done for Android,

[2022-07-12 17:16] andy31415 commented on #20118
@chirag-silabs - please provide more details, during request-cert-blocker review this seems to still needs to be disambiguated.

We need to understand what test steps are attempted, what spec section is verified and what behaviour difference exists between expected and actual.

[2022-07-12 17:17] #20221 closed

[2022-07-12 17:21] bzbarsky-apple commented on #20565
@Damian-Nordic I believe https://github.com/project-chip/connectedhomeip/pull/20632 should address this.....  It's your changes from #20304 plus a fix to BDXDownloader to handle the exchange lifetime correctly.

[2022-07-12 17:21] andy31415 commented on #20218
@cjandhyala @franck-apple to tag this appropriately: testing for this is valid, however proposed steps do not work. Need differerent approach as described above.

[2022-07-12 17:24] andy31415 commented on #20279
Cert blocker review: cannot easily evaluate this issue based on provided info. Please provide more information so we can figure out what is going on (cert/spec issue vs test step updates).

For more debugging and certificate validation, `--trace_decode 1` appended to chip-tool helps us in seeing certificate data in logs.

[2022-07-12 17:29] andy31415 commented on #20283
Cert blocker review: `clean shutdown` is indeed not generally supported for devices. We may need to do one of:
   - figure out a trigger of such shutdown (e.g. test trigger)
   - can we even ask for graceful shutdown

for 2b, human log review is generally subjective. Could we automate this or can the test case be reviewed for correctness? We need for details in this issue to make an assesment.

DU

[2022-07-12 17:29] bzbarsky-apple commented on #20470
@tatsutaigu Please attach logs instead of pasting, or at least wrap them in `<details>` bits....

[2022-07-12 17:37] bzbarsky-apple commented on #20412
Fixed by https://github.com/project-chip/connectedhomeip/pull/20482

[2022-07-12 17:42] selissia commented on #20118
@chirag-silabs @mamehta:
TC-SU-2.5 Steps 2 and 3 refer to the  ApplyUpdateResponse command, not QueryImage. I am referring to the test document  Draft_TE9_TestPlanVerificationSteps_2020220609.xlsx . The -p parameter to chip-ota-provider-app app refers to ApplyUpdateResponse.

The wording of the test case "Verify that the DUT starts updating its software" is a bit misleading. Here "updating its sof

[2022-07-12 17:44] bzbarsky-apple commented on #20385
We support vendor tags, but the only value types we support are char string and signed integer, because those are the only things supported by the `SetupPayload` type.  The above is trying to use octet string....

It's pretty easy to change the chip-tool bits here if `SetupPayload` is fixed to actually support other types.  I don't know why it does not do that now....

[2022-07-12 17:45] andy31415 commented on #8434
Review: spec is unclear if keystore is to be shared or not. A spec issue exists:

https://github.com/CHIP-Specifications/connectedhomeip-spec/issues/5420

[2022-07-12 17:46] bzbarsky-apple commented on #20369
In this case Node B retransmits the Sigma2 until it's acked or we reach the MRP timeout, no?

[2022-07-12 17:46] #20369 closed

[2022-07-12 17:48] turon commented on #20401
For context, this would be adding extra checks to `emberAfGroupsClusterAddGroupCallback` in `src/app/clusters/groups-server/groups-server.cpp`.

[2022-07-12 17:51] kpark-apple commented on #20369
No, Node B didn't retransmit. Maybe there is a bug there.

[2022-07-12 17:56] andy31415 commented on #20479
Cert block review: chip tool cannot currently subscribe to both events and attributes on the same subscription. (interactive or not does not seem relevant).

Existing API does support it (chip repl has an implementation). Need chip-tool implementation.

@vivien-apple could you provide some estimation on how hard this is to add to chip-tool?

[2022-07-12 17:59] kpark-apple commented on #20369
The following was the controller side log:

[code]

[2022-07-12 18:00] andy31415 commented on #20607
Assigning myself to validate that our XML is correct. Assume that zap takes the value from the xml.

[2022-07-12 18:07] andy31415 commented on #20607
illuminance-measurement-cluster.xml has 2 instead of 3

[2022-07-12 18:09] andy31415 commented on #20607
preassure-measurement has 2 instead of 3

[2022-07-12 18:10] bzbarsky-apple commented on #20369
So these bits from the device log:
[code]
That does in fact show the Sigma2 being retransmitted.  One of the retransmits fails synchronously causing retransmits to stop.

The error there, `3000001` is an underlying LwIP error.  Specifically, `ERR_MEM`, I believe.

[2022-07-12 18:11] #20100 closed

[2022-07-12 19:11] bzbarsky-apple commented on #20302
@wickyou23 Thank you for catching this, and for the excellent issue report!

[2022-07-12 19:19] raju-apple commented on #20614
@kvikrambhat Can you add this to the list as well

[2022-07-12 19:46] bzbarsky-apple commented on #20589
OK, so we have, as expected, about 30 seconds from the SPAKE failure to ` [1657583861600] [84740:1885943] CHIP: [TOO] Secure Pairing Failed`.

But then we have another 90 seconds from that to ` [1657583951602] [84740:1885699] CHIP: [-] ../../commands/common/CHIPCommandBridge.mm:150: Error 0x00000032 at ../../commands/common/CHIPCommandBridge.mm:40`

That's because that "Secure Pairing Failed" bit

[2022-07-12 19:58] andy31415 commented on #20607
Created a diffs script, revisions mismatches:
0x0004 should be 4 not 3
0x0301 should be 4 not 3
0x0406 should be 3 not 2

Several other clusters I could not properly parse spec vs code. The spec adocs are  too free form.

[2022-07-12 20:06] tima-q commented on #20221
Thank you @bzbarsky-apple for picking this up! I wasn't completely sure this was legacy code.

[2022-07-12 20:41] turon opened #20649 "[session] Call `MarkActive` in `::Activate`."
#### Problem
Per specification text: SessionTimestamp / ActiveTimestamp: `This timestamp SHALL be initialized with the time the session was created.`

Yet `MarkActiveRx` which initializes both of these (`mLastActivityTime` and `mLastPeerActivityTime` respectively) is only called when messages go over the session, not at creation or "activation" of the session.

 #### Proposed Solution
Call `MarkAc

[2022-07-12 20:56] SaileeG opened #20650 "Level control test cases failing with CHIP Error 0x00000032: Timeout"
When Running Level control test cases (Ex: TC-LVL-2.3) manually using Chip tool facing  Run command failure: ../../examples/chip-tool/commands/common/CHIPCommand.cpp:423: CHIP Error 0x00000032: Timeout

Command Executed: # ./chip-tool levelcontrol write on-level 5 123123 1

Logs:
[Fail_[TC-LVL-2.3]_[CHIPTool]_[DUT-Google_Matter_Framework]_error.zip](https://github.com/project-chip/connectedhomeip/

[2022-07-12 20:59] krypton36 opened #20653 "[OTA Matter.framework] when a user passes in an error handle is gracefully."
#### Problem
Currently when a caller passes an error back when calling the defined callbacks from MTROTAProviderDelegate, the Matter.framework has a no op with the NSError object.

 #### Proposed Solution
Ideally check if there is an error passed, and check if the status is not success. If there is an NSError from the caller, and no unsuccessful status, update the status accordingly.

Code Snippet

[2022-07-12 21:11] chrisbeach59 opened #20656 "ble-wifi pairing failing BlueZ disconnecting"
BlueZ disconnecting during pairing with the SVE1.1 image.  This was working fine with SVE1.0

Log from pairing using the chip-tool attached.
[pairing.log](https://github.com/project-chip/connectedhomeip/files/9096864/pairing.log)

[2022-07-12 21:23] bzbarsky-apple commented on #20294
The specific commands are, to be executed without a fail-safe armed:

[code]

These all assume the device is commissioned as node id 51.

[2022-07-12 22:19] mrjerryjohns opened #20660 "Add CI tests to validate REPL server modality"
#### Problem

Need to add tests to the existing Python test suite to validate the REPL server logic.

To actually validate those APIs from a single test, we need to first stand-up the REPL server instance as a separate process instead of the `chip-all-clusters-app`, and invoke the APIs remotely from the process that's running the test.

rpyc is a good fit for it.

[2022-07-12 23:09] tatsutaigu commented on #20470
@dhrishi
I tried your suggestion.
However, Timeout occurred.
it may `chip-tool` issue?
for example, `chip-tool` has insufficient control of BLE controller?

@bzbarsky-apple
I change it.

[2022-07-12 23:52] bzbarsky-apple commented on #20479
So this is like https://github.com/project-chip/connectedhomeip/pull/20270 but for subscriptions?  Or does it need more flexibility (e.g. not just wildcard-except-endpoint for the paths)?

[2022-07-13 00:08] mykrupp commented on #20656
Silabs running into an issue today. Pairing with Matter over wifi. We are also experiencing issues with SVE1.1, while we had success with preliminary tests running the 1.0 image.

chip-tool pairing logs, running TC DRLK 2.2
[UI_logs (3).log](https://github.com/project-chip/connectedhomeip/files/9097694/UI_logs.3.log)

[2022-07-13 00:11] aajain-com opened #20661 "[crash] CHIP: chip::app::ReadClient::CancelLivenessCheckTimer"
#### Problem
Found the following crash during stability testing with SDK SHA `5d8599d195a93dfe5473f64e4f888c322e5df1d2`.

[code]

[2022-07-13 00:15] #20650 closed

[2022-07-13 00:15] SaileeG commented on #20650
Not observing anymore

[2022-07-13 00:22] mrjerryjohns commented on #15023
@yunhanw-google can you tackle this as well? It's in line with the other PR you already have in this space (#19356).

[2022-07-13 01:03] Garik098 opened #20662 "SVE1 Darwin Automation Tool: Open Commissioning window in ECM not generating Manual Code randomly"
SHA - caf62f709e0a0fdf41b0d3a1652cc26bc46a960a

In the ECM test cases of CADMIN, sometimes when we open the commissioning window, it is showing success response for opening commissioning window part but is giving an error while generating the new Manual Code for the next commissioner to use to provision.

Note: Observing this issue randomly. Saw it four times while running through all the CADMIN t

[2022-07-13 01:13] yunhanw-google commented on #15023
yes

[2022-07-13 06:26] yufengwangca opened #20664 "REPL test will fail if signal SIGINT is not caught by chip-all-example-app"
#### Problem
./scripts/run_in_build_env.sh './scripts/tests/run_python_test.py --app out/linux-x64-all-clusters-no-ble-no-wifi-tsan-clang-test/chip-all-clusters-app --factoryreset --script-args "--log-level INFO -t 3600 --disable-test ClusterObjectTests.TestTimedRequestTimeout"'

 #### Proposed Solution
<suggested fix, suggested enhancement>

[2022-07-13 07:05] plan44 commented on #12987
Controller code as present in AppleTV 16 beta 3 (I guess, something past TE9) still has the problem. I can successfully commission the bridge-app via an iPad, which then passes control to the AppleTV and everything works fine.

However, when the bridge-app is restarted, the AppleTV keeps trying to connect with a stale session getting the bridge app to log `CHIP: [IN] Data received on an unknown se

[2022-07-13 07:10] Tim-Conrad opened #20665 "[ESP32 bridge-app] Endpoint are off by one, Mismatch README to example"
#### Problem
#####  Expected behavior
While testing the latest ESP32 example of the bridge-app I came across this issue. The [README](https://github.com/project-chip/connectedhomeip/blob/master/examples/bridge-app/esp32/README.md) states that the following endpoints should have (virtual) lights configured:
- Light1 at endpoint 2
- Light2 at endpoint 6
- Light3 at endpoint 4
- Light4 at endpoint 5

[2022-07-13 07:49] sinny777 commented on #20537
I'm also facing the same problem....

[2022-07-13 07:50] marius-alex-tache opened #20667 "[SVE1] .zap file for lighting-app"
#### Problem
There is only one .zap file for **lighting-app** applications. Each vendor can have a different type of lighting-app, right?
We are currently supporting an on/off device type, but I've observed that some enabled clusters are optional (Level Control) or not even specified in section 4.1 from the Device Library pdf (Color Control).

There are also some disabled mandatory events in root

[2022-07-13 08:17] Allen-Guof opened #20668 "[Android] How to get ChipDeviceController node id?"
I want to upgrade firmware through Android phone as ota provider. The firmware upgrade package is in the local file. But when announceOtaProvider, I can't find providerNodeId. I'm guessing that providerNodeId is the ChipDeviceController node id. Is there anyone who can help me.

[2022-07-13 09:23] rwells1703 commented on #20204
Is this helpful? It shows 'defines' in the context of Configs, but they can be used in other targets too.
https://gn.googlesource.com/gn/+/main/docs/language.md#Configs

Inside the target you're building (declared in BUILD.gn), you should add the line:
```defines = [ "PW_TRACE_BACKEND_SET" ]```

[2022-07-13 11:05] #20302 closed

[2022-07-13 11:10] Morozov-5F commented on #19990
How up-to-date are the YAML tests in the SDK? I can see that the all the enabled DRLK tests (namely, `Test_TC_DRLK_2_2`, `Test_TC_DRLK_2_3`, `Test_TC_DRLK_2_4`, `Test_TC_DRLK_2_5`, `Test_TC_DRLK_2_7` and `Test_TC_DRLK_2_9`)  are passing against the Linux lock-app.

[2022-07-13 11:16] Morozov-5F commented on #19912
Seems like this was fixed in the #20044 as it was EFR32-specific. Holiday schedules seem to be working in the lock-app under Linux, can't confirm for EFR32 as I lack the required hardware.

[2022-07-13 12:10] Rajashreekalmane opened #20671 "[TC-ULABEL-2.3]--When TH writes LabelList attribute of constraint more than 16 bytes, DUT responds as Failure instead CONSTRAINT_ERROR"
#### Problem
As per test-plan if TH write  LabelList attribute of constraint more the 16 bytes DUT Should responds with  status code as CONSTRAINT_ERROR but currently DUT is responding as Failure.

 * **expected behavior**:-CONSTRAINT_ERROR(0x87)
 * **actual behavior**:-FAILURE(0x01)
 * **steps to reproduce**:-./chip-tool userlabel write label-list '[{"label":"roomName", "value":"master bedroom 1"

[2022-07-13 13:20] #20607 closed

[2022-07-13 13:26] aswathygrl opened #20672 "[TC-ACL-2.4] Test Case need to be revisited."
**Test Case ID**
TC-ACL-2.4
**Describe Issue**
Step 29: expected outcome is constraint error but result is failure.
Reason:  Authmode is PASE RESERVED FOR FUTURE ,.
The subjects list SHALL NOT be empty if the entry’s
AuthMode is PASE.
Step 31: expected outcome is constraint error but result is failure .
reason:     field combination invalid that means Administer privilege with group authmode.
Step

[2022-07-13 14:18] bzbarsky-apple opened #20677 "No implementation of Pulse Width Modulation cluster"
#### Problem
There is no implementation of the Pulse Width Modulation cluster, even though it's defined in the appclusters spec.

 #### Proposed Solution
Either implement this, or remove it from the 1.0 spec.

@anush-apple @andy31415 @woody-apple @robszewczyk

[2022-07-13 14:19] bzbarsky-apple commented on #20677
Also no test plan for this; see https://github.com/CHIP-Specifications/chip-test-plans/issues/1736

[2022-07-13 14:20] #20667 closed

[2022-07-13 14:30] dhrishi commented on #20470
Ohh, my bad. I am on the latest commit on [my fork](https://github.com/dhrishi/connectedhomeip) which is `https://github.com/dhrishi/connectedhomeip/commit/8ebd7f0fd891dc745b2b2eb9fb5a7ea0b241342b` (around 63 commits behind) and it works there. I will update to the latest codebase and try

[2022-07-13 14:39] vinay-apple opened #20678 "Mac all cluster app crashes when tried to pair a second fabric (test app) after first adding in Home app"
#### Problem
Mac all cluster app crashes when tried to pair a second fabric (test app) after first adding in Home app

SHA: 5d8599d195a93dfe5473f64e4f888c322e5df1d2

Steps:

1. Pair Mac all cluster app in Home app
2. Open pairing and copy the setup payload
3. Try pairing with test app Chai and see that Mac all cluster crashes.

Seeing no memory error before the crash.

 022-07-12 22:49:02.522291-0

[2022-07-13 14:41] andy31415 commented on #20677
I think we need to improve our heavy overhead of implementing new clusters. This may be post 1.0, but implementing a cluster which is basically read/write some attributes and handle some commands should be trivial. I don't think it is trivial enough yet (it sounds like it: have an xml and add it to something like all-clusters ... I think more is involved).

[2022-07-13 14:42] andy31415 commented on #20671
This has been fixed in master yesterday.

[2022-07-13 14:42] #19896 closed

[2022-07-13 14:45] andy31415 commented on #20671
Fix was in #20553

[2022-07-13 14:46] andy31415 commented on #20671
I believe it has to be manually cherrypicked - it had no SVE tag :(

[2022-07-13 14:47] andy31415 commented on #20671
https://github.com/project-chip/connectedhomeip/pull/20680 for a manual cherrypick

[2022-07-13 14:49] dhrishi commented on #20470
@bzbarsky-apple I am able to perform commissioning and cluster control on the current latest commit on upstream connectedhomeip https://github.com/project-chip/connectedhomeip/commit/51e41f9dfb49727a90b9641621085e60f642a884
Please see attached logs
[esp32c3_51e41f9.txt](https://github.com/project-chip/connectedhomeip/files/9103310/esp32c3_51e41f9.txt)
[chip-tool_51e41f9.txt](https://github.com/pro

[2022-07-13 14:59] andy31415 commented on #20671
Reopened to mark fixed only once CP lands in sve branch.

[2022-07-13 15:03] andy31415 commented on #20620
I searched in master: `rg --hidden --no-ignore TC_MC_3_12` and it returns no values.

[2022-07-13 15:04] andy31415 commented on #20620
In SVE I do see values for this: Test_TC_MC_3_12

Why is this in SVE but NOT in master?

[2022-07-13 15:05] andy31415 commented on #20620
#20514 seems to have updated this to Test_TC_MEDIAINPUT_3_12

[2022-07-13 15:10] andy31415 commented on #20620
@AlvaroDekra what is the platform for DUT?

Original description says iMX however your reply on 'what platform' only mentioned RPi4.

please help me understand the issue  https://github.com/project-chip/connectedhomeip/blob/master/docs/BUG_REPORT.md. It is very frustrating trying to dig up all data in issues. Please provie:

What SHA was used
What chip-tool or controller app was used: what platfor

[2022-07-13 15:14] andy31415 commented on #20608
@cjandhyala - please see above: is this actually a cert blocker (if so please explain and re-add the tag) or was my removal of cert blocker tag correct?

[2022-07-13 15:19] andy31415 commented on #20620
I would also see that reading the segfault log, some of the questions are answered:
  - this uses `all_clusters_app` for media  tests (is this valid? we have separate tv apps. @chrisdecenzo )
  - all-clusters-app/linux seems to be the path, so maybe this is not IMX after all. I see UDP endpoint sockets used, which also makes me think it is linux only.

[2022-07-13 15:21] andy31415 commented on #20620
[code]

for me requires chip-tv-app. Which leads me to think that testing against all-clusters is not ok.

[2022-07-13 15:22] andy31415 commented on #20620
[code]

Passes without any crash that I can see.

[2022-07-13 15:24] andy31415 commented on #20620
[code]

So as far as I can tell the tests can pass. My current guess is that this probably due to using all-clusters-app. Use tv-app instead.

Otherwise it may be some platform-specific thing.

[2022-07-13 15:25] andy31415 commented on #20620
And I now realize I tried 3.13 instead of 3.12 ... duh!

[2022-07-13 15:25] andy31415 commented on #20620
[code]

[2022-07-13 15:27] andy31415 commented on #20620
@chrisdecenzo - it seems that these tests must be run on tv app ... is this true? If so, could we remove the clusters from all-clusters-app so they do not seem that they are working.

Also separately, a segfault is probably not ok either, regardless of support.

[2022-07-13 15:36] andy31415 commented on #20620
This is a bug in https://github.com/project-chip/connectedhomeip/blob/master/src/app/clusters/media-input-server/media-input-server.cpp#L223

There is a verify or exit check there that tries to return early if delegate is null, but it still uses delegate :(

I will fix it because obvious ... but tests are still unlikely to pass on all-clusters I would guess.

[2022-07-13 15:57] andy31415 opened #20683 "Fix up null delegate use in `goto exit` pattern in TV clusters"
#### Problem
#20682 fixes some potential segfaults in the media input server. Looking at the original #13259 it looks like the same pattern exists in other files (notably I see `audio-output-server.cpp` being also broken).

 #### Proposed Solution
After a `verify that it is not null` check, the null delegate should not be dereferenced. the code after `exit` should only do cleanup.

[2022-07-13 16:01] andy31415 commented on #20620
Regarding cert blocker: me fixing the crash will not make all clusters app pass tv tests: all clusters app is not designed to pass those.

To validate tv tests, the tv app must be used.

[2022-07-13 17:15] woody-apple commented on #20385
Cert Blocker Review: Pending cert blocker, given resolution of this issue - is this required for 1.0 or 1.X?: https://github.com/CHIP-Specifications/chip-test-plans/issues/1659

[2022-07-13 17:18] woody-apple commented on #19912
Cert Blocker Review: @mamayorg can you please re-verify this, as we believe this is resolved.

[2022-07-13 17:18] #19912 closed

[2022-07-13 17:21] woody-apple commented on #19990
Cert Blocker Review: Thanks @Morozov-5F, unassigning you. Ian to follow up from Infineon.

[2022-07-13 17:25] woody-apple commented on #20479
Cert Blocker Review: @vivien-apple can you help add this functionality to chip-tool?

@cjandhyala to provide an example of what the test plan would require (command wise)

[2022-07-13 17:36] woody-apple commented on #18984
Cert Blocker Review: Closing this, given we believe this is resolved.

[2022-07-13 17:42] woody-apple commented on #18485
Cert Blocker Review: @CamWms @bzbarsky-apple @mrjerryjohns - Can we confirm if the current spec, SDK, and test plans are currently in sync. If so, we should move this to post 1.0.

[2022-07-13 17:50] bzbarsky-apple commented on #20678
@vinay-apple ran this with asan turned on and got:

<details>
<summary>`==40999==ERROR: AddressSanitizer: heap-use-after-free on address 0x60400012c678 at pc 0x0001003dff2a bp 0x700006c98f90 sp 0x700006c98f88`</summary>

[code]

</details>

@kpschoedel anything jumping out at you there?

[2022-07-13 17:54] woody-apple commented on #8434
Cert Blocker Review: Closing this as we believe the other issue will go into 1.0 spec.

[2022-07-13 17:54] #8434 closed

[2022-07-13 18:06] bzbarsky-apple commented on #20678
Actually, this is in fact a Darwin-specific problem.  I'm a little surprised we are not hitting in CI all the time; digging into why.

`LayerImplSelect::ScheduleWork` does the following:

1. Cancel the existing timer for the completion function and appState.  This is actually pretty questionable, in case the caller in fact meant to schedule the work twice...  This destroys the timer.
2. Create a t

[2022-07-13 18:10] mamehta commented on #19306
In the test plan published at https://groups.csa-iot.org/wg/matter-csg/document/26538 (version 1.2) -
I'm seeing several steps in TC-DD-2.1 involving discover commissionables, like Step 2 below pasted as an example. I'm also seeing it in steps 11, 12, 14a, 15a and 15b.

Step 2:
1. Discover commissionables (example for over mDNS only)
./chip-tool discover commissionables

If (PICS_CHIP_DEV) TH shou

[2022-07-13 18:20] mamehta commented on #20118
I think this issue can be closed. I thought I saw a description expecting the DUT to send a QueryImage after receiving an ApplyUpdateResponse, but the latest test plan doesn't show that.

[2022-07-13 18:40] bzbarsky-apple commented on #20678
And yes, if I just comment out the `!intersectsInterestPath` check in `reporting::Engine::SetDirty`, I get the ASAN failure above on the above-linked SHA when running the CI "Remove fabric" test.

[2022-07-13 18:43] #20591 closed

[2022-07-13 19:09] pankore opened #20691 "[Ameba] Ameba is failing Storage Audit"
#### Problem
- Ameba is failing the storage audit when building with `chip_support_enable_storage_api_audit=true`.

 #### Proposed Solution
- Upcoming PR will fix this issue

[2022-07-13 19:54] pankore opened #20696 "[SVE] TC-SU-2.5 ApplyUpdateRequest is still sent"
#### Problem
- TC-SU-2.5, step 1
- Action field is set to "Proceed"
- DelayedActionTime is set to 0
- DUT still sends ApplyUpdateRequest after transfer of image before rebooting

[tc-su-2.5-part1-otap.txt](https://github.com/project-chip/connectedhomeip/files/9105492/tc-su-2.5-part1-otap.txt)

[2022-07-13 20:03] markus-becker-tridonic-com commented on #20384
all-clusters-app can do this by sending SIG* to the Linux process:
https://github.com/project-chip/connectedhomeip/blob/master/examples/all-clusters-app/linux/main-common.cpp#L284-L311

However, it might not be completely correct (https://github.com/project-chip/connectedhomeip/issues/19923).

[2022-07-13 20:54] cjandhyala commented on #20218
@sowmyassp , why are you using same node ID in Step 5 and step 3

[2022-07-13 20:58] cjandhyala commented on #20279
@morahman2022 , as marked in the SVE TC List, this TC was not ready to be executed and was marked as so. Pls execute this TC when its ready. Closing the issue for now.

[2022-07-13 20:58] #20279 closed

[2022-07-13 21:00] cjandhyala commented on #20283
@morahman2022 , as per the verification steps document, this test case is not ready for execution. Pls do not execute until the test case is ready. closing the issue for now.

[2022-07-13 21:00] #20283 closed

[2022-07-13 21:15] cjandhyala commented on #20118
closing per @mamehta comments

[2022-07-13 21:15] #20118 closed

[2022-07-13 21:32] cjandhyala commented on #20479
@mrjerryjohns Per slack conversation, Krithika is not available this week, In the absence of her, Could you pls provide your input on what is the test plan expectation here,  is it on all clusters/one cluster one end point/all end points ..etc

[2022-07-13 21:54] hubTab opened #20699 "Add Multiple OTA Unsolicited Message Handlers per Protocol"
#### Problem

The Unsolicited Message Handler for Protocols framework only allows for one session at a time.

BdxOtaSender/TransferFacilitator and its supporting TransferSession have been designed and implemented to only support one transfer at a time:
- Exchange Manager implements a single call for registering an unsolicited message handler for a given protocol identifier that would be invoked fo

[2022-07-13 23:00] bzbarsky-apple commented on #20677
I suspect this will end up getting marked provisional in the spec in practice....

[2022-07-13 23:14] bzbarsky-apple commented on #20271
It looks like we discovered a number of matching devices on the network, then when the command timed out (it's being run with a 3-second timeout) tried to shut down while we had not tried all the devices yet.

This landed us in `DeviceCommissioner::Shutdown` (this is presumably _after_ stopping the event loop), which then did `OnSessionEstablishmentError` and that led us to just try the next disco

[2022-07-14 00:03] andy31415 commented on #20672
@aswathygrl is this a manual test only or can I run this via some chip-tool run test that is automated?

[2022-07-14 00:26] bzbarsky-apple commented on #20699
Is a single BDX transfer done over a single exchange?

If so, it seems like we'd still have the one unsolicited message handler, but it would create per-exchange delegates as needed....

[2022-07-14 00:49] manjunath-grl commented on #20614
@leorozendaal fixed in PR [20709](https://github.com/project-chip/connectedhomeip/pull/20709) please verify it and close the ticket

[2022-07-14 01:37] AlvinHsiao commented on #20294
It seems fixed in the newest https://docs.google.com/spreadsheets/d/1h4d4J90KAxFqUL_cXZHyM3pHjHCEXzFITkQhN2KMqDY/edit#gid=509371791

[2022-07-14 01:59] Kxuan opened #20713 "[SVE][TC-LVL-2.2]Step 2b does not write DIFFERENT value"
#### Problem
The step 2b said "TH writes the OnLevel attribute on the DUT with a different value than that read in 2a".
But the test script only set 254 to the device, regardless the old value is 254 or not.
If the default value of OnLevel is 254, step 2c fails because it matches constrains "notValue: OnLevelValue".

 #### Proposed Solution
It should have another value, such as 253. If the default

[2022-07-14 03:03] Kxuan opened #20714 "[SVE][TC-LVL-3.1] Test Step 16 shoule have same PICS with Step 14"
**Problem**
Step 14 ("sends a Move to level command") send MoveToLevel command only if LVL.S.A0010 (OnOffTransactionTime) is supported.
If the DUT does not support LVL.S.A0010, MoveToLevel will not be invoked on DUT. So the current level are remains unchagned.

The Step 16 read current level in this condition is invalid, and should also be skipped as same as Step 14.

https://github.com/project-ch

[2022-07-14 06:08] bzbarsky-apple commented on #16376
See https://github.com/project-chip/connectedhomeip/issues/17298

The plan there would cause the first attempt to talk to the device after it restarts to fail, and later ones to succeed again.

[2022-07-14 06:11] yeccc opened #20716 "[SVE][TC-DGTHREAD-2.1] Test Step 1: read configured Channel attribute value, expected value should NOT be null"
#### Problem
<what's wrong or missing, please include any applicable:
 * expected behavior
 * actual behavior
 * steps to reproduce
 * system configuration
 * screenshots, images, logs, etc.

 ***** Test Failure: channel expected to be null but isn't
BUT spec defined:
 A value of null SHALL indicate that the Thread interface is not currently configured or operational.

 #### Proposed Solution
<sug

[2022-07-14 06:11] sankarselvam commented on #20672
@andy31415  ACL is not yet automated. You may need to run manually.