[2022-06-08 09:14] LuDuda commented on #19163
Sure will handle this, thanks.

[2022-06-08 09:19] bukepo commented on #18327
Discussed with @kghost , this may not be a Thread stack issue. When Thread stack is running, it acquires the OpenThread lock.

[2022-06-08 09:22] vivien-apple commented on #18800
So if my understanding is correct, you are interested in gatherings events received by `chip-tool` and you have some log parsing scripts that are checking against your expected results ?

It is possible to do something like ?
[code]

There is a little issue with the trace-decoder-program and status report at the moment (those are not decoded, I'm going to fix that)...

[2022-06-08 10:50] bluebin14 commented on #18800
This approach can get very awkward when e.g. doing subscriptions from multiple controllers (let's say 5) then stopping controller 3 after 10 seconds etc. With timed run you have 5 lines and one script. With interactive mode... still counting.There is nothing wrong in having an interactive mode but maybe its usage should not be forced.

[2022-06-08 11:56] Rajashreekalmane commented on #18993
@mrjerryjohns Still mandatory TestEventTriggersEnabled attribute is not implemented in chip-tool.

[2022-06-08 12:03] manjunath-grl commented on #19159
@RajashreeKalmane can you please send me the manual run logs of this test.

[2022-06-08 12:41] andy31415 commented on #19304
@srickardti maybe based on commit logs?

[2022-06-08 13:09] tcarmelveilleux commented on #17221
The dependency is that my UpdateNOC work on #18633 would use this API if it was there. This work, however is can begin without conflicts

[2022-06-08 13:33] srickardti commented on #19304
@yunhanw-google can you point me to the offending code? The only reference to logging in our `main.cpp` files is a commented out platform log because the UART driver isn't up until the kernel is started.

In our examples we usually use a macro to call our platform logging function. Is there a better way to consolidate logging?

[2022-06-08 14:10] #19276 closed

[2022-06-08 14:19] kowsisoundhar12 opened #19315 "Thread Network Diagnostics Cluster testcase is failing in Darwin check eventhough if i disabled the particular testcase in tests.js file"
TC-DIAG_TH_NW_2.1 Script is failing in Darwin (no-ble-asan-clang) check but i disabled this testcase in following tests.js file
tests.js path ---> connectedhomeip/examples/darwin-framework-tool/templates/tests/tests.js

Note : Following PR is pending because of this issue
![2022-06-08_19-34](https://user-images.githubusercontent.com/57476670/172640040-665db765-c5e3-4a95-ae6c-b427f239b014.png)
![20

[2022-06-08 14:25] bzbarsky-apple commented on #18327
So the general message flow here seems to be:

* Outgoing messages: Something calls into LwIP, which ends up calling its `output_ip6` callback, which calls `GenericThreadStackManagerImpl_OpenThread_LwIP<ImplClass>::SendPacket`.  The assumption is that at that point the LwIP lock is held and hence the call could be on any thread.  SendPacket takes the OpenThread lock and then does openthread things

[2022-06-08 14:28] andy31415 commented on #18364
Bumping this up because not touched for a long time.

I expect door lock certification tests to fail if they are setup without a pin. This failure should be a "cert failure".

[2022-06-08 14:37] tcarmelveilleux opened #19316 "[Door Lock App] Failure of basic lock/unlock"
#### Problem
**Found during smoke testing of SDK Master at Google, Jun 7 2022**

Device EFR32, Controller Linux.

With the default door-lock app example, the "lock" and "unlock" now fail.

Executed from code state:

https://github.com/project-chip/connectedhomeip/blob/ae6e092ff5acfb2faf34e4e9308217870d7954c8/examples/lock-app/lock-common/lock-app.zap#L7847

Command:
[code]

Both fail with
[code]

[2022-06-08 15:14] andy31415 opened #19319 "Deduplicate zcl.json with extension data"
zcl.json and zcl-with-test-extensions.json need to contain practically the same data except extensions contains one more path.

This duplication is painful to maintain. Instead we should dedup, however this would ideally be done once zap supports multiple --zcl arguments.

Originating from:

As a followup: please add a lint that this file and zcl.json are in fact identical except for whatever the

[2022-06-08 15:14] bzbarsky-apple commented on #8043
So far it's being treated as out of scope.

[2022-06-08 15:18] bzbarsky-apple commented on #19319
I don't think we should wait on ZAP here.  Something using `diff -u0 file1 file2 | tail +4` and comparing that to a known string should work....

[2022-06-08 15:21] manjunath-grl commented on #19150
@bzbarsky-apple @franck-apple 1. AttributeList : we checked with QA team it is  passing for them we used same app and endpoint but we are observing missing Optional attribute, we are waiting on logs to investigate further
2. AcceptedCommandList : commands are mandatory we got [0] but the expected value is [0,1,2] as per spec
Spec screenshot:
![image](https://user-images.githubusercontent.com/10235

[2022-06-08 15:25] #19315 closed

[2022-06-08 15:29] bzbarsky-apple commented on #19306
See #18147 and #17963.

I just looked at TC-DD-3.1 and I don't see anything in there that requires `discover commissionables` to do anything with BLE.  Which step do you think needs it?

Similar for TC-DD-3.19: which step do you think needs `discover commissionables`?

[2022-06-08 15:33] bzbarsky-apple commented on #19304
[code]

[2022-06-08 15:34] bzbarsky-apple commented on #19304
This is not about "logging".  This is about Matter events.

[2022-06-08 16:00] sankarselvam commented on #18601
@vivien-apple We still see this issue and not able to send a delayed request. Hence we reopened the ticket for the further follow-up.

[2022-06-08 16:11] yinyihu-silabs commented on #17406
issue hasn't been seen for a while. close for now.

[2022-06-08 16:14] bzbarsky-apple commented on #19036
Using what SHA?  Using what steps?  @raju-apple @sankarselvam @Rajashreekalmane please actually provide relevant information when reporting problems; otherwise a lot of time gets wasted.

Concretely, on 5362125e31b8bdd7b2dddb2da381eb7bffe80f73 I see
[code]
as expected.

[2022-06-08 16:14] #19036 closed

[2022-06-08 16:16] phonnakasturi-apple opened #19322 "Unable to clear fabric from credential - error noticed when trying to unpair M5 board"
With SHA 5362125e31b8bdd7b2dddb2da381eb7bffe80f73

Unpair of M5 board throws -> "Unable to clear fabric from credential" error

**Steps to reproduce**

1. Install and launch chiptool app on iOS
2. Make sure M5 board is flashed
3. Pair M5 board with chipTool app by scanning QR code or by using short pin
4. Select Unpair Devices on chiptool app
5. Choose Unpair Devices

**Note:** Unpair still works

[2022-06-08 16:24] sankarselvam commented on #19036
@Rajashreekalmane Can you please share the SHA you used?

[2022-06-08 17:26] #17715 closed

[2022-06-08 17:34] jmartinez-silabs opened #19327 "All-cluster-app build fails on Darwin due to codesign issue"
#### Problem
during all-app-cluster build on darwin

codesign.py fails with

[code]

My Certs are expired
[code]

 #### Proposed Solution
add a check for CSSMERR_TP_CERT_EXPIRED to the script and ignore those identities?

[2022-06-08 17:54] franck-apple commented on #14395
should be fixed by Vivien's PR #18893. @sumaky can you please verify and close this issue?
Otherwise, please let @vivien-apple know if something is missing.

[2022-06-08 17:55] franck-apple commented on #14397
should be fixed by Vivien's PR #18893. @sumaky can you please verify and close this issue?
Otherwise, please let @vivien-apple know if something is missing.

[2022-06-08 17:59] franck-apple commented on #14404
First part (first checkbox) should be fixed by Vivien's PR #18893.
Second part to come.

[2022-06-08 18:10] bzbarsky-apple commented on #19322
This looks like door lock bits.  @Morozov-5F could you take a look please?

[2022-06-08 18:14] bzbarsky-apple commented on #19322
And in particular, it does not make sense to log errors in this loop:
[code]
because not having all slots filled with users is _normal_, no?  But maybe the real issue here is just the bogus lock delegate in all-clusters-app?

Similar for this loop:
[code]

[2022-06-08 18:40] ReneJosefsen commented on #19304
This is an old section of code used for demonstration purposes. Since events are not going to make it for 1.0 I would think the easiest solution is to just remove the code that triggers the LogEvent.

If that is acceptable, I can do a PR to fix this.

[2022-06-08 19:08] tehampson opened #19331 "Add MaxCumulativeFailsafeSeconds attribute, and use it within GeneralCommissioningCluster"
#### Problem
* https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5243/ added MaxCumulativeFailsafeSeconds Attribute that needs to be added to

[2022-06-08 19:30] yinyihu-silabs commented on #19146
@jimlyall-q The attribute list you're getting is correct. those are all the mandatory attributes.
the ones you see in the validation steps with 57 attribute entries, many of them are optional attributes.
for example: 2, 5, 6 are optional
and the ones below are also all optional attributes which does not depends on feature-map but rather number-of-primaries or other factors.

[1649661013.012134][79

[2022-06-08 19:33] Shadi-Silabs opened #19333 "[pre-sve] [TC-SU-2.8][TC-Su-4.1] Transfer does not happen on TH2/OTA-P"
#### TC-SU-2.8 step#2
After killing the OTA Provider for Fabric 1, the transfer never happens on TH2/OTA-Provider.

 #### TC-SU-2.8 step#3
The transfer also never happens on TH2/OTA-Provider.

 #### TC-SU-4.1:
This test is affected from the same problem of TC-SU-2.8.

 #### Please check the logs below:
[TC-SU-2.8 failed step#2.zip](https://github.com/project-chip/connectedhomeip/files/8864529/TC-S

[2022-06-08 19:35] andy31415 commented on #14542
@gmarcosb will look into this.

regarding deferral candidate, will leave it up to Marcos if this is important pre 1.0 or not given that this is platform-specific.

[2022-06-08 19:35] andy31415 commented on #14542
For now assuming not deferral since this is relating on Android platfor support for controllers.

[2022-06-08 19:36] g-coppock commented on #14542
Yeah, notably since we expect multiple applications to include this SDK, I think the default behavior here will cause incompatibility. (e.g. if two apps A and B are installed with the default configuration, and both processes are running, then they will run into collissions).

[2022-06-08 20:18] robszewczyk opened #19335 "ASN1 Buffer Overflow"
#### Problem
The `ASN1Reader` class has to keep track of the parsing state, and in one location it is
possible to cause the reader to access data outside the bounds of the buffer being read.
This occurs in the code excerpt below when the end of the container is set to a point that
might be beyond the end of the buffer containing the parsed data.

In `ASN1Reader::EnterContainer`, we find:

[code]

[2022-06-08 20:25] robszewczyk opened #19336 "ASN1 Integer Overflow in `ASN1Reader::Next()`"
#### Problem

In `ASN1Reader.cpp` the following code does not consider integer overflow:

[code]

Because the variables `mHeadLen` and `ValueLen` are both typed `uint32_t` their sum can
wrap around, incrementing `mElemStart`  by an incorrect value.

When `ASN1Reader::Next()` is called in a loop and `mElemStart` is incremented by `0`, this will
result in an infinite loop. This is the case for `Dump

[2022-06-08 21:15] #19327 closed

[2022-06-08 21:29] robszewczyk opened #19339 "`strncpy` Max Copy Length Does Not Always Copy Null Terminator"
#### Problem
In some instances of `strncpy`, the string can fill up the entire destination buffer while dropping the terminating `NUL` character.

Some examples:
src/controller/CommissionerDiscoveryController.cpp
src/platform/P6/BLEManagerImpl.cpp
src/protocols/user_directed_commissioning/UDCClientState.h
src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
src/lib/dnssd/Discovery_ImplPlatform.cpp

 #### Pr

[2022-06-08 21:29] #19265 closed

[2022-06-08 21:36] robszewczyk opened #19340 "TLV Reader improperly processes 64-bit lengths"
#### Problem

In `CHIPTLVReader.cpp` in `TLVReader::GetLength()` we see an incorrect cast to a 32-bit value.  The TLV spec does provide for a 64-bit length field for UTF-8 strings and for byte strings, and the code does appear to properly parse out the values; however, the remainder of the TLV parsing code lengths to 32-bit quantities.

 #### Proposed Solution
For version 1.0, error out on any len

[2022-06-08 21:39] balloob opened #19341 "Video device types not up to date in `matter_devices.xml`"
#### Problem

I cross-referenced device_library.pdf version `0.8-core-appclusters-devtype-ncr, 2022-05-01 21:37:45 -0700: Draft` with `matter_devices.xml` and found the following video related items to not be up to date:

- 10.2 Basic Video Player (0x0028) is missing from matter_devices.xml
- 10.3 Casting video player (0x0023) is called “Video Player” in matter_devices.xml
- 10.5 Content App is ca

[2022-06-08 21:41] bzbarsky-apple commented on #19304
In what sense are "events not going to make it for 1.0"?

[2022-06-08 21:45] balloob opened #19342 "Fan device type is missing in `matter_devices.xml`"
#### Problem

I cross-referenced device_library.pdf version 0.8-core-appclusters-devtype-ncr, 2022-05-01 21:37:45 -0700: Draft with matter_devices.xml.

I found that device type Fan (9.3, page 55) is missing from `matter_devices.xml`.

 #### Proposed Solution

Describe the Fan device type in `matter_devices.xml`.

[2022-06-08 21:45] robszewczyk commented on #19340
To be fair, this is a minor problem, and the unit test case would actually require an allocation of memory in excess of 4GB, as the `TLVReader::VerifyElement()` does check for underflow.

[2022-06-08 21:53] bzbarsky-apple commented on #19228
Doing an example with both LS and MS in the same app is a bit of a pain, because then you have to have a useful Fixed Label cluster and our current Fixed Label setup is pretty broken.

For now, just going to set the one in all-clusters-app to be LS, like all-clusters-minimal-app.

[2022-06-08 21:58] bzbarsky-apple commented on #19339
We should not be using `strncpy` at all. We should be using `CopyString`.

[2022-06-08 22:34] chrisbeach59 opened #19348 "[pre-sve]Can not build Thermostat without scenes"
#### Problem
It is not possible to build an application that contains a thermostat cluster without the scenes server cluster being present
 * expected behavior
 * The scenes cluster is is optional for the thermostat device type.  It should be possible to build a minimal thermostat device type without the scenes cluster
 * actual behavior
 * Build fails
 * steps to reproduce
 * remove the scenes cl

[2022-06-08 22:48] robszewczyk opened #19349 "Buffer Overflow in the `validate-cert` Command’s Argument Parsing"
#### Problem
The following code does not check the number of provided arguments, which can result in
writing past the end of `gCACertFileNames` and `gCACertIsTrusted arrays`:

[code]
If there are 16 ( `kMaxCerts `) or more options, a buffer overflow happens.

#### Proposed Solution

Stop adding more entries to the arrays if they are already full.  Seems like a relatively low priority, can land pos

[2022-06-08 22:54] robszewczyk opened #19350 "Out Of Bound Write in chip-shell’s Read-EvalPrint Loop Parser"
#### Problem
With specifically crafted input, `TokenizeLine()` code could write four or eight (pointer
size) bytes of 0 after the end of `tokens[]` array.
[code]
While there is a check against `max_tokens` in the for loop above, it does not take into
account the final `nullptr` write into `tokens[]` array.
 #### Proposed Solution
A simple fix would be to not use a `nullptr` guard and rely on calle

[2022-06-08 23:00] robszewczyk opened #19351 "Integer Overflow Leading to Buffer Overflow in `vFillBuffer()`"
#### Problem
Code with a potential integer overflow leading to a buffer overflow:
[code]
As the types of bytes , dataLen and valueLen are all `uint16_t` or smaller, if they add up
to over `0xffff` this will cause an integer overflow and the `bufferLen` check could pass
when it should not. Later there’s a `memcpy()` call that could cause a buffer overflow
 #### Proposed Solution
Overflow should be

[2022-06-08 23:05] robszewczyk opened #19352 "Object Addresses Are Logged"
#### Problem
Pointer values in logs could be used to bypass ASLR, making exploitation of other
vulnerabilities easier.

Searching the source code for string pattern `%p` shows object addresses are being logged
in some places:
[code]

 #### Proposed Solution
Pointer value prints should be either removed or only used on debug builds.

Generally, sensitive data should not be logged.

Relatively low p

[2022-06-08 23:12] robszewczyk opened #19353 "Potential for Command Injection in Linux Connectivity Manager"
#### Problem
It is very unlikely for the described vulnerability to have any impact, because it would
require unusual configurations or attacker to have high privileges.

Similar code patterns can often be trivially exploited to achieve command execution in
context of target process.

The following excerpt of code that takes a network interface name and uses it as a part of
a shell command:
[code]

[2022-06-08 23:12] robszewczyk commented on #19353
Another item is perhaps best addressed post 1.0

[2022-06-09 00:36] agners commented on #19134
@raman325

We did some investigation in that today, and the reason is that Pigweed uses Rosetta by default on M1 currently (see https://pigweed.dev/docs/faq.html#host-platforms-that-we-are-likely-to-support-in-the-future).

But pigweed got you quite far: It essentially built the whole Matter stack, and created a wheel for you. It's just that installing it using the pigweed Python/pip environment d

[2022-06-09 01:23] wxiangcheng commented on #18753
@mrcao2011 yes. If you are debugging at the same point, I suggest you checking the mDNS response for operation fabricID/nodeID from device for 1st stage because at 2nd stage device will use it do comparison otherwise it would fail.

[2022-06-09 03:42] kghost opened #19359 "Multiple case about ExchangeContext leaks"
#### Problem
* When `OnSessionReleased` is called while the exchange is in state of WillSendMessage, the `OnExchangeClosing` is triggered, but the ref count is not decreased. Will cause that exchange leak.
* In `ExchangeContext::HandleResponseTimeout` if the application doesn't close the exchange in `OnResponseTimeout` callback. it leaks.
* In `ExchangeContext::SendMessage`, if `mResponseTimeout`

[2022-06-09 05:12] manjunath-grl commented on #16554
@bzbarsky-apple issue is resolved can you please close it.

[2022-06-09 05:32] #19011 closed

[2022-06-09 06:09] pankore commented on #19039
@woody-apple can you please re-review this again.
When TH sends `./chip-tool localizationconfiguration read supported-locales 1234 0`, DUT received a read request for cluster 0x2B, attributeID 2. However, supported-locales is attributeID 1.
Similarly for `./chip-tool localizationconfiguration read active-locale 1234 0`, DUT received read request for cluster 0x2B, attributeID 1. Active-locale shoul

[2022-06-09 06:23] Rajashreekalmane commented on #18601
When it was tried in another setup, it worked fine.

[2022-06-09 06:23] #18601 closed

[2022-06-09 06:24] #18993 closed

[2022-06-09 06:34] ReneJosefsen commented on #19304
I assumed that events in general was deferred for now, but there might be something I missed?

[2022-06-09 06:54] #19163 closed

[2022-06-09 07:13] Rajashreekalmane commented on #19036
When it was tried in another setup, it worked fine.

[2022-06-09 08:46] marius-alex-tache commented on #18327
I've added a `assertChipStackLockedByCurrentThread()` call inside `ReliableMessageMgr::StartTimer`, after the lambda function
[code]
and the assert fails after receiving the first BDX message.
This is the device log:
[code]

[2022-06-09 09:02] rinelb opened #19371 "how to send data from ESP32 to controller"
Where and how to edit the "temperature-measurement-app/esp32" example for the ESP32 to send data  when the controller requests a value
or  how to make the esp32 send data to a controller continuesously, sending a string or double

after pairing , I send chip tool command>> ./chip-tool temperaturemeasurement read measured-value 0x0000000000000F00 1
the log shown below, the data feild is null

`
[16

[2022-06-09 10:50] Damian-Nordic commented on #18417
@nansenLV I don't have a RPi setup ready at the moment and on my laptop with Ubuntu 22 everything works fine. One thing I noticed is that I don't see the last message from the logs you provided:
[code]
The message is generate in response to the following signal coming from Bluez:
[code]
I also spotted that we set 0 timeout for the advertisement in the code: https://github.com/project-chip/connecte

[2022-06-09 11:14] Morozov-5F commented on #19322
@bzbarsky-apple the door lock cluster expects that the `emberAfPluginDoorLockGetUser` and such return `false` only in case when the error occurred, when the user is missing it should be specified in the `userStatus` field of the `user`. This is [outlined](https://github.com/project-chip/connectedhomeip/blob/de9e9076303a11c568d2533b3e624a96db366dae/src/app/clusters/door-lock-server/door-lock-server

[2022-06-09 12:15] Damian-Nordic commented on #19108
Looks like Andy has already add initialization of DeviceInfoProvider for all nRF Connect apps: https://github.com/project-chip/connectedhomeip/pull/18847.

[2022-06-09 12:32] sowmyassp opened #19376 "Client test-cases - The attribute value is mismatching"
**Issue** : Attribute-list value is mismatched when we read the attribute-list attribute

**Expected outcome** : Should list the mandatory attribute of respective cluster

**Actual behaviour** : It list only attribute which as conformance in spec as M of respective cluster

**For example** :
On-Off cluster - The attribute-list is read using all-clusters-app is showing 10 entries including all attr

[2022-06-09 13:01] vivien-apple commented on #19139
Do we actually supports multiple writes in a single invoke in the SDK ? I thought it was not a v1.0 thing.
@mrjerryjohns @woody-apple ?

[2022-06-09 13:06] vivien-apple commented on #14397
I would assume that this is done. It I'm wrong please reopen a separate issue with the specific parts that are missing. thanks!

[2022-06-09 13:12] AntonGrey opened #19378 "Chip-tool failure reading measured temperature."
#### Chiptool get Response Failure at reading some Temperature Measurement cluster's attributes, such as MesuredValue, MinMesuredValue, MaxMesuredValue.

 * expected behavior: Success reading temperature attributes.
 * actual behavior: Chip-tool failures at response processing with `Response Failure: Can not decode Data`
 * steps to reproduce: read any non-null Temperature attribute with a command

[2022-06-09 13:32] caipiblack commented on #15409
I can confirm that your fix solve the problem in my case (as I increment the nodeId on each commissioning even if it fails).

[2022-06-09 13:42] bzbarsky-apple commented on #19359
So actually, wait.  In the case when the exchange is waiting for a message send and the session expires, what are the intended refcount semantics?  Right now it will call OnExchangeClosing, but that does not do any releasing of the exchange.  What will release it is when the consumer tries to send the message, the message send _fails_ and the consumer then closes the exchange.  So there is no leak

[2022-06-09 13:47] caipiblack opened #19382 "kSecurePairing not reported in OnCommissioningStatusUpdate()"
#### Problem

On TE9 commit, the class `DevicePairingDelegate` define virtual methods that we can implement to notify the application about problems and steps during the commissioning.

The function `OnCommissioningStatusUpdate()` is called when each commissioning step defined in `chip::Controller::CommissioningStage` are finished except one: `kSecurePairing`

The step `kSecurePairing` have it's o

[2022-06-09 13:59] bzbarsky-apple commented on #19359
And in particular: if the exchange is waiting for a response, the refcount is held by the network stack.  The exchange can release that refcount itself.  If the exchange is waiting for a send, the refcount is held by the consumer that will do the send.  The exchange has no way to release that refcount itself without leaving dangling pointers.

[2022-06-09 14:16] lazarkov commented on #19341
hi @balloob can you please specify where can I find the matter_devices.xml?

TV Channel was renamed 6 months ago. I don't know how you're still able to find this reference

[2022-06-09 14:35] andy31415 commented on #16886
TestCluster is now a manufacturer specific extension. Let todo:
  - attributes (PR pending)
  - commands - not possible in V1 timeframe - adding a MEI for a command requires it to be available within the entire SDK due to how our codegen and dependencies work
  - events - to be investigated.

[2022-06-09 14:38] caipiblack commented on #19382
Also at the begining of the commissioning, if the device is not discoverable by BLE/WiFi/IP `OnStatusUpdate()` is called with `DevicePairingDelegate::Status::SecurePairingFailed`

But in case of success, it is not called **at the same point** with `DevicePairingDelegate::Status::SecurePairingSuccess`.

## Examples

This is how the callbacks are triggered in normal case (success):

[code]

This is

[2022-06-09 15:02] #19371 closed

[2022-06-09 15:04] bzbarsky-apple commented on #19376
These attributes are not mandatory.  They're only allowed if the LT feature is enabled.  The LT feature is not enabled in all-clusters-minimal-app, because it's a _minimal_ app that disables everything that can be disabled.

Yes, that is the intent of the minimal app.  It only includes things that are mandatory.

[2022-06-09 15:07] bzbarsky-apple commented on #19376
@raju-apple @cjandhyala @sowmyassp @dwgaul please do let me know if I'm missing something about the request in https://github.com/project-chip/connectedhomeip/issues/16851, and reopen the issue if so.

[2022-06-09 15:13] bzbarsky-apple commented on #19378
@AntonGrey I can't reproduce this issue on SHA 3fafeceff1681d01244c602584da47bd6f3bfd90 using chip-all-clusters-app as the server.

What server app are you using, and what SHA are you using for both the server app and chip-tool?

chip-tool does not attach any semantics to values.

Looking at the log, the response that comes back has "Data = 2000" as some numeric type.  When chip-tool is failing, a

[2022-06-09 15:20] bzbarsky-apple opened #19387 "Canceling timers does not work reliably in the LayerImplSelect implementation"
#### Problem
When we process timers, we grab a batch out of the list before we start calling them, and now the timers in that batch cannot be canceled.  This can lead to use-after-free.

 #### Proposed Solution
Either stop doing the batch thing and process timers one by one (maybe with a cap on how far down the list we go), or make the batch a member so that canceling can remove from the batch too

[2022-06-09 15:32] andy31415 commented on #19348
@chrisbeach59 - could you share relevant portions of the logs of what error you get when build fails?

also please edit the template to remove the boilerplate (things like `all` and `screenshots, images, logs, etc.` seem to have no meaning for this bug report).

[2022-06-09 15:40] balloob commented on #19341
It's here:
https://github.com/project-chip/connectedhomeip/blob/master/src/app/zap-templates/zcl/data-model/chip/matter-devices.xml

_Tip: You can press T on any GitHub page to search the files in the repository._

[2022-06-09 15:44] andy31415 commented on #19039
Does this happen on other platforms?
If this happens on some other platforms (I believe CSG tests nrf and rpi at least) we should validate and then it could be moved to general issue.

Regarding the spec I agree we have:
   - LocalizationConfiguration cluster id is `0x002B`
   - ActiveLocale is a mandatory string attribute with id `0x0000`
   - SupportedLocales is a mandatory list of strings with

[2022-06-09 15:47] franck-apple commented on #19039
@pankore please re-test on different platforms and update this issue with your findings. Thanks.

[2022-06-09 16:10] kpschoedel opened #19393 "Strange buffer pointers in LwIPReceiveUDPMessage on ESP32"
#### Problem

Derived from #19289 — added some pbuf logging on master and ran all-clusters-app on M5Stack (patch and sample log attached).

Every pbuf handed to `LwIPReceiveUDPMessage()` seems to have a bad `payload` pointer, outside the buffer. The pointers vary from run to run but are somewhat consistent within a run; for the same pbuf, the payload pointer is often (but not always) the same. The

[2022-06-09 16:19] andy31415 commented on #19039
Ram the following test script on nrf-nrf52840dk-light on master

[code]

Logs contained

[code]

so I believe attribute ids seem spec-compilant

[2022-06-09 16:20] AntonGrey commented on #19378
@bzbarsky-apple Thanks for explanation. I was using not an example, just our Bridge implementation.
Really, there is no issue in chip-tool.
The issue was on server side, MeasuredValue was encoded as unsigned integer.

[2022-06-09 16:20] andy31415 commented on #19039
Data also seems available: logs say:

[code]

[2022-06-09 16:34] kghost commented on #19359
These 2 statement just conflict.

[2022-06-09 17:16] kpschoedel commented on #19393
@dhrishi

[2022-06-09 17:23] bzbarsky-apple commented on #19359
OK, good point.  If the exchange is waiting for a response and a response timeout was requested, the network stack will handle closing the exchange on response timeout, unless the consumer takes action to prevent it.  The consumer will be notified when the timeout happens, so it can drop its ref to the exchange.

If the exchange is waiting on a response with no timeout allowed, the consumer needs

[2022-06-09 17:58] bzbarsky-apple commented on #19382
There are two steps here: "pairing" and "commissioning"...  The former means "establish a PASE session" and the latter is "everything after that".

But more fundamentally, there are APIs, people were trying to not break them, we added more notifications, and the result is a mess that is known to not be very good.  See existing issues on this.

See above.

Probably not but see above about people ad

[2022-06-09 18:28] bzbarsky-apple commented on #19322
@Morozov-5F Perhaps the all-clusters-app callbacks should be changed to just return all users as not there instead of false?  And similarly for credentials?

Alternately, it could return 0 for max numbers of users/credentials supported?

[2022-06-09 19:55] Morozov-5F commented on #19322
@bzbarsky-apple yeah, that's a great idea. Actually, I just realized that Linux all-clusters-app borrows the lock implementation from the Linux lock-app. Maybe we can make a minimal shared lock implementation for all-clusters-app?

[2022-06-09 20:02] bzbarsky-apple commented on #18327
Any chance of getting a stack to the assert failure?

But it sure looks like the BDX SendMessage is happening on the wrong thread...

[2022-06-09 20:07] bzbarsky-apple opened #19408 "chef stateful shell test randomly fails"
#### Problem
I've now seen a number of failures like https://github.com/project-chip/connectedhomeip/runs/6817356066?check_suite_focus=true in CI.  Retriggering the jobs typically makes them pass.

Log says:
[code]

 #### Proposed Solution
Fix the test.

@cpagravel @andy31415

[2022-06-09 20:08] chrisbeach59 commented on #19348
Unable to reproduce with core sdk build now.   Closing

[2022-06-09 20:08] #19348 closed

[2022-06-09 20:08] kpark-apple opened #19409 "M5Stack didn't receive messages over WiFi."
#### Problem

In the attached pcap log, M5stack didn't respond to the following messages (sigma1 message and retransmission). Note that those destination addresses were discovered in the commissioner.

[code]

Also note that in the same pcap log, there were no responses to neighbor solicitation messages either for the same address:

[code]

While later M5Stack responded to link local address of th

[2022-06-09 20:12] bzbarsky-apple commented on #19139
We support multiple writes in a single write request message, yes.  We do not support multiple _commands_ in a single _invoke_.

[2022-06-09 20:40] bzbarsky-apple commented on #19304
Events in general are implemented and tested.

[2022-06-09 20:50] andy31415 commented on #19304
Fixed by 19379

[2022-06-09 20:50] #19304 closed

[2022-06-09 21:00] #19316 closed

[2022-06-09 21:00] turon opened #19412 "[build] submodule sync issue in third_party/cyw30739_sdk/repos/30739A0"
#### Problem

Rebase or fresh clone top-of-tree and run `./gn_build.sh` fails with:

[code]

Perhaps the repo was renamed from https://github.com/Infineon/30739A0.git
to  https://github.com/Infineon/OT-Matter-30739A0.git but that didn't get changed in the matter submodule config?

Related issues:
https://github.com/Infineon/TARGET_CYW930739M2EVB-01.git --> https://github.com/Infineon/OT-Matter-TAR

[2022-06-09 21:09] tcarmelveilleux commented on #19393
The payload pointer may be outside the pbuf depending how it's allocated. You'd have to trace the path for incoming packets

[2022-06-09 21:14] turon commented on #19412
@hsusid

[2022-06-09 21:36] jepenven-silabs opened #19414 "[Group] [ACL] Secure Channel Test seems broken"
#### Problem
TC-SC-5.1 is failing on multiples platform ( at least EFR32 and Linux all-cluster-app).

After the ACL write, device is unable to respond to all commands. Including unicast commands.

 #### Proposed Solution
Investigate it to see why this test is failing and to narrow down if it's a test plan issue (wrong command) or a corner case in the ACL code.

[tc-sc-5.1 step 1 acl failure.txt](h

[2022-06-09 22:21] kpschoedel commented on #19393
It looks like that is the case; the incoming buffers are PBUF_REF with the payload somewhere else.

The current `PacketBuffer` code, and the LwIP receive path, fundamentally assume that the `pbuf` and payload are part of one contiguous block, and use the space in betwwn, so this isn't going to work.

[2022-06-09 22:43] franck-apple commented on #19333
As agreed, bumping this issue to cert blocker as it's a request cert blocker discovered during pre-SVE tests.

[2022-06-09 23:13] Garik098 opened #19419 "Pre SVE Testing: TC-I-3.2 step 4 giving 0x85 error for all-clusters-app on nrfconnect"
As per step 4 of TC-I-3.2, DUT sends a TriggerEffect command to the Test Harness, with any supported EffectIdentifier argument and EffectVariant set to 0 .

Sent the chip tool command - ./chip-tool identify trigger-effect 0 0 1 1

Response shows 0x85 error:
[1654816055916] [2257:2570756] CHIP: [DMG] ICR moving to [ResponseRe]
[1654816055916] [2257:2570756] CHIP: [DMG] InvokeResponseMessage =
[1654

[2022-06-09 23:53] Garik098 opened #19421 "Pre SVE Testing: TC-OO-3.1 Step 3 - Writing 64, 65, 66 values on startuponoff attribute is giving the constraint error"
As per step 3 of TC-OO-3.1, writing values 64 or 65 or 66 on startuponoff attribute is giving constraint error on chip tool.
<img width="1029" alt="Screen Shot 2022-06-09 at 4 54 29 PM" src="https://user-images.githubusercontent.com/34750871/172963720-ddbaaa7a-3c93-43ac-9e26-38b36da048a7.png">

The response for the first three (0, 1, 2) is successful but for the last three (0x40, 0x41 and 0x42) is

[2022-06-10 01:21] dwgaul opened #19426 "[darwin-framework-tool] subscribe-by-id times out even when server is responding"
subscribe-by-id looks to be implemented in Darwin-framework-tool.

Ran the following:

[code]

This appears to be successful as we do get a report from the server and responses:

[code]

However, despite continuously receiving messages (type 0x5) from the server, darwin-framework-tool eventually times out:

[code]

This behavior is not seen with darwin-framework-tool when running:

[code]
This com

[2022-06-10 01:43] hsusid commented on #19412
Try to do `git submodule sync` and then do `git submodule update`.

[2022-06-10 02:02] pankore commented on #19039
Tested on ToT's chip-tool with the same DUT firmware, got the same result as @andy31415 so it might be chip-tool's issue. Closing this issue as this is solved in ToT

[2022-06-10 02:02] #19039 closed

[2022-06-10 02:35] bzbarsky-apple commented on #19322
That would be pretty nice if we find the time, obviously, but for now we should just try to get to the point where all-clusters-app at least is not violating the spec, if we can do it easily.

[2022-06-10 02:58] bzbarsky-apple commented on #19387
Once this is fixed, the workaround for this in `FailSafeContext::FailSafeTimerExpired` can be removed, I think.

[2022-06-10 03:51] dwgaul opened #19427 "[darwin-framework-tool] timed Interactions only work with commands that have fields"
Noticed that while testing with darwin-framework-tool that timed interactions (adding --timedInteractionTimeoutMs 200) don't appear to be working with all commands. For example:

[code]
Will properly send the off command to the server, but on the server side, I do not see any `TimedRequestMessage` log lines.

However running:

[code]

Results in the actual timed request being sent to the server.

[2022-06-10 03:53] bzbarsky-apple commented on #19421
The spec for StartUpOnOff says:

That table, section "1.5.5.1. StartUpOnOffEnum" of the appclusters spec, defines the valid values of the enum to be 0, 1, 2.

Why are you trying to write 64, 65, 66 to this attribute, and why were you expecting a response different from CONSTRAINT_ERROR?  @Garik098

[2022-06-10 03:56] bzbarsky-apple commented on #19419
@Garik098 What SHA is being used?  What server application is being used?

I just tried this with ac8bdbf23b96216ed12a1f3a2981f6ee3647fffa and all-clusters-app as the server, and the command succeeds.

[2022-06-10 04:00] bzbarsky-apple commented on #19393
Oh, wow.  So the fact that it ever worked at all was basically just luck?  We were stomping on parts of the pbuf pool, but they happened to be ok to stomp on, by accident???

[2022-06-10 04:01] bzbarsky-apple commented on #19409
@dhrishi

[2022-06-10 04:14] bzbarsky-apple commented on #19414
So the relevant command is this:
[code]
That command defines the following ACLS:
1. Administer privilege over CASE for endpoint 0 only.
2. Operate privilege with group auth mode for any group for endpoint 1 only.

Then the test tries to issue a "toggle" command over CASE to endpoint 1.  That of course should fail the ACL check given the ACL above.

So the behavior of the SDK seems correct...  I do

[2022-06-10 04:16] bzbarsky-apple commented on #19426
@krypton36

[2022-06-10 04:21] bzbarsky-apple commented on #19426
Ah, found it.  The generated subscribe commands use mWait, but subscribe-by-id ignores it.  Fix coming up.

[2022-06-10 04:34] #19408 closed

[2022-06-10 04:41] bzbarsky-apple commented on #19427
This is not intended behavior.  It's a bug in the fix for #17998.  Fix coming up.

[2022-06-10 04:52] bzbarsky-apple commented on #19427
And for what it's worth, the argument was ignored for commands that don't take arguments, regardless of whether they require a timed invoke or not.

[2022-06-10 05:39] #16554 closed

[2022-06-10 06:30] rinelb commented on #19371
where is this attribute value in the temperature-measurement-app/esp32

is there any documentation that i can read regarding this?

[2022-06-10 06:34] #10515 closed

[2022-06-10 06:38] marius-alex-tache commented on #18327
Yes, sure. I will test this again today and will edit this comment.

**TODO**

[2022-06-10 07:01] bzbarsky-apple commented on #17205
That's already the case.  The comments above are not about versions.

Just to reiterate what I said in #18272:

* TC-DD-3.14 steps 3.b and 3.d probably need a new, clean issue that clearly describes the problem and points to the relevant spec sections that require the commissioner to have that behavior.
* TC-DD-3.17 step 6.b is not reasonable.  Commissioning test vendor ids, at the commissioner's

[2022-06-10 07:11] shah-kartik opened #19444 ""abort() was called at PC 0x400df2e9 on core 0" on M5 while adding it to iOS home app"
abort() was called at PC 0x400df2e9 on core 0
0x400df2e9: chip::SessionHolder::Get() const at /Users/apple/connectedhomeip/src/lib/support/CodeUtils.h:489
 (inlined by) chip::Optional<chip::ReferenceCountedHandle<chip::Transport::Session> >::Value() const & at /Users/apple/connectedhomeip/src/lib/core/Optional.h:171
 (inlined by) chip::SessionHolder::Get() const at /Users/apple/connectedhomeip/src

[2022-06-10 07:13] bzbarsky-apple commented on #18532
This cluster is mandatory for all devices.

That said, devices are allowed to support only one keyset per fabric (for the IPK) if they don't implement the Groups cluster.  And locks are absolutely allowed (and in fact strongly encouraged not to) implement the Groups cluster.  So doing that keyset write is absolutely allowed to fail for a lock, just not with UNSUPPORTED_CLUSTER.

[2022-06-10 07:34] nahidakbar opened #19445 "Matter Specification"
I am sold on the promise and am very very very interested in using this for a few personal projects.

How does one get their hands on the matter specification? There is a lot of marketing saying its all open but I can't find any downloadable document. Do I have to read code?

[2022-06-10 09:56] PSONALl opened #19446 "[pre-sve] TC-SC-4.3 TH is doesnot start advertising a service using DNS-SD"
#### Problem
In test case SC-4.3 step 3:

 * expected behavior
         - TH is instructed to start advertising a service using DNS-SD and using only the TXT records defined in section of the matter spec
 * actual behavior
         - TH doesn't start advertising service over dns-sd

 * system configuration
        -  DUT used : ESP32
        -  app use: all-clusters-app
        - chip-tool and DUT

[2022-06-10 10:05] Rajashreekalmane opened #19447 "[TC-WNCV-2.4]-TH fails to read Type attribute from DUT based on FeatureMap value."
#### Problem
As per Test-Plan, if PA_LF and PA_TL Feature is supported in Window Covering Cluster, if TH try to read Type attribute
from DUT based on FeatureMap value currently TH reads 0 instead of set to 6 or 8 while the device supports  PA_LF and PA_TL.

 * **expected behavior:-**TH should read type atrribute value as 6 or 8
 * **actual behavior:-** TH reading type atrribute value as 0
 * **ste

[2022-06-10 10:06] mkleszcz-no commented on #19054
I have exactly the same problem on nRF.
chip-tool and DUT commit id : 5d8599d (pre-sve SHA)

Logs:
[TC_I_2_2_nRF.log](https://github.com/project-chip/connectedhomeip/files/8877909/TC_I_2_2_nRF.log)
[TC_I_2_2_nRF_DUT.log](https://github.com/project-chip/connectedhomeip/files/8877911/TC_I_2_2_nRF_DUT.log)

[2022-06-10 10:09] PSONALl opened #19448 "[pre-sve] Write on label-list attribute of user-label cluster fails"
#### Problem
In User Label Cluster Test case: ULABEL-2.4 step 1
 * expected behavior
   - TH writes LabelList attribute of the DUT with entry as following: "room":"bedroom 1","orientation":"east" " and returns success
 * actual behavior
    - TH returns an error: 0x01 (FAILURE)
    - read after write returns a empty list

 * system configuration
        -  DUT used: ESP32
        -  app use: all-c

[2022-06-10 10:15] caipiblack commented on #16178
I understand, this problem has been reported in many and many issues, all the answers converge towards the same direction: it is necessary to deactivate the wifi probably to reduce the risk of a packet loss due to WiFi/Bluetooth co-existance.

If the problem is really due to a packet loss then it means that the protocol/stack is possibly not robust against this.

This error is one of the most freq

[2022-06-10 10:21] manjunath-grl commented on #16661
This issue was created by me using a account that i had to delete due to access issues, I will continue to follow these issues with my current id.

[2022-06-10 10:36] caipiblack commented on #19382
I think, having some mechanisms to be notified about commissioning steps is a good idea for those (like us) building controller apps. It can be used to display the commissioning progress to the user (with progress circle, checks ..)

But currently we can't only use `OnCommissioningStatusUpdate()` because the step `kSecurePairing` is not reported. So we have to use `OnStatusUpdate()` to be notified

[2022-06-10 10:36] #19382 closed

[2022-06-10 10:55] PSONALl opened #19450 "[pre-sve] write on active-calendar-type attribute of Time Format Localization cluster fails"
#### Problem
In testcase TFL-2.2 step 8
 * expected behavior
     - TH writes 0 to ActiveCalendarType attribute and write request is successful with status code 0x00
 * actual behavior
     -  write fails with General error: 0x87 (CONSTRAINT_ERROR)

 * system configuration
          -  DUT used : ESP32
        -  app use: all-clusters-app
        - chip-tool and DUT commit id : 425f1fb916ca154deeb

[2022-06-10 11:14] PSONALl opened #19451 "[pre-sve] TC-DD-3.1 "PASE Session Established" logs are missing during commissioning"
#### Problem
In DD-3.1 step 2
 * expected behavior
       - during PASE session we must:

CHIP:SC: Received PBKDF param request
CHIP:SC: Peer assigned session ID 18450
CHIP:SC: Found MRP parameters in the message
CHIP:SC: Including MRP parameters in PBKDF param response
CHIP:EM: Piggybacking Ack for MessageCounter:850320430 on exchange: 63762r
CHIP:IN: Prepared unauthenticated message 0xaaaaad3405

[2022-06-10 11:38] PSONALl opened #19452 "[pre-sve] DGSW-2.2 Implementation for event handler of Software Diagnostics events is missing"
#### Problem
In Test case DGSW-2
 * expected behavior
       - DUT sends an event report to TH. TH reads a list of SoftwareFault struct from DUT.
 * actual behavior
       - No Event Report is sent

 * system configuration
           -  DUT used : ESP32
        -  app use: all-clusters-app
        - chip-tool and DUT commit id : 425f1fb916ca154deeb75cd82cd5196778aba152 (pre-sve SHA)
 *  logs

[2022-06-10 11:48] PSONALl opened #19454 "[pre-sve] TC-DGSW-2.3 step 1 resetwatermarks command of software diagnostics cluster fails"
#### Problem
In TC_DGSW-2.3 step 1
 * expected behavior
      - TH sends ResetWatermarks to DUT and Upon DUT’s reception of this command, DUT will reset StackFreeMinimum of ThreadMetrics attribute to StackFreeCurrent and reset CurrentHeapHighWatermark attribute to CurrentHeapUsed attribute.
 * actual behavior
        - command fails with General error: 0x01 (FAILURE)

 * system configuration

[2022-06-10 12:04] PSONALl opened #19455 "[pre-sve] After bringing DUT into a state so that StateValue is TRUE, the value is not reflected in state attribute of Boolean State Cluster"
#### Problem
In TC-BOOL-2.2 in step 4d and 4e:
 * expected behavior
      - After manually bringing DUT into a state so that StateValue is TRUE when we read state attribute it should be true
 * actual behavior
      - there is no change in state

 * system configuration
          -  DUT used : ESP32
        -  app use: all-clusters-app
        - chip-tool and DUT commit id : 425f1fb916ca154deeb75c

[2022-06-10 12:29] #19167 closed

[2022-06-10 12:29] #19170 closed

[2022-06-10 12:30] #19177 closed

[2022-06-10 12:42] PSONALl opened #19456 "[pre-sve] We cant set UserCanConsent option at run time so TC-SU-2.3 fails"
#### Problem
 * expected behavior
       - DUT should obtain user consent before transferring the image.
 * actual behavior
       - there is no option to obtain user consent at run-time

 * system configuration
        -  DUT used : ESP32
        -  app use: all-clusters-app
        - chip-tool and DUT commit id : 425f1fb916ca154deeb75cd82cd5196778aba152 (pre-sve SHA)

 * logs:
         - chip-to

[2022-06-10 12:51] PSONALl opened #19458 "[pre-sve] There is no option on OTA-Provider to change and populate action field in runTime"
#### Problem
In TC-SU-3.4 step
 * expected behavior
      - In step 1 and step 2 we must be able to set Action field to values like Proceed or AwaitNextAction in run time and Verify if the action field is  populated correctly.

 * actual behavior
    -  action field is not populated correctly and always shows value 2

 * system configuration
         -  DUT used : ESP32
        -  app use: all-clu

[2022-06-10 12:58] yinyihu-silabs opened #19459 "[pre-sve] commissioning fail"
#### Problem
Commissioning failed over Thread and WiFi

 #### System Configuration

DUT: EFR32
App: lighting/window/lock/light-swithc
SDK SHA: https://github.com/project-chip/connectedhomeip/commit/5d8599d195a93dfe5473f64e4f888c322e5df1d2

 ####  Logs
[pre-sve wk 2 commissioning fail - thread.txt](https://github.com/project-chip/connectedhomeip/files/8878956/pre-sve.wk.2.commissioning.fail.-.threa

[2022-06-10 13:08] #16443 closed

[2022-06-10 13:46] mkleszcz-no opened #19462 "[pre-sve] TC-TSTAT-1.1 Not available mandatory command"
all-cluster-app
nrf52840dk
revison: https://github.com/project-chip/connectedhomeip/commit/5d8599d195a93dfe5473f64e4f888c322e5df1d2

DUT has feature map 43 (101011) which means PICS_TSTAT_HEAT, PICS_TSTAT_COOL, PICS_TSTAT_SCH, PICS_TSTAT_AUTO.
Based on that information accepted command list should support commands 0, 1,2,3 (similar issue: https://github.com/project-chip/connectedhomeip/issues/1915

[2022-06-10 14:12] bzbarsky-apple commented on #19444
@shah-kartik What SHA was used here?  Knowing that is pretty important in terms of diagnosing the problem...  Clearly we are trying to report a ReadHandler whose underlying secure session has gone away, but the reasons secure sessions can go away have changed over time, so this may or may not still be an issue on tip, and the fix needed may be different depending on the situation.

[2022-06-10 14:15] bzbarsky-apple commented on #19445
@clapre could you please point @nahidakbar to the right process for getting the spec?

[2022-06-10 14:15] jepenven-silabs commented on #19414
@bzbarsky-apple Seems like the issue is more test plan related in that case. Moving issues to the test-plan repo and closing this one for now.

https://github.com/CHIP-Specifications/chip-test-plans/issues/1452
https://github.com/CHIP-Specifications/chip-test-plans/issues/1453

[2022-06-10 14:15] #19414 closed

[2022-06-10 14:18] kpschoedel commented on #19393
I think the reason it ‘works’ is that LwIP reads the whole low-level frame into a buffer, and then consumes up through the IP header, and returns a payload pointer to that point. So when the code reuses that space, by accessing it _relative to the payload pointer_, it works. #19244 tried accessing it relative to the header, and crashed.

`EnsureReservedSize()` always claims success, because `Reser

[2022-06-10 14:28] bzbarsky-apple commented on #19446
We can certainly add `enableServerInteractions` to chip-tool so it advertises...  But I would guess that in practice the TH here would not be chip-tool but rather one of the test apps, right?

That said, this specific test plan makes no sense to me.  I filed https://github.com/CHIP-Specifications/chip-test-plans/issues/1454 on that.

[2022-06-10 14:30] kpschoedel commented on #19387
It can't, because in the Select implementation a timer callback that re-adds itself with immediate effect (e.g. using `System::Layer::ScheduleWork()`, not to be confused with `PlatformMgr::ScheduleWork()`) will steal all the execution slots. Probably have to use the cancel-from-batch method.

[2022-06-10 14:32] bzbarsky-apple commented on #19447
Thank you for including the commit id!

This was fixed in https://github.com/project-chip/connectedhomeip/pull/19311, which post-dates that commit id.

[2022-06-10 14:32] bzbarsky-apple commented on #19447
Duplicate of https://github.com/project-chip/connectedhomeip/issues/19163

[2022-06-10 14:32] #19447 closed

[2022-06-10 14:36] bzbarsky-apple commented on #19448
I believe this was fixed by https://github.com/project-chip/connectedhomeip/pull/18236, which post-dates the pre-sve SHA by a day or so.  @PSONALl are you in a position to verify that on tip?

[2022-06-10 14:37] bzbarsky-apple commented on #19450
I believe this was fixed by https://github.com/project-chip/connectedhomeip/pull/18236, which post-dates the pre-sve SHA by a day or so. @PSONALl are you in a position to verify that on tip?

[2022-06-10 14:46] bzbarsky-apple commented on #19451
We can't force a DUT to have any particular logs, I would think.  The fact that the PASE session is established is indicated by the fact that we can send commands on it....

That said, on the chip-tool side we do in fact log:
[code]
to indicate successful PASE session establishment.  We could change that "Pairing Success" log to something that mentions PASE if that would be useful; that's what tha

[2022-06-10 14:50] bzbarsky-apple commented on #19454
Thank you for including the SHA!

This was fixed in https://github.com/project-chip/connectedhomeip/pull/19195 by making sure the WT feature is only enabled when watermarks are in fact supported.

[2022-06-10 14:52] bzbarsky-apple commented on #19455
@PSONALl What steps were used to "manually bring DUT into a state so that StateValue is TRUE"?  I am guessing those steps are not right, but it's hard to say without knowing what they were.

[2022-06-10 14:57] bzbarsky-apple commented on #19462
I don't think #19158 was resolved correctly.  The whole point is we need to set up thermostat cluster in all-clusters-app in a way that is spec-compliant.  That means either not having it at all, or disabling features it does not support, or implementing those features correctly.

[2022-06-10 15:00] clapre commented on #19445
@nahidakbar specifications that are in draft status are only shared with Participant-level members. It is final versions of specifications that are shared more widely.
Please reach out to me if you wish to join. Thanks.

[2022-06-10 15:23] mkleszcz-no opened #19468 "[pre-sve] TC-TSTAT-2.2 Write for Thermostat cluster command in correct range returns constraint error , if performed after write above max"
all-cluster-app
nrf52840dk
revison: https://github.com/project-chip/connectedhomeip/commit/5d8599d195a93dfe5473f64e4f888c322e5df1d2

Step 2c:
Write command should succeed without an error - it returns CONSTRAINT_ERROR.
It doesn't matter, if THC tries to write OccupiedCoolingSetpoint below the MinCoolSetpointLimit or above the MaxCoolSetpointLimit in the previous step (2b)

logs:
[TC_TSTAT_2_2_nRF.

[2022-06-10 15:24] #19426 closed

[2022-06-10 15:39] #19228 closed

[2022-06-10 15:41] vivien-apple commented on #14404
I checked with @tcarmelveilleux what needs to be done. I will do it in a separate PR as it is a bit more involved than the previous cases.

[2022-06-10 15:44] bzbarsky-apple commented on #19468
@mkleszcz-no This is not actionable as filed.  The harness log has all the bits about what it's actually sending the to DUT stripped out, and the DUT has verbose logging disabled so does not show what it received from the harness.

The operating assumption is that the harness is in fact sending an invalid value to the DUT, because some test script is broken.

Please attach complete logs when reope

[2022-06-10 15:44] #19468 closed

[2022-06-10 15:49] bzbarsky-apple commented on #19468
That said, if this bit in the log:
[code]
is showing the values currrently set on the server, and in step 2c we are to set OccupiedCoolingSetpoint to 1600 (the min cool setpoint limit), then given that all-clusters-app supports AUTO I expect the problem is that 1600 is below what OccupiedHeatingSetpoint is set to (2200), which is not allowed per spec.

[2022-06-10 15:53] bzbarsky-apple commented on #19468
Filed https://github.com/CHIP-Specifications/chip-test-plans/issues/1456 on the test plan.

[2022-06-10 16:00] #19427 closed

[2022-06-10 16:19] franck-apple commented on #19446
Bumping this issue to cert blocker as it's a request cert blocker discovered during pre-SVE tests.

[2022-06-10 16:20] franck-apple commented on #19452
Bumping this issue to cert blocker as it's a request cert blocker discovered during pre-SVE tests.

[2022-06-10 16:21] franck-apple commented on #19455
Bumping this issue to cert blocker as it's a request cert blocker discovered during pre-SVE tests.

[2022-06-10 16:22] franck-apple commented on #19456
Bumping this issue to cert blocker as it's a request cert blocker discovered during pre-SVE tests.

[2022-06-10 16:23] franck-apple commented on #19458
Bumping this issue to cert blocker as it's a request cert blocker discovered during pre-SVE tests.

[2022-06-10 16:30] krypton36 opened #19471 "Objective-C Framework: We need a way to cancel subscriptions for specific attributes."
#### Problem
It currently is possible to subscribe to attributes in the Objective-C framework, but currently there is not way to cancel the subscription. We need an API that will allow for cancellation of the targeted subscription. Once this API is added, we will need to add it to out cleanup.

Additional Suggestion: Add an additional API to cancel all subscriptions. For example, a user subscripts

[2022-06-10 16:40] bzbarsky-apple commented on #19419
From reporter: this was tested on 5d8599d195a93dfe5473f64e4f888c322e5df1d2 with all-clusters-app on an nrfconnect board.

`git grep Identify examples/all-clusters-app | grep nrfconnect` comes up empty, unlike `git grep Identify examples/all-clusters-app | grep linux`; the latter shows an `Identify` instance being set up and callbacks for it and whatnot.

Sounds like the nrfconnect version needs to

[2022-06-10 16:49] vinay-apple opened #19472 "M5stack pairing on iOS sometimes causes panic reboot - abort() was called at PC 0x400df2e9 on core 1"
#### Problem

M5stack pairing on iOS sometimes causes panic reboot - abort() was called at PC 0x400df2e9 on core 0

SHA: cfc35951be66a664a6efdadea56d1b8ea6e63e96

Steps:

1. Bring up M5stack board with above SHA and pair with iOS Home app and see that it causes M5 board to reboot with below error

abort() was called at PC 0x400df2e9 on core 1
0x400df2e9: chip::SessionHolder::Get() const at /Users/

[2022-06-10 17:10] bzbarsky-apple commented on #19471
The specific-attribute APIs currently use SDK APIs that do not allow canceling the subscription....

[2022-06-10 17:11] Garik098 commented on #19421
I agree with the statement. Sorry got confused between onoff value and startuponoff values. Looks like onoff supports the 64,65,66 while startuponoff only supports 0,1,2. May be we should change the command in the verification steps document as it asks to check in the latter values. Closing the ticket.

[2022-06-10 17:11] #19421 closed

[2022-06-10 17:23] bzbarsky-apple commented on #19444
Duplicate of #19472

[2022-06-10 17:23] #19444 closed

[2022-06-10 17:26] krypton36 opened #19475 "When entering 'y' in UserPromt, the comparison is not successful."
#### Problem
When entering y in the UserPrompt the comparison is not successful, because it was converted to CharSpan and what is being compared is the entire buffer in data(), when it contains garbage on purpose.

 #### Proposed Solution
Convert the CharSpan to a C++ string using the correct size and do the comparison.

[2022-06-10 17:42] bzbarsky-apple commented on #19472
Looks like the same thing as https://github.com/project-chip/connectedhomeip/issues/19444 but this has SHA information, thank you!

Looking at "[M5-crashing-reboot-while-pairing.txt](https://github.com/project-chip/connectedhomeip/files/8880604/M5-crashing-reboot-while-pairing.txt)" I see:
[code]
Note that this is the same peer.  And on that SHA (but also on tip, I guess), `PairingSession::Activat

[2022-06-10 17:42] #19472 closed

[2022-06-10 18:04] bzbarsky-apple commented on #16035
No longer relevant after #19277 because now we can in fact have a null operational key, as long as the keystore has a key.

[2022-06-10 18:04] #16035 closed

[2022-06-10 18:21] andy31415 commented on #19455
assigning to PSONALI for adding addiontal info: please describe all steps to reproduce the issue. Specifically here we are missing at least the how to "manually bringing DUT into a state so that StateValue is TRUE "

[2022-06-10 18:22] andy31415 commented on #19455
Also please add how the `read attribute` is done (what attribute, what command, what endpoint...).

[2022-06-10 19:33] bzbarsky-apple commented on #19151
asTypedLiteral is broken for strings, but it's broken in the same way for chip-tool, fwiw...  `notValue` constraints for strings only work if the `notValue` points to a variable.

[2022-06-10 19:54] bzbarsky-apple commented on #19371
Ideally the cluster would have documentation.

If it does not have anything else defined, presumably the generic attribute accessors should work here.  See `zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h`.  Just make sure to call those from the Matter event loop or while holding the Matter stack lock.

Documentation is in a bad spot and a lot of it still needs to be creat

[2022-06-10 20:02] bzbarsky-apple commented on #19387
Ah, and the FreeRTOS setup does not have that problem?

[2022-06-10 20:14] bzbarsky-apple commented on #12680
So the current state of things here, compared to when the issue was filed, is:

1. The MRP params used will be whatever the device advertises.  Backoff is now implemented.
2. `kSigma_Response_Timeout` is set to 30s, since #11435.
3. `kSessionEstablishmentTimeout` is now 40s.
4. Important: Per-command timeouts during commissioning are now at least 30s, so the crypto that happens there has time to h

[2022-06-10 20:17] #19459 closed

[2022-06-10 20:21] dwgaul opened #19481 "[nRF52840-DK] low power sleep command on all-clusters-app crashes"
Ran the following command against the all-clusters-app on my nordic board:

[code]

Seeing the following lines in mini com:

[code]

Not sure how critical this is, as we are testing media cluster tests against a nordic board mainly to cover thread transport.

[2022-06-10 20:27] bzbarsky-apple commented on #19421
OnOff is readonly, so writing to OnOff should just fail no matter what....

[2022-06-10 20:39] kpschoedel commented on #19393
That may be so, though I don't know LwIP internals. (I speculate that it may be using the separate-payload model because some hardware may make a page-aligned payload advantageous.)

Yes, @tcarmelveilleux suggested similar in #17213. But I naïvely thought that just fixing the alignment would be enough for now…

If the reserve concept doesn't get ripped out entirely (which would definitely simplify

[2022-06-10 20:50] #19007 closed

[2022-06-10 20:52] kpschoedel commented on #19387
On FreeRTOS, `ScheduleWork` uses the recent `ScheduleLambda<>()`, which percolates through to `PlatformMgr().PostEvent()`, rather than the timer queue. In the Select version, it's approximately `StartTimer(0, …)`.

I don't know why the Select version doesn't use `ScheduleLambda`, but I seem to remember that originally only existed on LwIP platforms, so that might be the only reason. @kghost

[2022-06-10 20:56] #19475 closed

[2022-06-10 21:15] kpschoedel commented on #19387
It turns out there's another subtlety with the Select implementation and being able to Cancel from the expired timers.  Suppose timers A and B expire, and A's callback wants to schedule B. This cancels B from the expired timer list and re-adds it to the main list, so it doesn't execute in the current batch. This can happen forever.

For `StartTimer()`, the cancel/re-add behaviour is documented in

[2022-06-10 21:16] kpark-apple opened #19484 "Too long TTL for SRP Update of commissionable node"
#### Problem
It seems that Thread commissionable node SRP is updated using default TTL (1 hour I think).
Such a long TTL could cause an issue in next pairing.
Let's say a Thread node opened commissioning window in the Thread network.
It will update SRP with the long TTL.
And then, if user removes the node, power cycles it and attempt to commission the node again, the commissioner may find the matc

[2022-06-10 22:39] yunhanw-google opened #19485 "Add onResubscriptionAttemptedCb support in Darwin"
#### Problem
https://github.com/project-chip/connectedhomeip/pull/19196 added onResubscriptionAttemptedCb in c++ and python, we also need to add the corresponding support in Darwin.

[2022-06-10 22:39] nahidakbar commented on #19445
@clapre @bzbarsky-apple thanks for response.

I wasn't planning to spend 20k usd to become a participant level member. It's a bit beyond my weekend tinkering budget.

Is there an ETA on when the specs will be public?

[2022-06-10 22:40] yunhanw-google opened #19486 "[JAVA] need to add onResubscriptionAttemptedCb support in Android"
Problem
https://github.com/project-chip/connectedhomeip/pull/19196 added onResubscriptionAttemptedCb in c++ and python, we also need to add the corresponding support in Android.

[2022-06-11 00:07] turon opened #19489 "[crypto] CSR Subject is incorrect (O=CSR should be O=CSA)"
#### Problem
The specification mandates the CSR subject be "CSA".  However, the SDK is setting the subject to "CSR".

See some example instances here:
- https://github.com/project-chip/connectedhomeip/blob/f7a321da9953d13cb1783ac80c6c7463e538c919/src/crypto/CHIPCryptoPALOpenSSL.cpp#L1148
- https://github.com/project-chip/connectedhomeip/blob/f7a321da9953d13cb1783ac80c6c7463e538c919/src/crypto/CHIP

[2022-06-11 00:09] turon commented on #19489
False alarm.  The specification actually states "Note that the subject field MAY be any value."

It was the test vector that threw me off.

[2022-06-11 00:09] #19489 closed

[2022-06-11 01:14] phonnakasturi-apple opened #19490 "Scan network command throws (UNSUPPORTED_COMMAND) error with darwin-framework-tool + chiptool"
With SHA 5d8599d195a93dfe5473f64e4f888c322e5df1d2

**Test case [TC-DM-4.20] [WiFi] Verification for commands check [DUT-Commissioner]**

The test step where DUT sends the ScanNetwork command to the TH throws  (UNSUPPORTED_COMMAND) error with darwin-framework-tool

Attaching the logs;

[TC-DM-4.20_logs.txt](https://github.com/project-chip/connectedhomeip/files/8882854/TC-DM-4.20_logs.txt)

[2022-06-11 02:58] bzbarsky-apple commented on #19393
I think we use it quite a bit on the save path to pre-reserve space for our headers....

Yes, that would make a lot of sense.

[2022-06-11 03:15] bzbarsky-apple commented on #18327
That's very useful, thank you!

The line numbers don't exactly match up with my `examples/lighting-app/nxp/k32w/k32w0/main/AppTask.cpp` on revision 287e47a0ee636bf47aa84f4043d0f6ef141eef71, in that what I see is:
[code]
What does line 244 of `AppTask.cpp` look like in your case?

But I do see calls to `FetchNextData` in `src/platform/nxp/k32w/k32w0/OTAImageProcessorImpl.cpp`.  It calls `FetchNextD

[2022-06-11 03:41] bzbarsky-apple commented on #18327
Creatd https://github.com/project-chip/connectedhomeip/pull/19493 for adding those send/receive asserts.

[2022-06-11 03:48] bzbarsky-apple commented on #19481
Code is forgetting to actually return on error and hence ending up with a null-deref.  PR coming up.

[2022-06-11 03:58] bzbarsky-apple commented on #19481
With https://github.com/project-chip/connectedhomeip/pull/19494 the command will respond with Failure, but not crash.

[2022-06-11 04:00] bzbarsky-apple commented on #19484
@kpark-apple Is this basically the same as https://github.com/project-chip/connectedhomeip/issues/16858 ?

[2022-06-11 04:02] bzbarsky-apple commented on #16858
@andreilitvin Do we have a way to set the TTL with minmdns?

@kkasperczyk-no do you know what the `OpenThread/DnssdImpl.cpp` code ends up doing for TTLs?

[2022-06-11 04:06] bzbarsky-apple commented on #19490
@phonnakasturi-apple What is the server app involved?  Please always include the following in issues:

* The SHA (this issue has that)
* The client app (this issue has that)
* The serve app and what platform it's running on (missing)
* Logs for both sides (has client log, but not server log).

[2022-06-11 04:12] bzbarsky-apple commented on #19490
If I had to guess: the server is something like all-clusters-app running on MacOS...

Our of curiosity, @phonnakasturi-apple, what does this return:
[code]
?  I expect it comes back empty....

[2022-06-11 04:14] #19129 closed

[2022-06-11 04:39] clapre commented on #19445
@nahidakbar I would think that as a tinkerer the open-source reference implementation would be more useful, and the specs are really for making compliant products?
The specification is on track to be finalized in the fall.

[2022-06-11 12:47] kpark-apple commented on #19484
Yes, it is. Thank you. Closing this one.

[2022-06-11 12:47] #19484 closed

[2022-06-11 13:37] dhrishi commented on #19409
Thanks! We will take a look
cc @shubhamdp

[2022-06-12 00:23] mrjerryjohns opened #19495 "Make `SessionHolder` a true weak-reference"
#### Problem

`SessionHolder` behaves today as **both** a strong reference to a session (i.e an instance of a holder will prevent the de-allocation of a referenced session) as well as a weak reference to a session (i.e an instance of a holder will NOT prevent the de-allocation of a referenced session).

It switches between these two modalities depending on whether it is referencing an Unauthentica

[2022-06-12 06:33] #11531 closed

[2022-06-12 23:07] likidu opened #19499 "Commissioning over BLE from macOS Venture for ESP32C3 not working"
#### Problem
I was trying to test with the example on ESP32C3 following this README: https://github.com/project-chip/connectedhomeip/tree/master/examples/all-clusters-minimal-app/esp32#commissioning-and-cluster-control

I can build and run the application okay. When I trying to use `chip-tool` to commission a device, it runs without errors but obviously the board does not connect to the WiFi.

I t

[2022-06-13 06:24] kkasperczyk-no commented on #16858
@bzbarsky-apple OpenThread implementation uses default service lease intervals compatible with the SRP RFC, so 2 hours.

There is an API that allows to set different lease value: https://github.com/project-chip/connectedhomeip/blob/master/src/include/platform/ThreadStackManager.h#L287 (currently it's set to 0, what means use the default). It is worth to mention that in SRP the server (Thread Borde

[2022-06-13 06:25] rinelb commented on #19371
thanks for the feedback , much appropriated!! will work on that
Lol thats how it is with most documentations

[2022-06-13 06:27] PSONALl commented on #18942
@cjandhyala I have attached the correct logs now, please check.

[2022-06-13 06:36] kkasperczyk-no commented on #16858
Btw. I think the only case that we would end with stale data (at least for Thread) is disconnecting the device. In case of re-opening the commissioning window and generating new commissionable service, the old one is removed: https://github.com/project-chip/connectedhomeip/blob/master/src/app/server/Dnssd.cpp#L439 and the same situation applies to the device reboot.

[2022-06-13 06:42] mrcao2011 opened #19508 "iOS implicit instantiation of undefined template 'std::string'"
#### Problem

run in real iphone is ok，but when run in  iOS simulator，have a error:
/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator15.0.sdk/usr/include/c++/v1/bitset:983:16: implicit instantiation of undefined template 'std::string'

[2022-06-13 06:45] gjc13 commented on #19393
I checked how `IPPacketInfo` class is used in `UDPEndPointImplLwIP.cpp`. The packet info is copied in `UDPEndPointImplLwIP::HandleDataReceived`.

We can modify the signature to `void HandleDataReceived(chip::System::PacketBufferHandle && aBuffer, const PacketInfo &aPacketInfo);` and pass the packet info explicitly in the lambda.

Code will be like:

[code]

Will this eliminate the need to access t

[2022-06-13 07:14] tima-q commented on #19054
@woody-apple could this reviewed by TSG again given 2 platforms (one FreeRTOS, other Zephyr based) have this issue ? The code seems to re-use code generic timer code that's also used in other clusters, but there might be some detail missing I don't fully grasp.
`chip::DeviceLayer::SystemLayer().StartTimer`

[2022-06-13 07:40] shubhamdp commented on #14228
Tested on lighting-app/esp32 and works fine for me on commit:c1e1d018820c0fdd51f124f607b9207f31fae2ff

[2022-06-13 09:08] PSONALl commented on #19451
right, so should the test cases in chip-test-plan be updated accordingly?

[2022-06-13 09:23] PSONALl opened #19516 "[pre-sve] reset-watermarks command of software diagnostic cluster fails"
#### Problem
In TC-DGSW-2.3
 * expected behavior
        - TH sends ResetWatermarks to DUT and DUT’s reception of this command, DUT will reset StackFreeMinimum of ThreadMetrics attribute to StackFreeCurrent and reset CurrentHeapHighWatermark attribute to CurrentHeapUsed attribute.
 * actual behavior
       - Reset watermark command fails General error: 0x01 (FAILURE)
 * system configuration

[2022-06-13 09:31] jlatusek opened #19517 "Bootstrap script not work"
#### Problem
After calling `source scripts/bootstrap.sh ` in devcontainer I've got:
[code]

 #### Proposed Solution
Remove `"sample_app_util/test_zap_file_parser.py"` from `sources` list in `examples/chef/BUILD.gn` file. It seems to be duplicated in the `tests` list.

Related to  #19087

[2022-06-13 09:34] mkleszcz-no commented on #19468
@bzbarsky-apple

Thank you for your note about AUTO mode feature, it was my fault that I didn't see it before.
However I tried to run this test again bearing this in mind and I found another issue.

In accordance with spec:
`• MinCoolSetpointLimit <= OccupiedCoolingSetpoint <= MaxCoolSetpointLimit`

What's more if AUTO:
`• OccupiedHeatingSetpoint <= (OccupiedCoolingSetpoint - MinSetpointDeadBand)`

[2022-06-13 09:38] HubertHugo opened #19518 "[Pre-SVE] TC-SU 2.2 step 4 -t does not make DUT wait when updateAvailable"
platform: nRF52840
all-clusters-app
SHA: 5d8599d195a93dfe5473f64e4f888c322e5df1d2
In test 2.2 step 4 running OTA with command:
[code]
and announcing does not make DUT wait for update. It starts updating right after announcing.

[2022-06-13 10:11] manjunath-grl commented on #19150
@bzbarsky-apple @franck-apple tried in TOT its passing
1. SHA used: c1e1d018820c0fdd51f124f607b9207f31fae2ff
2. Client app: Tv-app
3. Server app: Chip-tool
[TC_MC_1_3.zip](https://github.com/project-chip/connectedhomeip/files/8890129/TC_MC_1_3.zip)

[2022-06-13 10:11] #19150 closed

[2022-06-13 10:59] marius-alex-tache commented on #18327
I've just wrapped the `AppTask::TriggerNewRequestForData` call within lock/unlock chip stack calls:
[code]
I confirm that the `assertChipStackLockedByCurrentThread` added inside `ReliableMessageMgr::StartTimer` passes and I no longer have issues with reading attributes during OTA block transfers. Thank you for your help!

[2022-06-13 11:09] shubhamdp opened #19521 "Bound switch failed to connect with Light after only Light was rebooted"
#### Problem
### Environment:
* Commit : c1e1d018820c0fdd51f124f607b9207f31fae2ff
* Light : examples/lighting-app/esp32
* Switch : examples/light-switch-app/esp32

### Steps to reproduce:
[code]
* On Switch command line try `matter switch onoff on` and `matter switch onoff off` commands to control the Light.
* Reboot the Light and try the on/off commands again

### Expected behavior
* Switch shoul

[2022-06-13 11:16] shubhamdp commented on #19521
@bzbarsky-apple @tcarmelveilleux is this expected? If yes, then how can we fix this?

[2022-06-13 12:03] mkleszcz-no opened #19524 "[pre-sve] DGSW-2.3 reset-watermarks command is supported while FeatureMap = 0"
all-cluster-app
nrf52840dk
revison: https://github.com/project-chip/connectedhomeip/commit/5d8599d195a93dfe5473f64e4f888c322e5df1d2

#### Problem
Step 2a
It needs to be decided if we want to support reset-watermarks command.
Now FeatureMap = 0, therefore we shouldn't support reset-watermarks command (expected outcome ex. "unsupported_command")- now it returns failure.
The remaining steps in the te

[2022-06-13 12:42] #15991 closed

[2022-06-13 13:56] #19517 closed

[2022-06-13 13:56] #19419 closed

[2022-06-13 14:08] bluebin14 opened #19529 "chip-tool: do not enforce triple quoting of custom arguments"
#### Problem
The following sends 4 bytes of octstr to the device:
`./chip-tool any write-by-id 0x130AFC01 0x130A0001 '"hex:05025555"' 12344321 1 `

The following sends a value of null to the device. No warning that parsing failed and no error either in the output.
`./chip-tool any write-by-id 0x130AFC01 0x130A0001 hex:05025555 12344321 1 `

 #### Proposed Solution
Triple quoting should not be requ

[2022-06-13 14:10] ktaylor-meus commented on #12680
The fixes mentioned above did take care of most of our issues (as mentioned above).

The last issue was the time it takes our CPU to do the ECC calculations.  We finally got the go-ahead from our management to add a ECC chip to do those, so no problems remain.

This can be closed.  I don’t see right off how to do that (I’m new to github), so hopefully some else has access to close it.
Thanks for t

[2022-06-13 14:45] andy31415 commented on #19452
SoftwareFault event conformance is optional.

While this is useful for testing, I am unsure if this should block cert: event generation is up to the individual device implementation, software fault event generation is optional.

[2022-06-13 15:12] andy31415 commented on #19213
@chrisbeach59 - is this fixed in ToT?

I would like to close it if it is gone in master (Boris seems to indicate that this may work on 55ab764).

[2022-06-13 15:13] andy31415 commented on #19213
Closing based on comment of `if I pull ToT the problem is gone`

[2022-06-13 15:13] #19213 closed

[2022-06-13 15:44] andy31415 commented on #16886
For events, extensions containing events do not seem supported by https://github.com/project-chip/zap/blob/master/zcl-builtin/shared/schema/zcl.xsd

At this time, the file describes:

[code]

We are missing "structures" (this is known) and "events".
As a result, for 1.0 we will only have ability to test fully custom clusters (TestCluster is an example of such) and existence of extension attributes

[2022-06-13 15:57] dtodor commented on #18984
We are having the same issue. Is group messaging supposed to work on EFR32 and ESP32?

[2022-06-13 16:41] phonnakasturi-apple commented on #19490
@bzbarsky-apple The server app is all-clusters-app and its running on raspi (ubuntu)

And the logs I have attached from both macOS and from raspi

For darwin-framework-tool networkcommissioning read accepted-command-list 1 0 ->

 sudo ./darwin-framework-tool networkcommissioning read accepted-command-list 1 0
[1655138441043] [67386:1184976] CHIP: [TOO] Running Command
[1655138441045] [67386:118497

[2022-06-13 16:47] bzbarsky-apple commented on #19490
@phonnakasturi-apple Compiled how?  It looks like it does not have wi-fi support compiled in.  Was this commissioned over BLE and joined a wi-fi network, or was it commissioned via on-network commissioning?

[2022-06-13 16:49] phonnakasturi-apple commented on #19490
@bzbarsky-apple
all-clusters-app was complied using the following steps..
[code]

[2022-06-13 17:08] andy31415 commented on #19127
I am unclear on the amount of change here - MEI defines what identifiers are, however from an internal SDK perspective it sounds like we should treat any number as acceptable and maybe add some range validations.

Not having extra validation does not sound like blocking due to spec.

[2022-06-13 17:16] woody-apple commented on #19458
Cert Blocker Review: Tagging @franck-apple to notify ESP

[2022-06-13 17:18] woody-apple commented on #19456
Cert Blocker Review: tagging @franck-apple to notify ESP

[2022-06-13 17:21] bzbarsky-apple commented on #19490
Thanks.

@yufengwangca Why is this ending up without a working network commissioning cluster?  I'd expect `chip_enable_wifi` to be true on Linux by default, and then `chip_device_config_enable_wpa` should end up true, etc.  And similarly for thread...

[2022-06-13 17:22] woody-apple commented on #19452
Cert Blocker Review: Tagging @franck-apple to follow up with Sankar, to see if there's a test plan update/review needed.

[2022-06-13 17:28] woody-apple commented on #19333
Cert Blocker Review: Assigning to @carol-apple to follow up here to confirm this is a setup issue.

[2022-06-13 17:30] woody-apple commented on #17221
Cert Blocker Review: Needs an assignee.

[2022-06-13 17:32] bzbarsky-apple commented on #19499
That is ... not "runs without error".  That's crashing before it manages to commission the device.

@likidu What SHA are you using?  Can you run chip-tool under lldb and debug the crash?

[2022-06-13 17:33] bzbarsky-apple commented on #19508
@mrcao2011 Is this compiling the iOS CHIPTool application?  What SHA of the SDK are you using?  What XCode version?

[2022-06-13 17:38] krypton36 commented on #19095
@sumaky  The Attestation None and the CSR Nonce can be obtained with the following command:
`echo hex:$(hexdump -vn32 -e'4/4 "%08X" ' /dev/urandom)`

This can be done twice for each command.

[2022-06-13 17:39] bzbarsky-apple commented on #19516
esp32 does not support the optional watermark feature.  In #19195 the feature map was updated accordingly.

[2022-06-13 17:39] #19516 closed

[2022-06-13 17:40] bzbarsky-apple commented on #19516
@PSONALl This looks like it's an exactly duplicate of https://github.com/project-chip/connectedhomeip/issues/19454, which you also filed.  Why file twice?

[2022-06-13 17:43] bzbarsky-apple commented on #19521
This is expected so far until #17568 and/or https://github.com/project-chip/connectedhomeip/issues/17298 are fixed.

[2022-06-13 17:44] carol-apple commented on #19518
There's been a recent spec change:
[code]

[2022-06-13 17:44] bzbarsky-apple commented on #19524
Feature map was fixed in https://github.com/project-chip/connectedhomeip/pull/19195

[2022-06-13 17:44] #19524 closed

[2022-06-13 17:46] mrjerryjohns opened #19535 "`subscriptionsPerFabric` in basic cluster has incorrect values"
#### Problem

Reading out `subscriptionsPerFabric` gives a really large number (which might be accurate on heap-based platforms anyways), but looked suspicious.

Looks like the logic is off in `InteractionModelEngine::GetMinSubscriptionsPerFabric()`:

[code]

That should be `kReservedHandlersForRead`, not paths.

Also, `GetReadHandlerPoolCapacity` is not quite handling heap-based platforms today,

[2022-06-13 17:46] ukatira commented on #19518
OTA Test plan was updated to account for recent spec changes - https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5248
And this test case has been removed as a part of this change.

[2022-06-13 18:09] sumaky commented on #19095
@andy31415 Test plan a in a way generic. I am not sure if we could have specifics of logs in test plans. We will for sure update the Verification Sheet with the commands used.

[2022-06-13 18:15] isiu-apple commented on #19458
See https://github.com/project-chip/connectedhomeip/pull/15208 for example Linux implementation.

[2022-06-13 18:22] yunhanw-google commented on #12974
Done in https://github.com/project-chip/connectedhomeip/pull/19016

[2022-06-13 18:22] #12974 closed

[2022-06-13 18:24] bzbarsky-apple commented on #6324
LogStringAttribute no longer seems to exist...

[2022-06-13 18:24] #6324 closed

[2022-06-13 18:27] bzbarsky-apple commented on #8860
For the generated defaults, we did this in #11768.

[2022-06-13 18:29] #16187 closed

[2022-06-13 18:30] bzbarsky-apple commented on #9564
Fixed in #11726

[2022-06-13 18:30] #9564 closed

[2022-06-13 18:32] #9649 closed

[2022-06-13 18:34] bzbarsky-apple commented on #9691
The python app bits are fixed, I believe.

The esp-side bits should also be fixed, via the fail-safe handling.

Please reopen if this is still an issue, and provide steps to reproduce.

[2022-06-13 18:34] #9691 closed

[2022-06-13 18:37] bzbarsky-apple commented on #9998
I think https://github.com/project-chip/connectedhomeip/issues/8893 fixed this sufficiently.  In particular, `AddResponseData` can never leave us in a bad state now, because it rolls back on failure.

[2022-06-13 18:37] #9998 closed

[2022-06-13 18:40] bzbarsky-apple commented on #10447
@rgoliver Is this still an issue?

[2022-06-13 18:48] bzbarsky-apple commented on #10743
This got fixed at some point... Now we do:
[code]
on all platforms.

[2022-06-13 18:48] #10743 closed

[2022-06-13 18:50] bzbarsky-apple commented on #6711
@vivien-apple I just tried:
[code]
and I am not seeing this failure.  Is this still happening?

[2022-06-13 18:55] #12680 closed

[2022-06-13 18:55] bzbarsky-apple commented on #12680
@ktaylor-meus Thank you for following up!

[2022-06-13 18:56] #12733 closed

[2022-06-13 19:02] bzbarsky-apple commented on #12880
@nicelyjust Is this still an issue? I can't get a crash if I do:
[code]

[2022-06-13 19:28] bzbarsky-apple opened #19537 "chip-tool does not handle optional complex args correctly"
#### Problem
An optional complex arg ends up requiring a value in chip-tool.

This affects:

* ContentLauncher cluster, LaunchURL command, BrandingInformation field.
* Various bits in TestCluster.

 #### Proposed Solution
Need to figure out how to not require the field when its actually optional.  The problem is that our generic dispatch has no way to know the concrete field type....  Need to figu

[2022-06-13 19:30] bzbarsky-apple commented on #13227
Shouldn't ~ResolverDelegateProxy be handling the un-registration?

Removing "deferral candidate" label, since this is a use-after-free bug, hence likely exploitable.

[2022-06-13 19:32] #13414 closed

[2022-06-13 19:33] bzbarsky-apple commented on #13645
@manjunath-grl Is there still an issue here?

[2022-06-13 19:36] bzbarsky-apple commented on #13842
@praveenCY Is this still reproducible?

[2022-06-13 19:39] bzbarsky-apple commented on #13928
This is fixed: the fabric table is the source of truth now, and the attributes come from an AttributeAccessInterface that reads it.

[2022-06-13 19:39] #13928 closed

[2022-06-13 19:40] bzbarsky-apple commented on #14064
`WriteSingleClusterData` takes `ConcreteDataAttributePath` now.

[2022-06-13 19:40] #14064 closed

[2022-06-13 19:41] bzbarsky-apple commented on #14083
This is fixed.  We're now doing `GetEndpoint(nextStage)` at the relevant callsite.

[2022-06-13 19:41] #14083 closed

[2022-06-13 19:43] bzbarsky-apple commented on #14180
CHIP_CONFIG_ENABLE_FABRIC_STATE does not exist anymore...

[2022-06-13 19:43] #14180 closed

[2022-06-13 19:45] bzbarsky-apple commented on #14214
The code is in `AdoptFabricIndex` now, #13711 is fixed, and the TODO comment is gone.

[2022-06-13 19:45] #14214 closed

[2022-06-13 19:47] bzbarsky-apple commented on #14308
See #17568 and #17298

[2022-06-13 19:48] bzbarsky-apple commented on #14347
I believe @msandstedt fixes this in #19119 by allowing applications to inject a certificate validity policy.

@wbschiller Can you please check and resolve as needed?

[2022-06-13 19:49] bzbarsky-apple commented on #14366
Removing "deferral candidate".  This exposes data across fabrics in ways that are not OK, last I checked.

[2022-06-13 19:50] bzbarsky-apple commented on #14374
@msandstedt Is this still an issue?

[2022-06-13 19:51] bzbarsky-apple commented on #14485
IASZone is not part of Matter 1.0, precisely because it's not clear how to map it onto the Matter interaction model.

[2022-06-13 20:25] gmarcosb commented on #8578
So, the attached [video presentation says](https://youtu.be/7_caITSjk1k?t=1361):

"Arrange to execute periodically, possibly in a thread dedicated to such things"

I don't know that this gives us something better than using `finalize`, unless we plan to introduce a cleanup thread that runs periodically in matter (which we don't seem to have at the moment)

Given that `finalize` is unlikely to go a

[2022-06-13 20:44] msandstedt commented on #14374
No, this works correctly now:

[code]

[2022-06-13 20:44] #14374 closed

[2022-06-13 22:18] bzbarsky-apple commented on #13397
I think this audit still needs to happen, sadly...

[2022-06-13 22:22] #14696 closed

[2022-06-13 22:24] bzbarsky-apple commented on #14858
@woody-apple Are we still seeing this?

[2022-06-13 22:24] bzbarsky-apple commented on #14859
@woody-apple Are we still seeing this?

[2022-06-13 22:30] bzbarsky-apple commented on #18327
@marius-alex-tache Are you going to create a PR for that change?

[2022-06-13 22:32] #19151 closed

[2022-06-13 22:33] liamgonyea opened #19542 "[TC-BC-2.1] Removing all Binding entries does not remove accessory from control"
#### Problem
When running `[TC-BC-2.1]`, Step 8, the result is unexpected in that clearing the binding entries does not cause the DUT=controller to receive "No Response" when turning TH1 accessory on.

...
[1655155486273] [75251:3549211] CHIP: [DMG] 				StatusIB =
[1655155486273] [75251:3549211] CHIP: [DMG] 				{
[1655155486273] [75251:3549211] CHIP: [DMG] 					status = 0x00 (SUCCESS),
[1655155486

[2022-06-13 22:34] bzbarsky-apple commented on #19150
I assume those are backwards...

[2022-06-13 22:40] bzbarsky-apple commented on #14980
If the pairing window was opened via iOS CHIPTool it's using ECM.  In which case scanning the original QR code will not work.  CHIPTool does output a manual code that can be used to pair with the device, but iirc does not show a scannable QR code.  So I assume the original QR code was scanned, in which case PASE failure is expected...

[2022-06-13 22:40] #14980 closed

[2022-06-13 22:41] bzbarsky-apple commented on #14982
@woody-apple Are we still seeing this?

[2022-06-13 22:43] bzbarsky-apple commented on #14990
Putting iOS CHIPTool in the background without quitting it will kill the socket, and then things are broken.

[2022-06-13 22:43] bzbarsky-apple commented on #14990
Duplicate of #584

[2022-06-13 22:43] #14990 closed

[2022-06-13 22:46] bzbarsky-apple commented on #15626
These are all supported and have been for a while.

[2022-06-13 22:46] #15626 closed

[2022-06-13 22:50] bzbarsky-apple commented on #16069
@Carpao79 Is this still happening?  Can you run under a debugger and get a stack?

[2022-06-13 22:51] bzbarsky-apple commented on #16958
I suspect we need to fix this to behave correctly, because various other code will not work right if this is wrong and we can end up with serious security problems.

[2022-06-13 23:06] bzbarsky-apple commented on #17793
We can't defer a known use-after-free...

[2022-06-13 23:07] bzbarsky-apple commented on #10501
We can't defer this: this is a known bug where we read un-initialized memory and then act on it, which is really bad from a security perspective.

[2022-06-13 23:09] bzbarsky-apple commented on #18580
@mrjerryjohns When a session is actually released, we are going to close the relevant exchanges.  So we don't need to listen for OnSessionReleased; we just need to listen for OnExchangeClosing, right?

[2022-06-14 00:05] turon opened #19547 "[groups] privacy feature not implemented"
#### Problem
The following spec sections define privacy for group messages and are not implemented in the SDK:

4.8. Message Privacy
- [ ] 4.8.2. Privacy Processing of Outgoing Messages
- [ ] 4.8.3. Privacy Processing of Incoming Messages

NCC-E003350-2LP

 #### Proposed Solution
implement the defined behavior

[2022-06-14 00:12] yinyihu-silabs opened #19548 "[pre-sve] TC-DM-1.2 Accepted Command List Missing AddTrustedRootCertificate"
#### Problem
Pre-SVE Week 2 Commit: 530e325359009cadbfc2752e16f588de436c90e1
~/chip-tool operationalcredentials read accepted-command-list 1 0
[code]

Same test in with Pre-SVE Week 1 commit: 425f1fb916ca154deeb75cd82cd5196778aba152
[code]
 #### System Configuration
DUT: EFR32
SDK SHA: 530e325359009cadbfc2752e16f588de436c90e1

[2022-06-14 00:15] yufengwangca commented on #18801
This issue should be fixed by #19007, but I only added the way to toggle those states in chip-all-clusters app, not lighting-switch app since it is missing Linux implementation

[2022-06-14 00:33] chrisdecenzo commented on #19148
this should now be addressed, thanks

[2022-06-14 00:33] #19148 closed

[2022-06-14 01:24] emargolis commented on #19253
@cwangAmazon Could you please update the status of this issue.

Where you able to identify the problem and fix it?

[2022-06-14 01:37] likidu commented on #19499
@bzbarsky-apple, was not aware its aborted... The SHA is fdab0fd79feee007bc752bbf98c471d0246c4ebe.

I will do using `lldb` and see the crash.

[2022-06-14 02:00] likidu commented on #19499
I just ran `lldb` with the same parameters and now it worked!
[code]

Output from lldb:
[code]

And macOS asked me the access to the Bluetooth so that's already an indication...

And I can see the device connects to the WiFi and successfully run further commands to turn on/off the LED.

Just don't know what's the differences there...

[2022-06-14 02:22] mrcao2011 commented on #19508
yes，compiling the  iOS CHIPTool application  in iOS simulator，use the TE9 tag project，xcode version is 13.0。The strange thing is that the real machine（my iPhone XR） is normal。

[2022-06-14 02:22] mrcao2011 commented on #19508
yes，compiling the iOS CHIPTool application in iOS simulator，use the TE9 tag project，xcode version is 13.0。The strange thing is that the real machine（my iPhone XR） is normal。

[2022-06-14 03:00] #19481 closed

[2022-06-14 03:10] dhrishi commented on #19458
@shubhamdp @jadhavrohit924 PTAL

[2022-06-14 03:10] dhrishi commented on #19456
@shubhamdp @jadhavrohit924 PTAL

[2022-06-14 03:21] bzbarsky-apple commented on #19542
I assume this is about TC-BIND-2.1; I can't find TC-BC-2.1 anywhere.

This test plan is wrong.  I filed https://github.com/CHIP-Specifications/chip-test-plans/issues/1465

But fundamentally, this test plan as I think it intends to be written does not apply to darwin-framework-tool, because the Darwin framework does not implement a server binding cluster and does not plan to.

[2022-06-14 03:21] #19542 closed

[2022-06-14 03:27] bzbarsky-apple commented on #19548
@yinyihu-silabs AddTrustedRootCertificate has id 0x0b, so 11.  It's right there in the list.

Id 12 was RemoveTrustedRootCertificate, which has been removed from the spec, so it's gone from the implementation as well.

[2022-06-14 03:27] #19548 closed

[2022-06-14 04:00] bzbarsky-apple commented on #19393
That's basically sweeping the heap-allocation of the IPPacketInfo under the rug into the lambda allocation, right?  I would rather make any sort of sizeable allocations explicit, so if they fail we gracefully return error instead of throwing uncaught exceptions or whatever happens if we fail to allocate the lambda....

[2022-06-14 04:02] bzbarsky-apple commented on #19451
That's what I was asking @liamgonyea, yes.

[2022-06-14 04:16] bzbarsky-apple opened #19551 "Thermostat cluster only considers deadband if OCC feature is enabled"
This was discovered by @mkleszcz-no in #19468, but filing as a separate issue to make the problem very clear.  https://github.com/project-chip/connectedhomeip/issues/19468#issuecomment-1153695041 has very nice steps to reproduce the problem.

#### Problem
In thermostat-server.cpp in `MatterThermostatClusterServerPreAttributeChangedCallback` we have:
[code]
which means that deadband is ignored if b

[2022-06-14 04:16] bzbarsky-apple commented on #19468
@mkleszcz-no Nice catch!  I filed https://github.com/project-chip/connectedhomeip/issues/19551 to track that problem, along with analysis.

[2022-06-14 04:20] bzbarsky-apple commented on #19499
OK, but running not under lldb is just crashing?

[2022-06-14 05:51] bzbarsky-apple commented on #19508
I just tried that SHA in xcode 13.2 targeting the "iPhone 11" simulator, as follows:

1. `git checkout cfc3595`
2. `git submodule update --init`
3. `. ./scripts/bootstrap.sh`
4. Start Xcode
5. Select the "CHIP Framework" target.
6. Select the "iPhone 12" similator.
7. Build.
8. Select the "CHIP Tool App" target.
9. Select the "iPhone 12" simulator.
10. Build.

and the build succeeded.

It's worth

[2022-06-14 06:00] bzbarsky-apple commented on #16858
The scenario described in #19484 by @kpark-apple is in fact "user removes the node, power cycles it and attempt to commission the node again"....

It sounds like setting a shorter TTL on our end would not really help that scenario, if the SRP server will not accept values less than 30 minutes anyway.

[2022-06-14 06:03] jimlyall-q commented on #19146
Is it possible to have a result that can be tested against for the light/lock app?

[2022-06-14 06:03] #19146 closed

[2022-06-14 06:03] PSONALl commented on #19455
@andy31415 for bringing DUT to true state I used cli option on DUT side to set attribute to true and reading the attribute with this command: `./chip-tool booleanstate read state-value 1 1`

[2022-06-14 06:07] PSONALl commented on #19450
@bzbarsky-apple yes this issue is fixed now, so closing this issue

[2022-06-14 06:07] #19450 closed

[2022-06-14 06:11] PSONALl commented on #19448
@bzbarsky-apple yes this issue is fixed now, so closing the issue :)

[2022-06-14 06:11] #19448 closed

[2022-06-14 06:26] marius-alex-tache commented on #18327
@bzbarsky-apple Hmm, we are currently working on an internal fork. We will integrate the modification later. I think we can close this issue. Thank you!

[2022-06-14 06:26] #18327 closed

[2022-06-14 06:37] Carpao79 commented on #16069
@bzbarsky-apple it looks like the issue is not reproducible anymore with SDK coming from the TE9 SHA.

[2022-06-14 06:40] sstruchtrup commented on #14228
Works for me as well, tested against the lighting-app example (commit 5148b5d00154f272e0fd250140dd94fbd33c958e) with chip-tool built from the TE9 tag.

[2022-06-14 06:44] bzbarsky-apple commented on #19455
Could you please describe the _exact_ commands you ran so that someone else, who is possibly not familiar with the setup, can try to reproduce your steps?

Because again, the working assumption is that this is where the issue is, but it's really hard to tell with the provided info.

[2022-06-14 06:45] bzbarsky-apple commented on #16069
Thank you for double-checking!

[2022-06-14 06:45] #16069 closed

[2022-06-14 06:50] erjiaqing opened #19553 "Pigweed RPC is not reading the correct attribute values for attributes not in ember storage"
#### Problem

In `examples/common/pigweed/rpc_services/Attributes.h`, we have

[code]

and

[code]

Which is reading the attribute values from the ember storage, however, there are lot of clusters using the attribute access interface, and are not accessible via this interface.

 #### Proposed Solution

Create a wrapper for `ReadSingleClusterData` (or add a call for `ReadViaAccessInterface` before)

[2022-06-14 06:57] sumaky commented on #19095
We have verified this issue. We are able to see the nonce. Thanks.

[2022-06-14 06:57] #19095 closed

[2022-06-14 07:10] sumaky commented on #18364
We can close this issue. Created new issue for Test Plan Update for tracking
https://github.com/CHIP-Specifications/chip-test-plans/issues/1466

[2022-06-14 07:11] #18364 closed

[2022-06-14 07:52] sumaky commented on #19446
We can close this issue as this is tracked in test plan issue #1454.

[2022-06-14 09:17] sankarselvam commented on #19452
@PSONALl  I checked with QA team, they used the following command to generate the event & then read the event. Can you please try and update your observation?

1. get the pid of the apps you are running by  "ps  -aef|grep all-clusters-app"
2.  Then kill the app using the following signal  "sudo kill -SIGUSR1 <pid from above command>"
3. Then read the event.

It worked fine for us

[2022-06-14 10:01] TE-N-ElvenWang commented on #18548
I have seen same issue. Is there any update about this issue?

[2022-06-14 10:26] PSONALl commented on #19452
@sankarselvam tried this but I am not getting any Event Report when I read the event
this is because OnSoftwareFaultDetect is never called

[2022-06-14 11:42] sankarselvam commented on #19452
OK, Seems like its a platform specific issue. We tried in RPI & we could able to see the called in DUT. Attached logs for re
[[TC-DGSW-2.2]TH.txt](https://github.com/project-chip/connectedhomeip/files/8899352/TC-DGSW-2.2.TH.txt)
[[TC-DGSW-2.2]DUT.txt](https://github.com/project-chip/connectedhomeip/files/8899353/TC-DGSW-2.2.DUT.txt)

[2022-06-14 11:52] Rajashreekalmane opened #19558 "[TC-MC-6.4]- DUT is not returning SPEED_OUT_OF_RANGE (status 4) error code when TH sends consecutive FastForward and Rewind commands"
#### Problem
As per Test-Plan test step 15 and 16 if TH sends Fast-forward and rewind command from to DUT , DUT should respond PlaybackResponse status has  SPEED_OUT_OF_RANGE (status 4) error code, But currently DUT responds PlaybackResponse status has 0.

 * expected behavior:-DUT should respond PlaybackResponse status has  SPEED_OUT_OF_RANGE (status 4) error code
 * actual behavior:-DUT responds

[2022-06-14 11:59] PSONALl commented on #19452
Yes @sankarselvam I am working to fix this issue on the esp32 side

[2022-06-14 12:56] somu1710 commented on #19159
@manjunath-grl

There is no issue with test plan or test verification steps.

Please do check the expected outcome carefully and proceed - https://docs.google.com/spreadsheets/d/1h4d4J90KAxFqUL_cXZHyM3pHjHCEXzFITkQhN2KMqDY/edit?pli=1#gid=1886169525&range=B102:G104

I am attaching the logs : [TC-OO-2.3.txt](https://github.com/project-chip/connectedhomeip/files/8899863/TC-OO-2.3.txt)

Please verify

[2022-06-14 13:22] rgoliver commented on #10447
@jmartinez-silabs  I know you were looking at fixing the EFR unit tests, can this be closed?

[2022-06-14 13:29] #14645 closed

[2022-06-14 13:29] #18103 closed

[2022-06-14 13:37] kowsisoundhar12 opened #19561 "[TC-PRS-2.3] getting invalid operands Error while checking MeasuredValue & ScaledValue attribute Range"
As per Testplan need to check MeasuredValue attribute range,In order to check this attribute we need following step
     ----> (MeasuredValue – Tolerance) to (MeasuredValue + Tolerance)
     As per spec MeasuredValue data type is int16, Tolerance attribute data type is uint16 so getting operand type error because of this 2 different data type

Notes:
SHA: 55ab764beabaed8675bd60e6d18e84d545a733e0
c

[2022-06-14 13:45] Ashwinigrl opened #19563 "[TC-DRLK-2.8] Door-lock Set User Command is returning success instead of INVALID_COMMAND"
**Problem** -In Set User command, after giving invalid UserType value we are getting success response

**Actual Behavior** -After giving UserType  value as invalid we are getting success response

**Expected Behavior** - After giving user type value as invalid we have to get INVALID_COMMAND

App used - lock app
Platform - Chip-tool - RPI-4, 8GB RAM
DUT - RPI-4, 8GB RAM
Network - Ble-wifi
Commit -

[2022-06-14 13:53] bzbarsky-apple commented on #19561
@kowsisoundhar12 Please attach the actual diff that was made to the YAML to get the above error message or link to that diff or PR on github.  That's the most useful part for being able to quickly reproduce this and test a fix (much more useful than screenshots of the spec that have nothing to really do with the actual problem, screenshots of errors that would be reproducible with the diff, or log

[2022-06-14 13:55] bzbarsky-apple commented on #19561
@kowsisoundhar12 And in general, for issue reports, the useful format is:
1. Steps X were performed.
2. The result was Y.
3. The expected result was Z.

This issue has item 2, and an implied item 3 ("should have no errors"), but is missing the key part of item 1, which is what changes were made to the tree before running regen and compiling.

[2022-06-14 14:02] kowsisoundhar12 commented on #19561
@bzbarsky-apple please find attached PRS 2.3.yaml file and log file here
[Test_TC_PRS_2_3.zip](https://github.com/project-chip/connectedhomeip/files/8900433/Test_TC_PRS_2_3.zip)
[PRS-2-3-Execution-logs.zip](https://github.com/project-chip/connectedhomeip/files/8900435/PRS-2-3-Execution-logs.zip)

1.I have used minValue and MaxValue constraint check for validating MeasuredValue & ScaledValue attrib

[2022-06-14 14:11] vivien-apple commented on #19139
I was wrong as you said. Supports is in #19139

[2022-06-14 14:16] bzbarsky-apple commented on #19561
@kowsisoundhar12 Thank you, that at least gives a way to reproduce. But again, a diff or link to diff would be a _lot_ easier to work with than a zipped-up entire file that then has to be unzipped and placed in the right place in the tree...

[2022-06-14 14:34] #19529 closed

[2022-06-14 14:35] bzbarsky-apple commented on #19563
@Morozov-5F do you have time to take a look at this one?  Or any pointers to anyone else working on door locks?

[2022-06-14 14:43] bzbarsky-apple commented on #19558
Why?  The test plan says:

But the steps above don't do that.

[2022-06-14 15:10] vivien-apple commented on #19455
Looking at the test plan, those steps are gated behind a PICS code: `M.ManuallyControlled` which is defined as:
```Can the StateValue attribute be changed by manual operation at the DUT?```

The only place where I can see code  referencing `StateValue`is in the all-clusters-app (and the minimal version too) at https://github.com/project-chip/connectedhomeip/blob/f188fd9625f171a7d32a4b8e4a00d6abf60

[2022-06-14 15:20] franck-apple commented on #19446
Closing per @sumaky 's comment.

[2022-06-14 15:20] #19446 closed

[2022-06-14 15:22] chrisdecenzo commented on #19558
re-opening because the example tv-app does not impose a max speed

[2022-06-14 15:28] chandarana commented on #19253
We were able to fix cert and CHIP tool validation passed.

We did run into some other issues when actually connecting devices. We are investigating that issue. Most likely, it is not related to op-cert.

[2022-06-14 15:43] ChetanSaiKumarThalisetty commented on #19253
Well we were able to remove the extra bits in KeyUsage and make the validations succeed. But Since openssl is not having problem with these extra bits. Should we update validation of chip-cert to make it inline with openssl ?

[2022-06-14 16:40] likidu commented on #19499
@bzbarsky-apple Yes, at least that was I observed on my machine.

[2022-06-14 16:55] quyennguyenvan opened #19574 "Unable to find current revision in submodule path 'third_party/mbed-os/repo'"
Current checkout to commit ID: 4d50b1084
and have to do with the command: git submodule update --init

and meet this issue:
`fatal: Needed a single revision
fatal: Unable to find current revision in submodule path 'third_party/mbed-os/repo'
`

[2022-06-14 16:57] andy31415 commented on #18686
#19437 adds options for fabric filtering

[2022-06-14 17:04] andy31415 commented on #19127
Removing spec tag for now to soften the "blocker" status of this. I am unsure if this is actually for 1.0 anymore now that TestCluster is MEI and we have a sample MEI attribute in all clusters app.

[2022-06-14 17:13] sowmyassp commented on #17205
Sure @bzbarsky-apple I will file ticket on remaining bits and link it here.

[2022-06-14 17:23] jwinder-ca commented on #18122
A similar crash has been observed on the bridge-app.

The crash is observed by simply running chip-bridge-app and waiting for a few minutes.

It appears that the output from ConnectivityManagerImpl::GetWiFiIfName() can be NULL, but it is being passed directly to strcmp, causing a crash.

[code]

[2022-06-14 17:39] liamgonyea commented on #19451
@bzbarsky-apple I think the logs how they are in `chip-tool` saying "Pairing Success" are more clear that the pairing has successfully occurred altogether so we can keep those. It would be nice to add a line in with something along the lines of "PASE Establishment Successful" so that it is explicitly clear that the PASE process is complete

@PSONALl Looking at the TH=chip-tool: [th.txt](https://gi

[2022-06-14 17:49] bzbarsky-apple commented on #19574
@quyennguyenvan Does `git submodule sync --recursive` help?

[2022-06-14 17:53] andy31415 commented on #19563
The actual command would also be useful for fast reproduction. the command you used for `chip-tool` (or set of commands) would allow developers to quickly reproduce this.

[2022-06-14 17:56] dwgaul opened #19579 "[nRF52840-DK] nRFConnect all-clusters-app crashes when left running overnight."
#### Problem
Testing with a nRF52840 device on SHA 5d8599d1 using the all-clusters-app. Twice now after leaving the device sit overnight (commissioned and on a thread network) it has crashed when checking minicom the next day. Minicom terminal had been steaming the whole time. Logs below:

[code]

[2022-06-14 17:59] woody-apple commented on #15751
Closing old crashes, will re-file if this is still present.

[2022-06-14 17:59] #15751 closed

[2022-06-14 17:59] woody-apple commented on #15704
Closing old crashes, will re-file if this is still present.

[2022-06-14 17:59] #15704 closed

[2022-06-14 17:59] woody-apple commented on #14247
Closing this as a duplicate

[2022-06-14 17:59] #14247 closed

[2022-06-14 18:00] #11828 closed

[2022-06-14 18:01] #15764 closed

[2022-06-14 18:01] woody-apple commented on #15762
Closing older issues, will re-file if this is still present.

[2022-06-14 18:01] #15762 closed

[2022-06-14 18:02] woody-apple commented on #15756
Closing old issues, will re-file if still present.

[2022-06-14 18:02] woody-apple commented on #15223
@vinay-apple Is this still happening?

[2022-06-14 18:02] woody-apple commented on #15163
Closing

[2022-06-14 18:03] woody-apple commented on #15050
Closing this as fixed

[2022-06-14 18:03] #15050 closed

[2022-06-14 18:04] woody-apple commented on #15285
(Please close if not!)

[2022-06-14 18:38] woody-apple commented on #19010
Darwin Review: We believe this affects all platforms, removing Darwin specific. We can come up with a Darwin specific work around, but probably not desired.

[2022-06-14 18:43] woody-apple commented on #18455
Assigning to @kean-apple to follow up for logs.

[2022-06-14 18:50] woody-apple commented on #18272
Tagging 'request cert blocker' as we may need to retest, and verify we don't have a cert blocker here.

[2022-06-14 18:52] woody-apple commented on #18272
Remaining items here to talk about are user notifications during app component cert.

[2022-06-14 18:55] woody-apple commented on #17249
Darwin Review: We believe subscription expiry is sufficient, please re-open if needed.

[2022-06-14 18:55] #17249 closed

[2022-06-14 18:57] woody-apple commented on #16691
Darwin Review: Note to self, update this to cover current scope for subscriptions.

[2022-06-14 18:58] woody-apple commented on #15930
Darwin Review: Assigning to @bzbarsky-apple to see if anything is outstanding.

[2022-06-14 18:58] #15930 closed

[2022-06-14 18:59] #14909 closed

[2022-06-14 19:02] woody-apple commented on #19490
Assigning to @kean-apple to follow up.

[2022-06-14 19:07] woody-apple opened #19584 "Rename CHIP.framework to Matter.framework & all the APIs"
#### Problem
Need to rename CHIP.framework to Matter.framework

[2022-06-14 19:12] cecille opened #19585 "Seg fault when reading the Networks attribute (linux)"
#### Problem
Attempting to read the Network attribute from a linux device where the networks have been added but not connected results in a seg fault.

 #### Proposed Solution
This appears to be happening because the code assumes where is a connected interface. Need to add checks around that condition.

bt:
Thread 1 "chip-all-cluste" received signal SIGSEGV, Segmentation fault.
0x00005555557163dd

[2022-06-14 19:48] cecille opened #19586 "Random segfault while all-clusters-app linux is doing nothing matter-related"
#### Problem
bt:
116	../sysdeps/x86_64/multiarch/strcmp-avx2.S: No such file or directory.
(gdb) bt
#0  __strcmp_avx2 () at ../sysdeps/x86_64/multiarch/strcmp-avx2.S:116
#1  0x00005555556f7c16 in chip::DeviceLayer::PlatformManagerImpl::WiFIIPChangeListener() () at ../../third_party/connectedhomeip/src/platform/Linux/PlatformManagerImpl.cpp:120
#2  0x00005555556f9759 in std::__invoke_impl<void, voi

[2022-06-14 19:52] bzbarsky-apple commented on #14909
I have verified that ChipLogError ends up using `os_log_with_type(..., OS_LOG_TYPE_ERROR, ...)`.

[2022-06-14 19:54] bzbarsky-apple commented on #15930
Looks good at this point.

[2022-06-14 20:01] bzbarsky-apple commented on #19579
This seems to be the key thing here....  @Damian-Nordic

[2022-06-14 20:05] bzbarsky-apple commented on #19586
So the crashing line is this:
[code]
which suggests that either `name` is not null-terminated or `ConnectivityManagerImpl::GetWiFiIfName()` has some problem.  And in particular, `GetWiFiIfName()` can absolutely return `nullptr` if `sWiFiIfName` is empty:
[code]

This code needs to either check for null, or change `GetWiFiIfName` to return a non-null empty string if that's what we have.

[2022-06-14 20:19] bzbarsky-apple commented on #19499
@likidu And this is still reproducible?  That is, the fact that the permission was granted when running under a debugger does not affect what happens outside the debugger?

[2022-06-14 20:26] #19551 closed

[2022-06-14 20:34] bzbarsky-apple commented on #19563
It's at the top of the first log:
[code]
That "10" is out of range of the enum.

[2022-06-14 21:18] woody-apple opened #19590 "Expose BDX on Darwin"
#### Problem
Remaining work is to expose BDX to Darwin

[2022-06-14 21:22] aajain-com opened #19591 "[Crash] CHIP: chip::ChipError chip::Controller::ClusterBase::ReadAttribute<chip::Span<char const>, chip::Span<char const> >"
#### Problem

Seeing this crash reported during testing on iOS/tvOS. This is seen as recent as TE9 SHA `cfc35951be66a664a6efdadea56d1b8ea6e63e96`.

[code]

[2022-06-14 22:18] aajain-com opened #19592 "[Crash] chip::DeviceLayer::Internal::BlePlatformDelegateImpl::UnsubscribeCharacteristic"
#### Problem

Seeing this crash reported during testing on iOS/tvOS. This is seen as recent as TE9 SHA `cfc35951be66a664a6efdadea56d1b8ea6e63e96`.

[code]

[2022-06-14 22:40] aajain-com opened #19593 "[Crash] chip::CommissioneeDeviceProxy::IsSessionSetupInProgress const"
#### Problem

Seeing this crash reported during testing on iOS/tvOS. This is seen as recent as TE9 SHA `cfc35951be66a664a6efdadea56d1b8ea6e63e96`.

[code]

 #### Proposed Solution

[2022-06-14 23:05] aajain-com opened #19594 "[Crash] chip::Controller::DeviceCommissioner::ContinueCommissioningAfterDeviceAttestationFailure"
#### Problem

Seeing this crash reported during testing on iOS/tvOS. This is seen as recent as TE9 SHA `cfc35951be66a664a6efdadea56d1b8ea6e63e96`.

[code]

[2022-06-15 01:43] kghost opened #19599 "Audit all ExchangeDelegate, implement OnExchangeClosing callback"
#### Problem
Implementing `OnExchangeClosing` callback is required for all `ExchangeDelegate` to prevent potential dangling pointer or exchange context leaks.

[code]

There is several points one need to pay attention when implementing the callback:
* The exchange is closed after `OnExchangeClosing` is triggered, one must clear all pointers and refs to the exchange to prevent potential dangling po

[2022-06-15 02:15] XuXiangJun commented on #19113
It works. Thank you very much.
`git submodule sync --recursive`
`git submodule update --init --recursive`

[2022-06-15 03:55] nykh2010 opened #19601 "a question of secure session count limit"
I found the SecureSessionPool size was limited by CHIP_CONFIG_SECURE_SESSION_POOL_SIZE, so it means controller cannot keep subscription for more devices exceed this limit?

[2022-06-15 05:47] kkasperczyk-no commented on #16858
@bzbarsky-apple I think the problem described in the issue should appear only in case of factory reset of a device. If removing the node means removing the fabric configuration on a node, the device will still have Thread networking configured, so it will be able to send SRP requests. For Thread, after reboot device refreshes all SRP services, what in particular mean removing all of them and addin

[2022-06-15 06:32] quyennguyenvan commented on #19574
it does not work!

[2022-06-15 06:35] sumaky commented on #19563
@bzbarsky-apple 10 is out of range. We expected a failure but seeing success.

[2022-06-15 06:38] manjunath-grl commented on #18940
@bzbarsky-apple @franck-apple tried in TOT its passing
    SHA used: https://github.com/project-chip/connectedhomeip/commit/c1e1d018820c0fdd51f124f607b9207f31fae2ff
    Client app: Chip-tool
    Server app: Tv-app
    Execution logs: [TC_MC_1_10 ACL.zip](https://github.com/project-chip/connectedhomeip/files/8906445/TC_MC_1_10.ACL.zip)

[2022-06-15 06:38] #18940 closed

[2022-06-15 06:42] manjunath-grl commented on #18545
@cjandhyala  tried in TOT its passing
    SHA used: https://github.com/project-chip/connectedhomeip/commit/c1e1d018820c0fdd51f124f607b9207f31fae2ff
    Client app: Chip-tool
    Server app: thermostat app
Execution logs:
[TC_TSTAT_2_2.zip](https://github.com/project-chip/connectedhomeip/files/8906488/TC_TSTAT_2_2.zip)

[2022-06-15 06:42] #18545 closed

[2022-06-15 07:33] Ashwinigrl opened #19604 "[TC-DRLK-2.9] Doorlock clear credential command and get credential command return failure when called after set credential command"
**Problem** -when we try to send Clear Credential Command after setting credential we are seeing failure

**sequence of  steps**
1. clear credential =./chip-tool doorlock clear-credential  '{ "credentialType" : 1 , "credentialIndex" : 1 }'  1 1 --timedInteractionTimeoutMs 1000   (Response=success)
2. set credential =./chip-tool doorlock set-credential 0 '{ "credentialType" : 1 , "credentialIndex"

[2022-06-15 07:40] manjunath-grl commented on #16425
@bzbarsky-apple I tried it in TOT the command is working fine.
SHA : c1e1d018820c0fdd51f124f607b9207f31fae2ff

[2022-06-15 08:09] sethunk opened #19608 "Group Communication - Unable to verify if the multicast command is working correctly"
**Problem** - We are sending multicast command to DUT for onoff cluster to change the on-off attribute value to "on". We are trying to read the same attribute value in unicast mode to check if the multicast command actually worked but we are not able to see the value changed in the attribute.
Before sending multicast command we are setting the appropriate ACL entry and Group settings command to in

[2022-06-15 08:28] sethunk opened #19610 "TC-GR-2.2 - Groups Cluster - RemoveallGroups command not working"
**1.Problem** - when RemoveAllGroups command is sent from TH to DUT , the group still exists in the GroupTable

**2.Sequence of steps**
**removeallgroups** - ./chip-tool groups remove-all-groups 1 0
**grouptable** - ./chip-tool groupkeymanagement read group-table 1 0

**3.Test Environment**

**App used** - allclusters app
**Platform** - Chip-tool - RPI-4, 8GB RAM
DUT - RPI-4, 8GB RAM
**Network** -

[2022-06-15 08:41] sethunk opened #19611 "TC-GR-2.3 Groups Cluster - AddGroupIfIdentifying command not working"
**1.Problem** - 1. When TH adds the group using  AddGroupIfIdentifying command, the group doesn't exists in GroupTable
		  2. when TH adds n+1 group using  AddGroupIfIdentifying command, we are unable to get RESOUCE_EXHAUSTED response

**2.Sequence of steps**
 **AddGroupIfIdentifying** -  ./chip-tool groups  add-group-if-identifying 0x0006 gp6 1 0
 **GroupTable**  -  ./chip-tool groupkeymanagement

[2022-06-15 08:46] sowmyassp opened #19612 "Actions Cluster - SDK needs to implement the Mandatory commands"
**Problem:**
While Executing the behavior of the non-global commands of the Actions cluster, mandatory attribute throws error code as 0x81(unsupported command).

**Commit used** : c1e1d018820c0fdd51f124f607b9207f31fae2ff

- Chip-tool - RPI-4, 8GB RAM
- DUT - RPI - RPI-4, 8GB RAM
- Platform : linux platform
- Dut application: bridge-app

**Expected behavior** : Pass with status(0x0)

**Actual behav

[2022-06-15 09:07] sethunk opened #19613 "Groups Cluster- Issue in NameSupport attribute value"
**1.Problem** -  NameSupport attribute value is 128 when the FeatureMap value is 0

**2.Sequence of steps**
Featuremap - ./chip-tool groups read feature-map 1 0
NameSupport - ./chip-tool groups read name-support 1 0

**3.Test Environment**

App used - allclusters app
Platform - Chip-tool - RPI-4, 8GB RAM
DUT - RPI - RPI-4, 8GB RAM
Network - Ble-wifi
Commit - 9493d7b48c410f058b85552e1668b33f858afca

[2022-06-15 09:52] manjunath-grl commented on #18205
Tried in TOT commands are showing success response
SHA: c1e1d018820c0fdd51f124f607b9207f31fae2ff
Client app: Chip tool
Server app: Tv-app
Execution lopgs:
[TC-MC-8.zip](https://github.com/project-chip/connectedhomeip/files/8908121/TC-MC-8.zip)

[2022-06-15 09:52] #18205 closed

[2022-06-15 09:54] manjunath-grl commented on #18102
Tried in TOT commands are showing success response
SHA: https://github.com/project-chip/connectedhomeip/commit/c1e1d018820c0fdd51f124f607b9207f31fae2ff
Client app: Chip tool
Server app: Tv-app
Execution logs:
[TC-MC-7.zip](https://github.com/project-chip/connectedhomeip/files/8908136/TC-MC-7.zip)

[2022-06-15 09:54] #18102 closed

[2022-06-15 09:58] manjunath-grl commented on #18100
Tried in TOT commands are showing success response
SHA: https://github.com/project-chip/connectedhomeip/commit/c1e1d018820c0fdd51f124f607b9207f31fae2ff
Client app: Chip tool
Server app: Tv-app
Execution logs:
[TC-MC-7.zip](https://github.com/project-chip/connectedhomeip/files/8908174/TC-MC-7.zip)

[2022-06-15 10:00] manjunath-grl commented on #18098
Tried in TOT commands are showing success response
SHA: https://github.com/project-chip/connectedhomeip/commit/c1e1d018820c0fdd51f124f607b9207f31fae2ff
Client app: Chip tool
Server app: Tv-app
Execution logs:
[TC-MC-5.zip](https://github.com/project-chip/connectedhomeip/files/8908180/TC-MC-5.zip)

[2022-06-15 10:00] #18098 closed

[2022-06-15 10:09] manjunath-grl commented on #18097
Tried in TOT command is working fine
SHA: https://github.com/project-chip/connectedhomeip/commit/c1e1d018820c0fdd51f124f607b9207f31fae2ff
Client app: Chip tool
Server app: Tv-app
Execution logs:
[TC-MC-5.zip](https://github.com/project-chip/connectedhomeip/files/8908260/TC-MC-5.zip)

[2022-06-15 10:09] #18097 closed

[2022-06-15 10:11] manjunath-grl commented on #18094
Tried in TOT attribute CurrentChannel is passing
SHA: https://github.com/project-chip/connectedhomeip/commit/c1e1d018820c0fdd51f124f607b9207f31fae2ff
Client app: Chip tool
Server app: Tv-app
Execution logs:
[TC-MC-5.zip](https://github.com/project-chip/connectedhomeip/files/8908282/TC-MC-5.zip)

[2022-06-15 10:11] #18094 closed

[2022-06-15 10:14] manjunath-grl commented on #17985
Tried in TOT command SelectInput is passing
SHA: https://github.com/project-chip/connectedhomeip/commit/c1e1d018820c0fdd51f124f607b9207f31fae2ff
Client app: Chip tool
Server app: Tv-app
Execution logs:
[TC-MC-3.zip](https://github.com/project-chip/connectedhomeip/files/8908309/TC-MC-3.zip)

[2022-06-15 10:14] #17985 closed

[2022-06-15 10:16] manjunath-grl commented on #17969
Tried in TOT command LaunchApp is showing UNSUPPORTED_CLUSTER response
SHA: https://github.com/project-chip/connectedhomeip/commit/c1e1d018820c0fdd51f124f607b9207f31fae2ff
Client app: Chip tool
Server app: Tv-app
Execution logs:
[TC-MC-3_7.zip](https://github.com/project-chip/connectedhomeip/files/8908321/TC-MC-3_7.zip)

[2022-06-15 10:20] dtodor commented on #19608
We are also unable to control the devices using group messaging. We are testing on EFR32 and ESP32, it seems that the multicasts are not received. According to the logs, the ESP32 device cannot join the multicast group whereas the EFR32 device joins the group but does not receive any messages.

[2022-06-15 12:19] HubertHugo opened #19618 "Subscription interval is not exact"
SHA: 5d8599d195a93dfe5473f64e4f888c322e5df1d2
platform: nRF52840
all-clusters-app

Interval between two report data massages is not exactly the same as the one set as maxInterval. It sends messages fractions of seconds later and after ~15 iterations there is over a second of shift relative to maxInterval*15. It is because timer is set after the report data message is delivered from DUT, so time of

[2022-06-15 12:21] sowmyassp opened #19619 "[TC-DM-2.2], [TC-DM-2.4] - Basic Information Cluster Events - Leave event - Need information for verification steps"
**Problem** - Need information for verification steps for reading LEAVE event

**App used** - all-clusters-app

**Platform** - Chip-tool - RPI-4, 8GB RAM
                       DUT - RPI-4, 8GB RAM

**Network** - Ble-wifi

**Commit** - c1e1d018820c0fdd51f124f607b9207f31fae2ff

**Sequence of steps** I tried with :
1. Commission DUT with TH using below commands :
DUT -  sudo ./all-clusters-app --wif

[2022-06-15 12:25] screensforme commented on #18786
Hello @g-coppock
I noted your PR https://github.com/project-chip/connectedhomeip/pull/19394 related to DNS-SD & IPV6 for android.

I am stuck with the above problem in my environment. And my android chiptool is not able to resolve the matter device(m5stack) with IPV6 address. Did you not faced above issue ? How can we test android chip tool using IPV6, is there any extra configuration is needed on

[2022-06-15 12:26] Morozov-5F commented on #19563
It is really interesting. The `userType` is provided to cluster code as an `enum class DlUserType`, which is generated straight from `door-lock-cluster.xml` definition.
I assumed that such parameters range would be checked by the underlying SDK code but it appears to be the opposite. I'm still not sure how to feel about this but anyway it requires a lot of code changes, mostly trivial: we need to

[2022-06-15 12:58] caipiblack commented on #12987
For information when using TE9 commit (and probably next commits) we are able to bypass the problem by calling the function `DisconnectDevice(NodeId)` from `CHIPDeviceController.cpp` in case of timeout during a request.

Then as we arrive to close the session, the next request will re-open it.

But, this function is not future proof:

[code]

So please, do not remove the function until the problem

[2022-06-15 14:07] tehampson opened #19620 "Test_TC_CGEN_2_1.yaml BasicCommissioningInfo should not use specific hardcoded values"
#### Problem
After https://github.com/project-chip/connectedhomeip/pull/19582 this xml looks like
[code]

While these are the default values they are not the required values and cert testing should just make sure that these fields are populated with some value greater than 0

[2022-06-15 14:10] #19139 closed

[2022-06-15 14:18] bzbarsky-apple commented on #19608
@dtodor For ESP32, the issue is known and tracked in https://github.com/project-chip/connectedhomeip/issues/18984

@dtodor For EFR32, groups are expected to work.  Please file a separate issue with exact steps to reproduce and logs.

For the original issue here, @sethunk thank you for the detailed steps and the complete (and even annotated!) logs.

This command in the sequence of commands executed

[2022-06-15 14:21] Ashwinigrl opened #19622 "When user does not exist, week day and year day schedules return NOT_FOUND, which is not allowed per spec."
**Problem** -when we try to send Set Week Day Schedule, Get Week Day Schedule, Clear Week Day Schedule command and Set Year Day Schedule, Get Year Day Schedule, Clear Year Day Schedule command we are getting (NOT_FOUND)

**sequence of steps**

Set Week Day Schedule =./chip-tool doorlock set-week-day-schedule 2 1 2  15 45 16 55 1 1 (Response=NOT_FOUND)
Get Week Day Schedule =./chip-tool doorlock ge

[2022-06-15 14:25] jepenven-silabs commented on #19608
Well the problem is right in the logs : Group registered on the EFR32 has an ipv6 address of
UDP:[ff35:40:fd00:0:0:0:100:3e8]:5540
While the command sent with chip-tool goes to
UDP:[ff35:40:fd00::100:3e8]:5540

Since the logs from the ESP32 doesn't have this problem, it might be specific to the implementation

[2022-06-15 14:29] dtodor commented on #19608
I don't get it, it is the same IP address actually, right?

[2022-06-15 14:33] bzbarsky-apple commented on #19610
This looks like an issue similar to the one #19221 fixed.  It looks like the two-arg form of `GroupDataProviderImpl::RemoveEndpoint` duplicates a bunch of the code from the three-arg form, and while the latter was fixed the former was not.

@rcasallas-silabs Could you take a look, please?  Ideally the impls would just be shared as much as possible, to avoid these problems....

[2022-06-15 14:38] bzbarsky-apple commented on #19611
AddGroupIfIdentifying is not part of Matter.

[2022-06-15 14:40] #19458 closed

[2022-06-15 14:47] bzbarsky-apple commented on #19612
In particular, the spec says "desc" for conformance for all these commands, and the prose says:

In this case the ActionList is an empty list.

[2022-06-15 14:47] #19612 closed

[2022-06-15 14:54] bzbarsky-apple commented on #19619
You need to subscribe before the fabric removal and have the subscription live during the fabric removal.  Then you may receive a message on the subscription with the event.

So for example:
[code]
followed by the following commands in interactive mode:
[code]
When I do that I see:
[code]
[code]

[2022-06-15 14:54] #19619 closed

[2022-06-15 14:54] Damian-Nordic opened #19623 "Implement TestEventTriggerDelegate for OTA requestor"
#### Problem
Testing OTA requestor is tough because it may involve waiting for very long time before the requestor sends another QueryImage command.

 #### Proposed Solution
Implement TestEventTriggerDelegate that could be used to trigger OTA query without waiting for the next timer expiry.

The delegate should handle the following event triggers: `0x0100_0000_0000_01<fi>` where `<fi>` is Fabric I

[2022-06-15 14:58] andy31415 commented on #18272
To me it looks like #18686 fixed chip tool for most cases and the rest of failures seem like spec issues (based on comment from @bzbarsky-apple above). I believe this is not a cert blocker.

[2022-06-15 15:00] dtodor opened #19624 "Group messaging on EFR32"
Group messages are not delivered to EFR32 devices.  According to the logs, the EFR32 device joins the group but does not receive any messages. The problem might be related to the configuration of the OpenThread Border Router.

The initial discussion was started in this thread: #19608.

[2022-06-15 15:02] dtodor commented on #19608
@jepenven-silabs I'll move the discussion to this thread: #19624.
@sethunk Sorry for hijacking the ticket!

[2022-06-15 15:04] g-coppock commented on #18786
Hello, we are using an internal solution for mDNS rather than `NsdManager` so I can't suggest directly. However, you may want to try disabling IPv4 support on the device (e.g. for the `examples` apps, `idf.py menuconfig` -> `Compoment config > CHIP core > General Options > Disable IPv4 functionality in the CHIP stack`) and see if that helps.

[2022-06-15 15:05] andy31415 commented on #16849
Would it be easier to update the spec to recommend using the mac as hostname?
Or does that potentially cause issues because macs (or other devices) may have overly long hostnames that devices then fail to work with due to embedded constrains?

[2022-06-15 15:20] andy31415 commented on #10221
Is advertising the name undesirable (sure is) or also wrong as per spec?

I do not see SHALL/SHOULD language regarding this in the spec. The text is:

[code]

So we say "all that is needed is contained in advertising data and we do not need to scan". I do not see "Matter device name should not appear in BLE advertising" in the spec. @cjandhyala was the test plan added? Should it be adjusted?

[2022-06-15 15:22] krypton36 commented on #14404
Spoke to @vivien-apple offline and the steps to test "Invalid NOCSR with an existing key pair" CSRResponse is as follows:
[code]

[2022-06-15 15:29] #19558 closed

[2022-06-15 15:30] andy31415 commented on #10221
I believe cert should validate: `Advertising data contains all critical data for device discovery` (need a list of what this is though ....). It should *NOT* check for `advertising data does not contain device name` as the spec does not explicitly mandate that.

[2022-06-15 15:42] bzbarsky-apple commented on #19604
From the server log:
[code]
The issue is that this command:
[code]
is passing in 0 for UserStatus and 0 for UserType, which correspond to "Available" (i.e. "does not exist") and "UnrestrictedUser".

It seems like that should perhaps error out at that point, instead of claiming success and creating a credential attached to a non-existent user?  @DanM-AssaAbloy @Morozov-5F @RyanLindemanCAE

But if i

[2022-06-15 15:45] Morozov-5F commented on #19604
@bzbarsky-apple yeah, that was definitely overlooked in the implementation. Should be an easy fix.

[2022-06-15 15:46] bzbarsky-apple commented on #19620
@kowsisoundhar12 please take a look?

[2022-06-15 15:48] bzbarsky-apple commented on #19622
@Ashwinigrl Is there an actual user at user index 1?  What commands were run to set up the user before running these schedule commands?

[2022-06-15 16:15] bzbarsky-apple commented on #19613
Looks like the groups cluster impl forces a particular NameSupport value at startup but does not touch the FeatureMap.

@rcasallas-silabs

[2022-06-15 16:16] bzbarsky-apple commented on #15310
@emargolis was there a reason to leave this open after #18866?  What's left to do here?

[2022-06-15 16:31] #14404 closed

[2022-06-15 16:51] mrjerryjohns opened #19630 "Memory allocation optimizations to reduce active `SecureSession` working set"
#### Problem

On platforms that statically pre-allocate space for pools, the `SecureSession` pool is sized to always be a fixed size. On heap-based platforms however, the active set slowly grows to expand to the hit limits of the configured pool size. This is not like typical `ObjectPool` behavior - due to the use of LRU in the session allocator, the working set will eventually 'peak out' at the c

[2022-06-15 17:09] isiu-apple commented on #19333
Verified the steps using Linux version.  Will upload successful logs shortly.  Steps taken:

Terminal 1:

Run OTA-P-1

out/apps/ota-provider/chip-ota-provider-app --discriminator 22 --secured-device-port 5565 --KVS /tmp/chip_kvs_provider -f ~/Downloads/test2.ota

Terminal 2:

Run OTA-P-2

out/apps/ota-provider/chip-ota-provider-app --discriminator 23 --secured-device-port 5566 --KVS /tmp/chip_kvs_

[2022-06-15 17:11] krypton36 commented on #19490
@phonnakasturi-apple I was able to verify your issue here. I left out the `--wifi` parameter when running the `all-clusters-app` on RaspberryPi and I got UNSUPPORTED_COMMAND. I re-ran the `all-cluster-app` with `--wifi` and the command was successful.

[2022-06-15 17:14] woody-apple commented on #19613
Cert Blocker Review: Assigning to @rcasallas-silabs to take a look at this. Thanks!

[2022-06-15 17:16] woody-apple commented on #19610
Cert Blocker Review: Tagging Cert blocker, keeping assigned to @rcasallas-silabs

[2022-06-15 17:18] woody-apple commented on #19608
Cert Blocker Review: Please note this comment:

[2022-06-15 17:26] woody-apple commented on #19136
Cert Blocker Review: Closing as a dup of https://github.com/project-chip/connectedhomeip/issues/19535

[2022-06-15 17:26] #19136 closed

[2022-06-15 17:26] bzbarsky-apple commented on #19611
Looking at the test plan at https://github.com/CHIP-Specifications/chip-test-plans/blob/master/src/cluster/Groups.adoc#323-tc-g-23-commands---getgroupmembership-addgroupifidentifying-dut-server it looks like the pre-conditions do _not_ have "DUT is identifying" as a pre-condition, and nothing in the test plan tells it to start identifying.  So it sounds like the test plan is buggy and needs fixing

[2022-06-15 17:27] woody-apple commented on #18272
Cert Blocker Review: Assigning to myself to break out.

[2022-06-15 17:29] woody-apple commented on #19611
Cert Blocker Review: @bzbarsky-apple will file a test plan issue, so closing this.

[2022-06-15 17:29] #19611 closed

[2022-06-15 17:29] selissia commented on #19333
Does the test plan have the correct steps? The document I have (Draft_TE9_TestPlanVerificationSteps 20220609.xlsx) does not list announce-ota-provider command in TC-SU-2.8 Steps 2 and 3.

[2022-06-15 17:31] woody-apple commented on #19563
Spec Issue Review: Assigning to @Morozov-5F

[2022-06-15 17:36] woody-apple commented on #19081
Spec Issue Review: @msandstedt and @tcarmelveilleux. It sounds like there may be an SDK workaround here for 1.0. If so, is this still a critical issue for 1.0?

[2022-06-15 17:39] woody-apple commented on #18984
Spec Issue Review: @rcasallas-silabs Are you able to take a look at this group issue?

[2022-06-15 17:43] woody-apple commented on #18901
Spec Issue Review: Tagging @franck-apple to follow up with Suma or Sankar to verify there's a test case that covers this, as well as the steps, and why this isn't a cert blocker if this is still failing.

[2022-06-15 17:45] woody-apple commented on #18848
Spec Review: Tagging @raju-apple to take a look at updating the YAML/tests as necessary.

[2022-06-15 17:46] bzbarsky-apple commented on #19490
In that case that all sounds correct.  If `--wifi` is not passed, the app pretends to not know anything about wifi, and does that in a spec-compliant manner.

[2022-06-15 17:46] #19490 closed

[2022-06-15 17:47] somu1710 opened #19632 "TC-SU-2.2 - UpdateAvailable is fails to send the image transfer after 3 minutes [180 sec]"
**Problem:**
TC-SU-2.2 step no-4 UpdateAvailable is fails to send the  image transfer after 3 minutes ,while sets the DelayedActionTime to 3 minutes.But the image transfer is happening without any time delay.

**Proposed solution:**
While set the DelayedActionTime to 3 minutes it should transfer the image after the 3 minutes.

Commit used: c1e1d018820c0fdd51f124f607b9207f31fae2ff
Device used : Ras

[2022-06-15 17:49] woody-apple commented on #18532
Spec Issue Review: Sankar to confirm that this test case is indeed running and passing.

[2022-06-15 17:56] kghost commented on #19259
@bzbarsky-apple When trying to solve problem 2.2, the `OperationalDeviceProxy` object is passed to `ClusterBase::Associate` which assigned to `ClusterBase::mDevice`.

So I have to change `mDevice` to a session handle, this should be a straightforward and simple change, but not small. Also need to add a member of pointer to `ExchangeManager` to `ClusterBase`, which may impact memory usage.

[2022-06-15 18:03] #19331 closed

[2022-06-15 18:06] tehampson opened #19634 "Rename CONFIG_IM_BUILD_FOR_UNIT_TEST"
#### Problem
`CONFIG_IM_BUILD_FOR_UNIT_TEST` has outgrown it's name as it is used for unit tests outside of IM

 #### Proposed Solution
Replace `CONFIG_IM_BUILD_FOR_UNIT_TEST` with `CONFIG_BUILD_FOR_HOST_UNIT_TEST` or something similar

[2022-06-15 18:40] turon commented on #10221
I agree.  Certification requires the specified payload exists.  If a vendor wants to add extra TLVs such as device name to their advertisement, that is fine.  Those extra TLVs may:

0) not exist at all (no device name);
1) fit in the ADV data;
2) fit in the SCAN response;
3) be partially encoded in ADV data and SCAN response (flow over)

All of the above are valid.  Certification must simply valid

[2022-06-15 19:00] chrisbeach59 opened #19638 "[pre-sve]tc-OPCREDS-1.2 Step 6"
Command 12 (AddTrustedRootCertificate) is mandatory and missing
Have Verified it is checked in ZAP GUI.
This passed in the week 1 sha

./chip-tool operationalcredentials read accepted-command-list 1111 0

 [1655319284.941700][2979:2984] CHIP:TOO: Endpoint: 0 Cluster: 0x0000_003E Attribute 0x0000_FFF9 DataVersion: 70461609
[1655319284.941789][2979:2984] CHIP:TOO:   AcceptedCommandList: 8 entries
[1

[2022-06-15 19:07] mkardous-silabs commented on #19624
@dtodor
Group commands work on efr32 MG12 and MG24.
There might be an issue with the commands you are using or the setup as you mentionned.

Did you send the same commands mentionned in the referenced ticket?

[2022-06-15 19:09] dtodor commented on #19624
We are using EFR32 MG12. Yes, we are sending the same commands. The OTBR sees the multicasts, but no packets are received by the device.

[2022-06-15 19:47] chrisbeach59 opened #19639 "[pre-sve]TC-BSINFO-2.2 Step 1"
TC-BINFO-2.2 Step 1 - Expected the Event number be 0

./chip-tool basic read-event start-up 1111 0

My result:
1655320431.632359][3086:3092] CHIP:TOO: Endpoint: 0 Cluster: 0x0000_0028 Event 0x0000_0000
[1655320431.632427][3086:3092] CHIP:TOO: 	 Event number: 262144
[1655320431.632484][3086:3092] CHIP:TOO: 	 Priority: Critical
[1655320431.632538][3086:3092] CHIP:TOO: 	 Timestamp: 19056
[1655320431.

[2022-06-15 19:59] mspang commented on #19134
There may need to be a Matter side change to account for
https://pigweed-review.googlesource.com/c/pigweed/pigweed/+/90380

[2022-06-15 20:02] mspang commented on #19134
Probably this:

[code]

[2022-06-15 20:03] mspang commented on #19134
Can someone with access to an M1 host test the above change?

[2022-06-15 20:24] ReneJosefsen commented on #19134
Hmm, I tried adding in the change and bootstrap it. It seems like it still throws the error when I try to build chip-tool.

`chip::Crypto::P256Keypair::ECDH_derive_secret(chip::Crypto::P256PublicKey const&, chip::Crypto::CapacityBoundBuffer<32ul>&) const in libChipCrypto.a(libChipCrypto.CHIPCryptoPALOpenSSL.cpp.o)
ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed

[2022-06-15 20:27] mkardous-silabs commented on #19624
I was able to validate the issue is not with the device but with the commands used to configure the groups.
This issue can be closed. I will add the commands I used in the associated ticket.

[2022-06-15 20:35] Shadi-Silabs opened #19642 "pre-sve [TC-MF-1.21][TC-MF-1.22]"
#### TC-MF-1.21 and 1.22 step#5:
Not able to commission the 5th fabric for both tests. supported-fabrics parameter is 5, and I was able to commission 4 fabrics and open the 5th commissioning window without an error, but commissioning the 5th fabric failed.
The errors are either:
CHIP Error 0x00000003: Incorrect state
or
CHIP Error 0x00000032: Timeout
the logs are all below:
[TC-MF-1.21.txt](https:

[2022-06-15 20:37] mspang commented on #19134
Can you provide the build command and the rest of the output ?

FWIW you can set chip_crypto="mbedtls" to avoid the openssl via brew hassle

[2022-06-15 20:54] andy31415 commented on #19638
@chrisbeach59 - what app, platform was this?
SHA may also be useful for whoever does not directly know or follow pre-sve shas.

https://github.com/project-chip/connectedhomeip/blob/master/docs/BUG_REPORT.md#writing-an-effective-bug-report

[2022-06-15 21:02] mkardous-silabs commented on #19608
I was able to confirm there is not issue device side, at least for efr32 devices.
@bzbarsky-apple I @sethunk I ran the test again on an efr32 MG12 device and everything works as expected.
Here are the commands I ran.

- Device side
[code]

- Controller

[code]

- Send Command
[code]

- Validate Command
[code]

[2022-06-15 21:17] mrjerryjohns commented on #19259
I'm labelling this 1.0 since this will become more imperative when we have multiple consumers of `OperationalDeviceProxy` in the SDK (IM will be one of them...)

[2022-06-15 22:06] s-mcclain opened #19646 "[pre-sve] all-clusters-app always returns no wifi results for scan request"
#### Problem
Performing the following test using RPi as the all-clusters-app and the chip-tool with the following commands:
./chip-tool pairing onnetwork 1 20202021
./chip-tool networkcommissioning scan-networks 1 0
./chip-tool networkcommissioning scan-networks 1 0 --Ssid null

Even though the RPi scans many networks, it returns either 1 or no network.

all-clusters-app:
[code]

chip-tool:
[code]

[2022-06-15 22:26] jepenven-silabs commented on #18984
This is platform specific to LwIP, issue is not present on Native Openthread platform nor on Zephyr platform. @Damian-Nordic can you confirm that it indeed works on Zephyr?

De-assigning Ricardo from this issue since its platform specific

[2022-06-15 22:28] jepenven-silabs commented on #18984
More over if the device is using IPV4 this is expected behavior at that point since multicast doesn't support IPV4

[2022-06-15 22:35] #16839 closed

[2022-06-15 23:26] emargolis opened #19648 "Add New Negative Test Cases for Commissioner DUT"
#### Problem
There are about 140 negative test vectors generated and placed here:
    credentials/development/commissioner_dut/
Those test vectors include various errors in DAC, PAI, and CD, which should be rejected by commissioner.

 #### Proposed Solution
Implement those test cases

[2022-06-15 23:32] akrithika27 commented on #19648
Reference [document](https://docs.google.com/spreadsheets/d/12a1HNgskNOpafIXEiJif6lLtCq8oi_CqkRoUOfOCIJ8/edit?resourcekey=0-z4RHDg9WjNX4zOKqES_QHg#gid=1687570238)

[2022-06-16 00:18] #19451 closed

[2022-06-16 00:19] jepenven-silabs commented on #19624
Closing since working on our side. Verified by @mkardous-silabs . Walk-trough can be seen here : https://github.com/project-chip/connectedhomeip/issues/19608#issuecomment-1156931777

[2022-06-16 00:19] #19624 closed

[2022-06-16 00:43] #18783 closed

[2022-06-16 00:46] Garik098 opened #19649 "Pre SVE chip tool testing: TC-DL-3.1 reading ledsettings, enable-local-programming, local-programming-features, send-pinover-the-air, expiring-user-timeout giving unsupported attribute error"
SHA:5d8599d195a93dfe5473f64e4f888c322e5df1d2

Platform: Chip Tool running on Mac, all cluster app running on nRF52840-DK (Thread setup)

In TC-DL-3.1, reading attributes as per Step 20 ( ledsettings), step 26(enable-local-programming), step 30 (local-programming-features), step 33(send-pinover-the-air), step 35 (expiring-user-timeout) are giving unsupported attribute error.

Commands used:
./chip-

[2022-06-16 01:22] phonnakasturi-apple opened #19650 "TC-OCC 2.2 -> Steps 5 - 15 throw 0x86 (UNSUPPORTED_ATTRIBUTE) on raspi"
With SHA 5d8599d195a93dfe5473f64e4f888c322e5df1d2

In test case TC-OCC-2.2 from steps 5-15 throw 0x86 (UNSUPPORTED_ATTRIBUTE) on raspi (ubuntu)

This is seen in chip-tool + darwin-framework-tool

raspi is executing chip-all-clusters-app
and on mac we are executing darwin-framework-tool app

Attaching the logs from Mac (darwin-framework-tool);
[macLogs.txt](https://github.com/project-chip/connected

[2022-06-16 01:25] Garik098 opened #19651 "Pre SVE Chip Tool Testing: TC-DL-3.2 Step 1 (lock-door), Step 2 (unlock-door), step 3(unlock-with-timeout), step 14(set-user), step 15(clear-user), step 17(get-credential-status), step 18(clear-credential) commands giving general error 0x01"
SHA:5d8599d195a93dfe5473f64e4f888c322e5df1d2

Platform: Chip Tool running on Mac, all cluster app running on nRF52840-DK (Thread setup)

As per TC-DL-3.2, Step 1 (lock-door), Step 2 (unlock-door), step 3(unlock-with-timeout), step 14(set-user), step 15(clear-user), step 17(get-credential-status), step 18(clear-credential) commands were giving 0x01 (General Error) response.

Commands used:
./chip-t

[2022-06-16 01:27] Garik098 opened #19652 "Pre SVE chip tool testing: Few steps in TC-DL-3.2 are giving general error (0x8b) response"
SHA:5d8599d195a93dfe5473f64e4f888c322e5df1d2

Platform: Chip Tool running on Mac, all cluster app running on nRF52840-DK (Thread setup)

As per the steps in TC-DL-3.2, the below commands are giving general error (0x8b) response

Commands used:

./chip-tool doorlock set-week-day-schedule 3 2 2 8 15 9 15 1 1
./chip-tool doorlock clear-week-day-schedule 1 1 1 1
./chip-tool doorlock set-year-day-sched

[2022-06-16 01:34] Leo2442926161 opened #19653 "CASESession.cpp:285: CHIP Error 0x00000032: Timeout"
Dear all,

I am pairing efr32-light-switch to fabric, but sometimes, I met below error, could you take a look? the chip_tool and efr32-light-switch log are attached.

CHIP:TOO: Run command failure: ../../../examples/chip-tool/third_party/connectedhomeip/src/protocols/secure_channel/CASESession.cpp:285: CHIP Error 0x00000032: Timeout

[efr32-light-switch pairing failed.txt](https://github.com/proje

[2022-06-16 02:10] phonnakasturi-apple opened #19654 "TC-TSTAT-3.2 -> thermostat setpoint-raise-lower throws General error: 0x81 (UNSUPPORTED_COMMAND) error on raspi"
With SHA 5d8599d195a93dfe5473f64e4f888c322e5df1d2

For test case TC-TSTAT-3.2

The following commands throw -> General error: 0x81 (UNSUPPORTED_COMMAND) error on raspi for chip-tool + darwin-framework-tool

./darwin-framework-toolthermostat setpoint-raise-lower 0 10 1 1
./darwin-framework-tool thermostat setpoint-raise-lower 0 -10 1 1

./chip-tool thermostat setpoint-raise-lower 0 10 1 1
./chip-to

[2022-06-16 02:18] phonnakasturi-apple opened #19655 "get-relay-status-log must be implemented for chip-tool + darwin-framework-tool"
get-relay-status-log must be implemented for chip-tool + darwin-framework-tool for testing step 3 in TC-TC-TSTAT - 3.2

<img width="1542" alt="get-relay-status-log" src="https://user-images.githubusercontent.com/101904389/173977084-4de70e61-30ec-4cee-9d04-95abec8e1771.png">

[2022-06-16 02:39] phonnakasturi-apple opened #19657 "TC- PRS 3.1 -> read tolerance, scaled-value, min-scaled-value , max-scaled-value , scaled-tolerance and scale throw (UNSUPPORTED_ATTRIBUTE) error"
With SHA 5d8599d195a93dfe5473f64e4f888c322e5df1d2

In test case TC- PRS 3.1 -> read tolerance, scaled-value, min-scaled-value , max-scaled-value , scaled-tolerance and scale throw (UNSUPPORTED_ATTRIBUTE) error on raspi for chip-tool and darwin-framework-tool

Attaching the logs from chip-tool:
[TC-PRS-3.1chiptoolLog.txt](https://github.com/project-chip/connectedhomeip/files/8915218/TC-PRS-3.1chipt

[2022-06-16 04:04] bzbarsky-apple commented on #19638
AddTrustedRootCertificate is command 11 (0x0b in the spec).

Command 12 was RemoveTrustedRootCertificate, which has been removed from the spec and the SDK.

That said, this is the second issue I see that thinks AddTrustedRootCertificate is command 12; see also #19548.

@chrisbeach59 was there something in the test script that claimed AddTrustedRootCertificate is command 12?  Or in the test plan?

[2022-06-16 04:04] #19638 closed

[2022-06-16 04:08] bzbarsky-apple commented on #19639
Why?  Event numbers are (1) persisted across reboots and (2) may increase quite quickly if the node reboots a lot; they go up by about 1000 every reboot in the default SDK config.  That's why it's a 64-bit number, so even with that it won't roll over in practice.

The test plan at https://github.com/CHIP-Specifications/chip-test-plans/blob/master/src/devicemanagement.adoc#422-tc-binfo-22-events-du

[2022-06-16 04:08] #19639 closed

[2022-06-16 04:12] bzbarsky-apple commented on #19646
Looks very similar to #18901.

[2022-06-16 04:27] screensforme commented on #18786
Thanks for your response. I shall try this.

@xylophone21 Since you are primary author of NsdManagerServiceResolver.java, I am asking this query.
Is the above mentioned problem is known in android ?
When there is both IPv4 and IPv6 address, NsdManagerServiceResolver will not be able to resolve IPv6 address ?

[2022-06-16 04:47] raju-apple commented on #19620
Currently looks like we don't have a way to check the range within a struct value in yaml (https://github.com/project-chip/connectedhomeip/issues/17997) , But for now we can put up a manual user prompt just for this step for the user to validate its within the range and not checking a specific value. @kvikrambhat Can you please put the PR for this modified script once its up please ?

[2022-06-16 04:49] raju-apple commented on #18848
@manjunath-grl Can you re-try today again and see if its still happening and check.

[2022-06-16 04:59] bzbarsky-apple commented on #19649
@Garik098 These are all optional attributes; all-clusters-app does not support them, it's correctly reporting UNSUPPORTED_ATTRIBUTE.  Just checked the test plan, and it has these correctly conditioned on the relevant PICS values...

Where is the issue, exactly?

[2022-06-16 05:09] bzbarsky-apple commented on #19650
@phonnakasturi-apple These are optional attributes, and are not implemented by all-clusters-app, right?  These tests are conditioned on PICS in the test plan....  Why is this an issue?

[2022-06-16 05:11] bzbarsky-apple commented on #19651
@Garik098 Please test the door lock tests against lock-app.

[2022-06-16 05:12] bzbarsky-apple commented on #19652
Duplicate of #19622

[2022-06-16 05:12] #19652 closed

[2022-06-16 05:14] bzbarsky-apple commented on #19654
Fixed in #19467

[2022-06-16 05:14] #19654 closed

[2022-06-16 05:15] bzbarsky-apple commented on #19655
Device library section "9.2.5. Element Requirements" says this is Zigbee-only.

[2022-06-16 05:15] #19655 closed

[2022-06-16 05:18] bzbarsky-apple commented on #19657
@phonnakasturi-apple These are all optional attributes.  Some conditioned on the EXT feature, some outright optional.

Was the EXT bit set in the feature map in this case?  When I test with all-clusters-app it's not set.  So the attributes are optional, not supported in this app, and correctly return UNSUPPORTED_ATTRIBUTE.  Where is the issue?

[2022-06-16 05:26] #14228 closed

[2022-06-16 05:34] bzbarsky-apple commented on #19259
@kghost Just to allay the ClusterBase concern: those are stack-only objects in practice.

[2022-06-16 05:45] bzbarsky-apple commented on #19563
@Morozov-5F Yes, the underlying code does not yet know to do range checks on enums....  Sorry.  :(

[2022-06-16 05:54] ChengqiangShe opened #19662 "Commissioning of low-power devices failed"
#### Commissioning of low-power devices failed

[chip-tool.log](https://github.com/project-chip/connectedhomeip/files/8916043/chip-tool.log)
[EFR32MG24_BRD4186.txt](https://github.com/project-chip/connectedhomeip/files/8916044/EFR32MG24_BRD4186.txt)

tag：TE9

Commissioning of low-power devices (linght-switch-app, lock-app) using CHIP-TOOL on the Raspberry Pi often fails. It should be that mDns can

[2022-06-16 05:59] bzbarsky-apple commented on #16849
Exactly.  We ran into this because minmdns was using a buffer sized to the spec thing and failing out if the hostname did not
fit in there, iir.

[2022-06-16 06:00] bzbarsky-apple commented on #16858
Sounds like a question for @kpark-apple as to what "removes" means in his setup....

[2022-06-16 06:00] bzbarsky-apple commented on #16425
@manjunath-grl thanks for retesting!

[2022-06-16 06:00] #16425 closed

[2022-06-16 06:10] bzbarsky-apple commented on #19653
It's hard to make sense of the server log when there are no timestamps of any sort (even boot-relative) and no logging of incoming payloads, but from the chip-tool log, here is where we finished setting up PASE:
[code]
Here's where we discovered the operational address near the end of commissioning:
[code]
Here's where we sent the Sigma1 message for sending CommissioningComplete:
[code]
and we nev

[2022-06-16 06:56] ReneJosefsen commented on #19134
I did not know about the mbedtls crypto, that might be useful. I ended up using the 'current_cpu="arm64"' 'mac_deployment_target="12.0"' parameters, which have worked great for me, so had not changed that yet.

Sure no problem, I re-added the change and tried again. This time I deleted my .environment folder since bootstrap for some reason failed and now it seems to be working so maybe my environm

[2022-06-16 07:20] yunhanw-google opened #19665 "[JAVA] Add IM event support in android Java/JNI"
#### Problem
During Test event, Android platform can't test IDM-6.3 and IDM6.4.
1. We need to add subscribeToEventPath and readEventPath API in Android Platform.

for subscription, currently we prefer using readClient->SendAutoResubscribeRequest, similar to what we used in darwin, https://github.com/project-chip/connectedhomeip/blob/master/src/darwin/Framework/CHIP/CHIPDevice.mm#L423.
Also we reco

[2022-06-16 07:21] yunhanw-google opened #19666 "[JAVA] No way to subscribe attributes with KeepSubscription Flag"

[2022-06-16 07:24] yunhanw-google opened #19667 "[JAVA] Lack of Java chip-tool E2E Test"
#### Problem
We need to add the E2E presubmit test for Java CLI commissioning and IM command/write/read/subscribe.

[2022-06-16 07:25] yunhanw-google opened #19668 "[JAVA] Need to extend read/subscribe attribute with cluster state cache"
#### Problem
 we recommend to use cluster state cache for attribute read/subscribe, similar to https://github.com/project-chip/connectedhomeip/blob/master/src/darwin/Framework/CHIP/CHIPDevice.mm#L406, which has fine-grained data version filter and event filter support.

[2022-06-16 07:26] yunhanw-google opened #19669 "[JAVA] Update to use SendAutoResubscribeRequest for attribute subscribe"
#### Problem
for subscription attribute, currently we prefer using readClient->SendAutoResubscribeRequest, similar to what we used in darwin, https://github.com/project-chip/connectedhomeip/blob/master/src/darwin/Framework/CHIP/CHIPDevice.mm#L423.

[2022-06-16 07:37] yunhanw-google opened #19670 "[JAVA] Add onDone callback for read attribute/event"
#### Problem
We also need to modify
public interface ReportCallback {
void onError(ChipAttributePath attributePath, Exception e);
void onReport(NodeState nodeState);
}
where you need add onDone callback.
When read event, you possibly cannot get anything because there is no generated related event in server, which is expected behavior, c++ layer would not call onError and onReport in this situation

[2022-06-16 08:03] Morozov-5F commented on #19563
@bzbarsky-apple no problem, should be a fairly straightforward fix

[2022-06-16 08:03] yunhanw-google opened #19671 "[JAVA] Need API to read/subscribe attribute/event at the same time"
Per spec and test plan, we need android API to support attribute/event read/subscribe at the same time.

[2022-06-16 09:06] trombadore commented on #15810
This https://github.com/project-chip/connectedhomeip/pull/15833 PR closed this issue, just adding for visibility.

[2022-06-16 09:47] #18243 closed

[2022-06-16 09:53] manjunath-grl commented on #18238
Tested with YAML script on ToT issue not observed

[2022-06-16 10:09] absoluteabutaj opened #19675 "source scripts/activate.sh fails with python 3.10.4"
After cloning and initialising the sub-module I tried to run `source scripts/activate.sh`  which provides,

[code]

I check with the issue [#5455](https://github.com/project-chip/connectedhomeip/issues/5455) but it doesn't helped.

My machine is running `Ubuntu 22.04 LTS x86_64`

What am I missing?

[2022-06-16 12:05] #17205 closed

[2022-06-16 12:25] sowmyassp opened #19676 "[TC-DD-3.17] - DUT should terminate the commissioning process when we pass invalid QR Code, but DUT successfully completed the commissioning process"
**Issue** : According to test-plan of [TC-DD-3.17] In Step 6b its mentioned DUT should terminate the commissioning process when we pass invalid 21 digit manual code generated in step 6a but DUT successfully completed the commissioning process.

**Expected behaviour** : DUT should terminate the commissioning mode when invalid 21 digit manual code is passed

**Actual behaviour** : DUT successfully c

[2022-06-16 12:39] #19585 closed

[2022-06-16 12:40] kpark-apple commented on #16858
I meant factory reset on the removed node side and removing node info from the peer (controller) side.

[2022-06-16 12:45] andy31415 commented on #16858
I would also say factory reset is likely not a frequent operation is typical use, however it is a very frequent operation in test cases.

My concern is to not optimize for certificate test at the expense of normal operation. If we set very short TTLs, it will be great for frequest 'factory reset' since devices go away fast, but it will increase chatter and discovery on real device installations.

[2022-06-16 12:52] andy31415 commented on #18786
In other implementations (e.g. avahi), the resolver often returns the first IP address it sees. The logic being "server provides a list of available ip addresses, all of them being equivalent".

As a result, it seems that if a device is able to advertise both ipv6 and v4, any could be used. I would suggest to try with something that is never ipv4 like thread devices, to make sure things work corre

[2022-06-16 12:58] kpark-apple commented on #16858
Do we expect that devices will provide a way to enter commissioning mode on network without factory reset when user faces odd issues and wanted to remove and add back devices?

[2022-06-16 13:23] tehampson opened #19678 "Closing the commissioning window should not expire fail-safe"
#### Problem
With Max Cumulative Fail safe timer created we now should no longer expire the failsafe timer when the commission window closes either due to open window timeout or RevokeCommissioning command

[2022-06-16 13:26] #18610 closed

[2022-06-16 13:28] rgoliver opened #19679 "NRF RPC build is broken"
#### Problem
The NRF lighting RPC build doesn't appear to boot, has no logs, no flashing LEDs (just the solid one for power), and doesn't respond to RPCs.

I did a git bisect and tracked it down to the NRF SDK update: #18983

[2022-06-16 13:34] sowmyassp opened #19680 "[TC-DD-3.14] - DUT should terminate the commissioning process when we pass invalid QR Code, but DUT successfully completed the commissioning process"
**Issue** : According to test-plan of [TC-DD-3.14] In Step 3b its mentioned DUT should terminate the commissioning process when we pass invalid QR code generated in step 3a but DUT successfully completed the commissioning process.
Similarly the commissioning process is completed for step 3c, 4a, 4c when we pass invald QR code

**Expected behaviour** : DUT should terminate the commissioning mode wh

[2022-06-16 13:36] sowmyassp commented on #17205
[19676](https://github.com/project-chip/connectedhomeip/issues/19676)
[19680](https://github.com/project-chip/connectedhomeip/issues/19680)

[2022-06-16 14:17] bzbarsky-apple commented on #19675
@mspang @andy31415

[2022-06-16 14:46] rwells1703 opened #19683 "Chip-tool commissioning lighting app - Failed to perform commissioning step 18"
Hello, I'm having an issue on a Linux x64 build of chip-tool. Currently I'm trying to get chip-tool to commission the example lighting-app over ethernet, but it fails on step 18. The chip tool is running on a Ubuntu 20.04 x64 PC and the lighting-app is running on a Debian 5.10.84-1 x64 PC.

Not sure if its possibly related to #18753, as it fails at the same step. Both devices are on the same local

[2022-06-16 15:07] bzbarsky-apple commented on #19676
What the test plan says here is:

The test plan does NOT require a DUT to fail to commission these vendor ids; it just requires that the user be clearly notified that these are uncertified devices.

And even that notification is not reasonable as a _default_ behavior for our test tools, because commissioning things with test vendor ids is by far the most common use of those test tools.

I think we

[2022-06-16 15:08] bzbarsky-apple commented on #19679
@kkasperczyk-no @Damian-Nordic

[2022-06-16 15:11] bzbarsky-apple commented on #19680
This is lumping together completely different things, which need different actions/ resolutions.  @sowmyassp Please file one issue per issue.  There should be 4 separate issues here, each with a clear description of the expected behavior _and spec references to back up that clear description_.

[2022-06-16 15:54] tehampson commented on #19678
Does [the spec need to be updated](https://github.com/CHIP-Specifications/connectedhomeip-spec/blame/master/src/service_device_management/CommissioningFlows.adoc#L75). In section 5.5 I see:
[code]

[2022-06-16 15:57] #18431 closed

[2022-06-16 16:06] AntonGrey opened #19686 "PartsList attribute of an Aggregator endpoint doesn't list composed Bridged Device endpoints."
#### A little intro to better understand preconditions. A Bridge device has an Aggregator endpoint which has a Descriptor cluster with a PartsList attribute. So, this PartsList attribute must list all the endpoints representing Bridged Devices. But in case if one of Bridged Devices is composed Bridged Device, PartsList doesn't list composed endpoints except root.

 * expected behavior: Reading Par

[2022-06-16 16:09] bzbarsky-apple commented on #19642
[TC-MF-1.22-DUT.txt](https://github.com/project-chip/connectedhomeip/files/8912885/TC-MF-1.22-DUT.txt) is an empty file, so not much to say about that one....

[2022-06-16 16:45] bzbarsky-apple commented on #19686
@AntonGrey are you able to put a PR together for this?

[2022-06-16 16:49] kowsisoundhar12 commented on #19561
@bzbarsky-apple  sorry about that, it does look like the verification step defined in  the test plan does not really check anything, let me check with the tests plan team on what was the reason behind this , I also noticed that these attributes tolerance ,Scale,ScaledTolerance, ScaledValue are giving unsupported attribute response in YAML framework and it seem to work during my testing due to the

[2022-06-16 16:55] sowmyassp commented on #19680
Thank you @bzbarsky-apple

[2022-06-16 17:02] sankarselvam commented on #18532
@woody-apple  This test is not passing in QA. This test has been linked to the testplan issue  [1453](https://github.com/CHIP-Specifications/chip-test-plans/issues/1453)
Test plan requires an update as well.

[2022-06-16 17:10] sankarselvam commented on #19333
@selissia We tried this tests and seems passing in QA. Logs attached for the reference. Can you please check once?

[OTA-REQUESTOR (1).txt](https://github.com/project-chip/connectedhomeip/files/8920986/OTA-REQUESTOR.1.txt)
[CHIP-TOOL (1).txt]
[OTA-PROVIDER-2.txt](https://github.com/project-chip/connectedhomeip/files/8920989/OTA-PROVIDER-2.txt)
(https://github.com/project-chip/connectedhomeip/files

[2022-06-16 17:20] mrjerryjohns commented on #19678
^^ @tcarmelveilleux @bzbarsky-apple

[2022-06-16 17:26] bzbarsky-apple commented on #19678
What is the spec update being proposed?

What the spec says right now is:

1. When the commissioning window opens, start listening for incoming PASE.
2. If a PASE session is established, arm a fail-safe.
3. If the fail-safe expires, close the PASE session.
4. If the PASE session is closed, expire the fail-safe.  Note that this means that the lifetime of the fail-safe exactly matches the lifetime o

[2022-06-16 17:26] bzbarsky-apple commented on #19678
And as of yesterday I believe the SDK implements all of those bits, by the way.

[2022-06-16 17:31] sankarselvam commented on #19333
Attaching the commands list which have used for ease of Ref
[OTA-  MP CMMDS.txt](https://github.com/project-chip/connectedhomeip/files/8921142/OTA-.MP.CMMDS.txt)

[2022-06-16 17:52] chrisbeach59 commented on #19639
@bzbarsky-apple The verification steps showed it as 0.

[2022-06-16 17:56] sumaky commented on #19622
@bzbarsky-apple This is an issue with test plan as well.
 https://github.com/CHIP-Specifications/chip-test-plans/issues/1537

[2022-06-16 18:36] isiu-apple commented on #19333
Re-did the test on Linux without announce-ota-provider command and tests also passes.  Here are the steps taken:

Terminal 1:

Run OTA-P-1

out/apps/ota-provider/chip-ota-provider-app --discriminator 22 --secured-device-port 5565 --KVS /tmp/chip_kvs_provider -f ~/Downloads/test2.ota

Terminal 2:

Run OTA-P-2

out/apps/ota-provider/chip-ota-provider-app --discriminator 23 --secured-device-port 5566

[2022-06-16 18:39] tehampson commented on #19678
I don't have a proposed update, more so I am trying to understand the discussion around https://github.com/project-chip/connectedhomeip/pull/19636/files#r898314839 and how it relates to making sure we do not expire the fail-safe timer when the commission window closes either due to open window timeout or `RevokeCommissioning` command.

I was under the impression that is the open window times out,

[2022-06-16 18:49] tehampson commented on #19678
I see where I have a misunderstanding:

The `CommissioningTimeout` applies only to cessation of any announcements and to accepting of new commissioning sessions; it does not apply to abortion of connections, i.e., a commissioning session SHOULD NOT abort prematurely upon expiration of this timeout.

So closing of the window doesn't terminate the PASE connection

[2022-06-16 19:07] andy31415 commented on #16858
created #19692 to see if that improves the story for platforms using minmdns. Other platforms should presumably remove their records on ::Shutdown being called.

[2022-06-16 19:29] Morozov-5F commented on #18532
Yep, sorry, I meant exactly that, thanks

[2022-06-16 19:53] s-mcclain opened #19694 "[pre-sve] ESP32 OTA-R commissioning failure during ReadCommissioningInfo"
#### Problem
When attempting to commission an OTA-R with the chip-tool, I'm consistently getting commissioning failures due to an Interaction Model Error.

The OTA-R is an esp32 device and I'm using chip-tool on macOS.

The logs are as followed on chip-tool:

[code]

On the esp32:

[code]

[2022-06-16 19:56] emargolis commented on #19336
Closing with #19627

[2022-06-16 19:56] #19336 closed

[2022-06-16 19:57] emargolis commented on #19335
Fixed with #19549. Closing

[2022-06-16 19:57] #19335 closed

[2022-06-16 22:06] bzbarsky-apple commented on #19639
@chrisbeach59 Thank you!

[2022-06-16 22:08] bzbarsky-apple commented on #19638
@cjandhyala @naveenkommareddi can we get the verification steps here fixed?

[2022-06-16 22:11] isiu-apple commented on #19632
There has been a recent spec change:

`The DelayedActionTime field SHALL only be present if the Status field is set to Busy.`

OTA Test plan was updated to account for recent spec changes - https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5248
And this test case has been removed as a part of this change.
Plz refer to the latest Test plan here - https://github.com/CHIP-Specification

[2022-06-16 22:11] #19632 closed

[2022-06-16 22:12] bzbarsky-apple commented on #19642
OK, so in the 1.22 DUT log I see:
[code]
and again the TH log does not show `376851A89CC29C75` anywhere.  So seems like the same issue...

[2022-06-16 22:14] bzbarsky-apple commented on #19678
Right, this is very important.  :)

[2022-06-17 00:33] dwgaul opened #19699 "[darwin-framework-tool] Interactive Mode/OTA Provider: QueryImage command is not implemented on darwin-framework-tool"
Testing darwin-framework-tool in interactive mode, to test our OTA Provider implementation. It looks like when the accessory sends a QueryImage command to the darwin-framework-tool we drop it on the floor due to no command being found:

[code]

Steps to reproduce:

1. Use darwin-framework-tool to commission the device to the same fabric.
2.  Use darwin-framework-tool to write the default ota provi

[2022-06-17 00:43] #19172 closed

[2022-06-17 02:16] bzbarsky-apple commented on #19694
I believe this is partial fallout for the fix  #19428 @carol-apple for the "linux" version of the app that added this secondary endpoint.  The ESP32 app should be disabling the secondary network commissioning endpoint that it's not actually using.  `Esp32AppServer::Init` sets up a network commissioning driver on endpoint 0, but does not disable the secondary endpoint.

`examples/all-clusters-app/e

[2022-06-17 04:26] bzbarsky-apple opened #19706 "ACL behavior depends on link order because of how privilege-storage.cpp and RequiredPrivilege.cpp interact"
#### Problem
`src/app/RequiredPrivilege.cpp` and `src/app/util/privilege-storage.cpp` both define functions with the same names; the former defines them as weak symbols, while the latter defines them as non-weak symbols.

Unfortunately, _all_ the symbols in `privilege-storage.cpp` match names in `RequiredPrivilege.cpp`, so if the static library containing `RequiredPrivilege.cpp` happens to come ea

[2022-06-17 04:28] bzbarsky-apple commented on #19699
That's not right....  Created https://github.com/project-chip/connectedhomeip/pull/19705 to fix the obvious issues there.  With those changes, this lands at:
[code]
so at least the dispatch plumbing works right to get there.

[2022-06-17 06:06] shubhamdp commented on #19694
Thanks @bzbarsky-apple, I have put up a PR to fix this.

[2022-06-17 06:31] shubhamdp commented on #18791
Tested on Commit: 26d6c544ae6e98034be6e2f865961a6df71d9429, I can see the list of networks, please see the attached logs.
[scan_network.log](https://github.com/project-chip/connectedhomeip/files/8925037/scan_network.log)

[2022-06-17 06:36] #18791 closed

[2022-06-17 06:37] PSONALl commented on #18791
closing this issue

[2022-06-17 06:51] PSONALl commented on #19455
I had added a cli option to set an attribute to true on my own let me check that patch again and I will update here soon

[2022-06-17 06:57] manjunath-grl commented on #13645
@bzbarsky-apple it is resolved and i tried it in ToT its passing ,can you please close this issue

[2022-06-17 06:59] #19680 closed

[2022-06-17 07:10] Damian-Nordic commented on #18984
@jepenven-silabs Yes, it definitely worked the last time I tried it on Zephyr platform and I believe we have automated tests for this functionality.

[2022-06-17 08:20] niulei0514 commented on #8810
# Put CIPD client in tools so that users can easily get it in their PATH.
CIPD_HOST = 'chrome-infra-packages.appspot.com'
源码中的 这个地址确实对中国用户很不友好........  要么找代理  要么翻墙...  否则没办法构建.......

[2022-06-17 08:32] doublemis1 opened #19708 "[Pre-SVE] Fabrics list doesn't cotain real fabricid value"
#### Problem
While reading fabrics, the struct doesn't contain the FabricID value.
[code]

./chip-tool operationalcredentials read fabrics 1 0 --fabric-filtered 0
[code]

Where compresed FabricID for FabricIndex 1 and 2 are
[code]

 #### Proposed Solution
Fix to be spec complaint

[2022-06-17 08:54] doublemis1 opened #19709 "[Pre-SVE] access-control-entry-changed is emitted on maxInterval Time even if event was added earlier"
#### Problem
While subscribing to Access Control event access-control-entry-changed (valid to check for the second event), the information about the change of the acls is not on change time but on max interval time.
[code]

Steps:
[code]

[acl.log](https://github.com/project-chip/connectedhomeip/files/8926070/acl.log)

 #### Proposed Solution
Events should be emitted at the change time.

[2022-06-17 09:00] rwells1703 commented on #19683
Hi thanks for your response - so when I submitted the issue I was on f3247ba900c4d372176d239142463970396c4888. I tried it again yesterday, after recompiling on 3963c1b1a36d6e5914c3471a4fd48949b50417ed and the same issue persisted. It is still getting stuck after chip-tool sends the Sigma1 message.

I've tried pinging the IP addresses advertised on discover and they all respond **apart from** the l

[2022-06-17 09:31] rwells1703 commented on #19683
Just to clarify, the IP addresses have changed since yesterday. This is currently what the lighting-app advertises:

![discovered2](https://user-images.githubusercontent.com/13154431/174270346-c4f812a2-00fc-49aa-9bc8-fc5fcbb7ae9f.png)

Curiously it appears identically 4 times in the log when running ```sudo chip-tool discover commissionables```:

[discover.txt](https://github.com/project-chip/conn

[2022-06-17 09:45] AlvinHsiao opened #19712 "[Pre-SVE] TC-G-2.2 step 12b value mismatch"
Problem:
The group-table value of DUT is different from the CHIP tool Verification steps.

Expected behavior: The group-table value of DUT should be identical to the CHIP tool Verification steps.
Actual behavior: The group-table value of DUT is different from the CHIP tool Verification steps.
steps to reproduce:-./chip-tool groupkeymanagement read group-table 33 0

system configuration
Chip-Tool:

[2022-06-17 09:56] rwells1703 commented on #19683
Okay my mistake, it seems I can ping the link local address ```fe80::225:64ff:fea7:fceb```. I just had to provide the network interface in the address like so:

![ping2](https://user-images.githubusercontent.com/13154431/174275141-c77e6b0f-dc6e-47c0-8f1e-7191b53d2b72.png)

So unfortunately I'm still not sure why the lighting-app wont respond. Do you have any more suggestions for me to try? Thanks!

[2022-06-17 10:14] mrcao2011 commented on #19508
i have save the issuse,updating XCode to 13.4.1 is ok

[2022-06-17 10:14] #19508 closed

[2022-06-17 10:25] nansenLV commented on #18417
@Damian-Nordic   It is really helper for the issue as you said setting UINT16_MAX timeout for advertisement. But there is another issue. It is failed and the message about "no MTU in options in BluezCharacteristicAcquireWrite" feed back.

The log of chip-tv-app is bellow
[no MTU.md](https://github.com/project-chip/connectedhomeip/files/8926697/no.MTU.md)

[2022-06-17 10:35] PSONALl commented on #19455
Tried changing state through CLI on DUT side on pre-sve week 2 SHA and this test case worked for me, so closing this issue

[2022-06-17 10:35] #19455 closed

[2022-06-17 11:29] Damian-Nordic commented on #18417
What operating system is the TV app/RPi run on? It seems it has some pretty old Bluez installed. We can probably investigate further workarounds, but I wonder if it wouldn't be easier to update Bluez on the platform (if we are in contact with the platform-maintainer).

[2022-06-17 12:51] andy31415 commented on #19706
Could we devise a test to catch this issue (i.e. intentionally trigger it then verify our fix like the linking bit?).

[2022-06-17 12:52] #19679 closed

[2022-06-17 14:32] andy31415 opened #19720 "BTP handshake message version array is not spec compliant (order flipped)"
#### Problem
Spec says versions are "high nibble first" according to tables.  SDK uses low nibble first.

![image](https://user-images.githubusercontent.com/1832280/174318792-923d3019-61e0-4107-af79-16bfd95abbd8.png)
![image](https://user-images.githubusercontent.com/1832280/174318871-16506bde-0066-4e32-abad-74720229cc2e.png)
![image](https://user-images.githubusercontent.com/1832280/174319042-0ae

[2022-06-17 14:50] bzbarsky-apple commented on #19706
Do you mean a CI test or a certification test?

[2022-06-17 15:08] andy31415 commented on #17205
@sowmyassp  please provide the spec reference for the requirements of the test plan.

I believe our current SDK implementation is "If a QR code is provided, always use the long discriminator to commission". I believe this also means that we ignore product/vendorid and such and this seems like ok to me unless the spec explicitly forbids it.

I agree that it could be made more robust (i.e. I scan a

[2022-06-17 15:12] rwells1703 commented on #19683
Hmm I've found a fix for the issue on 3963c1b1a36d6e5914c3471a4fd48949b50417ed, its a very strange fix though. Fairly sure its related to my internal network routing like you mentioned.

Oddly the fix I discovered is to constantly ping all the IP addresses belonging to the device running chip-tool, from the device running lighting-app. I discovered that while trying to connect to IPv6 servers over

[2022-06-17 15:17] andy31415 commented on #17205
Specific things that I consider bugs at this point (and I believe were fixed):
  - we should reject invalid version for the QR code (because if version differs, it means we should not know how to correctly parse it if the format changed)
  - Good long discriminator should pair, bad long discriminator should not (because discriminator is the only thing guaranteed to be present in the QR code and ad

[2022-06-17 15:25] andy31415 commented on #19676
[code]

is the Custom flow an issue?

[2022-06-17 15:25] bzbarsky-apple commented on #19709
The event is emitted (in the sense of being added to the event buffer) at change time.

The real issue is that we don't seem to flag `ReadHandler` instances as "has something to report" due to events being queued, only due to attributes changing.  As a result, events are reported either "immediately", ignoring min-interval, if they are "urgent", or reported at the max interval...  That definitely

[2022-06-17 15:26] bzbarsky-apple commented on #19712
@AlvinHsiao can you please point me to the verification steps in question?  That is, what value was expected, and how did it differ from the value that was found?

[2022-06-17 15:27] andy31415 commented on #19676
Reading more comments, I guess the request is 'show a nice message about this being a test id' .... It sounds like that is a nice to have (guessing not a spec SHALL requirement) and probably not a cert blocker for our internal test tools like chip_tool.

You can make a test plan to use `parse-setup-payload` during certification to validate ids that vendors generate. But that seems independent of t

[2022-06-17 15:28] bzbarsky-apple commented on #19712
Oh, nevermind, this is about RemoveAllGroups.

[2022-06-17 15:28] bzbarsky-apple commented on #19712
Duplicate of #19610

[2022-06-17 15:40] bzbarsky-apple commented on #19709
Compare to what it says for attributes:

which means events and attributes should have the same behavior.

[2022-06-17 15:40] andy31415 commented on #19676
So it sounds like this is a test case for "commissioners". We have to require any commissioner to show proper notices.

Does this extend to chip-tool though? I guess it could and we can add some text. I also believe that chip-tool is a wall-of-text in terms of the output so any warnings will be missed. To be in the spirit of the spec, I believe we should reject by default and have some flag of `--

[2022-06-17 15:41] andy31415 commented on #19676
Are we testing DUT or testing chip-tool as a commissioner. I believe former, so then this is not a spec blocker for the SDK.

[2022-06-17 15:42] #19340 closed

[2022-06-17 15:42] doublemis1 commented on #19709
Quick information, as far as I remember the state-transition event from otasoftwareupdaterequestor cluster works as you described. The Event was sent in a range of min and max intervals while the event was added to the buffer.

[2022-06-17 15:46] andy31415 commented on #19676
To expand on this: `cert blocker` is if you cannot prove that you can write a spec-compliant app using the SDK.
SDK proves it can parse qr codes and display them (using `payload parse-setup-payload`) so an implementation can display any necessary texts.

Unless we want to certify chip-tool, I don't think there is an issue here.

[2022-06-17 16:19] andy31415 commented on #19720
If https://github.com/CHIP-Specifications/connectedhomeip-spec/pull/5373 lands, this becomes a non issue (spec flips the order of the array).

Either this issue has to be fixed in the SDK or spec issue has to be fixed in spec. Not both because then we flip-flop ...

[2022-06-17 17:00] manjunath-grl opened #19726 "The YAML "contains" does not seem to work when used to validate AttributeList"
Summary:
When we tried to use the "contains" [https://github.com/project-chip/connectedhomeip/pull/19042] keyword to validate the mandatory attribute-ids the YAML script build seems to fail, indicating a type mismatch. We refereed the samples provided in the "TestConstraints.yaml" when trying this out, are we missing anything with respect to the usage of this keyword ?

YAML script:
[Test_TC_MC_1_

[2022-06-17 17:10] #19694 closed

[2022-06-17 17:21] emargolis commented on #19349
addressed in #19696. closing

[2022-06-17 17:21] #19349 closed

[2022-06-17 17:30] chrisbeach59 opened #19727 "[pre-sve]TC-CNET-4.4 Bad response"
Expected a list of networks got:
[1655486825.864859][41820:41825] CHIP:DMG: Received Command Response Data, Endpoint=0 Cluster=0x0000_0031 Command=0x0000_0001
[1655486825.864954][41820:41825] CHIP:TOO: Endpoint: 0 Cluster: 0x0000_0031 Command 0x0000_0001
[1655486825.865146][41820:41825] CHIP:TOO:   ScanNetworksResponse: {
[1655486825.865242][41820:41825] CHIP:TOO:     networkingStatus: 0
[16554868

[2022-06-17 17:50] bzbarsky-apple commented on #19726
@manjunath-grl I'm going to ask for the last time: when filing issues like this, please point to a diff that can be used to reproduce the problem.  Attaching just a single yaml file is not ok.  Especially because in this case that single file does not codegen properly if placed in the right spot in the tree.

@naveenkommareddi

[2022-06-17 17:58] yufengwangca commented on #17205
Currently, we only use discriminator for device discovery, both long and short depending on which one is used in the QR code

[code]

We shall not use any optional fields for device filtering, we need to correct relative test plans

[2022-06-17 18:08] chrisbeach59 opened #19729 "[pre-sve]TC-CNET4.4 Step 2 bad response to ScanNetworks (Scan Networks) from Ameba server"
./chip-tool networkcommissioning scan-networks 1111 0 --Ssid 574E38303254 --Breadcrumb 1
the Sdid  specified matches the current network  read from
./chip-tool networkcommissioning read networks 1111 0

[1655488863.152775][41969:41974] CHIP:DMG: Received Command Response Data, Endpoint=0 Cluster=0x0000_0031 Command=0x0000_0001
[1655488863.152900][41969:41974] CHIP:TOO: Endpoint: 0 Cluster: 0x0000_

[2022-06-17 18:15] bzbarsky-apple commented on #19727
@chrisbeach59 What server app is running?  On what platform?  What SHAs are being used?  What was the actual payload (logged just above the part you're quoting)?  Please attach (not paste) the full log.

[2022-06-17 18:41] manjunath-grl commented on #19726
@bzbarsky-apple sorry about that, I see a PR that fixes the issues is already linked, we will make sure to include the diff moving forward. linking the changes [here](https://github.com/project-chip/connectedhomeip/compare/master...manjunath-grl:Issue_19726) just in case its needed.

[2022-06-17 18:45] bzbarsky-apple commented on #19683
Fwiw, no.  Per logs it was using `2a00:23a8:89b:da01:45b2:6372:b224:91e5`.

I don't know what could be leading to the behavior you observe where pings affect ipv6 connectivity...  I'll reach out to some people who might know more there.

[2022-06-17 18:57] bzbarsky-apple commented on #19683
I suspect people will want to know more information about the network (e.g. which router is being used), by the way.

[2022-06-17 19:59] chrisbeach59 opened #19738 "TC-GC-2.2 remove-all-groups"
Step 12a remove all groups succeeds
Step 12 b expected groupkeymanagement group table to be empty but 2 entries remain

Endpoint: 0 Cluster: 0x0000_003F Attribute 0x0000_0001 DataVersion: 1127221666
[1655495794.848833][42783:42788] CHIP:TOO:   GroupTable: 2 entries
[1655495794.848904][42783:42788] CHIP:TOO:     [1]: {
[1655495794.848930][42783:42788] CHIP:TOO:       GroupId: 2
[1655495794.848957][

[2022-06-17 20:01] bzbarsky-apple commented on #19622
@Morozov-5F It looks like the spec will not change here, so we can't return NOT_FOUND in the SDK.  Need to return one of the spec-allowed values.

[2022-06-17 20:20] #13645 closed

[2022-06-17 20:28] franck-apple commented on #19333
Per agreement with @isiu-apple and @sankarselvam, closing this issue.

[2022-06-17 20:28] #19333 closed

[2022-06-17 20:31] bzbarsky-apple commented on #19738
Duplicate of #19610

[2022-06-17 20:31] #19738 closed

[2022-06-17 21:59] mrjerryjohns commented on #16202
Based on discussions summarized [here](https://github.com/project-chip/connectedhomeip/issues/17298#issuecomment-1145215064), we'll pivot to doing the following for the IM:

IM re-subscription logic should be tweaked such that the expectations of provided a policy callback should be updated to now be responsible for arming the timer as well as re-establishing the session.
Default implementation ca

[2022-06-18 03:34] yufengwangca commented on #17205
Per sync with @andy31415 and @bzbarsky-apple, I think our current SDK implementation align with the current spec.

With current implementation, commissioner always use the given discriminator for device discovery, after device is discovered, commissioner ignore the ones with CM=0, since those are not listening for PASE. For the ones with CM != 0, try PASE.

[2022-06-18 04:47] bzbarsky-apple commented on #18987
This was presumably being tested with all-clusters-app, since this is YAML, where that's not going to work.

[2022-06-18 05:10] #18987 closed

[2022-06-18 05:13] bzbarsky-apple commented on #18323
I just tested and this worksforme on revision 2c7105ccc4058443a3490c2b92f9474dd8fab77f with chip-all-clusters-app running on Mac as the server.

@adabreuti @nansenLV if you can still reproduce could you please:
1. Provide the SHA running on the server.
2. Say exactly which server app is being used, on which exact platform.
3. Attach the server logs.

[2022-06-18 06:35] bzbarsky-apple commented on #16099
@markus-becker-tridonic-com Is this still happening on tip?

[2022-06-18 06:43] bzbarsky-apple commented on #8434
This is not resolved, and this is in fact a spec-compliance issue...

[2022-06-18 06:48] bzbarsky-apple commented on #10653
See https://github.com/project-chip/connectedhomeip/issues/17298 which once resolved will fix this.

[2022-06-18 06:50] bzbarsky-apple commented on #9642
Now that https://github.com/project-chip/connectedhomeip/pull/19328 is fixed, we should be able to do this much more sanely.

[2022-06-18 07:33] bzbarsky-apple opened #19747 "Use-after-free when aborting already-closed exchange"
#### Problem
I tried using the code added in #19328 in RemoveFabric, and ran into crashes in the following scenario:

1. There is an exchange on the server that has been closed but is still waiting for an ack.  It's held alive by a single reference from the retransmission table.
2. A new command comes in that calls into the `AbortExchangesForFabricExceptOne` API from #19328 (in my case RemoveFabri

[2022-06-18 07:34] kghost commented on #19747
Abort and Close need to be reentrant

[2022-06-18 07:35] bzbarsky-apple commented on #19747
The can't be "reentrant" because they mess with refcounts.

[2022-06-18 07:55] kghost commented on #19747
Let me rephrase my word. We need a `SafetyAbort` function, which can be called on an exchange disregarding what state the exchange is. I think currently `ExchangeContext::OnSessionReleased` implementation is just what we need for `SafetyAbort`.

So my solution is:
1. Rename `ExchangeContext::OnSessionReleased` to `SafetyAbort`
2. In `ExchangeManager::AbortExchangesForFabricExceptOne` use `SafetyAb

[2022-06-18 08:12] bzbarsky-apple commented on #19747
That seems viable (with a better name for SafetyAbort; I'll think about the naming a bit; maybe this API should just be called `Abort` and the current `Abort` renamed to something else, for example).  I think exposing such a function on an exchange is generally a good idea.

As for whether we should use it from `ExchangeManager::AbortExchangesForFabricExceptOne`, but I am still a little worried ab

[2022-06-18 16:57] turon commented on #19683
Yes, @rwells1703 could you provide more info on the setup?

What AP are you using (brand model #).

Are both client and server Linux nodes on WiFi or is there a Thread hop / border router involved too?

Are the Linux nodes laptops or RasPis?

Thanks.  If you could provide the full topology and list of hardware used it may help isolate the issue.

High-level, it seems your AP may be filtering LL UD

[2022-06-19 09:34] ReneJosefsen commented on #19178
@andy31415, seems like the PR was not linked to the issue properly but I think this issue can be closed?

[2022-06-19 09:42] ReneJosefsen commented on #19561
Yes, looking at the step is does not really make sense. I need to check with the original writer, but we will have to get the test plan updated.

[2022-06-19 14:44] chrisbeach59 commented on #19727
SHA 1e3f12041013dd71a53d035dbf2f6d142fc06c4e
I am running my thermostaat app on the Ameba/Resideo pllatform
Log file attached
[TC-CNET-4-4.log](https://github.com/project-chip/connectedhomeip/files/8935725/TC-CNET-4-4.log)

[2022-06-19 14:45] chrisbeach59 commented on #19729
this relates to https://github.com/project-chip/connectedhomeip/issues/19729

[2022-06-19 14:49] chrisbeach59 commented on #19729
[TC-CNET-4-4-2.log](https://github.com/project-chip/connectedhomeip/files/8935730/TC-CNET-4-4-2.log)

[2022-06-19 19:48] Morozov-5F commented on #19622
@bzbarsky-apple but this case is not covered by the spec. Should I return generic error in that case?

[2022-06-20 02:32] Meemee187187 opened #19750 "C"

[2022-06-20 02:47] Leo2442926161 commented on #19653
@bzbarsky-apple  thanks very much for your help.

I tried it couple times again, but it fails all the time. and I tried remove /tmr/chip*, it's suppose to clean all of chip cache to update the unicast address.

at this time, I notice this address exist in efr log, but still no Sigma msg come back, is there something wrong?

in efr log:

[[efr log]matter light-switch demo pair failed.txt](https://g

[2022-06-20 03:51] nansenLV commented on #18417
@Damian-Nordic
**DUT(chip-tv-app) env:**
Linux version : 4.4.189 , GCC version : Linaro GCC 6.3-2017.05, Host : aarch64-linux , Cross Compiler : aarch64-linux-gnu-gcc
**Bluez version:**
5.50

[2022-06-20 05:13] pankore commented on #19729
@chrisbeach59, according to the test step, Step 2: "TH sends ScanNetworks Command to the DUT with SSID argument value as 'Userwifi_ssid' and Breadcrumb argument value 1"
I think this means you should pass in the ASCII value of ssid instead of hex. I have tested it with Ameba platform and got the expected result.
Yet, in the example verification step, the hex value is passed in, might be a mistake?

[2022-06-20 05:46] pankore opened #19755 "[pre-sve] TC-CNET-4.11 chip-tool timeout before ConnectMaxTimeSeconds"
Platform: Ameba all-clusters-app
SHA: 1e3f12041013dd71a53d035dbf2f6d142fc06c4e

 #### Problem
- Step 5, when connect-network command is issued, chip-tool timeout before ConnectMaxTimeSeconds. Ameba is not able to connect to AP and obtain IPv6 address in time.
- ConnectMaxTimeSeconds was 20seconds.

 #### Proposed Solution
Fix chip-tool to wait for ConnectMaxTimeSeconds

[2022-06-20 06:41] AlvinHsiao opened #19757 "[pre-sve] TC-I-1.1 GeneratedCommandList doesn't shows command with id 0"
Problem

expected behavior vs actual behavior

TH should read the GeneratedCommandList attribute from the DUT and This list should include the mandatory response command (value 0x00) but the list is null
system configuration :
Chip-Tool: RPI
DUT used : Infineon CYW30739
app use: lighting-app
chip-tool and DUT commit id : https://github.com/project-chip/connectedhomeip/commit/1e3f12041013dd71a53d03

[2022-06-20 07:21] sstruchtrup opened #19758 "TC-MF-1.22: can only commission N-1 fabrics"
#### Problem

Observed on our DUT, but reproduced with the chip-lighting-app on Linux, with 16 supported fabrics, only 15 fabrics can be commissioned.

DUT fails with CHIP Error 0x0000000B: No memory:
[code]

chip-tool fails with:
[code]

This looks similar to #19642, but the error messages are different.

[2022-06-20 07:25] sstruchtrup commented on #19758
Full DUT log (chip-lighting-app): [log-DUT-19758.txt](https://github.com/project-chip/connectedhomeip/files/8938399/log-DUT-19758.txt)

chip-tool output for the commissioning of the 16th fabric: [chip-tool-16th-commissioning.txt](https://github.com/project-chip/connectedhomeip/files/8938413/chip-tool-16th-commissioning.txt)

[2022-06-20 07:31] sstruchtrup commented on #19758
Tested with the pre-SVE commit 425f1fb916ca154deeb75cd82cd5196778aba152.

chip-lighting-app for linux configured as follows:
[code]

with the following patch:
[code]

[2022-06-20 07:34] sstruchtrup commented on #19758
[code]

[code]

[2022-06-20 07:44] PSONALl commented on #18942
This test case is pass and the issue is solved on week 2 SHA: 5d8599d195a93dfe5473f64e4f888c322e5df1d2
So closing this issue

[2022-06-20 07:44] #18942 closed

[2022-06-20 07:46] sstruchtrup commented on #18549
Not observed anymore on the pre-SVE commit 425f1fb916ca154deeb75cd82cd5196778aba152.

[2022-06-20 10:36] mkleszcz-no opened #19761 "[pre-sve] TC-TSTAT-2.2 Write for Thermostat cluster command in correct range returns constraint error"
all-cluster-app
nrf52840dk
revison: https://github.com/project-chip/connectedhomeip/commit/1e3f12041013dd71a53d035dbf2f6d142fc06c4e

It's continuation of the problem described in  https://github.com/project-chip/connectedhomeip/issues/19468#issuecomment-1153695041, later a separate issue was made about that: https://github.com/project-chip/connectedhomeip/issues/19551
All of the values remains the

[2022-06-20 11:24] dtodor commented on #19624
I would assume that when the device joins the multicast group, I would be at least able to see the `UDP Message Received packet nb` logs. Is this a correct assumption?

[2022-06-20 12:20] HubertHugo opened #19765 "[Pre-SVE] TC_G-2.1 step 1 incorrect name support value"
SHA: 1e3f12041013dd71a53d035dbf2f6d142fc06c4e
platform: nRF52840
all clusters app
I get:
[code]
but feature map is 0 so GN should be 0 and because of it name support value should be also 0.

[2022-06-20 12:29] somu1710 opened #19766 "TC-MOD-1.1- Attribute list in global attribute throws a wrong attribute ID entrie in the list"
**Problem:**
In TC-MOD-1.1 - While reading the [Modeselect cluster] Attribute list in the global attributes it throws a wrong attribute ID entry in the entry list .It shows the attribute which  is not mentioned in the expected outcome.

**Actual outcome:**
[1655726765.374440][16166:16171] CHIP:TOO: Endpoint: 1 Cluster: 0x0000_0050 Attribute 0x0000_FFFB DataVersion: 2337356233
[1655726765.374540][1

[2022-06-20 13:31] #17969 closed

[2022-06-20 13:35] manjunath-grl commented on #17968
Tried in TOT "Application Launcher" commands are working fine
SHA: https://github.com/project-chip/connectedhomeip/commit/c1e1d018820c0fdd51f124f607b9207f31fae2ff
Client app: Chip tool
Server app: Tv-app

[2022-06-20 13:35] #17968 closed

[2022-06-20 13:35] manjunath-grl commented on #17967
Tried in TOT CurrentApp attribute is working fine
SHA: https://github.com/project-chip/connectedhomeip/commit/c1e1d018820c0fdd51f124f607b9207f31fae2ff
Client app: Chip tool
Server app: Tv-app

[2022-06-20 13:35] #17967 closed

[2022-06-20 13:37] manjunath-grl commented on #18109
Tried in TOT "Application Launcher" commands are working fine
SHA: https://github.com/project-chip/connectedhomeip/commit/c1e1d018820c0fdd51f124f607b9207f31fae2ff
Client app: Chip tool
Server app: Tv-app

[2022-06-20 13:37] #18109 closed

[2022-06-20 13:56] HubertHugo opened #19769 "[Pre SVE] TC_G-2.2 Removing groups doesnt work when DUT in multiple groups"
SHA: 1e3f12041013dd71a53d035dbf2f6d142fc06c4e
platform: nRF52840
all clusters app

When i have DUT in at least 2 groups there is no way to remove groups without at least one of them becoming irremovable.
First scenario:
1. Add 2 groups
2. Remove all groups with remove-all-groups command
Second scenario:
1. Add 2 groups
2. remove one of them with remove-group command

Further removing has no impact

[2022-06-20 15:12] #19134 closed

[2022-06-20 15:12] sankarselvam commented on #19769
Looks like Duplicate of https://github.com/project-chip/connectedhomeip/issues/19610

[2022-06-20 15:14] sankarselvam commented on #19765
Looks like duplicate of https://github.com/project-chip/connectedhomeip/issues/19613

[2022-06-20 15:18] adamb-q opened #19774 "[TC-MF-1.21][TC-MF-1.22] Failed to advertise commissionable node"
In both MF-1.21 and MF-1.22 the DUT behavior is different than described in test instructions. After commissioning max number of fabrics and then trying to commission another one DUT reports:

`Failed to advertise commissionable node: Error CHIP:0x00000019`

and is not discovered by chip tool when trying to pair. As a result the error code is mDNS timeout instead of:

`Device returned status 5 on

[2022-06-20 16:13] bzbarsky-apple commented on #19750
@Meemee187187 This is not actionable.  Please reopen with useful information as needed.

[2022-06-20 16:13] #19750 closed

[2022-06-20 16:16] bzbarsky-apple commented on #19755
@pankore Which _exact_ chip-tool commands were run in this case?  If you're running the "pairing" commands they should be waiting long enough.  If you're manually running the ConnectNetwork manually, then chip-tool is not going to try to second-guess what you want it to do and will use the default command timeout.  If you want a different timeout, you can specify that via the `--timeout` argument